<template>
  <!-- popup -->
  <Popup :popup="popup" style="width:550px; min-height:440px;">
    <!-- slot -->
    <template v-slot:body>
      <!-- popup-contents -->
      <div class="popup-contents">
        <!-- field-set -->
        <fieldset class="field-set">
          <v-table>
            <colgroup>
              <col style="width: 90px" />
              <col />
            </colgroup>
            <tbody>
              <tr>
                <th class="text-center">객실선택</th>
                <td style="display: flex;">
                  <v-select 
                    placeholder="객실층"
                    :items="floors"
                    v-model="floorNo"
                    item-value="no"
                    item-title="name"
                    density="compact"
                    hide-details
                    variant="outlined"
                    style="margin-top: 0.35rem;"
                    @update:model-value="doFloorChange"
                    ></v-select>
                  <v-select 
                    placeholder="객실호수"
                    :items="floorRooms"
                    v-model="roomId"
                    item-value="id"
                    item-title="name"
                    density="compact"
                    no-data-text="[객실층]을 선택하세요."
                    hide-details
                    variant="outlined"
                    style="margin-top: 0.35rem;"
                    @update:model-value="doFloorRoomChange"
                    ></v-select>
                </td>
              </tr>
            </tbody>
          </v-table>
        </fieldset>
        <!-- //field-set -->

        <!-- field-set -->
        <fieldset class="field-set mt-2">
          <div class="d-flex align-center" style="justify-content: space-between;">
            <div class="d-flex">
              <h3 class="title-sub">CCU 선택</h3>
              <span style="margin-left: 0.8rem; font-size: 0.8rem;">({{  floorRoom?.name }} 호)</span>
            </div>
            <div style="margin-bottom: 3px;">
              <v-btn size="small" color="primary" @click="doReset()">처음상태</v-btn>
            </div>
          </div>
          <!-- table -->
          <v-table class="">
            <colgroup>
              <col style="width:90px" />
              <col />
            </colgroup>
            <tbody>
              <tr>
                <th class="text-center">key</th>
                <td class="d-flex">
                  <span class="chk_send">
                    <v-checkbox :model-value="resetValues.key !== null && resetValues.key !== state.roomState.key"
                      label="전송"
                      color="secondary"
                      density="compact" 
                      :disabled="true"
                      hide-details></v-checkbox>
                  </span>
                  <span class="radio_cmds">
                    <v-radio-group v-model="state.roomState.key"  hide-details density="compact" inline>
                      <v-radio class="radio_cmd" color="secondary" label="OUT" :value="0"></v-radio>
                      <v-radio class="radio_cmd" color="secondary" label="고객키 IN" :value="1"></v-radio>
                      <v-radio class="radio_cmd" color="secondary" label="마스터키 IN" :value="2"></v-radio>
                      <v-radio class="radio_cmd" color="secondary" label="청소키 IN" :value="3"></v-radio>
                    </v-radio-group>
                  </span>
                </td>
              </tr>
              <tr>
                <th class="text-center">DOOR</th>
                <td class="d-flex">
                  <span class="chk_send">
                    <v-checkbox :model-value="resetValues.door !== null && resetValues.door !== state.roomState.door"
                      label="전송"
                      color="secondary"
                      density="compact" 
                      :disabled="true"
                      hide-details></v-checkbox>
                  </span>
                  <span class="radio_cmds">
                    <v-radio-group v-model="state.roomState.door" hide-details density="compact" inline>
                        <v-radio class="radio_cmd" color="secondary" label="닫힘" :value="0"></v-radio>
                        <v-radio class="radio_cmd" color="secondary" label="열림" :value="1"></v-radio>
                    </v-radio-group>
                  </span>
                </td>
              </tr>
              <tr>
                <th class="text-center">EMLOCK</th>
                <td class="d-flex">
                  <span class="chk_send">
                    <v-checkbox :model-value="resetValues.emlock !== null && resetValues.emlock !== state.roomState.emlock"
                      label="전송"
                      color="secondary"
                      density="compact" 
                      :disabled="true"
                      hide-details></v-checkbox>
                  </span>
                  <span class="radio_cmds">
                    <v-radio-group v-model="state.roomState.emlock" hide-details density="compact" inline>
                      <v-radio class="radio_cmd" color="secondary" label="잠김" :value="0"></v-radio>
                      <v-radio class="radio_cmd" color="secondary" label="열림" :value="1"></v-radio>
                    </v-radio-group>
                  </span>
                </td>
              </tr>
              <tr>
                <th class="text-center">차량호출</th>
                <td class="d-flex">
                  <span class="chk_send">
                    <v-checkbox :model-value="resetValues.car_call !== null && resetValues.car_call !== state.roomState.car_call"
                      label="전송"
                      color="secondary"
                      density="compact" 
                      :disabled="true"
                      hide-details></v-checkbox>
                  </span>
                  <span class="radio_cmds">
                    <v-radio-group v-model="state.roomState.car_call" hide-details density="compact" inline>
                      <v-radio class="radio_cmd" color="secondary" label="없음" :value="0"></v-radio>
                      <v-radio class="radio_cmd" color="secondary" label="호출" :value="1"></v-radio>
                    </v-radio-group>
                  </span>
                </td>
              </tr>
              <tr>
                <th class="text-center">비상호출</th>
                <td class="d-flex">
                  <span class="chk_send">
                    <v-checkbox :model-value="resetValues.emerg !== null && resetValues.emerg !== state.roomState.emerg"
                      label="전송"
                      color="secondary"
                      density="compact" 
                      :disabled="true"
                      hide-details></v-checkbox>
                  </span>
                  <span class="radio_cmds">
                    <v-radio-group v-model="state.roomState.emerg" hide-details density="compact" inline>
                        <v-radio class="radio_cmd" color="secondary" label="없음" :value="0"></v-radio>
                        <v-radio class="radio_cmd" color="secondary" label="발생" :value="1"></v-radio>
                    </v-radio-group>
                  </span>
                </td>
              </tr>
            </tbody>
          </v-table>
          <!-- //table -->
        </fieldset>
        <!--// field-set -->

      </div>
      <!-- //popup-contents -->
    </template>
    <!-- //slot -->
    <template v-slot:footer>
      <div class="btns">
        <v-btn :disabled="!hasChangeValues" color="secondary" size="large" style="min-width: 150px" @click="doSends()">실행</v-btn>
        <v-btn color="darkgrey" size="large" style="min-width: 150px" @click="doClosePopup()">닫기</v-btn>
      </div>
    </template>
  </Popup>
  <!-- //popup -->
</template>

<style >
.chk_send {
  height: 2rem; 
  width: 5rem;
}
.radio_cmds {
  height: 2rem;
  width: 100%;
  padding-top: 0.3rem;
}
.radio_cmd {
  margin-left: 0.4rem;
}
</style>

<script setup lang="ts">
import { ref, reactive, computed, watch, onMounted } from 'vue';
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import { Floor, FloorRoom, RoomState, PopupParam } from '@/types';
import { roomBiz } from '@/biz/roomBiz';
import { roomStateBiz } from '@/biz/roomStateBiz';
import Popup from '@/components/popup/popup.vue';
import { viewUtil } from '@/utils/view-util';
import _ from 'lodash';
import { list, item, post, put, del } from '@/api';
import dayjs from 'dayjs';


const enum CheckSends {
  key = 'key',
  door = 'door',
  emlock = 'emlock',
  car_call = 'car_call',
  emerg = 'emerg',
}

// interface of state.

// ====================================================================
// 선언
// ====================================================================
const store = useStore();
const route = useRoute();

const user = store.getters['user'];
// console.log(`*** user ::`, user);

const floorNo = ref<number>(null);
const roomId = ref<number>(null);
const floorRoom = ref<FloorRoom>(null);
const roomsFilter = ref<string>(null);

// device token.
const deviceToken = ref<string>('');

// state.
const state = reactive({
  floorNo: 0,
  floorRoom: null,
  roomState: {} as RoomState,
});

// 객실상태 초기 값.
const resetValues = reactive({
  key: null,
  door: null,
  emlock: null,
  car_call: null,
  emerg: null,
});

const popupLink = route.path.substring(1); // 앞에 '/'' 제거

// =========================================================
// 초기 조회
// =========================================================
// 업소 층별 객실정보
roomBiz.roomFloors(store, user.place_id);


// =========================================================
// COMPUTED
// =========================================================
const floors = computed<Floor[]>(() => roomBiz.getterFloors(store));
const floorRooms = computed<FloorRoom[]>(() => 
  roomBiz.getterFloorRooms(store, floorNo.value, roomsFilter.value)
);

const hasChangeValues = computed<boolean>(() => {
  return resetValues.key !== state.roomState.key
    || resetValues.door !== state.roomState.door
    || resetValues.emlock !== state.roomState.emlock
    || resetValues.car_call !== state.roomState.car_call
    || resetValues.emerg !== state.roomState.emerg;
});


// =========================================================
// WATCH
// =========================================================
// 초기 층 선택.
watch(() => floors.value, () => {
  console.log(`*** WATCH - floors.value ::`, floors.value);
  floorNo.value = floors.value[0].no;
});

// 객실 변경시 객실상태 조회.
watch(() => roomId.value, async() => {
  await loadRoomState(roomId.value);
});


// =========================================================
// 기능
// =========================================================
const loadRoomState = async (room_id: number) => {
  // state.roomState = await 
  roomStateBiz.roomStateByRoomId(store, room_id, (roomState: RoomState) => {
    roomStateBiz.copyFromRoomState(state.roomState, roomState);
    resetValues.key = state.roomState.key;
    resetValues.door = state.roomState.door;
    resetValues.emlock = state.roomState.emlock;
    resetValues.car_call = state.roomState.car_call;
    resetValues.emerg = state.roomState.emerg;    
  });
};

// 디바이스 토큰 생성.
const makeDeviceToken = async () => {
  const config = { 
    headers: { 
      channel: 'device',
      serialno: '00000001',
    },
    dispatch: store.dispatch,
    loading: false,
  };
  const url = `auth/device/token`;
  const data = {
    payload: {
      channel: "device",
      id: 1,
      place_id: 1,
      type: "01",
      serialno: "00000001",
    }
  };

  await post(config, url, data)
  .then((res: any) => {
    console.log(`*** deviceToken response ::`, res);
    const { body: { token } } = res;
    deviceToken.value = token;
  });
};

// 시뮬레이터 전송.
const sendSimulator = async (changeValues: any) => {
  const config = { 
    headers: { 
      token: deviceToken.value,
      channel: 'device',
      serialno: '00000001',
    },
    dispatch: store.dispatch,
    loading: false,
  };
  const url = `room/state/${roomId.value}`;
  const data = { room_state: changeValues };

  await put(config, url, data)
  .then((res: any) => {
    console.log(`*** sendSimulator response ::`, res);
    const { common: { success }, body: { info } } = res;
    if (success) {
      loadRoomState(roomId.value);
    }
  });
}


// =========================================================
// 사용자 액션
// =========================================================
const doClosePopup = () => {
  window.opener.closePopup(popupLink);
};

const doFloorChange = () => {
  console.log(`*** doFloorChange ::`, floorNo.value);
  floorRoom.value = floorRooms.value[0];
  roomId.value = floorRoom.value.id;
}

const doFloorRoomChange = () => {
  console.log(`*** doFloorRoomChange ::`, roomId.value);
  floorRoom.value = floorRooms.value.find((item) => roomId.value === item.id);
  console.log(`*** doFloorRoomChange - floorRoom.value ::`, floorRoom.value);
}

const doReset = () => {
  state.roomState.key = resetValues.key;
  state.roomState.door = resetValues.door;
  state.roomState.emlock = resetValues.emlock;
  state.roomState.car_call = resetValues.car_call;
  state.roomState.emerg = resetValues.emerg;
}

const doSends = () => {
  // const roomState = _.cloneDeep(state.roomState);
  const now = dayjs();
  const changeValues = { 
    id: roomId.value, 
    reg_date: now.format('YYYY-MM-DD HH:mm:ss'),
  } as object;

  let hasValues = false;

  if (resetValues.key !== null && resetValues.key !== state.roomState.key) {
    changeValues['key'] = state.roomState.key;
    hasValues = true;
  }
  if (resetValues.door !== null && resetValues.door !== state.roomState.door) {
    changeValues['door'] = state.roomState.door;
    hasValues = true;
  }
  if (resetValues.emlock !== null && resetValues.emlock !== state.roomState.emlock) {
    changeValues['emlock'] = state.roomState.emlock;
    hasValues = true;
  }
  if (resetValues.car_call !== null && resetValues.car_call !== state.roomState.car_call) {
    changeValues['car_call'] = state.roomState.car_call;
    hasValues = true;
  }
  if (resetValues.emerg !== null && resetValues.emerg !== state.roomState.emerg) {
    changeValues['emerg'] = state.roomState.emerg;
    hasValues = true;
  }
  console.log(`*** doSends - send ::`, changeValues);

  if (hasValues) {
    sendSimulator(changeValues);
  }
};



// =========================================================
// 정보 & onMounted
// =========================================================
// popup
const popup: PopupParam = {
  title: "CCU 시뮬레이터",
  theme: "theme-popup-dark",
  size: "size-auto",
  align: "mx-auto",
  pin: false,
  link: popupLink,
}

onMounted(() => {
  makeDeviceToken();
});
</script>
