<template>
  <!-- popup -->
  <Popup :popup="popup">
    <!-- slot -->
    <template v-slot:body>
      <!-- popup-contents -->
      <div class="popup-contents">
        <div class="d-flex align-center mt-3">
          <!-- <v-checkbox hide-details density="compact" color="secondary" label="전체선택" class="flex-grow-0"></v-checkbox> -->
          <div class="d-flex" style="width: 130px;">
            <span class="mr-2" style="font-size: 12px;">표시/전체:</span>
            <span class="fs13 color-primary">{{ filterredMileages.length }}</span>
            <span class="fs13 mx-1">/</span>
            <span class="fs13" >{{ mileages.length }}</span>
          </div>

          <i class="mx-4" style="width: 1px; height: 16px; background-color: #bcbdbe;"></i>

          <div class="input-search">
            <input type="text" placeholder="휴대전화 번호 1~4자리" maxlength="4" style="font-size: 13px;"
              ref="refFilterPhone"
              v-model="filterPhone"
              @keydown="viewUtil.kbDigit($event)"
            />
            <!-- <v-icon size="small">mdi-magnify</v-icon> -->
            <v-btn density="compact" size="small" icon="mdi-close-circle-outline" @click="filterPhone = null; refFilterPhone.focus();"></v-btn>
          </div>

          <v-btn color="white" class="custom-btn-icon-white ml-auto" prepend-icon="mdi-plus-thick" size="small" style="min-width: 80px" @click="doOpenAddPhone()">
            <template v-slot:prepend>
              <v-icon size="small" color="pa-0 ma-0"></v-icon>
            </template>
            휴대전화 번호 추가
          </v-btn>
        </div>
        <!-- table -->
        <v-table fixed-header height="458" class="overflow-y-auto text-center dense-dark mt-2">
          <colgroup>
            <col />
            <col />
          </colgroup>
          <thead>
            <tr>
              <th style="width: 45px;">No</th>
              <th>휴대전화 번호</th>
              <th>포인트</th>
              <th>최근 변경</th>
              <th>최초 등록</th>
              <th>삭제</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in filterredMileages"
              :class="{ active: viewState.rowId === item.id }" 
              @click="doClickRow(item)"
            >
              <td>{{ index + 1 }}</td>
              <td><span v-html="displayFilterPhone(item.phone)"></span></td>
              <td>{{ viewUtil.comma(item.point, 'P') }}</td>
              <td>{{ viewUtil.fmtDateTimeSec(item.mod_date) }}</td>
              <td>{{ viewUtil.fmtDateTimeSec(item.reg_date) }}</td>
              <td>
                <v-btn density="compact" size="small" icon="mdi-trash-can-outline"  
                  :disabled="viewState.rowId !== item.id"
                  @click="doDelItem(item, $event)"
                ></v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
        <!-- //table -->
        <!-- field-set -->
        <fieldset class="field-set mt-3">
          <v-table>
            <colgroup>
              <col style="width: 80px" />
              <col style="width: 110px" />
              <col style="width: 80px" />
              <col style="width: 90px;" />
              <col style="width: 80px;" />
              <col style="width: *"/>
            </colgroup>
            <tbody>
              <tr>
                <th class="text-center">선택 대상</th>
                <td><span>{{ viewUtil.fmtMobileNum(dataState.phone) }}</span></td>
                <th class="text-center">보유포인트</th>
                <td>
                  <div class="d-flex">
                    <span class="ml-auto">{{ viewUtil.comma(dataState.point) }}</span>
                  </div>
                </td>
                <th>부여</th>
                <td style="padding: 0 5px 0 0 !important">
                  <div class="d-flex justify-space-between" style="gap:8px;">
                    <div>
                      <v-radio-group hide-details density="compact" inline style="font-size: 12px; color: black;"
                        v-model="addPointSign"
                        :disabled="!editable"
                      >
                        <v-radio color="secondary" label="추가" :value="AddPointSign.ADD"></v-radio>
                        <v-radio color="primary" label="차감" :value="AddPointSign.SUB" class="ml-1"></v-radio>
                      </v-radio-group>
                    </div>
                    <div class="input-search" style="width: 110px;">
                      <input type="text" placeholder="포인트" maxlength="5"
                        v-model="addPoint"
                        ref="refAddPoint"
                        @keydown="viewUtil.kbDigit($event)"
                      />
                      <v-btn density="compact" size="small" icon="mdi-close-circle-outline"
                        :disabled="!editable"
                        @click="addPoint = null; refAddPoint.focus();"
                      ></v-btn>
                    </div>
                    <div class="d-flex align-center ml-auto">
                      <v-btn color="secondary" size="small" style="min-width: 60px"
                        :disabled="!okable"
                        @click="doSetItem()"
                      >적용</v-btn>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </v-table>
        </fieldset>
        <!-- //field-set -->
      </div>
      <!-- //popup-contents -->
    </template>
    <!-- //slot -->

    <template v-slot:footer>
      <div class="btns">
        <v-btn color="darkgrey" size="large" style="min-width: 150px" @click="doClosePopup()">닫기</v-btn>
      </div>
    </template>
  </Popup>
  <!-- //popup -->

  <!-- popup -->
  <v-dialog v-model="dialog" width="auto">
    <!-- popup -->
    <Popup :popup="popupAlert">
      <!-- slot -->
      <template v-slot:body>
        <!-- popup-contents -->
        <div class="popup-contents">
          <div class="box-border d-flex flex-column align-center justify-center px-8" style="height: 140px;">
            <div class="mb-5">
              <v-icon color="secondary" class="mr-2">mdi-alert-circle</v-icon>
              <span>추가할 고객의 전화번호를 입력해 주세요</span>
            </div>
            <div class="d-flex input-search" style="height: 40px; border-radius: 5px">
              <input type="text" maxlength="12" placeholder="휴대전화 번호" style="width: 200px;"
                v-model="newPhone" 
                ref="refNewPhone"
                @keydown="doInputPhone($event)"
                @keyup.enter="doAddPhone()"
              />
              <v-btn density="compact" size="small" icon="mdi-close-circle-outline"
                @click="newPhoneMsg = null; newPhone = null; refNewPhone.focus();"
              ></v-btn>
            </div>
            <div class="mt-2 fs13 color-secondary" style="height: 1em;">
              {{ newPhoneMsg }}
            </div>
          </div>
        </div>
        <!-- //popup-contents -->
      </template>
      <!-- //slot -->
      <!-- slot -->
      <template v-slot:footer>
        <div class="btns">
          <v-btn color="primary" size="large" style="min-width: 150px" @click="doAddPhone()">추가</v-btn>
          <v-btn color="darkgrey" size="large" style="min-width: 150px" @click="dialog = false">취소</v-btn>
        </div>
      </template>
      <!-- //slot -->
    </Popup>
    <!-- //popup -->
    
  </v-dialog>
  <!-- //popup -->
</template>

<script setup lang="ts">
import Popup from '@/components/popup/popup.vue';
import dayjs from 'dayjs';
import _, { filter } from 'lodash';

import { ref, reactive, computed, onMounted } from 'vue'
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import { CudResult, Mileage, PopupParam } from '@/types';
import { mileageBiz, AddPointSign } from '@/biz/mileageBiz';
import { viewUtil } from '@/utils/view-util';


// =========================================================
// 타입
// =========================================================
interface ViewState {
  isNewReady: boolean;
  rowId: number;
}


// =========================================================
// 선언
// =========================================================
const store = useStore();
const route = useRoute();

const user = store.getters['user'];
const popupLink = route.path.substring(1); // 앞에 '/'' 제거

const viewState: ViewState = reactive({
  isNewReady: false,
  rowId: null,
});

const dataState: Mileage = reactive({
  id: null,
  place_id: user.place_id,
  phone: null,
  point: 0,
  member_id: null,
});

// 휴대전화 번호 필터.
const filterPhone = ref(null);

// 휴대전화 번호 추가 다이얼로그.
const dialog = ref(false);

// 추가할 휴대전화 번호.
const newPhone = ref<string>(null);

// 휴대전화 번호 추가 메세지.
const newPhoneMsg = ref<string>(null);

// 포인트 부여/차감 사인. 1:부여, 2:차감
const addPointSign = ref<number>(null);

// 포인트 부여/차감 값. 최대 값은 1만으로 제한하기.
const addPoint = ref<number>(null);


const refFilterPhone = ref(null);
const refNewPhone = ref(null);
const refAddPoint = ref(null);


// =========================================================
// 초기 조회
// =========================================================
const init = async () => {
  await mileageBiz.mileages(store, user.place_id);
};


// =========================================================
// COMPUTED
// =========================================================
const mileages = computed<Mileage[]>(() => mileageBiz.getterMileages(store));

const filterredMileages = computed<Mileage[]>(() => {
  if (filterPhone.value === null || filterPhone.value.trim().length === 0) return mileages.value;
  return mileages.value?.filter((item: Mileage) => {
    return item.phone.includes(filterPhone.value);
  });
});

const editable = computed<boolean>(() => {
  return viewState.rowId !== null;
});

const okable = computed<boolean>(() => {
  return addPointSign !== null && addPoint.value !== null && addPoint.value > 0;
});

const rowData = computed<Mileage>(() => {
  if (viewState.rowId === null) return null;
  return mileages.value?.find((item: Mileage) => item.id === viewState.rowId);
});

const hasMasterLevel = computed<boolean>(() => user.level <= 2);


// =========================================================
// WATCH
// =========================================================


// =========================================================
// 기능
// =========================================================
const setData = (item: Mileage) => {
  viewState.isNewReady = false;

  dataState.id = item.id;
  dataState.place_id = item.place_id,
  dataState.phone = item.phone;
  dataState.point = item.point;
  dataState.member_id = item.member_id;
};

const emptyData = () => {
  dataState.id = null;
  dataState.place_id = user.place_id;
  dataState.phone = null;
  dataState.member_id = null;
  dataState.point = null;
};

const clear = () => {
  viewState.isNewReady = false;
  viewState.rowId = null;

  filterPhone.value = null;
  addPointSign.value = null;
  addPoint.value = null;
  newPhone.value = null;
  newPhoneMsg.value = null;
  emptyData();
};

const displayFilterPhone = (phone: string) => {
  if (filterPhone.value === null) {
    return viewUtil.fmtMobileNum(phone);
  }

  let matchIndex = phone.indexOf(filterPhone.value, 3); // '010' 이후부터 검색한다.
  if (matchIndex === -1) {
    return viewUtil.fmtMobileNum(phone);
  }

  let first = '';
  let match = '';
  let last = '';
  let html = '';

  if (phone.length >= 11) {
    // matchIndex는 phone 기준이고, 자르기는 fmt 기준이다.
    const fmt = viewUtil.fmtMobileNum(phone);

    let sIdx = matchIndex + 1; // '010' 이후이므로 공백 1 더함.
    let eIdx = sIdx + filterPhone.value.length;

    if (matchIndex >= 7) { // 시작이 '010 xxxx' 이후이므로 공백을 1 더함.
      sIdx += 1;
      eIdx += 1;
    }
    else if (matchIndex + filterPhone.value.length >= 7) { // 끝이 '010 xxxx' 이후이므로 공백을 1 더함.
      eIdx += 1;
    }

    first = fmt.substring(0, sIdx);
    match = fmt.substring(sIdx, eIdx);
    last = fmt.substring(eIdx);
    html = `${first}<span class="color-secondary">${match}</span>${last}`;
  }
  else {
    const idx = phone.indexOf(filterPhone.value);
    first = phone.substring(0, idx);
    match = phone.substring(idx, idx + filterPhone.value.length);
    last = phone.substring(idx + filterPhone.value.length);
    html = `${first}<span class="color-secondary">${match}</span>${last}`;
  }

  return html;
};


// =========================================================
// 사용자 액션
// =========================================================
// 팝업 닫기.
const doClosePopup = () => {
  if (window.opener) window.opener.closePopup(popup.link);
  else window.close();
};

// 행 선택.
const doClickRow = (item: Mileage) => {
  if (viewState.isNewReady) {
    return;
  }

  if (viewState.rowId === item.id) { // 같은 항목 선택. 해제한다.
    viewState.rowId = null;
    emptyData();
  }
  else { // 다른 항목이면 선택한다.
    viewState.rowId = item.id;
    setData(item);
  }
};

// 휴대전화 번호 추가 다이얼로그 오픈.
const doOpenAddPhone = () => {
  dialog.value = true;
  newPhone.value = null;
  setTimeout(() => {
    refNewPhone.value.focus();
  }, 100);
};

// 휴대전화 번호 입력.
const doInputPhone = (e: KeyboardEvent) => {
  newPhoneMsg.value = null;
  viewUtil.kbDigit(e);
};

// 휴대전화 번호 추가.
const doAddPhone = async () => {
  if (newPhone.value === null || newPhone.value.trim().length < 11) {
    newPhoneMsg.value = '휴대전화 번호를 정확히 입력해 주세요.';
    return;
  }

  if (mileages.value?.find((item: Mileage) => item.phone === newPhone.value)) {
    newPhoneMsg.value = '이미 등록된 휴대전화 번호입니다.';
    return;
  }

  dialog.value = false;

  const item = {
    id: null,
    place_id: user.place_id,
    phone: newPhone.value,
    point: 0,
    member_id: null,
    reg_date: dayjs().format('YYYY-MM-DD HH:mm:ss'),
  };

  await mileageBiz.newMileage(store, item, (_result: CudResult<Mileage>) => {
    if (_result.success) {
      clear();
      filterPhone.value = item.phone.substring(7);
    }
  });
};

// 포인트 추가/차감.
const doSetItem = async () => {
  const item: Mileage = {
    ...dataState,
  };

  const ponit = Number(addPoint.value);

  await mileageBiz.setMileage(store, dataState, addPointSign.value, ponit, user.id, (_success: boolean) => {
    if (_success) {
      clear(); // 뒷정리.
      filterPhone.value = item.phone.substring(7);
    }
  });
};

// 삭제.
const doDelItem = async (item: Mileage, e: Event) => {
  e.stopPropagation();

  await mileageBiz.delMileage(store, item, user.id, (_success: boolean) => {
    if (_success) {
      clear(); // 뒷정리.
    }
  });
};


// =========================================================
// 정보 & onMounted
// =========================================================
onMounted(async () => {
  init();
});

const popup: PopupParam = reactive({
  title: "포인트 관리",
  theme: "theme-popup-dark",
  size: "size-smd",
  align: "mx-auto",
  pin: false,
  link: popupLink,
});

const popupAlert: PopupParam = {
  title: "휴대전화 번호 추가",
  theme: "theme-popup-light",
  size: "size-sm",
  align: "ml-3 mr-auto",
  pin: false,
  showClose: false,
};
</script>
