<template>
  <!-- popup -->
  <Popup :popup="popup" style="width: 1000px">
    <!-- slot -->
    <template v-slot:body>
      <!-- popup-contents -->
      <div class="popup-contents">
        <!-- field-set -->
        <fieldset class="field-set">
          <div class="d-flex justify-space-between">
            <h3 class="title-sub pt-1">입실정보</h3>
            <div class="d-flex">
              <v-checkbox
                v-model="mRoomState.isc_sale_1"
                :true-value="0"
                :false-value="1"
                hide-details
                density="compact"
                color="secondary"
                label="무인 숙박판매"
                style="margin-right: 16px"
              ></v-checkbox>
              <v-checkbox
                v-model="mRoomState.isc_sale_2"
                :true-value="0"
                :false-value="1"
                hide-details
                density="compact"
                color="secondary"
                label="무인 대실판매"
                style="margin-right: 16px"
              ></v-checkbox>
              <v-checkbox
                v-model="mRoomState.isc_sale_3"
                :true-value="0"
                :false-value="1"
                hide-details
                density="compact"
                color="secondary"
                label="무인 예약판매"
              ></v-checkbox>
            </div>
          </div>
          <div class="d-flex justify-space-between">
            <v-table style="width: 474px">
              <colgroup>
                <col style="width: 90px" />
                <col />
                <col style="width: 90px" />
                <col />
              </colgroup>
              <tbody>
                <tr>
                  <th class="text-center"><span>객실명</span></th>
                  <td>
                    <span>{{ roomName }} ({{ roomType.name }})</span>
                  </td>
                  <th class="text-center">객실상태</th>
                  <td class="text-center">
                    <v-btn color="grey" size="small" style="width: 135px">
                      {{
                        viewUtil.keyText('room_state', 'sale', mRoomState.sale)
                      }}
                    </v-btn>
                  </td>
                </tr>
                <tr>
                  <th class="text-center"><span>입실시간</span></th>
                  <td colspan="3">
                    <div class="d-flex">
                      <input
                        type="text"
                        class="input"
                        :value="
                          dayjs(mRoomSale.check_in_exp).format(
                            'YYYY년 / M월 D일 (ddd) / HH:mm  (5분 단위)'
                          )
                        "
                        readonly
                      />
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="text-center"><span>퇴실예정</span></th>
                  <td colspan="3">
                    <div class="d-flex">
                      <div class="mr-2" style="width: 175px">
                        <input
                          type="text"
                          class="input mr-1"
                          style="width: 180px"
                          :value="
                            checkOutExp.format('YYYY년 / M월 D일 (ddd) / HH:mm')
                          "
                          readonly
                        />
                      </div>
                      <div
                        class="input-counter mr-2 digit_box"
                        style="width: 92px"
                      >
                        <HourInput
                          v-model="endTime"
                          :init-time="checkOutExp"
                        ></HourInput>
                      </div>
                      <div class="input-counter digit_box" style="width: 92px">
                        <MinuteInput
                          v-model="endTime"
                          :init-time="checkOutExp"
                        ></MinuteInput>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="text-center"><span>인원</span></th>
                  <td>
                    <div
                      class="input-counter mr-2 digit_box"
                      style="width: 120px"
                    >
                      <PersonInput
                        v-model="mRoomSale.person"
                        :init-person="roomType.person"
                      ></PersonInput>
                    </div>
                  </td>
                  <th class="text-center">
                    차량번호<br /><span style="font-size: 0.7rem"
                      >(객실표시)</span
                    >
                  </th>
                  <td class="text-center">
                    <div class="d-flex" style="align-items: center">
                      <input
                        type="text"
                        class="input mr-2"
                        placeholder="4자리"
                        maxlength="4"
                        style="width: 80px"
                        v-model="mRoomSale.car_no"
                        @keydown="viewUtil.kbDigit($event)"
                      />
                      <v-checkbox
                        hide-details
                        density="compact"
                        color="secondary"
                        style="margin-left: -4px"
                        label="표시"
                        v-model="isDisplayCarNo"
                        @update:model-value="doOnOffDisplayCarNo()"
                      ></v-checkbox>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="text-center"><span>도어락</span></th>
                  <td colspan="3">
                    <p>
                      도어락 ID 없음(
                      <span class="color-secondary"
                        >도어락 ID를 등록해 주세요!</span
                      >
                      )
                    </p>
                  </td>
                </tr>
              </tbody>
            </v-table>
            <v-table style="width: 474px">
              <colgroup>
                <col style="width: 90px" />
                <col />
              </colgroup>
              <tbody>
                <tr>
                  <th class="text-center"><span>예약</span></th>
                  <td>
                    <div class="d-flex" style="align-items: center">
                      <!-- [{id: 1, name: 'aaa'}, {id: 2, name: 'bbb'}, {id: 3, name: 'ccc'}] -->
                      <v-select
                        v-model="mRoomSale.room_reserv_id"
                        :items="roomReservs"
                        :item-title="
                          (item: any) => (item === 0 ? '미선택' : item.name)
                        "
                        item-value="id"
                        density="compact"
                        class="mr-2"
                        hide-details
                        no-data-text="입실가능 예약없음"
                        style="width: 328px !important"
                        @update:model-value="doChangeReserv()"
                      ></v-select>
                      <v-btn
                        color="darkgrey"
                        class="pa-0"
                        style="min-width: auto; width: 28px; height: 28px"
                      >
                        <v-icon size="medium" color="white"
                          >mdi-format-list-bulleted</v-icon
                        >
                      </v-btn>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="text-center"><span>투숙형태</span></th>
                  <td colspan="3">
                    <div class="d-flex">
                      <div>
                        <v-btn
                          size="small"
                          class="mr-2"
                          style="width: 65px"
                          :color="
                            mRoomSale.stay_type === StayType.STAY
                              ? 'secondary'
                              : 'grey'
                          "
                          :prepend-icon="
                            mRoomSale.stay_type === StayType.STAY
                              ? 'mdi-check-circle-outline'
                              : 'mdi-radiobox-blank'
                          "
                          @click="doChangeStayType(StayType.STAY)"
                          >숙박</v-btn
                        >
                        <v-btn
                          size="small"
                          class="mr-2"
                          style="width: 65px"
                          :color="
                            mRoomSale.stay_type === StayType.SHORT_TIME
                              ? 'secondary'
                              : 'grey'
                          "
                          :prepend-icon="
                            mRoomSale.stay_type === StayType.SHORT_TIME
                              ? 'mdi-check-circle-outline'
                              : 'mdi-radiobox-blank'
                          "
                          @click="doChangeStayType(StayType.SHORT_TIME)"
                          >대실</v-btn
                        >
                        <v-btn
                          size="small"
                          class="mr-2"
                          style="width: 65px"
                          :color="
                            mRoomSale.stay_type === StayType.LONG_TIME
                              ? 'secondary'
                              : 'grey'
                          "
                          :prepend-icon="
                            mRoomSale.stay_type === StayType.LONG_TIME
                              ? 'mdi-check-circle-outline'
                              : 'mdi-radiobox-blank'
                          "
                          @click="doChangeStayType(StayType.LONG_TIME)"
                          >장기</v-btn
                        >
                      </div>
                      <div
                        class="input-counter mr-2 digit_box"
                        style="width: 130px"
                      >
                        <template v-if="mRoomSale.stay_type === StayType.STAY">
                          <StayInput
                            v-model="stayNum"
                            :disabled="mRoomSale.stay_type !== StayType.STAY"
                          ></StayInput>
                        </template>
                        <template
                          v-if="mRoomSale.stay_type === StayType.SHORT_TIME"
                        >
                          <div class="" style="width: 100%; text-align: center">
                            {{ stayShort }} 시간
                          </div>
                        </template>
                        <template
                          v-if="mRoomSale.stay_type === StayType.LONG_TIME"
                        >
                          <StayLongInput
                            v-model="stayLong"
                            :disabled="
                              mRoomSale.stay_type !== StayType.LONG_TIME
                            "
                          ></StayLongInput>
                        </template>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="text-center"><span>입실옵션</span></th>
                  <td>
                    <div class="d-flex" style="align-items: center">
                      <v-select
                        v-model="mRoomSale.time_option_id"
                        :items="timeOptions"
                        :item-title="
                          (item: any) => (item === 0 ? '미선택' : item.name)
                        "
                        item-value="id"
                        density="compact"
                        class="mr-2"
                        hide-details
                        no-data-text="입실옵션 없음"
                        style="width: 300px !important"
                      ></v-select>
                      <v-btn color="darkgrey" size="small" class="pa-0">
                        취소
                      </v-btn>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="text-center"><span>고객메모</span></th>
                  <td>
                    <div class="d-flex" style="align-items: center">
                      <textarea
                        class="input mr-2"
                        v-model="mRoomSale.memo"
                        placeholder="메모를 입력하세요."
                        style="
                          width: 310px;
                          height: 72px;
                          resize: none;
                          margin: 4px 0;
                        "
                      ></textarea>
                      <v-btn
                        color="darkgrey"
                        size="small"
                        class="pa-0"
                        style="max-width: 56px"
                        @click="mRoomSale.memo = null"
                      >
                        지우기
                      </v-btn>
                    </div>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </div>
        </fieldset>
        <!-- //field-set -->

        <!-- field-set -->
        <fieldset class="field-set mt-2">
          <v-table>
            <colgroup>
              <col style="width: 77px" />
              <col style="width: 80px" />
              <col style="width: 77px" />
              <col style="width: 200px" />

              <col style="width: 77px" />
              <col style="width: 80px" />
              <col style="width: 77px" />
              <col style="width: 80px" />
              <col style="width: 110px" />
              <col style="width: *" />
            </colgroup>
            <tbody>
              <tr>
                <th class="text-center">알람</th>
                <td>
                  <v-checkbox
                    v-model="mRoomSale.alarm"
                    :true-value="1"
                    :false-value="0"
                    hide-details
                    density="compact"
                    color="secondary"
                    label="설정"
                    @update:model-value="doOnOffAlarm()"
                  ></v-checkbox>
                </td>
                <th class="text-center">
                  <div class="align-center">
                    <span>알람시간</span>
                  </div>
                </th>
                <td>
                  <div class="d-flex align-center">
                    <div class="input-counter digit_box">
                      <NumberInput
                        v-model="mRoomSale.alarm_hour"
                        :up-down-config="upDownHourConfig"
                        :disabled="mRoomSale.alarm === 0"
                        unit="시"
                      ></NumberInput>
                    </div>
                    <div class="input-counter ml-2 digit_box">
                      <NumberInput
                        v-model="mRoomSale.alarm_min"
                        :up-down-config="upDownMinConfig"
                        :disabled="mRoomSale.alarm === 0"
                        unit="분"
                      ></NumberInput>
                    </div>
                  </div>
                </td>
                <th class="text-center">
                  <span>간격</span>
                </th>
                <td>
                  <div class="d-flex align-center">
                    <div class="input-counter digit_box">
                      <NumberInput
                        v-model="mRoomSale.alarm_term"
                        :up-down-config="upDownMinConfig"
                        :disabled="mRoomSale.alarm === 0"
                        unit="분"
                      ></NumberInput>
                    </div>
                  </div>
                </td>
                <th class="text-center">
                  <span>알림횟수</span>
                </th>
                <td>
                  <div class="d-flex align-center">
                    <div class="input-counter digit_box">
                      <NumberInput
                        v-model="mRoomSale.alarm_repeat"
                        :up-down-config="upDownRepeatConfig"
                        :disabled="mRoomSale.alarm === 0"
                        unit="회"
                      ></NumberInput>
                    </div>
                  </div>
                </td>
                <th class="text-center">
                  <span>알람시 메모 재생</span>
                </th>
                <td>
                  <div class="d-flex align-center">
                    <span>
                      <v-checkbox
                        v-model="mRoomSale.alarm_memo_play"
                        :true-value="1"
                        :false-value="0"
                        hide-details
                        density="compact"
                        color="secondary"
                        :disabled="mRoomSale.alarm === 0"
                      ></v-checkbox
                    ></span>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="text-center">객실표시</th>
                <td colspan="9">
                  <div class="d-flex align-center">
                    <input
                      type="text"
                      class="input"
                      placeholder="객실화면에 표시 할 메모를 입력하세요."
                      style="width: 350px"
                      :value="mRoomState.notice"
                    />
                    <v-btn
                      color="darkgrey"
                      class="ml-2"
                      size="small"
                      style="max-width: 56px"
                      @click="
                        () => {
                          mRoomState.notice = null;
                          isDisplayCarNo = false;
                        }
                      "
                      >지우기</v-btn
                    >
                    <span class="ml-7">표시 투명도</span>
                    <div class="input-counter ml-2 digit_box">
                      <NumberInput
                        v-model="mRoomState.notice_opacity"
                        :up-down-config="upDownOpacityConfig"
                      ></NumberInput>
                    </div>
                    <span class="ml-2">투명(0) ~ 불투명(10)</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </v-table>
        </fieldset>
        <!-- //field-set -->

        <!-- field-set -->
        <fieldset class="field-set">
          <div class="d-flex justify-space-between">
            <h3 class="title-sub pt-1">요금설정</h3>
            <div class="d-flex align-center mb-1">
              <p style="position: relative">
                <i
                  class="text-secondary"
                  style="position: absolute; top: 3px; left: -13px"
                  >*</i
                >
                <span>포인트조회</span>
              </p>
              <input
                type="text"
                id="pointNumber"
                class="input ml-2"
                maxlength="13"
                style="width: 150px; background-color: #fff"
                :value="viewUtil.fmtMobileNum(mobileNum.trim())"
                @input="
                  (event) =>
                    (mobileNum = viewUtil.removeSpace(
                      (event.target as HTMLInputElement).value
                    ))
                "
                @keydown="viewUtil.kbDigit($event)"
                @keyup.enter="doSearchPoint()"
              />
              <v-btn
                size="small"
                variant="outlined"
                color="secondary"
                class="ml-2"
                style="background-color: #fff"
                @click="doSearchPoint()"
                >조회</v-btn
              >
              <v-btn
                v-if="isEmptyRoom"
                size="small"
                variant="outlined"
                color="secondary"
                class="ml-4"
                style="background-color: #fff"
                @click="doAmountReset()"
                >요금리셋</v-btn
              >
            </div>
          </div>
          <v-table>
            <colgroup>
              <col style="width: 82px" />
              <col />
              <col style="width: 78px" />
              <col />
              <col style="width: 60px" />
              <col />
            </colgroup>
            <tbody>
              <tr>
                <th class="text-center"><span>기본요금</span></th>
                <td>
                  <div class="d-flex align-center">
                    <input
                      type="text"
                      class="input"
                      style="width: 130px; text-align: right"
                      readonly
                      :value="viewUtil.commaWon(mRoomSale.default_fee)"
                    />
                  </div>
                </td>
                <th class="text-center">판매가</th>
                <td class="text-center">
                  <input
                    type="text"
                    class="input"
                    readonly
                    :value="viewUtil.commaWon(priceTotal)"
                    style="text-align: right; width: 130px"
                  />
                </td>
                <th class="text-center" rowspan="3"><span>결제</span></th>
                <td>
                  <div class="d-flex align-center" style="margin-left: -10px">
                    <PayKindInput
                      v-model="mRoomSale.pay_cash_amt"
                      label="현금"
                      :unpaid="unpaidTotal"
                      :amount-reset="amountReset"
                    ></PayKindInput>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="text-center"><span>추가/할인</span></th>
                <td>
                  <div class="d-flex align-center">
                    <div class="input-counter digit_box" style="width: 130px">
                      <WonInput
                        v-model="mRoomSale.add_fee"
                        :disabled="false"
                        :reset="true"
                        :use-color="true"
                      ></WonInput>
                    </div>
                  </div>
                </td>
                <th class="text-center">미수금</th>
                <td class="text-center">
                  <input
                    type="text"
                    readonly
                    class="input"
                    style="text-align: right; width: 130px"
                    :style="{ color: unpaidTotal > 0 ? 'red' : 'blue' }"
                    :value="viewUtil.commaWon(unpaidTotal)"
                  />
                </td>
                <!-- <th class="text-center"><span>결제</span></th> -->
                <td>
                  <div class="d-flex align-center" style="margin-left: -10px">
                    <PayKindInput
                      v-model="mRoomSale.pay_card_amt"
                      label="카드"
                      :unpaid="unpaidTotal"
                      :amount-reset="amountReset"
                    ></PayKindInput>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="text-center"><span>보유포인트</span></th>
                <td>
                  <div class="d-flex align-center">
                    <input
                      type="text"
                      class="input"
                      readonly
                      style="width: 130px; text-align: right; color: blue"
                      :value="viewUtil.commaPoint(userPoint)"
                    />
                  </div>
                </td>
                <th class="text-center">적립포인트</th>
                <td class="text-center">
                  <input
                    type="text"
                    class="input"
                    readonly
                    style="text-align: right; width: 130px"
                    :value="viewUtil.commaPoint(savePoint)"
                  />
                </td>
                <!-- <th class="text-center"><span>결제</span></th> -->
                <td>
                  <div class="d-flex align-center" style="margin-left: -10px">
                    <PayKindInput
                      v-model="mRoomSale.pay_point_amt"
                      label="포인트"
                      :unpaid="unpaidTotal"
                      :amount-reset="amountReset"
                    ></PayKindInput>
                  </div>
                </td>
              </tr>

              <tr>
                <th class="text-center"><span>OTA 선결제</span></th>
                <td>
                  <div class="d-flex align-center">
                    <input
                      type="text"
                      class="input"
                      readonly
                      style="width: 130px; text-align: right"
                      :value="viewUtil.commaWon(0)"
                    />
                  </div>
                </td>
                <!-- <th class="text-center">선결제</th>
                <td class="text-center">
                  <input type="text" class="input" value="0원" style="text-align: right; width: 130px;" readonly />
                </td>
                <th class="text-center"><span>결제</span></th> -->
                <td></td>
              </tr>
            </tbody>
          </v-table>
        </fieldset>
        <!-- //field-set -->

        <!-- field-set -->
        <fieldset class="field-set">
          <div class="d-flex justify-space-between mb-1">
            <h3 class="title-sub pt-1">난방설정</h3>
            <v-btn
              size="small"
              variant="outlined"
              color="secondary"
              class="ml-2"
              style="background-color: #fff"
              @click="doResetTemp()"
              >기본값</v-btn
            >
          </div>
          <v-table>
            <colgroup>
              <col style="width: 78px" />
              <col style="width: 140px" />
              <col style="width: 78px" />
              <col style="width: 140px" />
              <col style="width: 94px" />
              <col style="width: 140px" />
              <col style="width: 100px" />
              <col />
            </colgroup>
            <tbody>
              <tr>
                <th class="text-center"><span>현재온도</span></th>
                <td colspan="3">
                  <input
                    type="text"
                    class="input"
                    style="text-align: right; width: 84px"
                    readonly
                    :value="mRoomState.air_temp + ' ℃'"
                  />
                </td>
                <th class="text-center"><span>외출</span></th>
                <td class="text-center">
                  <div class="input-counter mr-2 digit_box">
                    <TemperatureInput
                      v-model="mRoomState.temp_key_2"
                      :up-down-config="upDownTempConfig"
                      :init-temp="initPreference?.temp_key_2"
                    ></TemperatureInput>
                  </div>
                </td>
                <th class="text-center"><span>청소/점검 대기</span></th>
                <td class="text-center">
                  <div class="input-counter mr-2 digit_box">
                    <TemperatureInput
                      v-model="mRoomState.temp_key_5"
                      :up-down-config="upDownTempConfig"
                      :init-temp="initPreference?.temp_key_5"
                    ></TemperatureInput>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="text-center"><span>사용중</span></th>
                <td class="text-center">
                  <div class="input-counter mr-2 digit_box">
                    <TemperatureInput
                      v-model="mRoomState.temp_key_1"
                      :up-down-config="upDownTempConfig"
                      :init-temp="initPreference?.temp_key_1"
                    ></TemperatureInput>
                  </div>
                </td>
                <th class="text-center"><span>설정온도</span></th>
                <td>
                  <div class="input-counter mr-2 digit_box">
                    <TemperatureInput
                      v-model="mRoomState.air_set_temp"
                      :up-down-config="upDownTempConfig"
                      :init-temp="initPreference?.air_set_temp"
                    ></TemperatureInput>
                  </div>
                </td>
                <th class="text-center"><span>공실</span></th>
                <td class="text-center">
                  <div class="input-counter mr-2 digit_box">
                    <TemperatureInput
                      v-model="mRoomState.temp_key_3"
                      :up-down-config="upDownTempConfig"
                      :init-temp="initPreference?.temp_key_3"
                    ></TemperatureInput>
                  </div>
                </td>
                <th class="text-center"><span>청소/점검 중</span></th>
                <td class="text-center">
                  <div class="input-counter mr-2 digit_box">
                    <TemperatureInput
                      v-model="mRoomState.temp_key_4"
                      :up-down-config="upDownTempConfig"
                      :init-temp="initPreference?.temp_key_4"
                    ></TemperatureInput>
                  </div>
                </td>
              </tr>
            </tbody>
          </v-table>
        </fieldset>
        <!-- //field-set -->
        <!-- field-set -->
        <fieldset class="field-set">
          <h3 class="title-sub pt-1">상태변경</h3>
          <div class="d-flex justify-space-between">
            <div class="d-flex" style="width: 100%">
              <v-btn-toggle v-model="state.changeState" class="check-btns mt-2">
                <v-btn
                  style="width: 12% !important"
                  :value="ChangeState.CheckIn"
                  :disabled="changeble.isDisableCheckIn()"
                  :class="{ disable_state: changeble.isDisableCheckIn() }"
                  >{{ changebleName(changeble.checkInState, '입실') }}</v-btn
                >

                <v-btn
                  style="width: 12% !important"
                  :value="ChangeState.CheckOut"
                  :disabled="changeble.isDisableCheckOut()"
                  :class="{ disable_state: changeble.isDisableCheckOut() }"
                  >{{ changebleName(changeble.checkOutState, '퇴실') }}</v-btn
                >

                <v-btn
                  style="width: 12% !important"
                  :value="ChangeState.Outting"
                  :disabled="changeble.isDisableOutting()"
                  :class="{ disable_state: changeble.isDisableOutting() }"
                  >{{ changebleName(changeble.outtingState, '외출') }}</v-btn
                >

                <v-btn
                  style="width: 12% !important"
                  :value="ChangeState.SetClean"
                  :disabled="changeble.isDisableSetClean()"
                  :class="{ disable_state: changeble.isDisableOutting() }"
                  >{{
                    changebleName(changeble.setCleanState, '청소지시')
                  }}</v-btn
                >

                <v-btn
                  style="width: 12% !important"
                  :value="ChangeState.SetEmpty"
                  :disabled="changeble.isDisableSetEmpty()"
                  :class="{ disable_state: changeble.isDisableSetEmpty() }"
                  >{{ changebleName(changeble.setEmptyState, '공실') }}</v-btn
                >

                <v-btn
                  style="width: 12% !important"
                  :value="ChangeState.SetShortTime"
                  :disabled="changeble.isDisableSetShortTime()"
                  :class="{ disable_state: changeble.isDisableSetShortTime() }"
                  >{{
                    changebleName(changeble.setShortTimeState, '대실변경')
                  }}</v-btn
                >

                <v-btn
                  style="width: 12% !important"
                  :value="ChangeState.SetExtend"
                  :disabled="changeble.isDisableSetExtend()"
                  :class="{ disable_state: changeble.isDisableSetExtend() }"
                  >{{
                    changebleName(changeble.setExtendState, '사용연장')
                  }}</v-btn
                >

                <v-btn
                  style="width: 12% !important"
                  :value="ChangeState.SetMoveRoom"
                  :disabled="changeble.isDisableSetMoveRoom()"
                  :class="{ disable_state: changeble.isDisableSetMoveRoom() }"
                  >{{
                    changebleName(changeble.setMoveRoomState, '객실이동')
                  }}</v-btn
                >
              </v-btn-toggle>
            </div>
          </div>
        </fieldset>
        <!-- //field-set -->
      </div>
      <!-- //popup-contents -->
    </template>
    <!-- //slot -->
    <template v-slot:footer>
      <div class="btns">
        <v-btn
          color="darkgrey"
          size="large"
          style="min-width: 150px"
          @click="doClosePopup()"
          >닫기</v-btn
        >
        <v-btn
          :disabled="state.changeState === null"
          color="primary"
          size="large"
          style="min-width: 150px"
          @click="doProcess()"
          >{{ processName }}</v-btn
        >
      </div>
    </template>
  </Popup>
  <!-- //popup -->
</template>

<style>
.date_input {
  font-size: 0.8rem;
}
</style>

<style>
._date_input {
  font-size: 0.8rem;
}
.dp__selection_preview {
  color: var(--dp-primary-color);
  font-weight: 500;
}
.dp__action_cancel {
  display: none;
}
.dp__action_select {
  width: 43px;
  height: 26px;
  font-size: 13px;
}
</style>

<style scoped>
.digit_box {
  width: 84px;
  margin: 0;
  padding: 0;
  gap: 0;
}
.disable_state {
  color: grey !important;
}
</style>

<script setup lang="ts">
import _, { multiply } from 'lodash';
import dayjs from 'dayjs';
import Swal, { SweetAlertResult } from 'sweetalert2';
import Popup from '@/components/popup/popup.vue';
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import StayInput from '@/components/compo/StayInput.vue';
import StayShortInput from '@/components/compo/StayShortInput.vue';
import StayLongInput from '@/components/compo/StayLongInput.vue';
import TemperatureInput from '@/components/compo/TemperatureInput.vue';
import HourInput from '@/components/compo/HourInput.vue';
import MinuteInput from '@/components/compo/MinuteInput.vue';
import NumberInput from '@/components/compo/NumberInput.vue';
import WonInput from '@/components/compo/WonInput.vue';
import PayKindInput from '@/components/compo/PayKindInput.vue';
import PersonInput from '@/components/compo/PersonInput.vue';

import { reactive, ref, computed, watch, onMounted } from 'vue';
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import { Consts } from '@/constants/Consts';
import {
  RoomType,
  RoomSale,
  RoomState,
  PopupParam,
  Preference,
  RoomReserv,
  TimeOption,
  Room,
  Mileage,
} from '@/types';
import { dateBiz } from '@/biz/dateBiz';
import { preferencesBiz } from '@/biz/preferencesBiz';
import { roomBiz } from '@/biz/roomBiz';
import { roomTypeBiz } from '@/biz/roomTypeBiz';
import {
  roomStateBiz,
  RoomStateClass,
  RepresentState,
} from '@/biz/roomStateBiz';
import { roomSaleBiz, RoomSaleClass } from '@/biz/roomSaleBiz';
import { roomReservBiz } from '@/biz/roomReservBiz';
import { popupBiz, SyncType } from '@/biz/popupBiz';
import { timeOptionBiz } from '@/biz/timeOptionBiz';
import { interruptBiz, RoomInterruptClass } from '@/biz/interruptBiz';
import {
  checkInBiz,
  ChangebleStateValue,
  ChangebleState,
  ChangebleStateClass,
} from '@/biz/checkInBiz';
import { mileageBiz } from '@/biz/mileageBiz';
import {
  viewUtil,
  upDownHourConfig,
  upDownMinConfig,
  upDownRepeatConfig,
  upDownOpacityConfig,
  upDownTempConfig,
} from '@/utils/view-util';

// =========================================================
// 타입
// =========================================================
/** 객실 상태 설정. */
enum ChangeState {
  CheckIn = 1, //입실
  CheckOut = 2, //퇴실
  Outting = 3, //외출
  SetClean = 4, //청소지시
  SetEmpty = 5, //공실처리
  SetShortTime = 6, //대실변경
  SetExtend = 7, //사용연장
  SetMoveRoom = 8, //객실이동
}

interface ViewState {
  changeState: ChangeState; // 객실설정 (입실, 퇴실, 외출, ...)
  reservCheckInExp: dayjs.Dayjs;
}

// =========================================================
// 선언
// =========================================================
const props = defineProps<{
  roomId: string;
}>();

const store = useStore();
const route = useRoute();

const user = store.getters['user'];
const popupLink = popupBiz.linkAlias(route.path.substring(1)); // 앞에 '/'' 제거. 그리고 alias.

const roomId: number = Number(props.roomId);
console.log(`*** roomId ::`, roomId);

// 상수.
const { Channel, StayType } = Consts;

// mutable RoomState.
const mRoomState: RoomState = reactive(
  new RoomStateClass(roomId, Channel.FRONT)
);

// mutable RoomSale.
const mRoomSale: RoomSale = reactive(new RoomSaleClass(roomId, Channel.FRONT));

// 공실여부.
const isEmptyRoom = ref<boolean>(true); // 공실 여부. 공실 아니면 사용중.

// view state
const state: ViewState = reactive({
  changeState: null,
  reservCheckInExp: dayjs(),
});
console.log(`*** state ::`, state);

const stayNum = ref<number>(1); // 숙박일수.
const stayShort = ref<number>(4); // 대실시간.
const stayLong = ref<number>(5); // 장기시간.

const beginTime = ref<dayjs.Dayjs>(dateBiz.expectDate(dayjs())); // 시작시간.
const endTime = ref<dayjs.Dayjs>(beginTime.value.add(1, 'day')); // 종료시간.

const roomName = ref<string>('');
const title = ref<string>('');
const mobileNum = ref<string>('010');
const isDisplayCarNo = ref<boolean>(false);

const selRoomReserv = ref<RoomReserv>(null); // 선택된 예약.

const userPoint = ref<number>(0); // 사용자 포인트.

const amountReset = ref<boolean>(false); // 요금 리셋 여부.
const userSetTemp = _.cloneDeep(upDownTempConfig); // 사용자 설정 온도.

let initPreference: Preference = null; // 초기 조회한 Preference.

const changeble = ref<ChangebleState>(new ChangebleStateClass()); // 상태변경 가능성.

// =========================================================
// 초기 조회
// =========================================================
const initData = async () => {
  // Preference 조회.
  // let initPreference: Preference = null;
  await preferencesBiz.preferences(
    store,
    user.place_id,
    (iPreference: Preference) => {
      if (Array.isArray(iPreference) && iPreference.length > 0) {
        initPreference = iPreference[0];
      }
    }
  );
  console.log(`*** ----- initPreference ::`, initPreference);

  // RoomType 조회.
  let initRoom: Room = null;
  await roomBiz.room(store, roomId, (result: any) => (initRoom = result.room));
  console.log(`*** ----- initRoom ::`, initRoom);

  // RoomType 조회.
  let initRoomType: RoomType = null;
  await roomTypeBiz.roomTypeByRoomId(
    store,
    roomId,
    (iRoomType: RoomType) => (initRoomType = iRoomType)
  );
  console.log(`*** ----- initRoomType ::`, initRoomType);

  // TimeOption 조회.
  await timeOptionBiz.timeOptions(store, user.place_id);

  // RoomReserv 조회.
  // const now = dayjs();
  // roomReservBiz.roomReservs(store, user.place_id, now.format('YYYY-MM-DD HH:mm:ss'), now.add(1, 'day').format('YYYY-MM-DD HH:mm:ss'));

  // RoomState 조회.
  await roomStateBiz.roomStateByRoomId(
    store,
    roomId,
    (iRoomState: RoomState) => {
      if (iRoomState !== null) {
        roomStateBiz.copyFromRoomState(mRoomState, iRoomState);
        roomName.value = roomBiz.roomNameHo(mRoomState.name);
        popup.title = `${roomName.value} [${roomType.value.name}] 입실처리`;

        changeble.value = checkInBiz.changebleState(mRoomState, initPreference); // 상태변경 가능성 설정.

        if (mRoomState.sale == null || mRoomState.sale === 0) {
          state.changeState = ChangeState.CheckIn;
        }
      }
      // console.log(`*** iRoomState 조회 결과 :: ---------------------------------------- `);
      // console.log(`*** iRoomState - sale: ${mRoomState.sale}, room_sale_id: ${mRoomState.room_sale_id}`);

      if (mRoomState.sale === 0 && mRoomState.room_sale_id !== null) {
        // 데이터 확인.
        console.warn(`*** !!! 공실인데 room_sale_id 가 있음. !!!`, mRoomState);
      }
    }
  );

  // RoomSale 조회.
  await roomSaleBiz.roomSaleByRoomId(store, roomId, (iRoomSale: RoomSale) => {
    console.log(
      `*** iRoomSale 조회 결과 :: ---------------------------------------- `
    );
    console.log(`*** iRoomSale ::`, iRoomSale);

    if (iRoomSale !== null) {
      // 이용중이면 값 복사.
      isEmptyRoom.value = false; // 공실 아님. 사용중.
      roomSaleBiz.copyFromRoomSale(mRoomSale, iRoomSale);
      changeble.value = checkInBiz.changebleState(
        mRoomState,
        initPreference,
        iRoomSale
      ); // 상태변경 가능성 설정.
    } else {
      // 공실이면 초기값 설정.
      isEmptyRoom.value = true; // 공실 임.
      mRoomSale.stay_type = 1; // 초기 값으로 숙박 설정.
      mRoomSale.check_in_exp = beginTime.value.format('YYYY-MM-DD HH:mm:ss');
      mRoomSale.check_out_exp = beginTime.value
        .add(1, 'day')
        .format('YYYY-MM-DD HH:mm:ss');

      resetTemputure();

      // 객실 유형별 가격 설정.
      if (initRoomType !== null) {
        mRoomSale.default_fee = initRoomType.default_fee_stay;
      } else {
        console.warn(`*** !!! 객실 유형이 없음 roomId: ${roomId} !!!`);
      }

      // 업소 설정.
      if (initPreference !== null) {
        // TODO:
      } else {
        console.warn(`*** !!!업소 설정을 못 찾음. roomId: ${roomId} !!!`);
      }
    }
  });

  stayShort.value = checkInBiz.stayShortHour(beginTime.value, initPreference);

  console.log(
    `*** initData() - stayShort: ${stayShort.value}, default_fee: ${mRoomSale.default_fee}`
  );
};

// =========================================================
// COMPUTED
// =========================================================
const roomType = computed<RoomType>(() => roomTypeBiz.getterRoomType(store));

const timeOptions = computed<TimeOption[]>(() =>
  timeOptionBiz.getterTimeOptions(store)
);

const roomReservs = computed<RoomReserv[]>(() => {
  const list = roomReservBiz.getterReservList(store);
  return list.filter((reserv: RoomReserv) => reserv.state === 'A'); // 예약 상태가 'A'인 것만.
});

// 처리버튼 이름.
const processName = computed<string>(() => {
  if (state.changeState === ChangeState.CheckIn) {
    const stayName = viewUtil.keyText(
      'room_sale',
      'stay_type',
      mRoomSale.stay_type
    );
    return changebleName(changeble.value.checkInState, `${stayName} 입실`);
    // return `${stayName} 입실`;
  } else if (state.changeState === ChangeState.CheckOut) {
    // return '퇴실';
    return changebleName(changeble.value.checkOutState, '퇴실');
  } else if (state.changeState === ChangeState.Outting) {
    // return '외출';
    return changebleName(changeble.value.outtingState, '외출');
  } else if (state.changeState === ChangeState.SetClean) {
    // return '청소지시';
    return changebleName(changeble.value.setCleanState, '청소지시');
  } else if (state.changeState === ChangeState.SetEmpty) {
    // return '공실';
    return changebleName(changeble.value.setEmptyState, '공실');
  } else if (state.changeState === ChangeState.SetShortTime) {
    // return '대실변경';
    return changebleName(changeble.value.setShortTimeState, '대실변경');
  } else if (state.changeState === ChangeState.SetExtend) {
    // return '사용연장';
    return changebleName(changeble.value.setExtendState, '사용연장');
  } else if (state.changeState === ChangeState.SetMoveRoom) {
    // return '객실이동';
    return changebleName(changeble.value.setMoveRoomState, '객실이동');
  } else {
    return '미선택';
  }
});

// 퇴실 예정일시.
const checkOutExp = computed<dayjs.Dayjs>({
  // getter.
  get() {
    let result: dayjs.Dayjs = null;

    if (mRoomSale.stay_type == StayType.SHORT_TIME) {
      const checkInExpDay = dayjs(mRoomSale.check_in_exp);
      result = checkInBiz.checkOutExpByShortTime(checkInExpDay, initPreference);
    } else {
      let stayNumber: number = 0;
      if (mRoomSale.stay_type == StayType.STAY) {
        stayNumber = stayNum.value;
      } else if (mRoomSale.stay_type == StayType.LONG_TIME) {
        stayNumber = stayLong.value;
      }

      const checkInExpDay = dayjs(mRoomSale.check_in_exp);
      result = checkInBiz.checkOutExpByStay(
        checkInExpDay,
        stayNumber,
        initPreference
      );
    }

    if (result !== null) {
      endTime.value = result;
      mRoomSale.check_out_exp = result.format('YYYY-MM-DD HH:mm:ss');
      return result;
    } else {
      return dayjs();
    }
  },
  // setter.
  set(value: dayjs.Dayjs) {
    if (value) {
      endTime.value = value;
      mRoomSale.check_out_exp = value.format('YYYY-MM-DD HH:mm:ss');
    }
  },
});

// 판매가 (기본요금 + 추가/할인)
const priceTotal = computed<number>(() => {
  return mRoomSale.default_fee + mRoomSale.add_fee;
});

// 미수금 (판매가 - 결제금액)
const unpaidTotal = computed<number>(() => {
  return (
    priceTotal.value -
    (mRoomSale.pay_cash_amt + mRoomSale.pay_card_amt + mRoomSale.pay_point_amt)
  );
});

// 적립 예정 포인트 (판매가 * 포인트 적립율)
const savePoint = computed<number>(() => {
  if (initPreference && initPreference.default_add_point_rate === 0) {
    return 0;
  } else {
    return Math.floor(
      (priceTotal.value * initPreference?.default_add_point_rate) / 100
    );
  }
});

// 인원 추가 비용.
const personFee = computed<number>(() => {
  const addPerson = mRoomSale.person - roomType.value.person;
  if (addPerson <= 0) {
    return 0;
  } else {
    return addPerson * roomType.value.person_add_fee;
  }
});

// 시즌 비용. TODO
const seassonFee = computed<number>(() => {
  return 0; // TODO: 임시.
});

// =========================================================
// WATCH
// =========================================================
watch(
  () => roomType.value,
  () => {
    popup.title = `${roomName.value} [${roomType.value.name}] 입실처리`;
  }
);

watch(
  () => state.changeState,
  () => {
    console.log(`*** state.changeState ::`, state.changeState);
  }
);

// =========================================================
// 기능
// =========================================================
const resetTemputure = () => {
  const {
    air_set_temp,
    air_set_min,
    air_set_max,
    temp_key_1,
    temp_key_2,
    temp_key_3,
    temp_key_4,
    temp_key_5,
  } = initPreference;

  console.log(
    `*** resetTemputure - air_set_temp: ${air_set_temp}, air_set_min: ${air_set_min}, air_set_max: ${air_set_max}, temp_key_1: ${temp_key_1}, temp_key_2: ${temp_key_2}, temp_key_3: ${temp_key_3}, temp_key_4: ${temp_key_4}, temp_key_5: ${temp_key_5}`
  );

  userSetTemp.min = air_set_min; // 사용자설정 최소 온도.
  userSetTemp.max = air_set_max; // 사용자설정 최고 온도.

  upDownTempConfig.max = air_set_max; // 최고 온도.

  mRoomState.air_set_temp = air_set_temp;
  mRoomState.air_set_min = air_set_min;
  mRoomState.air_set_max = air_set_max;
  mRoomState.temp_key_1 = temp_key_1;
  mRoomState.temp_key_2 = temp_key_2;
  mRoomState.temp_key_3 = temp_key_3;
  mRoomState.temp_key_4 = temp_key_4;
  mRoomState.temp_key_5 = temp_key_5;
};

const changebleName = (value: ChangebleStateValue, name: string): string => {
  if (value === ChangebleStateValue.CANCEL) {
    return `${name} 취소`;
  } else {
    return name;
  }
};

// =========================================================
// 사용자 액션
// =========================================================
// 숙박/대실/장기 변경시.
const doChangeStayType = (stayType: number) => {
  mRoomSale.stay_type = stayType;
  mRoomSale.default_fee =
    stayType === StayType.SHORT_TIME
      ? roomType.value.default_fee_rent
      : roomType.value.default_fee_stay;
  console.log(
    `*** doChangeStayType - mRoomSale.stay_type: ${mRoomSale.stay_type}, stayNum: ${stayNum.value}, stayShort: ${stayShort.value}, stayLong: ${stayLong.value}`
  );
};

// 차량번호 객실표시 변경시.
const doOnOffDisplayCarNo = () => {
  if (mRoomSale.car_no == null || mRoomSale.car_no.trim().length < 4) {
    Swal.fire({
      icon: 'warning',
      title: '차량번호 4자리를 입력하세요.',
      text: '(3초 후 자동 닫힘)',
      showConfirmButton: true,
      timer: 3000,
    });
    isDisplayCarNo.value = false;
  }
  const text = `[${mRoomSale.car_no}]`;
  mRoomState.notice = viewUtil.appendRemoveText(
    mRoomState.notice,
    text,
    isDisplayCarNo.value
  );
};

// 예약목록 변경시.
const doChangeReserv = () => {
  console.log(
    `*** doChangeReserv - mRoomSale.room_reserv_id ::`,
    mRoomSale.room_reserv_id
  );
  const rr = roomReservs.value.find(
    (reserv: RoomReserv) => reserv.id === mRoomSale.room_reserv_id
  );
  if (rr) selRoomReserv.value = rr;
  else selRoomReserv.value = null;
};

// 알람 설정 변경시.
const doOnOffAlarm = () => {
  const text = `${roomBiz.roomNameHo(mRoomState.name)} 알람 시간 입니다.`;
  const onOff = mRoomSale.alarm === 1;
  mRoomSale.memo = viewUtil.appendRemoveText(mRoomSale.memo, text, onOff, true);
  if (!onOff) {
    mRoomSale.alarm_memo_play = 0;
  }
};

// 포인트 조회시.
const doSearchPoint = () => {
  console.log(
    `*** doSearchPoint - mobileNum.value ::`,
    mobileNum.value,
    mobileNum.value.length
  );
  if (mobileNum.value.trim().length < 11) {
    Swal.fire({
      icon: 'warning',
      title: '휴대전화 번호를 정확히 입력하세요.',
      text: '(3초 후 자동 닫힘)',
      showConfirmButton: true,
      timer: 3000,
      timerProgressBar: true,
    });
    return;
  }

  mileageBiz.mileageByPhone(
    store,
    user.place_id,
    mobileNum.value,
    (_mileage: Mileage) => {
      userPoint.value = _mileage.point;
    }
  );
};

// 요금 설정 리셋.
const doAmountReset = () => {
  amountReset.value = true;
  setTimeout(() => {
    amountReset.value = false;
  }, 100);
};

// 온도 리셋.
const doResetTemp = () => {
  resetTemputure();
};

// 팝업 닫기.
const doClosePopup = () => {
  if (window.opener) {
    window.opener.closePopup(popupLink);
  } else {
    window.close();
  }
};

// 상태변경 처리.
const doProcess = async () => {
  if (state.changeState === ChangeState.CheckIn) {
    // 데이터 설정.
    //   option_fee: mRoomSale.option_fee,
    //   season_fee: compSeassonFee.value,
    //   person_fee: compPersonFee.value,
    //   discount_fee: compStayValue.value,
    //   stay_days: stayNum.value,

    mRoomSale.user_id = user.id;
    mRoomSale.phone = mobileNum.value === '000' ? '' : mobileNum.value;
    mRoomSale.check_out_exp = checkOutExp.value.format('YYYY-MM-DD HH:mm:ss');

    const timeOptionFee: number = 0;

    let result = false;
    await checkInBiz.doCheckIn(
      store,
      mRoomState,
      mRoomSale,
      timeOptionFee,
      () => {
        result = true;
      }
    );
    if (result) {
      await roomSaleBiz.roomSaleByRoomId(store, roomId);
      doClosePopup();
    }
  } else if (state.changeState === ChangeState.SetEmpty) {
    console.log(`*** doProcess - SetEmpty :: mRoomState`, mRoomState);
    await checkInBiz.doSetEmpty(store, mRoomState, user.id, () => {
      doClosePopup();
    });
  }
  // else if (state.changeState === ChangeState.CheckOut) {
  //   mRoomState.user_id = user.id;
  //   await checkInBiz.doCheckOut(store, mRoomSale, mRoomState, () => {
  //     // doClosePopup();
  //   });
  // }
  // else if (state.changeState === ChangeState.Outting) {
  //   mRoomState.user_id = user.id;
  //   await checkInBiz.doOutting(store, mRoomState, () => {
  //     // doClosePopup();
  //   });
  // }
  else if (state.changeState === ChangeState.SetClean) {
    await checkInBiz.doSetClean(store, mRoomState, user.id, () => {
      // doClosePopup();
    });
  }
};

// =========================================================
// 정보 & onMounted
// =========================================================
const popup: PopupParam = reactive({
  title: title.value,
  theme: 'theme-popup-dark',
  size: 'size-lg',
  align: 'mx-auto',
  pin: false,
  link: popupLink,
});

onMounted(() => {
  const token = store.getters['token'];
  const roomInterrupt = new RoomInterruptClass(roomId, 1, user.id, token, 1, 1);

  (async () => {
    await interruptBiz.newInterrupt(store, roomInterrupt);
    await initData(); // 초기 조회 실행.
  })();
});

window.onunload = function () {
  interruptBiz.delInterrupt(store, roomId);
  window.opener.syncPopup(SyncType.PING, `onunload - roomId :: ${roomId}`);
  window.opener.syncPopup(SyncType.ROOM_INTERRUPT_DEL_USER, user.id);
};
</script>
