<template>
  <!-- popup -->
  <Popup :popup="popup">
    <!-- slot -->
    <template v-slot:body>
      <!-- popup-contents -->
      <div class="popup-contents">
        <v-row no-gutters style="min-height: 578px">
          <!-- left -->
          <div class="d-flex flex-column flex-shrink-0" style="width: 178px">
            <h3 class="title-sub mb-4">객실정보 변경</h3>
            <div class="box-border flex-grow-1 pa-2">
              <template v-for="(item, index) in roomTypes">
                <div class="d-flex mb-2">
                  <!-- 객실타입 버튼 -->
                  <v-btn
                    size="small"
                    class="custom-btn-icon"
                    style="width: 128px; margin-right: 2px"
                    :color="
                      viewState.rowId === item.id ? 'primary' : 'darkgrey'
                    "
                    :disabled="viewState.isNewReady"
                    @click="doClickRow(item)"
                  >
                    {{ item.name }}
                  </v-btn>
                  <!-- 삭제 버튼 -->
                  <v-btn
                    size="small"
                    class="custom-btn-icon"
                    min-width="20px"
                    style="padding: 0 7px"
                    :color="viewState.rowId === item.id ? 'secondary' : 'grey'"
                    :disabled="viewState.rowId !== item.id"
                    @click="doDelItem(item, $event)"
                  >
                    <v-icon
                      :color="viewState.rowId === item.id ? 'white' : 'grey'"
                      >mdi-trash-can-outline</v-icon
                    >
                  </v-btn>
                </div>
              </template>

              <v-btn
                color="secondary"
                size="small"
                style="width: 100%"
                class="custom-btn-icon mt-2"
                variant="outlined"
                :append-icon="
                  viewState.isNewReady
                    ? 'mdi-checkbox-marked-outline'
                    : 'mdi-plus'
                "
                @click="doNewReady()"
              >
                객실추가
                <template v-slot:append>
                  <v-icon color="darkgrey"></v-icon>
                </template>
              </v-btn>
            </div>
          </div>
          <!-- //left -->

          <!-- right -->
          <div class="ml-2 flex-grow-1">
            <fieldset class="field-set mb-5">
              <h3 class="title-sub mb-2">기본 정보</h3>
              <v-table>
                <colgroup>
                  <col style="width: 100px" />
                  <col />
                  <col style="width: 100px" />
                  <col />
                </colgroup>
                <tbody>
                  <tr>
                    <th class="text-left">타입명</th>
                    <td>
                      <input
                        type="text"
                        class="input"
                        style="width: 150px"
                        v-model="dataState.name"
                        ref="typeName"
                      />
                    </td>
                    <th class="text-left">투숙인원</th>
                    <td>
                      <div class="input-counter" style="width: 140px">
                        <PersonInput
                          v-model="dataState.person"
                          :init-person="rowData?.person"
                        ></PersonInput>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="text-left">설명</th>
                    <td colspan="3">
                      <input
                        type="text"
                        class="input"
                        placeholder="객실에 관련된 설명을 입력하세요."
                        v-model="dataState.disc"
                      />
                    </td>
                  </tr>
                </tbody>
              </v-table>
            </fieldset>
            <fieldset class="field-set mb-5">
              <div class="d-flex align-center mb-2">
                <h3 class="title-sub">기본 요금</h3>
                <div class="body-2 color-secondary ml-auto">
                  <v-radio-group
                    style="font-size: 12px; color: black"
                    hide-details
                    density="compact"
                    inline
                    v-model="basicPriceConfig.step"
                  >
                    <v-radio
                      color="success"
                      label="1천원"
                      :value="1000"
                    ></v-radio>
                    <v-radio
                      color="success"
                      label="5천원"
                      :value="5000"
                      class="ml-1"
                    ></v-radio>
                    <v-radio
                      color="success"
                      label="1만원"
                      :value="10000"
                      class="ml-1"
                    ></v-radio>
                  </v-radio-group>
                </div>
              </div>
              <v-table>
                <colgroup>
                  <col style="width: 100px" />
                  <col />
                  <col style="width: 100px" />
                  <col />
                </colgroup>
                <tbody>
                  <tr>
                    <th class="text-left">숙박</th>
                    <td>
                      <div class="input-counter" style="width: 150px">
                        <NumberInput
                          v-model="dataState.default_fee_stay"
                          :init-value="rowData?.default_fee_stay"
                          :up-down-config="basicPriceConfig"
                          :fmt-comma="true"
                          :editable="true"
                          :not-null="true"
                          unit="원"
                        ></NumberInput>
                      </div>
                    </td>
                    <th class="text-left">대실</th>
                    <td>
                      <div class="input-counter" style="width: 150px">
                        <NumberInput
                          v-model="dataState.default_fee_rent"
                          :init-value="rowData?.default_fee_rent"
                          :up-down-config="basicPriceConfig"
                          :fmt-comma="true"
                          :editable="true"
                          :not-null="true"
                          unit="원"
                        ></NumberInput>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </v-table>
            </fieldset>
            <fieldset class="field-set mb-5">
              <div class="d-flex align-center mb-2">
                <h3 class="title-sub">추가 요금</h3>
                <div class="body-2 color-secondary ml-auto">
                  <v-radio-group
                    style="font-size: 12px; color: black"
                    hide-details
                    density="compact"
                    inline
                    v-model="addPriceConfig.step"
                  >
                    <v-radio
                      color="success"
                      label="1천원"
                      :value="1000"
                    ></v-radio>
                    <v-radio
                      color="success"
                      label="5천원"
                      :value="5000"
                      class="ml-1"
                    ></v-radio>
                    <v-radio
                      color="success"
                      label="1만원"
                      :value="10000"
                      class="ml-1"
                    ></v-radio>
                  </v-radio-group>
                </div>
              </div>
              <v-table>
                <colgroup>
                  <col style="width: 100px" />
                  <col />
                  <col style="width: 100px" />
                  <col />
                </colgroup>
                <tbody>
                  <tr>
                    <th class="text-left">카드결제 추가</th>
                    <td>
                      <div class="input-counter" style="width: 150px">
                        <NumberInput
                          v-model="dataState.card_add_fee"
                          :init-value="rowData?.card_add_fee"
                          :up-down-config="addPriceConfig"
                          :fmt-comma="true"
                          :editable="true"
                          :not-null="true"
                          unit="원"
                        ></NumberInput>
                      </div>
                    </td>
                    <th class="text-left">인원추가(인당)</th>
                    <td>
                      <div class="input-counter" style="width: 150px">
                        <NumberInput
                          v-model="dataState.person_add_fee"
                          :init-value="rowData?.person_add_fee"
                          :up-down-config="addPriceConfig"
                          :fmt-comma="true"
                          :editable="true"
                          :not-null="true"
                          unit="원"
                        ></NumberInput>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </v-table>
            </fieldset>
            <fieldset class="field-set mb-5">
              <div class="d-flex align-center mb-2">
                <h3 class="title-sub">예약 할인</h3>
                <div class="body-2 color-secondary ml-auto">
                  <v-radio-group
                    style="font-size: 12px; color: black"
                    hide-details
                    density="compact"
                    inline
                    v-model="bookingPriceConfig.step"
                  >
                    <v-radio
                      color="success"
                      label="1천원"
                      :value="1000"
                    ></v-radio>
                    <v-radio
                      color="success"
                      label="5천원"
                      :value="5000"
                      class="ml-1"
                    ></v-radio>
                    <v-radio
                      color="success"
                      label="1만원"
                      :value="10000"
                      class="ml-1"
                    ></v-radio>
                  </v-radio-group>
                </div>
              </div>
              <v-table>
                <colgroup>
                  <col style="width: 100px" />
                  <col />
                  <col style="width: 100px" />
                  <col />
                </colgroup>
                <tbody>
                  <tr>
                    <th class="text-left">숙박</th>
                    <td>
                      <div class="input-counter" style="width: 150px">
                        <NumberInput
                          v-model="dataState.reserv_discount_fee_stay"
                          :init-value="rowData?.reserv_discount_fee_stay"
                          :up-down-config="bookingPriceConfig"
                          :fmt-comma="true"
                          :editable="true"
                          :not-null="true"
                          unit="원"
                        ></NumberInput>
                      </div>
                    </td>
                    <th class="text-left">대실</th>
                    <td>
                      <div class="input-counter" style="width: 150px">
                        <NumberInput
                          v-model="dataState.reserv_discount_fee_rent"
                          :init-value="rowData?.reserv_discount_fee_rent"
                          :up-down-config="bookingPriceConfig"
                          :fmt-comma="true"
                          :editable="true"
                          :not-null="true"
                          unit="원"
                        ></NumberInput>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </v-table>
            </fieldset>
            <fieldset class="field-set">
              <h3 class="title-sub mb-2">OTA 표시 타입명</h3>
              <v-table>
                <colgroup>
                  <col style="width: 100px" />
                  <col />
                </colgroup>
                <tbody>
                  <tr>
                    <th class="text-left">OTA 1</th>
                    <td>
                      <input
                        type="text"
                        class="input"
                        placeholder="타입명 입력"
                        v-model="dataState.ota_name_1"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th class="text-left">OTA 2</th>
                    <td>
                      <input
                        type="text"
                        class="input"
                        placeholder="타입명 입력"
                        v-model="dataState.ota_name_2"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th class="text-left">OTA 3</th>
                    <td>
                      <input
                        type="text"
                        class="input"
                        placeholder="타입명 입력"
                        v-model="dataState.ota_name_3"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th class="text-left">OTA 4</th>
                    <td>
                      <input
                        type="text"
                        class="input"
                        placeholder="타입명 입력"
                        v-model="dataState.ota_name_4"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th class="text-left">OTA 5</th>
                    <td>
                      <input
                        type="text"
                        class="input"
                        placeholder="타입명 입력"
                        v-model="dataState.ota_name_5"
                      />
                    </td>
                  </tr>
                </tbody>
              </v-table>
            </fieldset>
          </div>
          <!-- //right -->
        </v-row>
      </div>
      <!-- //popup-contents -->
    </template>
    <!-- //slot -->
  </Popup>
  <!-- //popup -->

  <!-- popup -->
</template>

<script setup lang="ts">
import Popup from '@/components/popup/popup.vue';
import _ from 'lodash';
import dayjs from 'dayjs';
import NumberInput from '@/components/compo/NumberInput.vue';
import PersonInput from '@/components/compo/PersonInput.vue';

import { ref, reactive, computed, onMounted } from 'vue';
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import { PopupParam, Preference, RoomType, UserAction } from '@/types';
import { roomTypeBiz, RoomTypeExt } from '@/biz/roomTypeBiz';
import { preferencesBiz } from '@/biz/preferencesBiz';
import { viewUtil, UpDownConfig, UpDownConfigClass } from '@/utils/view-util';

// =========================================================
// 타입
// =========================================================
interface ViewState {
  isNewReady: boolean;
  rowId: number;
}

// =========================================================
// 선언
// =========================================================
const store = useStore();
const route = useRoute();

const user = store.getters['user'];
const popupLink = route.path.substring(1); // 앞에 '/'' 제거

const viewState: ViewState = reactive({
  isNewReady: false,
  rowId: null,
});

const dataState: RoomType = reactive({
  id: null,
  place_id: user.place_id,
  name: null,
  disc: null,
  person: 2,
  default_fee_stay: null,
  default_fee_rent: null,
  person_add_fee: null,
  reserv_discount_fee_stay: null,
  reserv_discount_fee_rent: null,
  card_add_fee: null,
  over_time_fee_stay: 0,
  over_time_fee_rent: 0,
  ota_name_1: null,
  ota_name_2: null,
  ota_name_3: null,
  ota_name_4: null,
  ota_name_5: null,
});

const basicPriceConfig: UpDownConfig = reactive(
  new UpDownConfigClass(0, null, 5000)
);
const addPriceConfig: UpDownConfig = reactive(
  new UpDownConfigClass(0, null, 1000)
);
const bookingPriceConfig: UpDownConfig = reactive(
  new UpDownConfigClass(0, null, 1000)
);

const typeName = ref(null);

// =========================================================
// 초기 조회
// =========================================================
const init = async () => {
  await preferencesBiz.preference(store, user.place_id);
  await roomTypeBiz.roomTypes(store, user.place_id);
};

// =========================================================
// COMPUTED
// =========================================================
const pref = computed<Preference>(() => preferencesBiz.getterPreference(store));

const roomTypes = computed<RoomType[]>(() =>
  roomTypeBiz.getterRoomTypes(store)
);

const rowData = computed<RoomType>(() => {
  if (viewState.rowId === null) return null;
  return roomTypes.value?.find((item: RoomType) => item.id === viewState.rowId);
});

const hasMasterLevel = computed<boolean>(() => user.level <= 2);

// =========================================================
// WATCH
// =========================================================

// =========================================================
// 기능
// =========================================================
const setData = (item: RoomType) => {
  viewState.isNewReady = false;

  dataState.id = item.id;
  (dataState.place_id = item.place_id), (dataState.name = item.name);
  dataState.disc = item.disc;
  dataState.person = item.person;
  dataState.default_fee_stay = item.default_fee_stay;
  dataState.default_fee_rent = item.default_fee_rent;
  dataState.person_add_fee = item.person_add_fee;
  dataState.reserv_discount_fee_stay = item.reserv_discount_fee_stay;
  dataState.reserv_discount_fee_rent = item.reserv_discount_fee_rent;
  dataState.card_add_fee = item.card_add_fee;
  dataState.over_time_fee_stay = item.over_time_fee_stay;
  dataState.over_time_fee_rent = item.over_time_fee_rent;
  dataState.ota_name_1 = item.ota_name_1;
  dataState.ota_name_2 = item.ota_name_2;
  dataState.ota_name_3 = item.ota_name_3;
  dataState.ota_name_4 = item.ota_name_4;
  dataState.ota_name_5 = item.ota_name_5;
};

const emptyData = () => {
  dataState.id = null;
  dataState.place_id = user.place_id;
  dataState.name = null;
  dataState.disc = null;
  dataState.person = 2;
  dataState.default_fee_stay = null;
  dataState.default_fee_rent = null;
  dataState.person_add_fee = null;
  dataState.reserv_discount_fee_stay = null;
  dataState.reserv_discount_fee_rent = null;
  dataState.card_add_fee = null;
  dataState.over_time_fee_stay = 0;
  dataState.over_time_fee_rent = 0;
  dataState.ota_name_1 = null;
  dataState.ota_name_2 = null;
  dataState.ota_name_3 = null;
  dataState.ota_name_4 = null;
  dataState.ota_name_5 = null;

  popup.saveAction.disabled = false;
};

const clear = () => {
  viewState.isNewReady = false;
  viewState.rowId = null;
  emptyData();
};

// =========================================================
// 사용자 액션
// =========================================================
// 신규 선택.
const doNewReady = () => {
  viewState.isNewReady = true;
  viewState.rowId = null;
  emptyData();
  typeName.value.focus();
};

// 행 선택.
const doClickRow = (item: RoomType) => {
  if (viewState.isNewReady) {
    return;
  }

  if (viewState.rowId === item.id) {
    // 같은 항목 선택. 해제한다.
    viewState.rowId = null;
    emptyData();
    popup.saveAction.disabled = true;
  } else {
    // 다른 항목이면 선택한다.
    viewState.rowId = item.id;
    setData(item);
    popup.saveAction.disabled = false;
  }
};

// 저장.
const doSave = async () => {
  console.log(`*** doSave() - viewState.isNewReady: ${viewState.isNewReady}`);
  if (viewState.isNewReady) {
    await doNewItem();
  } else {
    await doSetItem();
  }
};

// 신규.
const doNewItem = async () => {
  const item = {
    ...dataState,
    reg_date: dayjs().format('YYYY-MM-DD HH:mm:ss'),
  };

  await roomTypeBiz.newRoomType(store, item, (_success: boolean) => {
    if (_success) {
      clear(); // 뒷정리.
    }
  });
};

// 수정.
const doSetItem = async () => {
  const item: RoomType = {
    ...dataState,
    mod_date: dayjs().format('YYYY-MM-DD HH:mm:ss'),
  };

  await roomTypeBiz.setRoomType(
    store,
    item,
    rowData.value,
    (_success: boolean) => {
      if (_success) {
        clear(); // 뒷정리.
      }
    }
  );
};

// 삭제.
const doDelItem = async (item: RoomType, e: Event) => {
  e.stopPropagation();
  await roomTypeBiz.delRoomType(store, item, (_success: boolean) => {
    if (_success) {
      clear(); // 뒷정리.
    }
  });
};

// =========================================================
// 정보 & onMounted
// =========================================================
onMounted(async () => {
  init();
});

const popup: PopupParam = reactive({
  title: '객실타입 관리',
  theme: 'theme-popup-dark',
  size: 'size-smd',
  align: 'mx-auto',
  pin: false,
  link: popupLink,
  saveAction: { disabled: true, action: doSave } as UserAction,
});
</script>
