<template>
  <!-- popup -->
  <Popup :popup="popup" style="width: 480px; min-height: 490px">
    <!-- slot -->
    <template v-slot:body>
      <!-- popup-contents -->
      <div class="popup-contents">
        <!-- field-set -->
        <fieldset class="field-set">
          <div class="field-box" style="border: 0; background-color: #3c4d60">
            <v-checkbox
              v-model="choseStates.outing"
              hide-details
              density="compact"
              color="secondary"
              label="외출"
              class="light"
              style="color: #fff"
            ></v-checkbox>
            <v-checkbox
              v-model="choseStates.door"
              hide-details
              density="compact"
              color="secondary"
              label="출입문"
              class="light"
              style="color: #fff"
            ></v-checkbox>
            <v-checkbox
              v-model="choseStates.stay2"
              hide-details
              density="compact"
              color="secondary"
              label="대실"
              class="light"
              style="color: #fff"
            ></v-checkbox>
            <v-checkbox
              v-model="choseStates.stay1"
              hide-details
              density="compact"
              color="secondary"
              label="숙박"
              class="light"
              style="color: #fff"
            ></v-checkbox>
            <v-checkbox
              v-model="choseStates.stay3"
              hide-details
              density="compact"
              color="secondary"
              label="장기"
              class="light"
              style="color: #fff"
            ></v-checkbox>
            <v-checkbox
              v-model="choseStates.key"
              hide-details
              density="compact"
              color="secondary"
              label="키"
              class="light"
              style="color: #fff"
            ></v-checkbox>
          </div>
          <div class="field-box" style="margin-top: -1px">
            <v-select
              v-model="floorNo"
              :items="floors"
              item-value="no"
              item-title="name"
              density="compact"
              hide-details
              style="width: 90px; margin-right: 6px"
            >
            </v-select>
            <v-select
              v-model="roomId"
              :items="floorRooms"
              item-value="id"
              item-title="name"
              density="compact"
              hide-details
              style="width: 130px; margin-right: 6px"
            >
            </v-select>
            <div class="input-search">
              <input
                type="text"
                placeholder="검색어를 입력하세요"
                @keyup="doFloorRoomsFilter($event)"
              />
              <v-icon>mdi-magnify</v-icon>
              <!-- <v-btn density="compact" size="small" icon="mdi-magnify"></v-btn> -->
            </div>
          </div>
        </fieldset>
        <!-- //field-set -->

        <!-- field-set -->
        <fieldset class="field-set mt-2">
          <!-- table -->
          <v-table fixed-header height="300px" class="overflow-y-auto">
            <colgroup>
              <col style="width: 20px" />
              <col style="width: 80px" />
              <col style="width: *" />
              <col style="width: 80px" />
            </colgroup>
            <thead>
              <!-- <th><v-checkbox color="secondary" hide-details density="compact"></v-checkbox></th> -->
              <th>no</th>
              <th>호실 타입</th>
              <th>상태</th>
              <th>일시</th>
            </thead>
            <tbody>
              <!-- controlStateEvents -->
              <tr v-for="(item, index) in controlStateEvents">
                <td class="text-center">
                  {{
                    controlStateEvents.length +
                    controlStateLogs.length -
                    (controlStateLogs.length + index)
                  }}
                </td>
                <td class="text-center">
                  <!-- <v-checkbox color="white" hide-details density="compact"></v-checkbox> -->
                  {{ item.room_name }}
                  <span style="font-size: 0.6rem">{{ item.type_name }}</span>
                </td>
                <td>
                  <v-icon v-if="item.highlight" color="yellow mr-2"
                    >mdi-alert</v-icon
                  >
                  <v-icon v-else color="primary mr-2">mdi-alert-circle</v-icon>
                  <template v-for="(msg, index) in item.msgs">
                    <span>{{ msg }}</span>
                    <span v-if="index < item.msgs.length - 1"> | </span>
                  </template>
                  <!-- <span class="color-secondary">전원차단</span>
                    <span> | </span>
                    <span>공실상태</span>
                    <span> | </span>
                    <span class="color-aqua">청소요청</span> -->
                </td>
                <td class="text-center">
                  <span>{{ dayjs(item.reg_date).format('HH:mm:ss') }}</span>
                </td>
              </tr>
              <!-- //controlStateEvents -->

              <!-- controlStateLogs -->
              <tr v-for="(item, index) in controlStateLogs">
                <td class="text-center">
                  {{ controlStateLogs.length - index }}
                </td>
                <td class="text-center">
                  {{ item.room_name }}
                  <span style="font-size: 0.6rem">{{ item.type_name }}</span>
                </td>
                <td>
                  <v-icon v-if="item.highlight" color="yellow mr-2"
                    >mdi-alert</v-icon
                  >
                  <v-icon v-else color="primary mr-2">mdi-alert-circle</v-icon>
                  <template v-for="(msg, index) in item.msgs">
                    <span>{{ msg }}</span>
                    <span v-if="index < item.msgs.length - 1"> | </span>
                  </template>
                </td>
                <td class="text-center">
                  <span>{{ dayjs(item.reg_date).format('HH:mm:ss') }}</span>
                </td>
              </tr>
              <!-- //controlStateLogs -->
            </tbody>
          </v-table>
          <!-- //table -->
        </fieldset>
        <!--// field-set -->
      </div>
      <!-- //popup-contents -->
    </template>
    <!-- //slot -->
    <template v-slot:footer>
      <div style="height: 20px"></div>
    </template>
  </Popup>
  <!-- //popup -->
</template>

<script setup lang="ts">
import Popup from '@/components/popup/popup.vue';
import { ref, computed, watch, onMounted } from 'vue';
import { useStore } from 'vuex';
import { Floor, FloorRoom, Room, RoomStateLog } from '@/types';
import { roomBiz } from '@/biz/roomBiz';
import { roomStateLogBiz } from '@/biz/roomStateLogBiz';
import { viewUtil } from '@/utils/view-util';
import {
  controlStateBiz,
  ControlState,
  ChoseStates,
  ChoseStatesClass,
} from '@/biz/controlStateBiz';
import dayjs from 'dayjs';
import _ from 'lodash';

// =========================================================
// 선언
// =========================================================
const store = useStore();
const user = store.getters['user'];
console.log(`*** room_event - user ::`, user);

const choseStates = ref<ChoseStates>(new ChoseStatesClass());
const floorNo = ref<number>(0);
const roomId = ref<number>(0);
const roomsFilter = ref<string>(null);

// =========================================================
// 초기 조회
// =========================================================
roomBiz.roomsByPlaceId(store, user.place_id);
roomBiz.roomFloors(store, user.place_id);
roomStateLogBiz.roomStateDayLogs(store, user.place_id, -1);

// =========================================================
// COMPUTED
// =========================================================
// 층 목록.
const floors = computed<Floor[]>(() => {
  let list = roomBiz.getterFloors(store);
  list = _.cloneDeep(list);
  list.splice(0, 0, { no: 0, name: '층선택', room_count: 0, room_infos: '' });
  return list;
});

// 층별 객실 목록.
const floorRooms = computed<FloorRoom[]>(() => {
  let list = roomBiz.getterFloorRooms(store, floorNo.value);
  list = _.cloneDeep(list);
  list.splice(0, 0, { id: 0, name: '객실선택' });
  return list;
});

// 전체 객실 목록.
const rooms = computed<Room[]>(() => roomBiz.getterRooms(store));

// 이벤트 내용.
const controlStateEvents = computed<ControlState[]>(() => {
  let csList = store.getters['controlState/list'];
  console.log(
    `*** room_event - COMPUTED controlStateEvents - csList ::`,
    csList
  );
  csList = _.cloneDeep(csList); // 메세지 설정을 위해 깊은 복사.
  return controlStateBiz.filtering(
    csList,
    choseStates,
    floorNo,
    roomId,
    roomsFilter
  );
});

// 객실 상태 로그 내용.
const controlStateLogs = computed<ControlState[]>(() => {
  let roomStateLogList = roomStateLogBiz.getterRoomStateLogs(store);
  // console.log(`*** MainRoomEvents - controlStateLogs - roomStateLogList ::`, roomStateLogList);

  // ControlState[]로 변환.
  let csList = roomStateLogList.map((roomStateLog: RoomStateLog) => {
    const room = rooms.value.find((room) => room.id === roomStateLog.room_id);
    return controlStateBiz.valueOfRoomStateLog(roomStateLog, room);
  });
  // return filtering(csList);
  return controlStateBiz.filtering(
    csList,
    choseStates,
    floorNo,
    roomId,
    roomsFilter
  );
});

// =========================================================
// WATCH
// =========================================================
watch(
  () => floorNo.value,
  () => {
    // console.log(`*** MainRoomEvents - floorNo ::`, floorNo.value);
    roomId.value = 0;
  }
);

// =========================================================
// 기능
// =========================================================

// =========================================================
// 사용자 액션
// =========================================================
const doFloorRoomsFilter = (e: Event) => {
  const filterStr = (e.target as HTMLInputElement).value.trim();
  if (filterStr.length > 0) {
    roomsFilter.value = filterStr;
  } else {
    roomsFilter.value = null;
  }
};

// =========================================================
// 정보 & onMounted
// =========================================================
const popup = {
  title: '객실이력',
  theme: 'theme-popup-light',
  size: 'size-auto',
  align: 'mx-auto',
  pin: false,
};
</script>
