<template>
  <div class="mt-4">
    <!-- field-set -->
    <fieldset class="field-set">
      <h3 class="title-sub mb-2">예약정보 {{ newEditName }}</h3>
      <v-table class="not-overflow">
        <colgroup>
          <col style="width: 120px" />
          <col />
          <col style="width: 120px" />
          <col />
        </colgroup>
        <tbody>
          <tr>
            <th class="text-center">숙박형태</th>
            <td>
              <v-radio-group
                hide-details
                density="compact"
                inline
                v-model="dataState.stay_type"
              >
                <v-radio
                  :value="booking.StayType.STAY"
                  :style="{ color: stayTypeColor[1] }"
                >
                  <template v-slot:label>
                    <span style="color: black !important">숙박</span>
                  </template>
                </v-radio>
                <v-radio
                  label="대실"
                  :value="booking.StayType.SHORT"
                  class="ml-4"
                  :style="{ color: stayTypeColor[2] }"
                >
                  <template v-slot:label>
                    <span style="color: black !important">대실</span>
                  </template>
                </v-radio>
              </v-radio-group>
            </td>
            <th class="text-center">예약상태</th>
            <td>
              <v-radio-group
                hide-details
                density="compact"
                inline
                v-model="dataState.state"
                :disabled="props.bookingControl.isNewMode"
              >
                <v-radio
                  color="secondary"
                  label="정상예약"
                  :value="booking.State.NORMAL"
                ></v-radio>
                <v-radio
                  color="secondary"
                  label="사용완료"
                  :value="booking.State.USED"
                  class="ml-4"
                ></v-radio>
                <v-radio
                  color="secondary"
                  label="예약취소"
                  :value="booking.State.CANCEL"
                  class="ml-4"
                ></v-radio>
              </v-radio-group>
            </td>
          </tr>
          <tr>
            <th class="text-center">예약방법</th>
            <td>
              <v-select
                v-model="dataState.ota_code"
                value="선택"
                :items="otaList"
                item-value="value"
                item-title="name"
                density="compact"
                class="custom-select"
                hide-details
                style="width: 530px !important"
              ></v-select>
            </td>
            <th class="text-center">예약일</th>
            <td>
              <input
                type="text"
                class="input"
                readonly
                :value="dayjs(dataState.reserv_date).format('YYYY-MM-DD HH:mm')"
              />
            </td>
          </tr>
          <tr>
            <th class="text-center">객실타입</th>
            <td>
              <v-select
                v-model="dataState.room_type_id"
                value="선택"
                :items="roomTypeList"
                item-value="id"
                item-title="name"
                density="compact"
                class="custom-select"
                hide-details
                style="width: 530px !important"
              ></v-select>
            </td>
            <th class="text-center">객실배정</th>
            <td>
              <div class="d-flex align-center" style="gap: 8px">
                <v-select
                  class="custom-select"
                  hide-details
                  style="width: 360px !important"
                  :items="emptyRooms"
                  value="선택"
                  no-data-text="예약 가능한 객실이 없습니다."
                  density="compact"
                ></v-select>
                <v-btn
                  density="compact"
                  size="small"
                  icon="mdi-refresh"
                  @click=""
                ></v-btn>
                <v-checkbox
                  hide-details
                  density="compact"
                  color="secondary"
                  label="자동배정"
                ></v-checkbox>
              </div>
            </td>
          </tr>
          <tr>
            <th class="text-center">입실 예정일</th>
            <td>
              <div class="d-flex align-center" style="gap: 8px">
                <!-- <VueDatePicker v-model="dates" class="date-custom" style="width:200px;"></VueDatePicker> -->
                <VueDatePicker
                  class="date-custom"
                  style="width: 200px"
                  locale="ko"
                  week-start="0"
                  input-class-name="_date_input"
                  select-text="선택"
                  v-model="dataState.check_in_exp"
                  :format="viewUtil.dpFormat"
                  :clearable="false"
                  :enable-time-picker="false"
                  @update:model-value=""
                ></VueDatePicker>
                <div class="input-counter" style="width: 120px">
                  <HourInput v-model="beginDate"></HourInput>
                </div>
                <div class="input-counter" style="width: 120px">
                  <MinuteInputVue v-model="beginDate"></MinuteInputVue>
                </div>
              </div>
            </td>
            <th class="text-center">퇴실 예정일</th>
            <td>
              <div class="d-flex align-center" style="gap: 8px">
                <!-- <VueDatePicker v-model="dates" class="date-custom" style="width:200px;"></VueDatePicker> -->
                <span style="width: 140px">{{
                  dataState.check_out_exp
                    ? dayjs(dataState.check_out_exp).format('YYYY년 M월 D일')
                    : ''
                }}</span>

                <div class="input-counter" style="width: 120px">
                  <HourInput v-model="endDate"></HourInput>
                </div>
                <div class="input-counter" style="width: 120px">
                  <MinuteInputVue v-model="endDate"></MinuteInputVue>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th class="text-center">휴대폰 번호</th>
            <td>
              <input type="text" class="input" v-model="dataState.hp" />
            </td>
            <th class="text-center">예약번호</th>
            <td>
              <div class="d-flex align-center" style="gap: 8px">
                <input
                  type="text"
                  class="input"
                  :value="
                    dataState.reserv_num?.replace(/\B(?=(\d{4})+(?!\d))/g, '-')
                  "
                />
                <v-btn
                  color="secondary"
                  size="small"
                  style="min-width: 100px"
                  @click="doGenReservNum()"
                  >번호 자동 생성</v-btn
                >
              </div>
            </td>
          </tr>
          <tr>
            <th class="text-center">고객명</th>
            <td>
              <input type="text" class="input" v-model="dataState.name" />
            </td>
            <th class="text-center">방문형태</th>
            <td>
              <div class="d-flex align-center" style="gap: 8px">
                <v-radio-group
                  hide-details
                  density="compact"
                  inline
                  v-model="dataState.visit_type"
                >
                  <v-radio
                    color="secondary"
                    label="도보방문"
                    :value="booking.VisitType.WALK"
                  ></v-radio>
                  <v-radio
                    color="secondary"
                    label="차량방문"
                    :value="booking.VisitType.CAR"
                    class="ml-4"
                  ></v-radio>
                  <v-radio
                    color="secondary"
                    label="대중교통"
                    :value="booking.VisitType.PUBLIC"
                    class="ml-4"
                  ></v-radio>
                </v-radio-group>
              </div>
            </td>
          </tr>
          <tr>
            <th class="text-center">판매가</th>
            <td>
              <input
                type="text"
                class="input"
                readonly
                :value="viewUtil.commaWon(dataState.room_fee)"
              />
            </td>
            <th class="text-center">예약가</th>
            <td>
              <div class="d-flex align-center" style="gap: 8px">
                <div class="input-counter" style="width: 350px">
                  <NumberInput
                    v-model="dataState.reserv_fee"
                    :up-down-config="moneyConfig"
                    :fmt-comma="true"
                    unit="원"
                  ></NumberInput>
                </div>
                <v-btn
                  color="grey"
                  size="small"
                  style="min-width: 40px"
                  @click="dataState.reserv_fee += 1000"
                  >+ 1천</v-btn
                >
                <v-btn
                  color="grey"
                  size="small"
                  style="min-width: 40px"
                  @click="dataState.reserv_fee += 5000"
                  >+ 5천</v-btn
                >
                <v-btn
                  color="grey"
                  size="small"
                  style="min-width: 40px"
                  @click="dataState.reserv_fee += 10000"
                  >+ 1만</v-btn
                >
              </div>
            </td>
          </tr>
          <tr>
            <th class="text-center">OTA 결제</th>
            <td>
              <div class="d-flex align-center" style="gap: 8px">
                <div class="input-counter" style="width: 350px">
                  <NumberInput
                    v-model="dataState.prepay_ota_amt"
                    :up-down-config="moneyConfig"
                    :fmt-comma="true"
                    unit="원"
                  ></NumberInput>
                </div>
                <v-btn
                  color="grey"
                  size="small"
                  style="min-width: 40px"
                  @click="dataState.prepay_ota_amt += 1000"
                  >+ 1천</v-btn
                >
                <v-btn
                  color="grey"
                  size="small"
                  style="min-width: 40px"
                  @click="dataState.prepay_ota_amt += 5000"
                  >+ 5천</v-btn
                >
                <v-btn
                  color="grey"
                  size="small"
                  style="min-width: 40px"
                  @click="dataState.prepay_ota_amt += 10000"
                  >+ 1만</v-btn
                >
              </div>
            </td>
            <th class="text-center">결제잔금</th>
            <td>
              <input type="text" class="input" />
            </td>
          </tr>
          <tr>
            <th class="text-center">고객메모</th>
            <td colspan="3">
              <textarea
                class="textarea"
                placeholder="고객 메모가 없습니다."
                style="height: 200px; margin: 6px 0"
              ></textarea>
            </td>
          </tr>
        </tbody>
      </v-table>
    </fieldset>
  </div>
</template>

<style>
._date_input {
  font-size: 0.8rem;
}
.dp__selection_preview {
  /* color: var(--dp-primary-color); */
  color: rgb(var(--v-theme-success)) !important;
  font-weight: 500;
}
.dp__action_cancel {
  display: none;
}
.dp__action_select {
  width: 43px;
  height: 26px;
  font-size: 13px;
}
</style>

<script setup lang="ts">
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import NumberInput from '@/components/compo/NumberInput.vue';
import HourInput from '@/components/compo/HourInput.vue';
import MinuteInputVue from '@/components/compo/MinuteInput.vue';
import dayjs, { Dayjs } from 'dayjs';

import { ref, reactive, computed, onMounted } from 'vue';
import { useStore } from 'vuex';
import {
  Preference,
  RoomType,
  Room,
  Booking,
  StayItem,
  StringValue,
  NumberValue,
} from '@/types';
import { enumName, booking } from '@/constants/enums';
import { roomTypeBiz } from '@/biz/roomTypeBiz';
import { preferencesBiz } from '@/biz/preferencesBiz';
import { bookingBiz, BookingSet } from '@/biz/bookingBiz';
import { viewUtil, UpDownConfig, UpDownConfigClass } from '@/utils/view-util';

// =========================================================
// 선언
// =========================================================
const props = defineProps(['bookingControl']);

const store = useStore();
const user = store.getters['user'];
// console.log(`*** user ::`, JSON.stringify(user));

const dates = ref(null);

const dataState: BookingSet = reactive({
  id: null,
  place_id: user.place_id, //업소 고유번호
  room_type_id: null, //객실 타입 고유번호
  room_id: null, //객실 id 참조
  reserv_num: null, //예약번호 야놀자16자리 또는 여기어때 8자리
  state: booking.State.NORMAL, //예약 상태 (A:정상, B:취소, C:완료)
  stay_type: null, //투숙형태 (1:숙박, 2:대실, 3:장기)
  ota_code: null, //예약 OTA (1:야놀자, 2:여기어때 등등)
  ota_type: null, //OTA 예약 형태 (1:OTA 자동예약, 2: OTA 수동 예약)
  name: null, //예약자명
  hp: null, //예약자 전화번호(안심번호)
  reserv_date: dayjs().format('YYYY-MM-DD HH:mm'), //예약 일시
  check_in_exp: null, //입실 예정일시
  check_out_exp: null, //퇴실 예정 일시
  room_fee: null, //객실 판매 단가
  reserv_fee: 0, //예약객실 공급단가
  prepay_ota_amt: 0, //OTA 예약 금액
  // prepay_cash_amt: 0,    //선수(예약) 현금 금액
  // prepay_card_amt: 0,    //선수(예약) 카드 금액
  visit_type: null, //방문 형태 (1:도보, 2:자가용, 3:대중교통)
  memo: null, //메모
});

// 숙박형태 값 목록.
const stayTypeList: NumberValue[] = [
  {
    name: enumName(booking.StayType, booking.StayType.STAY),
    value: booking.StayType.STAY as number,
  },
  {
    name: enumName(booking.StayType, booking.StayType.SHORT),
    value: booking.StayType.SHORT as number,
  },
];

// 예약상태 값 목록.
const bookingStateList: StringValue[] = [
  {
    name: enumName(booking.State, booking.State.NORMAL),
    value: booking.State.NORMAL,
  },
  {
    name: enumName(booking.State, booking.State.CANCEL),
    value: booking.State.CANCEL,
  },
  {
    name: enumName(booking.State, booking.State.USED),
    value: booking.State.USED,
  },
];

// 예약방법.
const otaList: NumberValue[] = [
  { name: '선택', value: null },
  {
    name: enumName(booking.Ota, booking.Ota.YANOLJA),
    value: booking.Ota.YANOLJA as number,
  },
  {
    name: enumName(booking.Ota, booking.Ota.YEUGINN),
    value: booking.Ota.YEUGINN as number,
  },
  {
    name: enumName(booking.Ota, booking.Ota.NAVER),
    value: booking.Ota.NAVER as number,
  },
  {
    name: enumName(booking.Ota, booking.Ota.AIRBNB),
    value: booking.Ota.AIRBNB as number,
  },
  {
    name: enumName(booking.Ota, booking.Ota.HOTELNOW),
    value: booking.Ota.HOTELNOW as number,
  },
  {
    name: enumName(booking.Ota, booking.Ota.ETC),
    value: booking.Ota.ETC as number,
  },
  {
    name: enumName(booking.Ota, booking.Ota.DIRECT),
    value: booking.Ota.DIRECT as number,
  },
];

// 객실유형 값 목록.
const roomTypeList = ref<NumberValue[]>([{ name: '선택', value: null }]);

const beginDate = ref<Dayjs>(dayjs());
const endDate = ref<Dayjs>(dayjs());

const stayTypeColor = ref<object>({ 1: 'black', 2: 'black' });

const moneyConfig = new UpDownConfigClass(0, null, 1000);

// =========================================================
// 초기 조회
// =========================================================
const initData = async () => {
  await preferencesBiz.preference(store, user.place_id);
  await roomTypeBiz.roomTypes(store, user.place_id);
};

// =========================================================
// COMPUTED
// =========================================================
// 설정.
const pref = computed<Preference>(() => preferencesBiz.getterPreference(store));

// 객실유형.
const roomTypes = computed<RoomType[]>(() =>
  roomTypeBiz.getterRoomTypes(store)
);

// 예약목록.
const bookingData = computed<BookingSet>(() =>
  bookingBiz.getterBookingItem(store)
);

// 비어 있응 객실목록.
const emptyRooms = computed<Room[]>(() => {
  return []; // TODO
});

const newEditName = computed<string>(() => {
  return props.bookingControl.isNewMode ? '등록' : '수정';
});

// =========================================================
// WATCH
// =========================================================

// =========================================================
// 기능
// =========================================================
const setDataState = (item: Booking) => {
  dataState.id = item.id;
  dataState.place_id = item.place_id;
  dataState.room_type_id = item.room_type_id;
  dataState.room_id = item.room_id;
  dataState.reserv_num = item.reserv_num;
  dataState.state = item.state;
  dataState.stay_type = item.stay_type;
  dataState.ota_code = item.ota_code;
  dataState.ota_type = item.ota_type;
  dataState.name = item.name;
  dataState.hp = item.hp;
  dataState.reserv_date = item.reserv_date;
  dataState.check_in_exp = item.check_in_exp;
  dataState.check_out_exp = item.check_out_exp;
  dataState.room_fee = item.room_fee;
  dataState.reserv_fee = item.reserv_fee;
  dataState.prepay_ota_amt = item.prepay_ota_amt;
  dataState.prepay_cash_amt = item.prepay_cash_amt;
  dataState.prepay_card_amt = item.prepay_card_amt;
  dataState.visit_type = item.visit_type;
  dataState.memo = item.memo;
};

// =========================================================
// 사용자 액션
// =========================================================
const doGenReservNum = () => {
  const num = Math.floor(Math.random() * 1000);
  let time = dayjs().format('mmSSSHHss'); // dayjs는 'SSS' 3자리 지원. 'SS'는 없음.
  time = time.substring(0, 4) + time.substring(5);
  const reserv_num = String(user.place_id + num).padStart(4, '0') + time; //  업소 고유번호 + 시간 섞음.
  dataState.reserv_num = reserv_num;
};

const doSearchItem = async () => {
  if (props.bookingControl.bookingId !== null) {
    await bookingBiz.bookingItem(
      store,
      props.bookingControl.bookingId,
      (_bookingData: Booking) => {
        setDataState(_bookingData);
      }
    );
  }
};

// =========================================================
// 정보, onMounted, onBeforeUnmount
// =========================================================
onMounted(async () => {
  await initData();

  roomTypes.value.forEach((item) => {
    roomTypeList.value.push({ name: item.name, value: item.id });
  });

  stayTypeColor.value = JSON.parse(pref.value.stay_type_color);
  console.log(`*** stayTypeColor ::`, stayTypeColor.value);

  if (!props.bookingControl.isNewMode) {
    await doSearchItem();
  }

  console.log(`*** pref.value ::`, pref.value);
});
</script>
