<template>
  <li
    :class="{ on: isOn, active: roomId === activeRooomId }"
    @dblclick="doOpenRoom()"
    @click="doSelectRoom($event)"
    :style="{
      cursor: 'pointer',
      width: props.roomView.width + 'px',
      height: props.roomView.height + 'px',
      marginLeft: props.roomView.col_gap / 2 + 'px',
      marginRight: props.roomView.col_gap / 2 + 'px',
      display: 'block', // Flexbox 적용
      justifyContent: 'center', // 수평 중앙 정렬
      alignItems: 'center', // 수직 중앙 정렬
      backgroundColor: '#304153', // 배경색 적용
    }"
  >
    <!-- <div class="event2">
      <div class="tit">2층 이벤트 알림</div>
      <div class="txt">스위트룸 203호 도어 열림</div>
    </div> -->

    <!-- quick menu -->
    <div
      v-show="activeRooomId === props.roomState?.room_id && activeQuickMenu"
      class="quick-menu"
    >
      <div class="tit">바로가기</div>
      <div class="close"><a @click="closeQuickMenu()">닫기</a></div>
      <ul>
        <li><a>1 예약현황</a></li>
        <li><a>2 매출이력</a></li>
        <li><a>3 객실이력</a></li>
      </ul>
    </div>
    <!--// quick menu -->

    <!-- 이벤트 알림 -->
    <div class="event" v-if="hasEvent">
      <div class="tit">이벤트 알림</div>
      <div class="txt">통신단절 이벤트 발생</div>
    </div>
    <!--// 이벤트 알림 -->

    <div class="tit-area">
      <span class="key got">키</span>
      <span class="tit">
        <strong>{{ roomBiz.roomNameHo(props.roomState.name) }} </strong>
        <span style="font-size: 10px"> ({{ props.roomState.type_name }})</span>
      </span>
      <span class="list" @click="quickMenu()" style="cursor: pointer"
        >목록
        <em v-if="hasEvent">이벤트</em>
      </span>
    </div>
    <!-- <div class="tit-view">303호 일반룸 [숙박 / 청소요청]</div> -->
    <div class="content-area">
      <div :class="[staySubCss.css]">{{ staySubCss.name }}</div>
      <template v-if="staySubCss.hasSub()">
        <div :class="[staySubCss.subCss]">{{ staySubCss.subName }}</div>
      </template>

      <div
        class="door"
        :class="{
          open: props.roomState.door === 1,
          close: props.roomState.door === 0,
        }"
      >
        문닫힘
      </div>
    </div>
    <div class="checkinout">
      <template v-if="props.roomState.sale === 0">
        <dl>
          <dt>입실</dt>
          <dd>-</dd>
        </dl>
        <dl>
          <dt>퇴실</dt>
          <dd class="type2">-</dd>
        </dl>
      </template>
      <template v-else>
        <dl
          @mouseover="state.showTime = true"
          @mouseout="state.showTime = false"
        >
          <dt v-if="checkInTime">입실</dt>
          <dt v-else>입실예정</dt>
          <dd>
            {{ checkInTime || checkInExpTime }}
          </dd>
          <!-- <dd>{{ myRoomSale.check_in }}</dd> -->
        </dl>
        <dl
          @mouseover="state.showTime = true"
          @mouseout="state.showTime = false"
        >
          <dt v-if="checkOutTime">퇴실</dt>
          <dt v-else>퇴실예정</dt>
          <dd class="type2">{{ checkOutExpTime }}</dd>
        </dl>
      </template>

      <!-- <template v-if="representState.inspectState !== Consts.InspectState.NONE">
      <div class="clean">{{ inspectName(representState.inspectState) }}</div>
    </template> -->
      <!-- <div class="clean">침대청소</div> -->

      <div v-if="state.showTime" class="checkinout-view">
        <dl>
          <dt v-if="checkInTime">입실</dt>
          <dt v-else>입실예정</dt>
          <dd>
            {{ checkInTime || checkInExpTime }}
          </dd>
        </dl>
        <dl>
          <dt v-if="checkOutTime">퇴실</dt>
          <dt v-else>퇴실예정</dt>
          <dd class="type2">{{ checkOutTime || checkOutExpTime }}</dd>
        </dl>
        <dl>
          <dt>이용시간</dt>
          <dd class="type3">{{ usedTime }}</dd>
        </dl>
        <dl>
          <dt>초과시간</dt>
          <dd class="type4">{{ overTime }}</dd>
        </dl>
      </div>
    </div>
    <div class="power">
      <div class="onoff" :class="{ out: props.roomState.main_relay === 0 }">
        전원
      </div>
      <div class="temperature">{{ props.roomState.temp_key_1 }}ºC</div>
      <div class="communication" :class="{ out: props.roomState.signal === 1 }">
        통신
      </div>
    </div>
  </li>
</template>

<style>
.pick_room {
  width: 60%;
  text-align: center;
  background-color: darkorchid;
}
</style>

<script setup lang="ts">
import _ from 'lodash';
import dayjs from 'dayjs';
import { reactive, ref, computed, watch, onMounted } from 'vue';
import { useStore } from 'vuex';
import { Consts } from '@/constants/Consts';
import {
  RoomView,
  RoomState,
  RoomSale,
  RoomReserv,
  RoomInterrupt,
  Preference,
} from '@/types';

import { roomBiz } from '@/biz/roomBiz';
import { roomStateBiz, RoomFilter, RepresentState } from '@/biz/roomStateBiz';
import { roomSaleBiz, RoomSaleClass } from '@/biz/roomSaleBiz';
import { interruptBiz } from '@/biz/interruptBiz';
import { popupBiz } from '@/biz/popupBiz';
import { preferencesBiz } from '@/biz/preferencesBiz';

interface CssName {
  css: string[];
  name: string;
  subCss: string[];
  subName: string;
  hasSub(): boolean;
}

class CssNameClass implements CssName {
  css: string[] = [];
  name: string = '';
  subCss: string[] = [];
  subName: string = '';

  hasSub(): boolean {
    return this.subCss.length > 0;
  }
}

interface ViewState {
  quickMenu: boolean;
  // stayAction: boolean;
  showTime: boolean;
}

// ====================================================================
// 선언
// ====================================================================
const props = defineProps<{
  roomView: RoomView;
  roomState: RoomState;
  roomFilter: RoomFilter;
  clock: dayjs.Dayjs;
}>();

console.log('***==========> props - ', { ...props });

const store = useStore();

// reactive of view state.
const state: ViewState = reactive({
  quickMenu: false,
  // stayAction: false,
  showTime: false,
});

const event = false;

// room ID.
const roomId = props.roomState?.room_id;

console.log(`***==========> roomId -   ${roomId}`);

// RoomSale.
const myRoomSale = ref<RoomSale>(new RoomSaleClass(roomId));

// 대표 상태.
const representState = ref<RepresentState>({
  stayType: Consts.StayType.EMPTY,
  subState: Consts.SubState.NONE,
});

// =========================================================
// 초기 조회
// =========================================================

// =========================================================
// COMPUTED
// =========================================================
// 객실 인터럽트 목록.
const roomInterrupts = computed<RoomInterrupt[]>(() =>
  interruptBiz.getterRoomInterrupts(store)
);

const hasEvent = computed<RoomInterrupt>(() => {
  if (Array.isArray(roomInterrupts.value)) {
    const item = roomInterrupts.value.find((item) => item.room_id === roomId);
    return item;
  }
  return null;
});

const hasInterrupt = computed<boolean>(() => {
  if (Array.isArray(roomInterrupts.value)) {
    const item = roomInterrupts.value.find((item) => item.room_id === roomId);
    if (item) return true;
    else return false;
  }
  return false;
});

// preference.
const preference = computed<Preference>(() =>
  preferencesBiz.getterPreference(store)
);

// RoomSale list.
const roomSaleList = computed<RoomSale[]>(() =>
  roomSaleBiz.getterRoomSaleList(store)
);

const isOn = computed<boolean>(() => {
  if (hasInterrupt.value) return false; // 인터럽트 걸리면 off 임.

  const { StayType } = Consts;

  // 객실 대표 상태.
  const representState = roomStateBiz.representState(
    props.roomState,
    myRoomSale.value,
    preference.value
  );
  const { stayType } = representState;

  let ret = false;
  if (props.roomFilter.hasEmpty && stayType === StayType.EMPTY) ret = true;
  else if (props.roomFilter.hasStay && stayType === StayType.STAY) ret = true;
  else if (props.roomFilter.hasRent && stayType === StayType.SHORT_TIME)
    ret = true;
  else if (props.roomFilter.hasLong && stayType === StayType.LONG_TIME)
    ret = true;

  return ret;
});

// 활성화된 Room ID.
const activeRooomId = computed<number>({
  get() {
    return store.getters['roomComponent/roomId'] || 0;
  },
  set(value: number) {
    store.commit('roomComponent/roomId', value);
  },
});

// 입실 시간.
const checkInTime = computed<string>(() => {
  if (myRoomSale?.value) {
    const checkIn = dayjs(myRoomSale.value.check_in);
    console.log(`*** checkInTime -   ${checkIn}`);

    if (!checkIn.isValid()) {
      return null;
    }

    const now = dayjs();
    const dayGap = checkIn.dayOfYear() - now.dayOfYear();

    if (dayGap === 0) {
      return `오늘, ${checkIn.format('HH:mm')}`;
    } else if (dayGap === 1) {
      return `내일, ${checkIn.format('HH:mm')}`;
    } else if (dayGap === -1) {
      return `어제, ${checkIn.format('HH:mm')}`;
    } else if (dayGap < -1) {
      return `${Math.abs(dayGap)}일전, ${checkIn.format('HH:mm')}`;
    } else {
      return `${dayGap}일후, ${checkIn.format('HH:mm')}`;
    }
  }
  return `오늘, ${dayjs().format('HH:mm')}`;
});

const checkInExpTime = computed<string>(() => {
  if (myRoomSale?.value) {
    const checkInExp = dayjs(myRoomSale.value.check_in_exp);

    console.log(`*** checkInExpTime1 -  ${checkInExp}`);

    if (!checkInExp.isValid()) {
      return null;
    }

    const now = dayjs();
    const dayGap = checkInExp.dayOfYear() - now.dayOfYear();

    console.log(`*** checkInExpTime2 - dayGap `, dayGap, myRoomSale.value);

    if (dayGap === 0) {
      return `오늘, ${checkInExp.format('HH:mm')}`;
    } else if (dayGap === 1) {
      return `내일, ${checkInExp.format('HH:mm')}`;
    } else if (dayGap === -1) {
      return `어제, ${checkInExp.format('HH:mm')}`;
    } else if (dayGap < -1) {
      return `${Math.abs(dayGap)}일전, ${checkInExp.format('HH:mm')}`;
    } else {
      return `${dayGap}일후, ${checkInExp.format('HH:mm')}`;
    }
  }
  return `오늘, ${dayjs().format('HH:mm')}`;
});

// 퇴실 시간.
const checkOutTime = computed<string>(() => {
  if (myRoomSale?.value) {
    const checkOut = dayjs(myRoomSale.value.check_out);
    console.log(`*** checkOutTime -    ${checkOut}`);

    if (!checkOut.isValid()) {
      return null;
    }

    const now = dayjs();
    const dayGap = checkOut.dayOfYear() - now.dayOfYear();

    if (dayGap === 0) {
      return `오늘, ${checkOut.format('HH:mm')}`;
    } else if (dayGap === 1) {
      return `내일, ${checkOut.format('HH:mm')}`;
    } else if (dayGap === -1) {
      return `어제, ${checkOut.format('HH:mm')}`;
    } else if (dayGap < -1) {
      return `${Math.abs(dayGap)}일전, ${checkOut.format('HH:mm')}`;
    } else {
      return `${dayGap}일후, ${checkOut.format('HH:mm')}`;
    }
  }
  return `오늘, ${dayjs().format('HH:mm')}`;
});

const checkOutExpTime = computed<string>(() => {
  if (myRoomSale?.value.check_out_exp) {
    const checkOutExp = dayjs(myRoomSale.value.check_out_exp);

    console.log(`*** checkOutExpTime -    ${checkOutExp}`);

    if (!checkOutExp.isValid()) {
      return null;
    }

    const now = dayjs();
    const dayGap = checkOutExp.dayOfYear() - now.dayOfYear();

    if (dayGap === 0) {
      return `오늘, ${checkOutExp.format('HH:mm')}`;
    } else if (dayGap === 1) {
      return `내일, ${checkOutExp.format('HH:mm')}`;
    } else if (dayGap === -1) {
      return `어제, ${checkOutExp.format('HH:mm')}`;
    } else if (dayGap < -1) {
      return `${Math.abs(dayGap)}일전, ${checkOutExp.format('HH:mm')}`;
    } else {
      return `${dayGap}일후, ${checkOutExp.format('HH:mm')}`;
    }
  }
  return `오늘, ${dayjs().format('HH:mm')}`;
});

// 이용시간.
const usedTime = computed<string>(() => {
  if (myRoomSale.value) {
    const checkInExp = dayjs(myRoomSale.value.check_in);

    const now = dayjs();

    const diff = now.diff(checkInExp, 'minute');
    const min: number = diff % 60;
    let hour: number = Math.floor(diff / 60);
    const day = Math.floor(hour / 24);
    if (day > 0) hour = hour % 24;

    const fmtHour = hour < 10 ? `0${hour}` : `${hour}`;
    const fmtMin = min < 10 ? `0${min}` : `${min}`;
    if (day > 0) {
      return `${day}일, ${fmtHour}:${fmtMin}`;
    } else {
      return `${fmtHour}:${fmtMin}`;
    }
  }
  return null;
});

// 초과시간.
const overTime = computed<string>(() => {
  const now = dayjs();
  const checkOut = dayjs(myRoomSale.value.check_out_exp);
  const diff = now.diff(checkOut, 'minute');
  if (diff <= 0) return '00:00'; // 넘지 않음(미초과).

  const min = diff % 60;
  let hour = Math.floor(diff / 60);
  const day = Math.floor(hour / 24);
  if (day > 0) hour = hour % 24;

  const fmtHour = hour < 10 ? `0${hour}` : `${hour}`;
  const fmtMin = min < 10 ? `0${min}` : `${min}`;
  if (day > 0) {
    return `${day}일, ${fmtHour}:${fmtMin}`;
  } else {
    return `${fmtHour}:${fmtMin}`;
  }
});

// 퀵메뉴 활성화 여부.
const activeQuickMenu = computed<boolean>(
  () => store.getters['roomComponent/quickMenu']
);

// 숙박형태 css 배열과 이름.
const staySubCss = computed<CssName>(() => {
  const representState = roomStateBiz.representState(
    props.roomState,
    myRoomSale.value,
    preference.value
  );
  const { stayType, subState } = representState;

  const result = new CssNameClass();
  result.css.push('stay-txt');

  if (subState !== Consts.SubState.NONE) {
    // subState가 있으면.
    result.css.push('txt2');
  }

  // stayType에 따라 css와 이름 설정.
  if (stayType === Consts.StayType.EMPTY) {
    result.css.push('stay-empty');
    result.name = '공실';
  } else if (stayType === Consts.StayType.STAY) {
    result.css.push('stay');
    result.name = '숙박';
  } else if (stayType === Consts.StayType.SHORT_TIME) {
    result.css.push('rent');
    result.name = '대실';
  } else if (stayType === Consts.StayType.LONG_TIME) {
    result.css.push('long');
    result.name = '장기';
  }

  // subState에 따라 css와 이름 설정.
  if (subState === Consts.SubState.INSPECT_WAIT) {
    result.subCss.push('stay-inspect');
    result.subName = '점검대기';
  } else if (subState === Consts.SubState.INSPECT) {
    result.subCss.push('stay-inspect');
    result.subName = '점검중';
  } else if (subState === Consts.SubState.INSPECTED) {
    result.subCss.push('stay-inspect');
    result.subName = '점검완료';
  } else if (subState === Consts.SubState.CLEANED) {
    result.subCss.push('stay-cleaning-done');
    result.subName = '청소완료';
  } else if (subState === Consts.SubState.CLEANING) {
    result.subCss.push('stay-cleaning');
    result.subName = '청소중';
  } else if (subState === Consts.SubState.CLEAN) {
    result.subCss.push('stay-clean');
    result.subName = '청소요청';
  } else if (subState === Consts.SubState.THEFT) {
    result.subCss.push('stay-theft');
    result.subName = '도난';
  } else if (subState === Consts.SubState.OUTING) {
    result.subCss.push('stay-outing');
    result.subName = '외출';
  } else if (subState === Consts.SubState.ALARM) {
    result.subCss.push('stay-alarm');
    result.subName = '알람';
  }

  return result;
});

// =========================================================
// WATCH
// =========================================================
watch(
  () => props.roomView,
  (newVal) => {
    // 스타일을 강제로 업데이트하거나 값이 변경된 이후 동작할 로직을 여기에 추가
    console.log(newVal);
  },
  { deep: true }
);
// =========================================================
// 기능
// =========================================================
// roomSale 찾기.
const findMyRoomSale = (): RoomSale => {
  if (Array.isArray(roomSaleList.value)) {
    const ret = roomSaleList.value.find((item) => item.room_id === roomId);
    if (ret) return ret;
  }
  return null;
};

// =========================================================
// 사용자 액션
// =========================================================
const doSelectRoom = (e: any) => {
  activeRooomId.value = roomId;
  e.stopPropagation();
};

const doOpenRoom = () => {
  if (!hasInterrupt.value) {
    // 인터럽트 안걸리면 동작.
    popupBiz.doOpenRoom(store, roomId);
  }
};

const quickMenu = () => {
  let toValue = true; // 선택한 객실 보이기.
  if (roomId === activeRooomId.value) {
    toValue = !activeQuickMenu.value; // 같은 객실이면 토글.
  }
  store.commit('roomComponent/roomId', roomId);
  store.commit('roomComponent/quickMenu', toValue);
};

const closeQuickMenu = () => {
  store.commit('roomComponent/quickMenu', false); // 항상 닫기.
};

// =========================================================
// 정보 & onMounted
// =========================================================
onMounted(() => {
  if (props.roomState.sale > 0) {
    const id = setTimeout(() => {
      myRoomSale.value = findMyRoomSale();
    }, 300);

    representState.value = roomStateBiz.representState(
      props.roomState,
      myRoomSale.value,
      preference.value
    );
  }
});
</script>

<style scoped>
.room-list {
  list-style: none;
}
</style>
