<template>
  <!-- popup -->
  <Popup :popup="popup">
    <!-- slot -->
    <template v-slot:body>
      <!-- popup-contents -->
      <div class="popup-contents">
        <!-- field-set -->
        <fieldset class="field-set">
          <v-table>
            <colgroup>
              <col style="width: 270px" />
              <col style="width: 110px" />
              <col style="width: 200px" />
              <col style="width: 110px" />
              <col style="width: 200px" />
              <col style="width: 110px" />
              <col />
            </colgroup>
            <tbody>
              <tr>
                <td>
                  <div class="d-flex align-center" style="gap:8px;">
                    <v-btn color="secondary" size="small" style="min-width: 70px" @click="doCheckAll(true)">전체선택</v-btn>
                    <v-btn color="grey" variant="outlined" size="small" style="min-width: 70px" @click="doCheckAll(false)">선택해제</v-btn>
                    <v-btn color="grey" variant="outlined" size="small" style="min-width: 70px" @click="doCheckReverse()">선택반전</v-btn>
                  </div>
                </td>
                <th class="text-center">객실타입 선택</th>
                <td>
                  <v-select color="success" density="compact" hide-details
                    v-model="filter.roomTypeId" 
                    :items="typeList"
                    item-value="value"
                    item-title="name"
                  ></v-select>
                </td>
                <th class="text-center">층 선택</th>
                <td>
                  <v-select color="success" density="compact" hide-details
                    v-model="filter.floor"
                    :items="floorList"
                    item-value="value"
                    item-title="name"
                  ></v-select>
                </td>
                <th class="text-center">객실명 검색</th>
                <td>
                  <div class="d-flex justify-space-between">
                    <div class="input-search" style="width: 200px;">
                      <input v-model="filter.roomName" ref="refText" type="text" placeholder="객실명" maxlength="10" style="width: 200px;" />
                      <v-btn density="compact" size="small" icon="mdi-close-circle-outline" @click="filter.roomName = null; refText.focus();"></v-btn>
                    </div>
                    <v-btn size="small" color="grey" @click="clear()">초기화</v-btn>
                  </div>
                </td>
              </tr>
            </tbody>
          </v-table>
        </fieldset>
        <!-- //field-set -->
        <v-row no-gutters class="mt-4" style="min-height: 630px">
          <!-- left-->
          <div class="flex-grow-1">
            <!-- table -->
            <v-table fixed-header height="630" class="overflow-y-auto text-center dense-dark">
              <thead>
                <tr>
                  <th class="td-px" style="width: 30px;">선택</th>
                  <th class="td-px" style="width: 45px;">No</th>
                  <th class="td-px" style="width: 90px">객실타입</th>
                  <th class="td-px" >객실명</th>
                  <th class="td-px" style="width: 60px;">숙박현황</th>
                  <th class="td-px" style="width: 60px;">객실상태</th>
                  <th class="td-px" style="width: 70px;">키상태</th>
                  <th class="td-px" style="width: 60px;">출입문</th>
                  <th class="td-px" style="width: 65px;">사용중 &#8451;</th>
                  <th class="td-px" style="width: 65px;">외출 &#8451;</th>
                  <th class="td-px" style="width: 65px;">청소대기 &#8451;</th>
                  <th class="td-px" style="width: 65px;">청소중 &#8451;</th>
                  <th class="td-px" style="width: 65px;">공실 &#8451;</th>
                  <th class="td-px" style="width: 65px;"><span class="fs11">무인</span><br/>숙박 판매</th>
                  <th class="td-px" style="width: 65px;"><span class="fs11">무인</span><br/>대실 판매</th>
                  <th class="td-px" style="width: 65px;"><span class="fs11">무인</span><br/>예약 판매</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="td-px">
                    <v-checkbox hide-details density="compact" color="secondary"></v-checkbox>
                  </td>
                  <td class="td-px" style="padding: 0px !important;"></td>
                  <td class="td-px">일반실</td>
                  <td class="td-px">201호</td>
                  <td class="td-px">공실</td>
                  <td class="td-px">공실</td>
                  <td class="td-px">
                    <div class="d-inline-flex align-center">
                      <div class="mr-1">고객키</div>
                      <v-icon color="secondary">mdi-close-thick</v-icon>
                      <!-- <v-icon color="dark-grey">mdi-circle-outline</v-icon> -->
                    </div>
                  </td>
                  <td class="td-px">문 <span class="color-secondary">[열림]</span></td>
                  <td class="td-px">26</td>
                  <td class="td-px">26</td>
                  <td class="td-px">26</td>
                  <td class="td-px">26</td>
                  <td class="td-px">26</td>
                  <td class="td-px"><span class="color-secondary">중지</span></td>
                  <td class="td-px"><span class="color-secondary">중지</span></td>
                  <td class="td-px"><span class="color-secondary">중지</span></td>
                </tr>

                <tr v-for="item, index in rowDatas"
                  :class="{ active: item.isChecked }"
                  @click="doClickRow(item)"
                >
                  <td style="padding: 0 2px !important;">
                    <div class="d-flex align-center justify-space-around" style="width: 30px;">
                      <v-btn size="small" density="compact" class="custom-btn-icon" min-width="20px" style="padding: 2px;"
                        @click="item.isChecked = !item.isChecked"
                      >
                        <v-icon :color="item.isChecked ? 'secondary' : 'grey'"
                          :icon="item.isChecked ? 'mdi-checkbox-marked-outline' : 'mdi-checkbox-blank-outline'"
                        ></v-icon>
                      </v-btn>
                    </div>
                  </td>
                  <td style="padding: 0px !important;">{{ index + 1 }}</td>
                  <td class="td-px">{{ item.holder.type_name }}</td>
                  <td class="td-px">{{ item.holder.name }}</td>
                  <td class="td-px">{{ item.holder.sale }}</td>
                  <td class="td-px">{{  }}</td>
                  <td class="td-px">{{ item.holder.key }}</td>
                  <td class="td-px"><span :class="item.holder.door === 1 ? 'color-secondary' : 'color-primary'">{{ item.holder.door === 1 ? '열림' : '닫힘' }}</span></td>
                  <td class="td-px">{{ item.holder.temp_key_1 }}</td>
                  <td class="td-px">{{ item.holder.temp_key_2 }}</td>
                  <td class="td-px">{{ item.holder.temp_key_3 }}</td>
                  <td class="td-px">{{ item.holder.temp_key_4 }}</td>
                  <td class="td-px">{{ item.holder.temp_key_5 }}</td>
                  <td class="td-px"><span :class="item.holder.isc_sale_1 === 1 ? 'color-secondary' : ''">{{ item.holder.isc_sale_1 === 1 ? '중지' : '허용' }}</span></td>
                  <td class="td-px"><span :class="item.holder.isc_sale_2 === 1 ? 'color-secondary' : ''">{{ item.holder.isc_sale_2 === 1 ? '중지' : '허용' }}</span></td>
                  <td class="td-px"><span :class="item.holder.isc_sale_3 === 1 ? 'color-secondary' : ''">{{ item.holder.isc_sale_3 === 1 ? '중지' : '허용' }}</span></td>
                </tr>
              </tbody>
            </v-table>
            <!-- //table -->
          </div>
          <!-- //left-->

          <!-- right -->
          <div class="d-flex flex-column flex-shrink-0 ml-2" style="width: 274px">
            <div class="d-flex mb-1">
              <span class="mr-2" style="font-size: 12px;">표시/전체:</span>
              <span class="fs13 color-primary">{{ filterStateList.length }}</span>
              <span class="fs13 mx-1">/</span>
              <span class="fs13" >{{ stateList.length }}</span>
            </div>
            <v-sheet class="box-border pa-1 d-flex flex-wrap ctrl-box" style="gap: 6px;">
              <v-btn color="secondary" size="small" style="min-width: 84px">대실입실</v-btn>
              <v-btn v-for="item in btns" :key="item" color="grey" size="small" style="width: 84px">{{item}}</v-btn>
            </v-sheet>
            <div class="mt-4">
              <v-table>
                <tr>
                  <th class="text-left">객실 표시 내용 입력</th>
                </tr>
                <tr>
                  <td>
                    <textarea class="textarea" placeholder="표시할 내용을 입력하세요." style="height: 190px; margin: 6px 0;"></textarea>
                  </td>
                </tr>
              </v-table>
              <div class="d-flex align-center mt-1">
                <v-btn color="darkgrey" size="small" style="min-width: 135px">적용</v-btn>
                <v-btn color="primary" size="small" style="min-width: 135px" class="ml-auto">삭제</v-btn>
              </div>
            </div>
            <v-table class="mt-4">
              <colgroup>
                <col style="width: 100px" />
                <col />
              </colgroup>
              <tr>
                <th class="text-left">무인 숙박 판매</th>
                <td>
                  <div class="d-flex" style="gap: 10px;">
                    <v-btn color="primary" size="small" variant="outlined" style="width: 60px"
                      prepend-icon="mdi-checkbox-marked-outline"
                      @click="doUnmannedSet('isc_sale_1', 0)"
                    >허용</v-btn>
                    <v-btn color="secondary" size="small" variant="outlined" style="width: 60px"
                      prepend-icon="mdi-cancel"
                      @click="doUnmannedSet('isc_sale_1', 1)"
                    >중지</v-btn>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="text-left">무인 대실 판매</th>
                <td>
                  <div class="d-flex" style="gap: 10px;">
                    <v-btn color="primary" size="small" variant="outlined" style="width: 60px"
                      prepend-icon="mdi-checkbox-marked-outline"
                      @click="doUnmannedSet('isc_sale_2', 0)"
                    >허용</v-btn>
                    <v-btn color="secondary" size="small" variant="outlined" style="width: 60px"
                      prepend-icon="mdi-cancel"
                      @click="doUnmannedSet('isc_sale_2', 1)"
                    >중지</v-btn>
                  </div>
                </td>
              </tr>
              <tr>
                <th class="text-left">무인 예약 판매</th>
                <td>
                  <div class="d-flex" style="gap: 10px;">
                    <v-btn color="primary" size="small" variant="outlined" style="width: 60px"
                      prepend-icon="mdi-checkbox-marked-outline"
                      @click="doUnmannedSet('isc_sale_3', 0)"
                    >허용</v-btn>
                    <v-btn color="secondary" size="small" variant="outlined" style="width: 60px"
                      prepend-icon="mdi-cancel"
                      @click="doUnmannedSet('isc_sale_3', 1)"
                    >중지</v-btn>
                  </div>
                </td>
              </tr>
            </v-table>
          </div>
          <!-- //right -->
        </v-row>
      </div>
      <!-- //popup-contents -->
    </template>
    <!-- //slot -->
    <!-- //slot -->
    <template v-slot:footer>
      <div class="btns">
        <v-btn color="darkgrey" size="large" style="min-width: 150px">닫기</v-btn>
      </div>
    </template>
  </Popup>
  <!-- //popup -->
</template>

<style lang="scss" scoped>
.td-px {
  padding-left: 1px !important;
  padding-right: 1px !important;
}
</style>

<script setup lang="ts">
import Popup from '@/components/popup/popup.vue';
import dayjs from 'dayjs';
import { ref, reactive, computed, onMounted } from 'vue'
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import { PlaceSubscribe, Subscribe, NumberValue, RoomType, Floor, PopupParam, RoomState } from '@/types';
import { viewUtil } from '@/utils/view-util';
import { roomTypeBiz } from '@/biz/roomTypeBiz';
import { roomBiz } from '@/biz/roomBiz';
import { roomStateBiz } from '@/biz/roomStateBiz';


// =========================================================
// 타입
// =========================================================
interface ViewState {
  isCheckAll: boolean;
  rowId: number;
  toUnmannedStay: boolean;
  toUnmannedShort: boolean;
  toUnmannedBooking: boolean;
}

interface FilterState {
  roomTypeId: number;
  floor: number;
  roomName: string;
}

interface RowData {
  id: number;
  isChecked: boolean;
  holder: RoomState;
}


// =========================================================
// 선언
// =========================================================
const store = useStore();
const route = useRoute();

const user = store.getters['user'];
const popupLink = route.path.substring(1); // 앞에 '/'' 제거

const view: ViewState = reactive({
  isCheckAll: false,
  rowId: null,
  toUnmannedStay: null,
  toUnmannedShort: null,
  toUnmannedBooking: null,
});

const filter: FilterState = reactive({
  roomTypeId: null,
  floor: null,
  roomName: null,
});

const refText = ref(null);


const typeList = ref<NumberValue[]>([
  { name: '전체', value: null },
]);

const floorList = ref<NumberValue[]>([
  { name: '전체', value: null },
]);

const dialog = ref(true);

const model = '허용';
const model2 = '중지';
const model3 = '허용';
const btns = [
  '청소지시', 
  '사용중 온도',
  '숙박 입실',
  '청소 완료',
  '외출중 온도',
  '입실 취소',
  '외출',
  '청소대기 온도',
  '퇴실',
  '외축복귀',
  '청소중 온도',
  '공실',
  '공실온도',
];


// =========================================================
// 초기 조회
// =========================================================
const init = async () => {
  await roomTypeBiz.roomTypes(store, user.place_id, (_list: RoomType[]) => {
    if (_list) {
      _list.forEach((item: RoomType) => {
        typeList.value.push({ name: item.name, value: item.id });
      });
    }
  });

  await roomBiz.roomFloors(store, user.place_id, (_list: Floor[]) => {
    if (_list) {
      _list.forEach((item: Floor) => {
        floorList.value.push({ name: item.name, value: item.no });
      });
    }
  });

  await roomBiz.roomsByPlaceId(store, user.place_id);

  await roomStateBiz.roomStateAll(store, user.place_id);
};


// =========================================================
// COMPUTED
// =========================================================
const roomTypes = computed<RoomType[]>(() => roomTypeBiz.getterRoomTypes(store));

const floors = computed<Floor[]>(() => roomBiz.getterFloors(store));

const stateList = computed<RoomState[]>(() => roomStateBiz.getterRoomStateList(store));

// const rooms = computed<Room[]>(() => roomBiz.getterRooms(store));

const filterStateList = computed<RoomState[]>(() => {
  if (filter.roomTypeId === null && filter.floor === null && filter.roomName === null) return stateList.value;

  return stateList.value?.filter((item: RoomState) => {
    if (filter.roomTypeId !== null && item.room_type_id !== filter.roomTypeId) return false;
    if (filter.floor !== null && item.floor !== filter.floor) return false;
    if (filter.roomName !== null && item.name.indexOf(filter.roomName) === -1) return false;
    return true;
  });
});

const rowDatas = computed<RowData[]>(() => {
  return filterStateList.value?.map((item: RoomState) => {
    return reactive({
      id: item.id,
      isChecked: false,
      holder: item,
    }) as RowData;
  });
});

const hasMasterLevel = computed<boolean>(() => user.level <= 2);


// =========================================================
// WATCH
// =========================================================


// =========================================================
// 기능
// =========================================================
const initData = () => {
  // viewState.isNewReady = false;

  // if (viewState.rowIndex !== null) {
  //   initLicenseCopy.value = selectedData.value.license_copy;
  
  //   dataState.id = selectedData.value.id;
  //   dataState.place_id = selectedData.value.place_id;
  //   dataState.subscribe_id = selectedData.value.subscribe_id;
  //   dataState.subscribe_state = selectedData.value.subscribe_state;
  //   dataState.price = selectedData.value.price;
  //   dataState.begin_date = selectedData.value.begin_date;
  //   dataState.end_date = selectedData.value.end_date;
  //   dataState.trial_end_date = selectedData.value.trial_end_date;
  //   dataState.license_copy = selectedData.value.license_copy;
  //   dataState.license_copy = dataState.license_copy < 1 ? 1 : dataState.license_copy; // 1보다 작으면 1 설정.
    
  //   dataState.name = selectedData.value.name;
  //   dataState.pay_yn = selectedData.value.pay_yn;
  //   dataState.pay_type = selectedData.value.pay_type;
  //   dataState.code = selectedData.value.code;
  //   dataState.default_fee = selectedData.value.default_fee;
  //   dataState.license_yn = selectedData.value.license_yn;
  // }
  // else {
  //   resetState();
  // }
};

const resetState = () => {
  // initLicenseCopy.value = 0;

  // dataState.id = null;
  // dataState.place_id = user.place_id;
  // dataState.subscribe_id = null;
  // dataState.subscribe_state = 0;
  // dataState.price = null;
  // dataState.begin_date = null;
  // dataState.end_date = null;
  // dataState.trial_end_date = null;
  // dataState.license_copy = 0;
  
  // dataState.name = null;
  // dataState.pay_yn = null;
  // dataState.pay_type = null;
  // dataState.code = null;
  // dataState.default_fee = null;
  // dataState.license_yn = null;
};


// 상태 값 초기화.
const clearState = () => {
  view.isCheckAll = false;
  view.rowId = null;
  view.toUnmannedStay = null;
  view.toUnmannedShort = null;
  view.toUnmannedBooking = null;
  doCheckAll(false);
}

// 필터 포함 전체 초기화.
const clear = () => {
  clearState();
  filter.roomTypeId = null;
  filter.floor = null;
  filter.roomName = null;
};


// =========================================================
// 사용자 액션
// =========================================================

// 전체 선택/해제.
const doCheckAll = (val: boolean) => {
  rowDatas.value?.forEach((item: RowData) => {
    item.isChecked = val;
  });
};

// 선택 반전.
const doCheckReverse = () => {
  rowDatas.value?.forEach((item: RowData) => {
    item.isChecked = !item.isChecked;
  });
}

// 행 선택.
const doClickRow = (item: RowData) => {
  if (item.isChecked) {
    view.rowId = null;
    return;
  }

  if (view.rowId === item.id) {
    view.rowId = null;
  } else {
    view.rowId = item.id;
  }
};

const doUnmannedSet = (propName: string, val: number) => {

};

// 구독수 변경 또는 재구독.
const doSetItem = async () => {
  // const isReSubscribe = dataState.subscribe_state === subscribe.State.CANCEL; // 구독취소 이면 구독으로 변경.
  // const today = dayjs().hour(0).minute(0).second(0);

  // let calcPrice = 0;
  // if (dataState.pay_yn === 'Y') {
  //   calcPrice = dataState.default_fee * dataState.license_copy;
  // }

  // const sendData: SetPlaceSubscribe = {
  //   id: dataState.id,
  //   place_id: dataState.place_id,
  //   name: dataState.name,
  //   subscribe_state: subscribe.State.SUBSCRIBE as number, // 재구독 이든 변경이든 목적 상태는 SUBSCRIBE 같음.
  //   license_copy: dataState.license_copy,
  //   price: calcPrice,
  //   begin_date: today.format('YYYY-MM-DD'),
  //   end_date: today.add(1, 'month').subtract(1, 'day').format('YYYY-MM-DD'),
  //   mod_date: dayjs().format('YYYY-MM-DD HH:mm:ss'),
  // };

  // await placeBiz.setPlaceSubscribe(store, isReSubscribe, sendData, selectedData.value, (_success: boolean) => {
  //   if (_success) {
  //     initData();
  //   }
  // });
};


// =========================================================
// 정보 & onMounted
// =========================================================
onMounted(async () => {
  init();
});

const popup: PopupParam = {
  title: "일괄 처리",
  theme: "theme-popup-dark",
  size: "size-xlg",
  align: "mx-auto",
  pin: false,
  link: popupLink,
};
</script>
