<template>
  <li class="on">
    <div class="tit-area">
      <span class="key got">키</span>
      <span class="tit"> <!-- roomId === activeRooomId -->
          {{ roomBiz.roomNameHo(props.roomState.name) }}
          {{ props.roomState.type_name }}
        </span>
        <span class="list" style="cursor: pointer;">목록
          <!-- <em>이벤트</em> -->
        </span>
    </div>
    <!-- <div class="tit-view">303호 일반룸 [숙박 / 청소요청]</div> -->
    <div class="content-area">
      <!-- 숙박 : stay , 대실 : rent , 장기 : long , 청소요청 clean 청소중 : cleaning 청소완료 : cleaning-done -->
      
      <div :class="[stayTypeCssName.css]">{{ stayTypeCssName.name }}</div>
      
      <!-- <div class="stay-reservation">예약</div> -->
      <div v-if="props.roomState.outing" class="stay-outing">외출</div>
      <!-- <div v-if="props.roomState.alarm === 1" class="stay-alarm">알람</div> -->
      <!-- <div class="stay-theft" :class="appendCssName.css">도난</div> -->

      <div class="door" :class="{ open: props.roomState.door === 1, close: props.roomState.door === 0}">문닫힘</div>
    </div>
    <div class="checkinout">
      <template v-if="props.roomState.room_sale_id !== null">
      <dl>
        <dt>입실</dt>
        <dd>{{ roomSale?.check_in !== null ? dayjs(roomSale?.check_in).format('HH:mm') : '' }}</dd>
      </dl>
      <dl>
        <dt>퇴실</dt>
        <dd class="type2">{{ roomSale?.check_out !== null ? dayjs(roomSale?.check_out).format('HH:mm') : '' }}</dd>
      </dl>
    </template>
    <template v-else>
      <dl>
        <dt>입실예정</dt>
        <dd>{{ roomSale?.check_in_exp !== null ? dayjs(roomSale?.check_in_exp).format('HH:mm') : '' }}</dd>
      </dl>
      <dl>
        <dt>퇴실예정</dt>
        <dd class="type2">{{ roomSale?.check_out_exp !== null ? dayjs(roomSale?.check_out_exp).format('HH:mm') : '' }}</dd>
      </dl>
    </template>
    <!-- <div class="clean">침대청소</div> -->
    </div>
    <div class="power">
      <div class="onoff">전원</div>
      <div class="temperature">{{ props.roomState.air_temp }}ºC</div>
      <div class="communication">통신</div>
    </div>
  </li>
</template>

<style >
.pick_room {
  width: 60%; 
  text-align: center; 
  background-color: darkorchid;
}
</style>

<script setup lang="ts">
import { reactive, computed } from 'vue';
import { useStore } from 'vuex';
import { RoomState, RoomSale, RoomReserv, RoomInterrupt } from '@/types';
import { roomViewItemBiz } from '@/biz/roomViewItemBiz';
import { roomItemBiz } from '@/biz/roomItemBiz';
import { roomBiz } from '@/biz/roomBiz';
import { roomStateBiz, RoomStateClass } from '@/biz/roomStateBiz';
import { roomSaleStatisticsBiz } from '@/biz/roomSaleStatisticsBiz';
import { roomReservBiz } from '@/biz/roomReservBiz';
import { interruptBiz } from '@/biz/interruptBiz';
import dayjs from 'dayjs';
import { getWindowStyle, openwin, closewin } from '@/utils/win-util';

interface CssName {
  css: string[];
  name: string;
}

// interface Props {
//   roomState: RoomState;
// }

interface ViewState {
  quickMenu: boolean
  stayAction: boolean;
}


// ====================================================================
// 선언
// ====================================================================
const props = defineProps(['roomState']);
console.log(`*** props.roomState ::`, props.roomState);

const store = useStore();

// reactive of view state.
const state: ViewState = reactive({
  quickMenu: false,
  stayAction: false,
});

// room ID.
const roomId = props.roomState?.room_id;
console.log(`*** roomId ::`, roomId);


// =========================================================
// 초기 조회
// =========================================================
// roomStateBiz.roomStateByRoomId(store, roomId);
if (roomId) {
  roomSaleStatisticsBiz.roomSaleByRoomId(store, roomId);
}


// =========================================================
// COMPUTED
// =========================================================
// Room Sale.
const roomSale = computed<RoomSale>(() => roomSaleStatisticsBiz.getterRoomSale(store));

// 두칸 표시 여부.
const isDoubleSquare = computed<boolean>(() => {
  return props.roomState.theft === 1 || props.roomState.alarm === 1 || props.roomState.outing === 1;
});

// 숙박형태 css 배열과 이름.
const stayTypeCssName = computed<CssName>(() => {
  // <!-- 숙박:stay, 대실:rent, 장기:long, 청소요청 clean 청소중:cleaning, 청소완료:cleaning-done, 공실:stay-txt -->
  const sale = props.roomState.sale;
  const key = props.roomState.key;
  const clean = props.roomState.clean;
  const cleanChangeTime = props.roomState.clean_change_time || null;

  let css = ['stay-txt'];
  if (isDoubleSquare.value) {
    css.push('txt2');
  }

  if (props.roomState === undefined || props.roomState === null) {
    css.push('stay-empty');
    return { css, name: '공실' };
  }

  if (sale === 1) { //투숙형태 (1:숙박, 2:대실, 3:장기)
    css.push('stay');
    return { css, name: '숙박' };
  }
  else if (sale === 2) { //투숙형태 (1:숙박, 2:대실, 3:장기)
    css.push('rent');
    return { css, name: '대실' };
  }
  else if (sale === 3) { //투숙형태 (1:숙박, 2:대실, 3:장기)
    css.push('long');
    return { css, name: '장기' };
  }
  else if (key === 3) { //0:없음, 1:고객키, 2:마스터키 3:청소키
    css.push('cleaning');
    return { css, name: '청소중' };
  }
  else if (clean === 1 && cleanChangeTime === null) { //청소요청 (0:없음, 1:요청) & 완료시간
    css.push('clean');
    return { css, name: '청소요청' };
  }
  else if (clean === 1 && cleanChangeTime !== null) { //청소요청 (0:없음, 1:요청)
    css.push('cleaning-done');
    return { css, name: '청소완료' };
  }
  else {
    css.push('stay-empty');
    return { css, name: '공실' };
  }
});


// =========================================================
// 기능
// =========================================================


// =========================================================
// 사용자 액션
// =========================================================


// =========================================================
// 정보 & onMounted
// =========================================================
</script>
