<template>
  <div class="mt-4">
    <!-- field-set -->
    <fieldset class="field-set">
      <h3 class="title-sub mb-2">객실예약 목록</h3>
      <div class="field-box">
        <div class="field">
          <v-radio-group
            hide-details
            density="compact"
            inline
            v-model="rangeType"
            @update:model-value="doRangeType()"
          >
            <v-radio color="secondary" label="어제" :value="1"></v-radio>
            <v-radio
              color="secondary"
              label="오늘"
              :value="2"
              class="ml-4"
            ></v-radio>
            <v-radio
              color="secondary"
              label="이번주"
              :value="3"
              class="ml-4"
            ></v-radio>
            <v-radio
              color="secondary"
              label="이번달"
              :value="4"
              class="ml-4"
            ></v-radio>
          </v-radio-group>
          <span class="mr-4"></span>
          <VueDatePicker
            class="date-custom mr-4"
            style="width: 140px"
            locale="ko"
            week-start="0"
            input-class-name="_date_input"
            select-text="선택"
            v-model="rangeBegin"
            :format="viewUtil.dpFormat"
            :clearable="false"
            :enable-time-picker="false"
            @update:model-value="doSearch(true)"
          ></VueDatePicker>
          <VueDatePicker
            class="date-custom"
            style="width: 140px"
            locale="ko"
            week-start="0"
            input-class-name="_date_input"
            select-text="선택"
            v-model="rangeEnd"
            :format="viewUtil.dpFormat"
            :clearable="false"
            :enable-time-picker="false"
            @update:model-value="doSearch(true)"
          ></VueDatePicker>
          <div
            class="like-th align-center mx-4"
            style="width: 120px; justify-content: center"
          >
            필터 선택
          </div>
          <div class="d-flex align-center" style="gap: 8px">
            <v-select
              class="custom-select"
              hide-details
              style="width: 130px !important"
              value="예약상태"
              density="compact"
              color="success"
              v-model="bookingState"
              :items="bookingStateList"
              item-value="value"
              item-title="name"
              @update:model-value="doFilter()"
            ></v-select>
            <v-select
              class="custom-select"
              hide-details
              style="width: 130px !important"
              value="객실타입"
              density="compact"
              color="success"
              v-model="roomType"
              :items="roomTypeList"
              item-value="value"
              item-title="name"
              @update:model-value="doFilter()"
            ></v-select>
            <div class="input-search" style="width: 200px">
              <input
                v-model="filterText"
                ref="inputFilterText"
                type="text"
                @keyup="doFilterText()"
              />
              <v-btn
                density="compact"
                size="small"
                icon="mdi-close-circle-outline"
                @click="doFilterTextClear()"
              ></v-btn>
            </div>
            <!-- <v-btn density="compact" size="small" icon="mdi-magnify"></v-btn> -->
          </div>
        </div>
      </div>

      <div class="d-flex mt-4 justify-space-between">
        <div class="d-flex">
          <div style="width: 50px">
            <span style="font-size: 12px">결과: </span>
            <span
              class="color-primary"
              style="font-size: 13px; font-weight: 800"
              >{{ resultList.length }}</span
            >,
          </div>
          <div class="ml-4">
            <span class="color-primary" style="font-size: 13px">
              <template
                v-if="
                  rangeType == RangeType.TODAY ||
                  rangeType == RangeType.YESTERDAY
                "
              >
                {{ rangeBegin }}
              </template>
              <template v-else> {{ rangeBegin }} ~ {{ rangeEnd }} </template>
            </span>
          </div>
        </div>
        <div class="d-flex">
          <ul>
            <li style="list-style: circle">
              <span style="font-size: 12px"
                >행을 더블클릭해 상세정보로 이동할수 있습니다.</span
              >
            </li>
          </ul>
        </div>
      </div>

      <!-- table -->
      <v-table
        fixed-header
        height="447"
        class="overflow-y-auto text-center dense-dark"
      >
        <colgroup>
          <col style="min-width: 45px" />
          <col style="min-width: 111px" />
          <col style="min-width: 80px" />
          <col style="min-width: 70px" />
          <col style="min-width: 70px" />
          <col style="width: 120px" />
          <col style="width: 120px" />
          <col style="min-width: 120px" />
          <col style="min-width: 90px" />
          <col style="min-width: auto" />
          <col style="min-width: 70px" />
          <col style="min-width: 90px" />
          <col style="min-width: 90px" />
          <col style="width: 120px" />
        </colgroup>
        <!-- style="height: 45px;" -->
        <thead>
          <tr>
            <th class="data-cell">No</th>
            <th class="data-cell">OTA</th>
            <th class="data-cell">예약번호</th>
            <th class="data-cell">숙박형태</th>
            <th class="data-cell">상태</th>
            <th class="data-cell">입실일시</th>
            <th class="data-cell">퇴실일시</th>
            <th class="data-cell">휴대폰번호</th>
            <th class="data-cell">객실타입</th>
            <th class="data-cell">배정객실</th>
            <th class="data-cell">고객명</th>
            <th class="data-cell">판매가</th>
            <th class="data-cell">예약가</th>
            <th class="data-cell">접수일자</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in resultList" @dblclick="doSelectRow(item)">
            <td class="data-cell">{{ index + 1 }}</td>
            <td class="data-cell">{{ item.otaName }}</td>
            <td class="data-cell">{{ item.reserv_num }}</td>
            <td class="data-cell">
              <span :style="{ color: item.stayItem.color }">{{
                item.stayItem.name
              }}</span>
            </td>
            <td class="data-cell">{{ item.stateName }}</td>
            <td class="data-cell">
              {{ viewUtil.fmtDateTime(item.check_in_exp) }}
            </td>
            <td class="data-cell">
              {{ viewUtil.fmtDateTime(item.check_out_exp) }}
            </td>
            <td class="data-cell">{{ viewUtil.fmtMobileNum(item.hp) }}</td>
            <td class="data-cell">
              <span
                :class="item.room_type_id === null ? 'color-secondary' : ''"
                >{{
                  item.room_type_id === null ? '미배정' : item.room_type_name
                }}</span
              >
            </td>
            <td class="data-cell">
              <span
                :class="
                  item.room_id === null ? 'color-secondary' : 'color-primary'
                "
                >{{ item.room_id === null ? '미배정' : '배정' }}</span
              >
            </td>
            <td class="data-cell">
              <span
                :style="{ color: isUnRegName(item.name) ? '#a4a4a4' : 'black' }"
                >{{
                  isUnRegName(item.name) ? '미등록' : item.name || '미등록'
                }}</span
              >
            </td>
            <td class="data-cell">{{ viewUtil.commaWon(item.room_fee) }}</td>
            <td class="data-cell">
              <span class="color-primary">{{
                viewUtil.commaWon(item.reserv_fee)
              }}</span>
            </td>
            <td class="data-cell">
              {{ viewUtil.fmtDateTime(item.reserv_date) }}
            </td>
          </tr>
        </tbody>
      </v-table>
      <!-- //table -->
    </fieldset>
  </div>
</template>

<style>
._date_input {
  font-size: 0.8rem;
}
.dp__selection_preview {
  /* color: var(--dp-primary-color); */
  color: rgb(var(--v-theme-success)) !important;
  font-weight: 500;
}
.dp__action_cancel {
  display: none;
}
.dp__action_select {
  width: 43px;
  height: 26px;
  font-size: 13px;
}
</style>

<style lang="scss" scoped>
.data-cell {
  padding: 0 1px !important;
}
</style>

<script setup lang="ts">
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import _ from 'lodash';
import dayjs from 'dayjs';

import { ref, computed, onMounted } from 'vue';
import { useStore } from 'vuex';
import {
  Preference,
  RoomType,
  StayItem,
  StringValue,
  NumberValue,
} from '@/types';
import { enumName, booking } from '@/constants/enums';
import { RangeType } from '@/biz/dateBiz';
import { roomTypeBiz } from '@/biz/roomTypeBiz';
import { preferencesBiz } from '@/biz/preferencesBiz';
import { bookingBiz, BookingSet, BookingControl } from '@/biz/bookingBiz';
import { viewUtil } from '@/utils/view-util';

// =========================================================
// 타입
// =========================================================

// =========================================================
// 선언
// =========================================================
const props = defineProps<{
  bookingControl: BookingControl;
}>();
const emit = defineEmits(['update:bookingControl']);

const store = useStore();
const user = store.getters['user'];
// console.log(`*** 예약관리 목록 - user ::`, JSON.stringify(user));

// 검색어 입력창.
const inputFilterText = ref(null);

// 예약목록 조회결과를 맵핑한 목록.
const bookingList = ref<BookingSet[]>([]);

// 필터렁 적용된 예약목록.
const filterList = ref<BookingSet[]>([]);

// 예약상태 값 목록.
const bookingStateList: StringValue[] = [
  { name: '예약상태 (전체)', value: null },
  {
    name: enumName(booking.State, booking.State.NORMAL),
    value: booking.State.NORMAL,
  },
  {
    name: enumName(booking.State, booking.State.CANCEL),
    value: booking.State.CANCEL,
  },
  {
    name: enumName(booking.State, booking.State.USED),
    value: booking.State.USED,
  },
];

// 객실유형 값 목록.
const roomTypeList = ref<NumberValue[]>([
  { name: '객실타입 (전체)', value: 0 },
  { name: '미배정', value: null },
]);

// =========================================================
// 초기 조회
// =========================================================
const initData = async () => {
  await preferencesBiz.preference(store, user.place_id);
  await roomTypeBiz.roomTypes(store, user.place_id);
  await doSearch();
};

// =========================================================
// COMPUTED
// =========================================================
// 설정.
const pref = computed<Preference>(() => preferencesBiz.getterPreference(store));

// 객실유형.
const roomTypes = computed<RoomType[]>(() =>
  roomTypeBiz.getterRoomTypes(store)
);

// 기간 유형.
const rangeType = computed<number>({
  get() {
    return store.getters['booking/rangeType'];
  },
  set(value: number) {
    store.commit('booking/rangeType', value);
  },
});

// 기간 시작일.
const rangeBegin = computed<string>({
  get() {
    const val = store.getters['booking/rangeBegin'];
    return val ? val.format('YYYY-MM-DD') : null;
  },
  set(value: string) {
    store.commit('booking/rangeBegin', dayjs(value));
  },
});

// 기간 종료일.
const rangeEnd = computed<string>({
  get() {
    const val = store.getters['booking/rangeEnd'];
    return val ? val.format('YYYY-MM-DD') : null;
  },
  set(value: string) {
    store.commit('booking/rangeEnd', dayjs(value));
  },
});

const bookingState = computed<string>({
  get() {
    return store.getters['booking/bookingState'];
  },
  set(value: string) {
    store.commit('booking/bookingState', value);
  },
});

const roomType = computed<number>({
  get() {
    return store.getters['booking/roomType'];
  },
  set(value: number) {
    store.commit('booking/roomType', value);
  },
});

const filterText = computed<string>({
  get() {
    return store.getters['booking/filterText'];
  },
  set(value: string) {
    store.commit('booking/filterText', value);
  },
});

const resultList = computed<BookingSet[]>({
  get() {
    return store.getters['booking/resultList'];
  },
  set(value: BookingSet[]) {
    store.commit('booking/resultList', value);
  },
});

// =========================================================
// 기능
// =========================================================
const isUnRegName = (name: string): boolean => {
  return name === null || name === '미등록 고객';
};

// =========================================================
// 사용자 액션
// =========================================================
// 조회 기간 선택.
const doRangeType = () => {
  console.log(`*** doRangeType - rangeType ::`, rangeType.value);
  const today = dayjs().hour(0).minute(0).second(0).millisecond(0);

  switch (rangeType.value) {
    case RangeType.TODAY:
      const str1 = today.format('YYYY-MM-DD');
      rangeBegin.value = str1;
      rangeEnd.value = str1;
      break;
    case RangeType.YESTERDAY:
      const str2 = today.subtract(1, 'day').format('YYYY-MM-DD');
      rangeBegin.value = str2;
      rangeEnd.value = str2;
      break;
    case RangeType.THIS_WEEK:
      rangeBegin.value = today.startOf('week').format('YYYY-MM-DD');
      rangeEnd.value = today.endOf('week').format('YYYY-MM-DD');
      break;
    case RangeType.THIS_MONTH:
      rangeBegin.value = today.startOf('month').format('YYYY-MM-DD');
      rangeEnd.value = today.endOf('month').format('YYYY-MM-DD');
      break;
  }
  console.log(
    `*** doRangeType - rangeBegin: ${rangeBegin.value}, rangeEnd: ${rangeEnd.value}`
  );
  doSearch();
};

// 예약목록 기간 조회.
const doSearch = async (manualRange: boolean = false) => {
  if (manualRange) {
    rangeType.value = null;
  }

  bookingState.value = null; // 필터 초기화.
  roomType.value = 0;
  filterText.value = null;

  await bookingBiz.bookings(
    store,
    user.place_id,
    rangeBegin.value,
    rangeEnd.value
  ); // 조회.
  const list = bookingBiz.getterBookings(store);

  bookingList.value = list.map((item) => {
    // 결과 맵핑.
    const clone = _.clone(item) as BookingSet;
    clone.stayItem = preferencesBiz.stayItem(item.stay_type, pref.value);
    clone.otaName = enumName(booking.Ota, item.ota_code);
    clone.stateName = enumName(booking.State, item.state);
    return clone;
  });

  doFilter();
};

// 예약상태, 객실유형 필터.
const doFilter = () => {
  let list = bookingList.value; // 조회된 목록.

  list = list.filter((item) => {
    if (bookingState.value !== null && bookingState.value !== item.state) {
      // 특정 값 선택인데, 항목이 해당 값 아님.
      return false;
    }

    if (roomType.value === null && item.room_type_id !== null) {
      // 미배정 선택인데, 항목이 미배정이 아님.
      return false;
    } else if (roomType.value !== 0 && item.room_type_id !== roomType.value) {
      // 특정 값 선택인데, 항목이 해당 값 아님.
      return false;
    }
    return true;
  });

  filterList.value = list; // 필터링된 목록.
  doFilterText();
};

// 검색어 필터.
const doFilterText = () => {
  if (filterText.value !== null && filterText.value.trim().length > 0) {
    let list = filterList.value;
    list = list.filter((item) => {
      const ret = viewUtil.textFilter(item, filterText.value);
      // console.log(`*** doFilterText - ret: ${ret}, text: ${filterText.value} => item: ${JSON.stringify(item)}`);
      return ret;
    });
    resultList.value = list; // 최종 목록에 적용.
  } else {
    resultList.value = filterList.value; // 최종 목록에 적용.
  }
};

// 필터 검색어 입력창 초기화.
const doFilterTextClear = () => {
  resultList.value = filterList.value;
  filterText.value = null;
  inputFilterText.value.focus();
};

// 행 더블클릭.
const doSelectRow = (item: BookingSet) => {
  props.bookingControl.bookingId = item.id;
  props.bookingControl.tabNo = 2;
  props.bookingControl.isNewMode = false;
  emit('update:bookingControl', props.bookingControl);
};

// =========================================================
// 정보, onMounted, onBeforeUnmount
// =========================================================
onMounted(() => {
  if (props.bookingControl.isFirstSearch) {
    props.bookingControl.isFirstSearch = false;
    (async () => {
      await initData();

      roomTypes.value.forEach((item) => {
        roomTypeList.value.push({ name: item.name, value: item.id });
      });
    })();
  }
});
</script>
