<template>
  <!-- popup -->
  <Popup :popup="popup">
    <!-- slot -->
    <template v-slot:body>
      <!-- popup-contents -->
      <div class="popup-contents">
        <!-- tab -->
        <div class="btn-toggels">
          <v-btn
            :class="{active : bookingControl.tabNo === 1}" 
            rounded="0" 
            size="large" 
            @click="doTab(1)"
          >
            <v-icon class="mr-1">
              mdi-calendar-text
            </v-icon>
            객실예약 목록
          </v-btn>
          <v-btn
            :class="{active : bookingControl.tabNo === 2}" 
            rounded="0" 
            size="large" 
            @click="doTab(2)"
          >
            <v-icon class="mr-1">mdi-gesture-tap-button</v-icon>
            객실예약 {{ newEditName }}
          </v-btn>
        </div>

        <!-- panels -->
        <roomReservationList v-if="bookingControl.tabNo === 1"
          :bookingControl="bookingControl"
        ></roomReservationList>
        <roomReservationRegister v-else-if="bookingControl.tabNo === 2"
          :bookingControl="bookingControl"
        ></roomReservationRegister>
      </div>
      <!-- //popup-contents -->
    </template>
    <!-- //slot -->
    <!-- //slot -->
    <template v-slot:footer>
      <template v-if="bookingControl.tabNo === 1">
        <div class="btns">
          <v-btn color="darkgrey" size="large" style="min-width: 150px" @click="doClosePopup()">닫기</v-btn>
        </div>
      </template>
      <template v-if="bookingControl.tabNo === 2">
        <div class="btns">
          <v-btn color="primary" size="large" style="min-width: 150px">예약{{ newEditName }}</v-btn>
          <v-btn color="darkgrey" size="large" style="min-width: 150px" @click="doClosePopup()">닫기</v-btn>
        </div>
      </template>
    </template>
  </Popup>
  <!-- //popup -->
</template>

<script setup lang="ts">
import Popup from "@/components/popup/popup.vue";
import '@vuepic/vue-datepicker/dist/main.css'
import roomReservationList from './room_reservation_list.vue';
import roomReservationRegister from './room_reservation_register.vue';

import { reactive, computed, onMounted } from 'vue';
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import { PopupParam } from '@/types';
import { popupBiz } from '@/biz/popupBiz';
import { BookingControl } from '@/biz/bookingBiz';
import { roomTypeBiz } from '@/biz/roomTypeBiz';
import { preferencesBiz } from '@/biz/preferencesBiz';


// =========================================================
// 타입
// =========================================================

// =========================================================
// 선언
// =========================================================
const props = defineProps<{ num: string }>();
const route = useRoute();

const store = useStore();
const user = store.getters['user'];

const popupLinkAlias = popupBiz.linkAlias(route.path.substring(1)); // 앞에 '/'' 제거

const bookingControl: BookingControl = reactive({
  isNewMode: true,
  isFirstSearch: true,
  tabNo: props.num ? Number(props.num) : 1,
  bookingId: null,
});


// =========================================================
// 초기 조회
// =========================================================

// =========================================================
// COMPUTED
// =========================================================
const newEditName = computed<string>(() => {
  return bookingControl.isNewMode ? "등록" : "수정";
});

// =========================================================
// WATCH
// =========================================================

// =========================================================
// 기능
// =========================================================

// =========================================================
// 사용자 액션
// =========================================================
// 창 닫기.
const doClosePopup = () => {
  if (window.opener) window.opener.closePopup(popupLinkAlias);
  else window.close();
};

const doTab = (tabNo: number) => {
  bookingControl.tabNo = tabNo;
  bookingControl.isNewMode = true;
};


// =========================================================
// 정보, onMounted, onBeforeUnmount
// =========================================================
// onMounted(async () => {
// });

const popup: PopupParam = {
  title: "예약관리",
  theme: "theme-popup-dark",
  size: "size-xlg",
  align: "mx-auto",
  pin: false,
  link: popupLinkAlias,
};
</script>
