<template>
  <!-- popup -->
  <Popup :popup="popup" style="width: 800px; min-height: 400px">
    <!-- slot -->
    <template v-slot:body>
      <!-- popup-contents -->
      <div class="popup-contents">
        <!-- tab -->
        <div class="btn-toggels">
          <v-btn
            :class="{ active: toggle === 1 }"
            rounded="0"
            size="large"
            @click="doToggle(1)"
          >
            <v-icon class="mr-1 pt-1">mdi-gesture-tap-button</v-icon>
            객실목록 뷰 관리
          </v-btn>
          <v-btn
            :class="{ active: toggle === 2 }"
            rounded="0"
            size="large"
            @click="doToggle(2)"
          >
            <v-icon class="mr-1 pt-1">mdi-calendar-text</v-icon>
            객실목록 뷰 설정
          </v-btn>
          <!-- <v-btn
            :class="{active : toggle === 3}"
            rounded="0"
            size="large"
            @click="doToggle(3)"
          >
            <v-icon class="mr-1 pt-1">mdi-tab</v-icon>
            탭 관리
          </v-btn> -->
        </div>

        <!-- panels -->
        <roomSettingSmart v-if="toggle === 1"></roomSettingSmart>
        <roomSettingManual v-if="toggle === 2"></roomSettingManual>
      </div>
      <!-- //popup-contents -->
    </template>
    <!-- //slot -->
    <template v-slot:footer>
      <div></div>
      <!-- 기존 템플릿 영역제거 빈div -->
      <!-- <div class="btns">
        <v-btn color="secondary" size="large" style="min-width: 150px" @click="doApply();">{{ confirmText }}</v-btn>
        <v-btn color="darkgrey" size="large" style="min-width: 150px" @click="doCancel();">닫기</v-btn>
      </div> -->
    </template>
  </Popup>
  <!-- //popup -->
</template>

<script setup lang="ts">
import { ref, computed, watch } from 'vue';
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import Popup from '@/components/popup/popup.vue';
import roomSettingSmart from './room_setting_smart.vue';
import roomSettingManual from './room_setting_manual.vue';
import { PopupParam } from '@/types';
import { roomBiz } from '@/biz/roomBiz';
import { roomViewBiz } from '@/biz/roomViewBiz';
import { roomTypeBiz } from '@/biz/roomTypeBiz';

// =========================================================
// 선언
// =========================================================
const componentName = 'RoomSetting.vue';

const store = useStore();
const route = useRoute();

const user = store.getters['user'];

const toggle = ref<number>(1);
const popupLink = route.path.substring(1); // 앞에 '/'' 제거

// =========================================================
// 초기 조회
// =========================================================
roomBiz.roomFloors(store, user.place_id);
roomTypeBiz.roomTypes(store, user.place_id);
roomViewBiz.roomViews(store, user.place_id);
roomViewBiz.roomTheme(store);

if (performance.navigation.type === 1) {
  // alert('reload page now');
  // popupBiz.doOpenRoomViewSetting(store);
}

// =========================================================
// COMPUTED
// =========================================================

// =========================================================
// WATCH
// =========================================================

// =========================================================
// 기능
// =========================================================

// =========================================================
// 사용자 액션
// =========================================================
// 패널 변경.
const doToggle = (val: number) => {
  toggle.value = val;
};

// =========================================================
// 정보, onMounted, onBeforeUnmount
// =========================================================
const popup: PopupParam = {
  title: '객실목록 뷰 관리',
  theme: 'theme-popup-dark',
  size: 'size-auto',
  align: 'mx-auto',
  pin: false,
  link: popupLink,
};
</script>
