<template>
  <div class="mt-4">
    <!-- field-set -->
    <fieldset class="field-set">
      <v-table>
        <colgroup>
          <col style="width: 90px" />
          <col />
        </colgroup>
        <tbody>
          <tr>
            <th class="text-center">탭 이름</th>
            <td>
              <div class="d-flex justify-space-between">
                <div
                  class="input-search board ml-1 mt-1"
                  style="height: 2rem; width: 50%"
                >
                  <input
                    type="text"
                    v-model="changeName"
                    id="tab_name"
                    :disabled="!isReady"
                  />
                </div>
                <v-checkbox-btn
                  label="신규"
                  v-model="state.isNew"
                ></v-checkbox-btn>
                <div v-if="state.isNew" class="d-flex mt-1">
                  <v-btn
                    :disabled="changeName === null || changeName.length <= 2"
                    color="primary"
                    size="small"
                    class="ml-3"
                    style="min-width: 50px; margin-top: 2px"
                    @click="doCreateView()"
                    >생성</v-btn
                  >
                </div>
                <div v-if="!state.isNew" class="d-flex mt-1">
                  <v-btn
                    :disabled="!isNameChange"
                    color="primary"
                    size="small"
                    class="ml-2"
                    style="min-width: 50px; margin-top: 2px"
                    @click="doChangeTabName()"
                    >변경</v-btn
                  >
                  <v-btn
                    :disabled="roomView === null"
                    color="secondary"
                    size="small"
                    class="ml-3"
                    style="min-width: 50px; margin-top: 2px"
                    @click="doDeleteTab()"
                    >삭제</v-btn
                  >
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th class="text-center">탭 목록</th>
            <td>
              <div
                class="d-flex"
                style="height: 70px; padding: 3px 0; align-items: center"
              >
                <!-- 객실관리 탭 목록 -->
                <div v-for="item in roomViews">
                  <v-chip
                    class="ma-1"
                    :color="
                      item.id === roomView?.id ? 'secondary' : 'grey lighten-2'
                    "
                    :disabled="state.isNew"
                    @click="doChoiceView(item)"
                    style="font-size: 0.8rem"
                    >{{ item.title }}
                  </v-chip>
                </div>
                <!-- //객실관리 탭 목록 -->
              </div>
            </td>
          </tr>
          <tr>
            <th class="text-center">
              객실 구성<br />
              <v-checkbox-btn
                label="타입"
                v-model="isShowTypeName"
                density="compact"
              ></v-checkbox-btn>
            </th>
            <td>
              <div
                class="d-flex justify-space-between"
                style="height: 400px; padding: 3px 0"
              >
                <!-- 객실관리 포함 목록 -->
                <div
                  class="pl-1 pr-2"
                  style="width: 50%; border-right: 1px solid lightgrey"
                >
                  <v-card-title
                    class="d-flex align-center justify-center bg-blue-darken-1 px-6 rounded"
                    style="height: 30px"
                  >
                    <span class="text-white" style="font-size: 0.9rem"
                      >포함된 객실</span
                    >
                    &nbsp;
                    <span class="text-white" style="font-size: 0.7rem"
                      >(전체포함수: {{ includeTotalCount }})</span
                    >
                  </v-card-title>
                  <template v-if="roomView !== null">
                    <div
                      class="mt-1 mb-2"
                      style="height: 320px; overflow: auto"
                    >
                      <div
                        v-for="row in includeRows"
                        class="mt-1 bg-grey-lighten-5"
                      >
                        <a @click="doClickRow(row.rowNo)">
                          <v-card-title
                            class="d-flex align-center justify-center px-6"
                            :class="
                              row.rowNo === state.rowNo
                                ? 'bg-teal'
                                : 'bg-blue-grey-lighten-2'
                            "
                            style="
                              height: 20px;
                              font-size: 0.7rem;
                              font-weight: 600;
                            "
                            ><span>{{ row.rowNo + 1 }} 행</span>
                          </v-card-title></a
                        >
                        <template v-for="item in row.items">
                          <v-chip
                            class="ma-1"
                            color="primary"
                            style="font-size: 0.8rem"
                            :disabled="item.row !== state.rowNo"
                            @click="doRemoveIncluded(item)"
                            >{{ item.room_name }}
                            <span
                              v-if="isShowTypeName"
                              class="ml-1"
                              style="font-size: 0.7rem"
                              >({{ item.type_name }})</span
                            >
                            <v-icon class="ml-1"
                              >mdi-close-circle-outline</v-icon
                            >
                          </v-chip>
                        </template>
                      </div>
                    </div>
                    <div class="text-center">
                      <v-btn
                        color="grey"
                        size="small"
                        :disabled="rowLen <= 1"
                        @click="doDeleteRow()"
                        >마지막 행 삭제</v-btn
                      >
                      &nbsp;
                      <v-btn
                        color="grey"
                        size="small"
                        :disabled="!isReady || rowLen >= MAX_ROW"
                        @click="doAddRow()"
                        >행 추가</v-btn
                      >
                    </div>
                  </template>
                </div>
                <!-- //객실관리 포함 목록 -->
                <!-- 대상 목록 -->
                <div class="pl-1" style="width: 50%">
                  <v-card-title
                    class="d-flex align-center justify-center bg-deep-purple-lighten-2 px-6 rounded"
                    style="height: 30px"
                  >
                    <span class="text-white" style="font-size: 0.9rem"
                      >선택할 객실</span
                    >
                    &nbsp;
                    <span class="text-white" style="font-size: 0.7rem"
                      >(전체수: {{ resourceItems.length }}/{{
                        roomResourceItems.length
                      }})</span
                    >
                  </v-card-title>
                  <template v-if="roomView !== null">
                    <div class="d-flex mt-1 mb-1">
                      <v-select
                        v-model="state.floorNo"
                        :items="floors"
                        item-value="no"
                        item-title="name"
                        density="compact"
                        hide-details
                      >
                      </v-select>
                      &nbsp;
                      <v-select
                        v-model="state.roomTypeId"
                        :items="roomTypes"
                        item-value="id"
                        item-title="name"
                        density="compact"
                        hide-details
                      >
                      </v-select>
                    </div>
                    <div
                      class="bg-grey-lighten-5 mb-2"
                      style="height: 290px; overflow: auto"
                    >
                      <template v-for="item in resourceItems">
                        <v-chip
                          class="ma-1"
                          :color="
                            item.used
                              ? 'grey-lighten-1'
                              : 'deep-purple-accent-2'
                          "
                          style="font-size: 0.8rem"
                          @click="doClickResource(item)"
                          >{{ item.room_name }}
                          <span
                            v-if="isShowTypeName"
                            class="ml-1"
                            style="font-size: 0.7rem"
                            >({{ item.type_name }})</span
                          >
                          <v-icon
                            class="ml-1"
                            :icon="
                              item.used
                                ? 'mdi-arrow-right-circle-outline'
                                : 'mdi-arrow-left-circle-outline'
                            "
                          ></v-icon>
                        </v-chip>
                      </template>
                    </div>
                    <div class="text-center">
                      <v-btn
                        color="grey"
                        size="small"
                        :disabled="!isReady || includeRowItemLen === 0"
                        @click="doRemoveAll"
                        >모두 제거</v-btn
                      >
                      &nbsp;
                      <v-btn
                        color="grey"
                        size="small"
                        :disabled="!isReady || unusedResourceItemLen === 0"
                        @click="doAddAll()"
                        >모두 추가</v-btn
                      >
                    </div>
                  </template>
                </div>
                <!-- //대상 목록 -->
              </div>
            </td>
          </tr>
        </tbody>
      </v-table>
    </fieldset>
    <!-- //field-set -->
  </div>

  <div class="popup-footer mt-5">
    <div class="btns">
      <v-btn
        color="darkgrey"
        size="large"
        style="min-width: 150px"
        @click="doCancel()"
        >닫기</v-btn
      >
      <v-btn
        color="secondary"
        size="large"
        style="min-width: 150px"
        :disabled="roomView === null"
        @click="doViewRoomApply()"
        >객실 적용</v-btn
      >
    </div>
  </div>
  <v-snackbar v-model="snackbar.value" :timeout="snackbar.timeout">
    {{ snackbar.message }}
    <template v-slot:actions>
      <v-btn color="blue" variant="text" @click="snackbar.value = false">
        닫기
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script setup lang="ts">
import { ref, reactive, computed, watch, onMounted } from 'vue';
import { useStore, mapActions } from 'vuex';
import { useRoute } from 'vue-router';
import {
  Floor,
  Room,
  RoomType,
  RoomView,
  RoomViewItem,
  Snackbar,
} from '@/types';
import { roomBiz } from '@/biz/roomBiz';
import { roomTypeBiz } from '@/biz/roomTypeBiz';
import { roomViewBiz, RoomViewClass } from '@/biz/roomViewBiz';
import { roomViewItemBiz, ResourceRoomViewItem } from '@/biz/roomViewItemBiz';
import { popupBiz, SyncType } from '@/biz/popupBiz';
import { viewUtil } from '@/utils/view-util';
import _ from 'lodash';

/** 포함된 행 */
interface IncludeRow {
  rowNo: number;
  items: ResourceRoomViewItem[];
  count: number;
}

/** 포함된 행 클래스 */
class IncludeRowClass implements IncludeRow {
  rowNo: number;
  items: ResourceRoomViewItem[] = [];

  constructor(rowNo: number, item?: ResourceRoomViewItem) {
    this.rowNo = rowNo;
    if (item) this.items.push(item);
  }

  get count(): number {
    return this.items ? this.items.length : 0;
  }
}

/** 최대 행 수. */
const MAX_ROW = 30;

// =========================================================
// 선언
// =========================================================
const componentName = 'RoomSettingSmart.vue';

const store = useStore();
const route = useRoute();

const user = store.getters['user'];
const popupLink = popupBiz.linkAlias(route.path.substring(1)); // 앞에 '/'' 제거. 그리고 alias.
const roomResourceItems = ref<ResourceRoomViewItem[]>([]); // 리소스 객실 아이템.
const roomView = ref<RoomView>(null);
const changeName = ref<string>(null);
const isShowTypeName = ref<boolean>(false); // 칩에 타입명 표시 여부.
const includeRows = ref<IncludeRow[]>([]); // 포함된 행 목록.

console.log('----- user', user);
const state = reactive({
  isNew: false,
  floorNo: 0,
  roomTypeId: 0,
  rowNo: 0,
});

const snackbar: Snackbar = reactive({
  value: false,
  message: null,
  timeout: 3000,
});

// =========================================================
// 초기 조회
// =========================================================
roomBiz.roomsByPlaceId(store, user.place_id, (rooms: Room[]) => {
  roomResourceItems.value = rooms.map((room: Room) => roomToResourceItem(room));
});

// =========================================================
// COMPUTED
// =========================================================
const floors = computed<Floor[]>(() => roomBiz.getterFloors(store, true));

// 객실 유형 목록.
const roomTypes = computed<RoomType[]>(() =>
  roomTypeBiz.getterRoomTypes(store, true)
);

// 객실목록 뷰 목록.
const roomViews = computed<RoomView[]>(() =>
  roomViewBiz.getterRoomViews(store)
);

// 작업 가능 여부.
const isReady = computed<boolean>(() => state.isNew || roomView.value !== null);

// 이름 변경 여부.
const isNameChange = computed<boolean>(() => {
  return (
    changeName.value !== null &&
    changeName.value.length >= 2 &&
    roomView.value !== null &&
    changeName.value !== roomView.value.title
  );
});

// 리소스 아이템.
const resourceItems = computed<ResourceRoomViewItem[]>(() => {
  if (!state.isNew && roomView.value === null) {
    // 신규 또는 객실목록 뷰 선택이 없으면 목록 표시 안함.
    return [];
  }

  let list = roomResourceItems.value;
  if (state.floorNo > 0) {
    list = list.filter(
      (item: ResourceRoomViewItem) => item.floor === state.floorNo
    );
  }
  if (state.roomTypeId > 0) {
    list = list.filter(
      (item: ResourceRoomViewItem) => item.type_id === state.roomTypeId
    );
  }
  const includeRow = includeRows.value.find(
    (row: IncludeRow) => row.rowNo === state.rowNo
  );
  if (includeRow && includeRow.items.length > 0) {
    list.forEach((item: ResourceRoomViewItem) => {
      const includeItem = includeRow.items.find(
        (includeItem: ResourceRoomViewItem) =>
          includeItem.room_id === item.room_id
      );
      if (includeItem) item.used = true;
      else item.used = false;
    });
  } else {
    list.forEach((item: ResourceRoomViewItem) => (item.used = false));
  }

  return list;
});

// 행 수.
const rowLen = computed<number>(() => includeRows.value.length);

// 포함됨 총 객실 수.
const includeTotalCount = computed<number>(() => {
  let total = 0;
  includeRows.value.forEach((row: IncludeRow) => (total += row.count));
  return total;
});

// 남아 있는 리소스 아이템 수.
const unusedResourceItemLen = computed<number>(
  () =>
    resourceItems.value.filter(
      (item: ResourceRoomViewItem) => item.used === false
    ).length
);

// 선택한 포함 행의 아이템 수.
const includeRowItemLen = computed<number>(() => {
  const includeRow = includeRows.value.find(
    (row: IncludeRow) => row.rowNo === state.rowNo
  );
  return includeRow ? includeRow.count : 0;
});

// =========================================================
// WATCH
// =========================================================
watch(
  () => state.isNew,
  (newVal, oldVal) => {
    console.log(
      `*** WATCH - state.isNew ::`,
      state.isNew,
      'newVal:',
      newVal,
      'oldVal:',
      oldVal
    );
    if (state.isNew) {
      reset();
      document.getElementById('tab_name').focus();
    }
  }
);

watch(
  () => state,
  (nVal, oVal) => {
    console.log(componentName, '변경 감시:', { ...nVal, ...oVal });
    // store.addSaveData();
  },
  { deep: true } // 객체 내부의 변경까지 감지
);

// =========================================================
// 기능
// =========================================================
// 초기화.
const reset = () => {
  roomView.value = null;
  changeName.value = null;
  includeRows.value = [new IncludeRowClass(0)];
  resourceItems.value.forEach(
    (item: ResourceRoomViewItem) => (item.used = false)
  );
  state.floorNo = 0;
  state.roomTypeId = 0;
};

// Room -> ResourceRoomViewItem 변환.
const roomToResourceItem = (room: Room): ResourceRoomViewItem => {
  return {
    id: null,
    view_id: null,
    room_id: room.id,
    row: null,
    col: null,

    used: false,
    room_name: room.name,
    floor: room.floor,
    type_id: room.room_type_id,
    type_name: room.type_name,
  } as ResourceRoomViewItem;
};

// 준비 확인.
const checkReady = (): boolean => {
  if (isReady.value) {
    return true;
  } else {
    snackbar.message = '신규 체크 또는 객실목록 뷰를 선택하세요.';
    snackbar.value = true;
    return false;
  }
};

// =========================================================
// 사용자 액션
// =========================================================
/** 객실목록 뷰 선택 시. */
const doChoiceView = (clickRoomView: RoomView, forceSet: boolean = false) => {
  if (
    roomView.value !== null &&
    roomView.value.id === clickRoomView.id &&
    !forceSet
  ) {
    // 선택 취소.
    reset();
  } else {
    // 선택하기.
    state.rowNo = 0;
    roomView.value = clickRoomView;
    changeName.value = clickRoomView.title;

    includeRows.value = [new IncludeRowClass(0)]; // 포함 행 초기화.
    resourceItems.value.forEach(
      (ResourceRoomViewItem: ResourceRoomViewItem) =>
        (ResourceRoomViewItem.used = false)
    ); // 리소스 아이템 초기화.

    roomViewItemBiz.roomViewItems(
      store,
      roomView.value?.id,
      (items: RoomViewItem[]) => {
        // 선택 저장한다.
        store.dispatch('addSaveData', { name: 'roomView', data: items });

        // 룸뷰 아이템 목록 조회 및 콜백 처리.
        items.forEach((roomviewitem: RoomViewItem) => {
          const targetResourceItem = roomResourceItems.value.find(
            (ResourceRoomViewItem: ResourceRoomViewItem) =>
              ResourceRoomViewItem.room_id === roomviewitem.room_id
          );
          if (targetResourceItem) {
            targetResourceItem.used = true;
            targetResourceItem.view_id = roomviewitem.view_id;
            targetResourceItem.row = roomviewitem.row;
            targetResourceItem.id = roomviewitem.id; // 로딩된 객실뷰 아이템의 ID는 새로운 객실뷰가 선택되기 전까지 유지되어야 함. 여기에서만 설정함.

            const clone = _.clone(targetResourceItem); // includeRow에 복사해서 추가한다.
            const includeRow = includeRows.value.find(
              (row: IncludeRow) => row.rowNo === roomviewitem.row
            );
            if (includeRow) {
              includeRow.items.push(clone);
            } else {
              includeRows.value.push(
                new IncludeRowClass(roomviewitem.row, clone)
              );
            }
          } else {
            console.warn(
              `*** 객실뷰 아이템을 찾을 수 없음. room_id: ${roomviewitem.room_id}`
            );
          }
        });
      }
    );
  }
};

/** 객실목록 뷰 생성. */
const doCreateView = () => {
  const name = changeName.value.trim();
  roomViewBiz.insertRoomView(
    store,
    new RoomViewClass(user.place_id, changeName.value, 0),
    (item: RoomView) => {
      snackbar.message = `[${item.title}]가 생성되었습니다.`;
      snackbar.value = true;
      reset();
      state.isNew = false;
      window.opener.syncPopup(SyncType.ROOM_VIEWS, user.place_id);
    }
  );
};

/** 객실목록 뷰 이름 변경. */
const doChangeTabName = () => {
  roomViewBiz.changeRoomViewName(store, roomView, changeName, () => {
    snackbar.message = '객실뷰 이름이 변경되었습니다.';
    snackbar.value = true;
    reset();
    window.opener.syncPopup(SyncType.ROOM_VIEWS, user.place_id);
  });
};

/** 객실목록 뷰 삭제. */
const doDeleteTab = () => {
  roomViewBiz.deleteRoomView(store, roomView, () => {
    snackbar.message = `[${roomView.value.title}]가 삭제되었습니다.`;
    snackbar.value = true;
    reset();
    window.opener.syncPopup(SyncType.ROOM_VIEWS, user.place_id);
  });
};

/** 객실 리소스 선택/해제 시. */
const doClickResource = (resItem: ResourceRoomViewItem) => {
  if (!checkReady()) return;

  const includeRow = includeRows.value.find(
    (row: IncludeRow) => row.rowNo === state.rowNo
  );
  resItem.used = !resItem.used;
  if (resItem.used) {
    resItem.view_id = roomView.value.id;
    resItem.row = state.rowNo;
    const clone = _.clone(resItem); // includeRow에 복사해서 추가한다.
    includeRow.items.push(clone); // 포함 행에 추가.
  } else {
    resItem.view_id = null;
    resItem.row = null;
    includeRow.items = includeRow.items.filter(
      (usedItem: ResourceRoomViewItem) => usedItem.room_id !== resItem.room_id
    ); // 포함 행에서 제거.
  }
};

/** 포함 행에 전체 객실 추가. */
const doAddAll = () => {
  if (!checkReady()) return;

  resourceItems.value.forEach((ResourceRoomViewItem: ResourceRoomViewItem) => {
    ResourceRoomViewItem.used = true;
    ResourceRoomViewItem.view_id = roomView.value.id;
    ResourceRoomViewItem.row = state.rowNo;
    const clone = _.cloneDeep(ResourceRoomViewItem); // includeRow에 복사해서 추가한다.

    const includeRow = includeRows.value.find(
      (row: IncludeRow) => row.rowNo === state.rowNo
    );
    if (includeRow) {
      includeRow.items.push(clone);
    } else {
      includeRows.value.push(new IncludeRowClass(state.rowNo, clone));
    }
  });
};

/** 포함 행에서 객실 제거. */
const doRemoveIncluded = (incItem: ResourceRoomViewItem) => {
  const includeRow = includeRows.value.find(
    (row: IncludeRow) => row.rowNo === incItem.row
  );
  includeRow.items = includeRow.items.filter(
    (usedItem: ResourceRoomViewItem) => usedItem.room_id !== incItem.room_id
  );
};

/** 포함 행에서 모두 제거. */
const doRemoveAll = () => {
  if (!checkReady()) return;

  const includeRow = includeRows.value.find(
    (row: IncludeRow) => row.rowNo === state.rowNo
  );
  includeRow.items = [];
};

/** 포함 행 선택. */
const doClickRow = (rowNo: number) => {
  state.rowNo = rowNo;
};

/** 포함 행 추가. */
const doAddRow = () => {
  const last = includeRows.value[includeRows.value.length - 1];
  const newRowNo = last.rowNo + 1;
  includeRows.value.push(new IncludeRowClass(newRowNo));
  state.rowNo = newRowNo;
};

/** 포함 행 삭제. */
const doDeleteRow = () => {
  if (includeRows.value.length > 1) {
    includeRows.value.splice(-1, 1);
    state.rowNo = includeRows.value[includeRows.value.length - 1].rowNo;
  }
};

/** 객실 적용. */
const doViewRoomApply = () => {
  const newRows = [];
  const resultItems = [];
  let rowNo = 0;
  let colNo = 0;
  for (const includeRow of includeRows.value) {
    if (includeRow.count > 0) {
      includeRow.rowNo = rowNo;

      const newIncludeRow = new IncludeRowClass(rowNo);
      newRows.push(newIncludeRow);

      for (const item of includeRow.items) {
        item.row = rowNo;
        item.col = colNo;
        newIncludeRow.items.push(item);
        resultItems.push(item);
        colNo++;
      }
      rowNo++;
    }
    colNo = 0;
  }
  includeRows.value = newRows;
  if (includeRows.value.length === 0)
    includeRows.value.push(new IncludeRowClass(0));

  console.log(`*** doViewRoomApply - roomView.value.id ::`, roomView.value);

  if (resultItems.length > 0) {
    roomViewItemBiz.changeRoomViewAllItems(
      store,
      roomView.value,
      resultItems,
      (ret: boolean) => {
        if (ret) snackbar.message = '객실 구성이 적용되었습니다.';
        else snackbar.message = '객실 구성에 실패했습니다.';
        snackbar.value = true;

        console.log(
          `*** doViewRoomApply - roomView.value.id 2 ::`,
          roomView.value
        );
        window.opener.syncOperner(
          store,
          SyncType.ROOM_VIEW_ITEMS,
          roomView.value.id
        );

        doChoiceView(roomView.value, true); // 재선택.
      }
    );
  }

  // resultItems.forEach((item: ResourceRoomViewItem) => {
  //   console.log(`*** doViewRoomApply - resultItems ::`, JSON.stringify(item));
  // });
};

// 취소.
const doCancel = () => {
  popupBiz.doClosePopup(store, popupLink);
};

// =========================================================
// 정보, onMounted, onBeforeUnmount
// =========================================================
onMounted(() => {
  reset();
});
</script>
