<template>
  <div class="mt-4">
    <!-- field-set -->
    <fieldset class="field-set">
      <v-table>
        <colgroup>
          <col style="width: 90px" />
          <col />
        </colgroup>
        <tbody>
          <tr>
            <th class="text-center">객실 선택</th>
            <td>
              <div class="d-flex">
                <v-radio-group hide-details density="compact" inline>
                  <v-radio
                    v-model="roomView.all_room"
                    color="secondary"
                    label="전체선택"
                    value="1"
                  ></v-radio>
                  <v-radio
                    color="secondary"
                    label="개별선택"
                    value="0"
                  ></v-radio>
                </v-radio-group>
                <v-select
                  :items="['층별선택', '룸별선택', 'VIP룸', '일반룸']"
                  value="층별선택"
                  density="compact"
                  hide-details
                  variant="outlined"
                  class="mr-2"
                  style="width: 90px"
                >
                </v-select>
                <v-btn
                  color="darkgrey"
                  class="custom-btn-icon-white mr-1"
                  append-icon="mdi-refresh"
                  size="small"
                  style="width: 70px !important"
                  @click="resetRoomView"
                >
                  초기화
                  <template v-slot:append>
                    <v-icon color="white"></v-icon>
                  </template>
                </v-btn>
                <v-btn
                  color="darkgrey"
                  class="custom-btn-icon-white mr-2"
                  append-icon="mdi-trash-can-outline"
                  size="small"
                  style="width: 56px !important"
                  @click="deleteRoomView"
                >
                  삭제
                  <template v-slot:append>
                    <v-icon color="white"></v-icon>
                  </template>
                </v-btn>
                <v-btn
                  color="secondary"
                  class="custom-btn-icon-white"
                  append-icon="mdi-plus"
                  size="small"
                  variant="outlined"
                  style="width: 89px !important"
                  @click="onAddRoomView"
                >
                  객실추가
                  <template v-slot:append>
                    <v-icon></v-icon>
                  </template>
                </v-btn>
              </div>
            </td>
          </tr>
        </tbody>
      </v-table>
    </fieldset>
    <!-- //field-set -->

    <!-- field-set -->
    <fieldset class="field-set mt-2">
      <div class="d-flex align-center justify-space-between">
        <h3 class="title-sub">테마 선택</h3>
        <v-checkbox
          v-model="applyToAllThemes"
          hide-details
          density="compact"
          color="secondary"
          label="전체적용"
          class="flex-grow-0"
          style="font-weight: bold"
        ></v-checkbox>
      </div>
      <!-- table -->
      <v-table class="">
        <colgroup>
          <col style="width: 90px" />
          <col />
          <col style="width: 90px" />
          <col />
          <col style="width: 90px" />
          <col />
        </colgroup>
        <tbody>
          <tr>
            <th class="text-center">컬러/테마</th>
            <td>
              <v-select
                v-model="roomView.theme_id"
                :items="roomThemes"
                item-text="name"
                item-value="id"
                density="compact"
                hide-details
                variant="outlined"
                style="width: 90px"
              >
              </v-select>
            </td>
            <th class="text-center">객실추가</th>
            <td>
              <v-select
                :value="roomView.order"
                :items="displayOrderOptions"
                density="compact"
                hide-details
                variant="outlined"
                style="width: 90px"
              >
              </v-select>
            </td>
            <th class="text-center">표시설정</th>
            <td>
              <v-select
                v-model="roomView.order"
                :items="displayOrderOptions"
                item-text="text"
                item-value="id"
                value="객실명순"
                density="compact"
                hide-details
                variant="outlined"
                style="width: 90px"
              >
              </v-select>
            </td>
          </tr>
        </tbody>
      </v-table>
      <!-- //table -->
    </fieldset>
    <!--// field-set -->

    <!-- 그리드 선택 -->
    <fieldset class="field-set mt-2">
      <div class="d-flex align-center justify-space-between">
        <h3 class="title-sub">그리드 선택</h3>
        <v-checkbox
          v-model="applyGridToAll"
          hide-details
          density="compact"
          color="secondary"
          label="전체적용"
        />
      </div>
      <v-table style="margin-bottom: 310px">
        <colgroup>
          <col style="width: 25%" />
          <col style="width: 25%" />
          <col style="width: 25%" />
          <col style="width: 25%" />
        </colgroup>
        <tbody>
          <tr v-for="(row, rowIndex) in chunkedGridSettings" :key="rowIndex">
            <template v-for="(item, index) in row" :key="item.key">
              <th class="text-center">{{ item.label }}</th>
              <td>
                <div
                  class="input-counter"
                  style="display: flex; align-items: center"
                >
                  <v-btn
                    color="darkgrey"
                    style="min-width: auto; width: 16px; height: 16px"
                    class="pa-0"
                    @click="decrease(item.key)"
                    :disabled="Number(roomView[item.key]) <= 0"
                  >
                    <v-icon size="small" color="white">mdi-chevron-down</v-icon>
                  </v-btn>
                  <input
                    v-model="roomView[item.key]"
                    @keyup="check(item.key)"
                    type="text"
                    style="width: 40px; text-align: center; margin: 0 5px"
                  />
                  <v-btn
                    color="darkgrey"
                    style="min-width: auto; width: 16px; height: 16px"
                    class="pa-0"
                    @click="increase(item.key)"
                    :disabled="Number(roomView[item.key]) >= 999"
                  >
                    <v-icon size="small" color="white">mdi-chevron-up</v-icon>
                  </v-btn>
                </div>
              </td>
            </template>
          </tr>
        </tbody>
      </v-table>
    </fieldset>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  computed,
  watch,
  reactive,
  provide,
  onMounted,
  onErrorCaptured,
  getCurrentInstance,
} from 'vue';
import { useStore, mapGetters } from 'vuex';
import { roomViewBiz } from '@/biz/roomViewBiz';
import { RoomView } from '@/types';
import { USER, SAVE_DATA } from '@/store/mutation_types';

export default defineComponent({
  name: 'RoomThemeManual',
  components: {},

  setup() {
    const componentName = getCurrentInstance()?.type?.name;

    // Vuex Store 및 데이터 정의
    const store = useStore();
    const user = store.getters[USER];

    let roomView: RoomView = null;
    // reactive({
    //   ...store.getters(SAVE_DATA + '/roomView'),
    //   // ...mapGetters([SAVE_DATA]), // Vuex 상태 구독
    // });

    console.log('roomView', { ...mapGetters([SAVE_DATA]) });

    // 리액티브 상태
    if (!roomView) {
      roomView = reactive({
        id: 1, //고유번호
        place_id: user.place_id, //업소 id 참조
        theme_id: 1, //객실 테마 id 참조
        title: '1', //뷰 타이틀
        comment: '1', //뷰 설명
        all_room: 1, //객실 등록 시 전체 객실 여부(0:나머지 객실, 1:전체객실)
        room_order: 1, //객실추가순서 (1:객실명순서, 2:객실명역순, 3:객실타입순서, 4:객실타입역순)
        rows: 1, //층수
        cols: 1, //가로 객실수
        col_gap: 1, //객실 간격
        row_gap: 1, //층별 간격
        width: 1, //객실 가로 크기
        height: 1, //객실 세로 크기
        order: 1, //뷰 순서
      });
    }

    // 객실 테마
    let roomThemes = ref([roomViewBiz.getterRoomViews(store)]);

    const displayOrderOptions = ref([
      { id: 1, name: '층별선택' },
      { id: 2, name: '룸별선택' },
      { id: 3, name: 'VIP룸' },
      { id: 4, name: '일반룸' },
    ]);
    const selectedOption = ref('층별선택');
    const applyToAllThemes = ref(false);
    const applyGridToAll = ref(false);

    // GRID 설정
    const gridSettings = [
      { key: 'rows', label: '층수' },
      { key: 'cols', label: '객실 수' },
      { key: 'col_gap', label: '객실 간격' },
      { key: 'row_gap', label: '층 간격' },
      { key: 'width', label: '객실 가로 크기' },
      { key: 'height', label: '객실 세로 크기' },
    ];

    // 메서드
    const resetRoomView = () => {
      Object.assign(roomView, {
        id: 1, //고유번호
        place_id: user.place_id, //업소 id 참조
        theme_id: 1, //객실 테마 id 참조
        title: '1', //뷰 타이틀
        comment: '1', //뷰 설명
        all_room: 1, //객실 등록 시 전체 객실 여부(0:나머지 객실, 1:전체객실)
        room_order: 1, //객실추가순서 (1:객실명순서, 2:객실명역순, 3:객실타입순서, 4:객실타입역순)
        rows: 1, //층수
        cols: 1, //가로 객실수
        col_gap: 1, //객실 간격
        row_gap: 1, //층별 간격
        width: 1, //객실 가로 크기
        height: 1, //객실 세로 크기
        order: 1, //뷰 순서
      });
    };

    // 데이터를 2개씩 묶기
    const chunkedGridSettings = computed(() => {
      const chunks = [];
      for (let i = 0; i < gridSettings.length; i += 2) {
        chunks.push(gridSettings.slice(i, i + 2));
      }
      return chunks;
    });

    const onThemeChange = (value: any) => {
      console.log(componentName, '선택된 값:', value); // 선택된 값이 id로 출력되는지 확인
    };

    const increase = (key: string) => {
      roomView[key] = Math.min(999, roomView[key] + 1);
    };

    const decrease = (key: string) => {
      roomView[key] = Math.max(0, roomView[key] - 1);
    };

    const check = (key: string) => {
      roomView[key] = Math.min(999, Math.max(0, roomView[key]));
    };

    const deleteRoomView = () => {
      console.log(componentName, 'RoomView 삭제:', roomView.id);
      store.dispatch('roomView/delItem', roomView.id);
    };

    const onAddRoomView = () => {
      console.log(componentName, '객실 추가:', roomView);
      store.dispatch('roomView/newItem', { ...roomView });
    };

    watch(
      () => roomView,
      (nVal, oVal) => {
        console.log(componentName, '변경 감시:', { ...nVal });
      },
      { deep: true } // 객체 내부의 변경까지 감지
    );

    return {
      roomView,
      roomThemes,
      displayOrderOptions,
      selectedOption,
      applyToAllThemes,
      applyGridToAll,
      gridSettings,
      chunkedGridSettings,
      resetRoomView,
      onThemeChange,
      increase,
      decrease,
      check,
      deleteRoomView,
      onAddRoomView,
    };
  },
});
</script>
