<template>
  <div 
    class="tooltip-box type-text"
    style="position: absolute; left: 12px; top: -34px"
  >
    <v-card
      elevation="0"
      border="1"
      rounded="pill"
      color="#25313DF2"
      text-color="#fff"
      class="px-3 py-1"
    >
      <p class="text-center text-caption">{{ text }}</p>
    </v-card>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "TooltipText",
  components: {},
  props: {
    text: {
      type: String,
    },
  },
  data() {
    return {
      show: true,
    };
  },
});
</script>
