<!-- @format -->

<template>
  <v-layout class="dashborder-cont flex-column">
    <v-row
      no-gutters
      class="width-auto"
      style="background-color: #d3d9e0; height: 40px"
    >
      <v-col class="d-flex align-center pl-3">
        <v-tabs hide-slider density="compact" class="tab-dashborder ml-3">
          <v-tab class="rounded" @click="onClickRoomViewToggle('')"
            >대시보드</v-tab
          >
          <v-divider vertical class="mx-6"></v-divider>
          <v-tab class="rounded" @click="onClickRoomViewToggle('roomIndex')"
            >객실화면 01</v-tab
          >
          <v-divider vertical class="mx-6"></v-divider>
          <v-tab class="rounded">객실화면 02</v-tab>
          <v-divider vertical class="mx-6"></v-divider>
          <v-tab class="rounded">객실화면 03</v-tab>
          <v-divider vertical class="mx-6"></v-divider>
          <v-tab class="rounded">
            추가
            <v-icon icon="mdi mdi-plus"></v-icon>
          </v-tab>
          <v-divider vertical class="mx-6"></v-divider>
        </v-tabs>
      </v-col>
      <v-col class="d-flex align-center justify-end">
        <btn-switch
          :label="'탭분리'"
          :color="'#3c4d60'"
          :fontsize="'text-body-2'"
          :align="'justify-end'"
        >
        </btn-switch>
      </v-col>
    </v-row>

    <v-card elevation="0" color="transparent" rounded="0" class="px-4 py-5">
      <v-card-header
        class="pa-0 justify-space-between"
        style="position: relative"
      >
        <v-card-title>
          <span class="ico-chart">
            <v-icon size="x-small" rounded="10">mdi mdi-chart-bar</v-icon>
          </span>
          <strong class="text-h5">매출통계</strong>
        </v-card-title>
        <v-btn
          width="25"
          height="25"
          elevation="0"
          variant="outlined"
          color="#3C4D60"
          rounded="sm"
          icon="mdi mdi-menu"
          size="small"
          style="background-color: #fff"
        >
        </v-btn>
        <quick-menu></quick-menu>
      </v-card-header>
      <v-row dense>
        <v-col class="v-col-9">
          <statistics-box></statistics-box>
        </v-col>
        <v-col class="v-col-3">
          <widget-layout
            height="368px"
            title="객실별 매출 요약보기"
            link="summary"
          >
            <summary-box></summary-box>
          </widget-layout>
        </v-col>
      </v-row>
      <v-row dense>
        <v-col cols="2">
          <widget-layout height="244px" title="달력" link="cal">
            <template v-slot:header></template>
            <template v-slot:footer></template>
          </widget-layout>
          <widget-layout
            height="246px"
            title="이벤트"
            text="※ 매일 00시에 초기화"
            link="event"
          >
            <template v-slot:header></template>
            <event-box></event-box>
            <template v-slot:footer></template>
          </widget-layout>
        </v-col>
        <v-col cols="2">
          <widget-layout height="244px">
            <template v-slot:header></template>
            <banner-box></banner-box>
            <template v-slot:footer></template>
          </widget-layout>
          <widget-layout
            height="246px"
            title="숙박뉴스"
            link="popnews"
            verticalScroll="scroll"
          >
            <template v-slot:header></template>
            <news-box></news-box>
            <template v-slot:footer></template>
          </widget-layout>
        </v-col>
        <v-col>
          <widget-layout height="500px" title="ISG" link="popisg">
            <template v-slot:header></template>
            <isg-box></isg-box>
            <template v-slot:footer></template>
          </widget-layout>
        </v-col>
        <v-col class="v-col-auto" style="width: 395px">
          <widget-layout
            height="244px"
            title="예약현황"
            text="최근 17:20"
            link="popreservation"
          >
            <template v-slot:header></template>
            <reservation-box></reservation-box>
            <template v-slot:footer></template>
          </widget-layout>
          <widget-layout height="246px" title="공지사항" link="popnotice">
            <template v-slot:header></template>
            <notice-box></notice-box>
            <template v-slot:footer></template>
          </widget-layout>
        </v-col>
        <v-col cols="3">
          <widget-layout
            height="244px"
            title="예약통계"
            link="reservationchart"
          >
            <template v-slot:header></template>
            <reservationchart-box></reservationchart-box>
            <template v-slot:footer></template>
          </widget-layout>
          <widget-layout
            height="246px"
            title="구독현황"
            text=""
            link="popsubscribe"
          >
            <template v-slot:header></template>
            <subscribe-box></subscribe-box>
            <template v-slot:footer></template>
          </widget-layout>
        </v-col>
      </v-row>
    </v-card>

    <v-row no-gutters class="footer">
      <v-col cols="3" class="d-flex align-center bg-blue-lighten-1 px-4">
        <v-icon
          icon="mdi mdi-monitor-multiple"
          size="small"
          color="#fff"
        ></v-icon>
        <div class="state-network">
          <span class="ani-dot bule"></span>
          <span class="ani-dot yellow"></span>
        </div>
        <v-icon icon="mdi mdi-server" size="small" color="#fff"></v-icon>
        <div class="state-network">
          <span class="ani-dot bule off">
            <span class="mdi mdi-close"></span>
          </span>
          <span class="ani-dot yellow"></span>
        </div>
        <v-icon icon="mdi mdi-cloud-upload" size="small" color="#fff"></v-icon>
      </v-col>
      <v-col cols="6" class="d-flex align-center bg-white px-4">
        <v-row style="width: 100%">
          <v-col cols="6">
            <div class="txt-ellipsis text-body-2">
              <span class="text-pink">[광고]</span>
              <span class="txt ml-1" style="flex: 1"
                >한줄 광고가 여러개일 경우 자동으로 롤링되며 표시됩니다.한줄
                광고가 여러개일 경우 자동으로 롤링되며 표시됩니다.</span
              >
            </div>
          </v-col>
          <v-col cols="6">
            <div class="txt-ellipsis text-body-2">
              <span class="text-blue">[알림]</span>
              <span class="txt ml-1" style="flex: 1"
                >프로그램 관련 및 공지알림이 있을 경우 롤링되며
                표시됩니다.</span
              >
            </div>
          </v-col>
        </v-row>
      </v-col>
      <v-col
        cols="3"
        class="d-flex align-center justify-center bg-blue-lighten-1"
      >
        <dl class="d-flex align-center text-white text-body-2">
          <dt>신규알림</dt>
          <dd class="ml-4">
            <v-avatar
              color="#fff"
              size="24"
              class="rounded-pill font-weight-bold"
              style="min-width: 40px; color: #304153"
              >12</v-avatar
            >
            <v-btn
              flat
              elevation="0"
              width="64"
              height="24"
              color="#3285BE"
              text-color="#fff"
              class="pa-0 ml-3 text-caption"
              >전체보기</v-btn
            >
          </dd>
        </dl>
        <v-divider vertical color="#3285BE" class="mx-4"></v-divider>
        <dl class="d-flex align-center text-white text-body-2">
          <dt class="font-weight-light">프로그램 사용기한 :</dt>
          <dd class="ml-1">15일 남음</dd>
        </dl>
      </v-col>
    </v-row>
  </v-layout>
</template>

<script lang="ts">
import {
  computed,
  ref,
  reactive,
  watch,
  watchEffect,
  getCurrentInstance,
  provide,
  inject,
} from 'vue';
import { useRouter, useRoute } from 'vue-router';
import { getWindowStyle, openwin, closewin } from '@/utils/win-util';

import BtnSwitch from '@/components/BtnSwitch.vue';
import QuickMenu from './QuickMenu.vue';

import WidgetLayout from './widget/WidgetLayout.vue';
import IsgBox from './widget/IsgBox.vue';
import EventBox from './widget/EventBox.vue';
import BannerBox from './widget/BannerBox.vue';
import NewsBox from './widget/NewsBox.vue';
import StatisticsBox from './widget/StatisticsBox.vue';
import SummaryBox from './widget/SummaryBox.vue';
import ReservationBox from './widget/ReservationBox.vue';
import NoticeBox from './widget/NoticeBox.vue';
import ReservationchartBox from './widget/ReservationchartBox.vue';
import SubscribeBox from './widget/SubscribeBox.vue';

export default {
  name: 'DashborerContainer',
  components: {
    QuickMenu,
    WidgetLayout,
    BtnSwitch,
    BannerBox,
    EventBox,
    IsgBox,
    NewsBox,
    StatisticsBox,
    SummaryBox,
    ReservationBox,
    NoticeBox,
    ReservationchartBox,
    SubscribeBox,
  },
  created() {
    console.log(this.$options.name, 'created Called! ');
  },
  mounted() {
    console.log(this.$options.name, 'mounted Called! ');
  },
  setup(props, context) {
    const app = getCurrentInstance();
    const isShowPop = ref(false);

    const store = useStore();
    const router = useRouter();
    const route = useRoute();

    let onClickRoomViewToggle = (link) => {
      console.log('- onClickRoomViewToggle', link);

      if (!isShowPop.value) {
        const winPop = openwin(link, '_blank', {
          left: -1,
          width: -1,
          height: -1,
        });
      } else {
        closewin(link);
      }

      isShowPop.value = !isShowPop.value;
    };

    return {
      isShowPop,
      items: ['층 선택'],
      onClickRoomViewToggle,
    };
  },
};
</script>

<style lang="scss" scoped>
.dashborder-cont {
  padding-bottom: 40px;
  .ico-chart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid #d6dbe2;
    background-color: #fff;
  }
  .state-network {
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex: 1;
    height: 100%;
    margin: 0 12px;
    .ani-dot {
      position: relative;
      display: block;
      height: 12px;
      background-size: 10px 10px;
      background-position: center;
      background-repeat: repeat-x;
      animation: m 1s infinite alternate;
      &.bule {
        background-image: radial-gradient(#00ffff 30%, transparent 30%);
      }
      &.yellow {
        background-image: radial-gradient(#ffcc00 30%, transparent 30%);
      }
      &.off {
        background-image: none;
        &::before {
          content: '';
          width: 100%;
          height: 2px;
          position: absolute;
          left: 0;
          top: 50%;
          background-color: #75bde6;
        }
        .mdi-close {
          position: absolute;
          left: 50%;
          top: -9px;
          color: #fc6060;
          font-size: 20px;
        }
      }
    }
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    margin-top: auto;
  }
}
</style>
