<template>
  <v-toolbar dense flat color="#3C4D60" tag="div" height="auto" class="flex-wrap dashborder-header">
    <v-card class="mr-2" width="70">
      <v-card-title class="text-body-2 py-1 text-white justify-center" style="line-height: 1; background-color: #fc6060"> <span class="font-num">12</span>월 </v-card-title>
      <v-card-text class="text-body-1 py-1 px-0 font-weight-black text-center" style="line-height: 1; opacity: 1"> <strong class="inline-block text-h5 font-num font-weight-bold" style="line-height: 1">24</strong>일 </v-card-text>
    </v-card>
    <div class="text-h4 text-white font-num mr-10">15:25:44</div>
    <v-toolbar-title>
      <div class="title">파라다이스 호텔</div>
      <v-select v-model="select" :items="items" hide-details single-line menu-icon="mdi mdi-chevron-down" class="float-left select-box ml-3"></v-select>
    </v-toolbar-title>
    <count-card title="총 객실" width="145" height="52" bgColor="#52ACE0" count="254" :textColor="'#fff'"></count-card>
    <count-card title="숙박현황" width="145" height="52" bgColor="#5C86F1" count="54" :textColor="'#fff'"></count-card>
    <count-card title="대실현황" width="145" height="52" bgColor="#7868E5" count="38" :textColor="'#fff'"></count-card>
    <count-card title="장기현황" width="145" height="52" bgColor="#3770BB" count="02" :textColor="'#fff'"></count-card>
    <count-card title="공실현황" width="145" height="52" bgColor="#16D2C3" count="09" :textColor="'#fff'"></count-card>
    <count-card title="청소요청" width="145" height="52" bgColor="#F9A454" count="06" :textColor="'#fff'"></count-card>
    <count-card title="청소중" width="145" height="52" bgColor="#4FC466" count="03" :textColor="'#fff'"></count-card>
  </v-toolbar>
</template>

<script lang="ts">
  import { defineComponent, ref } from "vue";
  import CountCard from "@/components/CountCard.vue";

  export default defineComponent({
    name: "DashborerTop",
    components: {
      CountCard,
    },
    data: () => ({
      select: "(+ 03)",
      items: ["(+ 01)", "(+ 02)", "(+ 03)"],
    }),
  });
</script>
