<template>
  <layout-header />
  <dashborer-top />
  <dashborer-container />
</template>

<script lang="ts">
  import { defineComponent, ref } from "vue";
  import LayoutHeader from "@/views/layout/LayoutHeader.vue";
  import DashborerTop from "./DashborerTop.vue";
  import DashborerContainer from "./DashborerContainer.vue";

  export default defineComponent({
    name: "DashBorder",
    components: {
      LayoutHeader,
      DashborerTop,
      DashborerContainer,
    },
  });
</script>
