<template>
  <v-navigation-drawer
    absolute
    position="right"
    width="135"
    height="auto"
    border="1"
    class="quick-menu"
  >
    <div class="d-flex align-center ml-4 mr-2 pt-2">
      <span class="text-subtitle-1 font-weight-bold">퀵메뉴</span>
      <v-btn elevation="0" rounded="0" icon="mdi mdi-close" size="small" width="27" height="27" class="ml-auto"></v-btn>
    </div>
    <v-list>
      <v-list-item
        density="compact"
        prepend-icon="mdi mdi-home"
        title="Home"
        color="#2C2F35"
        class="px-0 mx-4"
      ></v-list-item>
      <v-list-item
        density="compact"
        prepend-icon="mdi mdi-remote-desktop"
        title="원격지원"
        color="#2C2F35"
        class="px-0 mx-4"
      ></v-list-item>
      <v-list-item
        density="compact"
        prepend-icon="mdi mdi-chart-waterfall"
        title="매출조회"
        color="#2C2F35"
        class="px-0 mx-4"
      ></v-list-item>
      <v-list-item
        density="compact"
        prepend-icon="mdi mdi-cog-outline"
        title="환경설정"
        color="#2C2F35"
        class="px-0 mx-4"
      ></v-list-item>
      <v-list-item
        density="compact"
        prepend-icon="mdi mdi-calculator"
        title="무인판매"
        color="#2C2F35"
        class="px-0 mx-4"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "QuickMenu",
  components: {},
});
</script>
