@charset 'utf-8';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
canvas,
video {
  display: block;
}

html,
body {
  height: 100%;
  font-family: 'noto', Helvetica, sans-serif;
  font-weight: 400;
  background: #f2f5f8 !important;
  color: #2c2f35;
  font-size: 14px;
}

input,
select,
textarea,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  vertical-align: middle;
}

input,
textarea,
button {
  line-height: 1.2;
  vertical-align: middle;
}

button[disabled],
input[disabled] {
  cursor: default
}

textarea {
  overflow: auto;
  resize: none;
}

i,
address,
em {
  font-style: normal;
  font-weight: normal
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}

b,
strong {}

dd,
li,
menu {
  list-style: none;
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-collapse: collapse;
}

legend,
caption {
  display: none;
}

img,
fieldset,
iframe {
  border: none;
}

img {}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  overflow: visible;
}

a img,
img,
ul li img {
  vertical-align: top
}

input[type=text],
input[type=password],
textarea {
  color: #2c2f35;
  padding: 0 5px;
  vertical-align: middle;
}

input[type=text].datepicker {
  width: 134px;
  padding: 0 0 3px 14px;
  font-size: 12px;
  background: url(@/assets/images/icon-datepicker.png) 103px center no-repeat;

}

.v_text {
  padding-top: 2px;
}

.wave {
  width: 28px;
  text-align: center;
  padding-top: 4px;
}

textarea {
  height: auto;
}

textarea {
  padding: 5px;
}

input[type=text]:hover,
input[type=password]:hover,
textarea:hover,
input[type=text]:focus,
input[type=password]:focus,
textarea:focus input[type=text].focus,
input[type=password].focus,
textarea.focus {
  color: #666;
  /*border:1px solid #777;*/
}

input[type="checkbox"] {
  display: inline-block;
}

.checkbox {
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &.checkbox1 {
    .txt {
      &::before {
        background: url(@/assets/images/checkbox1.png) 0 0 no-repeat;
      }
    }
  }

  &.checkbox2 {
    .txt {
      &::before {
        background: url(@/assets/images/checkbox2.png) 0 0 no-repeat;
      }
    }
  }

  &.checkbox3 {
    .txt {
      &::before {
        background: url(@/assets/images/checkbox3.png) 0 0 no-repeat;
      }
    }
  }

  &.checkbox4 {
    .txt {
      &::before {
        background: url(@/assets/images/checkbox4.png) 0 0 no-repeat;
      }
    }
  }

  &.checkbox5 {
    .txt {
      &::before {
        background: url(@/assets/images/checkbox5.png) 0 0 no-repeat;
      }
    }
  }

  input {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    width: 18px;
    height: 18px;
  }

  .txt {
    font-size: 12px;
    vertical-align: top;

    &::before {
      content: '';
      display: inline-block;
      width: 23px;
      height: 19px;
      background: url(@/assets/images/checkbox.png) 0 0 no-repeat;
    }
  }

}

.checkbox>input:checked+.txt::before {
  background: url(@/assets/images/checkbox-on.png) 0 0 no-repeat;
}

.checkbox1>input:checked+.txt::before {
  background: url(@/assets/images/checkbox1-on.png) 0 0 no-repeat;
}

.checkbox2>input:checked+.txt::before {
  background: url(@/assets/images/checkbox2-on.png) 0 0 no-repeat;
}

.checkbox3>input:checked+.txt::before {
  background: url(@/assets/images/checkbox3-on.png) 0 0 no-repeat;
}

.checkbox4>input:checked+.txt::before {
  background: url(@/assets/images/checkbox4-on.png) 0 0 no-repeat;
}

.checkbo5>input:checked+.txt::before {
  background: url(@/assets/images/checkbox5-on.png) 0 0 no-repeat;
}

input[type="radio"] {
  vertical-align: middle;
  width: 18px;
  height: 18px;
  line-height: 18px;
}

.radio {
  position: relative;

  &:hover {
    cursor: pointer;
  }

  input {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    width: 18px;
    height: 18px;
  }

  .txt {
    font-size: 12px;
    vertical-align: middle;

    &::before {
      content: '';
      display: inline-block;
      width: 25px;
      height: 19px;
      background: url(@/assets/images/radio.png) 0 0 no-repeat;
    }
  }
}

.radio>input:checked+.txt::before {
  background: url(@/assets/images/radio-on.png) 0 0 no-repeat;
}

input[type=file] {
  background: #fff;
  height: 23px;
  line-height: 23px;
  color: #666;
  padding-left: 5px;
  vertical-align: middle;
}


select {
  /*height:30px; */
}

.select {
  min-width: 70px;
  height: 24px;
  padding-left: 6px;
  border: 1px solid #bcbfc4;
  background: #fff url(@/assets/images/select.png) calc(100% - 8px) center no-repeat;
  font-size: 12px;
  color: #2c2f35;

  &:hover {
    cursor: pointer;
  }
}

input[type=text].input_design {
  padding: 5px;
}

.select_design {
  padding: 5px;
  font-size: 15px;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}


// .radio_design {background:url(../../image/common/radio.png) 0 2px no-repeat; position: relative; display: inline-block; padding-left: 30px;}
// .radio_design input[type="radio"]  {position: absolute; left:-9999999px;}
// .radio_design_checked {background:url(../../image/common/radio_checked.png) 0 2px no-repeat; }

textarea {
  font-size: 15px;
}