@charset "utf-8";

@use './variables' as variables;

// v-btn size
.v-btn:not(.v-tab) {
  // &.v-btn--size-small {
  //   height: 26px !important;
  // }
  &.v-btn--size-large {
    height: 40px !important;
  }
  &.v-btn--size-x-large {
    height: 60px !important;
  }
  .v-btn__content {
    line-height: 1 !important;
  }
}

// custom-btn-icon
.v-btn.custom-btn-icon {
  display: flex !important;
  justify-content: flex-start !important;
  .v-btn__content {
    flex: 1 !important;
  }
  .v-btn__append {
    flex-shrink: 0 !important;
    border-left: 1px solid rgba(255, 255, 255, 0.2) !important;
    padding-left: 8px !important;
  }
}

.v-btn.custom-btn-icon-white {
  border: 1px solid #2c2f35;
  .v-btn__content {
    margin-top: -2px;
  }
}

.btn-toggels {
  display: flex;
  align-items: center;
  .v-btn {
    width: 50%;
    border: 1px solid #b7c2cf;
    color: #2c2f35 !important;
    &.active {
      color: #fff !important;
      background-color: variables.$g-primary !important;
      border-color: variables.$g-primary !important;
    }
  }
}

.btn-toggels3 {
  display: flex;
  align-items: center;
  .v-btn {
    width: 33.3%;
    border: 1px solid #b7c2cf;
    color: #2c2f35 !important;
    &.active {
      color: #fff !important;
      background-color: variables.$g-primary !important;
      border-color: variables.$g-primary !important;
    }
  }
}
