@charset "utf-8";

@use './variables' as variables;

// font color
.color-primary {
  color: variables.$g-primary !important;
}
.color-secondary {
  color: variables.$g-secondary !important;
}
.color-white {
  color: variables.$g-white !important;
}
.color-black {
  color: variables.$g-black !important;
}
.color-darknavy {
  color: variables.$g-darknavy !important;
}
.color-grey {
  color: variables.$g-grey !important;
}
.color-darkgrey {
  color: variables.$g-darkgrey !important;
}
.color-deepgrey {
  color: variables.$g-deepgrey !important;
}
.color-red {
  color: variables.$g-red !important;
}
.color-violet {
  color: variables.$g-violet !important;
}
.color-pink {
  color: variables.$g-pink !important;
}
.color-yellow {
  color: variables.$g-yellow !important;
}
.color-green {
  color: variables.$g-green !important;
}
.color-lightblue {
  color: variables.$g-lightblue !important;
}
.color-mint {
  color: variables.$g-mint !important;
}
.color-aqua {
  color: variables.$g-aqua !important;
}
.color-navy {
  color: variables.$g-navy !important;
}

// font
.title {
  font-size: 18px;
  font-weight: 700;
}
.title-2 {
  font-size: 16px;
  font-weight: 700;
}
.title-sub {
  font-size: 14px;
  font-weight: 700;
}
.body-1 {
  font-size: 14px;
  font-weight: 400;
}
.body-2 {
  font-size: 12px;
  font-weight: 400;
}
.bbs-title {
  background-color: variables.$g-darknavy;
  height: 40px;
  padding: 0 20px;
  border-radius: 3px;
  color: #fff;
  .text {
    font-size: 16px;
    font-weight: 500;
    margin-right: auto;
  }
}
.number {
  font-size: 14px;
  font-family: 'sebangb';
  &.md {
    font-size: 20px;
  }
  &.lg {
    font-size: 26px;
  }
}

.date_input {
  font-size: 0.8rem;
}
.disable_input {
  color: grey !important;
}

span.unit_won {
  font-size: 12px;
  margin-top: 1px;
}

.digit_box {
  width: 84px;
  margin: 0;
  padding: 0;
  gap: 0;
}
.digit_m {
  min-width: auto;
  width: 16px;
  height: 16px;
  margin-left: 3px;
}
.digit_p {
  min-width: auto;
  width: 16px;
  height: 16px;
  margin-right: 3px;
}

/* 텍스트 더블클릭 선택 방지 */
.banselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* 인터넷익스플로러 */
  user-select: none;
}

.fs13 {
  font-size: 13px !important;
}

.fs12 {
  font-size: 12px !important;
}

.fs11 {
  font-size: 11px !important;
}

.tc {
  text-align: center;
}

.t-info {
  font-weight: 800;
  color: variables.$g-primary !important;
}

.t-warn {
  font-weight: 800;
  color: variables.$g-secondary !important;
}
