@charset "utf-8";

hr {
  border:0;
  height:1px !important;
  background-color: #d6dbe2 !important;
}

.field-set {
  border: none;
  font-weight: 400;
  .field-inner {
    min-width: fit-content;
    width: 100%;
  }
  & + .field-set {
    margin-top: 16px;
  }
  .field-title {
    font-size: 12px;
    font-weight: 500;
  }
  .field-content {
    font-size: 12px;
  }
  .field-box {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    border: 1px solid #d6dbe2;
    > * {
      flex-grow: 0;
    }
    .v-checkbox + .v-checkbox,
    .v-radio + .v-radio {
      margin-left: 16px;
    }
    .label {
      padding-right: 8px;
    }
    .field {
      display: flex;
      align-items: center;
    }
    .like-th {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: #2c2f35 !important;
      background-color: #eff2f4;
      padding: 0 10px !important;
      border-left: 1px solid #d6dbe2;
      border-right: 1px solid #d6dbe2;
      height: 38px;
    }
  }
}

.v-checkbox {
  &.light{
    .v-label {
      font-size: 12px !important;
      color: #fff !important;
      font-weight: bold;
      opacity: 1;
    }
  }
  .v-label {
    font-size: 12px !important;
    color: #2c2f35 !important;
  }
  
}

.v-radio {
  .v-label {
    font-size: 12px !important;
    color: #2c2f35 !important;
  }
}

.input {
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #d6dbe2;
  height: 28px;
  color: #2c2f35;
  padding: 0 10px;
  vertical-align: middle;
  &:focus {
    outline: none;
    border-color: #3c4d60;
  }
  &.sm {
    height: 22px;
  }
  &.md {
    height: 40px;
  }
}

.input2 {
  width: 100%;
  // background-color: #f9f9f9;
  border: 1px solid #d6dbe2;
  height: 28px;
  color: #2c2f35;
  padding: 0 10px;
  vertical-align: middle;
  &:focus {
    outline: none;
    border-color: #3c4d60;
  }
  &.sm {
    height: 22px;
  }
  &.md {
    height: 40px;
  }
  &.disabled {
    background-color: #f9f9f9;
  }
}

.textarea {
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #d6dbe2;
  min-height: 50px;
  color: #2c2f35;
  padding: 0 10px;
  vertical-align: middle;
  resize: none;
  &:focus {
    outline: none;
    border-color: #3c4d60;
  }
}

.input-search {
  background-color: #f9f9f9;
  border: 1px solid #d6dbe2;
  padding: 4px;
  height: 28px;
  display: flex;
  align-items: center;
  gap: 8px;
  .v-btn {
    flex-shrink: 0;
    color: #3c4d60;
  }
  input {
    padding-left: 6px;
    width: 100%;
    flex: 1;
    text-align: left;
    &:focus {
      outline: none;
    }
  }
}

.input-counter {
  border: 1px solid #d6dbe2;
  padding: 4px;
  height: 28px;
  display: flex;
  align-items: center;
  gap: 8px;
  .v-btn {
    flex-shrink: 0;
  }
  input {
    width: 100%;
    flex: 1;
    text-align: center;
    &:focus {
      outline: none;
    }
  }
  &.sm {
    height: 22px !important;
  }
}
.v-table.dense-dark {
  .input-counter.sm {
    height: 22px !important;
  }
}

.select-custom {
  height: 28px;
  padding-left: 10px;
  padding-right: 30px;
  border: 1px solid #d6dbe2;
  background: #fff url(@/assets/images/select.png) calc(100% - 8px) center no-repeat;
  font-size: 12px;
  &:focus {
    outline: none;
    background: #fff url(@/assets/images/select.png) calc(100% - 8px) center no-repeat;
  }
  select::-ms-expand {
    display: none;
  }
}

// v-select
.v-select {
  .v-field__overlay {
    background-color: #f9f9f9 !important;
    border: none !important;
  }
  .v-input__control {
    height: 28px;
  }
  .v-field__field {
    height: 28px;
  }
  .v-field {
    border-radius: 0;
    border: 1px solid #d6dbe2;
    height: 28px;
    &:focus {
      outline: none;
    }
    .v-field__outline {
      display: none;
    }
  }
  .v-field__input {
    padding: 0;
    margin: 0;
    height: 28px;
    font-size: 12px !important;
    margin-top: 2px;
    input {
      padding: 0;
      padding-left: 10px;
      font-size: 12px !important;
    }
  }
  .v-select__selection {
    width: auto;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    font-size: 12px !important;
    height: 28px;
  }
  .v-select__selection-text {
    margin-top: -10px;
  }
  .v-select__menu-icon {
    padding: 0;
    margin: 0;
    margin-top: -2px;
    margin-right: -5px;
  }
}
.v-overlay {
  .v-list {
    .v-list-item {
      font-size: 12px !important;
      min-height: 10px !important;
      .v-list-item-title {
        font-size: 12px !important;
      }
    }
  }
}

.dp__main.date-custom {
  .dp__input_wrap {
    input {
      height: 28px !important;
      border-radius: 0 !important;
      border-color: #d6dbe2 !important;
    }
  }
}

.switch-custom {
  .v-selection-control {
    min-height: 48px !important;
  }
  .v-label {
    font-size: 12px;
    font-weight: 700;
    color: #2c2f35 !important;
  }
}

.title-baener {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}


// 임시
.custom-bar {
  .v-selection-control .v-label {
    color: #fff !important;
    opacity: 1;
  }
  // .v-select .v-field .v-field__input > input {
  //   border: none !important;
  //   background-color: transparent !important;
  //   margin-top: -4px !important;
  // }
} 