@charset "utf-8";
@use './variables' as variables;

// popup
.popup {
  display: flex;
  flex-direction: column;
  // theme
  &.theme-popup-dark {
    .v-card {
      .v-card-title {
        background-color: variables.$g-darknavy;
        height: 60px;
        .title {
          color: #fff;
        }
      }
    }
  }
  &.theme-popup-light {
    .v-card {
      .v-card-title {
        height: 55px;
        .btns {
          .v-btn {
            border: 1px solid #d6dbe2;
          }
        }
      }
    }
  }
  .v-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 2px solid #3c4d60;
    background-color: #f2f5f8;
    .v-card-title {
      flex-shrink: 0;
      .chip-bi {
        width: 34px;
        height: 34px;
        background-color: #3c4d60;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .btns {
        .v-btn {
          min-width: 36px;
        }
      }
    }
    .v-card-text {
      flex: 1;
      // overflow-y: auto;
      .sub-title {
        font-size: 12px;
        font-weight: 500;
      }
      .tabs {
        background-color: #3c4d60;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 10px 18px;
        gap: 4px;
        .v-btn {
          width: 100px;
          font-size: 12px !important;
          color: #2c2f35 !important;
          &.active {
            background-color: variables.$g-secondary !important;
            color: #fff !important;
          }
        }
      }
      .popup-contents {
        padding: 14px 20px 0;
        .box-border {
          border: 1px solid #d6dbe2;
          border-radius: 3px;
          background-color: #fff;
        }
      }
    }
    .popup-footer {
      flex-shrink: 0;
      .btns {
        margin: 26px 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }
    }
  }
  &.size-sm {
    width: 400px;
    min-height: 290px;
  }
  &.size-smd {
    width: 800px;
    min-height: 720px;
  }
  &.size-md {
    width: 950px;
    min-height: 800px;
  }
  &.size-lg {
    width: 1194px;
    min-height: 800px;
  }
  &.size-xlg {
    // width: 1360px;
    min-width: 1360px;
    min-height: 800px;
  }
  &.size-auto {
    width: auto;
    min-height: auto;
  }
}
