@use './variables' as variables;

#wrapper-room header {
  padding-left: 20px;
}
#wrapper-room header .l {
  align-items: center;
  flex: 1;
  h1.logo {
    width: 52px;
    height: 20px;
    margin: 0;
  }
  .v-divider {
    align-self: center;
    min-height: 20px;
    margin: 0 20px;
    opacity: 0.3;
  }
  .tit,
  .txt {
    margin: 0;
    font-size: 16px;
  }
  .tit em {
    margin-right: 4px;
  }
  .v-input {
    height: 28px;
    margin-left: 30px;
    .v-field {
      height: 28px;
      background: #304153;
      box-shadow: none;
      border-radius: 14px;
      .v-label {
        color: #97a0a9;
      }
      .v-field__input {
        min-height: 28px;
        padding: 0 20px;
        color: #fff;
        font-size: 12px;
      }
      .mdi-magnify {
        color: #fff;
        opacity: 1;
      }
    }
  }
}

#wrapper-room header .r .number li {
  .v-btn {
    width: 36px;
    height: 26px;
    background: none;
    em {
      margin-top: 0;
    }
  }
  &:nth-child(1) em {
    background-image: url(@/assets/images/icon-header-r1.svg);
  }
  &:nth-child(2) em {
    background-image: url(@/assets/images/icon-header-r2.svg);
  }
  &:nth-child(3) em {
    background-image: url(@/assets/images/icon-header-r3.svg);
  }
  &:nth-child(4) em {
    background-image: url(@/assets/images/icon-header-r4.svg);
  }
  &:nth-child(5) em {
    background-image: url(@/assets/images/icon-header-r5.svg);
  }
}

/* room grid set */
.room-area {
  padding: 30px 20px;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10%, auto));
  gap: 8px 10px;
}

.zoom-box {
  height: 70px;
  cursor: pointer;
  &.on {
    height: 86px;
    .v-card {
      .v-card-title {
        background: #fff;
        color: #121212;
      }
      .v-card-text .status {
        &-power,
        &-connect,
        &-temp {
          background-color: rgba(255, 255, 255, 0.8);
        }
      }
    }
    .type1 {
      background: #0f8afd;
    }
    .type2 {
      background: #6b64fe;
    }
    .type3 {
      background: #fc8bff;
    }
    .type4 {
      background: #ffb84d;
    }
    .type5 {
      background: #c3ff4e;
    }
  }
}
.zoom-box .v-card {
  height: 100%;
  padding: 8px 10px;
  background: #5e7892;
  box-shadow: none;
  border-radius: 16px;
  .v-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    padding: 0 10px;
    background: #304153;
    border-radius: 12px;
    font-family: variables.$notom;
    font-size: 14px;
    font-weight: 500;
    color: #7a92aa;
    line-height: 1;
  }
  .v-card-text {
    display: flex;
    margin-top: 6px;
    padding: 0;
    color: #121212;
    .status {
      &-power,
      &-connect,
      &-temp {
        height: 24px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 12px;
      }
      &-power,
      &-connect {
        width: 24px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }
      &-power {
        background-size: 14px;
        background-image: url(@/assets/images/icon-power.svg);
        &.off {
          background-image: url(@/assets/images/icon-power-off.svg);
          background-color: #ffaa00;
        }
      }
      &-connect {
        margin-left: 6px;
        background-size: 14px;
        background-image: url(@/assets/images/icon-connect.svg);
        &.off {
          background-image: url(@/assets/images/icon-connect-off.svg);
          background-color: #c3ff4e;
        }
      }
      &-temp {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        font-family: variables.$notom;
        font-size: 12px;
        font-weight: 500;
      }
    }
    .info {
      &-left,
      &-right {
        margin-top: 5px;
      }
      &-left {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 32px;
        border-radius: 8px;
        font-family: variables.$notom;
        font-size: 12px;
        font-weight: 500;
        color: #fff;
      }
      &1 {
        background: #0f8afd;
      }
      &2 {
        background: #6b64fe;
      }
      &3 {
        background: #fc8bff;
      }
      &-right {
        font-size: 12px;
        color: #121212;
        text-align: right;
        line-height: 16px;
        p > span {
          margin-right: 2px;
        }
      }
    }
  }
  .v-slider {
    margin: 0 4px;
    .v-input__control {
      padding: 10px 0 4px;
      min-height: 0;
      .v-slider-track {
        height: 2px;
        border-radius: 0;
      }
    }
  }
  .room-status-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    background: #c3ff4e;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 700;
    color: #121212;
    > img {
      margin-right: 6px;
    }
    &.clean1,
    &.clean2,
    &.clean3 {
      color: #fff;
    }
    &.clean1 {
      background: #1588fd;
    }
    &.clean2 {
      background: #fc6060;
    }
    &.clean3 {
      background: #816bff;
    }
  }
}

// 하단 퀵 메뉴
.quick-menu-area {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #25313d;
  .quick-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 4px;
    background: #3c4d60;
    transform: translate(-50%, -50%);
  }
  .quick-hovering {
    position: relative;
    width: 100px;
    height: 4px;
    background: none;
  }
  .quick-menu {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 72px;
  }
  .quick-menu-list {
    height: 52px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    padding: 6px;
    .v-btn {
      width: 40px;
      height: 40px;
      margin-left: 6px;
      &:nth-child(1) {
        width: 70px;
        margin-left: 0;
        background: #d4d5d2;
        border-radius: 20px;
        font-family: variables.$notom;
        font-size: 12px;
        font-weight: 500;
        color: #121212;
        img {
          margin-right: 4px;
          filter: invert(1);
        }
        &.on {
          background: #121212;
          color: #fff;
          img {
            margin-right: 4px;
            filter: invert(0);
          }
        }
      }
    }
  }
}

// ly-set
.v-menu.ly-set {
  > .v-overlay__content > .v-card {
    border-radius: 12px;
    box-shadow: none;
  }
  > .v-overlay__content::before {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -18px;
    transform: translateX(-10px);
    border: 10px solid transparent;
    border-top-color: #fff;
  }
  > .v-overlay__content::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 20px;
  }
  .v-card-title {
    padding: 0;
    font-family: variables.$notom;
    font-size: 14px;
    font-weight: 500;
    color: #121212;
    text-align: center;
  }
  .v-card-subtitle {
    padding: 0;
    font-family: variables.$notom;
    font-size: 12px;
    font-weight: 500;
    color: #121212;
    opacity: 1;
  }
  .v-card-text {
    margin-top: 4px;
    padding: 0;
  }
  .set-quick {
    width: 366px;
    padding: 4px 16px 16px;
    .group-box {
      padding: 8px 20px 16px;
      background: #e7eced;
      border-radius: 16px;
      & + .d-flex {
        margin-top: 12px;
        .group-box {
          flex: 1;
          &:nth-child(1) {
            margin-right: 5px;
          }
          &:nth-child(2) {
            margin-left: 5px;
          }
        }
      }
      .v-selection-control {
        min-height: inherit;
      }
      .v-selection-control--dirty {
        .v-icon {
          color: #fc6060;
        }
      }
      .v-selection-control__wrapper {
        width: 18px;
        height: 18px;
        margin-right: 6px;
      }
      .v-ripple__container,
      .v-selection-control__input::before,
      .mdi-checkbox-blank-outline::before,
      .mdi-radiobox-blank::before {
        display: none;
      }
      .v-label {
        color: #121212 !important;
        opacity: 1;
      }
      .v-icon {
        width: 18px;
        min-width: inherit;
        height: 18px;
        background: #fff;
        border-radius: 2px;
        opacity: 1;
      }
      .group-checkbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 8px;
        .v-checkbox {
          max-width: 46px;
        }
        .v-label {
          white-space: nowrap;
        }
      }
      .v-radio-group {
        .v-radio {
          margin-top: 8px;
        }
        .v-checkbox {
          max-width: 46px;
        }
        .v-icon {
          overflow: hidden;
          border-radius: 9px;
        }
        .mdi-radiobox-marked::before {
          font-size: 10px;
          background: #fc6060;
          border-radius: 10px;
        }
      }
    }
  }

  .set-temp {
    width: 170px;
    padding: 4px 18px 18px;
    .v-label {
      margin: 8px 0 0;
      padding: 0;
      color: #121212;
      opacity: 1;
      height: 12px;
    }
    .v-input {
      height: 100px;
    }

    .v-switch {
      .v-selection-control {
        flex-direction: column;
        width: 26px;
        min-height: 102px !important;
      }
      .v-selection-control__wrapper {
        justify-content: flex-start;
        width: 80px;
        height: 80px;
        transform: rotate(-90deg);
        .v-switch__track {
          min-width: 80px;
          height: 26px;
          background: #e7eced;
          opacity: 1;
        }
      }
      .v-selection-control__input {
        transform: translateX(0);
      }
      .v-selection-control--dirty {
        .v-selection-control__input {
          justify-content: flex-end;
          transform: translateX(100%);
        }
        .v-switch__thumb {
          background: #1588fd;
        }
      }
      .v-switch__thumb {
        background: #d4d5d2;
        box-shadow: none;
        width: 40px;
        height: 26px;
        border-radius: 13px;
      }
      .v-selection-control__input::before,
      .v-ripple__container {
        display: none;
      }
    }
    .v-slider {
      position: relative;
      z-index: 10;
      margin: 0;
      .v-input__prepend {
        margin: 0;
      }
      .v-input__control {
        height: 80px;
        min-height: 80px;
      }
      .v-slider__container {
        overflow: hidden;
        border-radius: 13px;
      }
      .v-slider-track {
        border-radius: 13px;
      }
      .v-slider-track__fill {
        width: 26px;
      }
      .v-slider-thumb__surface,
      .v-slider-thumb__ripple {
        display: none;
      }
    }
  }
}

// right-click-menu
.v-menu.right-click-menu {
  width: 100px;
  height: 126px;
  .right-click-list {
    width: 100px;
    height: 126px;
    padding: 10px 8px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    .tit {
      font-size: 12px;
      font-weight: 700;
      text-align: center;
    }
    .right-click-close {
      position: absolute;
      top: 12px;
      right: 8px;
      width: 12px;
      height: 12px;
      .v-btn__content {
        width: 12px;
        height: 12px;
      }
      .v-icon {
        font-size: 20px;
      }
    }
    ul li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 24px;
      margin-top: 6px;
      background: #e7eced;
      border-radius: 12px;
    }
  }
}

// room-info-popup
.room-info-popup .v-card {
  border-radius: 16px !important;
  &-title {
    padding: 20px 20px 0;
    font-size: 16px;
    font-weight: 700;
    color: #121212;
  }
  &-text {
    padding: 8px 20px 30px !important;
    .d-flex {
      margin-top: 6px;
      border: 1px solid #dcddda;
      dl {
        display: flex;
        width: 100%;
        + dl {
          border-left: 1px solid #dcddda;
        }
        dt {
          min-width: 100px;
          padding: 8px 12px;
          background: #e7eced;
          border-right: 1px solid #dcddda;
          font-size: 14px;
          color: #121212;
        }
        dd {
          padding: 8px 12px;
          font-family: variables.$notom;
          font-size: 14px;
          font-weight: 500;
          color: #121212;
        }
        .point1 {
          color: #1588fd !important;
        }
        .point2 {
          color: #fc6060 !important;
        }
      }
    }
  }
  &-actions {
    position: absolute;
    top: 24px;
    right: 20px;
    padding: 0;
    min-height: inherit;
    .v-btn {
      width: 38px;
      height: 24px;
      border: 1px solid #dcddda;
      border-radius: 12px;
    }
  }
}
