@charset "utf-8";
@use './variables' as variables;

.v-table {
  font-size: 12px;
  color: #2c2f35 !important;
  &.not-overflow {
    .v-table__wrapper {
      overflow: unset !important;
    }
  }
  &.text-center {
    th,
    td {
      text-align: center !important;
    }
    .v-input--horizontal {
      grid-template-areas: none !important;
      grid-template-columns: none !important;
      grid-template-rows: none !important;
    }
  }
  table {
    border: 1px solid #d6dbe2;
    th,
    td {
      height: 40px !important;
    }
    th {
      background-color: #eff2f4;
      padding: 0 10px !important;
      & + th,
      & + td {
        border-left: 1px solid #d6dbe2;
      }
    }
    td {
      background-color: #fff;
      padding: 0 10px !important;
      & + td,
      & + th {
        border-left: 1px solid #d6dbe2;
      }
    }
    tr:not(:last-child) > th,
    tr:not(:last-child) > td {
      border-bottom: 1px solid #d6dbe2 !important;
    }
  }
  &.dense-dark {
    th {
      background-color: variables.$g-darknavy !important;
      color: #fff !important;
      height: 40px !important;
      & + th,
      & + td {
        border-left: 1px solid #64788d;
      }
    }
    td {
      height: 26px !important;
      .input {
        height: 22px;
      }
      > div {
        height: 26px !important;
      }
      > .v-input {
        .v-selection-control {
          min-height: 26px !important;
          padding: 0 !important;
          margin: 0 !important;
        }
      }
    }
    tbody {
      tr:hover {
        td {
          background-color: #eff2f4;
        }
      }
      tr.active {
        td {
          background-color: #dbe3ee;
        }
      }
      tr.newapp {
        td {
          background-color: #fbf6c7;
        }
      }
    }
    tfoot {
      tr {
        th {
          background-color: #eff2f4;
        }
        td {
          background-color: #eff2f4;
        }
      }
    }
  }
  .mdi-circle-outline::before {
    content: '\F0766';
    font-weight: 900 !important;
    font-size: 14px !important;
  }
}

.v-pagination {
  .v-btn {
    width: 30px !important;
    height: 30px !important;
  }
}
