// src/assets/scss/style.scss
@use './variables' as variables;

@use './font' as font;
@use './common' as common;
@use './base' as base;
@use './btn' as btn;
@use './popup' as popup;
@use './table' as table;
@use './forms' as forms;
@use './main' as main;
@use './dashboard' as dashboard;
@use './room' as room;
@use './room2' as room2;
@use './roomrenew' as roomrenew;

// 기본 스타일
body {
  height: 100%;
  font-family: 'noto', Helvetica, sans-serif;
  font-weight: 400;
  color: #2c2f35;
  font-size: 12px;

  // 변수 사용: variables.$g-primary로 변경
  color: variables.$g-primary !important;
}
