<template>
  <div id="box_div" ref="boxDiv" class="d-flex container">
    <!-- 컬러픽커 -->
    <div class="">
      <v-color-picker show-swatches
        v-model="colorValue"
        mode="hexa"
        :modes="['hexa']"
      ></v-color-picker>
    </div>
    <!--// 컬러픽커 -->
    <!-- 커맨드 -->
    <div class="command ml-1">
      <div class="d-flex" style="justify-content: end;">
        <v-icon class="mt-1 mr-2" size="x-large" color="black" 
          :class="{ cursor_move: isMove }" 
          @mouseover="isMove = true"
          @mouseleave="isMove = false"
          @mousemove="doMove($event)"
        >mdi-menu</v-icon>
      </div>
      <div class="btns">
        <v-btn class="btn"  color="primary" size="large" @click="doApply()">적용</v-btn>
        <v-btn class="btn" color="darkgrey" size="large" @click="doClose()">닫기</v-btn>
      </div>
    </div>
    <!--// 커맨드 -->
  </div>
</template>

<style scoped>
.container {
  position: absolute;
  z-index: 100;
  width: 420px;
  border-radius: 1.5%;
  padding: 5px;
  background-color: lightgrey;
  left: 71px;
  top: 227px;
  display: none;
}
.command {
  display: block;
  width: 100%;
  height: inherit;
  border-radius: 1.5%;
  background-color: white;

  .btns {
    /* background: red;  */
    text-align: center;
    padding: 5px;
  }
}
.btn {
  min-width: 80px;
  margin: 5px;
  font-size: 14px;
}
.cursor_move {
  cursor: move;
}
</style>

<script setup lang="ts">
import _ from 'lodash';
import { ref, onMounted } from 'vue';


// =========================================================
// 타입
// =========================================================
export interface ColorBoxProps {
  show: boolean;
  colorObject: object;
  colorKey: string;
  event: MouseEvent;
}


// =========================================================
// 선언
// =========================================================
// props.
const props = defineProps<ColorBoxProps>();

// emit.
const emit = defineEmits(['update:show', 'update:colorObject']);

// boxDiv.
const boxDiv = ref(null);

// isMove.
const isMove = ref(false);

// coloValue.
const colorValue = ref<string>('');


// =========================================================
// 초기 조회
// =========================================================

// =========================================================
// COMPUTED
// =========================================================

// =========================================================
// WATCH
// =========================================================

// =========================================================
// 기능
// =========================================================

// =========================================================
// 사용자 액션
// =========================================================
const doClose = () => {
  emit('update:show', false);
};

const doApply = () => {
  props.colorObject[props.colorKey] = colorValue.value;
  emit('update:colorObject', props.colorObject);
  console.log(`*** doApply - updated props.colorObject ::`, props.colorObject)
  doClose();
};

const doMove = (e: MouseEvent) => {
  if (e.buttons === 1) {
    console.log(`*** doMove - e ::`, e);
  }
};


// =========================================================
// 정보 & onMounted
// =========================================================
const boxSize = {
  w: 0,
  h: 0,
};

onMounted(() => {
  colorValue.value = props.colorObject[props.colorKey];
  const boxStyle = window.getComputedStyle(boxDiv.value);
  boxSize.w = parseInt(boxStyle.width.replace('px', ''));
  boxSize.h = parseInt(boxStyle.height.replace('px', ''));
  console.log(`*** boxSize ::`, boxSize);

  // 오른쪽이 창을 넘어가면 왼쪽으로 이동.
  const overWidth = (props.event.clientX + boxSize.w) - (window.innerWidth);
  if (overWidth > 0) {
    boxDiv.value.style.left = `${props.event.clientX - boxSize.w}px`; // boxDiv를 커서 왼쪽에.
  } else {
    boxDiv.value.style.left = `${props.event.clientX}px`;
  }

  // 아래쪽이 창을 넘어가면 위쪽으로 이동.
  const overHeight = (props.event.clientY + boxSize.h) - (window.innerHeight);
  if (overHeight > 0) {
    boxDiv.value.style.top = `${props.event.clientY - overHeight - 10}px`; // 10더 올리기.
  } else {
    boxDiv.value.style.top = `${props.event.clientY}px`;
  }
});
</script>
