<template>
    <!-- 다운 버튼 -->
    <v-btn class="pa-0 digit_m" 
      :color="setting.isDownHover ? 'secondary' : 'darkgrey'"
      @mouseover="setting.isDownHover = true"
      @mouseleave="setting.isDownHover = false"
      @click="doUpDownSpin(UpDown.DOWN)"
    >
      <v-icon size="small" color="white">mdi-chevron-down</v-icon>
    </v-btn>
    <!--// 다운 버튼 -->

    <!-- 입력 상자 -->
    <input type="text" readonly
      :value="compValue.minute() + '분'" 
      :style="{ color: inputColor }"
    />
    <!--// 입력 상자 -->

    <!-- 업 버튼 -->
    <v-btn class="pa-0 digit_p" 
      :color="setting.isUpHover ? 'secondary' : 'darkgrey'"
      @mouseover="setting.isUpHover = true"
      @mouseleave="setting.isUpHover = false"
      @click="doUpDownSpin(UpDown.UP)"
    >
      <v-icon size="small" color="white">mdi-chevron-up</v-icon>
    </v-btn>
    <!--// 업 버튼 -->
</template>

<style scoped>
.digit_m {
  min-width: auto;
  width: 16px;
  height: 16px;
  margin-left: 1px;
}
.digit_p {
  min-width: auto;
  width: 16px;
  height: 16px;
  margin-right: 1px;
}
</style>

<script setup lang="ts">
import dayjs from 'dayjs';
import { reactive, computed } from 'vue';
import { UpDown } from '../../utils/view-util';

// =========================================================
// 타입
// =========================================================
interface SettingState {
  isDownHover: boolean;
  isUpHover: boolean;
}

// =========================================================
// 선언
// =========================================================
// props.
const props = withDefaults(defineProps<{
  modelValue: dayjs.Dayjs;
  initTime?: dayjs.Dayjs;
}>(), {
  initTime: null,
});

// emit.
const emit = defineEmits(['update:modelValue'])

// data.
const setting: SettingState = reactive({
  isDownHover: false,
  isUpHover: false,
});

// =========================================================
// 초기 조회
// =========================================================

// =========================================================
// COMPUTED
// =========================================================
const compValue = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  }
})

const inputColor = computed<string>(() => {
  if (props.initTime === null) return 'black';

  const initVal = props.initTime.unix();
  const currVal = props.modelValue.unix();
  // console.log(`*** inputColor - initVal: ${initVal}, currVal: ${currVal}`);

  if (currVal > initVal) return 'red';
  else if (currVal < initVal) return 'blue';
});


// =========================================================
// WATCH
// =========================================================

// =========================================================
// 기능
// =========================================================

// =========================================================
// 사용자 액션
// =========================================================
const doUpDownSpin = (upDown: UpDown) => {
  let val = compValue.value.minute();
  if (upDown === UpDown.UP) {
    val += 5;
    if (val >= 59) {
      val = 0; // 최대값이면 최소값으로.
    }
  }
  else if (upDown === UpDown.DOWN) {
    val -= 5;
    if (val < 0) {
      val = 55; // 최소값이면 최대값으로.
    }
  }
  compValue.value = compValue.value.minute(val);
};

// =========================================================
// 정보 & onMounted
// =========================================================
</script>
