<template>
    <!-- 다운 버튼 -->
    <v-btn class="pa-0 digit_m" 
      :disabled="props.disabled"
      :color="setting.isDownHover ? 'secondary' : 'darkgrey'"
      @mouseover="setting.isDownHover = true"
      @mouseleave="setting.isDownHover = false"
      @click="doUpDownSpin(UpDown.DOWN)"
    >
      <v-icon size="x-small" color="white">mdi-chevron-down</v-icon>
    </v-btn>
    <!--// 다운 버튼 -->

    <!-- 입력 상자 -->
    <input type="text" 
      :readonly="!props.editable"
      :disabled="props.disabled" 
      :class="{ disable_input: props.disabled }"
      :value="displayValue"
      :style="{ color: inputColor }" 
      @keydown="doInput($event)"
    />
    <!-- viewUtil.kbDigit($event) -->
    <!--// 입력 상자 -->

    <!-- 업 버튼 -->
    <v-btn class="pa-0 digit_p" 
      :disabled="props.disabled"
      :color="setting.isUpHover ? 'secondary' : 'darkgrey'"
      @mouseover="setting.isUpHover = true"
      @mouseleave="setting.isUpHover = false"
      @click="doUpDownSpin(UpDown.UP)"
    >
      <v-icon size="x-small" color="white">mdi-chevron-up</v-icon>
    </v-btn>
    <!--// 업 버튼 -->

    <template v-if="props.reset">
    <!-- 리셋 버튼 -->
    <v-btn class="pa-0 digit_p" color="grey"
      :disabled="props.disabled" 
      @click="doReset()"
    ><v-icon size="small" color="white">mdi-close-box</v-icon></v-btn>
    <!--// 리셋 버튼 -->
  </template>
</template>

<style scoped>
.digit_m {
  min-width: auto;
  width: 16px;
  height: 16px;
  margin-left: 0px;
}
.digit_p {
  min-width: auto;
  width: 16px;
  height: 16px;
  margin-right: 0px;
}
</style>

<script setup lang="ts">
import { reactive, computed } from 'vue';
import { viewUtil, UpDown, UpDownConfig } from '../../utils/view-util';

// =========================================================
// 타입
// =========================================================
interface SettingState {
  isDownHover: boolean;
  isUpHover: boolean;
}

interface Props {
  modelValue: number | null;
  upDownConfig: UpDownConfig;
  disabled?: boolean;
  unit?: string;
  editable?: boolean;
  initValue?: number;
  fmtComma?: boolean;
  unitNarrow?: boolean;
  reset?: boolean;
  notNull?: boolean;
}

// =========================================================
// 선언
// =========================================================
// props.
const props = withDefaults(
  defineProps<Props>(),
  {
    modelValue: 0,
    disabled: false,
    unit: null,
    editable: false,
    initValue: null,
    fmtComma: false,
    unitNarrow: false,
    reset: false,
    notNull: false,
  }
);

// emit.
const emit = defineEmits(['update:modelValue'])

// data.
const setting: SettingState = reactive({
  isDownHover: false,
  isUpHover: false,
});

// =========================================================
// 초기 조회
// =========================================================

// =========================================================
// COMPUTED
// =========================================================
const compValue = computed<number|null>({
  get() {
    return props.modelValue;
  },
  set(value) {
    emit('update:modelValue', value);
  }
})

const displayValue = computed(() => {
  if (props.notNull) {
    if (compValue.value === null) {
      return '필수입력';
    }
  }

  if (isNaN(compValue.value)) {
    compValue.value = 0;
  }

  if (props.fmtComma) {
    if (props.unit) return viewUtil.comma(compValue.value) + (props.unitNarrow ? '' : ' ') + props.unit;
    return viewUtil.comma(compValue.value);
  }
  else {
    if (props.unit) return compValue.value + (props.unitNarrow ? '' : ' ') + props.unit;
    return compValue.value;
  }
});

const inputColor = computed<string>(() => {
  if (props.notNull && compValue.value === null) {
    return 'red';
  }

  if (props.initValue === null) return 'black';

  const initVal = props.initValue;
  const currVal = compValue.value;

  if (currVal > initVal) return 'red';
  else if (currVal < initVal) return 'blue';
  else return 'black';
});

// =========================================================
// WATCH
// =========================================================

// =========================================================
// 기능
// =========================================================

// =========================================================
// 사용자 액션
// =========================================================
const doUpDownSpin = (upDown: UpDown) => {
  if (compValue.value === null || isNaN(compValue.value)) {
    compValue.value = 0;
  }
  compValue.value = viewUtil.doUpDown(compValue.value, upDown, props.upDownConfig);
};

const doReset = () => {
  if (props.initValue) {
    compValue.value = props.initValue;
  } else {
    compValue.value = 0;
  }
};

const doInput = (event: KeyboardEvent) => {
  viewUtil.kbDigit(event);
  
  if (event.key === 'Enter') {
    const target = event.target as HTMLInputElement;

    const len = target.value.length;
    if (len === 0) {
      compValue.value = 0;
      return;
    }

    const buf = [];
    for (let i = 0; i < len; i++) {
      const ch = target.value.charAt(i);
      if (ch >= '0' && ch <= '9') {
        buf.push(ch);
      } 
    }
    const s = buf.join('');
    // console.log(`*** doInput - s: ${s}`);
    const numValue = Number(s);
    
    if (isNaN(numValue)) {
      compValue.value = 0;
    } else {
      compValue.value = Number(target.value);
    }
  }
};


// =========================================================
// 정보 & onMounted
// =========================================================


</script>
