<template>
  <div class="d-flex align-center justify-space-around">
    <div class="d-flext">
      <!-- 편집 가능 -->
      <template v-if="props.editable">
        <v-checkbox hide-details density="compact" class="fs13"
          v-model="propValue"
          :true-value="props.trueValue"
          :false-value="props.falseValue"
          :color="props.trueColor" 
        >
          <template v-slot:label>
            <span :style="{ color: valueIsTrue ? 'green' : 'red' }">
              {{ valueIsTrue ? props.trueTitle : $props.falseTitle }}
            </span>
          </template>
        </v-checkbox>
      </template>
      <!--// 편집 가능 -->
  
      <!-- 편집 불가 -->
      <template v-else>
        <v-icon v-if="valueIsTrue" size="small"
          :icon="props.trueIcon"
          :label="props.trueTitle"
          :color="props.trueColor"
        ></v-icon>
        <v-icon v-else size="small"
          :icon="props.falseIcon"
          :label="props.falseTitle"
          :color="props.falseColor"
        ></v-icon>
        <span class="ml-1 ">{{ valueIsTrue ? props.trueTitle : props.falseTitle }}</span>
      </template>
      <!--// 편집 불가 -->
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue'

interface Props {
  modelValue: any;
  editable?: boolean;

  trueValue?: any;  
  trueIcon?: string;
  trueTitle?: string;
  trueColor?: string;
  
  falseValue?: any;
  falseIcon?: string;
  falseTitle?: string;
  falseColor?: string;
}

const props = withDefaults(
  defineProps<Props>(),
  {
    modelValue: false,
    editable: false,

    trueValue: true,
    trueIcon: 'mdi-check',
    trueTitle: '가능',
    trueColor: 'success', //blue-darken-1

    falseValue: false,
    falseIcon: 'mdi-cancel',
    falseTitle: '불가',
    falseColor: 'red-lighten-2',
  }
);

const emit = defineEmits(['update:modelValue']);

// ture 인가?
const valueIsTrue = computed<boolean>(() => props.modelValue === props.trueValue);

const propValue = computed<boolean>({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  }
})
</script>
