<template>
  <v-checkbox class="ml-2" style="width: 55px;"
    v-model="setting.isOn" 
    hide-details 
    density="compact"
    color="secondary" 
    :label="props.label"
    
  ></v-checkbox>

  <div class="input-counter ml-2 digit_box" style="width: 130px;">
    <WonInput 
      v-model="compValue"
      :disabled="!setting.isOn"
      :unpaid="props.unpaid"
      :reset="props.reset"
    ></WonInput>
  </div>
  <div class="room-btn-area">
    <v-btn class="ml-2 pa-2" style="min-width: 34px; height: 28px; font-size: 0.8rem;"
      :disabled="!setting.isOn || isUnpaidZero"
      :color="setting.isHover1 ? 'secondary' : 'darkgrey'"
      @mouseover="setting.isHover1 = true"
      @mouseleave="setting.isHover1 = false"
      @click="doUnpayidFill()"
    >잔액
      <!-- <template v-slot:append>
        <v-icon color="white"></v-icon>
      </template> -->
    </v-btn>
    <v-btn class="custom-btn-icon-white ml-1 pa-2" size="small" style="min-width: 28px;height: 28px; font-size: 0.8rem;"
      :disabled="!setting.isOn || isUnpaidZero"
      :color="setting.isHover2 ? 'secondary' : 'grey'"
      @mouseover="setting.isHover2 = true"
      @mouseleave="setting.isHover2 = false"
      @click="doAdd(5000)"
    ><span class="unit_won">5천</span>
      <!-- <template v-slot:prepend>
        <v-icon size="small" color="pa-0 ma-0"></v-icon>
      </template> -->
    </v-btn>
    <v-btn class="custom-btn-icon-white ml-1 pa-2" size="small" style="min-width: 28px;height: 28px; font-size: 0.8rem;"
      :disabled="!setting.isOn || isUnpaidZero"
      :color="setting.isHover3 ? 'secondary' : 'grey'"
      @mouseover="setting.isHover3 = true"
      @mouseleave="setting.isHover3 = false"
      @click="doAdd(10000)"
    ><span class="unit_won">1만</span>
      <!-- <template v-slot:prepend>
        <v-icon size="small" color="pa-0 ma-0"></v-icon>
      </template> -->
    </v-btn>
    
    <v-btn class="ml-1 pa-2" style="min-width: 18px; height: 28px; font-size: 0.8rem;"
      :disabled="!setting.isOn"
      :color="setting.isHover4 ? 'secondary' : 'grey'"
      @mouseover="setting.isHover4 = true"
      @mouseleave="setting.isHover4 = false"
      @click="doReset()"
    ><v-icon>mdi-close</v-icon>
    </v-btn>
    <!-- <v-btn class="custom-btn-icon-white ml-1" size="small" style="min-width: 18px;height: 28px; font-size: 0.7rem;"
      :disabled="!setting.isOn"
      :color="setting.isHover3 ? 'secondary' : 'grey'"
      @mouseover="setting.isHover3 = true"
      @mouseleave="setting.isHover3 = false"
      @click=""
    >
    </v-btn> -->
  </div>
</template>


<style scoped>
.digit_box {
  width: 84px; 
  margin: 0; 
  padding: 0; 
  gap: 0;
}
</style>

<script setup lang="ts">
import WonInput from '@/components/compo/WonInput.vue';
import { reactive, computed, watch } from 'vue';
import { viewUtil, UpDown, UpDownConfig } from '@/utils/view-util';

// =========================================================
// 선언
// =========================================================
const props = withDefaults(
  defineProps<{
    modelValue: number;
    label: string;
    unpaid: number;
    reset?: boolean;
    amountReset: boolean;
  }>(), 
  {
    reset: false,
    amountReset: false,
  }
);

// emit.
const emit = defineEmits(['update:modelValue'])

// data.
const setting: SettingState = reactive({
  isOn: false,
  isHover1: false,
  isHover2: false,
  isHover3: false,
  isHover4: false,
})


// =========================================================
// 초기 조회
// =========================================================

// =========================================================
// COMPUTED
// =========================================================
const compValue = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  }
})

const isUnpaidZero = computed<boolean>(() => {
  return props.unpaid === 0;
});


// =========================================================
// WATCH
// =========================================================
watch(() => props.amountReset, () => {
  if (props.amountReset) {
    doAmountReset();
  }
})

// =========================================================
// 기능
// =========================================================

// =========================================================
// 사용자 액션
// =========================================================
const doReset = () => {
  compValue.value = 0;
}

// 미수금 채우기.
const doUnpayidFill = () => {
  if (props.unpaid > 0) {
    compValue.value = compValue.value + props.unpaid 
  }
}

const doAdd = (amount: number) => {
  const passibleAmount = props.unpaid > amount ? amount : props.unpaid;
  if (props.unpaid > 0) {
    compValue.value = compValue.value + passibleAmount;
  }
}

// 요금 설정 리셋.
const doAmountReset = () => {
  setting.isOn = false;
  compValue.value = 0;
};


// =========================================================
// 정보 & onMounted
// =========================================================
interface SettingState {
  isOn: boolean;
  isHover1: boolean;
  isHover2: boolean;
  isHover3: boolean;
  isHover4: boolean;
}
</script>
