<template>
    <!-- 다운 버튼 -->
    <v-btn class="pa-0 digit_m" 
      :disabled="props.disabled" 
      :color="setting.isDownHover ? 'secondary' : 'darkgrey'"
      @mouseover="setting.isDownHover = true"
      @mouseleave="setting.isDownHover = false"
      @click="doUpDownSpin(UpDown.DOWN)"
    >
      <v-icon size="small" color="white">mdi-chevron-down</v-icon>
    </v-btn>
    <!--// 다운 버튼 -->

    <!-- 입력 상자 -->
    <input type="text" 
      :value="compValue + '일'"
      :class="{ disable_input: props.disabled }"
      :disabled="props.disabled"
    />
    <!-- 입력 상자 -->

    <!-- 업 버튼 -->
    <v-btn class="pa-0 mr-2 digit_p" 
      :disabled="props.disabled" 
      :color="setting.isUpHover ? 'secondary' : 'darkgrey'"
      @mouseover="setting.isUpHover = true"
      @mouseleave="setting.isUpHover = false"
      @click="doUpDownSpin(UpDown.UP)"
    >
      <v-icon size="small" color="white">mdi-chevron-up</v-icon>
    </v-btn>
    <!--// 업 버튼 -->

    <!-- 업 버튼 -->
    <v-btn class="pa-0 mr-2 digit_p" style="margin-right: -3px;"
      :disabled="props.disabled" 
      :color="setting.isUpHover2 ? 'secondary' : 'darkgrey'"
      @mouseover="setting.isUpHover2 = true"
      @mouseleave="setting.isUpHover2 = false"
      @click="doUpDownSpin2(UpDown.UP)"
    >
      <v-icon size="small" color="white">mdi-chevron-double-up</v-icon>
    </v-btn>
    <!--// 업 버튼 -->

    <!-- 리셋 버튼 -->
    <v-btn class="pa-0 digit_p" color="grey"
      :disabled="props.disabled" 
      @click="doReset()"
    >
      <v-icon size="small" color="white">mdi-close-box</v-icon>
    </v-btn>
    <!--// 리셋 버튼 -->
</template>

<style scoped>
.digit_m {
  min-width: auto;
  width: 16px;
  height: 16px;
  margin-left: 3px;
}
.digit_p {
  min-width: auto;
  width: 16px;
  height: 16px;
  margin-right: 3px;
}
</style>

<script setup lang="ts">
import { reactive, computed, onMounted } from 'vue';
import { viewUtil, UpDown, upDownStayLongConfig, upDownStayLong2Config } from '../../utils/view-util';

// =========================================================
// 타입
// =========================================================
interface SettingState {
  isDownHover: boolean;
  isUpHover: boolean;
  isUpHover2: boolean;
}

// =========================================================
// 선언
// =========================================================
// props.
const props = defineProps<{
  modelValue: number;
  disabled: boolean;
}>();

// emit.
const emit = defineEmits(['update:modelValue'])

// data.
const setting: SettingState = reactive({
  isDownHover: false,
  isUpHover: false,
  isUpHover2: false,
});

// =========================================================
// 초기 조회
// =========================================================

// =========================================================
// COMPUTED
// =========================================================
const compValue = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  }
})

// =========================================================
// WATCH
// =========================================================

// =========================================================
// 기능
// =========================================================

// =========================================================
// 사용자 액션
// =========================================================
const doUpDownSpin = (upDown: UpDown) => {
  compValue.value = viewUtil.doUpDown(compValue.value, upDown, upDownStayLongConfig);
};

const doUpDownSpin2 = (upDown: UpDown) => {
  compValue.value = viewUtil.doUpDown(compValue.value, upDown, upDownStayLong2Config);
};

const doReset = () => {
  compValue.value = upDownStayLongConfig.defaultVal;
};

// =========================================================
// 정보 & onMounted
// =========================================================
onMounted(() => {
  doReset();
});
</script>
