<template>
    <!-- 다운 버튼 -->
    <v-btn class="pa-0 digit_m" 
      :disabled="props.disabled" 
      :color="setting.isDownHover ? 'secondary' : 'darkgrey'"
      @mouseover="setting.isDownHover = true"
      @mouseleave="setting.isDownHover = false"
      @click="doUpDownSpin(UpDown.DOWN)"
    >
      <v-icon size="small" color="white">mdi-chevron-down</v-icon>
    </v-btn>
    <!--// 다운 버튼 -->

    <!-- 입력 상자 -->
    <input type="text" readonly 
      :value="compValue" 
      :style="{ color: inputColor }"
    />
    <!-- 입력 상자 -->

    <!-- 업 버튼 -->
    <v-btn class="pa-0 digit_p" 
      :disabled="props.disabled" 
      :color="setting.isUpHover ? 'secondary' : 'darkgrey'"
      @mouseover="setting.isUpHover = true"
      @mouseleave="setting.isUpHover = false"
      @click="doUpDownSpin(UpDown.UP)"
    >
      <v-icon size="small" color="white">mdi-chevron-up</v-icon>
    </v-btn>
    <!--// 업 버튼 -->
</template>

<style scoped>
.digit_m {
  min-width: auto;
  width: 16px;
  height: 16px;
  margin-left: 1px;
}
.digit_p {
  min-width: auto;
  width: 16px;
  height: 16px;
  margin-right: 1px;
}
</style>

<script setup lang="ts">
import { reactive, computed } from 'vue';
import { viewUtil, UpDown, UpDownConfig } from '../../utils/view-util';


// =========================================================
// 선언
// =========================================================
// props.
const props = withDefaults(
  defineProps<{
    modelValue: number | null;
    upDownConfig: UpDownConfig;
    disabled?: boolean;
    initTemp?: number;
  }>(), 
  {
    disabled: false,
    initTemp: null,
  }
);

// emit.
const emit = defineEmits(['update:modelValue'])

// data.
const setting: SettingState = reactive({
  isDownHover: false,
  isUpHover: false,
});

// =========================================================
// 초기 조회
// =========================================================

// =========================================================
// COMPUTED
// =========================================================
const compValue = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value !== null ? value : 0);
  }
})

const inputColor = computed<string>(() => {
  if (props.initTemp === null) return 'black';

  const initVal = props.initTemp;
  const currVal = props.modelValue;
  // console.log(`*** inputColor - initVal: ${initVal}, currVal: ${currVal}`);
  if (currVal > initVal) return 'red';
  else if (currVal < initVal) return 'blue';
});


// =========================================================
// WATCH
// =========================================================

// =========================================================
// 기능
// =========================================================

// =========================================================
// 사용자 액션
// =========================================================
const doUpDownSpin = (upDown: UpDown) => {
  compValue.value = viewUtil.doUpDown(compValue.value, upDown, props.upDownConfig);
};


// =========================================================
// 정보 & onMounted
// =========================================================

// =========================================================
// 타입, 상수
// =========================================================
interface SettingState {
  isDownHover: boolean;
  isUpHover: boolean;
}
</script>
