<template>
  <v-btn class="pa-0 digit_m" 
    :disabled="props.disabled || disableDown"
    :color="setting.isDownHover ? 'secondary' : 'darkgrey'"
    @mouseover="setting.isDownHover = true"
    @mouseleave="setting.isDownHover = false"
    @click="doUpDownSpin(UpDown.DOWN)"
  ><v-icon size="small" color="white">mdi-minus</v-icon></v-btn>

  <input type="text" readonly
    :class="{ disable_input: props.disabled }" 
    :disabled="props.disabled" 
    :value="viewUtil.commaWon(compValue)"
    :style="{ textAlign: align, color: inputColor }"
  />

  <v-btn class="pa-0 digit_p" 
    :disabled="props.disabled || disableUp"
    :color="setting.isUpHover ? 'secondary' : 'darkgrey'"
    @mouseover="setting.isUpHover = true"
    @mouseleave="setting.isUpHover = false"
    @click="doUpDownSpin(UpDown.UP)"
  ><v-icon size="small" color="white">mdi-plus</v-icon></v-btn>

  <template v-if="props.reset">
    <!-- 리셋 버튼 -->
    <v-btn class="pa-0 digit_p" color="grey"
      :disabled="props.disabled" 
      @click="doReset()"
    ><v-icon size="small" color="white">mdi-close-box</v-icon></v-btn>
    <!--// 리셋 버튼 -->
  </template>
</template>

<style scoped>
.digit_m {
  min-width: auto;
  width: 16px;
  height: 16px;
  margin-left: 1px;
}
.digit_p {
  min-width: auto;
  width: 16px;
  height: 16px;
  margin-right: 1px;
}
</style>

<script setup lang="ts">
import { reactive, computed } from 'vue';
import { viewUtil, UpDown, upDownAmountConfig } from '../../utils/view-util';


// =========================================================
// 선언
// =========================================================
// props.
const props = withDefaults(
  defineProps<{
    modelValue: number;
    disabled?: boolean;
    reset?: boolean;
    useColor?: boolean;
    unpaid?: number;
    align?: string;
  }>(), 
  {
    disabled: false,
    reset: false,
    useColor: false,
    unpaid: null,
    align: 'right',
  }
);

// emit.
const emit = defineEmits(['update:modelValue'])

// data.
const setting: SettingState = reactive({
  isDownHover: false,
  isUpHover: false,
});


// =========================================================
// 초기 조회
// =========================================================

// =========================================================
// COMPUTED
// =========================================================
const compValue = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value !== null ? value : 0);
  }
})

const disableDown = computed<boolean>(() => {
  if (props.unpaid === null) return false;
  return compValue.value === 0 ? true : false;
});

const disableUp = computed<boolean>(() => {
  if (props.unpaid === null) return false;
  return props.unpaid === 0 ? true : false;
});

const inputColor = computed<string>(() => {
  if (!props.useColor) return 'black';

  const initVal = 0;
  const currVal = props.modelValue;
  // console.log(`*** inputColor - initVal: ${initVal}, currVal: ${currVal}`);
  if (currVal > initVal) return 'red';
  else if (currVal < initVal) return 'blue';
});

const align = computed<any>(() => {
  return props.align;
});


// =========================================================
// WATCH
// =========================================================

// =========================================================
// 기능
// =========================================================

// =========================================================
// 사용자 액션
// =========================================================
const doUpDownSpin = (upDown: UpDown) => {
  if (props.unpaid !== null) {
    if (props.unpaid === 0 && upDown === UpDown.UP) return;
    else if (compValue.value === 0 && upDown === UpDown.DOWN) return;
  }
  compValue.value = viewUtil.doUpDown(compValue.value, upDown, upDownAmountConfig);
};

const doReset = () => {
  compValue.value = 0;
};


// =========================================================
// 정보 & onMounted
// =========================================================

// =========================================================
// 타입, 상수
// =========================================================
interface SettingState {
  isDownHover: boolean;
  isUpHover: boolean;
}
</script>
