<!-- @format -->

<template>
  <v-card color="#F2F5F8" class="pop-container">
    <popup-title :title="'ISGA'"></popup-title>
    <search-box2 class="mt-3"></search-box2>
    <v-card elevation="0" rounded="0" class="mt-3" color="transparent">
      <v-tabs
        v-model="tab"
        hide-slider
        grow
        density="compact"
        background-color="#F9F9F9"
        color="#FC6060"
        class="tab-box"
      >
        <v-tab value="무인판매1">무인판매1</v-tab>
        <v-tab value="무인판매2">무인판매2</v-tab>
        <v-tab value="무인판매3">무인판매3</v-tab>
      </v-tabs>

      <v-card-text class="isga-tab-cont">
        <v-window v-model="tab">
          <v-window-item value="무인판매1">
            <v-row>
              <v-col cols="12">
                <v-card-subtitle class="d-flex justify-space-between text-high-emphasis pa-0">
                  <strong class="text-black">판매현황</strong>
                </v-card-subtitle>
                <v-table density="comfortable" class="table-view mt-2">
                  <colgroup>
                    <col width="10%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="15%" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th class="text-center">숙박(총 건수)</th>
                      <td>
                        <count-card
                          :width="'100%'"
                          :height="'32'"
                          :bgColor="'#5C86F1'"
                          :isVertical="true"
                          :titleHide="true"
                          :textColor="'#fff'"
                          :count="'5'"
                          class="ml-0"
                        ></count-card>
                      </td>
                      <th class="text-center">대실(총 건수)</th>
                      <td>
                        <count-card
                          :width="'100%'"
                          :height="'32'"
                          :bgColor="'#7868E5'"
                          :isVertical="true"
                          :titleHide="true"
                          :textColor="'#fff'"
                          :count="'15'"
                          class="ml-0"
                        ></count-card>
                      </td>
                      <th class="text-center">판매상태</th>
                      <td>
                        <btn-switch class="justify-center"></btn-switch>
                      </td>
                      <th class="text-center">성인인증</th>
                      <td>
                        <btn-switch class="justify-center"></btn-switch>
                      </td>
                    </tr>
                  </tbody>
                </v-table>
              </v-col>
            </v-row>
            <v-row class="mt-1">
              <v-col cols="6">
                <v-card-subtitle class="d-flex justify-space-between text-high-emphasis pa-0">
                  <strong class="text-black">전체 판매이력</strong>
                  <div class="d-flex align-center">
                    <v-checkbox
                      hide-details
                      density="default"
                      color="#fc6060"
                      label="숙박"
                      class="check-box"
                    ></v-checkbox>
                    <v-checkbox
                      hide-details
                      density="default"
                      color="#fc6060"
                      label="대실"
                      class="check-box ml-2"
                    ></v-checkbox>
                    <v-select
                      :items="items"
                      density="compact"
                      hide-details
                      single-line
                      class="select-box ml-2"
                      style="width: 80px"
                    ></v-select>
                  </div>
                </v-card-subtitle>
                <table-list
                  height="564"
                  class="th-bg mt-2"
                  style="padding: 2px; border: 1px solid #d6dbe2"
                >
                </table-list>
              </v-col>
              <v-col cols="6">
                <v-card-subtitle class="d-flex justify-space-between text-high-emphasis pa-0">
                  <strong class="text-black">객실정보</strong>
                  <div class="d-flex">
                    <v-select
                      :items="items2"
                      density="compact"
                      hide-details
                      single-line
                      class="select-box ml-2"
                      style="width: 120px"
                    ></v-select>
                  </div>
                </v-card-subtitle>
                <v-card elevation="0" border="1" color="#F2F5F8" min-height="90" class="mt-2 pa-3">
                  <v-row dense>
                    <v-col cols="4" class="d-flex align-center justify-center">
                      <span class="text-caption">호실 :</span>
                      <strong class="text-h6 font-weight-bold ml-1">306호</strong>
                    </v-col>
                    <v-col cols="4" class="d-flex align-center justify-center">
                      <span class="text-caption">객실 :</span>
                      <strong class="text-h6 font-weight-bold ml-1"> 스위트룸 </strong>
                    </v-col>
                    <v-col cols="4" class="d-flex align-center justify-center">
                      <span class="text-caption">유형 :</span>
                      <strong class="text-h6 ml-1">
                        <count-card
                          :width="'100%'"
                          :height="'24'"
                          :bgColor="'#7868E5'"
                          :isVertical="true"
                          :countHide="true"
                          :textColor="'#fff'"
                          :title="'대실'"
                          class="ml-0"
                        ></count-card>
                      </strong>
                    </v-col>
                  </v-row>
                  <v-row dense class="mt-3">
                    <v-col cols="4" class="d-flex align-center justify-center">
                      <span class="text-caption">입실</span>
                      <v-chip
                        color="#2C2F35"
                        variant="text"
                        border
                        class="ml-1"
                        style="background-color: #fff"
                      >
                        17:30
                      </v-chip>
                    </v-col>
                    <v-col cols="4" class="d-flex align-center justify-center">
                      <span class="text-caption">퇴실</span>
                      <v-chip
                        color="#2C2F35"
                        variant="text"
                        border
                        class="ml-1"
                        style="background-color: #fff"
                      >
                        17:30
                      </v-chip>
                    </v-col>
                    <v-col cols="4" class="d-flex align-center justify-center">
                      <span class="text-caption">추가시간</span>
                      <v-chip
                        color="pink"
                        variant="text"
                        border
                        class="ml-1"
                        style="background-color: #fff"
                      >
                        00:00
                      </v-chip>
                    </v-col>
                  </v-row>
                </v-card>
                <v-card-subtitle class="d-flex justify-space-between text-high-emphasis pa-0 mt-3">
                  <strong class="text-black">카드데크</strong>
                </v-card-subtitle>
                <v-table density="comfortable" class="table-view mt-2">
                  <colgroup>
                    <col width="25%" span="4" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th>카드키 / (좌)</th>
                      <td class="text-pink">사용중</td>
                      <th>카드키 / (우)</th>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th>통신</th>
                      <td class="text-pink">단절</td>
                      <th>전원</th>
                      <td>키에 연동</td>
                    </tr>
                    <tr>
                      <th>바코드</th>
                      <td>미등록</td>
                      <th>도어키 ID</th>
                      <td>D0EFF01</td>
                    </tr>
                  </tbody>
                </v-table>
                <v-card-subtitle class="d-flex justify-space-between text-high-emphasis pa-0 mt-3">
                  <strong class="text-black">객실상세</strong>
                </v-card-subtitle>
                <v-table density="comfortable" class="table-view mt-2">
                  <colgroup>
                    <col width="19%" />
                    <col width="31%" />
                    <col width="19%" />
                    <col width="31%" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th>판매건수</th>
                      <td class="text-pink">총 2건</td>
                      <th>기본요금</th>
                      <td>50,000원</td>
                    </tr>
                    <tr>
                      <th>현금</th>
                      <td>50,000원 <span class="text-blue">(1건)</span></td>
                      <th>카드</th>
                      <td>50,000원 <span class="text-blue">(1건)</span></td>
                    </tr>
                  </tbody>
                </v-table>
                <v-table density="comfortable" class="table-view mt-2">
                  <colgroup>
                    <col width="19%" />
                    <col width="31%" />
                    <col width="19%" />
                    <col width="31%" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th>추가금액</th>
                      <td>0원</td>
                      <th>예약할인</th>
                      <td>0원</td>
                    </tr>
                    <tr>
                      <th>미수금</th>
                      <td>0원</td>
                      <th>반환금</th>
                      <td>0월</td>
                    </tr>
                  </tbody>
                </v-table>
                <v-table density="comfortable" class="table-view mt-2">
                  <colgroup>
                    <col width="19%" />
                    <col width="31%" />
                    <col width="19%" />
                    <col width="31%" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th>OTA</th>
                      <td>-</td>
                      <th>포인트</th>
                      <td>0</td>
                    </tr>
                    <tr>
                      <th>합계</th>
                      <td class="text-pink font-weight-bold">100,000원</td>
                      <th>차량번호</th>
                      <td>
                        <div class="d-flex justify-space-between align-center">
                          <span>26가 1234</span>
                          <v-checkbox
                            hide-details
                            density="compact"
                            color="#fc6060"
                            class="v-col-auto pa-0"
                          ></v-checkbox>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </v-table>
              </v-col>
            </v-row>
          </v-window-item>
          <v-window-item value="무인판매2">
            <v-row>
              <v-col cols="12">
                <v-card-subtitle class="d-flex justify-space-between text-high-emphasis pa-0">
                  <strong class="text-black">판매현황</strong>
                </v-card-subtitle>
                <v-table density="comfortable" class="table-view mt-2">
                  <colgroup>
                    <col width="10%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="15%" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th class="text-center">숙박(총 건수)</th>
                      <td>
                        <count-card
                          :width="'100%'"
                          :height="'32'"
                          :bgColor="'#5C86F1'"
                          :isVertical="true"
                          :titleHide="true"
                          :textColor="'#fff'"
                          :count="'5'"
                          class="ml-0"
                        ></count-card>
                      </td>
                      <th class="text-center">대실(총 건수)</th>
                      <td>
                        <count-card
                          :width="'100%'"
                          :height="'32'"
                          :bgColor="'#7868E5'"
                          :isVertical="true"
                          :titleHide="true"
                          :textColor="'#fff'"
                          :count="'15'"
                          class="ml-0"
                        ></count-card>
                      </td>
                      <th class="text-center">판매상태</th>
                      <td>
                        <btn-switch class="justify-center"></btn-switch>
                      </td>
                      <th class="text-center">성인인증</th>
                      <td>
                        <btn-switch class="justify-center"></btn-switch>
                      </td>
                    </tr>
                  </tbody>
                </v-table>
              </v-col>
            </v-row>
            <v-row class="mt-1">
              <v-col cols="6">
                <v-card-subtitle class="d-flex justify-space-between text-high-emphasis pa-0">
                  <strong class="text-black">전체 판매이력</strong>
                  <div class="d-flex align-center">
                    <v-checkbox
                      hide-details
                      density="default"
                      color="#fc6060"
                      label="숙박"
                      class="check-box"
                    ></v-checkbox>
                    <v-checkbox
                      hide-details
                      density="default"
                      color="#fc6060"
                      label="대실"
                      class="check-box ml-2"
                    ></v-checkbox>
                    <v-select
                      :items="items"
                      density="compact"
                      hide-details
                      single-line
                      class="select-box ml-2"
                      style="width: 80px"
                    ></v-select>
                  </div>
                </v-card-subtitle>
                <table-list
                  height="564"
                  class="th-bg mt-2"
                  style="padding: 2px; border: 1px solid #d6dbe2"
                >
                </table-list>
              </v-col>
              <v-col cols="6">
                <v-card-subtitle class="d-flex justify-space-between text-high-emphasis pa-0">
                  <strong class="text-black">객실정보</strong>
                  <div class="d-flex">
                    <v-select
                      :items="items2"
                      density="compact"
                      hide-details
                      single-line
                      class="select-box ml-2"
                      style="width: 120px"
                    ></v-select>
                  </div>
                </v-card-subtitle>
                <v-card elevation="0" border="1" color="#F2F5F8" min-height="90" class="mt-2 pa-3">
                  <v-row dense>
                    <v-col cols="4" class="d-flex align-center justify-center">
                      <span class="text-caption">호실 :</span>
                      <strong class="text-h6 font-weight-bold ml-1">306호</strong>
                    </v-col>
                    <v-col cols="4" class="d-flex align-center justify-center">
                      <span class="text-caption">객실 :</span>
                      <strong class="text-h6 font-weight-bold ml-1"> 스위트룸 </strong>
                    </v-col>
                    <v-col cols="4" class="d-flex align-center justify-center">
                      <span class="text-caption">유형 :</span>
                      <strong class="text-h6 ml-1">
                        <count-card
                          :width="'100%'"
                          :height="'24'"
                          :bgColor="'#7868E5'"
                          :isVertical="true"
                          :countHide="true"
                          :textColor="'#fff'"
                          :title="'대실'"
                          class="ml-0"
                        ></count-card>
                      </strong>
                    </v-col>
                  </v-row>
                  <v-row dense class="mt-3">
                    <v-col cols="4" class="d-flex align-center justify-center">
                      <span class="text-caption">입실</span>
                      <v-chip
                        color="#2C2F35"
                        variant="text"
                        border
                        class="ml-1"
                        style="background-color: #fff"
                      >
                        17:30
                      </v-chip>
                    </v-col>
                    <v-col cols="4" class="d-flex align-center justify-center">
                      <span class="text-caption">퇴실</span>
                      <v-chip
                        color="#2C2F35"
                        variant="text"
                        border
                        class="ml-1"
                        style="background-color: #fff"
                      >
                        17:30
                      </v-chip>
                    </v-col>
                    <v-col cols="4" class="d-flex align-center justify-center">
                      <span class="text-caption">추가시간</span>
                      <v-chip
                        color="pink"
                        variant="text"
                        border
                        class="ml-1"
                        style="background-color: #fff"
                      >
                        00:00
                      </v-chip>
                    </v-col>
                  </v-row>
                </v-card>
                <v-card-subtitle class="d-flex justify-space-between text-high-emphasis pa-0 mt-3">
                  <strong class="text-black">카드데크</strong>
                </v-card-subtitle>
                <v-table density="comfortable" class="table-view mt-2">
                  <colgroup>
                    <col width="25%" span="4" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th>카드키 / (좌)</th>
                      <td class="text-pink">사용중</td>
                      <th>카드키 / (우)</th>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th>통신</th>
                      <td class="text-pink">단절</td>
                      <th>전원</th>
                      <td>키에 연동</td>
                    </tr>
                    <tr>
                      <th>바코드</th>
                      <td>미등록</td>
                      <th>도어키 ID</th>
                      <td>D0EFF01</td>
                    </tr>
                  </tbody>
                </v-table>
                <v-card-subtitle class="d-flex justify-space-between text-high-emphasis pa-0 mt-3">
                  <strong class="text-black">객실상세</strong>
                </v-card-subtitle>
                <v-table density="comfortable" class="table-view mt-2">
                  <colgroup>
                    <col width="19%" />
                    <col width="31%" />
                    <col width="19%" />
                    <col width="31%" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th>판매건수</th>
                      <td class="text-pink">총 2건</td>
                      <th>기본요금</th>
                      <td>50,000원</td>
                    </tr>
                    <tr>
                      <th>현금</th>
                      <td>50,000원 <span class="text-blue">(1건)</span></td>
                      <th>카드</th>
                      <td>50,000원 <span class="text-blue">(1건)</span></td>
                    </tr>
                  </tbody>
                </v-table>
                <v-table density="comfortable" class="table-view mt-2">
                  <colgroup>
                    <col width="19%" />
                    <col width="31%" />
                    <col width="19%" />
                    <col width="31%" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th>추가금액</th>
                      <td>0원</td>
                      <th>예약할인</th>
                      <td>0원</td>
                    </tr>
                    <tr>
                      <th>미수금</th>
                      <td>0원</td>
                      <th>반환금</th>
                      <td>0월</td>
                    </tr>
                  </tbody>
                </v-table>
                <v-table density="comfortable" class="table-view mt-2">
                  <colgroup>
                    <col width="19%" />
                    <col width="31%" />
                    <col width="19%" />
                    <col width="31%" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th>OTA</th>
                      <td>-</td>
                      <th>포인트</th>
                      <td>0</td>
                    </tr>
                    <tr>
                      <th>합계</th>
                      <td class="text-pink font-weight-bold">100,000원</td>
                      <th>차량번호</th>
                      <td>
                        <div class="d-flex justify-space-between align-center">
                          <span>26가 1234</span>
                          <v-checkbox
                            hide-details
                            density="compact"
                            color="#fc6060"
                            class="v-col-auto pa-0"
                          ></v-checkbox>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </v-table>
              </v-col>
            </v-row>
          </v-window-item>
          <v-window-item value="무인판매3">
            <v-row>
              <v-col cols="12">
                <v-card-subtitle class="d-flex justify-space-between text-high-emphasis pa-0">
                  <strong class="text-black">판매현황</strong>
                </v-card-subtitle>
                <v-table density="comfortable" class="table-view mt-2">
                  <colgroup>
                    <col width="10%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="15%" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th class="text-center">숙박(총 건수)</th>
                      <td>
                        <count-card
                          :width="'100%'"
                          :height="'32'"
                          :bgColor="'#5C86F1'"
                          :isVertical="true"
                          :titleHide="true"
                          :textColor="'#fff'"
                          :count="'5'"
                          class="ml-0"
                        ></count-card>
                      </td>
                      <th class="text-center">대실(총 건수)</th>
                      <td>
                        <count-card
                          :width="'100%'"
                          :height="'32'"
                          :bgColor="'#7868E5'"
                          :isVertical="true"
                          :titleHide="true"
                          :textColor="'#fff'"
                          :count="'15'"
                          class="ml-0"
                        ></count-card>
                      </td>
                      <th class="text-center">판매상태</th>
                      <td>
                        <btn-switch class="justify-center"></btn-switch>
                      </td>
                      <th class="text-center">성인인증</th>
                      <td>
                        <btn-switch class="justify-center"></btn-switch>
                      </td>
                    </tr>
                  </tbody>
                </v-table>
              </v-col>
            </v-row>
            <v-row class="mt-1">
              <v-col cols="6">
                <v-card-subtitle class="d-flex justify-space-between text-high-emphasis pa-0">
                  <strong class="text-black">전체 판매이력</strong>
                  <div class="d-flex align-center">
                    <v-checkbox
                      hide-details
                      density="default"
                      color="#fc6060"
                      label="숙박"
                      class="check-box"
                    ></v-checkbox>
                    <v-checkbox
                      hide-details
                      density="default"
                      color="#fc6060"
                      label="대실"
                      class="check-box ml-2"
                    ></v-checkbox>
                    <v-select
                      :items="items"
                      density="compact"
                      hide-details
                      single-line
                      class="select-box ml-2"
                      style="width: 80px"
                    ></v-select>
                  </div>
                </v-card-subtitle>
                <table-list
                  height="564"
                  class="th-bg mt-2"
                  style="padding: 2px; border: 1px solid #d6dbe2"
                >
                </table-list>
              </v-col>
              <v-col cols="6">
                <v-card-subtitle class="d-flex justify-space-between text-high-emphasis pa-0">
                  <strong class="text-black">객실정보</strong>
                  <div class="d-flex">
                    <v-select
                      :items="items2"
                      density="compact"
                      hide-details
                      single-line
                      class="select-box ml-2"
                      style="width: 120px"
                    ></v-select>
                  </div>
                </v-card-subtitle>
                <v-card elevation="0" border="1" color="#F2F5F8" min-height="90" class="mt-2 pa-3">
                  <v-row dense>
                    <v-col cols="4" class="d-flex align-center justify-center">
                      <span class="text-caption">호실 :</span>
                      <strong class="text-h6 font-weight-bold ml-1">306호</strong>
                    </v-col>
                    <v-col cols="4" class="d-flex align-center justify-center">
                      <span class="text-caption">객실 :</span>
                      <strong class="text-h6 font-weight-bold ml-1"> 스위트룸 </strong>
                    </v-col>
                    <v-col cols="4" class="d-flex align-center justify-center">
                      <span class="text-caption">유형 :</span>
                      <strong class="text-h6 ml-1">
                        <count-card
                          :width="'100%'"
                          :height="'24'"
                          :bgColor="'#7868E5'"
                          :isVertical="true"
                          :countHide="true"
                          :textColor="'#fff'"
                          :title="'대실'"
                          class="ml-0"
                        ></count-card>
                      </strong>
                    </v-col>
                  </v-row>
                  <v-row dense class="mt-3">
                    <v-col cols="4" class="d-flex align-center justify-center">
                      <span class="text-caption">입실</span>
                      <v-chip
                        color="#2C2F35"
                        variant="text"
                        border
                        class="ml-1"
                        style="background-color: #fff"
                      >
                        17:30
                      </v-chip>
                    </v-col>
                    <v-col cols="4" class="d-flex align-center justify-center">
                      <span class="text-caption">퇴실</span>
                      <v-chip
                        color="#2C2F35"
                        variant="text"
                        border
                        class="ml-1"
                        style="background-color: #fff"
                      >
                        17:30
                      </v-chip>
                    </v-col>
                    <v-col cols="4" class="d-flex align-center justify-center">
                      <span class="text-caption">추가시간</span>
                      <v-chip
                        color="pink"
                        variant="text"
                        border
                        class="ml-1"
                        style="background-color: #fff"
                      >
                        00:00
                      </v-chip>
                    </v-col>
                  </v-row>
                </v-card>
                <v-card-subtitle class="d-flex justify-space-between text-high-emphasis pa-0 mt-3">
                  <strong class="text-black">카드데크</strong>
                </v-card-subtitle>
                <v-table density="comfortable" class="table-view mt-2">
                  <colgroup>
                    <col width="25%" span="4" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th>카드키 / (좌)</th>
                      <td class="text-pink">사용중</td>
                      <th>카드키 / (우)</th>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th>통신</th>
                      <td class="text-pink">단절</td>
                      <th>전원</th>
                      <td>키에 연동</td>
                    </tr>
                    <tr>
                      <th>바코드</th>
                      <td>미등록</td>
                      <th>도어키 ID</th>
                      <td>D0EFF01</td>
                    </tr>
                  </tbody>
                </v-table>
                <v-card-subtitle class="d-flex justify-space-between text-high-emphasis pa-0 mt-3">
                  <strong class="text-black">객실상세</strong>
                </v-card-subtitle>
                <v-table density="comfortable" class="table-view mt-2">
                  <colgroup>
                    <col width="19%" />
                    <col width="31%" />
                    <col width="19%" />
                    <col width="31%" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th>판매건수</th>
                      <td class="text-pink">총 2건</td>
                      <th>기본요금</th>
                      <td>50,000원</td>
                    </tr>
                    <tr>
                      <th>현금</th>
                      <td>50,000원 <span class="text-blue">(1건)</span></td>
                      <th>카드</th>
                      <td>50,000원 <span class="text-blue">(1건)</span></td>
                    </tr>
                  </tbody>
                </v-table>
                <v-table density="comfortable" class="table-view mt-2">
                  <colgroup>
                    <col width="19%" />
                    <col width="31%" />
                    <col width="19%" />
                    <col width="31%" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th>추가금액</th>
                      <td>0원</td>
                      <th>예약할인</th>
                      <td>0원</td>
                    </tr>
                    <tr>
                      <th>미수금</th>
                      <td>0원</td>
                      <th>반환금</th>
                      <td>0월</td>
                    </tr>
                  </tbody>
                </v-table>
                <v-table density="comfortable" class="table-view mt-2">
                  <colgroup>
                    <col width="19%" />
                    <col width="31%" />
                    <col width="19%" />
                    <col width="31%" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th>OTA</th>
                      <td>-</td>
                      <th>포인트</th>
                      <td>0</td>
                    </tr>
                    <tr>
                      <th>합계</th>
                      <td class="text-pink font-weight-bold">100,000원</td>
                      <th>차량번호</th>
                      <td>
                        <div class="d-flex justify-space-between align-center">
                          <span>26가 1234</span>
                          <v-checkbox
                            hide-details
                            density="compact"
                            color="#fc6060"
                            class="v-col-auto pa-0"
                          ></v-checkbox>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </v-table>
              </v-col>
            </v-row>
          </v-window-item>
        </v-window>
      </v-card-text>
    </v-card>
    <div class="btn-wrap mt-7">
      <v-btn elevation="0" color="#3C4D60" text-color="#fff" width="150"> 닫기 </v-btn>
    </div>
  </v-card>
</template>

<script lang="ts">
  import { defineComponent, ref } from "vue";
  import PopupTitle from "@/components/PopupTitle.vue";
  import TabCommon from "@/components/TabCommon.vue";
  import CountCard from "@/components/CountCard.vue";
  import BtnSwitch from "@/components/BtnSwitch.vue";
  import TableList from "@/components/TableList.vue";

  export default defineComponent({
    name: "PopIsga",
    components: {
      PopupTitle,
      TabCommon,
      CountCard,
      BtnSwitch,
      TableList,
    },
    props: {},
    data() {
      return {
        tab: null,
        tabs: ["무인판매1", "무인판매2", "무인판매3"],
        items: ["층 선택"],
        items2: ["객실선택"],
      };
    },
  });
</script>

<style lang="scss" scoped>
.isga-tab-cont {
  border: 1px solid #d6dbe2;
  border-width: 0 1px 1px 1px;
  background-color: #fff;
}
</style>
