<template>
  <v-card color="#F2F5F8" class="pop-container">
    <popup-title :title="'숙박뉴스'"></popup-title>
    <search-box2 class="mt-3"></search-box2>
    <border-list2 :height="'480'" class="mt-3"></border-list2>
    <div class="btn-wrap mt-7">
      <v-btn elevation="0" color="#3C4D60" text-color="#fff" width="150">
        닫기
      </v-btn>
    </div>
  </v-card>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import PopupTitle from "@/components/PopupTitle.vue";
import SearchBox2 from "@/components/SearchBox2.vue";
import BorderList2 from "@/components/BorderList2.vue";

export default defineComponent({
  name: "PopNewsList",
  components: {
    PopupTitle,
    SearchBox2,
    BorderList2,
  },
  props: {},
  data() {
    return {};
  },
});
</script>
