<!-- @format -->

<template>
  <v-card color="#F2F5F8" class="pop-container">
    <popup-title :title="'공지사항'"></popup-title>
    <search-box2 class="mt-3"></search-box2>
    <v-card elevation="0" rounded="0" class="mt-3" color="transparent">
      <v-tabs
        v-model="tab"
        hide-slider
        grow
        density="compact"
        background-color="#F9F9F9"
        color="#FC6060"
        class="tab-box"
      >
        <v-tab value="공지">공지</v-tab>
        <v-tab value="TODO - 미션">TODO - 미션</v-tab>
      </v-tabs>

      <v-card-text class="pa-0">
        <v-window v-model="tab">
          <v-window-item value="공지">
            <border-list2 :height="'480'" style="margin-top: -1px"></border-list2>
          </v-window-item>

          <v-window-item value="TODO - 미션">
            <border-list2 :height="'480'" style="margin-top: -1px"></border-list2>
          </v-window-item>
        </v-window>
      </v-card-text>
    </v-card>
    <div class="btn-wrap mt-7">
      <v-btn elevation="0" color="#3C4D60" text-color="#fff" width="150"> 닫기 </v-btn>
    </div>
  </v-card>
</template>

<script lang="ts">
  import { defineComponent, ref } from "vue";
  import PopupTitle from "@/components/PopupTitle.vue";
  import SearchBox2 from "@/components/SearchBox2.vue";
  import BorderList2 from "@/components/BorderList2.vue";
  import TabCommon from "@/components/TabCommon.vue";

  export default defineComponent({
    name: "PopNoticeList",
    components: {
      PopupTitle,
      SearchBox2,
      BorderList2,
      TabCommon,
    },
    props: {},
    data() {
      return {
        tab: null,
      };
    },
  });
</script>
