<template>
  <v-card color="#F2F5F8" class="pop-container">
    <popup-title :title="'숙박뉴스'"></popup-title>
    <pop-view-title
      :title="'야놀자 라이브 조회수 10만 돌파'"
      :date="'12/24/10:36'"
    ></pop-view-title>
    <v-card-text class="pop-cont" style="height: 450px">
      <v-img
        src="https://www.dailygrid.net/news/photo/201911/303369_202039_3122.jpg"
        lazy-src="https://www.dailygrid.net/news/photo/201911/303369_202039_3122.jpg"
        max-width="470"
        max-height="313"
        class="mb-3"
        style="margin: 0 auto"
      ></v-img>
      여가 플랫폼 기업 야놀자의 라이브 커머스 전용 카테고리 ‘야놀자라이브’
      조회수가 10만 회를 돌파했다고 지난 12월 7일 밝혔다. 야놀자는 기술로 여행의
      모든 것을 한 번에 쉽게 해주자는 의도로 차별화된 고객 경험을 제공하고자
      야놀자라이브 를 신설했고, 이 방송에서 호텔·레저·모바일교환권 등 다양한
      여가 상품을 할인 판매하고 있다.<br />
      여가 플랫폼 기업 야놀자의 라이브 커머스 전용 카테고리 ‘야놀자라이브’
      조회수가 10만 회를 돌파했다고 지난 12월 7일 밝혔다. 야놀자는 기술로 여행의
      모든 것을 한 번에 쉽게 해주자는 의도로 차별화된 고객 경험을 제공하고자
      야놀자라이브 를 신설했고, 이 방송에서 호텔·레저·모바일교환권 등 다양한
      여가 상품을 할인 판매하고 있다.
    </v-card-text>
    <v-table density="comfortable" class="table-view mt-2">
      <colgroup>
        <col width="80px" />
        <col width="auto" />
      </colgroup>
      <tbody>
        <tr>
          <th class="text-center font-weight-light">이전글</th>
          <td>
            <div class="txt-ellipsis justify-space-between">
              <a class="txt btn-link"
                >여기어때, 총 72명에게 '괌' 여행 티켓 쏜다.</a
              >
              <span class="text-grey-darken-1 font-weight-light"
                >12/24/10:36</span
              >
            </div>
          </td>
        </tr>
        <tr>
          <th class="text-center font-weight-light">다음글</th>
          <td>
            <div class="txt-ellipsis justify-space-between">
              <a class="txt btn-link"
                >미성년 혼숙 사실, 미필적 용인 여부가 처벌 대상</a
              >
              <span class="text-grey-darken-1 font-weight-light"
                >12/24/10:36</span
              >
            </div>
          </td>
        </tr>
      </tbody>
    </v-table>
    <div class="btn-wrap mt-3">
      <v-btn elevation="0" color="#FC6060" text-color="#fff" width="150">
        목록
      </v-btn>
      <v-btn elevation="0" color="#3C4D60" text-color="#fff" width="150">
        닫기
      </v-btn>
    </div>
  </v-card>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import PopupTitle from '@/components/PopupTitle.vue';
import PopViewTitle from './PopViewTitle.vue';

export default defineComponent({
  name: 'PopNewsView',
  components: {
    PopupTitle,
    PopViewTitle,
  },
  props: {},
  data() {
    return {};
  },
});
</script>
