<template>
  <v-card color="#F2F5F8" class="pop-container">
    <popup-title :title="'예약현황'"></popup-title>
    <v-row dense>
      <v-col cols="7">
        <v-card
          elevation="0"
          class="content-card d-flex flex-column"
          height="280"
        >
          <cardbox-Top
            :title="'일별 예약현황'"
            :btntoggle="true"
            linkhide="true"
            class="bg-grey-lighten-3"
          ></cardbox-Top>
          <div class="content-box">
            <div
              style="background: rgba(0, 0, 0, 0.3); width: 100%; height: 190px"
            ></div>
            <tooltip-graph></tooltip-graph>
            <v-list
              density="compact"
              color="transparent"
              class="list-amount justify-center"
            >
              <v-list-item density="compact" min-height="auto">
                <span class="ico-dot mr-1"></span>
                <span class="text-body-2 mr-1">오늘 총 건수 :</span>
                <strong class="text-blue">64</strong>
                <span class="text-body-2">건</span>
              </v-list-item>
            </v-list>
          </div>
        </v-card>
      </v-col>
      <v-col cols="5">
        <v-card
          elevation="0"
          class="content-card d-flex flex-column"
          height="280"
        >
          <cardbox-Top
            :title="'매출현황'"
            linkhide="true"
            style="border-bottom: none"
          ></cardbox-Top>
          <v-list
            density="compact"
            color="transparent"
            class="list-amount justify-center pt-1"
          >
            <v-list-item density="compact" min-height="auto" class="pr-0">
              <span class="ico-dot mr-1"></span>
              <span class="text-body-2 mr-1">오늘 :</span>
              <strong class="text-pink font-num" style="margin-top: -3px">
                12,000,000
              </strong>
              <span class="text-body-2">원</span>
            </v-list-item>
            <v-list-item density="compact" min-height="auto">
              <span class="ico-dot mr-1"></span>
              <span class="text-body-2 mr-1">어제 :</span>
              <strong class="text-blue font-num" style="margin-top: -3px">
                12,000,000
              </strong>
              <span class="text-body-2">개</span>
            </v-list-item>
          </v-list>
          <total-amount
            :title="'총 매출'"
            :amount="'1,560,000'"
            :unit="'원'"
            class="mx-3 mt-1"
          ></total-amount>
          <cardbox-Top
            :title="'전체현황'"
            linkhide="true"
            style="border-bottom: none"
            class="mt-5"
          ></cardbox-Top>
          <v-row no-gutters justify="center" class="ml-2 mr-3">
            <v-col cols="4">
              <count-card
                :title="'신규'"
                :width="'auto'"
                :height="'56'"
                :bgColor="'#EFF2F4'"
                :titColor="'#2C2F35'"
                :textColor="'#017ACD'"
                :count="'5'"
              ></count-card>
            </v-col>
            <v-col cols="4">
              <count-card
                :title="'처리'"
                :width="'auto'"
                :height="'56'"
                :bgColor="'#EFF2F4'"
                :titColor="'#2C2F35'"
                :textColor="'#017ACD'"
                :count="'13'"
              ></count-card>
            </v-col>
            <v-col cols="4">
              <count-card
                :title="'취소'"
                :width="'auto'"
                :height="'56'"
                :bgColor="'#EFF2F4'"
                :titColor="'#2C2F35'"
                :textColor="'#017ACD'"
                :count="'8'"
              ></count-card>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    <v-row dense>
      <v-col cols="7">
        <v-card
          elevation="0"
          class="content-card d-flex flex-column"
          height="280"
        >
          <cardbox-Top
            :title="'APP 통계'"
            :linkhide="true"
            :radiobox="true"
          ></cardbox-Top>
          <div class="content-box">
            <v-toolbar
              color="#D3D9E0"
              height="30"
              border="0"
              tag="div"
              class="justify-space-between pa-0"
            >
              <v-btn icon="fa fa-angle-left" rounded="0" size="small"></v-btn>
              <v-spacer></v-spacer>
              <span>2주</span>
              <v-spacer></v-spacer>
              <v-btn icon="fa fa-angle-right" rounded="0" size="small"></v-btn>
            </v-toolbar>
            <div class="d-flex justify-end align-center text-caption">
              <span class="mr-3">총 건수 : <strong>78</strong>개</span>
              <v-list density="compact" class="d-flex">
                <v-list-item density="compact" min-height="auto" class="px-0">
                  <span class="ico-dot mr-1 bg-pink-accent-3"></span>
                  <span>오늘</span>
                </v-list-item>
                <v-list-item density="compact" min-height="auto" class="pl-2">
                  <span class="ico-dot mr-1 bg-light-blue"></span>
                  <span>어제</span>
                </v-list-item>
              </v-list>
            </div>
            <div class="box-graph">
              <div
                style="
                  background: rgba(0, 0, 0, 0.3);
                  width: calc(100% - 24px);
                  height: 159px;
                  margin-left: 12px;
                "
              >
                <tooltip-count
                  :text="'78건'"
                  style="left: 50px; top: 50px"
                ></tooltip-count>
              </div>
            </div>
          </div>
        </v-card>
      </v-col>
      <v-col cols="5">
        <v-card
          elevation="0"
          class="content-card d-flex flex-column"
          height="280"
        >
          <cardbox-Top
            :title="'예약현황'"
            :checkGroup="true"
            linkhide="true"
            style="background-color: #3c4d60; color: #fff"
          ></cardbox-Top>
          <v-list class="px-3 pt-1">
            <v-list-item
              min-height="38"
              density="compact"
              class="bg-grey-lighten-3 rounded-lg flex-column my-2 px-0"
            >
              <v-row class="text-body-2 align-center" style="width: 100%">
                <v-col class="text-blue v-col-auto" style="width: 85px">
                  숙박앱
                </v-col>
                <v-divider vertical color="#EFF2F4" class="my-4"></v-divider>
                <v-col cols="2" class="text-center">숙박</v-col>
                <v-divider vertical color="#EFF2F4" class="my-4"></v-divider>
                <v-col class="text-center">203호 / 스위트룸</v-col>
                <v-divider vertical color="#EFF2F4" class="my-4"></v-divider>
                <v-col cols="3" class="text-center text-grey">22-12-24</v-col>
              </v-row>
            </v-list-item>
            <v-list-item
              min-height="38"
              density="compact"
              class="bg-grey-lighten-3 rounded-lg flex-column my-2 px-0"
            >
              <v-row class="text-body-2 align-center" style="width: 100%">
                <v-col class="text-blue v-col-auto" style="width: 85px">
                  야놀자
                </v-col>
                <v-divider vertical color="#EFF2F4" class="my-4"></v-divider>
                <v-col cols="2" class="text-center">대실</v-col>
                <v-divider vertical color="#EFF2F4" class="my-4"></v-divider>
                <v-col class="text-center">306호 / 일반룸</v-col>
                <v-divider vertical color="#EFF2F4" class="my-4"></v-divider>
                <v-col cols="3" class="text-center text-grey">22-12-24</v-col>
              </v-row>
              <v-row class="text-caption pt-1" style="width: 100%">
                <v-col class="v-col-auto" style="width: 85px">
                  <span class="ico-round">고객메모</span>
                </v-col>
                <v-divider vertical color="#EFF2F4" class="my-4"></v-divider>
                <v-col class="text-pink">
                  PC 사용하려고 하는데 와이파이 가능한가요?
                </v-col>
              </v-row>
            </v-list-item>
            <v-list-item
              min-height="38"
              density="compact"
              class="bg-grey-lighten-3 rounded-lg flex-column my-2 px-0"
            >
              <v-row class="text-body-2 align-center" style="width: 100%">
                <v-col class="text-blue v-col-auto" style="width: 85px">
                  여기어때
                </v-col>
                <v-divider vertical color="#EFF2F4" class="my-4"></v-divider>
                <v-col cols="2" class="text-center">숙박</v-col>
                <v-divider vertical color="#EFF2F4" class="my-4"></v-divider>
                <v-col class="text-center">203호 / VIP룸</v-col>
                <v-divider vertical color="#EFF2F4" class="my-4"></v-divider>
                <v-col cols="3" class="text-center text-grey">22-12-24</v-col>
              </v-row>
            </v-list-item>
            <v-list-item
              min-height="38"
              density="compact"
              class="bg-grey-lighten-3 rounded-lg flex-column my-2 px-0"
            >
              <v-row class="text-body-2 align-center" style="width: 100%">
                <v-col class="text-blue v-col-auto" style="width: 85px">
                  네이버
                </v-col>
                <v-divider vertical color="#EFF2F4" class="my-4"></v-divider>
                <v-col cols="2" class="text-center">숙박</v-col>
                <v-divider vertical color="#EFF2F4" class="my-4"></v-divider>
                <v-col class="text-center">203호 / 스위트룸</v-col>
                <v-divider vertical color="#EFF2F4" class="my-4"></v-divider>
                <v-col cols="3" class="text-center text-grey">22-12-24</v-col>
              </v-row>
            </v-list-item>
            <v-list-item
              min-height="38"
              density="compact"
              class="bg-grey-lighten-3 rounded-lg flex-column my-2 px-0"
            >
              <v-row class="text-body-2 align-center" style="width: 100%">
                <v-col class="text-blue v-col-auto" style="width: 85px">
                  기타
                </v-col>
                <v-divider vertical color="#EFF2F4" class="my-4"></v-divider>
                <v-col cols="2" class="text-center">숙박</v-col>
                <v-divider vertical color="#EFF2F4" class="my-4"></v-divider>
                <v-col class="text-center">203호 / 스위트룸</v-col>
                <v-divider vertical color="#EFF2F4" class="my-4"></v-divider>
                <v-col cols="3" class="text-center text-grey">22-12-24</v-col>
              </v-row>
            </v-list-item>
          </v-list>
        </v-card>
      </v-col>
    </v-row>
    <div class="btn-wrap mt-7">
      <v-btn elevation="0" color="#3C4D60" text-color="#fff" width="150">
        닫기
      </v-btn>
    </div>
  </v-card>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import PopupTitle from '@/components/PopupTitle.vue';
import TooltipGraph from '@/components/TooltipGraph.vue';
import TotalAmount from '@/components/TotalAmount.vue';
import CountCard from '@/components/CountCard.vue';
import TooltipCount from '@/components/TooltipCount.vue';
import CardboxTop from '../widget/CardboxTop.vue';

export default defineComponent({
  name: 'PopReservation',
  components: {
    PopupTitle,
    CardboxTop,
    TooltipGraph,
    TotalAmount,
    TooltipCount,
    CountCard,
  },
  props: {},
  data() {
    return {};
  },
});
</script>
