<template>
  <v-card color="#F2F5F8" class="pop-container">
    <popup-title :title="'구독현황 보기'"></popup-title>
    <pop-view-title :title="'체큐인 매니저 2.01 업데이트 안내입니다.'" :date="'12/24/10:36'"></pop-view-title>
    <v-card-text class="pop-cont" style="height: 450px">
      체규인 매니저 2.00에서 2.01로 업데이트 되었습니다.<br>
      업데이트 미적용 시 체규인매너저 프로그램을 재 실행해 주시면 신규 버전으로 자동 업데이트 됩니다.<br><br><br>
      *업데이트 상세내용<br>
      - 도어키 오류 수정<br>
      - 문 열림,닫힘 딜레이 수정<br>
      - 기타 보안 업데이트 및 버그 수정<br>
    </v-card-text>
    <v-table density="comfortable" class="table-view mt-2">
      <colgroup>
        <col width="80px" />
        <col width="auto" />
      </colgroup>
      <tbody>
        <tr>
          <th class="text-center font-weight-light">이전글</th>
          <td>
            <div class="txt-ellipsis justify-space-between">
              <a class="txt btn-link">구독중인 게시글이 표시됩니다.</a>
              <span class="text-grey-darken-1 font-weight-light">12/24/10:36</span>
            </div>
          </td>
        </tr>
        <tr>
          <th class="text-center font-weight-light">다음글</th>
          <td>
            <div class="txt-ellipsis justify-space-between">
              <a class="txt btn-link">구독중인 게시글이 표시됩니다.</a>
              <span class="text-grey-darken-1 font-weight-light">12/24/10:36</span>
            </div>
          </td>
        </tr>
      </tbody>
    </v-table>
    <div class="btn-wrap mt-3">
      <v-btn elevation="0" color="#FC6060" text-color="#fff" width="150">
        목록
      </v-btn>
      <v-btn elevation="0" color="#3C4D60" text-color="#fff" width="150">
        닫기
      </v-btn>
    </div>
  </v-card>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import PopupTitle from "@/components/PopupTitle.vue";
import PopViewTitle from "./PopViewTitle.vue";

export default defineComponent({
  name: "PopSubscribeView",
  components: {
    PopupTitle,
    PopViewTitle,
  },
  props: {},
  data() {
    return {};
  },
});
</script>
