<template>
  <v-card-subtitle class="view-title">
    <strong class="text-subtitle-1">{{ title }}</strong>
    <span class="text-caption">{{ date }}</span>
  </v-card-subtitle>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "PopViewTitle",
  components: {},
  props: {
    title: {
      type: String,
    },
    date: {
      type: String,
    }
  },
  data() {
    return {};
  },
});
</script>

<style lang="scss" scoped>
.view-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin: 0.65rem 0;
  background-color: #304153;
  color: #fff;
  opacity: 1;
  border-radius: 0.3rem;
}
</style>