<template>
  <!-- popup -->
  <Popup :popup="popup">
    <!-- slot -->
    <template v-slot:body>
      <!-- tabs -->
      <v-item-group v-model="state.setting" class="tabs">
        <div v-for="item in Object.keys(Parts)" :key="item" :value="item">
          <v-btn
            v-if="item == 'SUBSCRIBE'"
            color="white"
            style="width: 80px; height: 76px !important; position: absolute"
            @click="toggle(item)"
            :class="state.setting === item ? 'active' : ''"
          >
            {{ Parts[item] }}
          </v-btn>
          <v-btn
            v-else
            color="white"
            @click="toggle(item)"
            :class="state.setting === item ? 'active' : ''"
          >
            {{ Parts[item] }}
          </v-btn>
        </div>
      </v-item-group>
      <!-- //tabs -->
      <!-- popup-contents -->
      <div class="popup-contents" v-if="state.setting === PartKeys.CHARGE">
        <SetCharge ref="settingCharge"></SetCharge>
      </div>
      <div class="popup-contents" v-if="state.setting === PartKeys.OPERATION">
        <SetOperation ref="settingOperation"></SetOperation>
      </div>
      <div class="popup-contents" v-if="state.setting === PartKeys.TIME_OPTION">
        <OptionEntrance
          ref="settingTimeOption"
          v-model:action="action"
        ></OptionEntrance>
      </div>
      <div class="popup-contents" v-if="state.setting === PartKeys.UNMANNED">
        <SetUnmanned ref="settingUnmanned"></SetUnmanned>
      </div>
      <div class="popup-contents" v-if="state.setting === PartKeys.RESERVATION">
        <SetReservation ref="settingReservation"></SetReservation>
      </div>
      <div class="popup-contents" v-if="state.setting === PartKeys.POINT">
        <SetPoint ref="settingPoint"></SetPoint>
      </div>
      <div class="popup-contents" v-if="state.setting === PartKeys.LOCK">
        <SetLock ref="settingLock"></SetLock>
      </div>
      <div class="popup-contents" v-if="state.setting === PartKeys.AIR">
        <SetAir ref="settingAir"></SetAir>
      </div>
      <div class="popup-contents" v-if="state.setting === PartKeys.SUBSCRIBE">
        <SetSubscribe
          ref="settingSubscribe"
          v-model:action="action"
        ></SetSubscribe>
      </div>
      <div class="popup-contents" v-if="state.setting === PartKeys.VIEW">
        <SetView ref="settingView"></SetView>
      </div>
      <div class="popup-contents" v-if="state.setting === PartKeys.VOICE">
        <SetVoice ref="settingVoice"></SetVoice>
      </div>
      <div class="popup-contents" v-if="state.setting === PartKeys.POWER">
        <SetPower ref="settingPower"></SetPower>
      </div>
      <div class="popup-contents" v-if="state.setting === PartKeys.ALARM">
        <SetAlarm ref="settingAlarm"></SetAlarm>
      </div>
      <div class="popup-contents" v-if="state.setting === PartKeys.PMS">
        <SetPms ref="settingPms"></SetPms>
      </div>
      <div class="popup-contents" v-if="state.setting === PartKeys.DOOR">
        <SetDoor ref="settingDoor"></SetDoor>
      </div>
      <div class="popup-contents" v-if="state.setting === PartKeys.DATA">
        <SetData ref="settingData"></SetData>
      </div>
      <div class="popup-contents" v-if="state.setting === PartKeys.EMPLOYEE">
        <SetEmployee
          ref="settingEmployee"
          v-model:action="action"
        ></SetEmployee>
      </div>
      <!-- //popup-contents -->
    </template>
    <!-- //slot -->
    <!-- footer slot -->
    <template v-slot:footer>
      <div class="popup-footer">
        <slot name="footer">
          <div class="btns">
            <!-- 구독관리는 "닫기" 만? -->
            <v-btn
              color="secondary"
              variant="tonal"
              size="large"
              style="min-width: 150px"
              @click="doInitData()"
              >초기화</v-btn
            >
            <v-btn
              color="darkgrey"
              size="large"
              style="min-width: 150px"
              @click="doClosePopup()"
              >닫기</v-btn
            >
            <v-btn
              v-if="showSave"
              :disabled="!hasLevel || action.disabled"
              color="primary"
              size="large"
              style="min-width: 150px"
              @click="doUpdateSetting()"
              >{{ action.name }}</v-btn
            >
          </div>
        </slot>
      </div>
    </template>
    <!-- //footer slot -->
  </Popup>
  <!-- //popup -->
</template>

<style lang="scss"></style>

<script setup lang="ts">
import Popup from '@/components/popup/popup.vue';
import SetCharge from './SetCharge.vue';
import SetOperation from './SetOperation.vue';
import OptionEntrance from './OptionEntrance.vue';
import SetUnmanned from './SetUnmanned.vue';
import SetReservation from './SetReservation.vue';
import SetPoint from './SetPoint.vue';
import SetLock from './SetLock.vue';
import SetAir from './SetAir.vue';
import SetSubscribe from './SetSubscribe.vue';
import SetView from './SetView.vue';
import SetVoice from './SetVoice.vue';
import SetPower from './SetPower.vue';
import SetAlarm from './SetAlarm.vue';
import SetPms from './SetPms.vue';
import SetDoor from './SetDoor.vue';
import SetData from './SetData.vue';
import SetEmployee from './SetEmployee.vue';

import { reactive, onMounted, ref, Ref } from 'vue';
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import { preferencesBiz } from '@/biz/preferencesBiz';
import { computed } from 'vue';

// =========================================================
// 타입
// =========================================================
interface SetComponent {
  initData: Function;
  doUpdateSetting: Function;
}

interface Action {
  name: string;
  disabled: boolean;
}

// =========================================================
// 선언
// =========================================================
// props.
const props = defineProps(['part']);

const store = useStore();
const route = useRoute();

const user = store.getters['user'];
const popupLink = route.path.substring(1); // 앞에 '/'' 제거

// state.
const state = reactive({
  setting: '',
});

// component ref.
const settingData = ref<SetComponent>(null);
const settingLock = ref<SetComponent>(null);
const settingPower = ref<SetComponent>(null);
const settingReservation = ref<SetComponent>(null);
const settingAir = ref<SetComponent>(null);
const settingAlarm = ref<SetComponent>(null);
const settingCharge = ref<SetComponent>(null);
const settingPoint = ref<SetComponent>(null);
const settingUnmanned = ref<SetComponent>(null);
const settingOperation = ref<SetComponent>(null);
const settingView = ref<SetComponent>(null);
const settingTimeOption = ref<SetComponent>(null);
const settingEmployee = ref<SetComponent>(null);

const settingSubscribe = ref<SetComponent>(null);
const settingVoice = ref<SetComponent>(null);

const settingPms = ref<SetComponent>(null); // TODO: 기존 이글에 없음. 확인.
const settingDoor = ref<SetComponent>(null);

// setting.
state.setting = props.part.toString().toUpperCase();

// action.
const action: Action = reactive({
  name: '저장',
  disabled: false,
});

// =========================================================
// 초기 조회
// =========================================================

// =========================================================
// COMPUTED
// =========================================================
const hasLevel = computed<boolean>(() => user.level <= 2);

const currentSetting = computed<SetComponent>(() => {
  if (state.setting === PartKeys.CHARGE) return settingCharge.value;
  else if (state.setting === PartKeys.OPERATION) return settingOperation.value;
  else if (state.setting === PartKeys.TIME_OPTION)
    return settingTimeOption.value;
  else if (state.setting === PartKeys.UNMANNED) return settingUnmanned.value;
  else if (state.setting === PartKeys.RESERVATION)
    return settingReservation.value;
  else if (state.setting === PartKeys.POINT) return settingPoint.value;
  else if (state.setting === PartKeys.LOCK) return settingLock.value;
  else if (state.setting === PartKeys.AIR) return settingAir.value;
  else if (state.setting === PartKeys.SUBSCRIBE) return settingSubscribe.value;
  else if (state.setting === PartKeys.VIEW) return settingView.value;
  else if (state.setting === PartKeys.VOICE) return settingVoice.value;
  else if (state.setting === PartKeys.POWER) return settingPower.value;
  else if (state.setting === PartKeys.ALARM) return settingAlarm.value;
  else if (state.setting === PartKeys.PMS) return settingPms.value;
  else if (state.setting === PartKeys.DOOR) return settingDoor.value;
  else if (state.setting === PartKeys.DATA) return settingData.value;
  else if (state.setting === PartKeys.EMPLOYEE) return settingEmployee.value;
  else {
    state.setting = PartKeys.CHARGE;
    return settingCharge.value;
  }
});

const showSave = computed<boolean>(() => {
  // if (state.setting !== PartKeys.TIME_OPTION) return true;
  return true;
});

// =========================================================
// WATCH
// =========================================================

// =========================================================
// 기능
// =========================================================

// =========================================================
// 사용자 액션
// =========================================================
// toggle.
const toggle = (val: string) => {
  state.setting = val;
  if (
    state.setting === PartKeys.TIME_OPTION ||
    state.setting === PartKeys.EMPLOYEE
  ) {
    action.name = '수정';
    action.disabled = true;
  }
  // else if (state.setting === PartKeys.SUBSCRIBE) {
  //   action.name = '구독 신청';
  //   action.disabled = true;
  // }
  else {
    action.name = '저장';
    action.disabled = false;
  }
};

// 초기 조회.
const initData = async () => {
  await preferencesBiz.preference(store, user.place_id);
};

const doInitData = () => {
  const setting = currentSetting.value;
  setting.initData();
};

// 창 닫기.
const doClosePopup = () => {
  window.opener.closePopup(popupLink);
};

const doUpdateSetting = async () => {
  console.log(`*** doUpdateSetting - state.setting: ${state.setting}`);
  const setting = currentSetting.value;
  await setting.doUpdateSetting();
};

// =========================================================
// 정보 & onMounted
// =========================================================
// onMounted.
onMounted(() => {
  (async () => {
    await initData();
  })();
});

// Parts.
const Parts = {
  CHARGE: '요금설정',
  OPERATION: '운영규칙 설정',
  TIME_OPTION: '입실시간 옵션',
  UNMANNED: '무인판매 설정',
  RESERVATION: '예약설정',
  POINT: '포인트 설정',
  LOCK: '잠금설정',
  AIR: '냉/난방 설정',
  SUBSCRIBE: '구독관리',
  VIEW: '화면설정',
  VOICE: '음성설정',
  POWER: '전원설정',
  ALARM: '알림설정',
  PMS: 'PMS 설정',
  DOOR: '도어락 설정',
  DATA: '데이터 관리',
  EMPLOYEE: '직원관리',
};

// PartKeys.
enum PartKeys {
  CHARGE = 'CHARGE',
  OPERATION = 'OPERATION',
  TIME_OPTION = 'TIME_OPTION',
  UNMANNED = 'UNMANNED',
  RESERVATION = 'RESERVATION',
  POINT = 'POINT',
  LOCK = 'LOCK',
  AIR = 'AIR',
  SUBSCRIBE = 'SUBSCRIBE',
  VIEW = 'VIEW',
  VOICE = 'VOICE',
  POWER = 'POWER',
  ALARM = 'ALARM',
  PMS = 'PMS',
  DOOR = 'DOOR',
  DATA = 'DATA',
  EMPLOYEE = 'EMPLOYEE',
}

const popup = {
  title: '환경설정',
  theme: 'theme-popup-dark',
  size: 'size-md',
  align: 'mx-auto',
  pin: false,
  link: popupLink,
};
</script>
