<template>
  <!-- field-set -->
  <fieldset class="field-set">
    <h3 class="field-title mb-2">입실 시간 옵션 ({{ timeOptions ? timeOptions.length : 0 }}건)</h3>
    <!-- table -->
    <v-table fixed-header :height="250" :hover="true"  class="overflow-y-auto text-center dense-dark mt-2">
      <colgroup>
        <col />
        <col />
      </colgroup>
      <thead>
        <tr>
          <th style="width: 45px;">No</th>
          <th>옵션명</th>
          <th>타입</th>
          <th>시작</th>
          <th>종료</th>
          <th>적용시간</th>
          <th>추가/할인</th>
          <th>객실타입</th>
          <th>무인</th>
          <th v-if="hasLevel">삭제</th>
        </tr>
      </thead>
      <tbody>

        <tr v-for="item, index in timeOptions" :class="{ active: isActiveRow(index)}" @click="doClickRow(index)">
          <td>{{ index + 1  }}</td>
          <td>{{ item.name }}</td>
          <td>{{ viewUtil.keyText('room_sale', 'stay_type', item.stay_type) }}</td>
          <td>{{ item.begin }}</td>
          <td>{{ item.end }}</td>
          <td :class="item.use_time_type === 1 ? 'color-pink' : 'color-aqua'">{{ item.use_time }}{{ item.use_time_type === 1 ? '시간 이용' : '시에 퇴실' }}</td>
          <td :class="item.add_fee > 0 ? 'color-secondary' : item.add_fee < 0 ? 'color-primary' : 'black'">{{ viewUtil.commaWon(item.add_fee) }}</td>
          <td>{{ roomTypeNames(item.room_types) }}</td>
          <td>{{ item.sale_isc === 1 ? '금지' : '판매' }}</td>
          <td v-if="hasLevel">
            <v-btn :color="isActiveRow(index) ? 'secondary' : 'grey'" size="small" style="min-width: 50px; height: 20px;"
              :disabled="!isActiveRow(index)"
              @click="doDelItem(item, $event)"
            >삭제</v-btn>
          </td>
        </tr>

      </tbody>
    </v-table>
    <!-- //table -->
  </fieldset>

  <fieldset class="field-set">
    <div class="d-flex justify-space-between">
      <div>
        <h3 class="field-title mb-2">옵션 시간 추가/변경<span class="color-secondary ml-2">* [옵션시작] ~ [옵션종료] 시간내에만 옵션 적용이
          가능합니다.</span></h3>
      </div>
      <v-btn class="mb-2 pr-3" variant="outlined"
        :color="viewState.isNewReady ? 'secondary' : 'grey'"
        :prepend-icon="viewState.isNewReady ? 'mdi-checkbox-marked-outline' : 'mdi-plus-thick'"
        size="small" style="width: 80px;"
        @click="doNewReady(!viewState.isNewReady)"
      >
        <template v-slot:prepend>
          <v-icon class="pa-0 ma-0 pl-2"></v-icon>
        </template>
        신규추가
      </v-btn>
    </div>
    <v-table>
      <colgroup>
        <col width="12%" />
        <col width="37%" />
        <col width="12%" />
        <col  />
      </colgroup>
      <tbody>
        <tr>
          <th class="text-center">옵션명</th>
          <td>
            <input v-model="dataState.name" type="text" class="input" 
              :disabled="isDisabled" />
          </td>
          <th class="text-center">투숙형태</th>
          <td>
            <v-select :items="StayTypes" density="compact" item-value="value" item-title="text" 
              v-model="dataState.stay_type"
              class="custom-select" hide-details
              :disabled="isDisabled"
              :style="{ backgroundColor: isDisabled ? '#f9f9f9' : '' }"
            ></v-select>
          </td>
        </tr>
        <tr>
          <th class="text-center">옵션시작</th>
          <td>
            <div class="input-counter" style="width: 140px">
              <NumberInput
                v-model="dataState.begin"
                :up-down-config="hour24Config"
                :init-value="rowData?.begin"
                :disabled="isDisabled"
                unit="시"
              ></NumberInput>
            </div>
          </td>
          <th class="text-center">옵션종료</th>
          <td>
            <div class="input-counter" style="width: 140px">
              <NumberInput
                v-model="dataState.end"
                :up-down-config="hour24Config"
                :init-value="rowData?.end"
                :disabled="isDisabled"
                unit="시"
              ></NumberInput>
            </div>
          </td>
        </tr>
        <tr>
          <th class="text-center">적용기준</th>
          <td>
            <v-radio-group v-model="dataState.use_time_type" hide-details density="compact" inline
              :disabled="isDisabled"
            >
              <v-radio color="secondary" label="이용시간 기준" :value="1"></v-radio>
              <v-radio color="secondary" label="퇴실시간 기준" :value="2"></v-radio>
            </v-radio-group>
          </td>
          <th class="text-center">{{ dataState.use_time_type === 1 ? '이용시간' : '퇴실시간' }}</th>
          <td>
            <div class="input-counter" style="width: 140px">
              <NumberInput
                v-model="dataState.use_time"
                :up-down-config="hour24Config"
                :init-value="rowData?.use_time"
                :disabled="isDisabled"
                :unit="dataState.use_time_type === 1 ? '시간 이용' : '시에 퇴실'"
              ></NumberInput>
            </div>
          </td>
        </tr>
        <tr>
          <th class="text-center">추가/할인</th>
          <td>
            <div class="input-counter" style="width: 140px">
              <NumberInput
                v-model="dataState.add_fee"
                :up-down-config="addFeeConfig"
                :init-value="rowData?.add_fee ? rowData.add_fee : 0"
                :disabled="isDisabled"
                :fmt-comma="true"
                unit="원"
              ></NumberInput>
            </div>
          </td>
          <th class="text-center">무인판매</th>
          <td>
            <v-radio-group v-model="dataState.sale_isc" hide-details density="compact" inline
              :disabled="isDisabled"
            >
              <v-radio color="secondary" label="사용" :value="0"></v-radio>
              <v-radio color="secondary" label="사용안함" :value="1"></v-radio>
            </v-radio-group>
          </td>
        </tr>
        <tr>
          <th class="text-center">적용 객실타입</th>
          <td colspan="3">
            <div class="d-flex">
              <div class="d-flex">
                <v-checkbox v-for="item in roomTypes" class="mr-3" hide-details density="compact" color="secondary"
                  v-model="dataState.room_type_ids"
                  :label="item.name"
                  :value="item.id"
                  :disabled="isDisabled"
                ></v-checkbox>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </v-table>
  </fieldset>
  <!-- //field-set -->
</template>

<script setup lang="ts">
import NumberInput from '@/components/compo/NumberInput.vue';
import dayjs from 'dayjs';
import { reactive, computed, onMounted } from 'vue'
import { useStore } from 'vuex';
import { RoomType, TimeOption, CudResult } from '@/types';
import { roomTypeBiz } from '@/biz/roomTypeBiz';
import { timeOptionBiz } from '@/biz/timeOptionBiz';
import { viewUtil, UpDownConfigClass } from '@/utils/view-util';


// =========================================================
// 타입
// =========================================================
interface ViewState {
  isNewReady: boolean;
  rowIndex: number;
}


// =========================================================
// 선언
// =========================================================
// props.
const props = defineProps(["action"]);

// emit.
const emit = defineEmits(['update:action']);

// store, user.
const store = useStore();
const user = store.getters['user'];

// dataState.
const dataState = reactive<TimeOption>({
  id: null,
  place_id: null,
  name: null,
  stay_type: null,
  begin: 12,
  end: 12,
  use_time: 0,
  use_time_type: null,
  add_fee: 0,
  room_types: '',
  sale_isc: null,
  room_type_ids: [],
});

const viewState = reactive<ViewState>({
  isNewReady: false,
  rowIndex: null,
});

// upDownConfig.
const hour24Config = new UpDownConfigClass(0, 24, 1);
const addFeeConfig = new UpDownConfigClass(null, null, 1000);


// =========================================================
// 초기 조회
// =========================================================
const init = async () => {
  await roomTypeBiz.roomTypes(store, user.place_id);
  await timeOptionBiz.timeOptions(store, user.place_id);
};


// =========================================================
// COMPUTED
// =========================================================
const timeOptions = computed<TimeOption[]>(() => timeOptionBiz.getterTimeOptions(store));

const rowData = computed<TimeOption>(() => {
  if (viewState.rowIndex !== null) {
    return timeOptions.value[viewState.rowIndex];
  }
  return null;
});

const roomTypes = computed<RoomType[]>(() => roomTypeBiz.getterRoomTypes(store));

const hasLevel = computed<boolean>(() => user.level <= 2);

const isDisabled = computed<boolean>(() => {
  if (viewState.isNewReady) return false;
  return viewState.rowIndex === null;
});


// =========================================================
// WATCH
// =========================================================

// =========================================================
// 기능
// =========================================================
const initData = () => {
  viewState.isNewReady = false;
  if (viewState.rowIndex !== null) {    
    const rowData = timeOptions.value[viewState.rowIndex];
  
    dataState.id = rowData.id;
    dataState.place_id = rowData.place_id;
    dataState.name = rowData.name;
    dataState.stay_type = rowData.stay_type;
    dataState.begin = rowData.begin;
    dataState.end = rowData.end;
    dataState.use_time = rowData.use_time;
    dataState.use_time_type = rowData.use_time_type;
    dataState.add_fee = rowData.add_fee;
    dataState.room_types = rowData.room_types;
    dataState.sale_isc = rowData.sale_isc;
    dataState.room_type_ids = rowData.room_types.split(',').map((item: string) => Number(item));
  }
  else {
    resetState();
  }
};

const resetState = () => {
  dataState.id = null;
  dataState.place_id = null;
  dataState.name = null;
  dataState.stay_type = null;
  dataState.begin = 12;
  dataState.end = 12;
  dataState.use_time = 0;
  dataState.use_time_type = null;
  dataState.add_fee = 0;
  dataState.room_types = '';
  dataState.sale_isc = null;
  dataState.room_type_ids = [];
};

const roomTypeNames = (ids: string): string => {
  const types = [];
  const typeIds = ids.split(',');
  typeIds.forEach((sId: string) => {
    const roomType = roomTypes.value.find((item: RoomType) => item.id === Number(sId));
    if (roomType) {
      types.push(roomType.name);
    }
  });
  return types.join(', ').trim();
};

const isActiveRow = (rowIndex: number): boolean => {
  return viewState.rowIndex === rowIndex;
};


// =========================================================
// 사용자 액션
// =========================================================
// 신규 선택.
const doNewReady = (value: boolean) => {
  viewState.isNewReady = value;
  if (viewState.isNewReady) {
    viewState.rowIndex = null;
    resetState();
    props.action.name = '추가';
    props.action.disabled = false;
  } else {
    props.action.name = '수정';
    props.action.disabled = true;
  }
  emit("update:action", props.action);
};

// 행 선택.
const doClickRow = (rowIndex: number) => {
  if (viewState.isNewReady) {
    return;
  }

  if (viewState.rowIndex !== rowIndex) {
    viewState.rowIndex = rowIndex;
    viewState.isNewReady = false;
    props.action.disabled = false;
  } else {
    viewState.rowIndex = null;
    props.action.disabled = true;
  }
  initData();

  props.action.name = '수정';
  emit("update:action", props.action);
};


// 액션.
const doUpdateSetting = async () => {
  if (viewState.isNewReady) {
    await doNewItem();
  } else if (viewState.rowIndex !== null) {
    await doSetItem();
  }
};

// 추가.
const doNewItem = async () => {
  dataState.place_id = user.place_id;
  dataState.room_types = dataState.room_type_ids.join(',');

  const sendData = {
    ...dataState,
  };

  await timeOptionBiz.newTimeOption(store, sendData, (cudResult: CudResult<TimeOption>) => {
    if (cudResult.success) {
      initData();
    }
  });
};

// 수정.
const doSetItem = async () => {
  dataState.room_types = dataState.room_type_ids.join(',');
  dataState.mod_date = dayjs().format('YYYY-MM-DD HH:mm:ss');

  const sendData = {
    ...dataState,
  };

  await timeOptionBiz.setTimeOption(store, sendData, (cudResult: CudResult<TimeOption>) => {
    if (cudResult.success) {
      initData();
    }
  });
};

// 삭제.
const doDelItem = async (timeOption: TimeOption, e: Event) => {
  e.stopPropagation();
  await timeOptionBiz.delTimeOption(store, timeOption, (success: boolean) => {
    if (success) {
      viewState.rowIndex = null;
      initData();
    }
  });
};


// =========================================================
// 정보 & onMounted
// =========================================================
onMounted(() => {
  (async() => {
    await init();
    initData();
  })();

  props.action.name = '수정';
  props.action.disabled = true;
  emit("update:action", props.action);
});

const StayTypes = [
  { text: '대실', value: 2 },
  { text: '숙박', value: 1 },
  { text: '장기', value: 3 },
];

// 내보내기.
defineExpose({
  initData,
  doUpdateSetting,
});
</script>