<template>
  <!-- field-set -->
  <fieldset class="field-set">
    <h3 class="field-title mb-2">처리 확인 알림 팝업</h3>
    <div class="field-box">
      <v-radio-group
        v-model="state.speed_checkin"
        hide-details
        density="compact"
        inline
      >
        <v-radio color="secondary" label="사용" :value="1"></v-radio>
        <v-radio
          class="ml-2"
          color="secondary"
          label="사용 안함 (스피드 체크인)"
          :value="0"
        ></v-radio>
      </v-radio-group>
    </div>
  </fieldset>

  <fieldset class="field-set">
    <h3 class="field-title mb-2">화면 툴팁 도움말</h3>
    <div class="field-box">
      <v-radio-group
        v-model="state.tooltip_show"
        hide-details
        density="compact"
        inline
      >
        <v-radio color="secondary" label="보기" :value="1"></v-radio>
        <v-radio
          class="ml-2"
          color="secondary"
          label="주요정보만 보기"
          :value="2"
        ></v-radio>
        <v-radio
          class="ml-2"
          color="secondary"
          label="숨기기"
          :value="0"
        ></v-radio>
      </v-radio-group>
    </div>
  </fieldset>

  <fieldset class="field-set d-flex w-100" style="gap: 8px">
    <div class="field-inner">
      <h3 class="field-title mb-2">차량호출 기능</h3>
      <div class="field-box">
        <v-radio-group
          v-model="state.use_car_call"
          hide-details
          density="compact"
          inline
        >
          <v-radio color="secondary" label="사용" :value="1"></v-radio>
          <v-radio
            class="ml-2"
            color="secondary"
            label="사용 안함"
            :value="0"
          ></v-radio>
        </v-radio-group>
      </div>
    </div>
    <div class="field-inner">
      <h3 class="field-title mb-2">비상호출 기능</h3>
      <div class="field-box">
        <v-radio-group
          v-model="state.use_emerg"
          hide-details
          density="compact"
          inline
        >
          <v-radio color="secondary" label="사용" :value="1"></v-radio>
          <v-radio
            class="ml-2"
            color="secondary"
            label="사용 안함"
            :value="0"
          ></v-radio>
        </v-radio-group>
      </div>
    </div>
    <div class="field-inner">
      <h3 class="field-title mb-2">입실 취소 사유 입력 팝업</h3>
      <div class="field-box">
        <v-radio-group
          v-model="state.use_sale_cancel_comment"
          hide-details
          density="compact"
          inline
        >
          <v-radio color="secondary" label="사용" :value="1"></v-radio>
          <v-radio
            class="ml-2"
            color="secondary"
            label="사용 안함"
            :value="0"
          ></v-radio>
        </v-radio-group>
      </div>
    </div>
  </fieldset>

  <fieldset class="field-set">
    <h3 class="field-title mb-2">재 호출 지연 시간</h3>
    <div class="field-box">
      <div class="d-flex align-center">
        <div class="input-counter" style="width: 120px">
          <!-- <v-btn color="darkgrey" style="min-width: auto; width: 16px; height: 16px" class="pa-0">
            <v-icon size="x-small" color="white">mdi-chevron-down</v-icon>
          </v-btn>
          <input type="text" value="0분" />
          <v-btn color="darkgrey" style="min-width: auto; width: 16px; height: 16px" class="pa-0">
            <v-icon size="x-small" color="white">mdi-chevron-up</v-icon>
          </v-btn> -->
          <NumberInput
            v-model="state.call_alert_term"
            :up-down-config="valueConfig"
            :init-value="preference.call_alert_term"
            unit="분"
          ></NumberInput>
        </div>
        <div class="field-content ml-2 color-secondary">
          ※ 차량/비상호출 후 재 호출 시에 설정한 시간내에는 알림이 보이지
          않습니다.
        </div>
      </div>
    </div>
  </fieldset>

  <!-- //field-set -->
</template>

<script setup lang="ts">
import NumberInput from '@/components/compo/NumberInput.vue';
import Swal, { SweetAlertResult } from 'sweetalert2';
import { reactive, computed, watch, onMounted } from 'vue';
import { useStore } from 'vuex';
import { preferencesBiz } from '@/biz/preferencesBiz';
import { Preference } from '@/types';
import { dataBiz } from '@/biz/dataBiz';
import { viewUtil, UpDownConfigClass } from '@/utils/view-util';

// =========================================================
// 타입
// =========================================================
interface State {
  speed_checkin: number; //바로 체크인 기능 (0:사용안함, 1:사용)
  tooltip_show: number; //화면 도움말 툴팁 보기 (0:숨기기, 1:보기, 2:주요정보만보기)
  use_car_call: number; //차량호출 기능 사용여부(0:사용안함, 1:사용)
  use_emerg: number; //비상호출 기능 사용여부(0:사용안함, 1:사용)
  use_sale_cancel_comment: number; //입실 취소 사유 입력 여부 (0:안함, 1:사용)
  call_alert_term: number; //차량호출 / 비상호출 알림 지연 시간(분)
}

// =========================================================
// 선언
// =========================================================
const store = useStore();

// state.
const state = reactive<State>({
  speed_checkin: 0,
  tooltip_show: 0,
  use_car_call: 0,
  use_emerg: 0,
  use_sale_cancel_comment: 0,
  call_alert_term: 0,
});

// upDownConfig.
const valueConfig = new UpDownConfigClass(0, 30, 1);

const title = '알림설정';

// =========================================================
// 초기 조회
// =========================================================

// =========================================================
// COMPUTED
// =========================================================
const preference = computed<Preference>(() =>
  preferencesBiz.getterPreference(store)
);

// =========================================================
// WATCH
// =========================================================
watch(
  () => preference.value,
  () => {
    initData();
  }
);

// =========================================================
// 기능
// =========================================================
const initData = () => {
  state.speed_checkin = preference.value.speed_checkin;
  state.tooltip_show = preference.value.tooltip_show;
  state.use_car_call = preference.value.use_car_call;
  state.use_emerg = preference.value.use_emerg;
  state.use_sale_cancel_comment = preference.value.use_sale_cancel_comment;
  state.call_alert_term = preference.value.call_alert_term;
};

// =========================================================
// 사용자 액션
// =========================================================
const doUpdateSetting = async () => {
  let isGo = false;

  // 1. 확인.
  if (!dataBiz.hasChanged(state, preference.value)) {
    viewUtil.swalAlertNoChange(title);
    return;
  }

  await Swal.fire({
    icon: 'question',
    title: title,
    html: `${title}을 변경 하시겠습니까?`,
    showCancelButton: true,
    showConfirmButton: true,
    cancelButtonText: '취소',
    confirmButtonText: '확인',
  }).then((result: SweetAlertResult) => {
    isGo = result.isConfirmed;
  });

  if (isGo) {
    // 2. 데이터 설정.
    const readyData = {
      id: preference.value.id,
      place_id: preference.value.place_id,

      speed_checkin: state.speed_checkin,
      tooltip_show: state.tooltip_show,
      use_car_call: state.use_car_call,
      use_emerg: state.use_emerg,
      use_sale_cancel_comment: state.use_sale_cancel_comment,
      call_alert_term: state.call_alert_term,
    };

    const sendData = dataBiz.extractChangedData(readyData, preference.value); // 변경데이터만 추출.

    // 3. 전송.
    let result = false;
    await preferencesBiz.setPreference(store, sendData, (success: boolean) => {
      result = success;
    });

    // 4. 결과 안내.
    if (result) {
      Swal.fire({
        icon: 'success',
        title: title,
        html: `${title}이 설정 되었습니다.`,
        showConfirmButton: true,
        confirmButtonText: '확인',
      });
    } else {
      Swal.fire({
        icon: 'error',
        title: title,
        html: `${title} 설정에 실패 하였습니다. 다시 시도해 주세요.`,
        showConfirmButton: true,
        confirmButtonText: '확인',
      });
    }
  }
};

// =========================================================
// 정보 & onMounted
// =========================================================
onMounted(() => {
  if (preference.value.id) {
    initData();
  }
});

// 내보내기.
defineExpose({
  initData,
  doUpdateSetting,
});
</script>
