<template>
  <!-- field-set -->
  <fieldset class="field-set">
    <h3 class="field-title mb-2">난방 온도 설정</h3>
    <v-table>
      <tbody>
        <tr>
          <th class="text-center" style="width: 100px">사용 중</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter" style="width: 120px">
                <NumberInput
                  v-model="state.temp_key_1"
                  :up-down-config="tempConfig"
                  :init-value="preferences?.temp_key_1"
                  unit="도"
                ></NumberInput>
              </div>
            </div>
          </td>
          <th class="text-center" style="width: 100px">외출 중</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter" style="width: 120px">
                <NumberInput
                  v-model="state.temp_key_2"
                  :up-down-config="tempConfig"
                  :init-value="preferences?.temp_key_2"
                  unit="도"
                ></NumberInput>
              </div>
            </div>
          </td>
          <th class="text-center" style="width: 100px">공실</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter" style="width: 120px">
                <!-- <v-btn color="darkgrey" style="min-width: auto; width: 16px; height: 16px" class="pa-0">
                  <v-icon size="x-small" color="white">mdi-chevron-down</v-icon>
                </v-btn>
                <input type="text" value="18도" />
                <v-btn color="darkgrey" style="min-width: auto; width: 16px; height: 16px" class="pa-0">
                  <v-icon size="x-small" color="white">mdi-chevron-up</v-icon>
                </v-btn> -->
                <NumberInput
                  v-model="state.temp_key_3"
                  :up-down-config="tempConfig"
                  :init-value="preferences?.temp_key_3"
                  unit="도"
                ></NumberInput>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th class="text-center" style="width: 100px">청소/점검대기</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter" style="width: 120px">
                <NumberInput
                  v-model="state.temp_key_4"
                  :up-down-config="tempConfig"
                  :init-value="preferences?.temp_key_4"
                  unit="도"
                ></NumberInput>
              </div>
            </div>
          </td>
          <th class="text-center" style="width: 100px">청소/점검 중</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter" style="width: 120px">
                <NumberInput
                  v-model="state.temp_key_5"
                  :up-down-config="tempConfig"
                  :init-value="preferences?.temp_key_5"
                  unit="도"
                ></NumberInput>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </v-table>
  </fieldset>

  <fieldset class="field-set">
    <h3 class="field-title mb-2">고객 설정 최소/최대 온도</h3>
    <v-table>
      <tbody>
        <tr>
          <th class="text-center" style="width: 100px">최소</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter" style="width: 120px">
                <NumberInput
                  v-model="state.air_set_min"
                  :up-down-config="tempConfig"
                  :init-value="preferences?.air_set_min"
                  unit="도"
                ></NumberInput>
              </div>
            </div>
          </td>
          <th class="text-center" style="width: 100px">최대</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter" style="width: 120px">
                <NumberInput
                  v-model="state.air_set_max"
                  :up-down-config="tempConfig"
                  :init-value="preferences?.air_set_max"
                  unit="도"
                ></NumberInput>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </v-table>
  </fieldset>

  <fieldset class="field-set">
    <h3 class="field-title mb-2">고객 설정 최소/최대 온도</h3>
    <div class="field-box">
      <v-radio-group
        v-model="state.air_power_type"
        hide-details
        density="compact"
        inline
      >
        <v-radio color="secondary" label="키에 연동" :value="0"></v-radio>
        <v-radio color="secondary" label="전원 ON" :value="1"></v-radio>
        <v-radio color="secondary" label="전원 OFF" :value="2"></v-radio>
      </v-radio-group>
    </div>
  </fieldset>

  <!-- //field-set -->
</template>

<script setup lang="ts">
import NumberInput from '@/components/compo/NumberInput.vue';
import Swal, { SweetAlertResult } from 'sweetalert2';
import { reactive, computed, watch, onMounted } from 'vue';
import { useStore } from 'vuex';
import { preferencesBiz } from '@/biz/preferencesBiz';
import { Preference } from '@/types';
import { dataBiz } from '@/biz/dataBiz';
import { viewUtil, UpDownConfigClass } from '@/utils/view-util';

// =========================================================
// 타입
// =========================================================
interface State {
  air_power_type: number; //0:KEY 에연동, 1:ON, 2:OFF
  air_set_max: number;
  air_set_min: number;
  temp_key_1: number;
  temp_key_2: number;
  temp_key_3: number;
  temp_key_4: number;
  temp_key_5: number;
}

// =========================================================
// 선언
// =========================================================
const store = useStore();

// state.
const state = reactive<State>({
  air_power_type: 0,
  air_set_max: 0,
  air_set_min: 0,
  temp_key_1: 0,
  temp_key_2: 0,
  temp_key_3: 0,
  temp_key_4: 0,
  temp_key_5: 0,
});

// upDownConfig.
const tempConfig = new UpDownConfigClass(0, 50, 1);

const title = '냉/난방설정';

// =========================================================
// 초기 조회
// =========================================================

// =========================================================
// COMPUTED
// =========================================================
const preferences = computed<Preference>(() =>
  preferencesBiz.getterPreference(store)
);

// =========================================================
// WATCH
// =========================================================
watch(
  () => preferences.value,
  () => {
    initData();
  }
);

// =========================================================
// 기능
// =========================================================
const initData = () => {
  state.air_power_type = preferences.value.air_power_type;
  state.air_set_max = preferences.value.air_set_max;
  state.air_set_min = preferences.value.air_set_min;
  state.temp_key_1 = preferences.value.temp_key_1;
  state.temp_key_2 = preferences.value.temp_key_2;
  state.temp_key_3 = preferences.value.temp_key_3;
  state.temp_key_4 = preferences.value.temp_key_4;
  state.temp_key_5 = preferences.value.temp_key_5;
};

// =========================================================
// 사용자 액션
// =========================================================
const doUpdateSetting = async () => {
  let isGo = false;

  // 1. 확인.
  if (!dataBiz.hasChanged(state, preferences.value)) {
    viewUtil.swalAlertNoChange(title);
    return;
  }

  await Swal.fire({
    icon: 'question',
    title: title,
    html: `${title}을 변경 하시겠습니까?`,
    showCancelButton: true,
    showConfirmButton: true,
    cancelButtonText: '취소',
    confirmButtonText: '확인',
  }).then((result: SweetAlertResult) => {
    isGo = result.isConfirmed;
  });

  if (isGo) {
    // 2. 데이터 설정.
    const readyData = {
      id: preferences.value.id,
      place_id: preferences.value.place_id,
      air_power_type: state.air_power_type,
      air_set_max: state.air_set_max,
      air_set_min: state.air_set_min,
      temp_key_1: state.temp_key_1,
      temp_key_2: state.temp_key_2,
      temp_key_3: state.temp_key_3,
      temp_key_4: state.temp_key_4,
      temp_key_5: state.temp_key_5,
    };

    const sendData = dataBiz.extractChangedData(readyData, preferences.value); // 변경데이터만 추출.

    // 3. 전송.
    let result = false;
    await preferencesBiz.setPreference(store, sendData, (success: boolean) => {
      result = success;
    });

    // 4. 결과 안내.
    if (result) {
      Swal.fire({
        icon: 'success',
        title: title,
        html: `${title}이 설정 되었습니다.`,
        showConfirmButton: true,
        confirmButtonText: '확인',
      });
    } else {
      Swal.fire({
        icon: 'error',
        title: title,
        html: `${title} 설정에 실패 하였습니다. 다시 시도해 주세요.`,
        showConfirmButton: true,
        confirmButtonText: '확인',
      });
    }
  }
};

// =========================================================
// 정보 & onMounted
// =========================================================
onMounted(() => {
  if (preferences.value.id) {
    initData();
  }
});

// 내보내기.
defineExpose({
  initData,
  doUpdateSetting,
});
</script>
