<template>
  <!-- field-set -->
  <fieldset class="field-set">
    <h3 class="field-title mb-2">요금 변경 시 금액 단위 설정</h3>
    <v-table>
      <colgroup>
        <col style="width: 80px" />
        <col />
        <col style="width: 80px" />
        <col />
      </colgroup>
      <tbody>
        <tr>
          <th class="text-center">대실</th>
          <td>
            <div class="input-counter" style="width: 356px">
              <NumberInput
                v-model="state.rent_fee_unit"
                :up-down-config="valueConfig"
                :init-value="preferences.rent_fee_unit"
                :fmt-comma="true"
                unit="원"
              ></NumberInput>
            </div>
          </td>
          <th class="text-center">숙박</th>
          <td>
            <div class="input-counter" style="width: 356px">
              <NumberInput
                v-model="state.stay_fee_unit"
                :up-down-config="valueConfig"
                :init-value="preferences.stay_fee_unit"
                :fmt-comma="true"
                unit="원"
              ></NumberInput>
            </div>
          </td>
        </tr>
      </tbody>
    </v-table>
  </fieldset>
  <!-- //field-set -->
  <!-- field-set -->
  <fieldset class="field-set">
    <h3 class="field-title mb-2">객실 추가/할인 요금 설정</h3>
    <v-table>
      <colgroup>
        <col style="width: 360px" />
        <col />
      </colgroup>
      <tbody>
        <tr>
          <th class="color-primary">
            * 타입별 / 요일별 / 시간별 추가 요금을 설정합니다.
          </th>
          <td>
            <v-btn color="darkgrey" size="small" class="w-100">설정하기</v-btn>
          </td>
        </tr>
      </tbody>
    </v-table>
  </fieldset>
  <!-- //field-set -->
  <!-- field-set -->
  <fieldset class="field-set">
    <h3 class="field-title mb-2">무인 판매가능 시간 및 요금 설정</h3>
    <v-table>
      <colgroup>
        <col style="width: 360px" />
        <col />
      </colgroup>
      <tbody>
        <tr>
          <th class="color-primary">
            * 타입별 / 요일별 / 시간별 판매 가능 시간 및 요금을 설정합니다.
          </th>
          <td>
            <v-btn color="darkgrey" size="small" class="w-100">설정하기</v-btn>
          </td>
        </tr>
      </tbody>
    </v-table>
  </fieldset>
  <!-- //field-set -->
  <!-- field-set -->
  <fieldset class="field-set">
    <h3 class="field-title mb-2">체크인 기본 요금 타입 설정</h3>
    <div class="field-box">
      <v-radio-group
        v-model="state.default_pay_type"
        hide-details
        density="compact"
        inline
      >
        <v-radio color="secondary" label="현금" :value="1"></v-radio>
        <v-radio color="secondary" label="카드" :value="2"></v-radio>
      </v-radio-group>
    </div>
  </fieldset>
  <!-- //field-set -->
  <!-- field-set -->
  <fieldset class="field-set">
    <h3 class="field-title mb-2">기타 설정</h3>
    <div class="field-box">
      <v-checkbox
        hide-details
        density="compact"
        color="secondary"
        label="연박 시 해당 일/시간의 요금 적용함"
      ></v-checkbox>
    </div>
  </fieldset>
  <!-- //field-set -->
</template>

<script setup lang="ts">
import NumberInput from '@/components/compo/NumberInput.vue';
import Swal, { SweetAlertResult } from 'sweetalert2';
import { reactive, computed, watch, onMounted } from 'vue';
import { useStore } from 'vuex';
import { preferencesBiz } from '@/biz/preferencesBiz';
import { Preference } from '@/types';
import { dataBiz } from '@/biz/dataBiz';
import { viewUtil, UpDownConfigClass } from '@/utils/view-util';

// =========================================================
// 타입
// =========================================================
interface State {
  stay_fee_unit: number; //0:불가, 1~10000:요금 숙박판매금액 (천원단위)
  rent_fee_unit: number; //0:불가, 1~10000:요금 대실판매금액 (천원단위)
  default_pay_type: number; //체크인 기본 요금 타입 (1:현금, 2:카드)
}

// =========================================================
// 선언
// =========================================================
const store = useStore();

// state.
const state = reactive<State>({
  stay_fee_unit: 1000,
  rent_fee_unit: 1000,
  default_pay_type: 0,
});

// upDownConfig.
const valueConfig = new UpDownConfigClass(1000, 20000, 1000);

const title = '요금설정';

// =========================================================
// 초기 조회
// =========================================================

// =========================================================
// COMPUTED
// =========================================================
const preferences = computed<Preference>(() =>
  preferencesBiz.getterPreference(store)
);

// =========================================================
// WATCH
// =========================================================
watch(
  () => preferences.value,
  () => {
    initData();
  }
);

// =========================================================
// 기능
// =========================================================
const initData = () => {
  state.stay_fee_unit = preferences.value.stay_fee_unit;
  state.rent_fee_unit = preferences.value.rent_fee_unit;
  state.default_pay_type = preferences.value.default_pay_type;
};

// =========================================================
// 사용자 액션
// =========================================================
const doUpdateSetting = async () => {
  let isGo = false;

  // 1. 확인.
  if (!dataBiz.hasChanged(state, preferences.value)) {
    viewUtil.swalAlertNoChange(title);
    return;
  }

  await Swal.fire({
    icon: 'question',
    title: title,
    html: `${title}을 변경 하시겠습니까?`,
    showCancelButton: true,
    showConfirmButton: true,
    cancelButtonText: '취소',
    confirmButtonText: '확인',
  }).then((result: SweetAlertResult) => {
    isGo = result.isConfirmed;
  });

  if (isGo) {
    // 2. 데이터 설정.
    const readyData = {
      id: preferences.value.id,
      place_id: preferences.value.place_id,

      stay_fee_unit: state.stay_fee_unit,
      rent_fee_unit: state.rent_fee_unit,
      default_pay_type: state.default_pay_type,
    };

    const sendData = dataBiz.extractChangedData(readyData, preferences.value); // 변경데이터만 추출.

    // 3. 전송.
    let result = false;
    await preferencesBiz.setPreference(store, sendData, (success: boolean) => {
      result = success;
    });

    // 4. 결과 안내.
    if (result) {
      Swal.fire({
        icon: 'success',
        title: title,
        html: `${title}이 설정 되었습니다.`,
        showConfirmButton: true,
        confirmButtonText: '확인',
      });
    } else {
      Swal.fire({
        icon: 'error',
        title: title,
        html: `${title} 설정에 실패 하였습니다. 다시 시도해 주세요.`,
        showConfirmButton: true,
        confirmButtonText: '확인',
      });
    }
  }
};

// =========================================================
// 정보 & onMounted
// =========================================================
onMounted(() => {
  if (preferences.value.id) {
    initData();
  }
});

// 내보내기.
defineExpose({
  initData,
  doUpdateSetting,
});
</script>
