<template>
  <!-- field-set -->
  <fieldset class="field-set">
    <h3 class="field-title mb-2">데이터 보관 기간 설정</h3>
    <v-table>
      <tbody>
        <tr>
          <th class="text-center" style="width: 100px">매출이력 정보</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter" style="width: 100px">
                <NumberInput
                  v-model="state.data_keep_day_sale"
                  :up-down-config="upDownConfig"
                  :init-value="preference.data_keep_day_sale"
                  :editable="true"
                ></NumberInput>
              </div>
              <span class="ml-2">일 (정산 시간 기준)</span>
            </div>
          </td>
          <th class="text-center" style="width: 100px">객실이력 정보</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter" style="width: 100px">
                <NumberInput
                  v-model="state.data_keep_day_state"
                  :up-down-config="upDownConfig"
                  :init-value="preference.data_keep_day_state"
                  :editable="true"
                ></NumberInput>
              </div>
              <span class="ml-2">일 (0시 기준)</span>
            </div>
          </td>
        </tr>
      </tbody>
    </v-table>
  </fieldset>

  <!-- //field-set -->
</template>

<script setup lang="ts">
import NumberInput from '@/components/compo/NumberInput.vue';
import Swal, { SweetAlertResult } from 'sweetalert2';
import { reactive, computed, watch, onMounted } from 'vue';
import { useStore } from 'vuex';
import { preferencesBiz } from '@/biz/preferencesBiz';
import { Preference } from '@/types';
import { dataBiz } from '@/biz/dataBiz';
import { viewUtil, UpDownConfigClass } from '@/utils/view-util';

// =========================================================
// 타입
// =========================================================
interface State {
  data_keep_day_sale: number;
  data_keep_day_state: number;
}

// =========================================================
// 선언
// =========================================================
const store = useStore();

// state.
const state = reactive<State>({
  data_keep_day_sale: 0,
  data_keep_day_state: 0,
});

// upDownConfig.
const upDownConfig = new UpDownConfigClass(0, null, 1);

const title = '데이터 보관 기간';

// =========================================================
// 초기 조회
// =========================================================

// =========================================================
// COMPUTED
// =========================================================
const preference = computed<Preference>(() =>
  preferencesBiz.getterPreference(store)
);

// =========================================================
// WATCH
// =========================================================
watch(
  () => preference.value,
  () => {
    initData();
  }
);

// =========================================================
// 기능
// =========================================================
// 초기화.
const initData = () => {
  state.data_keep_day_sale = preference.value.data_keep_day_sale;
  state.data_keep_day_state = preference.value.data_keep_day_state;
};

// =========================================================
// 사용자 액션
// =========================================================
const doUpdateSetting = async () => {
  let isGo = false;

  // 1. 확인.
  if (!dataBiz.hasChanged(state, preference.value)) {
    viewUtil.swalAlertNoChange(title);
    return;
  }

  await Swal.fire({
    icon: 'question',
    title: title,
    html: `데이터 보관 기간 이후의 데이터는 자동 삭제 됩니다.</br>
    <span style="color: red;">삭제된 데이터는 복구 할 수 없습니다.</span></br>
    수정 하시겠습니까?`,
    showCancelButton: true,
    showConfirmButton: true,
    cancelButtonText: '취소',
    confirmButtonText: '확인',
  }).then((result: SweetAlertResult) => {
    isGo = result.isConfirmed;
  });

  if (isGo) {
    // 2. 데이터 설정.
    const readyData = {
      id: preference.value.id,
      place_id: preference.value.place_id,
      data_keep_day_sale: state.data_keep_day_sale,
      data_keep_day_state: state.data_keep_day_state,
    };

    const sendData = dataBiz.extractChangedData(readyData, preference.value);
    console.log(`*** doSetClean - ${title} 전송 전 데이터확인.`, sendData);

    // 3. 전송.
    let result = false;
    await preferencesBiz.setPreference(store, sendData, (success: boolean) => {
      result = success;
    });

    // 4. 결과 안내.
    if (result) {
      Swal.fire({
        icon: 'success',
        title: title,
        html: `${title}이 설정 되었습니다.`,
        showConfirmButton: true,
        confirmButtonText: '확인',
      });
    } else {
      Swal.fire({
        icon: 'error',
        title: title,
        html: `${title} 설정에 실패 하였습니다. 다시 시도해 주세요.`,
        showConfirmButton: true,
        confirmButtonText: '확인',
      });
    }
  }
};

// =========================================================
// 정보 & onMounted
// =========================================================
onMounted(() => {
  if (preference.value.id) {
    initData();
  }
});

// 내보내기.
defineExpose({
  initData,
  doUpdateSetting,
});
</script>
