<template>
  <!-- field-set -->
  <fieldset class="field-set">
    <h3 class="field-title mb-2">직원목록 ({{ users.length }}건)</h3>
    <!-- table -->
    <v-table fixed-header height="248" class="overflow-y-auto text-center dense-dark mt-2">
      <colgroup>
        <col />
        <col />
      </colgroup>
      <thead>
        <tr>
          <th style="width: 45px;">No</th>
          <th>아이디</th>
          <th>이름</th>
          <th>권한</th>
          <th>부서</th>
          <th>라이선스</th>
          <th>전화번호</th>
          <th>삭제</th>
        </tr>
      </thead>
      <tbody>

        <tr v-for="item, index in users" :class="{ active: isActiveRow(index)}" @click="doClickRow(index)">
          <td>{{ index + 1  }}</td>
          <td>{{ item.id }}</td>
          <td>{{ item.name  }}</td>
          <td>{{ viewUtil.keyText('user', 'level', item.level) }}</td>
          <td>{{ item.dept }}</td>
          <td :class="item.licence_yn == 'Y' ? 'color-aqua' : ''">{{ item.licence_yn }}</td>
          <td>{{ item.hp ? item.hp : item.tel }}</td>
          <td>
            <v-btn :color="isActiveRow(index) ? 'secondary' : 'grey'" size="small" style="min-width: 50px; height: 20px;"
              :disabled="!isActiveRow(index)"
              @click="doDelItem(item, $event)"
            >삭제</v-btn>
          </td>
        </tr>

      </tbody>
    </v-table>
    <!-- //table -->
  </fieldset>

  <fieldset class="field-set">
    <div class="field-inner d-flex align-center justify-space-between">
      <h3 class="field-title mb-2">직원정보</h3>
      <v-btn class="mb-2 pr-3" variant="outlined"
        :color="viewState.isNewReady ? 'secondary' : 'grey'"
        :prepend-icon="viewState.isNewReady ? 'mdi-checkbox-marked-outline' : 'mdi-plus-thick'"
        size="small" style="width: 80px;"
        @click="doNewReady(!viewState.isNewReady)"
      >
        <template v-slot:prepend>
          <v-icon class="pa-0 ma-0 pl-2"></v-icon>
        </template>
        직원추가
      </v-btn>
    </div>
    <v-table>
      <colgroup>
        <col />
        <col />
        <col />
        <col />
      </colgroup>
      <tbody>
        <tr>
          <th class="text-center" style="width: 78px;">아이디</th>
          <td>
            <input v-model="dataState.id" type="text" class="input2" maxlength="20"
              :class="{ disabled: !viewState.isNewReady }"
              :disabled="!viewState.isNewReady"
              @keydown="viewUtil.kbNoSpace($event)"
            />
          </td>
          <th class="text-center" style="width: 78px;">이름</th>
          <td>
            <input v-model="dataState.name" type="text" class="input2" maxlength="10"
              :class="{ disabled: isDisabled }"
              :disabled="isDisabled"
              @keydown="viewUtil.kbNoSpace($event)"
            />
          </td>
          <th class="text-center" style="width: 78px;">권한설정</th>
          <td>
            <v-select density="compact" hide-details
              v-model="dataState.level"   
              :items="UserLevel"
              item-value="value"
              item-title="name"
              :disabled="isDisabled"
              :style="{ backgroundColor: isDisabled ? '#f9f9f9' : '' }"
            ></v-select>
          </td>
          <th class="text-center" style="width: 78px;">이메일</th>
          <td>
            <input v-model="dataState.email" type="text" class="input2" maxlength="45"
              :class="{ disabled: isDisabled }"
              :disabled="isDisabled"
              @keydown="viewUtil.kbNoSpace($event)"
            />
          </td>
        </tr>
        <tr>
          <th class="text-center" style="width: 78px;">휴대폰</th>
          <td>
            <input type="text" class="input2" maxlength="13"
              :class="{ disabled: isDisabled }"
              :disabled="isDisabled" 
              :value="viewUtil.fmtMobileNum(hp)"
              @input="event => (hp) = viewUtil.removeSpace((event.target as HTMLInputElement).value)"
              @keydown="viewUtil.kbDigit($event)"
            />
          </td>
          <th class="text-center" style="width: 78px;">연락처</th>
          <td>
            <input type="text" class="input2" maxlength="13"
              :class="{ disabled: isDisabled }"
              :disabled="isDisabled" 
              :value="viewUtil.fmtMobileNum(tel)"
              @input="event => (tel) = viewUtil.removeSpace((event.target as HTMLInputElement).value)"
              @keydown="viewUtil.kbDigit($event)"
            />
          </td>
          <th class="text-center" style="width: 78px;">부서</th>
          <td>
            <input v-model="dataState.dept" type="text" class="input2" maxlength="10"
              :class="{ disabled: isDisabled }"
              :disabled="isDisabled"
              @keydown="viewUtil.kbNoSpace($event)"
            />
          </td>
          <th class="text-center" style="width: 78px;">직위</th>
          <td>
            <input v-model="dataState.rank" type="text" class="input2" maxlength="10"
              :class="{ disabled: isDisabled }"
              :disabled="isDisabled"
              @keydown="viewUtil.kbNoSpace($event)"
            />
          </td>
        </tr>
      </tbody>
    </v-table>
  </fieldset>

  <fieldset class="field-set">
    <v-table>
      <colgroup>
        <col />
        <col />
        <col />
        <col />
      </colgroup>
      <tbody>
        <tr>
          <th class="text-center" style="width: 180px;">로그인 라이선스 사용여부</th>
          <td>
            <v-radio-group v-model="dataState.licence_yn" hide-details density="compact" inline>
              <v-radio color="secondary" label="있음" value="Y"></v-radio>
              <v-radio color="secondary" label="없음" value="N"></v-radio>
            </v-radio-group>
          </td>
          <th class="text-center" style="width: 180px;">로그인 라이선스 구분</th>
          <td>
            <v-radio-group v-model="dataState.licence_type" hide-details density="compact" inline>
              <v-radio color="secondary" label="고정 접속" :value="1"></v-radio>
              <v-radio color="secondary" label="유동 접속" :value="2"></v-radio>
            </v-radio-group>
          </td>
        </tr>

        <tr>
          <th class="text-center" style="width: 180px;">일일 매출 정보 메일 수신 여부</th>
          <td>
            <v-radio-group v-model="dataState.daily_report_mail_yn" hide-details density="compact" inline>
              <v-radio color="secondary" label="수신" value="Y"></v-radio>
              <v-radio color="secondary" label="안함" value="N"></v-radio>
            </v-radio-group>
          </td>
          <th class="text-center" style="width: 180px;">무인판매 메일 수신 여부</th>
          <td>
            <v-radio-group v-model="dataState.isg_sale_mail_yn" hide-details density="compact" inline>
              <v-radio color="secondary" label="수신" value="Y"></v-radio>
              <v-radio color="secondary" label="안함" value="N"></v-radio>
            </v-radio-group>
          </td>
        </tr>

        <tr>
          <th class="text-center" style="width: 180px;">OTA 예약 연동 메일 수신 여부</th>
          <td colspan="3">
            <div class="d-flex align-center">
              <v-radio-group v-model="dataState.ota_mo_mail_yn" hide-details density="compact" inline>
                <v-radio color="secondary" label="수신" value="1"></v-radio>
                <v-radio color="secondary" label="실패만 수신" value="2"></v-radio>
                <v-radio color="secondary" label="안함" value="0"></v-radio>
              </v-radio-group>
              <div class="mr-2">비밀번호</div>
              <input v-model="dataState.pwd" type="password" class="input mr-2" placeholder="비밀번호 입력" style="width: 130px;" />
              <div class="mr-2">비밀번호 확인</div>
              <input v-model="retryPwd" type="password" class="input mr-2" placeholder="비밀번호 확인" style="width: 130px;" />
              <v-btn v-if="hasMasterLevel && viewState.rowIndex !== null" color="grey" size="small" style="width: 50px;" @click="doSetPwd()">변경</v-btn>
            </div>
          </td>
        </tr>
      </tbody>
    </v-table>
  </fieldset>
  <!-- //field-set -->
</template>

<script setup lang="ts">
import dayjs from 'dayjs';
import { ref, reactive, computed, onMounted } from 'vue'
import { useStore } from 'vuex';
import { User, CudResult, NumberValue } from '@/types';
import { userBiz } from '@/biz/userBiz';
import { viewUtil, UpDownConfigClass } from '@/utils/view-util';


// =========================================================
// 타입
// =========================================================
interface ViewState {
  isNewReady: boolean;
  rowIndex: number;
}


// =========================================================
// 선언
// =========================================================
// props.
const props = defineProps(["action"]);

// emit.
const emit = defineEmits(['update:action']);

// store, user.
const store = useStore();
const user = store.getters['user'];

// dataState.
const dataState = reactive<User>({
id: null,
place_id: user.place_id,
pwd: null,
type: 0,
name: null,
level: null,
hp: null,
tel: null,
email: null,
dept: null,
rank: null,
licence_yn: 'N',
licence_type: 1,
daily_report_mail_yn: 'N',
isg_sale_mail_yn: 'N',
ota_mo_mail_yn: '0',
use_yn: 'Y',
last_login_date: null
});

const hp = ref<string>(null);
const tel = ref<string>(null);
const retryPwd = ref<string>(null);

const viewState = reactive<ViewState>({
  isNewReady: false,
  rowIndex: null,
});

// upDownConfig.
const hour24Config = new UpDownConfigClass(0, 24, 1);
const addFeeConfig = new UpDownConfigClass(null, null, 1000);


// =========================================================
// 초기 조회
// =========================================================
const init = async () => {
  await userBiz.usersByPlaceId(store, user.place_id);
};


// =========================================================
// COMPUTED
// =========================================================
const users = computed<User[]>(() => {
  const list = userBiz.getterUsers(store);
  const limitLevel = user.level === 0 ? 1 : user.level; // 슈퍼는 제외.
  return list.filter((item: User) => (item.use_yn === 'Y' || item.use_yn === 'y') 
      && item.level >= limitLevel // 사용자와 같은 이하 레벨만.
  );
});

const newUserLevels = computed<NumberValue[]>(() => {
  return UserLevel.filter((item: NumberValue) => item.value >= user.level); // 사용자와 같은 이하 레벨만.
});

const hasMasterLevel = computed<boolean>(() => user.level <= 1);

const isDisabled = computed<boolean>(() => {
  if (viewState.isNewReady) return false;
  return viewState.rowIndex === null;
});


// =========================================================
// WATCH
// =========================================================

// =========================================================
// 기능
// =========================================================
const initData = () => {
  viewState.isNewReady = false;

  dataState.pwd = null;
  retryPwd.value = null;

  if (viewState.rowIndex !== null) {    
    const rowData = users.value[viewState.rowIndex];
    console.log(`*** initData - rowData ::`, rowData);
  
    dataState.id = rowData.id;
    dataState.place_id = rowData.place_id;
    dataState.type = rowData.type;
    dataState.name = rowData.name;
    dataState.level = rowData.level;
    dataState.hp = rowData.hp;
    dataState.tel = rowData.tel;
    dataState.email = rowData.email;
    dataState.dept = rowData.dept;
    dataState.rank = rowData.rank;
    dataState.daily_report_mail_yn = rowData.daily_report_mail_yn;
    dataState.isg_sale_mail_yn = rowData.isg_sale_mail_yn;
    dataState.ota_mo_mail_yn = rowData.ota_mo_mail_yn;
    dataState.licence_yn = rowData.licence_yn;
    dataState.licence_type = rowData.licence_type;
    dataState.use_yn = rowData.use_yn;
    dataState.last_login_date = rowData.last_login_date;

    if (dataState.hp !== null) {
      hp.value = dataState.hp.replaceAll('-', '');
    }
    if (dataState.tel !== null) {
      tel.value = dataState.tel.replaceAll('-', '');
    }
  }
  else {
    resetState();
  }
};

const resetState = () => {
  dataState.id = null;
  dataState.place_id = user.place_id;
  dataState.pwd = null;
  dataState.type = 0;
  dataState.name = null;
  dataState.level = null;
  dataState.hp = null;
  dataState.tel = null;
  dataState.email = null;
  dataState.dept = null;
  dataState.rank = null;
  dataState.licence_yn = 'N';
  dataState.licence_type = 1;
  dataState.daily_report_mail_yn = 'N';
  dataState.isg_sale_mail_yn = 'N';
  dataState.ota_mo_mail_yn = '0';
  dataState.use_yn = 'Y';
  dataState.last_login_date = null;

  hp.value = null;
  tel.value = null;
  retryPwd.value = null;
};

const isActiveRow = (rowIndex: number): boolean => {
  return viewState.rowIndex === rowIndex;
};


// =========================================================
// 사용자 액션
// =========================================================
// 신규 선택.
const doNewReady = (value: boolean) => {
  viewState.isNewReady = value;
  if (viewState.isNewReady) {
    viewState.rowIndex = null;
    resetState();
    props.action.name = '추가';
    props.action.disabled = false;
  }
  else {
    props.action.name = '수정';
    props.action.disabled = true;
  }
  emit("update:action", props.action);
};

// 행 선택.
const doClickRow = (rowIndex: number) => {
  if (viewState.isNewReady) {
    return;
  }

  if (viewState.rowIndex !== rowIndex) {
    viewState.rowIndex = rowIndex;
    viewState.isNewReady = false;
    props.action.disabled = false;
  } else {
    viewState.rowIndex = null;
    props.action.disabled = true;
  }
  initData();

  props.action.name = '수정';
  emit("update:action", props.action);
};


// 액션.
const doUpdateSetting = async () => {
  if (viewState.isNewReady) {
    await doNewItem();
  } else if (viewState.rowIndex !== null) {
    await doSetItem();
  }
};

// 추가.
const doNewItem = async () => {
  dataState.place_id = user.place_id;
  dataState.hp = viewUtil.fmtMobileNum(hp.value, '-');
  dataState.tel = viewUtil.fmtMobileNum(tel.value, '-');

  const sendData = {
    ...dataState,
  };

  await userBiz.newUser(store, sendData, retryPwd.value, (cudResult: CudResult<User>) => {
    if (cudResult.success) {
      initData();
    }
  });
};

// 수정.
const doSetItem = async () => {
  dataState.mod_date = dayjs().format('YYYY-MM-DD HH:mm:ss');
  dataState.hp = viewUtil.fmtMobileNum(hp.value, '-');
  dataState.tel = viewUtil.fmtMobileNum(tel.value, '-');

  const sendData = {
    ...dataState,
  };

  await userBiz.setUser(store, sendData, (success: boolean) => {
    if (success) {
      initData();
    }
  });
};

// 비번 변경.
const doSetPwd = async () => {
  dataState.mod_date = dayjs().format('YYYY-MM-DD HH:mm:ss');  

  const sendData = {
    id: dataState.id,
    pwd: dataState.pwd,
    mod_date: dataState.mod_date,
  };

  await userBiz.setUserPwd(store, sendData, retryPwd.value, () => {
    initData();
  });
};

// 삭제.
const doDelItem = async (item: User, e: Event) => {
  e.stopPropagation();
  
  await userBiz.delUser(store, item, (success: boolean) => {
    if (success) {
      viewState.rowIndex = null;
      initData();
    }
  });
};


// =========================================================
// 정보 & onMounted
// =========================================================
onMounted(() => {
  (async() => {
    await init();
    initData();
  })();

  props.action.name = '수정';
  props.action.disabled = true;
  emit("update:action", props.action);
});

const UserLevel: NumberValue[] =  [
  { name: '책임자(업주)', value: 1 },
  { name: '관리자(매니저)', value: 2 },
  { name: '근무자(카운터)', value: 3 },
];

// 내보내기.
defineExpose({
  initData,
  doUpdateSetting,
});
</script>