<template>
  <!-- field-set -->
  <fieldset class="field-set">
    <h3 class="field-title mb-2">적립 포인트 비율 설정</h3>
    <v-table>
      <colgroup>
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
      </colgroup>
      <tbody>
        <tr>
          <th class="text-center" style="width: 270px">
            다른 사용자가 객실 조작 시 체크인 화면 잠금을
          </th>
          <td>
            <v-radio-group
              v-model="state.interrupt_use"
              hide-details
              density="compact"
              inline
            >
              <v-radio color="secondary" label="사용" :value="1"></v-radio>
              <v-radio
                class="ml-2"
                color="secondary"
                label="사용안함"
                :value="0"
              ></v-radio>
            </v-radio-group>
          </td>
          <th class="text-center" style="width: 200px">
            동시 잠금 상태에서 자동해제 시간
          </th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter" style="width: 100px">
                <NumberInput
                  v-model="state.interrupt_release"
                  :up-down-config="interruptConfig"
                  :init-value="preference.interrupt_release"
                  :editable="true"
                  :disabled="notUseInterrupt"
                ></NumberInput>
              </div>
              <div class="ml-2">분으로 설정</div>
            </div>
          </td>
        </tr>
      </tbody>
    </v-table>
  </fieldset>
  <fieldset class="field-set">
    <h3 class="field-title mb-2">자리비움 자동 잠금 설정</h3>
    <v-table>
      <colgroup>
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
      </colgroup>
      <tbody>
        <tr>
          <th
            class="text-left"
            style="width: 270px; padding-left: 14px !important"
          >
            일정시간 자리비움 시 전체 화면 잠금을
          </th>
          <td>
            <v-radio-group
              v-model="state.place_lock_use"
              hide-details
              density="compact"
              inline
            >
              <v-radio color="secondary" label="사용" :value="1"></v-radio>
              <v-radio
                class="ml-2"
                color="secondary"
                label="사용안함"
                :value="0"
              ></v-radio>
            </v-radio-group>
          </td>
          <th
            class="text-left"
            style="width: 200px; padding-left: 14px !important"
          >
            자리비움 시 자동 잠김 시간
          </th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter" style="width: 100px">
                <NumberInput
                  v-model="state.place_lock_time"
                  :up-down-config="placeLockConfig"
                  :init-value="preference.place_lock_time"
                  :editable="true"
                  :disabled="notUsePlaceLock"
                ></NumberInput>
              </div>
              <div class="ml-2">분으로 설정</div>
            </div>
          </td>
        </tr>
      </tbody>
    </v-table>
  </fieldset>

  <!-- //field-set -->
</template>

<script setup lang="ts">
import NumberInput from '@/components/compo/NumberInput.vue';
import Swal, { SweetAlertResult } from 'sweetalert2';
import { reactive, computed, watch, onMounted } from 'vue';
import { useStore } from 'vuex';
import { preferencesBiz } from '@/biz/preferencesBiz';
import { Preference } from '@/types';
import { dataBiz } from '@/biz/dataBiz';
import { viewUtil, UpDownConfigClass } from '@/utils/view-util';

// =========================================================
// 타입
// =========================================================
interface State {
  interrupt_use: number;
  interrupt_release: number;
  place_lock_use: number;
  place_lock_time: number;
}

// =========================================================
// 선언
// =========================================================
const store = useStore();

// state.
const state = reactive<State>({
  interrupt_use: 0,
  interrupt_release: 10,
  place_lock_use: 0,
  place_lock_time: 10,
});

// upDownConfig.
const interruptConfig = new UpDownConfigClass(0, 55, 1);
const placeLockConfig = new UpDownConfigClass(0, 60, 5);

const title = '잠금설정';

// =========================================================
// 초기 조회
// =========================================================

// =========================================================
// COMPUTED
// =========================================================
const preference = computed<Preference>(() =>
  preferencesBiz.getterPreference(store)
);

const notUseInterrupt = computed<boolean>(() => {
  const result = state.interrupt_use === 0;
  if (result) {
    // 사용안함시 값 초기화.
    state.interrupt_release = preference.value.interrupt_release;
  }
  return result;
});

const notUsePlaceLock = computed<boolean>(() => {
  const result = state.place_lock_use === 0;
  if (result) {
    // 사용안함시 값 초기화.
    state.place_lock_time = preference.value.place_lock_time;
  }
  return result;
});

// =========================================================
// WATCH
// =========================================================
watch(
  () => preference.value,
  () => {
    initData();
  }
);

// =========================================================
// 기능
// =========================================================
// 초기화.
const initData = () => {
  state.interrupt_use = preference.value.interrupt_use;
  state.interrupt_release = preference.value.interrupt_release;
  state.place_lock_use = preference.value.place_lock_use;
  state.place_lock_time = preference.value.place_lock_time;
};

// =========================================================
// 사용자 액션
// =========================================================
const doUpdateSetting = async () => {
  let isGo = false;

  // 1. 확인.
  if (!dataBiz.hasChanged(state, preference.value)) {
    viewUtil.swalAlertNoChange(title);
    return;
  }

  await Swal.fire({
    icon: 'question',
    title: title,
    html: `${title}을 변경 하시겠습니까?`,
    showCancelButton: true,
    showConfirmButton: true,
    cancelButtonText: '취소',
    confirmButtonText: '확인',
  }).then((result: SweetAlertResult) => {
    isGo = result.isConfirmed;
  });

  if (isGo) {
    // 2. 데이터 설정.
    const readyData = {
      id: preference.value.id,
      place_id: preference.value.place_id,
      interrupt_use: state.interrupt_use,
      interrupt_release: state.interrupt_release,
      place_lock_use: state.place_lock_use,
      place_lock_time: state.place_lock_time,
    };

    const sendData = dataBiz.extractChangedData(readyData, preference.value);
    console.log(`*** doSetClean - ${title} 전송 전 데이터확인.`, sendData);

    // 3. 전송.
    let result = false;
    await preferencesBiz.setPreference(store, sendData, (success: boolean) => {
      result = success;
    });

    // 4. 결과 안내.
    if (result) {
      Swal.fire({
        icon: 'success',
        title: title,
        html: `${title}이 설정 되었습니다.`,
        showConfirmButton: true,
        confirmButtonText: '확인',
      });
    } else {
      Swal.fire({
        icon: 'error',
        title: title,
        html: `${title} 설정에 실패 하였습니다. 다시 시도해 주세요.`,
        showConfirmButton: true,
        confirmButtonText: '확인',
      });
    }
  }
};

// =========================================================
// 정보 & onMounted
// =========================================================
onMounted(() => {
  if (preference.value.id) {
    initData();
  }
});

// 내보내기.
defineExpose({
  initData,
  doUpdateSetting,
});
</script>
