<template>
  <!-- field-set -->
  <fieldset class="field-set">
    <h3 class="field-title mb-2">대실 시간 설정</h3>
    <v-table>
      <tbody>
        <tr>
          <th class="text-center" style="width: 80px">평일 오전</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter">
                <NumberInput
                  v-model="state.rent_time_am"
                  :up-down-config="hour12Config"
                  :init-value="preferences.rent_time_am"
                  unit="시"
                ></NumberInput>
              </div>
            </div>
          </td>
          <th class="text-center" style="width: 80px">평일 오후</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter">
                <NumberInput
                  v-model="state.rent_time_pm"
                  :up-down-config="hour12Config"
                  :init-value="preferences.rent_time_pm"
                  unit="시"
                ></NumberInput>
              </div>
            </div>
          </td>
          <th class="text-center" style="width: 80px">주말 오전</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter">
                <NumberInput
                  v-model="state.rent_time_am_weekend"
                  :up-down-config="hour12Config"
                  :init-value="preferences.rent_time_am_weekend"
                  unit="시"
                ></NumberInput>
              </div>
            </div>
          </td>
          <th class="text-center" style="width: 80px">주말 오후</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter">
                <NumberInput
                  v-model="state.rent_time_pm_weekend"
                  :up-down-config="hour12Config"
                  :init-value="preferences.rent_time_pm_weekend"
                  unit="시"
                ></NumberInput>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </v-table>
  </fieldset>

  <div class="d-flex w-100 mt-2" style="gap: 8px">
    <!-- 1st sec -->
    <div>
      <fieldset class="field-set" style="width: 628px">
        <h3 class="field-title mb-2">숙박 시간 설정</h3>
        <v-table>
          <tbody>
            <tr>
              <td>
                <v-radio-group
                  v-model="state.stay_time_type"
                  hide-details
                  density="compact"
                  inline
                  style="width: 170px"
                >
                  <v-radio
                    color="secondary"
                    label="입실시간"
                    :value="0"
                  ></v-radio>
                  <v-radio
                    class="ml-2"
                    color="secondary"
                    label="퇴실시간"
                    :value="1"
                  ></v-radio>
                </v-radio-group>
              </td>
              <th class="text-center" style="width: 60px">평일</th>
              <td>
                <div class="d-flex align-center">
                  <div class="input-counter">
                    <NumberInput
                      v-model="state.stay_time"
                      :up-down-config="hour24Config"
                      :init-value="preferences.stay_time"
                      :unit="
                        state.stay_time_type === 1 ? '시 퇴실' : '시간 이용'
                      "
                    ></NumberInput>
                  </div>
                </div>
              </td>
              <th class="text-center" style="width: 60px">주말</th>
              <td>
                <div class="d-flex align-center">
                  <div class="input-counter">
                    <NumberInput
                      v-model="state.stay_time_weekend"
                      :up-down-config="hour24Config"
                      :init-value="preferences.stay_time_weekend"
                      :unit="
                        state.stay_time_type === 1 ? '시 퇴실' : '시간 이용'
                      "
                    ></NumberInput>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>
      </fieldset>

      <fieldset class="field-set">
        <h3 class="field-title mb-2">손님키 삽입 시 자동입실 처리</h3>
        <div class="field-box">
          <v-radio-group
            v-model="state.auto_check_in"
            hide-details
            density="compact"
            inline
            style="width: auto"
          >
            <v-radio
              color="secondary"
              label="대실시간만 사용"
              :value="1"
            ></v-radio>
            <v-radio
              class="ml-2"
              color="secondary"
              label="숙박시간만 사용"
              :value="2"
            ></v-radio>
            <v-radio
              color="secondary"
              label="대실/숙박 사용"
              :value="3"
            ></v-radio>
            <v-radio
              class="ml-2"
              color="secondary"
              label="사용안함"
              :value="0"
            ></v-radio>
          </v-radio-group>
        </div>
      </fieldset>

      <fieldset class="field-set">
        <h3 class="field-title mb-2">손님키 제거 시 기본설정</h3>
        <v-table>
          <tbody>
            <tr>
              <th class="text-center" style="width: 80px">대실</th>
              <td>
                <v-radio-group
                  v-model="state.user_key_out_rent"
                  hide-details
                  density="compact"
                  inline
                  style="width: auto"
                >
                  <v-radio color="secondary" label="외출" :value="0"></v-radio>
                  <v-radio
                    class="ml-2"
                    color="secondary"
                    label="퇴실"
                    :value="1"
                  ></v-radio>
                </v-radio-group>
              </td>
              <th class="text-center" style="width: 80px">숙박</th>
              <td>
                <v-radio-group
                  v-model="state.user_key_out_stay"
                  hide-details
                  density="compact"
                  inline
                  style="width: auto"
                >
                  <v-radio color="secondary" label="외출" :value="0"></v-radio>
                  <v-radio
                    class="ml-2"
                    color="secondary"
                    label="퇴실"
                    :value="1"
                  ></v-radio>
                </v-radio-group>
              </td>
            </tr>
          </tbody>
        </v-table>
      </fieldset>

      <fieldset class="field-set">
        <h3 class="field-title mb-2">사용시간 경과 후 자동퇴실 처리</h3>
        <div class="field-box">
          <v-checkbox
            hide-details
            density="compact"
            color="secondary"
            label="손님키 제거 시 자동 퇴실처리"
            v-model="state.auto_check_out_key_out"
            :true-value="1"
            :false-value="0"
          ></v-checkbox>
          <v-checkbox
            hide-details
            density="compact"
            color="secondary"
            label="출입문이 열리면 자동 퇴실처리"
            v-model="state.auto_check_out_door_open"
            :true-value="1"
            :false-value="0"
          ></v-checkbox>
        </div>
      </fieldset>

      <fieldset class="field-set">
        <h3 class="field-title mb-2">인스펙트(객실점검) 사용 설정</h3>
        <div class="field-box">
          <v-radio-group
            v-model="state.inspect_use"
            hide-details
            density="compact"
            inline
            style="width: auto"
          >
            <v-radio
              color="secondary"
              label="퇴실 상태만 사용"
              :value="1"
            ></v-radio>
            <v-radio
              class="ml-2"
              color="secondary"
              label="항상 사용"
              :value="2"
            ></v-radio>
            <v-radio color="secondary" label="사용안함" :value="0"></v-radio>
          </v-radio-group>
          <div class="field-content color-secondary" style="width: 50%">
            (* 인스펙트는 마스터키가 있어야 사용 가능합니다.)
          </div>
        </div>
      </fieldset>

      <template v-if="state.inspect_use !== 0">
        <fieldset class="field-set">
          <h3 class="field-title mb-2">
            마스터키 제거 시 공실처리<span class="color-secondary ml-1"
              >(*퇴실 상태일때)</span
            >
          </h3>
          <div class="field-box">
            <v-radio-group
              v-model="state.master_key_out_type"
              hide-details
              density="compact"
              inline
              style="width: auto"
            >
              <v-radio
                color="secondary"
                label="대실만 사용"
                :value="1"
              ></v-radio>
              <v-radio
                class="ml-2"
                color="secondary"
                label="숙박만 사용"
                :value="2"
              ></v-radio>
              <v-radio
                color="secondary"
                label="대실/숙박 사용"
                :value="3"
              ></v-radio>
              <v-radio
                class="ml-2"
                color="secondary"
                label="사용안함"
                :value="0"
              ></v-radio>
            </v-radio-group>
          </div>
        </fieldset>
      </template>
      <template v-else>
        <fieldset class="field-set">
          <h3 class="field-title mb-2">
            청소키 제거 시 공실 처리<span class="color-secondary ml-1"
              >(*퇴실 상태일때)</span
            >
          </h3>
          <div class="field-box">
            <v-radio-group
              v-model="state.clean_key_out_type"
              hide-details
              density="compact"
              inline
              style="width: auto"
            >
              <v-radio
                color="secondary"
                label="대실만 사용"
                :value="1"
              ></v-radio>
              <v-radio
                class="ml-2"
                color="secondary"
                label="숙박만 사용"
                :value="2"
              ></v-radio>
              <v-radio
                color="secondary"
                label="대실/숙박 사용"
                :value="3"
              ></v-radio>
              <v-radio
                class="ml-2"
                color="secondary"
                label="사용안함"
                :value="0"
              ></v-radio>
            </v-radio-group>
          </div>
        </fieldset>
        <fieldset class="field-set">
          <h3 class="field-title mb-2">청소키 제거 시 무조건 공실 처리</h3>
          <div class="field-box">
            <v-radio-group
              v-model="state.clean_key_out_type_force"
              hide-details
              density="compact"
              inline
              style="width: auto"
            >
              <v-radio color="secondary" label="사용" :value="1"></v-radio>
              <v-radio
                class="ml-2"
                color="secondary"
                label="사용안함"
                :value="0"
              ></v-radio>
            </v-radio-group>
          </div>
        </fieldset>
      </template>
    </div>
    <!-- /1st sec -->

    <!-- 2nd sec -->
    <div class="mt-7">
      <div class="field-inner-box">
        <fieldset class="field-set ma-2">
          <h3 class="field-title my-1">대실 이용가능 시간 설정</h3>
          <div class="d-flex align-center" style="gap: 8px">
            <div class="input-counter">
              <NumberInput
                v-model="state.use_rent_begin"
                :up-down-config="hour24Config"
                :init-value="preferences.use_rent_begin"
                unit="시"
              ></NumberInput>
            </div>
            <div>~</div>
            <div class="input-counter">
              <NumberInput
                v-model="state.use_rent_end"
                :up-down-config="hour24Config"
                :init-value="preferences.use_rent_end"
                unit="시"
              ></NumberInput>
            </div>
          </div>
        </fieldset>

        <hr class="my-2" />

        <fieldset class="field-set ma-2">
          <h3 class="field-title mb-1">일일 매출 정산 시간 설정</h3>
          <div class="d-flex align-center" style="gap: 8px">
            <div class="input-counter" style="width: 100%">
              <NumberInput
                v-model="state.day_sale_end_time"
                :up-down-config="hour24Config"
                :init-value="preferences.day_sale_end_time"
                unit="시"
              ></NumberInput>
            </div>
          </div>
        </fieldset>

        <hr class="my-2" />

        <fieldset class="field-set ma-2">
          <h3 class="field-title mb-1">입실취소 가능 시간설정</h3>
          <div class="d-flex align-center">
            <div class="field-box-mini">
              <div class="field-content">체크인 후</div>
            </div>
            <div class="d-flex align-center">
              <div class="input-counter" style="width: 120px">
                <NumberInput
                  v-model="state.cancel_time"
                  :up-down-config="minuteConfig"
                  :init-value="preferences.cancel_time"
                  unit="분"
                ></NumberInput>
              </div>
            </div>
            <div class="field-box-mini">
              <div class="field-content">이내</div>
            </div>
          </div>
        </fieldset>

        <hr class="my-2" />

        <fieldset class="field-set ma-2">
          <h3 class="field-title mb-1">퇴실취소 가능 시간설정</h3>
          <div class="d-flex align-center">
            <div class="field-box-mini">
              <div class="field-content">퇴실 후</div>
            </div>
            <div class="d-flex align-center">
              <div class="input-counter" style="width: 120px">
                <NumberInput
                  v-model="state.check_out_cancle_time"
                  :up-down-config="minuteConfig"
                  :init-value="preferences.check_out_cancle_time"
                  unit="분"
                ></NumberInput>
              </div>
            </div>
            <div class="field-box-mini">
              <div class="field-content">이내</div>
            </div>
          </div>
        </fieldset>

        <hr class="my-2" />

        <fieldset class="field-set ma-2">
          <h3 class="field-title mb-1">
            손님키 제거 시 퇴실처리 지연 시간설정
          </h3>
          <div class="d-flex align-center">
            <div class="field-box-mini">
              <div class="field-content">제거 시</div>
            </div>
            <div class="d-flex align-center">
              <div class="input-counter" style="width: 120px">
                <NumberInput
                  v-model="state.user_key_out_delay_time"
                  :up-down-config="minuteConfig"
                  :init-value="preferences.user_key_out_delay_time"
                  unit="분"
                ></NumberInput>
              </div>
            </div>
            <div class="field-box-mini">
              <div class="field-content">후 처리</div>
            </div>
          </div>
        </fieldset>

        <hr class="my-2" />

        <fieldset class="field-set ma-2">
          <h3 class="field-title">객실이동 시 손님키 있는 객실</h3>
          <v-radio-group
            v-model="state.room_move_no_key"
            hide-details
            density="compact"
            inline
          >
            <v-radio color="secondary" label="포함" :value="0"></v-radio>
            <v-radio color="secondary" label="제외" :value="1"></v-radio>
          </v-radio-group>
        </fieldset>

        <hr class="my-2" />

        <fieldset class="field-set ma-2">
          <h3 class="field-title">객실 타입명 보기 설정</h3>
          <v-radio-group
            v-model="state.show_type_name"
            hide-details
            density="compact"
            inline
          >
            <v-radio color="secondary" label="숨기기" :value="0"></v-radio>
            <v-radio color="secondary" label="객실명 앞" :value="1"></v-radio>
            <v-radio color="secondary" label="객실명 뒤" :value="2"></v-radio>
          </v-radio-group>
        </fieldset>
      </div>
    </div>
    <!-- /2nd sec -->
  </div>
  <!-- //field-set -->
</template>

<style lang="scss" scoped>
.field-inner-box {
  height: 480px;
  border: 1px solid #d6dbe2;
  box-sizing: border-box;
  background-color: #fff;
}

.field-box-mini {
  background-color: #eff2f4;
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 28px;
  border: 1px solid #d6dbe2;
}

.field-content {
  width: 100%;
  text-align: center;
  font-size: 12px;
}
</style>

<script setup lang="ts">
import NumberInput from '@/components/compo/NumberInput.vue';
import Swal, { SweetAlertResult } from 'sweetalert2';
import { reactive, computed, watch, onMounted } from 'vue';
import { useStore } from 'vuex';
import { preferencesBiz } from '@/biz/preferencesBiz';
import { Preference } from '@/types';
import { dataBiz } from '@/biz/dataBiz';
import { viewUtil, UpDownConfigClass } from '@/utils/view-util';

// =========================================================
// 타입
// =========================================================
interface State {
  rent_time_am: number; //평일 오전 대실 시간
  rent_time_pm: number; //평일 오후 대실 시간
  rent_time_am_weekend: number; //주말 오전 대실 시간
  rent_time_pm_weekend: number; //주말 오후 대실 시간
  stay_time_type: number; //숙박 시간 타입 (0: 이용 시간기준, 1:퇴실 시간 기준)
  stay_time: number; //기본 숙박 시간
  stay_time_weekend: number; //주말 숙박 시간
  auto_check_in: number; //손님키 삽입 시 자동 입실 (0:사용안함, 1:대실만 사용, 2:숙박만 사용, 3:대실/숙박 사용)
  user_key_out_rent: number; //손님키 제거시 대실 설정 (0:외출, 1:퇴실)
  user_key_out_stay: number; //손님키 제거시 숙박 설정 (0:외출, 1:퇴실)
  auto_check_out_key_out: number; //사용 시간 경과 후 손님키 제거 시 자동 퇴실처리 (0: 사용안함,1:사용)
  auto_check_out_door_open: number; //사용 시간 경과 후 출입문이 열리면 자동 퇴실처리 (0: 사용안함,1:사용)
  inspect_use: number; //객실 인스펙트 사용 여부 (0: 사용 안함, 1: 퇴실 상태만 사용, 2: 항상 사용)
  master_key_out_type: number; //마스터키 제거 시 자동퇴실 및 공실 처리 여부 (0:사용안함, 1:대실, 2:숙박, 3:대실+숙박)
  clean_key_out_type: number; //청소키 제거 시 공실로 변경 여부 (0:사용안함, 1:대실, 2:숙박, 3:대실+숙박)
  clean_key_out_type_force: number; //청소키 제거 시 무조건 공실 처리 여부 (0:사용안함, 1:사용)
  use_rent_begin: number; //대실 가능 시작 시간
  use_rent_end: number; //대실 가능 종료 시간
  day_sale_end_time: number; //일일 매출 정산 시간 (24시간)
  cancel_time: number; //입실취소 활성화 유지 기간 (분)
  check_out_cancle_time: number; //퇴실 취소 가능 시간(분)
  user_key_out_delay_time: number; //손님키 삽입 후 바로 제거 시 상태 변경 딜레이 시간(분)  CCU 에 설정 해야함.
  room_move_no_key: number; //객실이동 시 손님키 있는 객실 제외 여부 (0:안함, 1:제외)
  show_type_name: number; //객실 타입명 보이기여부(0:숨기기, 1:보이기)
}

// =========================================================
// 선언
// =========================================================
const store = useStore();

// state.
const state = reactive<State>({
  rent_time_am: 0,
  rent_time_pm: 0,
  rent_time_am_weekend: 0,
  rent_time_pm_weekend: 0,
  stay_time_type: null,
  stay_time: 0,
  stay_time_weekend: 0,
  auto_check_in: null,
  user_key_out_rent: null,
  user_key_out_stay: null,
  auto_check_out_key_out: null,
  auto_check_out_door_open: null,
  master_key_out_type: null,
  inspect_use: 0,
  clean_key_out_type: null,
  clean_key_out_type_force: null,
  use_rent_begin: 0,
  use_rent_end: 0,
  day_sale_end_time: 0,
  cancel_time: 0,
  check_out_cancle_time: 0,
  user_key_out_delay_time: 0,
  room_move_no_key: null,
  show_type_name: null,
});

// upDownConfig.
const hour12Config = new UpDownConfigClass(0, 12, 1);
const hour24Config = new UpDownConfigClass(0, 24, 1);
const minuteConfig = new UpDownConfigClass(0, 60, 5, true);

const title = '운영규칙 설정';

// =========================================================
// 초기 조회
// =========================================================

// =========================================================
// COMPUTED
// =========================================================
const preferences = computed<Preference>(() =>
  preferencesBiz.getterPreference(store)
);

// =========================================================
// WATCH
// =========================================================
watch(
  () => preferences.value,
  () => {
    initData();
  }
);

// =========================================================
// 기능
// =========================================================
const initData = () => {
  state.rent_time_am = preferences.value.rent_time_am;
  state.rent_time_pm = preferences.value.rent_time_pm;
  state.rent_time_am_weekend = preferences.value.rent_time_am_weekend;
  state.rent_time_pm_weekend = preferences.value.rent_time_pm_weekend;
  state.stay_time_type = preferences.value.stay_time_type;
  state.stay_time = preferences.value.stay_time;
  state.stay_time_weekend = preferences.value.stay_time_weekend;
  state.auto_check_in = preferences.value.auto_check_in;
  state.user_key_out_rent = preferences.value.user_key_out_rent;
  state.user_key_out_stay = preferences.value.user_key_out_stay;
  state.auto_check_out_key_out = preferences.value.auto_check_out_key_out;
  state.auto_check_out_door_open = preferences.value.auto_check_out_door_open;
  state.inspect_use = preferences.value.inspect_use;
  state.clean_key_out_type = preferences.value.clean_key_out_type;
  state.clean_key_out_type_force = preferences.value.clean_key_out_type_force;
  state.master_key_out_type = preferences.value.master_key_out_type;
  state.use_rent_begin = preferences.value.use_rent_begin;
  state.use_rent_end = preferences.value.use_rent_end;
  state.day_sale_end_time = preferences.value.day_sale_end_time;
  state.cancel_time = preferences.value.cancel_time;
  state.check_out_cancle_time = preferences.value.check_out_cancle_time;
  state.user_key_out_delay_time = preferences.value.user_key_out_delay_time;
  state.room_move_no_key = preferences.value.room_move_no_key;
  state.show_type_name = preferences.value.show_type_name;
};

// =========================================================
// 사용자 액션
// =========================================================
const doUpdateSetting = async () => {
  let isGo = false;

  if (state.use_rent_begin >= state.use_rent_end) {
    Swal.fire({
      icon: 'info',
      title: title,
      html: `대실 이용가능 시간의 [시작 시간]은 [종료 시간]보다 작아야 합니다.`,
      showConfirmButton: true,
      confirmButtonText: '확인',
    });
    return;
  }

  // 1. 확인.
  if (!dataBiz.hasChanged(state, preferences.value)) {
    viewUtil.swalAlertNoChange(title);
    return;
  }

  await Swal.fire({
    icon: 'question',
    title: title,
    html: `${title}을 변경 하시겠습니까?`,
    showCancelButton: true,
    showConfirmButton: true,
    cancelButtonText: '취소',
    confirmButtonText: '확인',
  }).then((result: SweetAlertResult) => {
    isGo = result.isConfirmed;
  });

  if (isGo) {
    // 2. 데이터 설정.
    const readyData = {
      id: preferences.value.id,
      place_id: preferences.value.place_id,

      rent_time_am: state.rent_time_am,
      rent_time_pm: state.rent_time_pm,
      rent_time_am_weekend: state.rent_time_am_weekend,
      rent_time_pm_weekend: state.rent_time_pm_weekend,
      stay_time_type: state.stay_time_type,
      stay_time: state.stay_time,
      stay_time_weekend: state.stay_time_weekend,
      auto_check_in: state.auto_check_in,
      user_key_out_rent: state.user_key_out_rent,
      user_key_out_stay: state.user_key_out_stay,
      auto_check_out_key_out: state.auto_check_out_key_out,
      auto_check_out_door_open: state.auto_check_out_door_open,
      inspect_use: state.inspect_use,
      clean_key_out_type: state.clean_key_out_type,
      clean_key_out_type_force: state.clean_key_out_type_force,
      master_key_out_type: state.master_key_out_type,
      use_rent_begin: state.use_rent_begin,
      use_rent_end: state.use_rent_end,
      day_sale_end_time: state.day_sale_end_time,
      cancel_time: state.cancel_time,
      check_out_cancle_time: state.check_out_cancle_time,
      user_key_out_delay_time: state.user_key_out_delay_time,
      room_move_no_key: state.room_move_no_key,
      show_type_name: state.show_type_name,
    };

    const sendData = dataBiz.extractChangedData(readyData, preferences.value); // 변경데이터만 추출.

    // 3. 전송.
    let result = false;
    await preferencesBiz.setPreference(store, sendData, (success: boolean) => {
      result = success;
    });

    // 4. 결과 안내.
    if (result) {
      Swal.fire({
        icon: 'success',
        title: title,
        html: `${title}이 설정 되었습니다.`,
        showConfirmButton: true,
        confirmButtonText: '확인',
      });
    } else {
      Swal.fire({
        icon: 'error',
        title: title,
        html: `${title} 설정에 실패 하였습니다. 다시 시도해 주세요.`,
        showConfirmButton: true,
        confirmButtonText: '확인',
      });
    }
  }
};

// =========================================================
// 정보 & onMounted
// =========================================================
onMounted(() => {
  if (preferences.value.id) {
    initData();
  }
});

// 내보내기.
defineExpose({
  initData,
  doUpdateSetting,
});
</script>
