<template>
  <!-- field-set -->
  <fieldset class="field-set">
    <h3 class="field-title mb-2">객실 전원 설정</h3>
    <div class="field-box">
      <v-radio-group
        v-model="state.main_power_type"
        hide-details
        density="compact"
        inline
      >
        <v-radio color="secondary" label="사용" :value="1"></v-radio>
        <v-radio color="secondary" label="사용안함" :value="0"></v-radio>
      </v-radio-group>
    </div>
  </fieldset>
  <fieldset class="field-set">
    <h3 class="field-title mb-2">공실 시 고객키 삽입 전원차단 타이머</h3>
    <v-table>
      <colgroup>
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
      </colgroup>
      <tbody>
        <tr>
          <th class="text-center" style="width: 120px">고객카드 삽입 후</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter" style="width: 100px">
                <NumberInput
                  v-model="state.no_sale_user_key_in_power_off_time"
                  :up-down-config="valueConfig"
                  :init-value="preferences.no_sale_user_key_in_power_off_time"
                  :editable="true"
                  :disabled="notUseMainPower"
                ></NumberInput>
              </div>
              <div class="ml-2">
                분 후 전원 차단
                <span class="color-secondary ml-2">(※0분 이면 사용안함)</span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </v-table>
  </fieldset>

  <!-- //field-set -->
</template>

<script setup lang="ts">
import NumberInput from '@/components/compo/NumberInput.vue';
import Swal, { SweetAlertResult } from 'sweetalert2';
import { ref, reactive, computed, watch, onMounted } from 'vue';
import { useStore } from 'vuex';
import { preferencesBiz } from '@/biz/preferencesBiz';
import { Preference } from '@/types';
import { dataBiz } from '@/biz/dataBiz';
import { viewUtil, UpDownConfigClass } from '@/utils/view-util';

// =========================================================
// 타입
// =========================================================
interface State {
  main_power_type: number;
  no_sale_user_key_in_power_off_time: number;
}

// =========================================================
// 선언
// =========================================================
const store = useStore();

// state.
const state = reactive<State>({
  main_power_type: 0,
  no_sale_user_key_in_power_off_time: 0,
});

// upDownConfig.
const valueConfig = new UpDownConfigClass(0, null, 1);

const title = '전원 설정';

// =========================================================
// 초기 조회
// =========================================================

// =========================================================
// COMPUTED
// =========================================================
const preferences = computed<Preference>(() =>
  preferencesBiz.getterPreference(store)
);

const notUseMainPower = computed<boolean>(() => {
  const result = state.main_power_type === 0;
  if (result) {
    // 사용안함시 값 초기화.
    state.no_sale_user_key_in_power_off_time =
      preferences.value.no_sale_user_key_in_power_off_time;
  }
  return result;
});

// =========================================================
// WATCH
// =========================================================
watch(
  () => preferences.value,
  () => {
    initData();
  }
);

watch(
  () => state.no_sale_user_key_in_power_off_time,
  () => {
    if (state.no_sale_user_key_in_power_off_time === 0) {
      // 0이면 사용안함 설정.
      state.main_power_type = 0;
    }
  }
);

// =========================================================
// 기능
// =========================================================
const initData = () => {
  state.main_power_type = preferences.value.main_power_type;
  state.no_sale_user_key_in_power_off_time =
    preferences.value.no_sale_user_key_in_power_off_time;
};

// =========================================================
// 사용자 액션
// =========================================================
const doUpdateSetting = async () => {
  let isGo = false;

  // 1. 확인.
  if (!dataBiz.hasChanged(state, preferences.value)) {
    viewUtil.swalAlertNoChange(title);
    return;
  }

  await Swal.fire({
    icon: 'question',
    title: title,
    html: `${title}을 변경 하시겠습니까?`,
    showCancelButton: true,
    showConfirmButton: true,
    cancelButtonText: '취소',
    confirmButtonText: '확인',
  }).then((result: SweetAlertResult) => {
    isGo = result.isConfirmed;
  });

  if (isGo) {
    // 2. 데이터 설정.
    const readyData = {
      id: preferences.value.id,
      place_id: preferences.value.place_id,
      main_power_type: state.main_power_type,
      no_sale_user_key_in_power_off_time:
        state.no_sale_user_key_in_power_off_time,
    };

    const sendData = dataBiz.extractChangedData(readyData, preferences.value); // 변경데이터만 추출.

    // 3. 전송.
    let result = false;
    await preferencesBiz.setPreference(store, sendData, (success: boolean) => {
      result = success;
    });

    // 4. 결과 안내.
    if (result) {
      Swal.fire({
        icon: 'success',
        title: title,
        html: `${title}이 설정 되었습니다.`,
        showConfirmButton: true,
        confirmButtonText: '확인',
      });
    } else {
      Swal.fire({
        icon: 'error',
        title: title,
        html: `${title} 설정에 실패 하였습니다. 다시 시도해 주세요.`,
        showConfirmButton: true,
        confirmButtonText: '확인',
      });
    }
  }
};

// =========================================================
// 정보 & onMounted
// =========================================================
onMounted(() => {
  if (preferences.value.id) {
    initData();
  }
});

// 내보내기.
defineExpose({
  initData,
  doUpdateSetting,
});
</script>
