<template>
  <!-- field-set -->
  <fieldset class="field-set">
    <v-table>
      <tbody>
        <tr>
          <th class="text-center" style="width: 150px">
            포인트 적립/사용 설정
          </th>
          <td>
            <v-radio-group
              v-model="state.point_use_type"
              hide-details
              density="compact"
              inline
            >
              <v-radio color="secondary" label="사용" :value="1"></v-radio>
              <v-radio
                class="ml-2"
                color="secondary"
                label="사용안함"
                :value="0"
              ></v-radio>
            </v-radio-group>
          </td>
        </tr>
      </tbody>
    </v-table>
  </fieldset>

  <fieldset class="field-set">
    <v-table>
      <tbody>
        <tr>
          <th class="text-center" style="width: 150px">
            포인트 사용 옵션 설정
          </th>
          <td>
            <v-radio-group
              v-model="state.point_pay_type"
              hide-details
              density="compact"
              inline
            >
              <v-radio
                color="secondary"
                label="포인트 단독 사용 (포인트로만 결제 가능)"
                :value="1"
              ></v-radio>
              <v-radio
                class="ml-2"
                color="secondary"
                label="현금/카드 혼합 사용 (잔여 포인트 사용 가능)"
                :value="2"
              ></v-radio>
            </v-radio-group>
          </td>
        </tr>
      </tbody>
    </v-table>
  </fieldset>

  <fieldset class="field-set">
    <h3 class="field-title mb-2">적립 포인트 비율 설정</h3>
    <v-table>
      <tbody>
        <tr>
          <th class="text-center" style="width: 150px">현금 결제 금액의</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter" style="width: 120px">
                <NumberInput
                  v-model="state.cash_point_rate"
                  :up-down-config="valueConfig"
                  :init-value="preferences.cash_point_rate"
                  unit="%"
                ></NumberInput>
              </div>
              <div class="ml-2">적립</div>
            </div>
          </td>
          <th class="text-center" style="width: 150px">카드 결제 금액의</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter" style="width: 120px">
                <NumberInput
                  v-model="state.card_point_rate"
                  :up-down-config="valueConfig"
                  :init-value="preferences.card_point_rate"
                  unit="%"
                ></NumberInput>
              </div>
              <div class="ml-2">적립</div>
            </div>
          </td>
        </tr>
        <tr>
          <th class="text-center" style="width: 150px">무인 결제 시</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter" style="width: 120px">
                <NumberInput
                  v-model="state.isg_point_rate"
                  :up-down-config="valueConfig"
                  :init-value="preferences.isg_point_rate"
                  unit="%"
                ></NumberInput>
              </div>
              <div class="ml-2">추가 적립</div>
            </div>
          </td>
          <th class="text-center" style="width: 150px">예약 결제 시</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter" style="width: 120px">
                <NumberInput
                  v-model="state.reserv_point_rate"
                  :up-down-config="valueConfig"
                  :init-value="preferences.reserv_point_rate"
                  unit="%"
                ></NumberInput>
              </div>
              <div class="ml-2">추가 적립</div>
            </div>
          </td>
        </tr>
      </tbody>
    </v-table>
  </fieldset>
  <fieldset class="field-set">
    <h3 class="field-title mb-2">포인트 적립 시 휴대번호 미입력 알림</h3>
    <div class="field-box">
      <v-radio-group
        v-model="state.point_check_phone"
        hide-details
        density="compact"
        inline
      >
        <v-radio color="secondary" label="사용" :value="1"></v-radio>
        <v-radio color="secondary" label="사용안함" :value="0"></v-radio>
      </v-radio-group>
    </div>
  </fieldset>

  <!-- //field-set -->
</template>

<script setup lang="ts">
import NumberInput from '@/components/compo/NumberInput.vue';
import Swal, { SweetAlertResult } from 'sweetalert2';
import { reactive, computed, watch, onMounted } from 'vue';
import { useStore } from 'vuex';
import { preferencesBiz } from '@/biz/preferencesBiz';
import { Preference } from '@/types';
import { dataBiz } from '@/biz/dataBiz';
import { viewUtil, UpDownConfigClass } from '@/utils/view-util';

// =========================================================
// 타입
// =========================================================
interface State {
  point_use_type: number; //포인트 사용 타입 (0:현금/카드 혼합사용, 1:포인트 단독사용(객실요금 이상 사용))
  point_pay_type: number; //포인트 사용 옵션 설정 (1:포인트 단독사용, 2:현금/카드 혼합사용)
  cash_point_rate: number; //현금 결제 시 적립 포인트율
  card_point_rate: number; //카드 결제 시 적립 포인트율
  isg_point_rate: number; //무인 판매 시 적립 포인트율
  reserv_point_rate: number; //예약 시 적립 포인트율
  point_check_phone: number; //체크인 시 휴대폰번호 확인 알림 (0:사용안함, 1:사용)
}

// =========================================================
// 선언
// =========================================================
const store = useStore();

// state.
const state = reactive<State>({
  point_use_type: null,
  point_pay_type: null,
  cash_point_rate: 0,
  card_point_rate: 0,
  isg_point_rate: 0,
  reserv_point_rate: 0,
  point_check_phone: null,
});

// upDownConfig.
const valueConfig = new UpDownConfigClass(0, 50, 1);

const title = '포인트 설정';

// =========================================================
// 초기 조회
// =========================================================

// =========================================================
// COMPUTED
// =========================================================
const preferences = computed<Preference>(() =>
  preferencesBiz.getterPreference(store)
);

// =========================================================
// WATCH
// =========================================================
watch(
  () => preferences.value,
  () => {
    initData();
  }
);

// =========================================================
// 기능
// =========================================================
const initData = () => {
  state.point_use_type = preferences.value.point_use_type;
  state.point_pay_type = preferences.value.point_pay_type;
  state.cash_point_rate = preferences.value.cash_point_rate;
  state.card_point_rate = preferences.value.card_point_rate;
  state.isg_point_rate = preferences.value.isg_point_rate;
  state.reserv_point_rate = preferences.value.reserv_point_rate;
  state.point_check_phone = preferences.value.point_check_phone;
};

// =========================================================
// 사용자 액션
// =========================================================
const doUpdateSetting = async () => {
  let isGo = false;

  // 1. 확인.
  if (!dataBiz.hasChanged(state, preferences.value)) {
    viewUtil.swalAlertNoChange(title);
    return;
  }

  await Swal.fire({
    icon: 'question',
    title: title,
    html: `${title}을 변경 하시겠습니까?`,
    showCancelButton: true,
    showConfirmButton: true,
    cancelButtonText: '취소',
    confirmButtonText: '확인',
  }).then((result: SweetAlertResult) => {
    isGo = result.isConfirmed;
  });

  if (isGo) {
    // 2. 데이터 설정.
    const readyData = {
      id: preferences.value.id,
      place_id: preferences.value.place_id,

      point_use_type: state.point_use_type,
      point_pay_type: state.point_pay_type,
      cash_point_rate: state.cash_point_rate,
      card_point_rate: state.card_point_rate,
      isg_point_rate: state.isg_point_rate,
      reserv_point_rate: state.reserv_point_rate,
      point_check_phone: state.point_check_phone,
    };

    const sendData = dataBiz.extractChangedData(readyData, preferences.value); // 변경데이터만 추출.

    // 3. 전송.
    let result = false;
    await preferencesBiz.setPreference(store, sendData, (success: boolean) => {
      result = success;
    });

    // 4. 결과 안내.
    if (result) {
      Swal.fire({
        icon: 'success',
        title: title,
        html: `${title}이 설정 되었습니다.`,
        showConfirmButton: true,
        confirmButtonText: '확인',
      });
    } else {
      Swal.fire({
        icon: 'error',
        title: title,
        html: `${title} 설정에 실패 하였습니다. 다시 시도해 주세요.`,
        showConfirmButton: true,
        confirmButtonText: '확인',
      });
    }
  }
};

// =========================================================
// 정보 & onMounted
// =========================================================
onMounted(() => {
  if (preferences.value.id) {
    initData();
  }
});

// 내보내기.
defineExpose({
  initData,
  doUpdateSetting,
});
</script>
