<template>
  <!-- field-set -->
  <fieldset class="field-set">
    <h3 class="field-title mb-2">예약 숙박 입실가능 시간</h3>
    <v-table>
      <tbody>
        <tr>
          <th class="text-center" style="width: 100px">체크인 시간</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter" style="width: 120px">
                <HourInput
                  v-model="preCheckInTimeStay"
                  :init-time="originPreCheckInTimeStay"
                  unit="시간"
                ></HourInput>
              </div>
              <div class="input-counter ml-2" style="width: 120px">
                <MinuteInput
                  v-model="preCheckInTimeStay"
                  :init-time="originPreCheckInTimeStay"
                ></MinuteInput>
              </div>
              <div class="ml-2">전 부터 입실 가능</div>
            </div>
          </td>
        </tr>
      </tbody>
    </v-table>
  </fieldset>

  <fieldset class="field-set">
    <h3 class="field-title mb-2">예약 화면표시 일자 설정</h3>
    <v-table>
      <tbody>
        <tr>
          <th class="text-center" style="width: 100px">체크인 시간</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter" style="width: 120px">
                <HourInput
                  v-model="preCheckInTimeRent"
                  :init-time="originPreCheckInTimeRent"
                  unit="시간"
                ></HourInput>
              </div>
              <div class="input-counter ml-2" style="width: 120px">
                <MinuteInput
                  v-model="preCheckInTimeRent"
                  :init-time="originPreCheckInTimeRent"
                ></MinuteInput>
              </div>
              <div class="ml-2">전 부터 입실 가능</div>
            </div>
          </td>
        </tr>
      </tbody>
    </v-table>
  </fieldset>

  <fieldset class="field-set">
    <h3 class="field-title mb-2">예약 화면표시 일자 설정</h3>
    <v-table>
      <tbody>
        <tr>
          <th class="text-center" style="width: 100px">체크인 시간</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter" style="width: 120px">
                <NumberInput
                  v-model="state.reserv_notice_day"
                  :up-down-config="valueConfig"
                  :init-value="preference?.reserv_notice_day"
                  unit="일"
                ></NumberInput>
              </div>
              <div class="ml-2">전</div>
              <div class="ml-2 color-secondary">
                ({{
                  dayjs()
                    .add(state.reserv_notice_day, 'day')
                    .format('YYYY년 MM월 DD일 / HH시 mm분')
                }}
                이내 표시됩니다.)
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </v-table>
  </fieldset>

  <fieldset class="field-set">
    <h3 class="field-title mb-2">기타설정</h3>
    <v-table>
      <tbody>
        <tr>
          <th class="text-center">예약 객실 정리시간(청소)</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter" style="width: 120px">
                <NumberInput
                  v-model="state.pre_check_in_time_clean"
                  :up-down-config="valueConfig"
                  :init-value="preference?.pre_check_in_time_clean"
                  unit="분"
                ></NumberInput>
              </div>
            </div>
          </td>
          <th class="text-center">예약 시 객실 자동배정</th>
          <td>
            <v-radio-group
              v-model="state.reserv_auto_assign_room"
              hide-details
              density="compact"
              inline
            >
              <v-radio color="secondary" label="사용" :value="1"></v-radio>
              <v-radio
                class="ml-2"
                color="secondary"
                label="사용안함"
                :value="0"
              ></v-radio>
            </v-radio-group>
          </td>
          <th class="text-center">예약번호 QR코드 발송 여부</th>
          <td>
            <template v-if="subscribeQR">
              <v-radio-group
                v-model="state.reserv_num_send_qr_code"
                hide-details
                density="compact"
                inline
              >
                <v-radio color="secondary" label="사용" :value="1"></v-radio>
                <v-radio
                  class="ml-2"
                  color="secondary"
                  label="사용안함"
                  :value="0"
                ></v-radio>
              </v-radio-group>
            </template>
            <template v-else>
              <div class="color-secondary">미구독 상태</div>
            </template>
          </td>
        </tr>
      </tbody>
    </v-table>
  </fieldset>

  <!-- //field-set -->
</template>

<script setup lang="ts">
import NumberInput from '@/components/compo/NumberInput.vue';
import HourInput from '@/components/compo/HourInput.vue';
import MinuteInput from '@/components/compo/MinuteInput.vue';
import Swal, { SweetAlertResult } from 'sweetalert2';
import dayjs from 'dayjs';
import { ref, reactive, computed, watch, onMounted } from 'vue';
import { useStore } from 'vuex';
import { preferencesBiz } from '@/biz/preferencesBiz';
import { Subscribe, PlaceSubscribe, Preference } from '@/types';
import { dataBiz } from '@/biz/dataBiz';
import { subsBiz } from '@/biz/subsBiz';
import { placeBiz } from '@/biz/placeBiz';
import { viewUtil, UpDownConfigClass } from '@/utils/view-util';
import { CheckSubscribe } from '@/utils/subscribe-util';

// =========================================================
// 타입
// =========================================================
interface State {
  can_use_check_in_time: string; //숙박 사전 체크인 시간 (입실 시간 대비 00시 00분)
  pre_check_in_time_rent: string; //대실 사전 체크인 시간 (입실 시간 대비 00시 00분)
  pre_check_in_time_clean: number; //예약 객실 청소 시간(분)
  reserv_notice_day: number; //객실화면에 표시할 예약의 일자 범위(1~999 일 이내)
  reserv_auto_assign_room: number; //예약 시 객실 자동 배정 (0: 사용안함, 1:사용)
  reserv_num_send_qr_code: number; //예약번호 QR코드 발송 여부 (0:안함, 1:사용)
  ota_place_name_1: string; //야놀자에 등록된 업소명 (예약문자 자동 연동시 이글 업소명과 매핑 시 사용)
  ota_place_name_2: string; //여기어때에 등록된 업소명 (예약문자 자동 연동시 이글 업소명과 매핑 시 사용)
  ota_place_name_3: string; //네이버에 등록된 업소명 (예약문자 자동 연동시 이글 업소명과 매핑 시 사용)
}

// =========================================================
// 선언
// =========================================================
const store = useStore();

const user = store.getters['user'];

// state.
const state = reactive<State>({
  can_use_check_in_time: null,
  pre_check_in_time_rent: null,
  pre_check_in_time_clean: 10,
  reserv_notice_day: 1,
  reserv_auto_assign_room: 0,
  reserv_num_send_qr_code: 0,
  ota_place_name_1: null,
  ota_place_name_2: null,
  ota_place_name_3: null,
});

// upDownConfig.
const valueConfig = new UpDownConfigClass(0, null, 1);

const subscribeQR = ref<boolean>(false);

const title = '예약설정';

// =========================================================
// 초기 조회
// =========================================================
const init = async () => {
  await subsBiz.subscribes(store);
  await placeBiz.placeSubscribes(store, user.place_id);
};

// =========================================================
// COMPUTED
// =========================================================
const preference = computed<Preference>(() =>
  preferencesBiz.getterPreference(store)
);

const subscribes = computed<Subscribe[]>(() => subsBiz.getterSubscribes(store));

const placeSubscribes = computed<PlaceSubscribe[]>(() =>
  placeBiz.getterPlaceSubscribes(store)
);

const preCheckInTimeStay = computed<dayjs.Dayjs>({
  get() {
    if (
      state.can_use_check_in_time &&
      state.can_use_check_in_time.indexOf(':') > -1
    ) {
      const hm = state.can_use_check_in_time.split(':');
      return dayjs()
        .hour(Number(hm[0]))
        .minute(Number(hm[1]))
        .second(0)
        .millisecond(0);
    } else {
      return dayjs().hour(0).minute(0).second(0).millisecond(0);
    }
  },
  set(value: dayjs.Dayjs) {
    state.can_use_check_in_time = value.format('HH:mm');
  },
});

const originPreCheckInTimeStay = computed<dayjs.Dayjs>(() => {
  if (
    preference.value?.can_use_check_in_time &&
    preference.value.can_use_check_in_time.indexOf(':') > -1
  ) {
    const hm = preference.value?.can_use_check_in_time.split(':');
    return dayjs()
      .hour(Number(hm[0]))
      .minute(Number(hm[1]))
      .second(0)
      .millisecond(0);
  } else {
    return dayjs().hour(0).minute(0).second(0).millisecond(0);
  }
});

const preCheckInTimeRent = computed<dayjs.Dayjs>({
  get() {
    if (
      state.pre_check_in_time_rent &&
      state.pre_check_in_time_rent.indexOf(':') > -1
    ) {
      const hm = state.pre_check_in_time_rent.split(':');
      return dayjs()
        .hour(Number(hm[0]))
        .minute(Number(hm[1]))
        .second(0)
        .millisecond(0);
    } else {
      return dayjs().hour(0).minute(0).second(0).millisecond(0);
    }
  },
  set(value: dayjs.Dayjs) {
    state.pre_check_in_time_rent = value.format('HH:mm');
  },
});

const originPreCheckInTimeRent = computed<dayjs.Dayjs>(() => {
  if (
    preference.value?.pre_check_in_time_rent &&
    preference.value.pre_check_in_time_rent.indexOf(':') > -1
  ) {
    const hm = preference.value?.pre_check_in_time_rent.split(':');
    return dayjs()
      .hour(Number(hm[0]))
      .minute(Number(hm[1]))
      .second(0)
      .millisecond(0);
  } else {
    return dayjs().hour(0).minute(0).second(0).millisecond(0);
  }
});

// const notUseMainPower = computed<boolean>(() => {
//   const result = state.main_power_type === 0;
//   if (result) { // 사용안함시 값 초기화.
//     state.no_sale_user_key_in_power_off_time = preference.value.no_sale_user_key_in_power_off_time;
//   }
//   return result;
// });

// =========================================================
// WATCH
// =========================================================
watch(
  () => preference.value,
  () => {
    initData();
  }
);

// =========================================================
// 기능
// =========================================================
const initData = () => {
  if (preference.value !== undefined) {
    state.can_use_check_in_time = preference.value.can_use_check_in_time;
    state.pre_check_in_time_rent = preference.value.pre_check_in_time_rent;
    state.pre_check_in_time_clean = preference.value.pre_check_in_time_clean;
    state.reserv_notice_day = preference.value.reserv_notice_day;
    state.reserv_auto_assign_room = preference.value.reserv_auto_assign_room;
    state.reserv_num_send_qr_code = preference.value.reserv_num_send_qr_code;
    state.ota_place_name_1 = preference.value.ota_place_name_1;
    state.ota_place_name_2 = preference.value.ota_place_name_2;
    state.ota_place_name_3 = preference.value.ota_place_name_3;
  }
};

// =========================================================
// 사용자 액션
// =========================================================
const doUpdateSetting = async () => {
  let isGo = false;

  // 1. 확인.
  if (!dataBiz.hasChanged(state, preference.value)) {
    viewUtil.swalAlertNoChange(title);
    return;
  }

  await Swal.fire({
    icon: 'question',
    title: title,
    html: `${title}을 변경 하시겠습니까?`,
    showCancelButton: true,
    showConfirmButton: true,
    cancelButtonText: '취소',
    confirmButtonText: '확인',
  }).then((result: SweetAlertResult) => {
    isGo = result.isConfirmed;
  });

  if (isGo) {
    // 2. 데이터 설정.
    const readyData = {
      id: preference.value.id,
      place_id: preference.value.place_id,
      can_use_check_in_time: state.can_use_check_in_time,
      pre_check_in_time_rent: state.pre_check_in_time_rent,
      pre_check_in_time_clean: state.pre_check_in_time_clean,
      reserv_notice_day: state.reserv_notice_day,
      reserv_auto_assign_room: state.reserv_auto_assign_room,
      reserv_num_send_qr_code: state.reserv_num_send_qr_code,
      ota_place_name_1: state.ota_place_name_1,
      ota_place_name_2: state.ota_place_name_2,
      ota_place_name_3: state.ota_place_name_3,
    };

    const sendData = dataBiz.extractChangedData(readyData, preference.value);
    console.log(`*** doSetClean - ${title} 전송 전 데이터확인.`, sendData);

    // 3. 전송.
    let result = false;
    await preferencesBiz.setPreference(store, sendData, (success: boolean) => {
      result = success;
    });

    // 4. 결과 안내.
    if (result) {
      Swal.fire({
        icon: 'success',
        title: title,
        html: `${title}이 설정 되었습니다.`,
        showConfirmButton: true,
        confirmButtonText: '확인',
      });
    } else {
      Swal.fire({
        icon: 'error',
        title: title,
        html: `${title} 설정에 실패 하였습니다. 다시 시도해 주세요.`,
        showConfirmButton: true,
        confirmButtonText: '확인',
      });
    }
  }
};

// =========================================================
// 정보 & onMounted
// =========================================================
onMounted(() => {
  (async () => {
    await init();
  })();
  initData();
  subscribeQR.value = CheckSubscribe({
    subscribes: subscribes.value,
    placeSubscribes: placeSubscribes.value,
    code: '31',
  });
});

// 내보내기.
defineExpose({
  initData,
  doUpdateSetting,
});
</script>
