<template>
  <!-- field-set -->
  <fieldset class="field-set">
    <h3 class="field-title mb-2">구독목록 ({{ placeSubscribes.length }}개)</h3>
    <!-- table -->
    <v-table fixed-header height="248" class="overflow-y-auto text-center dense-dark mt-2">
      <colgroup>
        <col />
        <col />
      </colgroup>
      <thead>
        <tr>
          <th style="width: 45px;">No</th>
          <th style="width: auto;">서비스명</th>
          <th style="width: 90px;">결재요금</th>
          <th style="width: 55px;">구독수</th>
          <th style="width: 90px;">결제주기</th>
          <th style="width: 110px;">구독 시작일</th>
          <th style="width: 110px;">구독 종료일
            <v-tooltip location="top" text="구독 종료일 | 구독 취소일 | 평가판 종료일">
              <template v-slot:activator="{ props }">
                <v-icon v-bind="props">mdi-information-outline</v-icon>
              </template>
            </v-tooltip>
          </th>
          <!-- <th>평가판 만료일</th> -->
          <th style="width: 90px;">구독상태</th>
          <th style="width: 80px;">구독취소</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item, index in placeSubscribes" 
          :class="{ active: viewState.rowIndex === index }" 
          @click="doClickRow(index)"
        >
          <td>{{ index + 1  }}</td>
          <td>{{ item.name }}</td>
          <td><div class="pt-1" style="text-align: end;">{{ item.pay_yn === 'Y' ? viewUtil.comma(item.price) : '무료' }}</div></td>
          <td>{{ item.license_yn === 'N' ? '단일' : item.license_copy }}</td>
          <td>{{ enumName(subscribe.PayTerm, item.pay_type) }} {{ dayjs(item.begin_date).format('D일') }}</td>
          <td>{{ viewUtil.fmtDate(item.begin_date) }}</td>
          <td :class="item.subscribe_state === 1 ? 'color-secondary' : ''">
            {{ viewUtil.fmtDate(item.end_date) }}
          </td>
          <td :class="stateColor(item)">
            {{ isTrial(item) ? '평가판' : enumName(subscribe.State, item.subscribe_state) }}
          </td>
          <td>
            <v-btn v-if="item.subscribe_state === subscribe.State.SUBSCRIBE" :color="viewState.rowIndex === index ? 'secondary' : 'grey'" size="small" style="min-width: 50px; height: 20px;"
              :disabled="!hasMasterLevel || viewState.rowIndex !== index"
              @click="doCancelItem(item, $event)"
            >취소</v-btn>
          </td>
        </tr>
      </tbody>
    </v-table>
    <!-- //table -->
  </fieldset>

  <fieldset class="field-set">
    <div class="field-inner d-flex" style="justify-content: end;">
      <v-btn class="mb-2 pr-3" variant="outlined" size="small" style="width: 80px;"
        :color="viewState.isNewReady ? 'secondary' : 'grey'"
        :prepend-icon="viewState.isNewReady ? 'mdi-checkbox-marked-outline' : 'mdi-plus-thick'"
        :disabled="!hasMasterLevel"
        @click="doNewReady(!viewState.isNewReady)"
      >
        <template v-slot:prepend>
          <v-icon class="pa-0 ma-0 pl-2"></v-icon>
        </template>
        구독추가
      </v-btn>
    </div>
  </fieldset>

  <fieldset class="field-set mt-0">
    <!-- 미구독 서비스 목록 -->
    <div class="d-flex">
      <div class="mr-4" style="width: 250px;">
        <h3 class="field-title mb-2">미구독 서비스 목록 ({{ notUsedSubscribes.length }}개)</h3>
        <v-card density="compact" height="190" :border="0" :disabled="!viewState.isNewReady">
          <v-list :lines="false" density="compact" class="pl-2 pr-2">
            <v-list-item
              v-for="(item, index) in notUsedSubscribes"
              :key="index"
              :value="item.id"
              color="primary"
              rounded="lg"
              @click="doChoiceSubscribe(item)"
            >
              <template v-slot:prepend>
                {{ index + 1 }}.&nbsp;
              </template>
              <v-list-item-title v-text="item.name" style="font-size: 0.8rem;"></v-list-item-title>
            </v-list-item>
          </v-list>
        </v-card>
      </div>
      <!--// 미구독 서비스 목록 -->

      <!-- 구독신청/구독정보 -->
      <div>
        <h3 class="field-title mb-2">{{ viewState.isNewReady ? '신규신청' : '구독정보' }}</h3>
        <fieldset class="field-set mt-2">
          <v-table style="width: 640px;">
            <tbody>
              <tr>
                <th class="text-center" style="width: 120px;">구독 서비스명</th>
                <td style="width: 220px;">
                  <div class="field-content color-primary" style="font-weight: 500;">
                    {{ dataState.name }}
                  </div>
                </td>
                <th class="text-center" style="width: 120px;">기본 요금</th>
                <td style="width: auto;">
                  <div class="field-content" style="font-weight: 500;">
                    {{ viewUtil.commaWon(dataState.default_fee) }}
                  </div>
                </td>
              </tr>
            </tbody>
          </v-table>
        </fieldset>

        <fieldset class="field-set mt-2">
          <v-table>
            <tbody>
              <tr>
                <th class="text-center" style="width: 120px;">구독 수</th>
                <td style="width: 220px;">
                  <div v-if="dataState.license_yn === 'Y'" class="input-counter" style="width: 120px">
                    <NumberInput
                      v-model="dataState.license_copy"
                      :up-down-config="licenseConfig"
                      :init-value="initLicenseCopy"
                      unit="개"
                    ></NumberInput>
                  </div>
                  <div v-else-if="dataState.license_yn === 'N'">
                      단일 구독
                  </div>
                </td>
                <th class="text-center" style="width: 120px;">결재 요금<br/>
                  <span style="font-size: 11px;">(기본요금 x 구독수)</span></th>
                <td style="width: auto;">
                  <div class="field-content color-secondary">{{ viewUtil.commaWon(dataState.price, true) }}</div>
                </td>
              </tr>
            </tbody>
          </v-table>
        </fieldset>
      
        <fieldset class="field-set mt-2">
          <v-table>
            <tbody>
              <tr>
                <th class="text-center" style="width: 120px;">결제일</th>
                <td style="width: 220px;">
                  <div class="field-content">
                    {{ enumName(subscribe.PayTerm, dataState.pay_type) }}
                    {{ dataState.pay_type !== null ? dayjs(dataState.begin_date).format('D일') : '' }}
                  </div>
                </td>
                <th class="text-center" style="width: 120px;">구독 기간</th>
                <td>
                  <div class="field-content">
                    {{ viewUtil.fmtDate(dataState.begin_date) }} {{ dataState.begin_date !== null ? '~' : '' }} {{ viewUtil.fmtDate(dataState.end_date) }}
                  </div>
                </td>
              </tr>
            </tbody>
          </v-table>
        </fieldset>

        <fieldset class="field-set mt-2">
          <ul>
            <li><span style="font-size: 11px; color: red;">처음 신청하는 구독 서비스는 <span class='color-aqua'>'평가판'</span>이 1달간 무료로 제공됩니다.</span></li>
            <li><span style="font-size: 11px; color: red;">구독 중 결재를 원하지 않으면 구독을 취소할 수 있습니다. 구독 취소시 남은 기간까지 사용 가능하면 더 이상 결재가 되지 않습니다.</span></li>
          </ul>
        </fieldset>
      </div>
    </div>
  </fieldset>
  <!-- //field-set -->
</template>

<style lang="scss" scoped>
.v-btn.custom-btn-icon-secondary {
  border: 1px solid #fc6060;
  .v-btn__content {
    margin-top: -2px;
  }
}
li {
  list-style: circle;
  margin-left: 16px;
}
</style>

<script setup lang="ts">
import dayjs from 'dayjs';
import { ref, reactive, computed, onMounted, watch } from 'vue'
import { useStore } from 'vuex';
import { PlaceSubscribe, Subscribe, NumberValue } from '@/types';
import { enumName, subscribe } from '@/constants/enums';
import { subsBiz } from '@/biz/subsBiz';
import { placeBiz, SetPlaceSubscribe } from '@/biz/placeBiz';
import { viewUtil, UpDownConfigClass } from '@/utils/view-util';
import NumberInput from '@/components/compo/NumberInput.vue';
import _ from 'lodash';
import { send } from 'vite';


// =========================================================
// 타입
// =========================================================
interface ViewState {
  isNewReady: boolean;
  rowIndex: number;
}


// =========================================================
// 선언
// =========================================================
// props.
const props = defineProps(["action"]);

// emit.
const emit = defineEmits(['update:action']);

// store, user.
const store = useStore();
const user = store.getters['user'];

// dataState.
const dataState = reactive<PlaceSubscribe>({
  id: null,
  place_id: user.place_id,
  subscribe_id: null,
  subscribe_state: 0,
  price: null,
  begin_date: null,
  end_date: null,
  trial_end_date: null,
  license_copy: 0,

  // discount: 0,            (TODO: 사용안함 PlaceSubscribe 참고)
  // valid_yn: 0,            (TODO: 사용안함 PlaceSubscribe 참고)
  // apply_begin_date: '',   (TODO: 사용안함 PlaceSubscribe 참고)
  // apply_end_date: '',     (TODO: 사용안함 PlaceSubscribe 참고)
  // apply_license_copy: 0,  (TODO: 사용안함 PlaceSubscribe 참고)
  // is_apply: 0,            (TODO: 사용안함 PlaceSubscribe 참고)

  name: null,
  pay_yn: null,
  pay_type: null,
  code: null,
  default_fee: null,
  license_yn: null,
});

const viewState = reactive<ViewState>({
  isNewReady: false,
  rowIndex: null,
});

// upDownConfig.
const licenseConfig = new UpDownConfigClass(1, 30, 1);

// 기존 구독수.
const initLicenseCopy = ref<number>(0);


// =========================================================
// 초기 조회
// =========================================================
const init = async () => {
  await placeBiz.placeSubscribes(store, user.place_id);
  await subsBiz.subscribes(store);
};


// =========================================================
// COMPUTED
// =========================================================
const placeSubscribes = computed<PlaceSubscribe[]>(() => placeBiz.getterPlaceSubscribes(store));

const subscribes = computed<Subscribe[]>(() => subsBiz.getterSubscribes(store));

const notUsedSubscribes = computed<Subscribe[]>(() => {
  const usedIds = placeSubscribes.value.map((item: PlaceSubscribe) => item.subscribe_id);
  return subscribes.value.filter((item: Subscribe) => !usedIds.includes(item.id));
});

const selectedData = computed<PlaceSubscribe>(() => {
  if (viewState.rowIndex !== null) {
    const clone = _.clone(placeSubscribes.value[viewState.rowIndex]);
    clone.begin_date = dayjs(clone.begin_date).format('YYYY-MM-DD');
    clone.end_date = dayjs(clone.end_date).format('YYYY-MM-DD');
    // console.log(`*** selectedData - clone ::`, clone);
    return clone;
  }
  return null;
});

const hasMasterLevel = computed<boolean>(() => user.level <= 2);


// =========================================================
// WATCH
// =========================================================
watch(() => dataState.license_copy, () => {
  dataState.price = dataState.default_fee * dataState.license_copy;
});


// =========================================================
// 기능
// =========================================================
const initData = () => {
  viewState.isNewReady = false;

  if (viewState.rowIndex !== null) {
    initLicenseCopy.value = selectedData.value.license_copy;
  
    dataState.id = selectedData.value.id;
    dataState.place_id = selectedData.value.place_id;
    dataState.subscribe_id = selectedData.value.subscribe_id;
    dataState.subscribe_state = selectedData.value.subscribe_state;
    dataState.price = selectedData.value.price;
    dataState.begin_date = selectedData.value.begin_date;
    dataState.end_date = selectedData.value.end_date;
    dataState.trial_end_date = selectedData.value.trial_end_date;
    dataState.license_copy = selectedData.value.license_copy;
    dataState.license_copy = dataState.license_copy < 1 ? 1 : dataState.license_copy; // 1보다 작으면 1 설정.
    
    dataState.name = selectedData.value.name;
    dataState.pay_yn = selectedData.value.pay_yn;
    dataState.pay_type = selectedData.value.pay_type;
    dataState.code = selectedData.value.code;
    dataState.default_fee = selectedData.value.default_fee;
    dataState.license_yn = selectedData.value.license_yn;
  }
  else {
    resetState();
  }
};

const resetState = () => {
  initLicenseCopy.value = 0;

  dataState.id = null;
  dataState.place_id = user.place_id;
  dataState.subscribe_id = null;
  dataState.subscribe_state = 0;
  dataState.price = null;
  dataState.begin_date = null;
  dataState.end_date = null;
  dataState.trial_end_date = null;
  dataState.license_copy = 0;
  
  dataState.name = null;
  dataState.pay_yn = null;
  dataState.pay_type = null;
  dataState.code = null;
  dataState.default_fee = null;
  dataState.license_yn = null;
};

const isTrial = (item: PlaceSubscribe): boolean => {
  if (item.subscribe_state === subscribe.State.SUBSCRIBE) {
    const trialEnd = dayjs(item.trial_end_date);
    const today = dayjs().hour(0).minute(0).second(0);
    return today.isBefore(trialEnd);
  }
};

const stateColor = (item: PlaceSubscribe): string => {
  if (isTrial(item)) {
    return 'color-aqua';
  }
  else if (item.subscribe_state === subscribe.State.SUBSCRIBE) {
    return 'color-secondary';
  }
  else return '';
}


// =========================================================
// 사용자 액션
// =========================================================
// 신규 선택.
const doNewReady = (value: boolean) => {
  viewState.isNewReady = value;
  if (viewState.isNewReady) {
    viewState.rowIndex = null;
  }

  resetState();

  props.action.name = '구독 신청';
  props.action.disabled = true;
  emit("update:action", props.action);
};

// 행 선택.
const doClickRow = (rowIndex: number) => {
  if (viewState.isNewReady) {
    return;
  }

  let isDisabled = false;

  if (viewState.rowIndex === rowIndex) { // 같은 항목 선택. 해제한다.
    viewState.rowIndex = null;
    isDisabled = true;
  }
  else { // 다른 항목이면 선택한다.
    viewState.rowIndex = rowIndex;
    isDisabled = false;
  }
  initData();
  
  if (dataState.subscribe_state === subscribe.State.SUBSCRIBE) {
    props.action.name = '구독 변경';
  } else if (dataState.subscribe_state === subscribe.State.CANCEL) {
    props.action.name = '구독 신청';
  }
  
  if (dataState.subscribe_state === subscribe.State.SUBSCRIBE && (dataState.pay_yn === 'N' || dataState.license_yn === 'N')) { // 변경 불가능.
    isDisabled = true;
  }
  props.action.disabled = isDisabled;
  emit("update:action", props.action);
};

// 신규 구독 선택.
const doChoiceSubscribe = (subscribe: Subscribe) => {
  initLicenseCopy.value = 0;

  const today = dayjs().hour(0).minute(0).second(0);
  const endDayFmt = today.add(1, 'month').subtract(1, 'day').format('YYYY-MM-DD');

  dataState.id = null;
  dataState.place_id = user.place_id;
  dataState.subscribe_state = 0;
  dataState.begin_date = today.format('YYYY-MM-DD');
  dataState.end_date = endDayFmt;
  dataState.trial_end_date = endDayFmt;
  
  dataState.subscribe_id = subscribe.id;
  dataState.name = subscribe.name;
  dataState.pay_yn = subscribe.pay_yn;
  dataState.pay_type = subscribe.pay_type;
  dataState.code = subscribe.code;
  dataState.default_fee = subscribe.default_fee;

  dataState.license_yn = subscribe.license_yn;
  dataState.license_copy = subscribe.default_license < 1 ? 1 : subscribe.default_license; // 1보다 작으면 1 설정.
  dataState.price = subscribe.pay_yn === 'Y' ? subscribe.default_fee * dataState.license_copy : 0;

  if (props.action.disabled) {
    props.action.disabled = false;
    emit("update:action", props.action);
  }
};

// 액션.
const doUpdateSetting = async () => {
  if (viewState.isNewReady) {
    await doNewItem();
  } else if (viewState.rowIndex !== null) {
    await doSetItem();
  }
};

// 구독.
const doNewItem = async () => {  
  dataState.subscribe_state = subscribe.State.SUBSCRIBE;
  const sendData = {
    ...dataState,
  };

  await placeBiz.newPlaceSubscribe(store, sendData, (_success: boolean) => {
    if (_success) {
      initData();
    }
  });
};

// 구독수 변경 또는 재구독.
const doSetItem = async () => {
  const isReSubscribe = dataState.subscribe_state === subscribe.State.CANCEL; // 구독취소 이면 구독으로 변경.
  const today = dayjs().hour(0).minute(0).second(0);

  let calcPrice = 0;
  if (dataState.pay_yn === 'Y') {
    calcPrice = dataState.default_fee * dataState.license_copy;
  }

  const sendData: SetPlaceSubscribe = {
    id: dataState.id,
    place_id: dataState.place_id,
    name: dataState.name,
    subscribe_state: subscribe.State.SUBSCRIBE as number, // 재구독 이든 변경이든 목적 상태는 SUBSCRIBE 같음.
    license_copy: dataState.license_copy,
    price: calcPrice,
    begin_date: today.format('YYYY-MM-DD'),
    end_date: today.add(1, 'month').subtract(1, 'day').format('YYYY-MM-DD'),
    mod_date: dayjs().format('YYYY-MM-DD HH:mm:ss'),
  };

  await placeBiz.setPlaceSubscribe(store, isReSubscribe, sendData, selectedData.value, (_success: boolean) => {
    if (_success) {
      initData();
    }
  });
};

// 구독취소.
const doCancelItem = async (item: PlaceSubscribe, e: Event) => {
  e.stopPropagation();

  const sendData: SetPlaceSubscribe = {
    id: item.id,
    place_id: item.place_id,
    name: item.name,
    trial_end_date: item.trial_end_date,
    subscribe_state: subscribe.State.CANCEL as number,
    end_date: dayjs().format('YYYY-MM-DD'),
    mod_date: dayjs().format('YYYY-MM-DD HH:mm:ss'),
  };
  
  await placeBiz.cancelPlaceSubscribe(store, sendData, (_success: boolean) => {
    if (_success) {
      viewState.rowIndex = null;
      initData();
    }
  });
};


// =========================================================
// 정보 & onMounted
// =========================================================
onMounted(() => {
  (async() => {
    await init();
    initData();
  })();

  props.action.name = '구독 신청';
  props.action.disabled = true;
  emit("update:action", props.action);
});

// 내보내기.
defineExpose({
  initData,
  doUpdateSetting,
});
</script>