<template>
  <!-- field-set -->
  <fieldset class="field-set">
    <h3 class="field-title mb-2">투숙 형태별 배경색 지정</h3>
    <div class="field-box d-flex align-center" style="gap: 8px">
      <v-btn
        :color="stayTypeColor[1]"
        size="small"
        style="width: 64px"
        @click="doColorPicker(stayTypeColor, '1', $event)"
        >숙박</v-btn
      >
      <v-btn
        :color="stayTypeColor[2]"
        size="small"
        style="width: 64px"
        @click="doColorPicker(stayTypeColor, '2', $event)"
        >대실</v-btn
      >
      <v-btn
        :color="stayTypeColor[3]"
        size="small"
        style="width: 64px"
        @click="doColorPicker(stayTypeColor, '3', $event)"
        >장기</v-btn
      >
      <v-btn
        :color="stayTypeColor[0]"
        size="small"
        style="width: 64px"
        @click="doColorPicker(stayTypeColor, '0', $event)"
        >공실</v-btn
      >
      <v-btn
        :color="stayTypeColor[4]"
        size="small"
        style="width: 64px"
        @click="doColorPicker(stayTypeColor, '4', $event)"
        >외출</v-btn
      >
      <v-btn
        color="darkgrey"
        size="small"
        style="width: 100px"
        @click="doDefaultColor('stayTypeColor', stayTypeColor)"
        >기본값 복원</v-btn
      >
    </div>
  </fieldset>

  <fieldset class="field-set d-flex w-100" style="gap: 8px">
    <div class="field-inner">
      <h3 class="field-title mb-2">키 색상 지정</h3>
      <div class="field-box d-flex align-center" style="gap: 8px">
        <v-btn
          :color="keyTypeColor[1]"
          size="small"
          style="width: 64px"
          @click="doColorPicker(keyTypeColor, '1', $event)"
          >고객키</v-btn
        >
        <v-btn
          :color="keyTypeColor[3]"
          size="small"
          style="width: 64px"
          @click="doColorPicker(keyTypeColor, '3', $event)"
          >청소키</v-btn
        >
        <v-btn
          :color="keyTypeColor[2]"
          size="small"
          style="width: 64px"
          @click="doColorPicker(keyTypeColor, '2', $event)"
          >마스터키</v-btn
        >
        <v-btn
          color="darkgrey"
          size="small"
          style="width: 100px"
          @click="doDefaultColor('keyTypeColor', keyTypeColor)"
          >기본값 복원</v-btn
        >
      </div>
    </div>
    <div class="field-inner">
      <h3 class="field-title mb-2">객실명 색상 지정</h3>
      <div class="field-box d-flex align-center" style="gap: 8px">
        <v-btn
          :color="stayTypeColor[1]"
          size="small"
          style="width: 64px"
          :style="{ color: roomNameColor[1] }"
          @click="doColorPicker(roomNameColor, '1', $event)"
          >기본</v-btn
        >
        <v-btn
          :color="stayTypeColor[2]"
          size="small"
          style="width: 64px"
          :style="{ color: roomNameColor[2] }"
          @click="doColorPicker(roomNameColor, '2', $event)"
          >오버타임
        </v-btn>
        <v-btn
          color="darkgrey"
          size="small"
          style="width: 100px"
          @click="doDefaultColor('roomNameColor', roomNameColor)"
          >기본값 복원</v-btn
        >
      </div>
    </div>
    <div class="field-inner">
      <h3 class="field-title mb-2">사용시간 배경색상 지정</h3>
      <div class="field-box d-flex align-center" style="gap: 8px">
        <v-btn
          :color="timeBgColor[1]"
          size="small"
          style="width: 64px"
          @click="doColorPicker(timeBgColor, '1', $event)"
          >사용시간</v-btn
        >
        <v-btn
          :color="timeBgColor[2]"
          size="small"
          style="width: 64px"
          @click="doColorPicker(timeBgColor, '2', $event)"
          >청소시간</v-btn
        >
        <v-btn
          color="darkgrey"
          size="small"
          style="width: 100px"
          @click="doDefaultColor('timeBgColor', timeBgColor)"
          >기본값 복원</v-btn
        >
      </div>
    </div>
  </fieldset>

  <fieldset class="field-set">
    <h3 class="field-title mb-2">글자크기 설정</h3>
    <v-table>
      <tbody>
        <tr>
          <th class="text-center" style="width: 88px">기본설정</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter">
                <NumberInput
                  v-model="state.font_size"
                  :up-down-config="fontSizeConfig"
                  :init-value="preference.font_size"
                  :editable="true"
                ></NumberInput>
              </div>
            </div>
          </td>
          <th class="text-center" style="width: 88px">좌측 메뉴</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter">
                <NumberInput
                  v-model="state.font_size_1"
                  :up-down-config="fontSizeConfig"
                  :init-value="preference.font_size_1"
                  :editable="true"
                ></NumberInput>
              </div>
            </div>
          </td>
          <th class="text-center" style="width: 88px">체크인 팝업</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter">
                <NumberInput
                  v-model="state.font_size_2"
                  :up-down-config="fontSizeConfig"
                  :init-value="preference.font_size_2"
                  :editable="true"
                ></NumberInput>
              </div>
            </div>
          </td>
          <th class="text-center" style="width: 88px">객실명</th>
          <td>
            <div class="d-flex align-center">
              <div class="input-counter">
                <NumberInput
                  v-model="state.font_size_3"
                  :up-down-config="fontSizeConfig"
                  :init-value="preference.font_size_3"
                  :editable="true"
                ></NumberInput>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </v-table>
  </fieldset>

  <fieldset class="field-set d-flex w-100" style="gap: 8px">
    <div class="field-inner">
      <h3 class="field-title mb-2">레이아웃 설정</h3>
      <div class="field-box d-flex align-center" style="gap: 8px">
        <div class="field-content">좌측메뉴 넓이</div>
        <div class="d-flex align-center" style="width: 120px">
          <div class="input-counter">
            <NumberInput
              v-model="state.layout_width_left"
              :up-down-config="layoutConfig"
              :init-value="preference.layout_width_left"
              :editable="true"
            ></NumberInput>
          </div>
        </div>
      </div>
    </div>
    <div class="field-inner">
      <h3 class="field-title mb-2">퇴실예정 시간 알림 설정</h3>
      <div class="field-box d-flex align-center" style="gap: 8px">
        <div class="field-content">퇴실예정 시간</div>
        <div class="d-flex align-center" style="width: 120px">
          <div class="input-counter">
            <NumberInput
              v-model="state.check_out_alarm_time"
              :up-down-config="minuteConfig"
              :init-value="preference.check_out_alarm_time"
              unit="분"
            ></NumberInput>
          </div>
        </div>
        <div class="field-content color-primary">퇴실예정 시간</div>
      </div>
    </div>
  </fieldset>

  <fieldset class="field-set d-flex w-100" style="gap: 8px">
    <div class="field-inner">
      <h3 class="field-title mb-2">객실 온도 표시 설정</h3>
      <div class="field-box">
        <v-radio-group
          v-model="state.show_air_temp"
          hide-details
          density="compact"
          inline
        >
          <v-radio color="secondary" label="표시" :value="1"></v-radio>
          <v-radio color="secondary" label="숨김" :value="0"></v-radio>
        </v-radio-group>
      </div>
    </div>
    <div class="field-inner">
      <h3 class="field-title mb-2">공실 경과 시간 표시 설정</h3>
      <div class="field-box">
        <v-radio-group
          v-model="state.show_sale_change_time"
          hide-details
          density="compact"
          inline
        >
          <v-radio color="secondary" label="표시" :value="1"></v-radio>
          <v-radio color="secondary" label="숨김" :value="0"></v-radio>
        </v-radio-group>
      </div>
    </div>
  </fieldset>

  <fieldset class="field-set d-flex w-100" style="gap: 8px">
    <div class="field-inner">
      <h3 class="field-title mb-2">객실 이력 표시 설정</h3>
      <div class="field-box">
        <v-checkbox
          hide-details
          density="compact"
          color="secondary"
          label="전원상태"
          v-model="state.room_log_show_type.power"
          :true-value="1"
          :false-value="0"
        ></v-checkbox>
        <v-checkbox
          hide-details
          density="compact"
          color="secondary"
          label="통신상태"
          v-model="state.room_log_show_type.signal"
          :true-value="1"
          :false-value="0"
        ></v-checkbox>
        <v-checkbox
          hide-details
          density="compact"
          color="secondary"
          label="온도상태"
          v-model="state.room_log_show_type.air_temp"
          :true-value="1"
          :false-value="0"
        ></v-checkbox>
        <v-checkbox
          hide-details
          density="compact"
          color="secondary"
          label="차량호출"
          v-model="state.room_log_show_type.car_call"
          :true-value="1"
          :false-value="0"
        ></v-checkbox>
      </div>
    </div>
    <div class="field-inner">
      <h3 class="field-title mb-2">
        인스펙트 사용 시 <span class="color-secondary">[점검완료]</span> 문구
        숨김 타이머
      </h3>
      <div class="field-box d-flex align-center" style="gap: 8px">
        <div class="field-content">점검완료 후</div>
        <div class="d-flex align-center" style="width: 120px">
          <div class="input-counter">
            <NumberInput
              v-model="state.inspect_done_show_time"
              :up-down-config="minuteConfig"
              :init-value="preference.inspect_done_show_time"
              unit="분"
            ></NumberInput>
          </div>
        </div>
        <div class="field-content color-primary">
          이후 문구 숨김
          <span class="color-primary">(※0분 이면 계속 표시)</span>
        </div>
      </div>
    </div>
  </fieldset>
  <!-- //field-set -->

  <ColorBox
    v-if="colorBoxProps.show"
    ref="colorBox"
    v-model:show="colorBoxProps.show"
    v-model:color-object="colorBoxProps.colorObject"
    :color-key="colorBoxProps.colorKey"
    :event="colorBoxProps.event"
  ></ColorBox>
</template>

<script setup lang="ts">
import ColorBox, { ColorBoxProps } from '@/components/compo/ColorBox.vue';
import NumberInput from '@/components/compo/NumberInput.vue';
import _ from 'lodash';
import Swal, { SweetAlertResult } from 'sweetalert2';
import { ref, reactive, computed, watch, onMounted } from 'vue';
import { useStore } from 'vuex';
import { preferencesBiz } from '@/biz/preferencesBiz';
import { Preference } from '@/types';
import { dataBiz } from '@/biz/dataBiz';
import { viewUtil, UpDownConfigClass } from '@/utils/view-util';

// =========================================================
// 타입
// =========================================================
interface StayTypeColor {
  0: string;
  1: string;
  2: string;
  3: string;
  4: string;
}

interface KeyTypeColor {
  1: string;
  2: string;
  3: string;
}

interface RoomNameColor {
  1: string;
  2: string;
}

interface TimeBgColor {
  1: string;
  2: string;
}

interface RoomLogShowType {
  power: number;
  signal: number;
  air_temp: number;
  car_call: number;
}

interface State {
  font_size: number; //폰트 사이즈
  font_size_1: number; //좌측 메뉴 폰트 사이즈
  font_size_2: number; //팝업 레이어 폰트 사이즈
  font_size_3: number; //객실 정보 폰트 사이즈
  layout_width_left: number; //좌측 영역 넓이 설정
  check_out_alarm_time: number; //퇴실 예정 시간 알림 시작 시간(분)
  show_air_temp: number; //온도 보이기 여부(0:숨기기, 1:보이기)
  show_sale_change_time: number; //공실 경과 시간 표시 여부 (1:표시 0:숨김)
  room_log_show_type: RoomLogShowType; //메인 화면 객실 이력 표시 여부 (설명이 맞나?)
  inspect_done_show_time: number; //점검완료 표시 시간 (분)
}

// =========================================================
// 선언
// =========================================================
const store = useStore();

// state.
const state = reactive<State>({
  font_size: 0,
  font_size_1: 0,
  font_size_2: 0,
  font_size_3: 0,
  layout_width_left: 0,
  check_out_alarm_time: 0,
  show_air_temp: 0,
  show_sale_change_time: 0,
  room_log_show_type: {} as RoomLogShowType,
  inspect_done_show_time: 0,
});

//숙박 형태 컬러 값
const stayTypeColor: StayTypeColor = reactive({
  0: null,
  1: null,
  2: null,
  3: null,
  4: null,
});

//키 컬러 값
const keyTypeColor: KeyTypeColor = reactive({
  1: null,
  2: null,
  3: null,
});

//객실명 컬러 값
const roomNameColor: RoomNameColor = reactive({
  1: null,
  2: null,
});

//시간 배경 컬러 값
const timeBgColor: TimeBgColor = reactive({
  1: null,
  2: null,
});

// upDownConfig.
const fontSizeConfig = new UpDownConfigClass(4, 36, 1);
const layoutConfig = new UpDownConfigClass(0, 1000, 1);
const minuteConfig = new UpDownConfigClass(0, 60, 5, true);

// component.
const colorBox = ref(null);

// colorBoxProps.
const colorBoxProps: ColorBoxProps = reactive({
  colorObject: {},
  colorKey: '',
  event: null,
  show: false,
});

// title.
const title = '화면 설정';

// =========================================================
// 초기 조회
// =========================================================

// =========================================================
// COMPUTED
// =========================================================
const preference = computed<Preference>(() =>
  preferencesBiz.getterPreference(store)
);

// =========================================================
// WATCH
// =========================================================
watch(
  () => preference.value,
  () => {
    initData();
  }
);

// =========================================================
// 기능
// =========================================================
const initData = () => {
  mergeSameObject(stayTypeColor, jsonParse(preference.value.stay_type_color));
  mergeSameObject(keyTypeColor, jsonParse(preference.value.key_type_color));
  mergeSameObject(roomNameColor, jsonParse(preference.value.room_name_color));
  mergeSameObject(timeBgColor, jsonParse(preference.value.time_bg_color));

  state.font_size = preference.value.font_size;
  state.font_size_1 = preference.value.font_size_1;
  state.font_size_2 = preference.value.font_size_2;
  state.font_size_3 = preference.value.font_size_3;
  state.layout_width_left = preference.value.layout_width_left;
  state.check_out_alarm_time = preference.value.check_out_alarm_time;
  state.show_air_temp = preference.value.show_air_temp;
  state.show_sale_change_time = preference.value.show_sale_change_time;
  state.room_log_show_type = jsonParse(preference.value.room_log_show_type);
  state.inspect_done_show_time = preference.value.inspect_done_show_time;
  // console.log(`*** initData - state ::`, state);
};

const mergeSameObject = (obj: object, other: object) => {
  for (const [key, value] of Object.entries(obj)) {
    const otherValue = other[key];
    if (value !== otherValue) {
      obj[key] = otherValue;
    }
  }
};

const jsonParse = (value: string) => {
  if (value) return JSON.parse(value);
  else {
  }
};

const isChangeStayTypeColor = (): boolean => {
  const preferencesTarget = jsonParse(
    preference.value.stay_type_color
  ) as StayTypeColor;
  return dataBiz.hasChanged(stayTypeColor, preferencesTarget);
};

const isChangeKeyTypeColor = (): boolean => {
  const preferencesTarget = jsonParse(
    preference.value.key_type_color
  ) as KeyTypeColor;
  return dataBiz.hasChanged(keyTypeColor, preferencesTarget);
};

const isChangeRoomNameColor = (): boolean => {
  const preferencesTarget = jsonParse(
    preference.value.room_name_color
  ) as RoomNameColor;
  return dataBiz.hasChanged(roomNameColor, preferencesTarget);
};

const isChangeTimeBgColor = (): boolean => {
  const preferencesTarget = jsonParse(
    preference.value.time_bg_color
  ) as TimeBgColor;
  return dataBiz.hasChanged(timeBgColor, preferencesTarget);
};

const isChangeRoomLogShowType = (): boolean => {
  const preferencesTarget = jsonParse(
    preference.value.room_log_show_type
  ) as RoomLogShowType;
  return dataBiz.hasChanged(state.room_log_show_type, preferencesTarget);
};

// =========================================================
// 사용자 액션
// =========================================================
const doUpdateSetting = async () => {
  let isGo = false;

  // 1. 확인.
  if (
    !dataBiz.hasChanged(state, preference.value) &&
    !isChangeStayTypeColor() &&
    !isChangeKeyTypeColor() &&
    !isChangeRoomNameColor() &&
    !isChangeTimeBgColor() &&
    !isChangeRoomLogShowType()
  ) {
    viewUtil.swalAlertNoChange(title);
    return;
  }

  await Swal.fire({
    icon: 'question',
    title: title,
    html: `${title}을 변경 하시겠습니까?`,
    showCancelButton: true,
    showConfirmButton: true,
    cancelButtonText: '취소',
    confirmButtonText: '확인',
  }).then((result: SweetAlertResult) => {
    isGo = result.isConfirmed;
  });

  if (isGo) {
    // 2. 데이터 설정.
    const readyData = {
      id: preference.value.id,
      place_id: preference.value.place_id,

      font_size: state.font_size,
      font_size_1: state.font_size_1,
      font_size_2: state.font_size_2,
      font_size_3: state.font_size_3,
      layout_width_left: state.layout_width_left,
      check_out_alarm_time: state.check_out_alarm_time,
      show_air_temp: state.show_air_temp,
      show_sale_change_time: state.show_sale_change_time,
      inspect_done_show_time: state.inspect_done_show_time,
    };
    if (isChangeStayTypeColor())
      readyData['stay_type_color'] = JSON.stringify(stayTypeColor);
    if (isChangeKeyTypeColor())
      readyData['key_type_color'] = JSON.stringify(keyTypeColor);
    if (isChangeRoomNameColor())
      readyData['room_name_color'] = JSON.stringify(roomNameColor);
    if (isChangeTimeBgColor())
      readyData['time_bg_color'] = JSON.stringify(timeBgColor);
    if (isChangeRoomLogShowType())
      readyData['room_log_show_type'] = JSON.stringify(
        state.room_log_show_type
      );

    const sendData = dataBiz.extractChangedData(readyData, preference.value); // 변경데이터만 추출.

    // 3. 전송.
    let result = false;
    await preferencesBiz.setPreference(store, sendData, (success: boolean) => {
      result = success;
    });

    // 4. 결과 안내.
    if (result) {
      Swal.fire({
        icon: 'success',
        title: title,
        html: `${title}이 설정 되었습니다.`,
        showConfirmButton: true,
        confirmButtonText: '확인',
      });
    } else {
      Swal.fire({
        icon: 'error',
        title: title,
        html: `${title} 설정에 실패 하였습니다. 다시 시도해 주세요.`,
        showConfirmButton: true,
        confirmButtonText: '확인',
      });
    }
  }
};

const doColorPicker = (colorObject: object, key: string, e: MouseEvent) => {
  if (colorBoxProps.show) {
    colorBoxProps.show = false;
  } else {
    colorBoxProps.colorObject = colorObject;
    colorBoxProps.colorKey = key;
    colorBoxProps.event = e;
    colorBoxProps.show = true;
  }
};

const doDefaultColor = (typeName: string, colorObject: object) => {
  if (typeName === 'stayTypeColor') {
    mergeSameObject(colorObject, DEFAULT_STAY_COLOR);
  } else if (typeName === 'keyTypeColor') {
    mergeSameObject(colorObject, DEFAULT_KEY_COLOR);
  } else if (typeName === 'roomNameColor') {
    mergeSameObject(colorObject, DEFAULT_ROOM_NAME_COLOR);
  } else if (typeName === 'timeBgColor') {
    mergeSameObject(colorObject, DEFAULT_TIME_BG_COLOR);
  }
};

// =========================================================
// 정보 & onMounted
// =========================================================
onMounted(() => {
  if (preference.value.id) {
    initData();
  }
});

const DEFAULT_STAY_COLOR: StayTypeColor = {
  0: '#c8c8c8',
  1: '#ffab3e',
  2: '#52d3ee',
  3: '#ff727a',
  4: '#a1a1a1',
};

const DEFAULT_KEY_COLOR: KeyTypeColor = {
  1: '#5c56af',
  2: '#548b8d',
  3: '#bb3e3eda',
};

const DEFAULT_ROOM_NAME_COLOR: RoomNameColor = {
  1: '#f3f3f394',
  2: '#e02c14fa',
};

const DEFAULT_TIME_BG_COLOR: TimeBgColor = {
  1: '#2f2f2fd4',
  2: '#ff8484a8',
};

// 내보내기.
defineExpose({
  initData,
  doUpdateSetting,
});
</script>
