<template>
    <v-app-bar
        color="#304153"
        elevation="0"
        density="compact"
        height="55"
        class="header pl-6 pr-0"
    >
        <v-row no-gutters class="align-center" style="height: 100%">
            <v-col
                class="v-col-auto mr-auto text-body-1 d-flex justify-start text-white"
            >
                <v-img
                    width="30"
                    max-height="30"
                    class="flex-grow-0 mr-2"
                    src="https://cdn.vuetifyjs.com/images/parallax/material.jpg"
                ></v-img>
                <span class="text-h6">CheckQin Front</span>
            </v-col>
            <v-col class="v-col-auto text-body-2 d-flex justify-end text-white">
                <span>최근접속정보 : 2022년 12월 24일(목)</span>
                <v-divider vertical color="#fff" class="ma-1 mx-2"></v-divider>
                <span>
                    {{ place_name || 'No Place' }} 담당자 :
                    <strong>{{ name || 'No Name' }}님</strong>
                </span>
            </v-col>
            <v-col class="v-col-auto d-flex ml-8" style="height: 100%">
                <v-btn rounded="0" color="#52ACE0" width="65" height="100%">
                    <v-icon
                        class="bg-white mdi mdi-monitor rounded-pill"
                        size="small"
                        style="width: 36px; height: 24px"
                        >monitor</v-icon
                    >
                </v-btn>
                <v-divider vertical color="#3285BE" class="ma-0"></v-divider>
                <v-btn rounded="0" color="#52ACE0" width="65" height="100%">
                    <v-icon
                        class="bg-white mdi mdi-account-convert rounded-pill"
                        size="small"
                        style="width: 36px; height: 24px"
                        @click="onChangeUser"
                    >
                        account-convert
                    </v-icon>
                </v-btn>
            </v-col>
        </v-row>
        <!-- //header -->
    </v-app-bar>
</template>

<script lang="ts">
import {
    getCurrentInstance,
    defineComponent,
    InjectionKey,
    computed,
    ref,
} from 'vue';
import { useStore, mapState, mapGetters, mapMutations, mapActions } from 'vuex';

export default {
    name: 'LayoutHeader',
    components: {},
    setup(props, context) {
        const theme = ref('light');

        const instance = getCurrentInstance();

        console.log(instance.type.name, ' Called! ');

        const store = useStore();

        console.log(instance.type.name, '- store.state.auth', store.state.auth);

        if (!store.state.auth.user) {
            store.state.auth = {
                user: { place_name: 'No Place', name: 'No Name' },
            };
        }

        console.log(instance.type.name, '- store.state.auth', store.state.auth);

        let {
            user: { place_name, name },
        } = store.state.auth || {
            user: { place_name: 'No Place', name: 'No Name' },
        };

        console.log(instance.type.name, '- user', { place_name, name });

        return {
            theme,
            toggleTheme: () => {
                theme.value = theme.value === 'light' ? 'dark' : 'light';
            },
            place_name,
            name,
            onChangeUser: () => {
                store.dispatch('logout', {}).then(({ success }) => {
                    console.log(instance.type.name, '- logout', { success });

                    if (success) {
                        let data = { id: 'admin', pwd: '123456' };

                        store
                            .dispatch('login', { data })
                            .then(({ success, user }) => {
                                console.log(instance.type.name, '- login', {
                                    user,
                                });
                            });
                    }
                });
            },
        };
    },
};
</script>
