<template>
  <v-card class="content-card" height="244px" border="0">
    <v-img
      lazy-src="https://picsum.photos/id/11/10/6"
      cover
      height="100%"
      src="https://picsum.photos/id/11/500/300"
    ></v-img>
  </v-card>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "BannerBox",
  components: {},
  props: {},
  data() {
    return {};
  },
});
</script>

<style lang="scss" scoped>
.btn-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  dt {
    padding-right: 0.8rem;
    margin-right: 0.6rem;
    border-right: 1px solid #d6dbe2;
  }
}
</style>
