<template>
  <div class="box-top">
    <btn-toggle class="v-col-auto"></btn-toggle>
    <dl class="date-picker ml-4">
      <dt class="text-body-2 mr-1">날짜별</dt>
      <dd>
        <date-picker style="width: 134px"></date-picker>
        <span>~</span>
        <date-picker style="width: 134px"></date-picker>
      </dd>
    </dl>
    <div class="btn-right mr-3">
      <span class="text-body-2">{{ text }}</span>
      <span v-if="linkhide === false">
        <v-btn
          width="25"
          height="25"
          elevation="0"
          rounded="0"
          icon="mdi mdi-call-made"
          size="small"
          :href="link"
          target="_blank"
        ></v-btn>
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import BtnToggle from "@/components/BtnToggle.vue";
import DatePicker from "@/components/DatePicker.vue";

export default defineComponent({
  name: "CardboxTop2",
  components: {
    BtnToggle,
    DatePicker,
  },
  props: {
    title: {
      type: String,
    },
    text: {
      type: String,
    },
    link: {
      type: String,
    },
    linkhide: {
      type: Boolean,
    },
  },
  data() {
    return {};
  },
});
</script>

<style lang="scss" scoped>
.btn-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  span {
    padding-right: 0.8rem;
    margin-right: 0.6rem;
    border-right: 1px solid #d6dbe2;
    &:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }
  }
}
</style>
