<template>
  <div class="box-top">
    <v-card-title class="pa-0 ml-3 text-subtitle-1 font-weight-bold">{{
      title
    }}</v-card-title>
    <div class="btn-right mr-3">
      <span class="text-body-2">{{ text }}</span>
      <span v-if="linkhide === false">
        <v-btn
          width="25"
          height="25"
          elevation="0"
          rounded="0"
          icon="mdi mdi-call-made"
          size="small"
          target="_blank"
          @click="onClickOpen"
        ></v-btn>
      </span>
      <div v-if="radiobox === true">
        <v-radio-group inline hide-details class="d-flex align-center">
          <v-radio
            density="compact"
            label="일간통계"
            value="일간통계"
            color="#FC6060"
            class="radio-box"
          ></v-radio>
          <v-radio
            density="compact"
            label="주간통계"
            value="주간통계"
            color="#FC6060"
            class="radio-box"
          ></v-radio>
          <v-radio
            density="compact"
            label="월간통계"
            value="월간통계"
            color="#FC6060"
            class="radio-box"
          ></v-radio>
        </v-radio-group>
      </div>
      <div class="d-flex" v-if="btntoggle === true">
        <btn-toggle-line
          class="pa-0"
          v-bind:btnList="['일별', '주별', '월별']"
        ></btn-toggle-line>
        <v-list
          density="compact"
          class="d-flex ml-5"
          style="background-color: transparent"
        >
          <v-list-item density="compact" min-height="auto" class="px-0">
            <v-badge color="#FC6060" inline dot class="d-flex"></v-badge>
            <span class="text-caption">오늘</span>
          </v-list-item>
          <v-list-item density="compact" min-height="auto" class="pl-1 pr-0">
            <v-badge color="#52ACE0" inline dot class="d-flex"></v-badge>
            <span class="text-caption">어제</span>
          </v-list-item>
        </v-list>
      </div>
      <div class="d-flex align-center" v-if="checkGroup === true">
        <v-checkbox
          hide-details
          density="compact"
          color="#fc6060"
          false-icon="mdi-checkbox-blank"
          label="전체"
          class="check-box dark"
        ></v-checkbox>
        <v-checkbox
          hide-details
          density="compact"
          color="#fc6060"
          false-icon="mdi-checkbox-blank"
          label="숙박"
          class="check-box dark ml-2"
        ></v-checkbox>
        <v-checkbox
          hide-details
          density="compact"
          color="#fc6060"
          false-icon="mdi-checkbox-blank"
          label="대실"
          class="check-box dark ml-2"
        ></v-checkbox>
        <v-select
          :items="items"
          density="compact"
          hide-details
          single-line
          class="select-box ml-2"
          style="width: 80px"
        ></v-select>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import BtnToggleLine from "@/components/BtnToggleLine.vue";

export default defineComponent({
  name: "CardboxTop",
  components: {
    BtnToggleLine,
  },
  props: {
    title: {
      type: String,
    },
    text: {
      type: String,
    },
    link: {
      type: String,
    },
    linkhide: {
      type: Boolean,
    },
    radiobox: {
      type: Boolean,
    },
    btntoggle: {
      type: Boolean,
    },
    checkGroup: {
      type: Boolean,
    },
  },
  setup(props, context) {
    return {
      items: ["층 선택"],
      onClickOpen: () => {
        console.log(this.$options.name, "- CardboxTop onClickOpen");
        alert(`== [${props.link}] Popup Open ==`);
      },
    };
  },
});
</script>

<style lang="scss" scoped>
.btn-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  span {
    padding-right: 0.8rem;
    margin-right: 0.6rem;
    border-right: 1px solid #d6dbe2;
    &:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }
  }
}
</style>
