<template>
  <v-toolbar
    elevation="0"
    dense
    height="30"
    color="#3C4D60"
    theme="dark"
    tag="div"
    class="text-body-2 v-col-auto py-0"
  >
    <v-checkbox
      hide-details
      density="default"
      color="#fc6060"
      false-icon="mdi-checkbox-blank"
      label="대실"
      class="check-box dark"
    ></v-checkbox>
    <v-checkbox
      hide-details
      density="default"
      color="#fc6060"
      theme="light"
      false-icon="mdi-checkbox-blank"
      label="숙박"
      class="check-box dark"
    ></v-checkbox>
    <v-checkbox
      hide-details
      density="default"
      color="#fc6060"
      false-icon="mdi-checkbox-blank"
      label="KEY"
      class="check-box dark"
    ></v-checkbox>
    <v-checkbox
      hide-details
      density="default"
      color="#fc6060"
      false-icon="mdi-checkbox-blank"
      label="출입문"
      class="check-box dark"
    ></v-checkbox>
  </v-toolbar>
  <search-box color="#D6DBE2" class="px-2"></search-box>
  <v-row no-gutters class="height-auto overflow-y-auto">
    <v-col>
      <border-list></border-list>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import BorderList from "@/components/BorderList.vue";
import SearchBox from "@/components/SearchBox.vue";

export default defineComponent({
  name: "EventBox",
  components: {
    BorderList,
    SearchBox,
  },
  props: {},
  data: () => ({}),
});
</script>
