<!-- @format -->

<template>
  <v-card elevation="0" rounded="0" style="margin: -1px -1px 0 -1px">
    <v-tabs
      v-model="tab"
      hide-slider
      grow
      density="compact"
      background-color="#F9F9F9"
      color="#FC6060"
      class="tab-box"
    >
      <v-tab value="무인판매1">무인판매1</v-tab>
      <v-tab value="무인판매2">무인판매2</v-tab>
      <v-tab value="무인판매3">무인판매3</v-tab>
    </v-tabs>

    <v-card-text class="pa-0">
    <v-window v-model="tab">
        <v-window-item value="무인판매1">
          <v-row no-gutters class="mx-7 mt-3">
            <v-col>
              <btn-switch :label="'판매상태'" :color="'#FC6060'"></btn-switch>
            </v-col>
            <v-col>
              <btn-switch :label="'성인인증 사용'" :color="'#FC6060'" class="justify-end"></btn-switch>
            </v-col>
          </v-row>
          <v-divider class="mx-5 my-3"></v-divider>
          <v-row no-gutters class="mx-7">
            <v-col class="d-flex align-center justify-end">
              <span class="mr-auto">판매현황</span>
              <count-card
                :title="'숙박'"
                :width="'120'"
                :height="'46'"
                :bgColor="'#5C86F1'"
                :count="'03'"
                class="fc_white"
              ></count-card>
              <count-card
                :title="'대실'"
                :width="'120'"
                :height="'46'"
                :bgColor="'#7868E5'"
                :count="'03'"
                class="fc_white"
              ></count-card>
            </v-col>
          </v-row>
          <v-toolbar
            elevation="0"
            dense
            height="34"
            color="#3C4D60"
            theme="dark"
            tag="div"
            class="mx-5 mt-3"
          >
            <dl class="d-flex align-center justify-space-between" style="height: 30px; width: 100%">
              <dt class="text-body-2">판매이력</dt>
              <dd class="d-flex align-center">
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  false-icon="mdi-checkbox-blank"
                  label="숙박"
                  class="check-box dark"
                ></v-checkbox>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  false-icon="mdi-checkbox-blank"
                  label="대실"
                  class="check-box dark ml-2"
                ></v-checkbox>
                <v-select
                  :items="items"
                  hide-details
                  single-line
                  class="select-box ml-2"
                  style="width: 80px"
                ></v-select>
              </dd>
            </dl>
          </v-toolbar>
          <table-list class="mx-5"></table-list>
          <tooltip-room style="margin-top: -80px"></tooltip-room>
        </v-window-item>

        <v-window-item value="무인판매2">
          <v-row no-gutters class="mx-7 mt-3">
            <v-col>
              <btn-switch :label="'판매상태'" :color="'#FC6060'"></btn-switch>
            </v-col>
            <v-col>
              <btn-switch :label="'성인인증 사용'" :color="'#FC6060'"></btn-switch>
            </v-col>
          </v-row>
          <v-divider class="mx-5 my-3"></v-divider>
          <v-row no-gutters class="mx-7">
            <v-col class="d-flex align-center justify-end">
              <span class="mr-auto">판매현황</span>
              <count-card
                :title="'숙박'"
                :width="'120'"
                :height="'46'"
                :bgColor="'#5C86F1'"
                :textColor="'#fff'"
                :count="'03'"
              ></count-card>
              <count-card
                :title="'대실'"
                :width="'120'"
                :height="'46'"
                :bgColor="'#7868E5'"
                :textColor="'#fff'"
                :count="'03'"
              ></count-card>
            </v-col>
          </v-row>
          <v-toolbar
            elevation="0"
            dense
            height="34"
            color="#3C4D60"
            theme="dark"
            tag="div"
            class="mx-5 mt-3"
          >
            <dl class="d-flex align-center justify-space-between" style="height: 30px; width: 100%">
              <dt class="text-body-2">판매이력</dt>
              <dd class="d-flex align-center">
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  false-icon="mdi-checkbox-blank"
                  label="숙박"
                  class="check-box dark"
                ></v-checkbox>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  false-icon="mdi-checkbox-blank"
                  label="대실"
                  class="check-box dark ml-2"
                ></v-checkbox>
                <v-select
                  :items="items"
                  hide-details
                  single-line
                  class="select-box ml-2"
                  style="width: 80px"
                ></v-select>
              </dd>
            </dl>
          </v-toolbar>
          <table-list class="mx-5"></table-list>
          <tooltip-room style="margin-top: -80px"></tooltip-room>
        </v-window-item>

        <v-window-item value="무인판매3">
          <v-row no-gutters class="mx-7 mt-3">
            <v-col>
              <btn-switch :label="'판매상태'" :color="'#FC6060'"></btn-switch>
            </v-col>
            <v-col>
              <btn-switch :label="'성인인증 사용'" :color="'#FC6060'"></btn-switch>
            </v-col>
          </v-row>
          <v-divider class="mx-5 my-3"></v-divider>
          <v-row no-gutters class="mx-7">
            <v-col class="d-flex align-center justify-end">
              <span class="mr-auto">판매현황</span>
              <count-card
                :title="'숙박'"
                :width="'120'"
                :height="'46'"
                :bgColor="'#5C86F1'"
                :textColor="'#fff'"
                :count="'03'"
              ></count-card>
              <count-card
                :title="'대실'"
                :width="'120'"
                :height="'46'"
                :bgColor="'#7868E5'"
                :textColor="'#fff'"
                :count="'03'"
              ></count-card>
            </v-col>
          </v-row>
          <v-toolbar
            elevation="0"
            dense
            height="34"
            color="#3C4D60"
            theme="dark"
            tag="div"
            class="mx-5 mt-3"
          >
            <dl class="d-flex align-center justify-space-between" style="height: 30px; width: 100%">
              <dt class="text-body-2">판매이력</dt>
              <dd class="d-flex align-center">
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  false-icon="mdi-checkbox-blank"
                  label="숙박"
                  class="check-box dark"
                ></v-checkbox>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  false-icon="mdi-checkbox-blank"
                  label="대실"
                  class="check-box dark ml-2"
                ></v-checkbox>
                <v-select
                  :items="items"
                  hide-details
                  single-line
                  class="select-box ml-2"
                  style="width: 80px"
                ></v-select>
              </dd>
            </dl>
          </v-toolbar>
          <table-list class="mx-5"></table-list>
          <tooltip-room style="margin-top: -80px"></tooltip-room>
        </v-window-item>
      </v-window>
    </v-card-text>      
  </v-card>
</template>

<script lang="ts">
  import { defineComponent, ref } from "vue";

  import TabCommon from "@/components/TabCommon.vue";
  import BtnSwitch from "@/components/BtnSwitch.vue";
  import CountCard from "@/components/CountCard.vue";
  import TableList from "@/components/TableList.vue";
  import TooltipRoom from "@/components/TooltipRoom.vue";

  export default defineComponent({
    name: "IsgaBox",
    components: {
      TabCommon,
      BtnSwitch,
      CountCard,
      TableList,
      TooltipRoom,
    },
    props: {},
    data: () => ({
      tab: null,
      items: ["층 선택"],
    }),
  });
</script>
