<template>
  <tab-common></tab-common>
  <border-list></border-list>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import BorderList from "@/components/BorderList.vue";

export default defineComponent({
  name: "NoticeBox",
  components: {
    BorderList,
  },
  props: {},
  data: () => ({}),
});
</script>
