<!-- @format -->

<template>
  <v-card elevation="0" rounded="0" style="margin: -1px -1px 0 -1px">
    <v-tabs
      v-model="tab"
      hide-slider
      grow
      density="compact"
      background-color="#F9F9F9"
      color="#FC6060"
      class="tab-box"
    >
      <v-tab value="공지">공지</v-tab>
      <v-tab value="TODO - 미션">TODO - 미션</v-tab>
    </v-tabs>

    <v-card-text class="pa-0">
      <v-window v-model="tab">
        <v-window-item value="공지">
          <border-list></border-list>
        </v-window-item>

        <v-window-item value="TODO - 미션">
          <border-list></border-list>
        </v-window-item>
      </v-window>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
  import { defineComponent, ref } from "vue";
  import TabCommon from "@/components/TabCommon.vue";
  import BorderList from "@/components/BorderList.vue";

  export default defineComponent({
    name: "NoticeBox",
    components: {
      TabCommon,
      BorderList,
    },
    props: {},
    data: () => ({
      tab: null,
    }),
  });
</script>
