<template>
  <v-toolbar color="#D3D9E0" height="30" border="0" tag="div" class="justify-space-between pa-0">
    <v-btn icon="fa fa-angle-left" rounded="0" size="small"></v-btn>
    <v-spacer></v-spacer>
    <span>2주</span>
    <v-spacer></v-spacer>
    <v-btn icon="fa fa-angle-right" rounded="0" size="small"></v-btn>
  </v-toolbar>
  <div class="d-flex justify-end align-center text-caption">
    <span class="mr-3">총 건수 : <strong>78</strong>개</span>
    <v-list density="compact" class="d-flex">
      <v-list-item density="compact" min-height="auto" class="px-0">
        <span class="ico-dot mr-1 bg-pink-accent-3"></span>
        <span>오늘</span>
      </v-list-item>
      <v-list-item density="compact" min-height="auto" class="pl-2">
        <span class="ico-dot mr-1 bg-light-blue"></span>
        <span>어제</span>
      </v-list-item>
    </v-list>
  </div>
  <div class="box-graph">
    <div style="background: rgba(0, 0, 0, 0.3); width: calc(100% - 24px); height: 125px; margin-left: 12px">
      <tooltip-count :text="'78건'" :textColor="'#fff'" style="left: 0; top: 0"></tooltip-count>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent, ref } from "vue";
  import TooltipCount from "@/components/TooltipCount.vue";

  export default defineComponent({
    name: "ReservationchartBox",
    components: {
      TooltipCount,
    },
    props: {},
    data: () => ({}),
  });
</script>
