<template>
  <v-row dense class="pa-3 pb-2 v-col-auto">
    <v-col cols="6">
      <count-card
        :title="'총 건수'"
        :width="'160'"
        :height="'54'"
        :bgColor="'#EFF2F4'"
        :titColor="'#2C2F35'"
        :textColor="'#017ACD'"
        :count="'26'"
      ></count-card>
    </v-col>
    <v-col cols="6">
      <count-card
        :title="'신규'"
        :width="'160'"
        :height="'54'"
        :bgColor="'#EFF2F4'"
        :titColor="'#2C2F35'"
        :textColor="'#017ACD'"
        :count="'5'"
      ></count-card>
    </v-col>
    <v-col cols="6">
      <count-card
        :title="'처리'"
        :width="'160'"
        :height="'54'"
        :bgColor="'#EFF2F4'"
        :titColor="'#2C2F35'"
        :textColor="'#017ACD'"
        :count="'13'"
      ></count-card>
    </v-col>
    <v-col cols="6">
      <count-card
        :title="'취소'"
        :width="'160'"
        :height="'54'"
        :bgColor="'#EFF2F4'"
        :titColor="'#2C2F35'"
        :textColor="'#017ACD'"
        :count="'8'"
      ></count-card>
    </v-col>
  </v-row>
  <border-list class="pt-0"></border-list>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import CardboxTop from "./CardboxTop.vue";
import CountCard from "@/components/CountCard.vue";
import BorderList from "@/components/BorderList.vue";

export default defineComponent({
  name: "ReservationBox",
  components: {
    CardboxTop,
    CountCard,
    BorderList,
  },
  props: {},
  data: () => ({}),
});
</script>
