<template>
  <v-card elevation="0" class="content-card" height="368px">
    <cardbox-top2 :text="'최근 17:20'"></cardbox-top2>
    <v-row dese class="pt-3">
      <v-col>
        <v-row no-gutters>
          <v-col cols="12" class="d-flex align-center">
            <v-card-title>
              <span>일별 매출현황</span>
              <span class="text-body-2 text-medium-emphasis ml-1">
                (기준:오늘 00:00 ~ 16:29)
              </span>
            </v-card-title>
            <v-list density="compact" class="d-flex">
              <v-list-item density="compact" min-height="auto" class="px-0">
                <span class="ico-dot mr-1 bg-pink-accent-3"></span>
                <span class="text-caption">오늘</span>
              </v-list-item>
              <v-list-item density="compact" min-height="auto" class="pl-2">
                <span class="ico-dot mr-1 bg-light-blue"></span>
                <span class="text-caption">어제</span>
              </v-list-item>
            </v-list>
            <btn-toggle-line
              class="pa-0"
              v-bind:btnList="['매출', '객실']"
            ></btn-toggle-line>
            <v-list
              density="compact"
              color="transparent"
              class="list-amount ml-auto"
            >
              <v-list-item density="compact" min-height="auto" class="pr-0">
                <span class="ico-dot mr-1"></span>
                <span class="text-body-2 mr-1">총 매출 :</span>
                <strong class="text-pink-accent-3" style="margin-top: -3px">
                  12,000,000
                </strong>
                <span class="text-body-2">원</span>
              </v-list-item>
              <v-list-item density="compact" min-height="auto">
                <span class="ico-dot mr-1"></span>
                <span class="text-body-2 mr-1">총 건수 :</span>
                <strong class="text-blue" style="margin-top: -3px">
                  12,000,000
                </strong>
                <span class="text-body-2">개</span>
              </v-list-item>
            </v-list>
          </v-col>
        </v-row>
        <div class="box-graph">
          <div
            style="
              background: rgba(0, 0, 0, 0.3);
              width: calc(100% - 40px);
              height: 242px;
              margin-left: 20px;
            "
          >
            <tooltip-graph></tooltip-graph>
          </div>
        </div>
      </v-col>
      <v-col class="v-col-auto d-flex px-0">
        <v-divider vertical color="#D6DBE2" class="mt-3"></v-divider>
      </v-col>
      <v-col class="v-col-auto" style="flex-basis: 400px">
        <v-card elevation="0" rounded="0">
          <v-card-title class="justify-center my-2">
            <v-icon
              icon="mdi mdi-hand-coin"
              color="#3C4D60"
              class="mr-2"
            ></v-icon>
            실시간 정산금액
          </v-card-title>
          <v-card-text
            class="text-center text-h6 pt-0 text-high-emphasis"
            style="color: #017acd"
          >
            <strong class="text-h4 font-weight-bold font-num">1,560,000</strong>원
          </v-card-text>
        </v-card>
        <v-divider color="#D6DBE2" class="my-4 mr-5 ml-4"></v-divider>
        <v-card elevation="0" rounded="0">
          <v-card-title class="justify-center mb-3">
            <v-icon
              icon="mdi mdi-warehouse"
              color="#3C4D60"
              class="mr-2"
            ></v-icon>
            실시간 객실현황
          </v-card-title>
          <v-row no-gutters justify="center">
            <v-col class="v-col-auto">
              <count-card
                :title="'숙박'"
                :width="'108'"
                :height="'76'"
                :isVertical="true"
                :bgColor="'#EFF2F4'"
                :titColor="'#2C2F35'"
                :textColor="'#017ACD'"
                :count="'6'"
              ></count-card>
            </v-col>
            <v-col class="v-col-auto">
              <count-card
                :title="'대실'"
                :width="'108'"
                :height="'76'"
                :isVertical="true"
                :bgColor="'#EFF2F4'"
                :titColor="'#2C2F35'"
                :textColor="'#017ACD'"
                :count="'45'"
              ></count-card>
            </v-col>
            <v-col class="v-col-auto">
              <count-card
                :title="'장기'"
                :width="'108'"
                :height="'76'"
                :isVertical="true"
                :bgColor="'#EFF2F4'"
                :titColor="'#2C2F35'"
                :textColor="'#017ACD'"
                :count="'1'"
              ></count-card>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-card>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import BtnToggleLine from "@/components/BtnToggleLine.vue";
import TooltipGraph from "@/components/TooltipGraph.vue";
import CountCard from "@/components/CountCard.vue";
import CardboxTop2 from "./CardboxTop2.vue";

export default defineComponent({
  name: "StatisticsBox",
  components: {
    CardboxTop2,
    BtnToggleLine,
    TooltipGraph,
    CountCard,
  },
  props: {},
  data: () => ({}),
});
</script>
