<!-- @format -->

<template>
  <v-card elevation="0" rounded="0" style="margin: -1px -1px 0 -1px">
    <v-tabs
      v-model="tab"
      hide-slider
      grow
      density="compact"
      background-color="#F9F9F9"
      color="#FC6060"
      class="tab-box"
    >
      <v-tab value="구독중">구독중</v-tab>
      <v-tab value="신규 및 추천">신규 및 추천</v-tab>
    </v-tabs>

    <v-card-text class="pa-0">
      <v-window v-model="tab">
        <v-window-item value="구독중">
          <border-list></border-list>
        </v-window-item>

        <v-window-item value="신규 및 추천">
          <border-list></border-list>
        </v-window-item>
      </v-window>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import TabCommon from "@/components/TabCommon.vue";
import BorderList from "@/components/BorderList.vue";

export default defineComponent({
  name: "NoticeBox",
  components: {
    TabCommon,
    BorderList,
  },
  props: {},
  data: () => ({
    tab: null,
  }),
});
</script>
