<template>
  <search-box color="#D6DBE2" class="px-2"></search-box>
  <v-layout class="flex-column pa-4">
    <v-row>
      <v-col class="d-flex justify-center">
        <dl class="d-flex align-center">
          <dt class="text-medium-emphasis mr-1">층별 :</dt>
          <dd>
            <strong class="text-h5 font-weight-bold font-num">3</strong>
            <span class="text-h6">층</span>
          </dd>
        </dl>
      </v-col>
      <v-divider vertical class="my-4"></v-divider>
      <v-col class="d-flex justify-center">
        <dl class="d-flex align-center">
          <dt class="text-medium-emphasis mr-1">객실 :</dt>
          <dd>
            <strong class="text-h5 font-weight-bold font-num">506</strong>
            <span class="text-h6">호</span>
          </dd>
        </dl>
      </v-col>
      <v-divider vertical class="my-4"></v-divider>
      <v-col class="d-flex justify-center">
        <dl class="d-flex align-center">
          <dt class="text-medium-emphasis mr-1">층별 :</dt>
          <dd>
            <strong class="text-h5 font-weight-bold font-num">3</strong>
            <span class="text-h6">층</span>
          </dd>
        </dl>
      </v-col>
    </v-row>
    <total-amount
      :title="'총 건수'"
      :amount="'100'"
      :unit="'건'"
      class="mt-4"
    ></total-amount>
    <v-list>
      <v-list-item density="compact" min-height="36" class="py-0">
        <v-row no-gutters>
          <v-col cols="2" class="text-medium-emphasis">현금</v-col>
          <v-col>
            <strong class="text-blue font-num">12</strong>
            <span class="text-medium-emphasis ml-1">건</span>
          </v-col>
          <v-col class="text-right">
            <strong class="text-blue font-num">2,800,000</strong>
            <span class="text-medium-emphasis ml-1">원</span>
          </v-col>
        </v-row>
      </v-list-item>
      <v-divider class="brd-dash"></v-divider>
      <v-list-item density="compact" min-height="36" class="py-0">
        <v-row no-gutters>
          <v-col cols="2" class="text-medium-emphasis">카드</v-col>
          <v-col>
            <strong class="text-blue font-num">12</strong>
            <span class="text-medium-emphasis ml-1">건</span>
          </v-col>
          <v-col class="text-right">
            <strong class="text-blue font-num">2,800,000</strong>
            <span class="text-medium-emphasis ml-1">원</span>
          </v-col>
        </v-row>
      </v-list-item>
      <v-divider class="brd-dash"></v-divider>
      <v-list-item density="compact" min-height="36" class="py-0">
        <v-row no-gutters>
          <v-col cols="2" class="text-medium-emphasis">미수금</v-col>
          <v-col>
            <strong class="text-blue font-num">12</strong>
            <span class="text-medium-emphasis ml-1">건</span>
          </v-col>
          <v-col class="text-right">
            <strong class="text-blue font-num">2,800,000</strong>
            <span class="text-medium-emphasis ml-1">원</span>
          </v-col>
        </v-row>
      </v-list-item>
      <v-divider class="brd-dash"></v-divider>
      <v-list-item density="compact" min-height="36" class="py-0">
        <v-row no-gutters>
          <v-col cols="2" class="text-medium-emphasis">합계</v-col>
          <v-col>
            <strong class="text-pink font-num">12</strong>
            <span class="text-medium-emphasis ml-1">건</span>
          </v-col>
          <v-col class="text-right">
            <strong class="text-pink font-num">2,800,000</strong>
            <span class="text-medium-emphasis ml-1">원</span>
          </v-col>
        </v-row>
      </v-list-item>
    </v-list>
  </v-layout>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import SearchBox from "@/components/SearchBox.vue";
import TotalAmount from "@/components/TotalAmount.vue";

export default defineComponent({
  name: "SummaryBox",
  components: {
    SearchBox,
    TotalAmount,
  },
  props: {},
  data: () => ({}),
});
</script>

<style lang="scss" scoped>
.brd-dash {
  border-style: dashed;
}
</style>
