<template>
  <v-card
    class="widget-card"
    :height="height"
    v-click-outside="onClickOutside"
    elevation="0"
  >
    <header :class="title ? 'on' : 'off'">
      <slot name="header">
        <widget-top :title="title" :link="link" :text="text"></widget-top>
      </slot>
    </header>
    <main :class="title ? 'on' : 'off'">
      <slot> Widget Content Slot! </slot>
    </main>
    <footer :class="title ? 'on' : 'off'">
      <slot name="footer"></slot>
    </footer>
  </v-card>
</template>

<script lang="ts">
import { onMounted, ref, getCurrentInstance, provide, inject } from "vue";

import _ from "lodash";
import moment from "moment";

import WidgetTop from "./WidgetTop.vue";

export default {
  name: "WidgetLayout",
  components: {
    WidgetTop,
  },
  props: {
    height: {
      type: String,
      defauls: "auto",
    },
    title: {
      type: String,
    },
    link: {
      type: String,
    },
    text: {
      type: String,
      defauls: "",
    },
  },
  inject: ["lowdb", "testRef"], // static provide
  created() {
    const app = getCurrentInstance();

    console.log(this.$options.name, "created Called! ", this.title, { app });
  },
  mounted() {
    // static provide
    let { lowdb, testRef } = this;

    // ref() provide
    const count = inject("count");

    console.log(this.$options.name, "mounted Called! ", count.value, {
      lowdb,
      testRef,
    });

    count.value += 1;
  },
  setup(props, context) {
    onMounted(() => {
      let count = inject("count");
      // console.log("onMounted Called", count.value);
    });

    return {
      onClickOutside: () => {
        console.log("- onClickOutside");
      },
    };
  },
};
</script>

<style lang="scss" scoped>
.btn-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  span {
    padding-right: 0.8rem;
    margin-right: 0.6rem;
    border-right: 1px solid #d6dbe2;
    &:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }
  }
}
</style>
