<template>
  <v-card-title class="text-subtitle-1 font-weight-bold">
    {{ title }}
    <div class="btn-right">
      <span class="text-body-2">{{ text }}</span>
      <span>
        <v-btn
          width="25"
          height="25"
          elevation="0"
          rounded="0"
          icon="mdi mdi-call-made"
          size="small"
          :class="isShowPop ? 'on' : undefined"
          @click="onClickPopToggle"
        ></v-btn>
      </span>
    </div>
  </v-card-title>
</template>

<script lang="ts">
import {
  computed,
  ref,
  reactive,
  watch,
  watchEffect,
  getCurrentInstance,
  provide,
  inject,
} from 'vue';

import { useRouter, useRoute } from 'vue-router';
import { getWindowStyle, openwin, closewin } from '@/utils/win-util';

import BtnToggleLine from '@/components/BtnToggleLine.vue';

import moment from 'moment';
import _ from 'lodash';

export default {
  name: 'CardboxTop',
  components: {
    BtnToggleLine,
  },
  props: {
    title: {
      type: String,
    },
    text: {
      type: String,
    },
    link: {
      type: String,
    },
  },
  inject: ['lowdb'],

  created() {
    // static provide
    let { lowdb } = this;

    console.log(this.$options.name, 'created Called! ', { lowdb });
  },
  mounted() {
    // console.log(this.$options.name, "mounted Called! ");
  },
  setup(props, context) {
    const app = getCurrentInstance();
    const isShowPop = ref(false);

    const store = useStore();
    const router = useRouter();
    const route = useRoute();

    store.watch(
      (state, getters) => state.winRefs,
      (newVal, oldVal) => {
        console.log('winRefs changed');
      },
      { deep: true }
    );

    // fetch the user information when params change
    watch(
      () => route.params.id,
      async (newId) => {
        console.log('-watch, newId', newId);
      }
    );

    let onClickPopToggle = () => {
      console.log('- CardboxTop onClickPopToggle', isShowPop.value);
      let { link } = props;

      // router.push({
      //   path: "/popnews",
      //   query: {},
      // });

      if (!isShowPop.value) {
        openwin(link, '_blank', {
          top: 10,
          width: 1200,
          height: 900,
        });
      } else {
        closewin(link);
      }

      isShowPop.value = !isShowPop.value;
    };

    return {
      isShowPop,
      items: ['층 선택'],
      onClickPopToggle,
    };
  },
};
</script>

<style lang="scss" scoped>
.btn-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  span {
    padding-right: 8px;
    border-right: 1px solid #d6dbe2;
    margin-right: 4px;
    &:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }
  }
}
</style>
