 .Error {
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background: #615f5fc7;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0.99;
   text-align: left;
   color: #ccc;

   h1 {
     color: #dcbe81ee;
   }

   .bg {
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background-size: cover;
     mix-blend-mode: overlay;
     background-image: url('assets/images/sidebar-4.jpg');
     z-index: -1;
     padding: 50px;

     >p {
       &.code {
         font-family: 'Alfa Slab One';
         font-size: 30px;
         color: #e25757;
         width: 100%;
         display: block;
       }

       a {
         cursor: pointer;
         text-decoration: none;
         color: #4c59d4eb;
       }
     }

   }
 }