<template>
  <v-card elevation="0" rounded="0" color="#F2F5F8">
    <popup-title :title="'일괄 처리'" :pinHide="true"></popup-title>
    <v-layout class="pt-1 py-5 flex-column">
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view mt-5">
          <colgroup>
            <col width="260px" />
            <col width="110px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <td>
                <v-btn elevation="0" width="70" height="26" color="#FC6060" text-color="#fff" class="text-caption pa-0 mr-2"> 전체선택 </v-btn>
                <v-btn elevation="0" width="70" height="26" text-color="#2C2F35" border="1" class="text-caption pa-0 mr-2"> 선택해제 </v-btn>
                <v-btn elevation="0" width="70" height="26" text-color="#2C2F35" border="1" class="text-caption pa-0"> 선택반전 </v-btn>
              </td>
              <th>객실타입 선택</th>
              <td>
                <v-radio-group inline hide-details class="radio-box-group d-flex align-center flex-grow-0">
                  <v-radio density="compact" label="VIP룸" value="VIP룸" color="#FC6060" class="radio-box"></v-radio>
                  <v-radio density="compact" label="스위트룸" value="스위트룸" color="#FC6060" class="radio-box"></v-radio>
                  <v-radio density="compact" label="일반실" value="일반실" color="#FC6060" class="radio-box"></v-radio>
                </v-radio-group>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-row dense class="mt-4">
        <v-col>
          <div class="table-list02 pl-4">
            <v-table fixed-header density="compact" height="582" class="overflow-y-auto text-center">
              <colgroup>
                <col width="6%" />
                <col width="8%" />
                <col width="7%" span="10" />
                <col width="8%" span="2" />
              </colgroup>
              <thead>
                <tr>
                  <th>선택</th>
                  <th>객실타입</th>
                  <th>객실명</th>
                  <th>숙박현황</th>
                  <th>객실상태</th>
                  <th>키상태</th>
                  <th>출입문상태</th>
                  <th>사용중ºC</th>
                  <th>외출ºC</th>
                  <th>청소대기ºC</th>
                  <th>청소중ºC</th>
                  <th>공실ºC</th>
                  <th>무인숙박판매</th>
                  <th>무인대실판매</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <v-checkbox hide-details density="default" color="#fc6060" label="" class="check-box justify-center"></v-checkbox>
                  </td>
                  <td>일반실</td>
                  <td>201호</td>
                  <td>공실</td>
                  <td>공실</td>
                  <td>NO KEY</td>
                  <td>문 <span class="text-red-accent-2">[열림]</span></td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>허용</td>
                  <td>허용</td>
                  <td>허용</td>
                </tr>
                <tr>
                  <td>
                    <v-checkbox hide-details density="default" color="#fc6060" label="" class="check-box justify-center"></v-checkbox>
                  </td>
                  <td>스위트룸</td>
                  <td>301호</td>
                  <td>숙박</td>
                  <td>입실</td>
                  <td>
                    고객키
                    <v-icon icon="mdi mdi-checkbox-blank-circle-outline" color="#3C4D60" size="x-small"></v-icon>
                  </td>
                  <td>문 <span class="text-blue-lighten-1">[닫힘]</span></td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>허용</td>
                  <td>허용</td>
                  <td>허용</td>
                </tr>
                <tr>
                  <td>
                    <v-checkbox hide-details density="default" color="#fc6060" label="" class="check-box justify-center"></v-checkbox>
                  </td>
                  <td>일반실</td>
                  <td>305호</td>
                  <td>공실</td>
                  <td>공실</td>
                  <td>
                    고객키
                    <v-icon icon="mdi mdi-close" color="#FC6060" size="x-small"></v-icon>
                  </td>
                  <td>문 <span class="text-red-accent-2">[열림]</span></td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td class="text-red-accent-2">중지</td>
                  <td class="text-red-accent-2">중지</td>
                  <td class="text-red-accent-2">중지</td>
                </tr>
                <tr>
                  <td>
                    <v-checkbox hide-details density="default" color="#fc6060" label="" class="check-box justify-center"></v-checkbox>
                  </td>
                  <td>일반실</td>
                  <td>201호</td>
                  <td>공실</td>
                  <td>공실</td>
                  <td>NO KEY</td>
                  <td>문 <span class="text-red-accent-2">[열림]</span></td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>허용</td>
                  <td>허용</td>
                  <td>허용</td>
                </tr>
                <tr>
                  <td>
                    <v-checkbox hide-details density="default" color="#fc6060" label="" class="check-box justify-center"></v-checkbox>
                  </td>
                  <td>스위트룸</td>
                  <td>301호</td>
                  <td>숙박</td>
                  <td>입실</td>
                  <td>
                    고객키
                    <v-icon icon="mdi mdi-checkbox-blank-circle-outline" color="#3C4D60" size="x-small"></v-icon>
                  </td>
                  <td>문 <span class="text-blue-lighten-1">[닫힘]</span></td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>허용</td>
                  <td>허용</td>
                  <td>허용</td>
                </tr>
                <tr>
                  <td>
                    <v-checkbox hide-details density="default" color="#fc6060" label="" class="check-box justify-center"></v-checkbox>
                  </td>
                  <td>일반실</td>
                  <td>305호</td>
                  <td>공실</td>
                  <td>공실</td>
                  <td>
                    고객키
                    <v-icon icon="mdi mdi-close" color="#FC6060" size="x-small"></v-icon>
                  </td>
                  <td>문 <span class="text-red-accent-2">[열림]</span></td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td class="text-red-accent-2">중지</td>
                  <td class="text-red-accent-2">중지</td>
                  <td class="text-red-accent-2">중지</td>
                </tr>
                <tr>
                  <td>
                    <v-checkbox hide-details density="default" color="#fc6060" label="" class="check-box justify-center"></v-checkbox>
                  </td>
                  <td>일반실</td>
                  <td>201호</td>
                  <td>공실</td>
                  <td>공실</td>
                  <td>NO KEY</td>
                  <td>문 <span class="text-red-accent-2">[열림]</span></td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>허용</td>
                  <td>허용</td>
                  <td>허용</td>
                </tr>
                <tr>
                  <td>
                    <v-checkbox hide-details density="default" color="#fc6060" label="" class="check-box justify-center"></v-checkbox>
                  </td>
                  <td>스위트룸</td>
                  <td>301호</td>
                  <td>숙박</td>
                  <td>입실</td>
                  <td>
                    고객키
                    <v-icon icon="mdi mdi-checkbox-blank-circle-outline" color="#3C4D60" size="x-small"></v-icon>
                  </td>
                  <td>문 <span class="text-blue-lighten-1">[닫힘]</span></td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>허용</td>
                  <td>허용</td>
                  <td>허용</td>
                </tr>
                <tr>
                  <td>
                    <v-checkbox hide-details density="default" color="#fc6060" label="" class="check-box justify-center"></v-checkbox>
                  </td>
                  <td>일반실</td>
                  <td>305호</td>
                  <td>공실</td>
                  <td>공실</td>
                  <td>
                    고객키
                    <v-icon icon="mdi mdi-close" color="#FC6060" size="x-small"></v-icon>
                  </td>
                  <td>문 <span class="text-red-accent-2">[열림]</span></td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td class="text-red-accent-2">중지</td>
                  <td class="text-red-accent-2">중지</td>
                  <td class="text-red-accent-2">중지</td>
                </tr>
                <tr>
                  <td>
                    <v-checkbox hide-details density="default" color="#fc6060" label="" class="check-box justify-center"></v-checkbox>
                  </td>
                  <td>일반실</td>
                  <td>201호</td>
                  <td>공실</td>
                  <td>공실</td>
                  <td>NO KEY</td>
                  <td>문 <span class="text-red-accent-2">[열림]</span></td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>허용</td>
                  <td>허용</td>
                  <td>허용</td>
                </tr>
                <tr>
                  <td>
                    <v-checkbox hide-details density="default" color="#fc6060" label="" class="check-box justify-center"></v-checkbox>
                  </td>
                  <td>스위트룸</td>
                  <td>301호</td>
                  <td>숙박</td>
                  <td>입실</td>
                  <td>
                    고객키
                    <v-icon icon="mdi mdi-checkbox-blank-circle-outline" color="#3C4D60" size="x-small"></v-icon>
                  </td>
                  <td>문 <span class="text-blue-lighten-1">[닫힘]</span></td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>허용</td>
                  <td>허용</td>
                  <td>허용</td>
                </tr>
                <tr>
                  <td>
                    <v-checkbox hide-details density="default" color="#fc6060" label="" class="check-box justify-center"></v-checkbox>
                  </td>
                  <td>일반실</td>
                  <td>305호</td>
                  <td>공실</td>
                  <td>공실</td>
                  <td>
                    고객키
                    <v-icon icon="mdi mdi-close" color="#FC6060" size="x-small"></v-icon>
                  </td>
                  <td>문 <span class="text-red-accent-2">[열림]</span></td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td class="text-red-accent-2">중지</td>
                  <td class="text-red-accent-2">중지</td>
                  <td class="text-red-accent-2">중지</td>
                </tr>
                <tr>
                  <td>
                    <v-checkbox hide-details density="default" color="#fc6060" label="" class="check-box justify-center"></v-checkbox>
                  </td>
                  <td>일반실</td>
                  <td>201호</td>
                  <td>공실</td>
                  <td>공실</td>
                  <td>NO KEY</td>
                  <td>문 <span class="text-red-accent-2">[열림]</span></td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>허용</td>
                  <td>허용</td>
                  <td>허용</td>
                </tr>
                <tr>
                  <td>
                    <v-checkbox hide-details density="default" color="#fc6060" label="" class="check-box justify-center"></v-checkbox>
                  </td>
                  <td>스위트룸</td>
                  <td>301호</td>
                  <td>숙박</td>
                  <td>입실</td>
                  <td>
                    고객키
                    <v-icon icon="mdi mdi-checkbox-blank-circle-outline" color="#3C4D60" size="x-small"></v-icon>
                  </td>
                  <td>문 <span class="text-blue-lighten-1">[닫힘]</span></td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>허용</td>
                  <td>허용</td>
                  <td>허용</td>
                </tr>
                <tr>
                  <td>
                    <v-checkbox hide-details density="default" color="#fc6060" label="" class="check-box justify-center"></v-checkbox>
                  </td>
                  <td>일반실</td>
                  <td>305호</td>
                  <td>공실</td>
                  <td>공실</td>
                  <td>
                    고객키
                    <v-icon icon="mdi mdi-close" color="#FC6060" size="x-small"></v-icon>
                  </td>
                  <td>문 <span class="text-red-accent-2">[열림]</span></td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td class="text-red-accent-2">중지</td>
                  <td class="text-red-accent-2">중지</td>
                  <td class="text-red-accent-2">중지</td>
                </tr>
                <tr>
                  <td>
                    <v-checkbox hide-details density="default" color="#fc6060" label="" class="check-box justify-center"></v-checkbox>
                  </td>
                  <td>일반실</td>
                  <td>201호</td>
                  <td>공실</td>
                  <td>공실</td>
                  <td>NO KEY</td>
                  <td>문 <span class="text-red-accent-2">[열림]</span></td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>허용</td>
                  <td>허용</td>
                  <td>허용</td>
                </tr>
                <tr>
                  <td>
                    <v-checkbox hide-details density="default" color="#fc6060" label="" class="check-box justify-center"></v-checkbox>
                  </td>
                  <td>스위트룸</td>
                  <td>301호</td>
                  <td>숙박</td>
                  <td>입실</td>
                  <td>
                    고객키
                    <v-icon icon="mdi mdi-checkbox-blank-circle-outline" color="#3C4D60" size="x-small"></v-icon>
                  </td>
                  <td>문 <span class="text-blue-lighten-1">[닫힘]</span></td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>허용</td>
                  <td>허용</td>
                  <td>허용</td>
                </tr>
                <tr>
                  <td>
                    <v-checkbox hide-details density="default" color="#fc6060" label="" class="check-box justify-center"></v-checkbox>
                  </td>
                  <td>일반실</td>
                  <td>305호</td>
                  <td>공실</td>
                  <td>공실</td>
                  <td>
                    고객키
                    <v-icon icon="mdi mdi-close" color="#FC6060" size="x-small"></v-icon>
                  </td>
                  <td>문 <span class="text-red-accent-2">[열림]</span></td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td class="text-red-accent-2">중지</td>
                  <td class="text-red-accent-2">중지</td>
                  <td class="text-red-accent-2">중지</td>
                </tr>
                <tr>
                  <td>
                    <v-checkbox hide-details density="default" color="#fc6060" label="" class="check-box justify-center"></v-checkbox>
                  </td>
                  <td>일반실</td>
                  <td>201호</td>
                  <td>공실</td>
                  <td>공실</td>
                  <td>NO KEY</td>
                  <td>문 <span class="text-red-accent-2">[열림]</span></td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>허용</td>
                  <td>허용</td>
                  <td>허용</td>
                </tr>
                <tr>
                  <td>
                    <v-checkbox hide-details density="default" color="#fc6060" label="" class="check-box justify-center"></v-checkbox>
                  </td>
                  <td>스위트룸</td>
                  <td>301호</td>
                  <td>숙박</td>
                  <td>입실</td>
                  <td>
                    고객키
                    <v-icon icon="mdi mdi-checkbox-blank-circle-outline" color="#3C4D60" size="x-small"></v-icon>
                  </td>
                  <td>문 <span class="text-blue-lighten-1">[닫힘]</span></td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>허용</td>
                  <td>허용</td>
                  <td>허용</td>
                </tr>
                <tr>
                  <td>
                    <v-checkbox hide-details density="default" color="#fc6060" label="" class="check-box justify-center"></v-checkbox>
                  </td>
                  <td>일반실</td>
                  <td>305호</td>
                  <td>공실</td>
                  <td>공실</td>
                  <td>
                    고객키
                    <v-icon icon="mdi mdi-close" color="#FC6060" size="x-small"></v-icon>
                  </td>
                  <td>문 <span class="text-red-accent-2">[열림]</span></td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td>26</td>
                  <td class="text-red-accent-2">중지</td>
                  <td class="text-red-accent-2">중지</td>
                  <td class="text-red-accent-2">중지</td>
                </tr>
              </tbody>
            </v-table>
          </div>
        </v-col>
        <v-col class="v-col-auto d-flex flex-column" style="width: 310px">
          <v-card-text class="d-flex flex-column flex-grow-1 py-0 pl-1">
            <v-btn-toggle dense multiple class="box-btn-toggle pa-2 bg-white rounded-0" style="width: 100%; height: auto; flex: 0 0 auto; border: 1px solid #d6dbe2 !important">
              <v-row dense>
                <v-col cols="4">
                  <v-btn color="#FC6060" text-color="#fff" width="100%" height="28" class="pa-0 text-caption rounded"> 대실입실 </v-btn>
                </v-col>
                <v-col cols="4">
                  <v-btn color="#FC6060" text-color="#fff" width="100%" height="28" class="pa-0 text-caption rounded"> 청소지시 </v-btn>
                </v-col>
                <v-col cols="4">
                  <v-btn color="#FC6060" text-color="#fff" width="100%" height="28" class="pa-0 text-caption rounded"> 사용중 온도 </v-btn>
                </v-col>
                <v-col cols="4">
                  <v-btn color="#FC6060" text-color="#fff" width="100%" height="28" class="pa-0 text-caption rounded"> 숙박 입실 </v-btn>
                </v-col>
                <v-col cols="4">
                  <v-btn color="#FC6060" text-color="#fff" width="100%" height="28" class="pa-0 text-caption rounded"> 청소완료 </v-btn>
                </v-col>
                <v-col cols="4">
                  <v-btn color="#FC6060" text-color="#fff" width="100%" height="28" class="pa-0 text-caption rounded"> 외출중 온도 </v-btn>
                </v-col>
                <v-col cols="4">
                  <v-btn color="#FC6060" text-color="#fff" width="100%" height="28" class="pa-0 text-caption rounded"> 입실취소 </v-btn>
                </v-col>
                <v-col cols="4">
                  <v-btn color="#FC6060" text-color="#fff" width="100%" height="28" class="pa-0 text-caption rounded"> 외출 </v-btn>
                </v-col>
                <v-col cols="4">
                  <v-btn color="#FC6060" text-color="#fff" width="100%" height="28" class="pa-0 text-caption rounded"> 청소대기 온도 </v-btn>
                </v-col>
                <v-col cols="4">
                  <v-btn color="#FC6060" text-color="#fff" width="100%" height="28" class="pa-0 text-caption rounded"> 퇴실 </v-btn>
                </v-col>
                <v-col cols="4">
                  <v-btn color="#FC6060" text-color="#fff" width="100%" height="28" class="pa-0 text-caption rounded"> 외출복귀 </v-btn>
                </v-col>
                <v-col cols="4">
                  <v-btn color="#FC6060" text-color="#fff" width="100%" height="28" class="pa-0 text-caption rounded"> 청소중 온도 </v-btn>
                </v-col>
                <v-col cols="4">
                  <v-btn color="#FC6060" text-color="#fff" width="100%" height="28" class="pa-0 text-caption rounded"> 공실 </v-btn>
                </v-col>
                <v-col cols="4"></v-col>
                <v-col cols="4">
                  <v-btn color="#FC6060" text-color="#fff" width="100%" height="28" class="pa-0 text-caption rounded"> 공실온도 </v-btn>
                </v-col>
              </v-row>
            </v-btn-toggle>
            <v-card elevation="0" border="1" rounded="0" class="title-textarea-box pa-0 mt-5 flex-grow-1">
              <v-card-title>객실 표시 내용 입력</v-card-title>
              <v-card-text class="pa-0">
                <v-textarea single-line hide-details variant placeholder="표시할 내용을 입력하세요."></v-textarea>
              </v-card-text>
            </v-card>
            <v-row dense class="mt-1" style="flex: 0 0 auto">
              <v-col>
                <v-btn width="100%" height="30" elevation="0" color="#3C4D60" text-color="#fff" class="text-caption"> 적용 </v-btn>
              </v-col>
              <v-col>
                <v-btn width="100%" height="30" elevation="0" color="#2680EB" text-color="#fff" class="text-caption"> 삭제 </v-btn>
              </v-col>
            </v-row>
            <v-table density="comfortable" class="table-view mt-5">
              <colgroup>
                <col width="110px" />
                <col width="auto" />
              </colgroup>
              <tbody>
                <tr>
                  <th>무인 숙박 판매</th>
                  <td>
                    <v-radio-group inline hide-details class="radio-box-group d-flex align-center flex-grow-0">
                      <v-radio density="compact" label="허용" value="허용" color="#3C4D60" class="radio-box"></v-radio>
                      <v-radio density="compact" label="중지" value="중지" color="#FC6060" class="radio-box"></v-radio>
                    </v-radio-group>
                  </td>
                </tr>
                <tr>
                  <th>무인 대실 판매</th>
                  <td>
                    <v-radio-group inline hide-details class="radio-box-group d-flex align-center flex-grow-0">
                      <v-radio density="compact" label="허용" value="허용" color="#3C4D60" class="radio-box"></v-radio>
                      <v-radio density="compact" label="중지" value="중지" color="#FC6060" class="radio-box"></v-radio>
                    </v-radio-group>
                  </td>
                </tr>
                <tr>
                  <th>무인 예약 판매</th>
                  <td>
                    <v-radio-group inline hide-details class="radio-box-group d-flex align-center flex-grow-0">
                      <v-radio density="compact" label="허용" value="허용" color="#3C4D60" class="radio-box"></v-radio>
                      <v-radio density="compact" label="중지" value="중지" color="#FC6060" class="radio-box"></v-radio>
                    </v-radio-group>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
        </v-col>
      </v-row>
      <div class="d-flex justify-center mt-6 mb-3">
        <v-btn width="150" height="40" elevation="0" color="#3C4D60" text-color="#fff"> 닫기 </v-btn>
      </div>
    </v-layout>
  </v-card>
</template>
<script lang="ts">
  import { defineComponent, ref } from "vue";
  import PopupTitle from "@/components/PopViewTitle.vue";

  export default defineComponent({
    name: "BatchProcessing",
    components: {
      PopupTitle,
    },
    data: () => ({}),
  });
</script>
