<template>
  <v-card elevation="0" rounded="0" color="#F2F5F8">
    <popup-title :title="'포인트 이력 조회'" :pinHide="true"></popup-title>
    <v-layout class="pt-1 py-5 flex-column">
      <v-card-title class="text-body-2 pb-0">
        <strong class="font-weight-bold">조회일자</strong>
      </v-card-title>
      <v-card-text class="py-0 pr-1">
        <v-card
          elevation="0"
          rounded="0"
          border="1"
          class="pa-2"
        >
          <v-row dense>
            <v-col class="v-col-auto" style="width: 110px">
              <v-radio-group inline hide-details class="radio-box-group d-flex align-center">
                <v-radio
                  density="compact"
                  label="어제"
                  value="어제"
                  color="#FC6060"
                  class="radio-box"
                ></v-radio>
                <v-radio
                  density="compact"
                  label="오늘"
                  value="오늘"
                  color="#FC6060"
                  class="radio-box"
                ></v-radio>
                <v-radio
                  density="compact"
                  label="이번주"
                  value="이번주"
                  color="#FC6060"
                  class="radio-box"
                ></v-radio>
                <v-radio
                  density="compact"
                  label="이번달"
                  value="이번달"
                  color="#FC6060"
                  class="radio-box"
                ></v-radio>
              </v-radio-group>
            </v-col>
            <v-col>
              <v-row dense>
                <v-col>
                  <v-row dense>
                    <v-col cols="6">
                      <date-picker class="brd-grey"></date-picker>
                    </v-col>
                    <v-col cols="3">
                      <num-ctrl
                        :preBtn="'mdi-chevron-down'"
                        :nextBtn="'mdi-chevron-up'"
                        :modelValue="'18시'"
                        style="max-width: 100%"
                      ></num-ctrl>
                    </v-col>
                    <v-col cols="3">
                      <num-ctrl
                        :preBtn="'mdi-chevron-down'"
                        :nextBtn="'mdi-chevron-up'"
                        :modelValue="'0분'"
                        style="max-width: 100%"
                      ></num-ctrl>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col
                  class="v-col-auto px-0 d-flex align-center justify-center"
                  style="width: 20px"
                >
                  ~
                </v-col>
                <v-col>
                  <v-row dense>
                    <v-col cols="6">
                      <date-picker class="brd-grey"></date-picker>
                    </v-col>
                    <v-col cols="3">
                      <num-ctrl
                        :preBtn="'mdi-chevron-down'"
                        :nextBtn="'mdi-chevron-up'"
                        :modelValue="'18시'"
                        style="max-width: 100%"
                      ></num-ctrl>
                    </v-col>
                    <v-col cols="3">
                      <num-ctrl
                        :preBtn="'mdi-chevron-down'"
                        :nextBtn="'mdi-chevron-up'"
                        :modelValue="'0분'"
                        style="max-width: 100%"
                      ></num-ctrl>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-col>
            <v-col class="v-col-auto" style="width: 52px">
              <v-btn
                elevation="0"
                min-width="46"
                height="28"            
                text-color="#2C2F35"
                border="1"
                class="text-caption pa-0 brd-red-accent-2"
              >
                조회
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-card-text>
      <v-card-title class="text-body-2 pb-0 pt-5">
        <strong class="font-weight-bold">필터옵션</strong>
        <div class="ml-auto d-flex align-center">
          <span class="text-caption mr-1">검색어</span>
          <search-form style="width: 190px"></search-form>
        </div>
      </v-card-title>
      <v-card-text class="pt-1 pb-0">
        <v-card
          elevation="0"
          rounded="0"
          border="1"
          class="pa-2"
        >
          <div class="d-flex">
            <v-checkbox
              hide-details
              density="default"
              color="#fc6060"
              label="전체선택"
              class="check-box flex-grow-0"
            ></v-checkbox>
            <v-checkbox
              hide-details
              density="default"
              color="#fc6060"
              label="포인트 추가"
              class="check-box flex-grow-0 ml-3"
            ></v-checkbox>
            <v-checkbox
              hide-details
              density="default"
              color="#fc6060"
              label="포인트 차감"
              class="check-box flex-grow-0 ml-3"
            ></v-checkbox>
          </div>
        </v-card>
      </v-card-text>
      <div class="table-list02 pa-4 pb-0">
        <div class="d-flex align-center mb-2">
          <span class="text-caption align-self-end">Total: <strong>46</strong>개</span>
        </div>
        <v-table
          fixed-header
          density="compact"
          height="300"
          class="text-center"
        >
          <colgroup>
            <col width="18%"/>
            <col width="15.33%" span="3"/>
            <col width="18%" span="2"/>
          </colgroup>
          <thead>
            <tr>
              <th>
                일시
                <v-btn
                  width="20"
                  height="20"
                  elevation="0"
                  color="#304153"
                  text-color="#fff"
                  icon="mdi mdi-menu-up"
                ></v-btn>
              </th>
              <th>전화번호</th>
              <th>구분</th>
              <th>근무자</th>
              <th>변경 포인트</th>
              <th>잔여 포인트</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2022-12-24 17:23:02</td>
              <td>010-1234-5678</td>
              <td>자동</td>
              <td>홍길동</td>
              <td>10.000P</td>
              <td class="text-light-blue-lighten-1">10.000P</td>
            </tr>
            <tr>
              <td>2022-12-24 17:23:02</td>
              <td>010-1234-5678</td>
              <td>프론트</td>
              <td>매니저</td>
              <td>10.000P</td>
              <td class="text-light-blue-lighten-1">10.000P</td>
            </tr>
            <tr>
              <td>2022-12-24 17:23:02</td>
              <td>010-1234-5678</td>
              <td>IDM</td>
              <td>홍길동</td>
              <td>10.000P</td>
              <td class="text-light-blue-lighten-1">10.000P</td>
            </tr>
            <tr>
              <td>2022-12-24 17:23:02</td>
              <td>010-1234-5678</td>
              <td>자동</td>
              <td>매니저</td>
              <td>10.000P</td>
              <td class="text-light-blue-lighten-1">10.000P</td>
            </tr>
            <tr>
              <td>2022-12-24 17:23:02</td>
              <td>010-1234-5678</td>
              <td>자동</td>
              <td>홍길동</td>
              <td>10.000P</td>
              <td class="text-light-blue-lighten-1">10.000P</td>
            </tr>
            <tr>
              <td>2022-12-24 17:23:02</td>
              <td>010-1234-5678</td>
              <td>자동</td>
              <td>홍길동</td>
              <td>10.000P</td>
              <td class="text-light-blue-lighten-1">10.000P</td>
            </tr>
            <tr>
              <td>2022-12-24 17:23:02</td>
              <td>010-1234-5678</td>
              <td>자동</td>
              <td>홍길동</td>
              <td>10.000P</td>
              <td class="text-light-blue-lighten-1">10.000P</td>
            </tr>
            <tr>
              <td>2022-12-24 17:23:02</td>
              <td>010-1234-5678</td>
              <td>자동</td>
              <td>홍길동</td>
              <td>10.000P</td>
              <td class="text-light-blue-lighten-1">10.000P</td>
            </tr>
            <tr>
              <td>2022-12-24 17:23:02</td>
              <td>010-1234-5678</td>
              <td>자동</td>
              <td>홍길동</td>
              <td>10.000P</td>
              <td class="text-light-blue-lighten-1">10.000P</td>
            </tr>
          </tbody>
        </v-table>
      </div>
      <div class="d-flex justify-center mt-6 mb-3">
        <v-btn
          width="150"
          height="40"
          elevation="0"
          color="#3C4D60"
          text-color="#fff"
        >
          닫기
        </v-btn>
      </div>
    </v-layout>
  </v-card>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import PopupTitle from "@/components/PopViewTitle.vue";
import DatePicker from "@/components/DatePicker.vue";
import SearchForm from "@/components/SearchForm.vue";
import NumCtrl from "@/components/NumCtrl.vue";

export default defineComponent({
  name: "PointCheck",
  components: {
    PopupTitle,
    DatePicker,
    SearchForm,
    NumCtrl,
  },
  data: () => ({}),
});
</script>
