<template>
  <v-card elevation="0" rounded="0" color="#F2F5F8">
    <popup-title :title="'예약관리'" :pinHide="true"></popup-title>
    <v-tabs
      v-model="tab"
      grow
      hide-slider
      background-color="#fff"
      class="tab-box2 mx-4 mt-2"
    >
      <v-tab value="one">
        <v-icon icon="mdi mdi-clipboard-list" class="mr-1"></v-icon>
        객실예약 목록
      </v-tab>
      <v-tab value="two">
        <v-icon icon="mdi mdi-cursor-pointer" class="mr-1"></v-icon>
        객실예약 등록
      </v-tab>
    </v-tabs>
    <v-card-text class="px-0">
      <v-window v-model="tab">
        <v-window-item
          value="one"
          transition="none"
          reverse-transition="none"
        >
          <tab-reservation-list></tab-reservation-list>
        </v-window-item>
        <v-window-item
          value="two"
          transition="none"
          reverse-transition="none"
        >
          <tab-reservation-registration></tab-reservation-registration>
        </v-window-item>
      </v-window>
    </v-card-text>
  </v-card>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import PopupTitle from "@/components/PopViewTitle.vue";
import TabReservationList from "./TabReservationList.vue";
import TabReservationRegistration from "./TabReservationRegistration.vue";

export default defineComponent({
  name: "ReservationManagement",
  components: {
    PopupTitle,
    TabReservationList,
    TabReservationRegistration,
  },
  data: () => ({
    tab: 'one',
  }),
});
</script>
