<template>
  <v-layout class="pt-0 py-5 flex-column">
    <v-card-title class="text-body-2 py-0 text-black">
      <strong class="font-weight-bold">객실예약 목록</strong>
    </v-card-title>
    <v-card-text class="py-0">
      <v-table density="comfortable" class="table-view">
        <colgroup>
          <col width="280px" />
          <col width="120px" />
          <col width="auto" />
        </colgroup>
        <tbody>
          <tr>
            <td>
              <v-radio-group
                inline
                hide-details
                class="radio-box-group d-flex align-center flex-grow-0"
              >
                <v-radio
                  density="compact"
                  label="어제"
                  value="어제"
                  color="#FC6060"
                  class="radio-box"
                ></v-radio>
                <v-radio
                  density="compact"
                  label="오늘"
                  value="오늘"
                  color="#FC6060"
                  class="radio-box"
                ></v-radio>
                <v-radio
                  density="compact"
                  label="이번주"
                  value="이번주"
                  color="#FC6060"
                  class="radio-box"
                ></v-radio>
                <v-radio
                  density="compact"
                  label="이번달"
                  value="이번달"
                  color="#FC6060"
                  class="radio-box"
                ></v-radio>
              </v-radio-group>
            </td>
            <th>날짜 및 타입선택</th>
            <td>
              <div class="d-flex align-center">
                <div
                  class="d-flex align-center"
                  style="width: 30%; min-width: 210px"
                >
                  <date-picker class="brd-grey"></date-picker>
                  <span class="mx-1">~</span>
                  <date-picker class="brd-grey"></date-picker>
                </div>
                <v-row no-gutters style="width: 50%">
                  <v-col>
                    <v-select
                      :items="items"
                      density="compact"
                      hide-details
                      single-line
                      class="select-box type02 bg-gray brd-gray ml-1"
                    ></v-select>
                  </v-col>
                  <v-col>
                    <v-select
                      :items="items02"
                      density="compact"
                      hide-details
                      single-line
                      class="select-box type02 bg-gray brd-gray ml-1"
                    ></v-select>
                  </v-col>
                  <v-col>
                    <v-select
                      :items="items03"
                      density="compact"
                      hide-details
                      single-line
                      class="select-box type02 bg-gray brd-gray ml-1"
                    ></v-select>
                  </v-col>
                </v-row>
                <search-form style="width: 20%" class="ml-1"></search-form>
              </div>
            </td>
          </tr>
        </tbody>
      </v-table>
      <div class="table-list02 pt-4">
        <v-table
          fixed-header
          density="compact"
          height="493"
          class="overflow-y-auto text-center"
        >
          <thead>
            <tr>
              <th>OTA</th>
              <th>예약번호</th>
              <th>타입</th>
              <th>상태</th>
              <th>
                일시
                <v-btn
                  width="20"
                  height="20"
                  elevation="0"
                  color="#304153"
                  text-color="#fff"
                  icon="mdi mdi-menu-down"
                ></v-btn>
              </th>
              <th>퇴실입실</th>
              <th>휴대폰 번호</th>
              <th>객실타입</th>
              <th>배정객실</th>
              <th>고객명</th>
              <th>판매가</th>
              <th>예약가</th>
              <th>접수일자</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>여기어때</td>
              <td>8632-1697</td>
              <td class="text-indigo-accent-2">숙박</td>
              <td>정상예약</td>
              <td>2022-12-24 20:00</td>
              <td>2022-12-24 20:00</td>
              <td>010-1234-5678</td>
              <td>일반실</td>
              <td class="text-red-accent-2">미배정</td>
              <td>최현석</td>
              <td>50,000원</td>
              <td class="text-blue">65,000원</td>
              <td>2022-12-24 20:00</td>
            </tr>
            <tr>
              <td>야놀자</td>
              <td>8632-1697</td>
              <td class="text-deep-purple-darken-1">숙박</td>
              <td>정상예약</td>
              <td>2022-12-24 20:00</td>
              <td>2022-12-24 20:00</td>
              <td>010-1234-5678</td>
              <td>VIP룸</td>
              <td class="text-blue">배정</td>
              <td>최현석</td>
              <td>50,000원</td>
              <td class="text-blue">65,000원</td>
              <td>2022-12-24 20:00</td>
            </tr>
            <tr>
              <td>호텔스닷컴</td>
              <td>8632-1697</td>
              <td class="text-deep-purple-darken-1">숙박</td>
              <td>정상예약</td>
              <td>2022-12-24 20:00</td>
              <td>2022-12-24 20:00</td>
              <td>010-1234-5678</td>
              <td class="text-blue">미배정</td>
              <td class="text-blue">배정</td>
              <td>최현석</td>
              <td>50,000원</td>
              <td class="text-blue">65,000원</td>
              <td>2022-12-24 20:00</td>
            </tr>
            <tr>
              <td>아고다</td>
              <td>8632-1697</td>
              <td class="text-deep-purple-darken-1">숙박</td>
              <td>정상예약</td>
              <td>2022-12-24 20:00</td>
              <td>2022-12-24 20:00</td>
              <td>010-1234-5678</td>
              <td>스위트룸</td>
              <td class="text-blue">배정</td>
              <td>최현석</td>
              <td>50,000원</td>
              <td class="text-blue">65,000원</td>
              <td>2022-12-24 20:00</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </v-table>
      </div>
    </v-card-text>
    <div class="d-flex justify-center mt-5">
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#3C4D60"
        text-color="#fff"
        variant="outlined"
      >
        닫기
      </v-btn>
    </div>
  </v-layout>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
import DatePicker from '@/components/DatePicker.vue';
import SearchForm from '@/components/SearchForm.vue';

export default defineComponent({
  name: 'TabReservationList',
  components: {
    DatePicker,
    SearchForm,
  },
  data: () => ({
    items: ['전체예약', '정상예약', '취소예약', '사용완료'],
    items02: ['예약 객실타입', '일반룸', 'VIP룸', '스위트룸'],
    items03: ['예약 객실선택'],
  }),
});
</script>
