<template>
  <v-layout class="pt-0 py-5 flex-column">
    <v-card-title class="text-body-2 py-0 text-black">
      <strong class="font-weight-bold">예약정보 입력</strong>
    </v-card-title>
    <v-card-text class="py-0">
      <v-row dense>
        <v-col>
          <v-table density="comfortable" class="table-view">
            <colgroup>
              <col width="110px" />
              <col width="auto" />
            </colgroup>
            <tbody>
              <tr>
                <th>숙박형태</th>
                <td>
                  <v-select
                    :items="items"
                    density="compact"
                    hide-details
                    single-line
                    class="select-box type02 bg-gray"
                  ></v-select>
                </td>
              </tr>
              <tr>
                <th>예약방법</th>
                <td>
                  <v-select
                    :items="items03"
                    density="compact"
                    hide-details
                    single-line
                    class="select-box type02 bg-gray"
                  ></v-select>
                </td>
              </tr>
              <tr>
                <th>객실타입</th>
                <td>
                  <v-select
                    :items="items04"
                    density="compact"
                    hide-details
                    single-line
                    class="select-box type02 bg-gray"
                  ></v-select>
                </td>
              </tr>
              <tr>
                <th>입실 예정일</th>
                <td>
                  <div class="d-flex align-center">
                    <date-picker class="brd-grey"></date-picker>
                    <num-ctrl
                      :preBtn="'mdi-chevron-down'"
                      :nextBtn="'mdi-chevron-up'"
                      :modelValue="'14시'"
                      class="ml-2"
                      style="width: 100px"
                    ></num-ctrl>
                    <num-ctrl
                      :preBtn="'mdi-chevron-down'"
                      :nextBtn="'mdi-chevron-up'"
                      :modelValue="'0분'"
                      class="ml-2"
                      style="width: 100px"
                    ></num-ctrl>
                  </div>
                </td>
              </tr>
              <tr>
                <th>휴대폰 번호</th>
                <td>
                  <v-text-field
                    single-line
                    hide-details
                    density="compact"
                    color="#2C2F35"
                    bg-color="#F9F9F9"
                    variant="outlined"
                    class="input-box"
                  ></v-text-field>
                </td>
              </tr>
              <tr>
                <th>고객명</th>
                <td>
                  <v-text-field
                    single-line
                    hide-details
                    density="compact"
                    color="#2C2F35"
                    bg-color="#F9F9F9"
                    variant="outlined"
                    class="input-box"
                  ></v-text-field>
                </td>
              </tr>
              <tr>
                <th>판매가</th>
                <td>
                  <v-text-field
                    single-line
                    hide-details
                    density="compact"
                    color="#2C2F35"
                    bg-color="#F9F9F9"
                    variant="outlined"
                    class="input-box text-right text-blue"
                  ></v-text-field>
                </td>
              </tr>
              <tr>
                <th>OTA 결재</th>
                <td>
                  <div class="d-flex aling-center">
                    <num-ctrl
                      :preBtn="'mdi-minus'"
                      :nextBtn="'mdi-plus'"
                      :modelValue="'0원'"
                      class="flex-grow-1 mr-1"
                      style="max-width: 100%"
                    ></num-ctrl>
                    <v-btn
                      elevation="0"
                      color="#3C4D60"
                      text-color="#fff"
                      min-width="56"
                      height="28"
                      variant="outlined"
                      class="text-caption ml-2 m-hover pa-0"
                    >
                      잔액<v-icon icon="mdi mdi-plus" size="small"></v-icon>
                    </v-btn>
                    <v-btn
                      elevation="0"
                      color="#5E7892"
                      text-color="#fff"
                      min-width="40"
                      height="28"
                      variant="outlined"
                      class="text-caption ml-1 pa-0"
                    >
                      +1.0
                    </v-btn>
                    <v-btn
                      elevation="0"
                      color="#5E7892"
                      text-color="#fff"
                      min-width="40"
                      height="28"
                      variant="outlined"
                      class="text-caption ml-1 pa-0"
                    >
                      +5.0
                    </v-btn>
                    <v-btn
                      elevation="0"
                      color="#5E7892"
                      text-color="#fff"
                      min-width="40"
                      height="28"
                      variant="outlined"
                      class="text-caption ml-1 pa-0"
                    >
                      +10
                    </v-btn>
                  </div>
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
        <v-col>
          <v-table density="comfortable" class="table-view">
            <colgroup>
              <col width="110px" />
              <col width="auto" />
            </colgroup>
            <tbody>
              <tr>
                <th>예약상태</th>
                <td>
                  <v-select
                    :items="items02"
                    density="compact"
                    hide-details
                    single-line
                    class="select-box type02 bg-gray"
                  ></v-select>
                </td>
              </tr>
              <tr>
                <th>예약일</th>
                <td>
                  <v-text-field
                    single-line
                    hide-details
                    density="compact"
                    color="#2C2F35"
                    bg-color="#F9F9F9"
                    variant="outlined"
                    class="input-box"
                  ></v-text-field>
                </td>
              </tr>
              <tr>
                <th>객실배정</th>
                <td>
                  <div class="d-flex">
                    <v-select
                      :items="items05"
                      density="compact"
                      hide-details
                      single-line
                      class="select-box type02 bg-gray"
                    ></v-select>
                    <v-checkbox
                      hide-details
                      density="default"
                      color="#fc6060"
                      label="자동배정"
                      class="check-box flex-grow-0 ml-1"
                    ></v-checkbox>
                  </div>
                </td>
              </tr>
              <tr>
                <th>퇴실 예정일</th>
                <td>
                  <div class="d-flex align-center">
                    <date-picker class="brd-grey"></date-picker>
                    <num-ctrl
                      :preBtn="'mdi-chevron-down'"
                      :nextBtn="'mdi-chevron-up'"
                      :modelValue="'14시'"
                      class="ml-2"
                      style="width: 100px"
                    ></num-ctrl>
                    <num-ctrl
                      :preBtn="'mdi-chevron-down'"
                      :nextBtn="'mdi-chevron-up'"
                      :modelValue="'0분'"
                      class="ml-2"
                      style="width: 100px"
                    ></num-ctrl>
                  </div>
                </td>
              </tr>
              <tr>
                <th>예약번호</th>
                <td>
                  <div class="d-flex">
                    <v-text-field
                      single-line
                      hide-details
                      density="compact"
                      color="#2C2F35"
                      bg-color="#F9F9F9"
                      variant="outlined"
                      class="input-box"
                    ></v-text-field>
                    <v-btn
                      elevation="0"
                      color="#FC6060"
                      text-color="#fff"
                      height="28"
                      variant="outlined"
                      class="text-caption ml-2"
                    >
                      번호 자동 생성
                    </v-btn>
                  </div>
                </td>
              </tr>
              <tr>
                <th>방문형태</th>
                <td>
                  <v-select
                    :items="items05"
                    density="compact"
                    hide-details
                    single-line
                    class="select-box type02 bg-gray"
                  ></v-select>
                </td>
              </tr>
              <tr>
                <th>예약가</th>
                <td>
                  <div class="d-flex aling-center">
                    <num-ctrl
                      :preBtn="'mdi-minus'"
                      :nextBtn="'mdi-plus'"
                      :modelValue="'0원'"
                      class="flex-grow-1 mr-1"
                      style="max-width: 100%"
                    ></num-ctrl>
                    <v-btn
                      elevation="0"
                      color="#3C4D60"
                      text-color="#fff"
                      min-width="56"
                      height="28"
                      variant="outlined"
                      class="text-caption ml-2 m-hover pa-0"
                    >
                      잔액<v-icon icon="mdi mdi-plus" size="small"></v-icon>
                    </v-btn>
                    <v-btn
                      elevation="0"
                      color="#5E7892"
                      text-color="#fff"
                      min-width="40"
                      height="28"
                      variant="outlined"
                      class="text-caption ml-1 pa-0"
                    >
                      +1.0
                    </v-btn>
                    <v-btn
                      elevation="0"
                      color="#5E7892"
                      text-color="#fff"
                      min-width="40"
                      height="28"
                      variant="outlined"
                      class="text-caption ml-1 pa-0"
                    >
                      +5.0
                    </v-btn>
                    <v-btn
                      elevation="0"
                      color="#5E7892"
                      text-color="#fff"
                      min-width="40"
                      height="28"
                      variant="outlined"
                      class="text-caption ml-1 pa-0"
                    >
                      +10
                    </v-btn>
                  </div>
                </td>
              </tr>
              <tr>
                <th>결제잔금</th>
                <td>
                  <v-text-field
                    single-line
                    hide-details
                    density="compact"
                    color="#2C2F35"
                    bg-color="#F9F9F9"
                    variant="outlined"
                    class="input-box text-right text-red"
                  ></v-text-field>
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
      <v-table density="comfortable" class="table-view mt-3">
        <colgroup>
          <col width="110px" />
          <col width="auto" />
        </colgroup>
        <tbody>
          <tr>
            <th>고객메모</th>
            <td>
              <div
                class="overflow-y-auto py-2 text-grey-lighten-1"
                style="height: 216px"
              >
                고객 메모가 없습니다.
              </div>
            </td>
          </tr>
        </tbody>
      </v-table>
    </v-card-text>
    <div class="d-flex justify-center mt-5">
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#2680EB"
        text-color="#fff"
        variant="outlined"
      >
        예약등록
      </v-btn>
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#3C4D60"
        text-color="#fff"
        variant="outlined"
        class="ml-3"
      >
        닫기
      </v-btn>
    </div>
  </v-layout>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
import DatePicker from '@/components/DatePicker.vue';
import NumCtrl from '@/components/NumCtrl.vue';

export default defineComponent({
  name: 'TabReservationRegistration',
  components: {
    DatePicker,
    NumCtrl,
  },
  data: () => ({
    items: ['숙박'],
    items02: ['정상예약'],
    items03: ['야놀자'],
    items04: ['객실타입 예약'],
    items05: ['객실타입을 선택해주세요.'],
    items06: ['도보방문'],
  }),
});
</script>
