<template>
  <v-card
    rounded="0"
    color="#25313D"
    class="d-flex flex-column"
  >
    <popup-title
      :title="'객실 타임머신'"
      :mlAuto="'ml-auto'"
      :pinHide="true"
      class="text-white">
    </popup-title>
    <timeline-toolbar></timeline-toolbar>
    <v-card-text class="d-flex flex-grow-1 pr-0" style="position: relative;">
      <v-row no-gutters>
        <v-col style="position: relative;">
          <timeline-page
            :top="'-27px'"
            :transform="'translateX(-50%) scale3d(0.95, 0.85, 1)'"
            :zIndex="'5'"
          ></timeline-page>
          <timeline-page
            :top="'-37px'"
            :transform="'translateX(-50%) scale3d(0.92, 0.85, 1)'"
            :zIndex="'4'"
          ></timeline-page>
          <timeline-page
            :top="'-47px'"
            :transform="'translateX(-50%) scale3d(0.89, 0.85, 1)'"
            :zIndex="'3'"
          ></timeline-page>
          <timeline-page
            :top="'-57px'"
            :transform="'translateX(-50%) scale3d(0.86, 0.85, 1)'"
            :zIndex="'2'"
          ></timeline-page>
          <timeline-page
            :top="'-67px'"
            :transform="'translateX(-50%) scale3d(0.83, 0.85, 1)'"
            :zIndex="'1'"
          ></timeline-page>
        </v-col>
        <v-col class="v-col-auto d-flex flex-column justify-center" style="width:90px">
          <v-btn
            rounded="0"
            width="28"
            height="28"
            icon="mdi-chevron-up"
            color="#52ACE0"
            text-color="#fff"
            class="rounded"
          ></v-btn>
          <span class="text-caption text-cyan-accent-3 my-5">오늘<br>20:26:31</span>
          <v-btn
            rounded="0"
            width="28"
            height="28"
            icon="mdi-chevron-down"
            color="#52ACE0"
            text-color="#fff"
            class="rounded"
          ></v-btn>
        </v-col>
        <v-col class="v-col-auto">
          <v-timeline side="start" align="start" class="room-timeline">
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
              class="on"
            >
              <div class="d-flex text-white">
                <span class="mr-2">오늘</span>
                <div class="ico-timeline mr-1">
                  <v-icon icon="mdi-door-open" size="small" color="#304153"></v-icon>
                </div>
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
              class="on"
            >
              <div class="d-flex text-white">
                <span class="mr-2">10:00</span>
                <div class="ico-timeline mr-1">
                  <v-icon icon="mdi-logout" size="small" color="#304153"></v-icon>
                </div>
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
              class="on"
            >
              <div class="d-flex text-white">
                <span class="mr-2">11:45</span>
                <div class="ico-timeline mr-1">
                  <v-icon icon="mdi-compare-horizontal" size="small" color="#304153"></v-icon>
                </div>
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
              class="on"
            >
              <div class="d-flex text-white">
                <span class="mr-2">13:48</span>
                <div class="ico-timeline mr-1">
                  <v-icon icon="mdi-login" size="small" color="#304153"></v-icon>
                </div>
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
              class="on"
            >
              <div class="d-flex text-white">
                <span class="mr-2">14:08</span>
                <div class="ico-timeline mr-1">
                  <v-icon icon="mdi-key" size="small" color="#304153"></v-icon>
                </div>
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
              class="on"
            >
              <div class="d-flex text-white">
                <span class="mr-2">15:09</span>
                <div class="ico-timeline mr-1" style="background-color:#5C86F1">숙</div>
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
              class="active"
            >
              <div class="d-flex text-white">
                <span class="mr-2">손님키</span>
                <div class="ico-timeline mr-1">
                  <v-icon icon="mdi-account" size="small" color="#304153"></v-icon>
                </div>
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
              class="on"
            >
              <div class="d-flex text-white">
                <span class="mr-2">17:37</span>
                <div class="ico-timeline mr-1">
                  <v-icon icon="mdi-key" size="small" color="#304153"></v-icon>
                </div>
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
              class="on"
            >
              <div class="d-flex text-white">
                <span class="mr-2">어제</span>
                <div class="ico-timeline mr-1">
                  <v-icon icon="mdi-close-thick" size="small" color="#304153"></v-icon>
                </div>
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
              class="on"
            >
              <div class="d-flex text-white">
                <span class="mr-2">12월 24일</span>
                <div class="ico-timeline mr-1">
                  <v-icon icon="mdi-door-closed" size="small" color="#304153"></v-icon>
                </div>
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
              class="on"
            >
              <div class="d-flex text-white">
                <span class="mr-2">15:09</span>
                <div class="ico-timeline mr-1" style="background-color:#7868E5">대</div>
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
              class="on"
            >
              <div class="d-flex text-white">
                <span class="mr-2">15:09</span>
                <div class="ico-timeline mr-1" style="background-color:#5C86F1">숙</div>
                <span class="line"></span>
              </div>
            </v-timeline-item>
            <v-timeline-item
              hide-dot
              hide-opposite
            >
              <div class="d-flex text-white">
                <span class="line"></span>
              </div>
            </v-timeline-item>
          </v-timeline>
        </v-col>
      </v-row>
      <tooltip-list style="left: 803px; top: 368px;"></tooltip-list>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import PopupTitle from "@/components/PopViewTitle02.vue";
import TimelineToolbar from "./TimelineToolbar.vue";
import TimelinePage from "./TimelinePage.vue";
import TooltipList from "./TooltipList.vue";

export default defineComponent({
  name: "timelines",
  components: {
    PopupTitle,
    TimelineToolbar,
    TimelinePage,
    TooltipList,
  },
  data: () => ({
    items: ['층 선택'],
  }),
});
</script>

<style lang="scss" scoped>
.list-date {
  display: flex;
  > div {
    margin-left: 40px;
    span, em{
      display: block;
      text-align: center;
      color: #A9D6F0;
    }
    span {
      font-size: 0.75rem;
      margin: -23px 0 5px;
    }
    em {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      font-size: 1.25rem;
      font-style: normal;
    }
    &:first-child {
      margin-left: 0;
    }
    &.active{
      span, em{
        font-weight: 700;
        color: #fff;
      }
    }
  }
}
</style>
