<template>
  <v-toolbar
    tag="div"
    height="48"
    color="#52ACE0"
    class="text-white py-0 overflow-visible"
  >
    <div class="d-flex align-center pl-6">
      <span class="text-body-2 font-num">2022년 12월 24일</span>
      <v-btn
        elevation="0"
        rounded="0"
        min-width="28"
        width="28"
        height="28"
        color="#FFFFFF"
        text-color="#2C2F35"
        variant="outlined"
        icon="mdi-calendar"
        size="small"
        class="rounded pa-0 ml-2"
      ></v-btn>
      <v-select
        :items="items"
        density="compact"
        hide-details
        single-line
        class="select-box type02 bg-gray ml-2"
        style="width: 140px"
      ></v-select>
    </div>
    <v-spacer></v-spacer>
    <div class="list-date font-num">
      <div>
        <span>SUN</span>
        <em>16</em>
      </div>
      <div>
        <span>MON</span>
        <em>17</em>
      </div>
      <div>
        <span>TUE</span>
        <em>18</em>
      </div>
      <div class="active">
        <span>MON</span>
        <em>19</em>
      </div>
      <div>
        <span>TUE</span>
        <em>20</em>
      </div>
      <div>
        <span>FRI</span>
        <em>21</em>
      </div>
      <div>
        <span>SAT</span>
        <em>22</em>
      </div>
    </div>
    <v-spacer></v-spacer>
    <div class="d-flex align-center pr-6">
      <v-checkbox
        hide-details
        density="compact"
        color="#fc6060"
        false-icon="mdi-checkbox-blank"
        label="전체"
        class="check-box dark"
      ></v-checkbox>
      <v-checkbox
        hide-details
        density="compact"
        color="#fc6060"
        false-icon="mdi-checkbox-blank"
        label="대실"
        class="check-box dark ml-2"
      ></v-checkbox>
      <v-checkbox
        hide-details
        density="compact"
        color="#fc6060"
        false-icon="mdi-checkbox-blank"
        label="숙박"
        class="check-box dark ml-2"
      ></v-checkbox>
      <v-checkbox
        hide-details
        density="compact"
        color="#fc6060"
        false-icon="mdi-checkbox-blank"
        label="장기"
        class="check-box dark ml-2"
      ></v-checkbox>
      <v-checkbox
        hide-details
        density="compact"
        color="#fc6060"
        false-icon="mdi-checkbox-blank"
        label="KEY"
        class="check-box dark ml-2"
      ></v-checkbox>
      <v-checkbox
        hide-details
        density="compact"
        color="#fc6060"
        false-icon="mdi-checkbox-blank"
        label="출입문"
        class="check-box dark ml-2"
      ></v-checkbox>
      <v-checkbox
        hide-details
        density="compact"
        color="#fc6060"
        false-icon="mdi-checkbox-blank"
        label="객실상태"
        class="check-box dark ml-2"
      ></v-checkbox>
      <v-btn
        elevation="0"
        color="#25313D"
        text-color="#fff"
        variant="outlined"
        min-width="50"
        width="50"
        height="24"
        class="text-caption pa-0 ml-5"
      >
        적용
      </v-btn>
    </div>
  </v-toolbar>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
  name: 'TimelineToolbar',
  components: {},
  data: () => ({
    items: ['층 선택'],
  }),
});
</script>

<style lang="scss" scoped>
.list-date {
  display: flex;
  > div {
    margin-left: 40px;
    span,
    em {
      display: block;
      text-align: center;
      color: #a9d6f0;
    }
    span {
      font-size: 0.75rem;
      margin: -23px 0 5px;
    }
    em {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      font-size: 1.25rem;
      font-style: normal;
    }
    &:first-child {
      margin-left: 0;
    }
    &.active {
      span,
      em {
        font-weight: 700;
        color: #fff;
      }
    }
  }
}
</style>
