<template>
  <div 
    class="tooltip-box type-list up"
    style="width: 120px;position: absolute;z-index: 6;"
  >
    <v-card
      elevation="0"
      border="1"
      rounded="lg"
      color="#25313DF2"
      text-color="#fff"
      class="px-3 py-2"
    >
      <dl class="d-flex justify-space-between">
        <dt class="text-caption text-white text-medium-emphasis">상태</dt>
        <dd class="text-caption text-white">숙박</dd>
      </dl>
      <dl class="d-flex justify-space-between">
        <dt class="text-caption text-white text-medium-emphasis">입실</dt>
        <dd class="text-caption text-yellow-darken-2">20:35</dd>
      </dl>
      <dl class="d-flex justify-space-between">
        <dt class="text-caption text-white text-medium-emphasis">도어</dt>
        <dd class="text-caption text-white">손님키</dd>
      </dl>
      <dl class="d-flex justify-space-between">
        <dt class="text-caption text-white text-medium-emphasis">전원</dt>
        <dd class="text-caption text-blue">ON</dd>
      </dl>
      <dl class="d-flex justify-space-between">
        <dt class="text-caption text-white text-medium-emphasis">통신</dt>
        <dd class="text-caption text-blue">정상</dd>
      </dl>
    </v-card>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "TooltipList",
  components: {},
  props: {},
  data() {
    return {
      show: true,
    };
  },
});
</script>
