<template>
  <!-- popup -->
  <div 
    class="popup"
    :class="[props.popup.theme, props.popup.size]"
  >
    <v-card>
      <!-- header -->
      <slot name="header">
        <v-card-title class="d-flex align-center">
          <span class="chip-bi">BI</span>
          <h2 class="title" :class="props.popup.align" v-html="props.popup.title"></h2>
          <div class="btns d-flex align-center">
            <v-btn v-if="props.popup.pin" color="white" size="small" rounded="xl" class="pa-0 mr-2" @click="doClosePopup()">
              <v-icon size="large" color="darkgrey">mdi-pin</v-icon>
            </v-btn>
            <!-- popup.showClose 미지정시 '닫기' 표시됨. -->
            <v-btn v-if="props.popup.showClose === undefined ? true : props.popup.showClose " color="white" size="small" rounded="xl" class="pa-0" @click="doClosePopup()">
              <v-icon size="large" color="darkgrey">mdi-close-thick</v-icon>
            </v-btn>
          </div>
        </v-card-title>
      </slot>
      <!-- //header -->
      <!-- body -->
      <v-card-text class="pa-0">
        <slot name="body">

        </slot>
      </v-card-text>
      <!-- //body -->
      <!-- footer -->
      <div class="popup-footer">
        <slot name="footer">
          <div class="btns">
            <v-btn color="darkgrey" size="large" style="min-width: 150px" @click="doClosePopup()">닫기</v-btn>
            <v-btn color="primary" size="large" style="min-width: 150px" 
              :disabled="props.popup.saveAction ? props.popup.saveAction.disabled : true"
              @click="doSave()">저장</v-btn>
          </div>
        </slot>
      </div>
      <!-- //footer -->
    </v-card>
  </div>
  <!-- //popup -->
</template>

<script setup lang="ts">
import { PopupParam } from '@/types';


// =========================================================
// 선언
// =========================================================
const props = defineProps<{
  popup: PopupParam;
}>();


// =========================================================
// 초기 조회
// =========================================================


// =========================================================
// COMPUTED
// =========================================================


// =========================================================
// WATCH
// =========================================================


// =========================================================
// 기능
// =========================================================


// =========================================================
// 사용자 액션
// =========================================================
const doClosePopup = () => {
  if (window.opener && props.popup.link) window.opener.closePopup(props.popup.link);
  else window.close();
};

const doSave =() => {
  if (props.popup.saveAction) {
    props.popup.saveAction.action();
  }
};


// =========================================================
// 정보 & onMounted
// =========================================================
</script>
