<template>
  <div>
  </div>
</template>

<script lang="ts">
import {
  reactive,
  ref,
  computed,
  watch,
  onMounted,
  onBeforeUnmount,
  defineComponent,
  getCurrentInstance,
} from 'vue';

export default defineComponent({
  name: "WindowPopup",
  components: {
  },
  setup() {
    const context = getCurrentInstance();

    const state = reactive({
      windowRef: null,
    });

    const openPopup = (url: string, width: number, height: number, name: string) => {
      console.log(`*** openPopup - url: ${url}, width: ${width}, height: ${height}, name: ${name}`);
      
      if (state.windowRef != null ){
        closePopup();
      }
  
      const left = (screen.width) ? (screen.width - width) / 2 : 0;
      const top = (screen.height) ? (screen.height - height) / 2 : 0;
      const attr = `top=${top},left=${left},width=${width},height=${height},resizable=no,status=no,scrollbars=no,menubar=no,toolbar=no,location=no`;
      console.log(`*** openPopup - attr :: ${attr}`);
  
      // 1. 윈도우 팝업 띄우기 
      state.windowRef = window.open(url, name, attr);

      if (state.windowRef != null) {
        state.windowRef.addEventListener('beforeunload', eventClose);
      } else {
        alert("window.open fail!!!");
      }
  
      // 2.  새로 띄운 윈도우 팝업창으로 부터 수신 메세지 이벤트 처리 
      window.addEventListener("message", receiveEventFromChild, false);
    };
  
    // 윈도우 팝업 닫기 
    const closePopup = () => {
      if(state.windowRef) {
        state.windowRef.close();
        state.windowRef = null;
      }
    };
  
    const eventClose = () => {
      if(state.windowRef) {
        state.windowRef.close();
        state.windowRef = null;
        context.emit('onClose');
      }
    };
  
    // 3. 부모창에서 팝업창에 메세지 보내기 
    const sendEventToChild = (e: any) => {
      console.log(`*** sendEventToChild - state:windowRef ::`, e);
      if (state.windowRef) {
        return;
      }
      // if (g_winPopup == null) {
      //   return;
      // }
  
      // 4. 윈도팝업창(g_winPopup)에 함수 실행 
      //  g_winPopup 변수는 본 소스에서 선언하지 않고 아래 ChildWinPop.vue 소스인 윈도우 팝업창 측에서 선언하고 설정함
      // g_winPopup.calledFromOpener(e);
    };
  
    // 5. 팝업창으로 부터 수신된 이벤트 
    const receiveEventFromChild = (e: any) => {
      console.log( "receiveEventFromChild......", e );
      if (e.data == null) {
        return;
      }
      const recvObj = JSON.parse( e.data );
      
      // 5. 본 소스 WinPop.vue를 콤포넌트로 사용하는 부모 vue 측에 이벤트 전달
      context.emit('onRecvEvtFromWinPop', recvObj );
    };

    return {
      openPopup,
      closePopup,
      sendEventToChild,
      receiveEventFromChild,
    };
  }
});
</script>

<style scoped>
</style>