// Place SASS variable overrides here
// $font-size-root: 18px;
@use url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@use url(https://webfontworld.github.io/sebang/SebangGothic.css);

/* reset */
html.main_dashborder {
  width: 1920px;
  overflow-x: auto;
}
body {
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}
.font-num {
  font-family: 'SebangGothic' !important;
  letter-spacing: 1.25px;
}

.header {
  .v-toolbar__content {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.home {
  width: 1920px;
  min-height: calc(100vh - 39px);
  background-color: #f2f5f8;
  overflow-x: auto;
  > .v-card {
    min-height: 100vh;
  }
}

.dashborder-header {
  padding: 4px 24px;
  .v-toolbar-title {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    color: #fff !important;
    margin-right: auto;
    .v-toolbar-title__placeholder {
      display: flex;
      align-items: center;
      .title {
        position: relative;
        margin: -2px 8px 0 0;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 1;
      }
      .select-box {
        height: 30px;
        .v-field {
          padding: 0 5px 0 10px;
          border: none;
          border-radius: 3px;
          .v-field__overlay {
            background-color: #304153;
          }
          .v-field__field {
            .v-field__input {
              .v-select__selection-text {
                color: #fff;
              }
            }
          }
          .v-field__append-inner {
            .v-icon {
              color: #fff;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

/* input,combo 등 아이콘 */
[class^='mdi']:before,
[class^='mdi-set'] {
  display: inline-block;
  font: normal normal normal 24px/1 'Material Design Icons';
  font-size: inherit;
  font-weight: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 마우스 오버시 컬러 변경*/
.m-hover {
  &:hover {
    background-color: #fc6060 !important;
  }
}

/* 버튼 border color */
.brd-red-accent-2 {
  border-color: #ff5252;
}
.brd-black {
  border-color: #000;
}

/*font-color*/
.fc_white {
  color: #fff !important;
}

/* check-box */
.check-box {
  .v-selection-control {
    height: 24px;
    &.v-selection-control--dirty {
      .v-icon {
        color: inherit;
      }
    }
    .v-selection-control__wrapper {
      width: 24px;
      height: 24px;
      .v-selection-control__input {
        width: inherit;
        height: inherit;
        .v-icon {
          width: 17px;
          height: 17px;
        }
      }
    }
    .v-label {
      font-size: 0.75rem;
      font-weight: 300;
      opacity: 1;
      color: #2c2f35;
      width: auto;
    }
  }
  &.dark {
    .v-icon {
      color: #fff;
      opacity: 1;
    }
    .v-label {
      color: #fff;
    }
  }
}

/* radio-box */
.radio-box-group {
  .v-selection-control-group {
    display: flex;
    align-items: center;
    .v-selection-control {
      margin-left: 4px;
      &:first-child {
        margin-left: 0;
      }
      .v-label {
        color: #2c2f35;
        font-size: 0.75rem;
        opacity: 1;
        font-weight: 300;
      }
      .radio-box {
        .v-selection-control__wrapper {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
      }
    }
  }
}
.radio-card {
  .v-selection-control {
    justify-content: center;
    .v-selection-control__input {
      .v-icon {
        opacity: 1;
      }
    }
    .v-label {
      opacity: 1;
      width: auto;
      font-size: 0.875rem;
      font-weight: 300;
      min-width: var(--v-selection-control-size);
    }
  }
}

/* select-box */
.select-box {
  height: 28px;
  .v-input__control {
    height: inherit;
  }
  .v-field {
    padding: 0 0 0 5px;
    display: flex;
    align-items: center;
    border-radius: 0;
    border: 1px solid #d6dbe2;
    .v-field__overlay {
      background-color: #fff;
      opacity: 1;
    }
    .v-field__field {
      display: flex;
      align-items: center;
      min-height: 22px;
      padding: 0;
      .v-select__selections {
        font-size: 0.8rem;
        padding: 0;
      }
      .v-field__input {
        padding: 0;
        .v-select__selection-text {
          display: flex;
          align-items: center;
          font-size: 0.8rem;
          line-height: 1;
          color: #2c2f35;
        }
        > input {
          position: absolute;
          left: -99999px;
        }
      }
    }
    .v-field__append-inner {
      padding: 0;
      .v-icon {
        color: #2c2f35;
        opacity: 1;
      }
    }
    .v-field__outline {
      display: none;
    }
  }
  &.type02 {
    .v-field {
      padding-left: 10px;
      .v-field__field {
        min-height: 26px;
      }
      &.v-field--focused {
        border-color: #3c4d60;
      }
    }
  }
  &.brd-gray {
    .v-field {
      border-color: #d6dbe2 !important;
    }
  }
  &.bg-gray {
    .v-field {
      .v-field__overlay {
        background-color: #f9f9f9;
      }
    }
  }
}

/* input-box*/
.input-box {
  .v-field {
    .v-field__field {
      min-height: 28px;
      padding: 0;
      .v-field__input {
        align-items: center;
        padding: 0 10px;
        font-size: 12px;
        input {
          height: 26px;
        }
      }
    }
    .v-field__outline {
      .v-field__outline__start,
      .v-field__outline__end {
        border-color: #d6dbe2;
        border-radius: 0;
        opacity: 1;
      }
    }
    &.v-field--focused {
      .v-field__outline {
        .v-field__outline__start,
        .v-field__outline__end {
          border: 1px solid #3c4d60;
        }
        .v-field__outline__start {
          border-width: 1px 0 1px 1px;
        }
        .v-field__outline__end {
          border-width: 1px 1px 1px 0;
        }
      }
    }
  }
  &.text-right {
    .v-field__input {
      padding: 0 10px !important;
      input {
        text-align: right !important;
      }
    }
  }
  &.text-center {
    .v-field__input {
      input {
        text-align: center !important;
      }
    }
  }
  &.ht-40 {
    .v-field {
      .v-field__field {
        .v-field__input {
          input {
            height: 40px;
          }
        }
      }
    }
  }
}

.file-box {
  .v-input__prepend {
    display: none;
  }
  .v-field {
    padding: 0;
    .v-field__field {
      position: relative;
      min-height: 28px;
      height: 28px;
      padding: 0;
      border: 1px solid #d6dbe2;
      background-color: #f9f9f9;
      .v-field__input {
        align-items: center;
        font-size: 0.75rem;
      }
    }
    .v-field__clearable {
      position: absolute;
      right: 0px;
      transform: translateY(-50%);
      top: 50%;
      padding: 0;
      align-items: center;
    }
    .v-field__append-inner {
      align-items: center;
      justify-content: center;
      width: 60px;
      padding: 0;
      margin-left: 10px;
      font-size: 0.75rem;
      color: #fff;
      background: #304153;
      border-radius: 3px;
      &:before {
        content: '파일첨부';
      }
      .v-icon {
        display: none;
      }
    }
  }
}

/* textarea-box */
.textarea-box {
  border: 1px solid #d6dbe2;
  .v-field__field {
    padding: 10px 0;
    .v-field__input {
      font-size: 0.75rem;
    }
  }
}
.title-textarea-box {
  display: flex;
  flex-direction: column;
  .v-card-title {
    font-size: 1.75rem;
    line-height: 1.25;
    background-color: #eff2f4;
    border-bottom: 1px solid #d6dbe2;
  }
  .v-card-text {
    flex-grow: 1;
    .v-input {
      display: flex;
      height: 100%;
      .v-input__control {
        width: 100%;
        height: 100%;
        .v-field {
          height: 100%;
          .v-field__field {
            padding: 0;
            .v-field__input {
              padding-top: 10px;
              padding-bottom: 10px;
              font-size: 0.75rem;
              line-height: 1.25;
            }
          }
        }
      }
    }
  }
}

/* switch */
.v-switch {
  .v-selection-control {
    height: 30px;
  }
}

/* search-input */
.search-input {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border: 1px solid #bcbfc4;
  .v-input {
    display: flex;
    align-items: center;
    .v-input__control {
      width: 100%;
      .v-field__overlay {
        background-color: #fff;
      }
      .v-field__field {
        display: flex;
        align-items: center;
        padding: 0;
        min-height: 26px;
        height: 26px;
        .v-field__input {
          height: 20px;
          font-size: 0.75rem;
          padding: 0 0 0 5px;
          align-self: center;
          --v-input-control-height: 20px;
          input {
            line-height: 1;
          }
        }
      }
      .v-field__outline {
        display: none;
      }
    }
  }
  &.bg-gray {
    background-color: #f9f9f9;
  }
  &.brd-gray {
    border-color: #d6dbe2;
  }
}

/* ico*/
.ico-dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #3c4d60;
}
.ico-round {
  display: inline-flex;
  align-items: center;
  height: 24px;
  border: 1px solid #fc6060;
  color: #fc6060;
  font-size: 0.7rem;
  padding: 0.1rem 0.25rem 0.1rem 0.25rem;
  border-radius: 1.3rem;
  vertical-align: middle;
  background-color: #fff;
  letter-spacing: -0.5px;
}
.ico-new {
  flex: 0 0 17px;
  border-radius: 3px;
  margin-left: 2px;
  span {
    margin-left: 1px;
  }
}

.btn-link {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

/* 텍스트 말줄임 */
.txt-ellipsis {
  display: flex;
  align-items: center;
  .txt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* card box */
.content-card {
  border: 1px solid #d6dbe2;
  margin-top: 0.6rem;
  border-radius: 0;
  background: #fff;
  .box-top {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    height: 40px;
    border-bottom: 1px solid;
    border-bottom-color: #d6dbe2 !important;
    + .tab-box {
      border-top: 0;
    }
  }
  .box-graph {
    position: relative;
  }
}

/* 위젯 스타일 */
.widget-card {
  border: 1px solid #d6dbe2;
  margin-top: 0.6rem;
  border-radius: 0;

  header {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    height: 40px;
    width: auto;
    border-bottom: 1px solid;
    border-bottom-color: #d6dbe2 !important;

    + .tab-box {
      border-top: 0;
    }

    .v-card-title {
      display: flex;
      width: 100%;
      padding: 0 12px !important;
    }

    .btn-right {
      .v-btn {
        &.on {
          background-color: #eb2727e5;
          color: #fff;
        }
      }
    }

    &.off {
      display: none;
      height: 0px;
    }
  }

  main {
    align-items: center;
    width: auto;
    // padding: 5px;

    &.off {
      padding: 0px;
      .v-card {
        margin-top: 0px;
      }
    }

    > .tab-box {
      margin: -1px -1px 0 -1px;
      width: calc(100% + 2px);
      max-width: initial;
    }

    .box-graph {
      position: relative;
    }
  }
}

/* popup */
.pop-container {
  min-height: 100vh;
  border-radius: 0;
  padding: 10px 20px 30px 20px;
  border-color: #3c4d60 !important;
  > .v-card-title {
    display: flex;
  }
}

/* 날짜 입력 */
.date-picker {
  // dl > dt > dd
  display: flex;
  align-items: center;
  dd {
    display: flex;
    > span {
      display: flex;
      align-items: center;
      margin: 0 5px;
    }
  }
}
.date-field {
  // text field
  .v-field {
    padding-right: 0;
    .v-field__field {
      align-items: center;
      min-height: 28px;
      padding: 2px 0;
      border-right: 1px solid #d6dbe2;
      background-color: #fff;
      .v-field__input {
        height: 24px;
        padding: 0 10px;
        font-size: 0.75rem;
        align-self: center;
        --v-input-control-height: 24px;
      }
    }
    .v-field__append-inner {
      display: flex;
      align-items: center;
      padding: 0 5px;
      font-size: 0.8rem;
      background-color: #fff;
    }
    .v-field__outline {
      .v-field__outline__start,
      .v-field__outline__end {
        border-radius: 0;
      }
    }
  }
  &.brd-grey {
    background-color: #f9f9f9;
    .v-field__field,
    .v-field__append-inner {
      background-color: #f9f9f9;
    }
    .v-field__outline__start,
    .v-field__outline__end {
      border-color: #d6dbe2;
      opacity: 1;
    }
  }
}

/* btn-toggle-line */
.btn-toggle-line {
  border: 0;
  border-radius: 0;
  .v-btn {
    position: relative;
    z-index: 0;
    border: 1px solid #bebfc0 !important;
    margin-left: -1px;
    &.v-btn--selected {
      border-color: #fc6060 !important;
      z-index: 1;
      .v-btn__overlay {
        opacity: 0 !important;
      }
    }
    &:first-child {
      margin-left: 0;
      border-radius: 5px 0 0 5px;
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
    }
  }
}

/* tooltip */
.tooltip-box {
  overflow: visible !important;
  z-index: 1;
  &::after {
    content: '';
    position: absolute;
    left: calc(50% - 5px);
    bottom: -9px;
    width: 0px;
    height: 0px;
    border-bottom: 10px solid #3c4d60;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    transform: rotate(-180deg);
  }
  &.up::after {
    top: -9px;
    bottom: auto;
    transform: rotate(0);
  }
  &.type-text {
    &::after {
      border-bottom-color: #24282c;
    }
  }
  &.type-list {
    width: 200px;
    .v-card {
      border-color: #00ffff;
    }
    &::after {
      border-bottom-color: #00ffff;
    }
  }
}

/* 갯수 리스트 */
.list-amount {
  display: flex;
}

/* list */
.border-list {
  flex: 1;
  .txt {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    > span,
    > i {
      margin-left: 4px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

/* table */
.table-view {
  border: 1px solid #d6dbe2;
  border-radius: 0;
  .v-table__wrapper {
    table {
      table-layout: fixed;
      th {
        font-weight: normal;
        background-color: #eff2f4;
      }
      tbody {
        tr {
          th,
          td {
            font-size: 0.75rem;
            border-left: 1px solid #d6dbe2;
            &:first-child {
              border-left: none;
            }
          }
          &:hover {
            background: #fff;
          }
        }
      }
      tfoot {
        th,
        td {
          font-size: 0.75rem !important;
        }
      }
    }
  }
}
.table-list {
  border: 1px solid #d6dbe2;
  border-radius: 0;
  table {
    table-layout: fixed;
    th,
    td {
      border-bottom: none !important;
    }
  }
  &.type02 {
    thead {
      th {
        text-align: center !important;
        background-color: #eff2f4;
        border-left: 1px solid #d6dbe2;
        border-bottom: 1px solid #d6dbe2 !important;
        font-weight: 400;
        &:first-child {
          border-left: none;
        }
      }
    }
  }
}
.table-list02 {
  .v-table {
    position: relative;
    border: 1px solid #d6dbe2;
    border-bottom: 0;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #d6dbe2;
    }
    .v-table__wrapper {
      thead {
        position: relative;
        z-index: 1;
        th {
          padding: 8px 4px !important;
          color: #fff;
          text-align: center !important;
          font-weight: normal;
          background: #304153;
          &::before,
          &.line:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 1px;
            height: 100%;
            background-color: #64788d;
          }
          &:first-child:not(.line) {
            &::before {
              display: none;
            }
          }
        }
      }
      td {
        padding: 0 5px !important;
        font-size: 0.75rem !important;
        border-left: 1px solid #d6dbe2;
        border-bottom: 1px solid #d6dbe2 !important;
        &:first-child {
          border-left: none;
        }
        &.line {
          border-left: 1px solid #d6dbe2;
        }
        .input-box {
          .v-field__field {
            min-height: 22px;
            input {
              height: 20px;
            }
          }
        }
        .num-ctrl {
          padding: 2px;
          .v-field__field {
            min-height: 20px;
          }
        }
      }
    }
  }
  &.th-grey {
    .v-table {
      thead {
        th {
          background-color: #eff2f4;
          color: #000;
        }
      }
      tbody {
        td {
          height: 36px;
        }
      }
    }
  }
  &.size-small {
    .v-table {
      tbody {
        td {
          height: 30px;
        }
      }
    }
  }
}

/* search-box */
.search-box {
  .select-box {
    .v-field {
      border: 1px solid #bcbfc4;
    }
  }
}
.search-box2 {
  padding: 0;
  border-radius: 5px;
  background-color: transparent;
  .v-row {
    .v-col {
      &:not(:first-child) {
        .date-field,
        .select-box,
        .search-input {
          width: calc(100% + 1px);
          margin-left: -1px;
        }
      }
      &.round-left {
        .date-field .v-field__outline__start,
        .select-box .v-field,
        .search-input {
          border-radius: 5px 0 0 5px;
          border-color: #d6dbe2;
          opacity: 1;
        }
      }
      &.round-right {
        .date-field .v-field__outline__end,
        .select-box .v-field,
        .search-input {
          border-radius: 0 5px 5px 0;
          border-color: #d6dbe2;
          opacity: 1;
        }
      }
    }
  }
  .date-field {
    .v-field {
      .v-field__field {
        min-height: 40px;
        .v-field__input {
          height: 30px;
        }
      }
      .v-field__append-inner {
        display: flex;
        align-items: center;
        padding: 0 5px;
        font-size: 0.8rem;
      }
      .v-field__outline {
        .v-field__outline__start,
        .v-field__outline__end {
          border-radius: 0;
          border-color: #d6dbe2;
          opacity: 1;
        }
      }
    }
  }
  .select-box {
    .v-field {
      .v-field__field {
        min-height: 38px;
      }
      .v-field__append-inner {
        font-size: 1.2rem;
      }
    }
  }
  .search-input {
    .v-input {
      .v-field__field {
        min-height: 38px;
        height: 38px;
      }
    }
    .v-btn {
      width: 40px;
      height: 38px;
    }
  }
}

/* tab */
.tab-box {
  border: 1px solid #d6dbe2;
  border-width: 1px 1px 0 1px;
  .v-btn {
    border-left: 1px solid #d6dbe2 !important;
    border-bottom: 1px solid #d6dbe2;
    &:first-child {
      border-left: none !important;
    }
    &.v-tab--selected {
      background-color: #fff;
      border-bottom-color: #fff;
    }
  }
}
.tab-box2 {
  height: 38px;
  .v-btn {
    margin-left: -1px;
    border: 1px solid #b7c2cf;
    &:first-child {
      margin-left: 0;
    }
    &.v-tab--selected {
      position: relative;
      z-index: 1;
      border-color: #2680eb;
      background-color: #2680eb;
      color: #fff;
    }
  }
}

/* pop-cont */
.pop-cont {
  border: 1px solid #d6dbe2;
  background-color: #fff;
  overflow-y: auto;
  min-height: 350px;
}

/* 하단 버튼 */
.btn-wrap {
  display: flex;
  justify-content: center;
  .v-btn {
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.ripple-write {
  position: relative;
  border: 1px solid #d6dbe2;
  .title {
    position: absolute;
    left: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: calc(100% - 20px);
    font-size: 0.8rem;
    border: 1px solid #d6dbe2;
    background-color: #eff2f4;
    border-radius: 4px;
    z-index: 1;
  }
  .v-btn {
    position: absolute;
    right: 20px;
    top: 10px;
    height: calc(100% - 20px);
  }
  .v-textarea {
    .v-field__overlay,
    .v-field__outline {
      display: none;
    }
    .v-field__field {
      padding: 0;
      .v-field__input {
        font-size: 0.8rem;
        padding: 10px 100px 10px 70px;
      }
    }
  }
}

/* quick-menu */
.quick-menu {
  top: 30px !important;
  height: auto !important;
  max-height: 300px;
  border-radius: 5px;
  border-color: #3c4d60;
  overflow: hidden;
  .v-list-item {
    border-bottom: 1px dashed #bcbcbc;
    &:last-child {
      border-bottom: none;
    }
    .v-list-item-avatar {
      margin-right: 4px;
    }
    .v-list-item-title {
      font-size: 0.9rem;
    }
  }
}

/* dashborder 상단 tab*/
.tab-dashborder {
  height: 100%;
  .v-slide-group__content {
    align-items: center;
    .v-btn {
      min-width: 100px;
      height: 30px;
      padding: 0;
      &.v-tab--selected {
        background-color: #3c4d60;
        color: #fff;
      }
    }
  }
}

/* 객실관리 */
.wrap-room {
  .cont-room {
    min-height: calc(100vh - 39px);
  }
  .room-title {
    background-color: #304153;
    .room-count {
      height: 20px;
      .v-badge {
        vertical-align: top;
        .v-badge__wrapper {
          vertical-align: top;
          .v-badge__badge {
            min-width: 26px;
            border-radius: 3px;
          }
        }
      }
    }
  }
  .room-card {
    overflow: visible;
    border-color: #5e7892;
    > .v-card-title {
      padding: 0;
      border-radius: 2px;
      overflow: hidden;
      > .v-row {
        > .v-col {
          padding: 2px 1px 1px 1px;
          &:first-child {
            padding-left: 2px;
          }
          &:last-child {
            padding-right: 2px;
          }
          .v-icon {
            width: 100%;
            height: 26px;
            background-color: #304153;
          }
          .v-badge {
            .v-badge__badge {
              top: 3px !important;
            }
          }
        }
      }
    }
    > .v-card-text {
      margin-bottom: 1px;
      > .v-row {
        > .v-col {
          padding: 1px;
          &:first-child {
            padding-left: 2px;
          }
          &:last-child {
            padding-right: 2px;
          }
          .v-icon {
            width: 100%;
            height: 100%;
            background-color: #304153;
          }
        }
      }
    }
    .room-type {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 2px;
      &:last-child {
        margin-right: 0;
      }
    }
    .ico-bar {
      position: relative;
      height: 4px;
      margin: 4px;
      border-radius: 2px;
      background-color: #43586e;
      &.on {
        background-color: #2196f3;
      }
      &.off {
        .mdi-close {
          display: block;
        }
        + .text-caption {
          color: #00ffff !important;
        }
      }
      .mdi-close {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 16px;
        transform: translate3d(-50%, -50%, 0);
        color: #fc6060;
      }
    }
    .ico-step {
      display: flex;
      height: 4px;
      margin: 4px;
      > span {
        width: calc(14.28% - 2px);
        margin: 0 1px;
        background-color: #43586e;
        &:first-child {
          width: calc(14.28% - 1px);
          margin-left: 0;
          border-radius: 2px 0 0 2px;
        }
        &:last-child {
          width: calc(14.28% - 1px);
          margin-right: 0;
          border-radius: 0 2px 2px 0;
        }
      }
    }
    .alert-basic {
      .v-alert__content {
        display: flex;
        align-items: center;
      }
      .v-alert__close {
        align-self: center;
      }
    }
    .alert-event {
      width: calc(100% - 4px);
      transform: translateY(-50%);
    }
  }
  .alert-event {
    z-index: 5;
    .v-alert__content {
      display: flex;
      align-items: center;
      justify-content: center;
      .v-icon {
        margin-right: 12px;
      }
    }
    &.vertical {
      .v-alert__content {
        flex-flow: column;
        .v-icon {
          margin: 0 0 4px;
        }
      }
    }
  }
}

/* 숫자 증가, 감소 */
.num-ctrl {
  display: flex;
  align-items: center;
  max-width: 150px;
  padding: 4px;
  border: 1px solid #d6dbe2;
  background-color: #f9f9f9;
  > .v-btn {
    &:hover {
      background-color: #fc6060 !important;
    }
  }
  .input-box {
    margin: -4px 0;
    align-items: center;
    .v-field {
      .v-field__field {
        min-height: 26px;
        .v-field__input {
          padding: 0 4px;
          input {
            width: 20px;
            max-width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
  &.type02 {
    background-color: #fff;
  }
  &.type03 {
    > .v-btn {
      background-color: #999 !important;
      &:hover {
        background-color: #3c4d60 !important;
      }
    }
  }
}

/* 객실내역 - carousel */
.notice-carousel {
  padding: 0;
  .v-carousel-item {
    .v-responsive__content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 40px;
    }
  }
  .v-window__controls {
    .v-btn {
      width: 24px;
      height: 28px;
      .v-icon {
        color: #fff;
      }
    }
  }
}

/* 환경설정 메뉴 */
.wrap-setMenu {
  .search-box {
    .v-input {
      .v-field__field {
        padding: 6px 0;
        min-height: 28px;
        .v-field__input {
          input {
            color: #00ffff;
          }
        }
      }
    }
  }
}

/* 일괄처리 toggle 버튼 */
.box-btn-toggle {
  .v-btn {
    background-color: #5e7892;
    color: #fff;
    &:hover {
      background-color: #3c4d60;
    }
  }
}

/* 객실 타임머신 */
.room-timeline {
  justify-content: end;
  .v-timeline-item {
    .v-timeline-item__opposite {
      display: none;
    }
    .v-timeline-item__body {
      display: flex;
      justify-content: end;
      padding-inline-end: 0 !important;
      > .d-flex {
        font-size: 0.75rem;
        align-items: center;
        justify-content: end;
        > span {
          font-weight: lighter;
          opacity: 0.45;
        }
        .line {
          display: inline-block;
          width: 8px;
          height: 1px;
          background-color: #fff;
        }
        .ico-timeline {
          width: 1.2rem;
          height: 1.2rem;
          border-radius: 50%;
          background-color: #fff;
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    &.on {
      .v-timeline-item__body {
        > .d-flex {
          .line {
            opacity: 1;
            width: 18px;
            height: 2px;
          }
        }
      }
    }
    &.active {
      .v-timeline-item__body {
        > .d-flex {
          > span {
            opacity: 1;
          }
          .line {
            opacity: 1;
            width: 4px;
            height: 60px;
            margin: 0 5px;
            background-color: #fc6060;
          }
          .ico-timeline {
            width: 26px;
            height: 26px;
            font-size: 1rem;
          }
        }
      }
    }
  }
}

.timeline-page {
  display: flex;
  align-items: end;
  position: absolute;
  left: 50%;
  width: 100%;
  min-height: 100%;
  border: 2px solid #52ace0;
  box-shadow: 0px 0px 20px #000000b3;
  .wrap-room {
    width: 1850px;
    .text-h6 {
      font-size: 1rem !important;
      line-height: 1.5rem;
    }
    .text-body-2 {
      font-size: 0.75rem !important;
      line-height: 1.25rem;
    }
    .text-caption {
      font-size: 0.65rem !important;
      line-height: 1.1rem;
    }
    .room-card {
      &.active {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          left: -4px;
          top: -4px;
          width: calc(100% + 8px);
          height: calc(100% + 8px);
          border: 4px solid #00ffff;
          border-radius: 4px;
        }
      }
      &:not(.active) {
        .text-h6,
        .text-body-2,
        .text-caption,
        .v-icon {
          color: #78909c !important;
        }
        .room-type {
          color: #5e7892 !important;
          background-color: #304153 !important;
        }
        .ico-bar {
          &.on {
            background-color: #43586e;
          }
          &.off {
            .mdi-close {
              color: #92bad4 !important;
            }
            + .text-caption {
              color: #78909c !important;
            }
          }
        }
        .ico-step {
          > span {
            background-color: #43586e !important;
          }
        }
      }
    }
  }
}

/* 테스트 */
.v-input--density-default {
  --v-input-control-height: inherit;
}
