<template>
  <!-- popup :: LIST -->
  <Popup v-if="state.viewType === 'LIST'" :popup="popup">
    <!-- slot -->
    <template v-slot:body>
      <!-- popup-contents -->
      <div class="popup-contents">
        <!-- field-set -->
        <!-- <fieldset class="field-set">
          <v-container fluid style="padding: 0 12px;">
            <v-row>
              <VueDatePicker v-model="state.begin" locale="ko" :format="dpFormat" style="width:140px;border-radius: 0;"></VueDatePicker>
              <VueDatePicker v-model="state.end" locale="ko" :format="dpFormat" style="width:140px;border-radius: 0;margin-left: -1px;"></VueDatePicker>
              <v-select 
                :items="['숙박뉴스', '종합', '호텔/모텔']" 
                value="구분선택" 
                density="compact" 
                class="board" 
                hide-details
                style="margin-left: -1px;">
              </v-select>
              <div class="input-search board" style="margin-left: -1px;">
                <input type="text" value="여기 어때" />
                <v-btn density="compact" size="small" icon="mdi-magnify"></v-btn>
              </div>
            </v-row>
          </v-container>
        </fieldset> -->
        <!-- //field-set -->
        <!-- tabs -->
        <v-item-group v-model="state.setting" class="board_tabs two" style="padding: 0;">
          <div v-for="item in state.tabsItem" :key="item.id" :value="item.name" class="item">
            <v-btn 
            style="height: 36px !important;padding: 8px 16px;" 
            @click="tabToggle(item)"
            :class="state.setting === item ? 'active' : ''">
              {{ item.name }}
            </v-btn>
          </div>
        </v-item-group>
        <!-- //tabs -->
        <!-- table -->
        <div class="mt-6" style="padding: 20px;background-color: #fff; boar">
          <v-table fixed-header height="480" class="overflow-y-auto no-border">
            <colgroup>
              <col style="width: 100px;"/>
              <col />
              <col style="width: 100px;"/>
            </colgroup>
            <tbody>
              <tr v-for="item in getNewsList">
                <td><span>[{{ state.setting.name }}]</span></td>
                <td><div><a @click="toView(item.id)">{{ item.title }}</a><span v-if="isToday(item.pubDate?.toString())" class="new">N</span></div></td>
                <td class="right"><span class="gray">{{ displayTime(item.pubDate?.toString()) }}</span></td>
              </tr>
            </tbody>
          </v-table>
        </div>
        <!-- pagination -->
        <!-- <div class="text-center page-navigation">
          <v-pagination 
              v-model="state.page.no" 
              :length="state.page.pageTotal" 
              rounded="circle"
            ></v-pagination>
        </div> -->
        <!-- /pagination -->
        <!-- //table -->
      </div>
      <!-- //popup-contents -->
    </template>
    <!-- //slot -->
    <template v-slot:footer>
      <div class="btns">
            <v-btn color="darkgrey" size="large" style="min-width: 150px" @click="doClosePopup()">닫기</v-btn>
      </div>
    </template>
  </Popup>
  <!-- //popup :: LIST -->

  <!-- popup :: ITEM -->
  <Popup v-else :popup="popup">
    <!-- slot -->
    <template v-slot:body>
      <!-- popup-contents -->
      <div class="popup-contents">
        <div class="bbs-title d-flex align-center mb-2">
          <span class="text">{{ state.item.title }}</span>
          <span class="date">{{ displayTime(state.item.pubDate?.toString()) }}</span>
        </div>
        <div class="bbs-contents mb-2">
          <div style="width: 100%;text-align: center;">
            <!-- <img :src="img" alt="야놀자라이브 조회수 10만 돌파" /> -->
          </div>
          {{ state.item.description }} ...
          <br /><br />
          전체내용 보기<br/>
          <a :href="state.item.link" target="_blank">{{ state.item.link }}</a>
        </div>
        <v-table class="sm">
          <colgroup>
            <col style="width: 80px" />
            <col />
          </colgroup>
          <tbody>
            <tr>
              <th>이전글</th>
              <td>
                <div class="d-flex justify-space-between">
                  <a class="link-text" @click="toView(state.prev.id)">{{ state.prev.title }}</a>
                  <p class="sm-font12">{{ displayTime(state.prev.pubDate?.toString()) }}</p>
                </div>
              </td>
            </tr>
            <tr>
              <th>다음글</th>
              <td>
                <div class="d-flex justify-space-between">
                  <a class="link-text" @click="toView(state.next.id)">{{ state.next.title }}</a>
                  <p class="sm-font12">{{ displayTime(state.next.pubDate?.toString()) }}</p>
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>
      </div>
      <!-- //popup-contents -->
    </template>
    <!-- //slot -->
    <!-- slot -->
    <template v-slot:footer>
        <div class="btns">
          <v-btn color="secondary" size="large" style="min-width: 150px" @click="toList()">목록</v-btn>
          <v-btn color="darkgrey" size="large" style="min-width: 150px" @click="doClosePopup()">닫기</v-btn>
        </div>
      </template>
      <!-- //slot -->
  </Popup>
  <!-- //popup :: ITEM -->
</template>

<script setup lang="ts">
import {
  reactive,
  ref,
  computed,
  watch,
  onMounted,
  onBeforeUnmount,
  defineComponent,
  getCurrentInstance,
} from 'vue';
import moment from 'moment';
import { useRoute } from 'vue-router';
import { useStore } from 'vuex';
import Popup from "@/components/popup/popup.vue";
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'
import { Page, PrevNext, StayNewsItem, PopupParam } from '@/types';
import { queryId } from '@/utils/cqi-util';

interface Tab {
  id: number,
  name: string,
}

class TabImpl implements Tab {
  id: number;
  name: string;
  constructor(id: number, name: string) {
    this.id = id;
    this.name = name;
  }
}

const tabList = [
  new TabImpl(1, '인기'),
  new TabImpl(2, '전체'),
  new TabImpl(3, '중앙회'),
  new TabImpl(4, '숙박'),
  new TabImpl(5, '기획·특집'),
  new TabImpl(6, '이달의숙박인'),
  new TabImpl(7, '트렌드'),
  new TabImpl(8, 'BIZ'),
]


const store = useStore();
const route = useRoute();

const state = reactive({
  viewType: 'LIST', //LIST, ITEM
  setting: tabList[0],
  tabsItem: tabList,
  id: null,
  item: {} as StayNewsItem,
  prev: {} as StayNewsItem,
  next: {} as StayNewsItem,
});

const popupLink = route.path.substring(1); // 앞에 '/'' 제거

const popup: PopupParam = {
  title: "숙박뉴스",
  theme: "theme-popup-light",
  size: "size-smd",
  align: "mx-auto",
  pin: false,
  link: popupLink,
};

const getNewsList = computed<StayNewsItem[]>(() => {
  if (state.setting.id === 1) return store.getters['news/listTop'];
  else if (state.setting.id === 2) return store.getters['news/listGeneral'];
  else if (state.setting.id === 3) return store.getters['news/listS1N1'];
  else if (state.setting.id === 4) return store.getters['news/listS1N2'];
  else if (state.setting.id === 5) return store.getters['news/listS1N3'];
  else if (state.setting.id === 6) return store.getters['news/listS1N4'];
  else if (state.setting.id === 7) return store.getters['news/listS1N5'];
  else if (state.setting.id === 8) return store.getters['news/listS1N6'];
  else return store.getters['news/listTop'];
});


const displayTime = (date: string) => {
  return moment(date).format('MM/DD HH:SS');
};

const isToday = (date: string) => {
  return moment(date).isSame(moment(), 'day');
};

const tabToggle = (tab: Tab) => {
  state.setting = tab;
};

const doClosePopup = () => {
  window.opener.closePopup(popupLink);
};

const toView = (id: number) => {
  state.id = id;

  state.item = {} as StayNewsItem;
  state.prev = {} as StayNewsItem;
  state.next = {} as StayNewsItem;

  let findItem = false;
  const items = getNewsList.value;

  for (const item of items) {
    if (findItem) {
      state.next = item;
      break;
    }

    if (item.id === state.id) {
      state.item = item;
      findItem = true;
      continue;
    }
    state.prev = item;
  }
  state.viewType = 'ITEM';
};

const toList = () => {
  state.viewType = 'LIST';
};

onMounted(() => {
  console.log(`*** onMounted - route.query ::`, route.query);

  (async() => {
    await store.dispatch('news/getListTop'); //기본 '인기' 동기 조회.
    const qId = queryId(route);
    if (qId !== null) {
      toView(qId);
    }
  })();

  store.dispatch('news/getListGeneral');
  store.dispatch('news/getListS1N1');
  store.dispatch('news/getListS1N2');
  store.dispatch('news/getListS1N3');
  store.dispatch('news/getListS1N4');
  store.dispatch('news/getListS1N5');
  store.dispatch('news/getListS1N6');
});

</script>
