<template>
  <!-- popup -->
  <Popup :popup="popup">
    <!-- slot -->
    <template v-slot:body>
      <!-- tabs -->
      <v-item-group v-model="state.setting" class="board_tabs" :class="kioskDeviceLengthClass">
        <div v-for="item in kioskDevices" :key="item.serialno" :value="item.serialno" class="item">
          <v-btn 
          style="height: 36px !important;padding: 8px 16px;" 
          @click="doKioskSelect(item.serialno)" 
          :class="state.kioskSerialno === item.serialno ? 'active' : ''">
            {{ item.name }}
          </v-btn>
        </div>
      </v-item-group>
      <!-- //tabs -->
      <!-- popup-contents -->
      <div class="pop-contents" v-if="kioskDevice?.serialno === state.kioskSerialno">
        <!-- v-container -->
        <v-container fluid class="board_panel">
          <v-row no-gutters>
            <!-- field-set //판매현황-->
            <fieldset class="field-set">
              <div class="field-title-area">
                <h3 class="field-title2 mb-2">판매현황</h3>
              </div>
              <v-table
              style="width: 872px;"
              >
                <colgroup>
                  <col style="width: 100px" />
                  <col />
                  <col style="width: 100px" />
                  <col />
                  <col style="width: 100px" />
                  <col />
                  <col style="width: 100px" />
                  <col />
                </colgroup>
                <tbody>
                  <tr>
                    <th class="text-center">숙박(총 건수)</th>
                    <td>
                      <div class="input-color-counter blue" style="width: 120px">
                        {{ kioskSaleStayCount.standard }}
                      </div>
                    </td>
                    <th class="text-center">대실(총 건수)</th>
                    <td>
                      <div class="input-color-counter purple" style="width: 120px">
                        {{ kioskSaleStayCount.shortTime }}
                      </div>
                    </td>
                    <th class="text-center">판매상태</th>
                    <td style="position: relative;">
                      <!-- <v-switch 
                        v-model="state.model"
                        :true-value="1"
                        :false-value="0"
                        hide-details
                        inset
                        style="width: 64px;"
                      ></v-switch> -->
                      <v-switch 
                        v-model="state.kioskIscState" 
                        :true-value="0"
                        :false-value="1"
                        true-icon="mdi-check-bold"
                        hide-details inset
                        style="width: 64px;"
                      ></v-switch>
                      <!-- <div class="switch-label">
                        <div class="item">
                          ON
                        </div>
                        <div class="item">
                          OFF
                        </div>
                      </div> -->
                    </td>
                    <th class="text-center">성인인증</th>
                    <td style="position: relative;">
                      <v-switch 
                        v-model="state.kioskMinor_mode" 
                        :true-value="1" 
                        :false-value="0" 
                        true-icon="mdi-check-bold"
                        hide-details inset
                        style="width: 64px;"
                      ></v-switch>
                      <!-- <div class="switch-label">
                        <div class="item">
                          ON
                        </div>
                        <div class="item">
                          OFF
                        </div>
                      </div> -->
                    </td>
                  </tr>
                </tbody>
              </v-table>
            </fieldset>
            <!-- //field-set -->
          </v-row>
          <v-row no-gutters>
            <div class="d-flex justify-space-between">
              <div class="mr-6" style="width:424px">
                <!-- field-set //전체 판매이력-->
                <fieldset class="field-set mt-4">
                    <div class="field-title-area">
                      <h3 class="field-title2 mb-4">전체 판매이력</h3>
                      <div class="" style="display: flex;text-align: justify;">
                        <v-checkbox hide-details density="compact" color="secondary" label="숙박" class="mr-3"
                          :checked="state.kioskStay1s.get(state.kioskSerialno) == 1"
                          @click="doKioskStay1(1)"
                        ></v-checkbox>
                        <v-checkbox hide-details density="compact" color="secondary" label="대실" class="mr-3"
                          :checked="state.kioskStay2s.get(state.kioskSerialno) == 2"
                          @click="doKioskStay2(2)"
                        ></v-checkbox>
                        <v-select 
                          :items="floors"
                          item-value="no"
                          item-title="name"
                          value="층"
                          density="compact"
                          style="width: 100px; height: 28px;"
                          @change="doKioskFloor($event)"
                        ></v-select>
                      </div>
                    </div>
                </fieldset>
                <!-- //field-set -->
                <!-- table -->
                <v-table fixed-header height="492" class="overflow-y-auto text-center dense-dark">
                  <colgroup>
                    <col />
                    <col />
                    <col />
                    <col />
                  </colgroup>
                  <thead>
                    <tr>
                      <th style="width: 27%">호실</th>
                      <th style="width: auto">객실유형</th>
                      <th style="width: 27%">결제수단</th>
                      <th style="width: 16%">판매시간</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in kioskSalePaySums" :key="item.sale_id" 
                      style="cursor: pointer;"
                      @click="doKoiskSaleRoom(item.sale_id)">
                      <td>{{ item.room_name }}</td>
                      <td>{{ item.type_name }}</td>
                      <td>{{ kioskBiz.doTopPayUnit(item) }}</td>
                      <td>{{ dayjs(item.reg_date).format('HH:mm') }}</td>
                    </tr>
                  </tbody>
                </v-table>
                <!-- //table -->
              </div>
              <div class="" style="width:424px">
                <!-- field-set //객실정보-->
                <fieldset class="field-set mt-4">
                    <div class="field-title-area">
                      <h3 class="field-title2 mb-4">객실정보</h3>
                      <div class="" style="display: flex;text-align: justify;">
                        <v-select 
                          v-model="state.kioskRoomTypeId"
                          :items="roomTypes"
                          item-value="id"
                          item-title="name"
                          value="객실타입"
                          density="compact"
                          style="width: 100px;height: 28px;"
                        ></v-select>
                      </div>
                    </div>
                    <div style="background-color: #f2f5f8; border: 1px solid #d6dbe2;padding: 8px;">
                      <div class="d-flex flex-row justify-space-between">
                        <v-sheet class="ma-1 pa-1 align-center" style="background-color: #f2f5f8;width: 120px;">
                          <span class="mr-2">호실</span><span class="font18">{{ kioskSalePaySumBySaleId?.room_name }}</span>
                        </v-sheet>
                        <v-sheet class="ma-1 pa-1" style="background-color: #f2f5f8;width: 145px;">
                          <span class="mr-2">타입</span><span class="font18">{{ kioskSalePaySumBySaleId?.type_name }}</span>
                        </v-sheet>
                        <v-sheet class="ma-1 pa-1" style="background-color: #f2f5f8;width: 110px;">
                          <span class="mr-2">유형</span><span class="room-type purple">{{ keyToValue('room_sale', 'stay_type', kioskSalePaySumBySaleId?.stay_type) }}</span>
                        </v-sheet>
                      </div>
                      <div class="d-flex flex-row justify-space-between">
                        <v-sheet class="ma-1 pa-1 align-center" style="background-color: #f2f5f8;width: 110px;">
                          <span class="mr-2">입실</span><span class="room-time">{{ dayjs(kioskSalePaySumBySaleId?.check_in).format('HH:mm') }}</span>
                        </v-sheet>
                        <v-sheet class="ma-1 pa-1" style="background-color: #f2f5f8;width: 110px;">
                          <span class="mr-2">퇴실</span><span class="room-time">{{ dayjs(kioskSalePaySumBySaleId?.check_out).format('HH:mm') }}</span>
                        </v-sheet>
                        <v-sheet class="ma-1 pa-1" style="background-color: #f2f5f8;width: 130px;">
                          <span class="mr-2">추가시간</span><span class="room-time add">00:00</span>
                        </v-sheet>
                      </div>
                    </div>
                </fieldset>
                <!-- //field-set -->
                <!-- field-set //카드데크-->
                <fieldset class="field-set mt-2">
                    <div class="field-title-area">
                      <h3 class="field-title2 mb-2">카드데크</h3>
                    </div>
                    <v-table class="sm">
                      <colgroup>
                        <col style="width: 90px" />
                        <col style="width: 120px"/>
                        <col style="width: 90px" />
                        <col />
                      </colgroup>
                      <tbody>
                        <tr>
                          <th>카드키/(좌)</th>
                          <td><span class="color-secondary">사용중</span></td>
                          <th>카드키/(우)</th>
                          <td>-</td>
                        </tr>
                        <tr>
                          <th>통신</th>
                          <td><span class="color-secondary">단절</span></td>
                          <th>전원</th>
                          <td>키에 연동</td>
                        </tr>
                        <tr>
                          <th>바코드</th>
                          <td>미등록</td>
                          <th>전원</th>
                          <td>키에 연동</td>
                        </tr>
                      </tbody>
                    </v-table>
                </fieldset>
                <!-- //field-set -->
                <!-- field-set //객실상세-->
                <fieldset class="field-set mt-2">
                    <div class="field-title-area">
                      <h3 class="field-title2 mb-2">객실상세</h3>
                    </div>
                    <v-table class="sm">
                      <colgroup>
                        <col style="width: 90px" />
                        <col style="width: 120px"/>
                        <col style="width: 90px" />
                        <col />
                      </colgroup>
                      <tbody>
                        <tr>
                          <th>판매건수</th>
                          <td><span class="color-secondary">총{{ kioskSalePaySumsByRoomId?.length }}건</span></td>
                          <th>기본요금</th>
                          <td>{{ fmtComma(kioskSalePaySumBySaleId?.default_fee) }}원</td>
                        </tr>
                        <tr>
                          <th>현금</th>
                          <td><span>{{ roomSaleCashSum }}원</span>
                            <!-- <span class="color-primary">(건)</span> -->
                          </td>
                          <th>카드</th>
                          <td>
                            <span>{{ roomSaleCardSum }}원</span>
                            <!-- <span class="color-primary">(건)</span> -->
                          </td>
                        </tr>
                      </tbody>
                    </v-table>
                    <v-table class="mt-2 sm">
                      <colgroup>
                        <col style="width: 90px" />
                        <col style="width: 120px"/>
                        <col style="width: 90px" />
                        <col />
                      </colgroup>
                      <tbody>
                        <tr>
                          <th>추가금액</th>
                          <td>0원</td>
                          <th>예약할인</th>
                          <td>0원</td>
                        </tr>
                        <tr>
                          <th>미수금</th>
                          <td>0원</td>
                          <th>반환금</th>
                          <td>0원</td>
                        </tr>
                      </tbody>
                    </v-table>
                    <v-table class="mt-2 sm">
                      <colgroup>
                        <col style="width: 90px" />
                        <col style="width: 120px"/>
                        <col style="width: 90px" />
                        <col />
                      </colgroup>
                      <tbody>
                        <tr>
                          <th>OTA</th>
                          <td>{{ fmtComma(roomSaleOtaSum) }}원</td>
                          <th>포인트</th>
                          <td>{{ fmtComma(roomSalePointSum) }}</td>
                        </tr>
                        <tr>
                          <th>합계</th>
                          <td><span class="color-secondary">{{  }}원</span></td>
                          <th>차량번호</th>
                          <td>
                            <!-- <v-checkbox hide-details density="compact" color="secondary" :label="kioskSalePaySumBySaleId?.car_no"></v-checkbox> -->
                            {{ kioskSalePaySumBySaleId?.car_no }}
                          </td>
                        </tr>
                      </tbody>
                    </v-table>
                </fieldset>
                <!-- //field-set -->
              </div>
            </div>
          </v-row>
        </v-container>
         <!--// v-container -->

      </div>
      <!-- //popup-contents -->
    </template>
    <template v-slot:footer>
      <div class="btns">
            <v-btn color="darkgrey" size="large" style="min-width: 150px">닫기</v-btn>
      </div>
    </template>
    <!-- //slot -->
  </Popup>
  <!-- //popup -->
</template>

<script setup lang="ts">
import Popup from "@/components/popup/popup.vue";
import { reactive, computed, watch } from 'vue';
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import { USER } from '@/store/mutation_types';
import { 
  Floor, FloorRoom, RoomType,
  Device, IscState, PayAmount, StayCount, PopupParam
 } from '@/types';
 import { SalePaySum } from '@/types/sale';
import { KioskHolder, kioskBiz } from '@/biz/kioskBiz';
import { roomTypeBiz } from '@/biz/roomTypeBiz';
import dayjs from 'dayjs';
import { keyToValue } from '@/constants/key-map';
import format from '@/utils/format-util';

interface State extends KioskHolder {
  setting: string;
  model: boolean;
  
}


const store = useStore();
const route = useRoute();

const user = store.getters[USER];
console.log(`*** user::`, user);

const state: State = reactive({
  kioskSerialno: '',
  kioskSaleId: 0,
  kioskRoomTypeId: null,
  kioskRoomId: 0,
  kioskIscState: 0,   //키오스크 판매상태 (0:판매대기중, 1:판매 가능한 객실없음 또는 판매중지 상태)
  kioskMinor_mode: 0, //키오스크 성인인증모드 (0:해제, 1:설정)
  kioskFloors: new Map<string, number>(),
  kioskStay1s: new Map<string, number>(),
  kioskStay2s: new Map<string, number>(),
  kiosksRoomType: new Map<string, number>(),
  
  setting: '',
  model: true, //TEST
});

const popupLink = route.path.substring(1); // 앞에 '/'' 제거

const popup: PopupParam = {
  title: "키오스크",
  theme: "theme-popup-light",
  size: "size-md",
  align: "mx-auto",
  pin: false,
  link: popupLink,
};


// =========================================================
// COMPUTED
// =========================================================

// 층 목록
const floors = computed<Floor[]>(() => {
  return store.getters['room/listFloors'];
});

// 객실타입
const roomTypes = computed<RoomType[]>(() => {
  return roomTypeBiz.getterRoomTypes(store);
});

// 키오스크 디바이스 목록
const kioskDevices = computed<Device[]>(() => kioskBiz.getterKioskDevices(store));

// 선택된 키오스크 디바이스
const kioskDevice = computed<Device>(() => kioskBiz.getterMyKioksDevice(store, state.kioskSerialno));

// 선택된 키오스크 ISC 상태
const kioskIscState = computed<IscState>(() => kioskBiz.getterMyKioskIscState(store, state.kioskSerialno));

// 선택된 키오스크 매출 목록
const kioskSalePaySums = computed<SalePaySum[]>(() => {
  const list = kioskBiz.getterMyKioskSalePaySums(store, state.kioskSerialno);

  const stay1 = state.kioskStay1s.get(state.kioskSerialno) || 0;
  const stay2 = state.kioskStay2s.get(state.kioskSerialno) || 0;

  let rets = [];
  if (stay1 == 1 && stay2 == 2) {
    rets = list.filter((item: SalePaySum) => item.stay_type === 1 || item.stay_type === 2);
  }
  else if (stay1 == 1 && stay2 == 0) {
    rets = list.filter((item: SalePaySum) => item.stay_type === 1);
  }
  else if (stay1 == 0 && stay2 == 2) {
    rets = list.filter((item: SalePaySum) => item.stay_type === 2);
  }
  else {
    rets = list;
  }

  const floor = state.kioskFloors.get(state.kioskSerialno) || 0;
  if (floor != 0) {
    rets = rets.filter((item: SalePaySum) => item.floor == floor);
  }
  return rets;
});

// 선택된 키오스크 매출의 숙박건수
const kioskSaleStayCount = computed<StayCount>(() => kioskBiz.getterMyKioskSaleStayCount(store, state.kioskSerialno));


// sale_id 찾은 단일 매출
const kioskSalePaySumBySaleId = computed<SalePaySum>(() => {
  const list = kioskBiz.getterMyKioskSalePaySums(store, state.kioskSerialno);
  return list.find((item: SalePaySum) => item.sale_id === state.kioskSaleId);
});

// room_id 필터링 된 키오스크 매출 목록
const kioskSalePaySumsByRoomId = computed<SalePaySum[]>(() => {
  const list = kioskBiz.getterMyKioskSalePaySums(store, state.kioskSerialno);
  return list.filter((item: SalePaySum) => item.room_id === state.kioskRoomId);
});

// 

// 객실 매출 - OTA 합계
const roomSaleOtaSum = computed<number>(() => {
  return kioskSalePaySumsByRoomId.value.reduce((acc, cur) => acc + cur.prepay_ota_amt, 0);
});

// 객실 매출 - 현금 합계
const roomSaleCashSum = computed<number>(() => {
  return kioskSalePaySumsByRoomId.value.reduce((acc, cur) => acc + cur.prepay_cash_amt + cur.pay_cash_amt, 0);
});

// 객실 매출 - 카드 합계
const roomSaleCardSum = computed<number>(() => {
  return kioskSalePaySumsByRoomId.value.reduce((acc, cur) => acc + cur.prepay_card_amt + cur.pay_card_amt, 0);
});

// 객실 매출 - 포인트 합계
const roomSalePointSum = computed<number>(() => {
  return kioskSalePaySumsByRoomId.value.reduce((acc, cur) => acc + cur.prepay_point_amt + cur.pay_point_amt, 0);
});

// 객실 매출 - 총 금액 합계


// 객실 매출 - 미수금 합계
const roomSaleUnpaidSum = computed<number>(() => {
  return kioskSalePaySumsByRoomId.value.reduce((acc, cur) => acc + cur.unpaid_amt, 0);
});







// 선택된 키오스크 매출 필터 - 층.
const kioskSaleFloor = computed<number>(() => {
  return state.kioskFloors.get(state.kioskSerialno) || 0;
});

// 키오스크 디바이스 갯수에 따른 클래스 제공.
const kioskDeviceLengthClass = computed<string>(() => {
  const length = kioskBiz.getterKioskDevices(store)?.length || 0;
  return length === 1 ? 'one' : length === 2 ? 'two' : length === 3 ? 'three' : length === 4 ? 'four' : 'one';
});


watch(() => state.kioskRoomTypeId, (cur, pre) => {
  console.log(`*** watch - state.kioskRoomTypeId :: cur(${cur}), pre(${pre})`);
});


// =========================================================
// 초기 조회
// =========================================================
// 업소 층별 객실정보
store.dispatch('room/getRoomsFloors', user.place_id)
.then(floors => {
  // console.log(`*** floors::`, floors);
  // state.floorNo = floors[0].no;
  // state.floorRoom = floors[0].rooms[0];
  // state.roomId = state.floorRoom.id;
});

// 객실타입
roomTypeBiz.roomTypes(store, user.place_id);

// 키오스크 디바이스
kioskBiz.kioskDevicesHolder(store, user.place_id, state);
// 키오스크 ISC 상태
kioskBiz.kioskIscStates(store, user.place_id);
// 키오스크 매출 조회
kioskBiz.kioskSalePaySums(store, user.place_id, '2023-08-04', '2023-08-04'); // todayStr



// =========================================================
// 기능
// =========================================================
/** 
 * 키오스크 선택
 */
  const doKioskSelect = (serialno: string) => {
  state.setting = serialno;
  kioskBiz.doKioskSelect(state, kioskIscState.value, serialno);
};

    /**
 * 키오스크 매출 조회에서 [숙박형식] 필터 선택
 * @param stayType
 */
  const doKioskStay1 = (stayType: number) => {
  const val = state.kioskStay1s.get(state.kioskSerialno);
  console.log(`*** doKioskStay1 - kioskSerialno(${state.kioskSerialno}) ::`, stayType, val);
  if (val === stayType) {
    state.kioskStay1s.set(state.kioskSerialno, 0);
  } else {
    state.kioskStay1s.set(state.kioskSerialno, stayType);
  }
  console.log(`*** doKioskStay1 - setted value ::`, state.kioskStay1s.get(state.kioskSerialno));
};

const doKioskStay2 = (stayType: number) => {
  const val = state.kioskStay2s.get(state.kioskSerialno);
  console.log(`*** doKioskStay2 - kioskSerialno(${state.kioskSerialno}) ::`, stayType, val);
  if (val === stayType) {
    state.kioskStay2s.set(state.kioskSerialno, 0);
  } else {
    state.kioskStay2s.set(state.kioskSerialno, stayType);
  }
};

const doKioskFloor = (event: any) => {
  console.log(`*** doKioskFloor :: `, event.target.value);
  state.kioskFloors.set(state.kioskSerialno, event.target.value);
};

const doKoiskSaleRoom = (saleId: number) => {
  state.kioskSaleId = saleId;
};

const fmtComma = (value: number) => {
  if (value == 0) {
    return '0';
  } else {
    return format.formatCommas(value);
  }
};
</script>
