<template>
  <highcharts :options="chartOptions" />
</template>

<script setup lang="ts">
import { watch, reactive } from 'vue';
import { RoomSaleSum, SaleRangeSum } from '@/types/sale';
import { RangeUnit } from '@/biz/dateBiz';
import { StatisticsMode } from '@/biz/roomSaleStatisticsBiz';
import { Chart } from 'highcharts-vue';

const highcharts = Chart;

const props = defineProps(['mode', 'unit', 'nowAndPrevious', 'roomSaleSums']);

watch(
  () => props.unit,
  (cur, pre) => {
    // console.log(`*** WATCH props.unit: `, props.unit);
    if (props.unit === RangeUnit.DAY_OF_YEAR) {
      chartOptions.series[0].name = '이번달';
      chartOptions.series[1].name = '지난달';
    } else if (props.unit === RangeUnit.WEEK_OF_YEAR) {
      chartOptions.series[0].name = '이번주';
      chartOptions.series[1].name = '지난주';
    } else if (props.unit === RangeUnit.MONTH_OF_YEAR) {
      chartOptions.series[0].name = '이번달';
      chartOptions.series[1].name = '지난달';
    } else if (props.unit === RangeUnit.YEAR) {
      chartOptions.series[0].name = '이번년도';
      chartOptions.series[1].name = '지난년도';
    }
  }
);

watch(
  () => props.mode,
  (cur, pre) => {
    // console.log(`*** WATCH props.statisticsMode: `, props.mode);
    if (props.mode === StatisticsMode.ROOM) {
      saleByRoom();
    } else {
      saleByRange();
    }
  }
);

watch(
  () => props.nowAndPrevious,
  (cur, pre) => {
    // console.log(`*** WATCH props.nowAndPrevious: `, props.nowAndPrevious);
    saleByRange();
  }
);

watch(
  () => props.roomSaleSums,
  (cur, pre) => {
    // console.log(`*** WATCH props.roomSaleSums: `, props.roomSaleSums);
    saleByRoom();
  }
);

const saleByRange = () => {
  const categories = props.nowAndPrevious?.now?.map(
    (item: SaleRangeSum) => item.group_display
  );
  const nows = props.nowAndPrevious?.now?.map(
    (item: SaleRangeSum) => item.total_amt
  );
  const previous = props.nowAndPrevious?.previous.map(
    (item: SaleRangeSum) => item.total_amt
  );

  console.log(`*** saleByRange : `, props.nowAndPrevious, { nows, previous });

  if (nows.length < previous.length) {
    previous.splice(nows.length); // 지난 데이터가 더 많은 경우 now 길이 이후는 삭제.
  }

  chartOptions.xAxis.categories = categories;
  chartOptions.series[0].data = nows;
  chartOptions.series[1].data = previous;
};

const saleByRoom = () => {
  const categories = props.roomSaleSums?.map(
    (item: RoomSaleSum) => item.room_name
  );
  const nows = props.roomSaleSums?.map((item: RoomSaleSum) => item.total_amt);

  chartOptions.xAxis.categories = categories;
  chartOptions.series[0].data = nows;
  chartOptions.series[1].data = [];
};

const chartOptions = reactive({
  colors: ['#fc6060', '#33b0df'],
  chart: {},
  title: {
    text: '',
  },
  subtitle: {
    text: '',
  },
  xAxis: {
    categories: [],
    crosshair: true,
  },
  yAxis: {
    min: 0,
    title: {
      text: '',
    },
  },
  legend: {
    enabled: false,
  },
  tooltip: {
    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
    pointFormat:
      '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
      '<td style="padding:0; text-align:right;"><b>{point.y}</b></td></tr>',
    footerFormat: '</table>',
    shared: true,
    useHTML: true,
  },
  series: [
    {
      name: '현매출',
      data: [],
    },
    {
      name: '전년도',
      data: [],
    },
  ],
  accessibility: {
    enabled: false,
  },
});
</script>
