<template>
  <!-- popup :: LIST -->
  <Popup v-if="state.viewType === 'LIST'" :popup="popup">
    <!-- slot -->
    <template v-slot:body>
      <!-- popup-contents -->
      <div class="popup-contents">
        <!-- field-set -->
        <fieldset class="field-set">
          <v-container fluid style="padding: 0 12px">
            <v-row>
              <VueDatePicker
                v-model="state.begin"
                locale="ko"
                :format="dpFormat"
                style="width: 160px; border-radius: 0; margin: 0 1.5rem 0 0"
              ></VueDatePicker>
              <VueDatePicker
                v-model="state.end"
                locale="ko"
                :format="dpFormat"
                style="width: 160px; border-radius: 0; margin: 0 1.5rem 0 0"
              ></VueDatePicker>
              <v-select
                :items="['공지', '업데이트', '중요']"
                value="구분선택"
                density="compact"
                class="board"
                hide-details
                style="width: 180px; margin: 0 1.5rem 0 1.5rem"
              >
              </v-select>
              <!-- <v-select
                :items="['타입1', '타입2', '타입3']"
                value="타입선택"
                density="compact"
                class="board"
                hide-details
                style="margin-left: -1px;">
              </v-select> -->
              <div class="input-search board" style="width: 200px; margin: 0">
                <input type="text" value="" />
                <v-btn
                  density="compact"
                  size="small"
                  icon="mdi-magnify"
                  @click="doSearch()"
                ></v-btn>
                <!-- TODO 함수 없음. -->
              </div>
            </v-row>
          </v-container>
        </fieldset>
        <!-- //field-set -->
        <!-- tabs -->
        <v-item-group
          v-model="state.setting"
          class="board_tabs two mt-6"
          style="padding: 0"
        >
          <div
            v-for="item in state.tabsItem"
            :key="item"
            :value="item"
            class="item"
          >
            <v-btn
              style="height: 36px !important; padding: 8px 16px"
              @click="tabToggle(item)"
              :class="state.setting === item ? 'active' : ''"
            >
              {{ item }}
            </v-btn>
          </div>
        </v-item-group>
        <!-- //tabs -->
        <div
          class="pop-contents"
          v-if="state.setting === '공지'"
          style="padding: 0"
        >
          <!-- v-container -->
          <v-container fluid class="board_panel">
            <v-row no-gutters>
              <!-- table -->
              <v-table
                fixed-header
                height="480"
                class="overflow-y-auto no-border"
              >
                <colgroup>
                  <col style="width: 100px" />
                  <col />
                  <col style="width: 100px" />
                </colgroup>
                <tbody>
                  <tr v-for="item in state.itemList">
                    <td>
                      <span v-if="item.type == 2" class="text-primary"
                        >[업데이트]</span
                      >
                      <span
                        v-else-if="item.important == 2"
                        class="text-secondary point"
                        >중요</span
                      >
                      <span v-else>[공지]</span>
                    </td>
                    <td>
                      <div>
                        <a @click="toView(item.id)">{{ item.title }}</a
                        ><span class="new">N</span>
                      </div>
                    </td>
                    <td class="right">
                      <span class="gray">{{ item.display_time }}</span>
                    </td>
                  </tr>
                </tbody>
              </v-table>
              <!--// table -->
            </v-row>
          </v-container>
          <!--// v-container -->
        </div>
        <div
          class="pop-contents"
          v-if="state.setting === 'TODO-미션'"
          style="padding: 0"
        >
          <!-- v-container -->
          <v-container fluid class="board_panel">
            <v-row no-gutters>
              <!-- table -->
              <v-table
                fixed-header
                height="480"
                class="overflow-y-auto no-border"
              >
                <colgroup>
                  <col style="width: 100px" />
                  <col />
                  <col style="width: 100px" />
                </colgroup>
                <tbody>
                  <tr>
                    <td><span>[공지]</span></td>
                    <td>
                      <div>
                        공지사항입니다. 공지 제목이 표시 됩니다.<span
                          class="new"
                          >N</span
                        >
                      </div>
                    </td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                  <tr>
                    <td><span class="text-primary">[업데이트]</span></td>
                    <td>
                      <div>
                        체규인 매니저 2.01 업데이트 안내입니다.<span class="new"
                          >N</span
                        >
                      </div>
                    </td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                  <tr>
                    <td><span class="text-secondary point">중요</span></td>
                    <td>
                      <div>
                        공지 내용 어쩌구 저쩌구 공지사항 제목이 표시됩니다.
                      </div>
                      <div>
                        <span>└</span
                        ><span class="text-secondary ml-2"
                          >댓글: 처리하였습니다. 점검 부탁드립니다.</span
                        >
                      </div>
                    </td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                  <tr>
                    <td><span>[공지]</span></td>
                    <td><div>공지사항입니다. 공지 제목이 표시 됩니다.</div></td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                  <tr>
                    <td><span class="text-primary">[업데이트]</span></td>
                    <td><div>체규인 매니저 2.01 업데이트 안내입니다.</div></td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                  <tr>
                    <td><span class="text-secondary point">중요</span></td>
                    <td>
                      <div>
                        공지 내용 어쩌구 저쩌구 공지사항 제목이 표시됩니다.
                      </div>
                      <div>
                        <span>└</span
                        ><span class="text-secondary ml-2"
                          >댓글: 처리하였습니다. 점검 부탁드립니다.</span
                        >
                      </div>
                    </td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                  <tr>
                    <td><span>[공지]</span></td>
                    <td><div>공지사항입니다. 공지 제목이 표시 됩니다.</div></td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                  <tr>
                    <td><span class="text-primary">[업데이트]</span></td>
                    <td><div>체규인 매니저 2.01 업데이트 안내입니다.</div></td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                  <tr>
                    <td><span class="text-secondary point">중요</span></td>
                    <td>
                      <div>
                        공지 내용 어쩌구 저쩌구 공지사항 제목이 표시됩니다.
                      </div>
                      <div>
                        <span>└</span
                        ><span class="text-secondary ml-2"
                          >댓글: 처리하였습니다. 점검 부탁드립니다.</span
                        >
                      </div>
                    </td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                  <tr>
                    <td><span>[공지]</span></td>
                    <td><div>공지사항입니다. 공지 제목이 표시 됩니다.</div></td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                  <tr>
                    <td><span class="text-primary">[업데이트]</span></td>
                    <td><div>체규인 매니저 2.01 업데이트 안내입니다.</div></td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                  <tr>
                    <td><span class="text-secondary point">중요</span></td>
                    <td>
                      <div>
                        공지 내용 어쩌구 저쩌구 공지사항 제목이 표시됩니다.
                      </div>
                      <div>
                        <span>└</span
                        ><span class="text-secondary ml-2"
                          >댓글: 처리하였습니다. 점검 부탁드립니다.</span
                        >
                      </div>
                    </td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                  <tr>
                    <td><span>[공지]</span></td>
                    <td><div>공지사항입니다. 공지 제목이 표시 됩니다.</div></td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                  <tr>
                    <td><span class="text-primary">[업데이트]</span></td>
                    <td><div>체규인 매니저 2.01 업데이트 안내입니다.</div></td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                  <tr>
                    <td><span class="text-secondary point">중요</span></td>
                    <td>
                      <div>
                        공지 내용 어쩌구 저쩌구 공지사항 제목이 표시됩니다.
                      </div>
                      <div>
                        <span>└</span
                        ><span class="text-secondary ml-2"
                          >댓글: 처리하였습니다. 점검 부탁드립니다.</span
                        >
                      </div>
                    </td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                  <tr>
                    <td><span>[공지]</span></td>
                    <td><div>공지사항입니다. 공지 제목이 표시 됩니다.</div></td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                  <tr>
                    <td><span class="text-primary">[업데이트]</span></td>
                    <td><div>체규인 매니저 2.01 업데이트 안내입니다.</div></td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                  <tr>
                    <td><span class="text-secondary point">중요</span></td>
                    <td>
                      <div>
                        공지 내용 어쩌구 저쩌구 공지사항 제목이 표시됩니다.
                      </div>
                      <div>
                        <span>└</span
                        ><span class="text-secondary ml-2"
                          >댓글: 처리하였습니다. 점검 부탁드립니다.</span
                        >
                      </div>
                    </td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                  <tr>
                    <td><span>[공지]</span></td>
                    <td><div>공지사항입니다. 공지 제목이 표시 됩니다.</div></td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                  <tr>
                    <td><span class="text-primary">[업데이트]</span></td>
                    <td><div>체규인 매니저 2.01 업데이트 안내입니다.</div></td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                  <tr>
                    <td><span class="text-secondary point">중요</span></td>
                    <td>
                      <div>
                        공지 내용 어쩌구 저쩌구 공지사항 제목이 표시됩니다.
                      </div>
                      <div>
                        <span>└</span
                        ><span class="text-secondary ml-2"
                          >댓글: 처리하였습니다. 점검 부탁드립니다.</span
                        >
                      </div>
                    </td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                  <tr>
                    <td><span>[공지]</span></td>
                    <td><div>공지사항입니다. 공지 제목이 표시 됩니다.</div></td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                  <tr>
                    <td><span class="text-primary">[업데이트]</span></td>
                    <td><div>체규인 매니저 2.01 업데이트 안내입니다.</div></td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                  <tr>
                    <td><span class="text-secondary point">중요</span></td>
                    <td>
                      <div>
                        공지 내용 어쩌구 저쩌구 공지사항 제목이 표시됩니다.
                      </div>
                      <div>
                        <span>└</span
                        ><span class="text-secondary ml-2"
                          >댓글: 처리하였습니다. 점검 부탁드립니다.</span
                        >
                      </div>
                    </td>
                    <td class="right"><span class="gray">12/24/10:36</span></td>
                  </tr>
                </tbody>
              </v-table>
              <!--// table -->
            </v-row>
          </v-container>
          <!--// v-container -->
        </div>
        <!-- pagination -->
        <div class="text-center page-navigation">
          <v-pagination
            v-model="state.page.no"
            :length="state.page.pageTotal"
            rounded="circle"
          ></v-pagination>
        </div>
        <!-- /pagination -->
        <!-- //table -->
      </div>
      <!-- //popup-contents -->
    </template>
    <!-- //slot -->
    <template v-slot:footer>
      <div class="btns">
        <v-btn
          color="darkgrey"
          size="large"
          style="min-width: 150px"
          @click="doClosePopup()"
          >닫기</v-btn
        >
      </div>
    </template>
  </Popup>
  <!-- //popup :: LIST -->

  <!-- popup :: ITEM -->
  <Popup v-else :popup="popup">
    <!-- slot -->
    <template v-slot:body>
      <!-- popup-contents -->
      <div class="popup-contents">
        <div class="bbs-title d-flex align-center mb-2">
          <span class="text">{{ state.item.title }}</span>
          <span class="date">{{ displayTime(state.item.reg_date) }}</span>
        </div>
        <!-- style="height: 392px;" -->
        <div class="bbs-contents mb-2">
          <div v-html="state.item.content"></div>
        </div>
        <!-- <div class="bbs-reply mb-2">
          <div class="reply-title">댓글</div>
          <textarea class="textarea reply"></textarea>
          <v-btn class="reply-btn" color="primary" size="x-large">등록</v-btn>
        </div> -->
        <v-table class="sm">
          <colgroup>
            <col style="width: 80px" />
            <col />
          </colgroup>
          <tbody>
            <tr>
              <th>이전글</th>
              <td>
                <div class="d-flex justify-space-between">
                  <a class="link-text" @click="toView(state.prev.id)">{{
                    state.prev.title
                  }}</a>
                  <p class="sm-font12">
                    {{ displayTime(state.prev.reg_date) }}
                  </p>
                </div>
              </td>
            </tr>
            <tr>
              <th>다음글</th>
              <td>
                <div class="d-flex justify-space-between">
                  <a class="link-text" @click="toView(state.next.id)">{{
                    state.next.title
                  }}</a>
                  <p class="sm-font12">
                    {{ displayTime(state.next.reg_date) }}
                  </p>
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>
      </div>
      <!-- //popup-contents -->
    </template>
    <!-- //slot -->
    <!-- slot -->
    <template v-slot:footer>
      <div class="btns">
        <v-btn
          color="secondary"
          size="large"
          style="min-width: 150px"
          @click="toList()"
          >목록</v-btn
        >
        <v-btn
          color="darkgrey"
          size="large"
          style="min-width: 150px"
          @click="doClosePopup()"
          >닫기</v-btn
        >
      </div>
    </template>
    <!-- //slot -->
  </Popup>
  <!-- //popup :: ITEM -->
</template>

<script setup lang="ts">
import { reactive, watch, onMounted, defineComponent } from 'vue';
import Popup from '@/components/popup/popup.vue';
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import moment from 'moment';
import { useRoute } from 'vue-router';
import { useStore } from 'vuex';
import { Page, PrevNext, Notice, PopupParam } from '@/types';
import { getSessionStroge } from '@/constants/constants'; // 한 페이지당 row 수
import { queryId } from '@/utils/cqi-util';

const store = useStore();
const route = useRoute();

const user = store.getters['user'];

const state = reactive({
  viewType: 'LIST', //LIST, ITEM
  begin: moment().subtract(3, 'year').format('YYYY-MM-DD'), //TEST
  end: moment().format('YYYY-MM-DD'),

  page: {
    no: 1,
    size: 15,
    pageTotal: 1,
  } as Page,
  setting: '공지',
  tabsItem: ['공지', 'TODO-미션'],
  itemList: [] as Notice[],
  id: null,
  item: {
    title: '',
    content: '',
    reg_date: '',
  } as Notice,
  prev: {} as PrevNext,
  next: {} as PrevNext,
});

const popupLink = route.path.substring(1); // 앞에 '/'' 제거

const popup: PopupParam = {
  title: state.viewType === 'LIST' ? '공지사항' : '공지사항 보기',
  theme: 'theme-popup-light',
  size: 'size-smd',
  align: 'mx-auto',
  pin: false,
  link: popupLink,
};

watch(
  () => state.page.no,
  (cur, pre) => {
    pagingList();
  }
);

watch(
  () => state.id,
  (cur, pre) => {
    getItem();
    getPrevNext();
  }
);

const dpFormat = (date: any) => {
  return moment(date).format('YYYY-MM-DD');
};

const displayTime = (date: string) => {
  return moment(date).format('MM/DD HH:SS');
};

const tabToggle = (val: string) => {
  state.setting = val;
};

const doClosePopup = () => {
  window.opener.closePopup(popupLink);
};

const toView = (id: number) => {
  state.id = id; // watch triger
  state.viewType = 'ITEM';
};

const toList = () => {
  state.viewType = 'LIST';
};

onMounted(() => {
  console.log(`*** onMounted`);
  pagingList();
  const qId = queryId(route);
  if (qId !== null) {
    toView(qId);
  }
});

const pagingList = () => {
  console.log(`*** pagingList - BEFORE state.page ::`, state.page);

  store
    .dispatch('notice/getList', {
      page: state.page,
      begin: state.begin,
      end: state.end,
      limit: `${(state.page.no - 1) * state.page.size}, ${state.page.size}`,
      all: '1',
    })
    .then(({ success, count, notices }) => {
      if (state.itemList.length > 0) {
        state.itemList = [];
      }
      state.itemList.push(...notices);
      const countTotal = count[0].count;
      state.page.pageTotal = Math.ceil(countTotal / state.page.size);
      console.log(`*** pagingList - AFTER  state.page ::`, state.page);
    })
    .catch((error) => {
      console.log(`*** error::`, error);
    });
};

const getItem = () => {
  console.log(`*** getItem - state :: `, state);

  store
    .dispatch('notice/getItem', state.id)
    .then((notice) => {
      console.log(`*** notice/getItem - res :: `, notice);
      state.item = notice;
    })
    .catch((error) => {
      console.log(`*** notice/getItem - error :: `, error);
    });
};

const getPrevNext = () => {
  console.log(`*** prevNext - state :: `, state);
  store
    .dispatch('notice/getPrevNext', {
      id: state.id,
      begin: state.begin,
      end: state.end,
    })
    .then((items) => {
      console.log(`*** notice/getPrevNext - items :: `, items);
      state.prev = {} as PrevNext;
      state.next = {} as PrevNext;

      items.forEach((pn: PrevNext) => {
        if (pn.tag === 'UP') {
          state.prev = pn;
        } else if (pn.tag === 'DOWN') {
          state.next = pn;
        }
      });
    })
    .catch((error) => {
      console.log(`*** notice/getPrevNext - error :: `, error);
    });
};
</script>
