<template>
  <highcharts :options="chartOptions" />
</template>

<script setup lang="ts">
import { watch, reactive, defineComponent } from 'vue';
import { Chart } from 'highcharts-vue';

const highcharts = Chart;

const props = defineProps(['nowCount', 'previousCount', 'nowName', 'previousName']);

watch(() => props.nowName, () => {
  // console.log(`*** WATCH nowName: ${props.nowName}`);
  chartOptions.series[0].name = props.nowName;
});

watch(() => props.nowCount, () => {
  // console.log(`*** WATCH nowCount: ${props.nowCount}`);
  chartOptions.series[0].data = props.nowCount;
});

watch(() => props.previousName, () => {
  // console.log(`*** WATCH previousName: ${props.previousName}`);
  chartOptions.series[1].name = props.previousName;
});

watch(() => props.previousCount, () => {
  // console.log(`*** WATCH previousCount: ${props.nowCount}`);
  chartOptions.series[1].data = props.previousCount;
});

const chartOptions = reactive({
  colors: ['#fc6060', '#33b0df'],
  chart: {
    type: "column",
  },
  title: {
    text: "",
  },
  subtitle: {
    text: "",
  },
  xAxis: {
    categories: ["전체", "대실", "숙박", "장기"],
    crosshair: true,
  },
  yAxis: {
    min: 0,
    title: {
      text: "",
    },
  },
  tooltip: {
    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' + '<td style="padding:0"><b>{point.y}</b></td></tr>',
    footerFormat: "</table>",
    shared: true,
    useHTML: true,
  },
  series: [
    {
      name: '',
      data: [],
    },
    {
      name: '',
      data: [],
    },
  ],
  accessibility: {
    enabled: false,
  },
});
</script>

<style lang="scss" scoped>
</style>
