<template>
  <!-- popup -->
  <Popup :popup="popup">
    <!-- slot -->
    <template v-slot:body>
      <!-- popup-contents -->
      <div class="popup-contents">
        <v-row no-gutters class="mt-4">
          <!-- left-->
          <div class="flex-grow-1">
            <!-- vsheet -->
            <v-sheet class="box-border" style="height: 280px;">

              <div class="d-flex align-center justify-space-between bg-lightgrey w-100 ma-0 py-2 px-6"
                style="height: 42px; border-bottom: 1px solid #d6dbe2;">

                <div class="title-2 my-2">예약현황</div>

                <!-- btn_taps -->
                <div class="btn-toggels">
                  <v-btn :class="{ active: state.toggle === 0 }" rounded="0" size="small" @click="btnTog(0)">
                    일별
                  </v-btn>
                  <v-btn :class="{ active: state.toggle === 1 }" rounded="0" size="small" @click="btnTog(1)">
                    주별
                  </v-btn>
                  <v-btn :class="{ active: state.toggle === 2 }" rounded="0" size="small" @click="btnTog(2)">
                    월별
                  </v-btn>
                </div>
                <!-- </btn_taps> -->
              </div>

              <!-- day -->
              <div v-if="state.toggle === 0" class="py-4">
                <Chart 
                  type="day"
                  :nowPrevious="state.reservCountDay"
                  nowName="오늘"
                  previousName="어제"
                  class="pa-2" style="height: 220px;"></Chart>
              </div>

              <!-- week -->
              <div v-if="state.toggle === 1" class="py-4">
                <Chart 
                  type="week"
                  :nowPrevious="state.reservCountWeek" 
                  nowName="이번주"
                  previousName="지난주"
                  class="pa-2" style="height: 220px;"></Chart>
              </div>

              <!-- month -->
              <div v-if="state.toggle === 2" class="py-4">
                <Chart 
                  type="month"
                  :nowPrevious="state.reservCountMonth" 
                  nowName="이번달"
                  previousName="지난달"
                  class="pa-2" style="height: 220px;"></Chart>
              </div>
            </v-sheet>
            <!-- //vsheet -->

            <!-- vsheet -->
            <!-- vsheet -->
            <v-sheet class="box-border mt-3 overflow-y-auto" style="height: 306px;">

              <div class="d-flex align-center justify-space-between w-100 ma-0 py-2 px-6"
                style="height: 42px; border-bottom: 1px solid #d6dbe2;">

                <div class="title-2 my-2">App 통계</div>

                <div>
                  <v-radio-group v-model="state.otaRangeUnit" hide-details density="compact" inline>
                    <v-radio value="j" color="secondary" label="일간통계"></v-radio>
                    <v-radio value="v" color="secondary" label="주간통계"></v-radio>
                    <v-radio value="Ym" color="secondary" label="월간통계"></v-radio>
                  </v-radio-group>
                </div>
              </div>

              <div class="d-flex align-center justify-space-between" style="height:30px; background-color: #d3d9e0;">
                <v-btn :disabled="!isPrevOtaReservCount" @click="prevOtaReservCount()"
                      variant="text" style="min-width: 50px; height: 30px;">
                  <v-icon color="darkgrey" size="large">mdi-chevron-left</v-icon>
                </v-btn>
                <div class="title-sub">{{ otaReservTitle }}</div>
                <v-btn :disabled="!isNextOtaReservCount" @click="nextOtaReservCount()"
                      variant="text" style="min-width: 50px; height: 30px;">
                  <v-icon color="darkgrey" size="large">mdi-chevron-right</v-icon>
                </v-btn>
              </div>
              
              <Chart2 
                :nowName="otaState.nowName"
                :nowCount="otaState.nowCount" 
                :previousName="otaState.previousName"
                :previousCount="otaState.previousCount"
                class="pa-2" style="height: 230px;"></Chart2>
            </v-sheet>
            <!-- //vsheet -->
            <!-- //vsheet -->
          </div>
          <!-- //left-->

          <!-- right -->
          <div class="d-flex flex-column flex-shrink-0 ml-4" style="width: 380px">
            <!-- vsheet -->
            <v-sheet class="box-border pa-5" style="height: 280px;">
              <div class="title-2">매출현황</div>
              <div class="d-flex justify-center mt-3" style="gap: 30px;">
                <div class="day-price">오늘 : <span class="title-sub color-secondary">{{ fmtComma(state.todaySale) }}</span>원</div>
                <div class="day-price">어제 : <span class="title-sub color-primary">{{ fmtComma(state.yesterdaySale) }}</span>원</div>
              </div>
              <div class="d-flex align-center bg-darkgrey py-4 px-6 justify-space-between mt-4"
                style="height: 60px; border-radius: 3px;">
                <div class="title color-white" style="font-weight: 400;">총 매출</div>
                <div class="number lg" style="color: #ffcc00;">{{ fmtComma(state.todaySale) }}</div>
              </div>
              <div class="title-2 mt-4">전체현황</div>
              <div class="d-flex justify-center mt-3" style="gap: 8px;">
                <div class="d-flex align-center bg-lightgrey justify-space-between pa-4"
                  style="width: 108px; height: 56px; border-radius: 10px;">
                  <div class="title-sub" style="font-weight: 400;">신규</div>
                  <div class="number lg color-primary">{{ placeStateSum.a_count }}</div>
                </div>
                <div class="d-flex align-center bg-lightgrey justify-space-between pa-4"
                  style="width: 108px; height: 56px; border-radius: 10px;">
                  <div class="title-sub" style="font-weight: 400;">처리</div>
                  <div class="number lg color-primary">{{ placeStateSum.c_count }}</div>
                </div>
                <div class="d-flex align-center bg-lightgrey justify-space-between pa-4"
                  style="width: 108px; height: 56px; border-radius: 10px;">
                  <div class="title-sub" style="font-weight: 400;">취소</div>
                  <div class="number lg color-primary">{{ placeStateSum.b_count }}</div>
                </div>
              </div>
            </v-sheet>
            <!-- vsheet -->

            <!-- vsheet -->
            <v-sheet class="box-border mt-3 overflow-y-auto" style="height: 306px;">
              <div class="d-flex align-center px-2 bg-darkgrey custom-bar" style="height: 40px;">
                <span class="title-2 mr-4">예약현황</span>
                <v-checkbox v-model="state.stayType" :value="0" hide-details density="compact" color="secondary" label="전체" style="width: 40px;!important"></v-checkbox>
                <v-checkbox v-model="state.stayType" :value="1" hide-details density="compact" color="secondary" label="숙박" style="width: 40px;!important"></v-checkbox>
                <v-checkbox v-model="state.stayType" :value="2" hide-details density="compact" color="secondary" label="대실" style="width: 40px;!important"></v-checkbox>
                <v-select 
                  :items="state.floors"
                  :item-title="item => item.name"
                  :item-value="item => item.no"
                  :value="state.floor"
                  v-model="state.floor"
                  density="compact" class="custom-select ml-2" hide-details style="width: 80px">
                </v-select>
              </div>
              <template v-for="item in reservList">
                <div v-if="item.memo === ''" class="d-flex align-center ma-2">
                  <div class="d-flex align-center bg-lightgrey pa-3" style="width: 100%; height: 38px; border-radius: 3px;">
                    <div class="title-sub color-aqua" style="width: 22%;">{{ keyText('room_reserv', 'ota_code', String(item.ota_code)) }}</div>
                    <div class="body-1 text-center" style="width: 2%;">|</div>
                    <div class="body-1 text-center" style="width: 15%;">{{ keyText('room_reserv', 'stay_type', String(item.stay_type)) }}</div>
                    <div class="body-1 text-center" style="width: 2%;">|</div>
                    <div class="body-1 text-center" style="width: 34%;">{{ item.room_name }}</div><!-- / {{ item.room_type_name }} -->
                    <div class="body-1 text-center" style="width: 2%;">|</div>
                    <div class="body-1 text-right" style="width: 23%;">{{ dayjs_(item.check_in_exp).format('YYYY-MM-DD') }}</div>
                  </div>
                </div>
                <div v-else class="d-flex align-center ma-2">
                  <div class="bg-lightgrey pa-3 w-100" style="height: 70px; border-radius: 3px;">
                    <div class="d-flex justify-space-between align-center">
                      <div class="title-sub color-aqua" style="width: 22%;">{{ keyText('room_reserv', 'ota_code', String(item.ota_code)) }}</div>
                      <div class="body-1 text-center" style="width: 2%;">|</div>
                      <div class="body-1 text-center" style="width: 15%;">{{ keyText('room_reserv', 'stay_type', String(item.stay_type)) }}</div>
                      <div class="body-1 text-center" style="width: 2%;">|</div>
                      <div class="body-1 text-center" style="width: 34%;">{{ item.room_name }}</div><!-- / {{ item.room_type_name }} -->
                      <div class="body-1 text-center" style="width: 2%;">|</div>
                      <div class="body-1 text-right" style="width: 23%;">{{ dayjs_(item.check_in_exp).format('YYYY-MM-DD') }}</div>
                    </div>
                    <div class="d-flex justify-start align-center mt-2">
                      <div class="custom-memo body-2">고객메모</div>
                      <div class="body-2 color-secondary ml-2" style="font-weight: 400;">{{ item.memo }}</div>
                    </div>
                  </div>
                </div>
              </template>
            </v-sheet>
            <!-- vsheet -->

          </div>
          <!-- //right -->
        </v-row>
      </div>
      <!-- //popup-contents -->
    </template>
    <!-- //slot -->
    <!-- //slot -->
    <template v-slot:footer>
      <div class="btns">
        <v-btn color="darkgrey" size="large" style="min-width: 150px" @click="doClosePopup()">닫기</v-btn>
      </div>
    </template>
  </Popup>
  <!-- //popup -->
</template>

<script setup lang="ts">
import {
  reactive,
  computed,
  watch,
  onMounted,
  onBeforeUnmount,
  defineComponent,
} from 'vue';
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import dayjs from 'dayjs';
import Popup from "@/components/popup/popup.vue";
import Chart from "./registration_chart.vue";
import Chart2 from "./registration_chart2.vue";
import format from '@/utils/format-util';
import { keyToValue } from '@/constants/key-map';
import _ from 'lodash';
import { RoomReserv, NowAndPrevious, Floor, PopupParam } from "@/types";
import { PlaceSaleStateSum, PlaceSaleSum } from '@/types/sale';
import { ReservCount, OtaReservCount } from "@/types/reserv";
import { 
  ReservCountHolder, 
  OtaReservCountHolder,
  roomReservBiz,
} from '@/biz/roomReservBiz';
import { RangeUnit } from '@/biz/dateBiz';


interface State extends ReservCountHolder, OtaReservCountHolder {
  toggle: number;
  tabsItem: string[];
  slides: string[];
  todaySale: number;
  yesterdaySale: number;
  roomReservs: RoomReserv[];
  floors: Floor[];
  floor: number;
  stayType: number;
  otaRangeUnit: string;
  otaReservDayNum: number;
  otaReservWeekNum: number;
  otaReservMonthNum: number;
}


// =========================================================
// 선언
// =========================================================
const store = useStore();
const route = useRoute();

const user = store.getters['user'];

const today = dayjs('2022-08-12'); // TEST '2023-08-12'
const todayStr = today.format('YYYY-MM-DD');
const yesterdayStr = today.subtract(1, 'days').format('YYYY-MM-DD');

const state = reactive({
  toggle: 1,
  tabsItem: ['day','week','month'],
  slides: ['1주','2주','3주','4주'],
  todaySale: 0,
  yesterdaySale: 0,
  roomReservs: [],
  reservCountDay: null,
  reservCountWeek: null,
  reservCountMonth: null,
  otaReservCountDay: [],
  otaReservCountWeek: [],
  otaReservCountMonth: [],
  floors: [],
  floor: 0,
  stayType: 0, //(1:숙박, 2:대실, 3:장기) 0은 전체로 사용.
  otaRangeUnit: 'v',
  otaReservDayNum: 0,
  otaReservWeekNum: 0,
  otaReservMonthNum: 0,
}) as State;

const popupLink = route.path.substring(1); // 앞에 '/'' 제거

const popup: PopupParam = {
  title: "예약 현황",
  theme: "theme-popup-light",
  size: "size-md",
  align: "mx-auto",
  pin: false,
  link: popupLink,
};

const PlaceSaleStateSumEmpty: PlaceSaleStateSum = {
  place_id: 0,
  reg_date: todayStr,
  count: 0,
  a_count: 0,
  b_count: 0,
  c_count: 0
};

const otaState = reactive({
  nowName: '',
  nowCount: null,
  previousName: '',
  previousCount: null,
});



// =========================================================
// COMPUTED
// =========================================================
const placeStateSum = computed(() => {
  const list = store.getters['placeSale/placeStateSumList'] || [];
  return list.length > 0 ? list[0] : PlaceSaleStateSumEmpty;
});

const reservList = computed(() => {
  let list = state.roomReservs
  // console.log(`*** state.floor ::`, state.floor);
  if (state.floor !== 0) {
    list = list.filter((item: RoomReserv) => item.floor == state.floor) || [];
  }
  if (state.stayType !== 0) {
    list = list.filter((item: RoomReserv) => item.stay_type === state.stayType) || [];
  }
  return list;
});

// 예약통계 기간별 제목
const otaReservTitle = computed(() => {
  if (state.otaRangeUnit === RangeUnit.DAY_OF_YEAR) {
    if (state.otaReservDayNum === 0) {
      return '오늘';
    } else {
      return `${state.otaReservDayNum}일 전`;
    }
  } else if (state.otaRangeUnit === RangeUnit.WEEK_OF_YEAR) {
    if (state.otaReservWeekNum === 0) {
      return '이번주';
    } else {
      return `${state.otaReservWeekNum}주 전`;
    }
  } else if (state.otaRangeUnit === RangeUnit.MONTH_OF_YEAR) {
    if (state.otaReservMonthNum === 0) {
      return '이번달';
    } else {
      return `${state.otaReservMonthNum}달 전`;
    }
  } else {
    return '';
  }
});

// 예약통계 기간 이전 가능 여부
const isPrevOtaReservCount = computed(() => {
  if (state.otaRangeUnit === RangeUnit.DAY_OF_YEAR) {
    return state.otaReservDayNum < (state.otaReservCountDay.length - 1);
  } else if (state.otaRangeUnit === RangeUnit.WEEK_OF_YEAR) {
    return state.otaReservWeekNum < (state.otaReservCountWeek.length - 1);
  } else if (state.otaRangeUnit === RangeUnit.MONTH_OF_YEAR) {
    return state.otaReservMonthNum < (state.otaReservCountMonth.length - 1);
  }
  return false;
});

// 예약통계 기간 다음 가능 여부
const isNextOtaReservCount = computed(() => {
  if (state.otaRangeUnit === RangeUnit.DAY_OF_YEAR) {
    return state.otaReservDayNum > 0;
  } else if (state.otaRangeUnit === RangeUnit.WEEK_OF_YEAR) {
    return state.otaReservWeekNum > 0;
  } else if (state.otaRangeUnit === RangeUnit.MONTH_OF_YEAR) {
    return state.otaReservMonthNum > 0;
  }
  return false;
});


// =========================================================
// WATCH
// =========================================================
watch(() => [state.otaRangeUnit, state.otaReservDayNum, state.otaReservWeekNum, state.otaReservMonthNum], (cur, pre) => {
  // console.log(`*** watch - state.otaRangeUnit :: `, cur);
  let nv = null;
  if (state.otaRangeUnit === RangeUnit.DAY_OF_YEAR) {
    nv = roomReservBiz.otaReservNowAndPrevious(state.otaReservCountDay, state.otaReservDayNum);
    if (state.otaReservDayNum === 0) {
      otaState.nowName = '오늘';
      otaState.previousName = '어제';
    } else {
      otaState.nowName = `${state.otaReservDayNum}일 전`;
      otaState.previousName = `${state.otaReservDayNum + 1}일 전`;
    }
  } else if (state.otaRangeUnit === RangeUnit.WEEK_OF_YEAR) {
    nv = roomReservBiz.otaReservNowAndPrevious(state.otaReservCountWeek, state.otaReservWeekNum);
    if (state.otaReservWeekNum === 0) {
      otaState.nowName = '이번주';
      otaState.previousName = '지난주';
    } else {
      otaState.nowName = `${state.otaReservWeekNum}주 전`;
      otaState.previousName = `${state.otaReservWeekNum + 1}주 전`;
    }
  } else if (state.otaRangeUnit === RangeUnit.MONTH_OF_YEAR) {
    nv = roomReservBiz.otaReservNowAndPrevious(state.otaReservCountMonth, state.otaReservMonthNum);
    if (state.otaReservMonthNum === 0) {
      otaState.nowName = '이번달';
      otaState.previousName = '지난달';
    } else {
      otaState.nowName = `${state.otaReservMonthNum}달 전`;
      otaState.previousName = `${state.otaReservMonthNum + 1}달 전`;
    }
  }
  
  if (nv !== null) {
    otaState.nowCount = [nv.now.ota_1_count, nv.now.ota_2_count, nv.now.ota_3_count, nv.now.ota_etc_count];
    otaState.previousCount = [nv.previous.ota_1_count, nv.previous.ota_2_count, nv.previous.ota_3_count, nv.previous.ota_etc_count];
  }
  // console.log(`*** watch - otaState.nowCount :: `, otaState.nowName, otaState.nowCount);
  // console.log(`*** watch - otaState.previousCount :: `, otaState.previousName, otaState.previousCount);
});



// =========================================================
// 초기 조회
// =========================================================
roomReservBiz.getReservCountByDay(store, user.place_id, today, state);
roomReservBiz.getReservCountByWeek(store, user.place_id, today, state);
roomReservBiz.getReservCountByMonth(store, user.place_id, today, state)
roomReservBiz.getOtaReservCount(store, user.place_id, today, RangeUnit.DAY_OF_YEAR, state);
roomReservBiz.getOtaReservCount(store, user.place_id, today, RangeUnit.WEEK_OF_YEAR, state);
roomReservBiz.getOtaReservCount(store, user.place_id, today, RangeUnit.MONTH_OF_YEAR, state);

// 업소 층별 객실정보
store.dispatch('room/getRoomsFloors', user.place_id)
.then((floors: Floor[]) => {
  // console.log(`*** floors::`, floors);
  state.floors.push({ no: 0, name: '층 선택', room_count: 0, room_infos: '', rooms: [] });
  state.floors.push(...floors);
});

// =========================================================
// 사용자 액션
// =========================================================
const btnTog = (val: number) => {
  state.toggle = val;
};

const btnSlide = (val: string) => {
  // state.slides = val;
};

const doClosePopup = () => {
  window.opener.closePopup(popupLink);
};


// =========================================================
// API 호출
// =========================================================
const getPlaceStateSums = () => {
  store.dispatch('placeSale/getPlaceStateSums', {
    place_id: user.place_id,
    begin: todayStr,
    end: todayStr,
  });
};

const getPlaceSums = () => {
  store.dispatch('placeSale/getPlaceSums', {
    place_id: user.place_id,
    begin: yesterdayStr,
    end: todayStr,
  })
  .then((place_sums) => {
    place_sums.forEach((place_sum: PlaceSaleSum) => {
      if (place_sum.reg_date === todayStr) {
        state.todaySale = place_sum.total_amt;
      } else if (place_sum.reg_date === yesterdayStr) {
        state.yesterdaySale = place_sum.total_amt;
      }
    });
  });
};

const getReservs = () => {
  store.dispatch('roomReserv/getListV1', {
    place_id: user.place_id,
    begin: todayStr,
    end: todayStr,
  })
  .then((room_reservs) => {
    // console.log(`*** roomReserv/getListV1 - res :: `, room_reservs);
    const filtered = _.filter(room_reservs, (item: any) => item.state != 'B') || [];
    state.roomReservs = filtered;
  });
}


// =========================================================
// 기능
// =========================================================
const fmtComma = (value: number) => {
  if (value == 0) {
    return '0';
  } else {
    return format.formatCommas(value);
  }
};

const keyText = (table: string, type: string, value: string) => {
  return keyToValue(table, type, value);
};

const dayjs_ = (value: any) => {
  return dayjs(value);
};

const prevOtaReservCount = () => {
  if (state.otaRangeUnit === RangeUnit.DAY_OF_YEAR) {
    if (state.otaReservDayNum < (state.otaReservCountDay.length - 1)) {
      state.otaReservDayNum++;
    }
  } else if (state.otaRangeUnit === RangeUnit.WEEK_OF_YEAR) {
    if (state.otaReservWeekNum < (state.otaReservCountWeek.length - 1)) {
      state.otaReservWeekNum++;
    }
  } else if (state.otaRangeUnit === RangeUnit.MONTH_OF_YEAR) {
    if (state.otaReservMonthNum < (state.otaReservCountMonth.length - 1)) {
      state.otaReservMonthNum++;
    }
  }
};

const nextOtaReservCount = () => {
  if (state.otaRangeUnit === RangeUnit.DAY_OF_YEAR) {
    if (state.otaReservDayNum > 0) {
      state.otaReservDayNum--;
    }
  } else if (state.otaRangeUnit === RangeUnit.WEEK_OF_YEAR) {
    if (state.otaReservWeekNum > 0) {
      state.otaReservWeekNum--;
    }
  } else if (state.otaRangeUnit === RangeUnit.MONTH_OF_YEAR) {
    if (state.otaReservMonthNum > 0) {
      state.otaReservMonthNum--;
    }
  }
};


// =========================================================
// 라이플 사이클
// =========================================================
onMounted(() => {
  console.log(`*** onMounted`);
  getPlaceStateSums();
  getPlaceSums();
  getReservs();

  setTimeout(() => { //챠트 일 터치
    state.toggle = 0;
    state.otaRangeUnit = 'j';
  }, 100);
});

onBeforeUnmount(() => {
  console.log(`*** onBeforeUnmount`);
});
</script>

<style lang="scss" scoped>
.day-price {
  display: flex;
  align-items: center;

  &::before {
    width: 6px;
    height: 6px;
    background-color: #3c4d60;
    content: "";
    display: block;
    border-radius: 2px;
    margin-right: 8px;
  }
}

.custom-memo {
  width: 60px;
  height: 24px;
  padding: 0 6px;
  border-radius: 12px;
  border: solid 1px #fc6060;
  background-color: #fff;
  color: #fc6060;
}

.reg-dot {
  width: 9px;
  height: 9px;
  border-radius: 9px;
  background-color: #33b0df;
  display: block;
  content: "";
}

.btn-toggels {
  display: flex;
  align-items: center;

  .v-btn {
    width: 80px;
    border: 1px solid #b7c2cf;
    color: #2c2f35 !important;

    &.active {
      color: #fc6060 !important;
      background-color: white !important;
      border-color: #fc6060 !important;
    }
  }
}
</style>
