<template>
  <highcharts :options="chartOptions" />
</template>

<script setup lang="ts">
import {
  reactive,
  ref,
  computed,
  watch,
  onMounted,
  onBeforeUnmount,
  defineComponent,
  getCurrentInstance,
} from 'vue';
import _ from 'lodash';
import { ReservCount } from '@/types/reserv';
import { Chart } from 'highcharts-vue';

const Hour24Array = ['0시', '1시', '2시', '3시', '4시', '5시', '6시', '7시', '8시', '9시', '10시', '11시', '12시', '13시', '14시', '15시', '16시', '17시', '18시', '19시', '20시', '21시', '22시', '23시', '24시'];
const WeekdaysArray = ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'];
const MonthArray = ['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일', '31일'];

//   props: {
//     type: {
//       type: String,
//       default: 'week', //day, week, month
//     },
//     nowPrevious: {
//       type: Object,
//       default: {},
//     },
//     nowName: {
//       type: String,
//       default: "",
//     },
//     previousName: {
//       type: String,
//       default: "",
//     },
//   },

const props = defineProps(['type', 'nowPrevious', 'nowName', 'previousName']);

const typeCategories = () => {
  if (props.type === 'day') {
    return Hour24Array;
  } else if (props.type === 'week') {
    return WeekdaysArray;
  } else if (props.type === 'month') {
    return MonthArray;
  }
};

const nowCounts = props.nowPrevious === null ? [] : props.nowPrevious.now.map((item: ReservCount) => item.count);
const previousCounts = props.nowPrevious === null ? [] : props.nowPrevious.previous.map((item: ReservCount) => item.count);
// console.log(`*** nowCounts: ${nowCounts}`);
// console.log(`*** previousCounts: ${previousCounts}`);

const chartOptions = {
  colors: ['#fc6060', '#33b0df'],
  chart: {
  },
  title: {
    text: "",
  },
  subtitle: {
    text: "",
  },
  xAxis: {
    categories: typeCategories(),
    crosshair: true,
  },
  yAxis: {
    min: 0,
    title: {
      text: "",
    },
  },
  tooltip: {
    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' + '<td style="padding:0"><b>{point.y}</b></td></tr>',
    footerFormat: "</table>",
    shared: true,
    useHTML: true,
  },
  series: [
    {
      name: props.nowName,
      data: nowCounts,
    },
    {
      name: props.previousName,
      data: previousCounts,
    },
  ],
  accessibility: {
    enabled: false,
  },
};
</script>
