<template>
  <!-- popup -->
  <Popup :popup="popup">
    <!-- slot -->
    <template v-slot:body>
      <!-- popup-contents -->
      <div class="popup-contents">
        <div class="bbs-title d-flex align-center mb-2">
          <span class="text">{{ state.item.name }}</span>
          <span class="date">{{ dayjs(state.item.reg_date).format('MM/DD HH:mm') }}</span>
        </div>
        <div class="bbs-contents mb-2" style="height: 480px;">
          {{  state.item.discription }}
        </div>
        <v-table class="sm">
          <colgroup>
            <col style="width: 80px" />
            <col />
          </colgroup>
          <tbody>
            <tr>
              <th>이전글</th>
              <td>
                <div class="d-flex justify-space-between">
                  <a href="#" class="link-text">{{ state.prev?.title }}</a>
                  <p class="sm-font12">{{ dayjs(state.prev?.reg_date).format('MM/DD HH:mm') }}</p>
                </div>
              </td>
            </tr>
            <tr>
              <th>다음글</th>
              <td>
                <div class="d-flex justify-space-between">
                  <a href="#" class="link-text">{{ state.next?.title }}</a>
                  <p class="sm-font12">{{ dayjs(state.next?.reg_date).format('MM/DD HH:mm') }}</p>
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>


      </div>
      <!-- //popup-contents -->
    </template>
    <!-- //slot -->
    <!-- slot -->
    <template v-slot:footer>
        <div class="btns">
          <v-btn color="secondary" size="large" style="min-width: 150px">목록</v-btn>
          <v-btn color="darkgrey" size="large" style="min-width: 150px" @click="doClosePopup()">닫기</v-btn>
        </div>
      </template>
      <!-- //slot -->
  </Popup>
  <!-- //popup -->
</template>

<script setup lang="ts">
import {
  reactive,
  ref,
  computed,
  watch,
  onMounted,
  onBeforeUnmount,
  defineComponent,
  getCurrentInstance,
} from 'vue';
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import Popup from "@/components/popup/popup.vue";
import { PlaceSubscribe, PrevNext, PopupParam } from '@/types';
import dayjs from 'dayjs';


const props = defineProps(['id']);

const store = useStore();
const route = useRoute();

const popupLink = route.path.substring(1); // 앞에 '/'' 제거

const popup: PopupParam = {
  title: "구독현황 보기",
  theme: "theme-popup-light",
  size: "size-smd",
  align: "mx-auto",
  pin: false,
  link: popupLink,
};

interface State {
  id: string;
  pno: string;
  item: PlaceSubscribe;
  prev: PrevNext | null;
  next: PrevNext | null;
}

const state = reactive<State>({
  id: props.id,
  pno: Array.isArray(route.params) ? (route.params.pno as string[])[0] : route.params.pno as string,
  item: {
    name: '',
    discription: '',
    reg_date: '',
  } as PlaceSubscribe,
  prev: null,
  next: null,
});

watch(() => state.id, (cur, pre) => {
  console.log(`*** watch - state.id :: `, cur, pre);
  getItem();
  getPrevNext();
});

const doClosePopup = () => {
  window.opener.closePopup(popupLink);
};

const getItem = () => {
  console.log(`*** getItem - state :: `, state);

  store.dispatch('placeSubscribe/getItem', state.id)
  .then((place_subscribe) => {
    console.log(`*** placeSubscribe/getItem - res :: `, place_subscribe);
    state.item = place_subscribe;
  })
  .catch((error) => {
    console.log(`*** placeSubscribe/getItem - error :: `, error);
  });
};

const getPrevNext = () => {
  console.log(`*** prevNext - state :: `, state);
  store.dispatch('placeSubscribe/getPrevNext', {
    id: state.id
  })
  .then((place_subscribes) => {
    console.log(`*** placeSubscribe/getPrevNext - res :: `, place_subscribes);
    place_subscribes.forEach((pn: PrevNext) => {
      if (pn.tag === 'UP') {
        state.prev = pn;
      } else if (pn.tag === 'DOWN') {
        state.next = pn;
      }
    });
  })
  .catch((error) => {
    console.log(`*** placeSubscribe/getPrevNext - error :: `, error);
  });
};

onMounted(() => {
  console.log(`*** onMounted - state :: `, state);
  getItem();
  getPrevNext();
});
</script>
