<template>
  <!-- popup :: LIST -->
  <Popup v-if="state.viewType === 'LIST'" :popup="popup">
    <!-- slot -->
    <template v-slot:body>
      <!-- popup-contents -->
      <div class="popup-contents">
        <!-- field-set -->
        <fieldset class="field-set">
          <v-container fluid style="padding: 0 12px;">
            <v-row>
              <VueDatePicker v-model="state.begin" locale="ko" :format="dpFormat" style="width:155px;border-radius: 0;"></VueDatePicker>
              <VueDatePicker v-model="state.end" locale="ko" :format="dpFormat" style="width:155px;border-radius: 0;"></VueDatePicker>
              <v-select 
                :items="['공지', '업데이트', '중요']" 
                value="구분선택" 
                density="compact" 
                class="board" 
                hide-details
                >
              </v-select>
              <div class="input-search board" style="width: 180px;">
                <input type="text" value="여기 어때" />
                <v-btn density="compact" size="small" icon="mdi-magnify"></v-btn>
              </div>
              <v-btn color="primary ml-2" style="min-width: 86px;">나의구독채널</v-btn>
            </v-row>
          </v-container>
        </fieldset>
        <!-- //field-set -->
        <!-- tabs -->
        <v-item-group v-model="state.setting" class="board_tabs two mt-6" style="padding: 0;">
          <div v-for="item in state.tabsItem" :key="item" :value="item" class="item">
            <v-btn 
            style="height: 36px !important;padding: 8px 16px;" 
            @click="tabToggle(item)" 
            :class="state.setting === item ? 'active' : ''">
              {{ item }}
            </v-btn>
          </div>
        </v-item-group>
        <!-- //tabs -->
        <div class="pop-contents" v-if="state.setting === '구독중'" style="padding: 0;">
          <!-- v-container -->
          <v-container fluid class="board_panel">
            <v-row no-gutters>
              <!-- table -->
              <v-table fixed-header height="480" class="overflow-y-auto no-border">
              <colgroup>
                <col style="width: 100px;"/>
                <col />
                <col style="width: 100px;"/>
              </colgroup>
              <tbody>
                <tr v-for="item, index in state.itemList">
                  <td>
                    <span v-if="index % 5 === 0">[신규]</span>
                    <span v-if="index % 5 === 1">[구독]</span>
                    <span v-if="index % 5 === 2" class="text-secondary point">추천</span>
                    <span v-if="index % 5 === 3" class="text-secondary point">중요</span>
                    <span v-if="index % 5 === 4" class="text-primary">[채널명]</span>
                  </td>
                  <!-- <td><div><router-link :to="{ path: `/dashboard/subscribe_status_view/${item.id}`, query: { pno: state.page.no } }">{{ item.name }}</router-link><span class="new">N</span></div></td> -->
                  <td><div><a @click="toView(item.id)">{{ item.name }}</a><span class="new">N</span></div></td>
                  <td class="right"><span class="gray">{{ displayTime(item.reg_date) }}</span></td>
                </tr>

                <!-- <tr>
                  <td><span class="text-secondary point">추천</span></td>
                  <td><div>추천 구독은 상단에 [추천] 아이콘으로 표시됩니다.<span class="new">N</span></div></td>
                  <td class="right"><span class="gray">12/24/10:36</span></td>
                </tr>
                <tr>
                  <td><span class="text-secondary point">중요</span></td>
                  <td><div>중요 구독은 상단에 [중요] 아이콘으로 표시됩니다.<span class="new">N</span></div></td>
                  <td class="right"><span class="gray">12/24/10:36</span></td>
                </tr>
                <tr>
                  <td><span>[신규]</span></td>
                  <td><div>신규 구독 내용이 표시됩니다.</div></td>
                  <td class="right"><span class="gray">12/24/10:36</span></td>
                </tr> -->
              </tbody>
              </v-table>
              <!--// table -->
            </v-row>
          </v-container>
          <!--// v-container -->
        </div>
        <div class="pop-contents" v-if="state.setting === '신규 및 추천'" style="padding: 0;">
          <!-- v-container -->
          <v-container fluid class="board_panel" style="max-height: 512px;overflow-y: scroll;">
            <v-row no-gutters>
              <!-- d-flex -->
              <div class="d-flex justify-space-between mb-3" style="width: 100%;">
                <v-sheet class="subscribe-card">
                  <div class="title-area mb-2">
                    <h3 class="title">제목이 표시됩니다.</h3>
                    <div class="btn-area">
                      <span class="sub-title mr-2">구독 채널명</span>
                      <v-btn class="btn" color="secondary" size="small" >+ 구독</v-btn>
                    </div>
                  </div>
                  <div class="img-area">
                    이미지 및 상세내용<br>(가격안내)
                  </div>
                </v-sheet>
                <v-sheet class="subscribe-card mb-3">
                  <div class="title-area mb-2">
                    <h3 class="title">제목이 표시됩니다.</h3>
                    <div class="btn-area">
                      <span class="sub-title mr-2">구독 채널명</span>
                      <v-btn class="btn" color="secondary" size="small" >+ 구독</v-btn>
                    </div>
                  </div>
                  <div class="img-area">
                    이미지 및 상세내용<br>(가격안내)
                  </div>
                </v-sheet>
              </div>
              <!--// d-flex -->
            </v-row>
            <v-row no-gutters>
              <!-- d-flex -->
              <div class="d-flex justify-space-between mb-3" style="width: 100%;">
                <v-sheet class="subscribe-card">
                  <div class="title-area mb-2">
                    <h3 class="title">제목이 표시됩니다.</h3>
                    <div class="btn-area">
                      <span class="sub-title mr-2">구독 채널명</span>
                      <v-btn class="btn" color="secondary" size="small" >+ 구독</v-btn>
                    </div>
                  </div>
                  <div class="img-area">
                    이미지 및 상세내용<br>(가격안내)
                  </div>
                </v-sheet>
                <v-sheet class="subscribe-card mb-3">
                  <div class="title-area mb-2">
                    <h3 class="title">제목이 표시됩니다.</h3>
                    <div class="btn-area">
                      <span class="sub-title mr-2">구독 채널명</span>
                      <v-btn class="btn" color="secondary" size="small" >+ 구독</v-btn>
                    </div>
                  </div>
                  <div class="img-area">
                    이미지 및 상세내용<br>(가격안내)
                  </div>
                </v-sheet>
              </div>
              <!--// d-flex -->
            </v-row>

          </v-container>
          <!--// v-container -->
        </div>
        <!-- pagination -->
        <div class="text-center page-navigation">
            <v-pagination v-model="state.page.no" :length="state.page.pageTotal" rounded="circle"></v-pagination>
          </div>
          <!-- /pagination -->
        <!-- //table -->
      </div>
      <!-- //popup-contents -->
    </template>
    <!-- //slot -->
    <template v-slot:footer>
      <div class="btns">
            <v-btn color="darkgrey" size="large" style="min-width: 150px" @click="doClosePopup()">닫기</v-btn>
      </div>
    </template>
  </Popup>
  <!-- //popup :: LIST -->

  <!-- popup :: ITEM -->
  <Popup v-else :popup="popup">
  <!-- slot -->
  <template v-slot:body>
    <!-- popup-contents -->
    <div class="popup-contents">
      <div class="bbs-title d-flex align-center mb-2">
        <span class="text">{{ state.item.name }}</span>
        <span class="date">{{ displayTime(state.item.reg_date) }}</span>
      </div>
      <div class="bbs-contents mb-2" style="height: 480px;">
        {{  state.item.discription }}
      </div>
      <v-table class="sm">
        <colgroup>
          <col style="width: 80px" />
          <col />
        </colgroup>
        <tbody>
          <tr>
            <th>이전글</th>
            <td>
              <div class="d-flex justify-space-between">
                <a class="link-text" @click="toView(state.prev.id)">{{ state.prev.title }}</a>
                <p class="sm-font12">{{ displayTime(state.prev.reg_date) }}</p>
              </div>
            </td>
          </tr>
          <tr>
            <th>다음글</th>
            <td>
              <div class="d-flex justify-space-between">
                <a class="link-text" @click="toView(state.next.id)">{{ state.next.title }}</a>
                <p class="sm-font12">{{ displayTime(state.next.reg_date) }}</p>
              </div>
            </td>
          </tr>
        </tbody>
      </v-table>

    </div>
    <!-- //popup-contents -->
  </template>
  <!-- //slot -->
  <!-- slot -->
  <template v-slot:footer>
      <div class="btns">
        <v-btn color="secondary" size="large" style="min-width: 150px" @click="toList()">목록</v-btn>
        <v-btn color="darkgrey" size="large" style="min-width: 150px" @click="doClosePopup()">닫기</v-btn>
      </div>
    </template>
    <!-- //slot -->
  </Popup>
  <!-- //popup :: ITEM -->
</template>

<script setup lang="ts">
import {
  reactive,
  watch,
  onMounted,
} from 'vue';
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import Popup from "@/components/popup/popup.vue";
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'
import dayjs from 'dayjs';
import { Page, PrevNext, PlaceSubscribe, PopupParam } from '@/types';
import { queryId } from '@/utils/cqi-util';


const store = useStore();
const route = useRoute();

const user = store.getters['user'];

const now = dayjs();

const state = reactive({
  viewType: 'LIST',  // LIST, ITEM
  begin: now.subtract(3, 'year').format('YYYY-MM-DD'),
  end: now.format('YYYY-MM-DD'),

  page: {
    no: 1,
    size: 15,
    pageTotal: 1,
  } as Page,
  setting: '구독중',
  tabsItem: [
    "구독중",
    "신규 및 추천",
  ],
  itemList: [] as PlaceSubscribe[],
  id: null,
  item: {
    name: '',
    discription: '',
    reg_date: '',
  } as PlaceSubscribe,
  prev: {} as PrevNext,
  next: {} as PrevNext,
});

const popupLink = route.path.substring(1); // 앞에 '/'' 제거

const popup: PopupParam = {
  title: state.viewType === 'LIST' ? "구독현황" : "구독현황 보기",
  theme: "theme-popup-light",
  size: "size-smd",
  align: "mx-auto",
  pin: false,
  link: popupLink,
};

watch(() => state.page.no, (cur, pre) => {
  pagingList();
});

watch(() => state.id, (cur, pre) => {
  getItem();
  getPrevNext();
});

const tabToggle = (val: string) => {
  state.setting = val;
};

const dpFormat = (date: any) => {
  return dayjs(date).format('YYYY-MM-DD');
};

const doClosePopup = () => {
  window.opener.closePopup(popupLink);
};

const toView = (id: number) => {
  state.id = id; // watch triger
  state.viewType = 'ITEM';
};

const toList = () => {
  state.viewType = 'LIST';
};

const displayTime = (date: string) => {
  return dayjs(date).format('MM/DD HH:SS');
};

onMounted(() => {
  console.log(`*** onMounted`);
  pagingList();
  const qId = queryId(route);
  if (qId !== null) {
    toView(qId);
  }
});

const pagingList = () => {
  console.log(`*** pagingList - BEFORE state.page ::`, state.page);

  store.dispatch('placeSubscribe/getList', {
      page: state.page,
      filter: `a.place_id=${user.place_id}`,
      limit: `${(state.page.no - 1) * state.page.size}, ${state.page.size}`,
    })
  .then(({ success, count, place_subscribes }) => {
    if (success) {
      if (state.itemList.length > 0) {
        state.itemList = [];
      }
      state.itemList.push(...place_subscribes);
      const countTotal = count[0].count;
      state.page.pageTotal = Math.ceil(countTotal / state.page.size);
    }
    console.log(`*** pagingList - AFTER  state.page ::`, state.page);
  })
  .catch((error) => {
    console.log(`*** placeSubscribe/getList - error::`, error);
  });
};

const getItem = () => {
  console.log(`*** getItem - state :: `, state);

  store.dispatch('placeSubscribe/getItem', state.id)
  .then((place_subscribe) => {
    console.log(`*** placeSubscribe/getItem - res :: `, place_subscribe);
    state.item = place_subscribe;
  })
  .catch((error) => {
    console.log(`*** placeSubscribe/getItem - error :: `, error);
  });
};

const getPrevNext = () => {
  console.log(`*** prevNext - state :: `, state);
  store.dispatch('placeSubscribe/getPrevNext', {
    id: state.id,
    place_id: user.place_id,
  })
  .then((place_subscribes) => {
    console.log(`*** placeSubscribe/getPrevNext - res :: `, place_subscribes);
    state.prev = {} as PrevNext;
    state.next = {} as PrevNext;

    place_subscribes.forEach((pn: PrevNext) => {
      if (pn.tag === 'UP') {
        state.prev = pn;
      } else if (pn.tag === 'DOWN') {
        state.next = pn;
      }
    });
  })
  .catch((error) => {
    console.log(`*** placeSubscribe/getPrevNext - error :: `, error);
  });
};
</script>
