<template>
  <div class="home">
    <DashBoard />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, getCurrentInstance } from 'vue';
import { useStore } from 'vuex';
import { useRouter, useRoute } from 'vue-router';

import { IS_LOGINED } from '@/store/mutation_types';

import DashBoard from '@/views/dashboard/main_chart1.vue';

export default defineComponent({
  name: 'HomeView',
  components: {
    DashBoard,
  },
  setup() {
    const componentName = getCurrentInstance()?.type?.name;
    const store = useStore();
    const router = useRouter();

    document.querySelector('html').className += ' main_main';

    let isLogin = store.getters[IS_LOGINED];

    console.log(componentName, 'IS_LOGINED ', {
      isLogin,
    });

    // 로그인 여부 확인
    if (isLogin) {
      router.push({ path: '/main' });
    } else {
      router.push({ path: '/login' });
    }
  },
});
</script>
