<template>
  <div id="wrapper">
    <MainHeader></MainHeader>
    <div id="wrapper-content">
      <Menu v-if="showMenu" :place="place"></Menu>

      <!-- 메인 대시보드 -->
      <template v-if="tabNo === 0">
        <div class="content-header">
          <h2 class="total-pay-tit">매출통계</h2>
        </div>
        <section>
          <MainSaleStatistics></MainSaleStatistics>
          <!-- <MainRoomSale
            :beginDate="state.sales.beginDate"
            :endDate="state.sales.endDate"
          ></MainRoomSale> -->
        </section>
        <section class="content-c">
          <div class="l">
            <!-- <MainSaleGraph></MainSaleGraph>
            <MainRoomEvents></MainRoomEvents>
            <MainStayNews></MainStayNews> -->
          </div>
          <div class="c">
            <!-- <MainKiosk></MainKiosk> -->
          </div>
          <div class="r">
            <!-- <MainReservation></MainReservation>
            <MainReservStatistics></MainReservStatistics>
            <MainNotice></MainNotice>
            <MainSubscribe></MainSubscribe> -->
          </div>
        </section>

        <footer>
          <div><img src="../assets/images/trash4.png" alt="" /></div>
          <ul class="ad">
            <li>
              <div>
                <em>[광고]</em> 한줄 광고가 여러개일 경우 자동으로 롤링되며
                표시됩니다.
              </div>
            </li>
            <li>
              <div>
                <em class="txt2">[알림]</em> 프로그램 관련 및 공지알림이 있을
                경우 롤링되며 표시됩니다.
              </div>
              <div style="display: none">
                <em class="txt2">[알림]</em> 프로그램 관련 및 공지알림이 있을
                경우 롤링되며 표시됩니다.
              </div>
            </li>
          </ul>
          <div class="alert">
            <div class="new">
              <span class="tit">신규알림</span><span class="txt">3</span
              ><span class="view-all"><a href="link">전체보기</a></span>
            </div>
            <div class="limit">
              프로그램 사용기한 :
              {{ dayjs(place.expire_date).dayOfYear() - dayjs().dayOfYear() }}일
              남음
            </div>
          </div>
        </footer>
      </template>
      <!--// 메인 대시보드 -->

      <!-- 객실목록 뷰 -->
      <template>
        <Room></Room>
      </template>
      <!--// 객실목록 뷰 -->
    </div>

    <!-- <WindowPopup
      ref="popupReserve"
      @onClose="(val) => eventClosePopup(val)"
      @onRecvEvtFromWinPop="(val) => onRecvWinPop(val)"
    ></WindowPopup>
    <WindowPopup
      ref="popupKiosk"
      @onClose="(val) => eventClosePopup(val)"
      @onRecvEvtFromWinPop="(val) => onRecvWinPop(val)"
    ></WindowPopup> -->
  </div>
</template>

<script setup lang="ts">
import {
  reactive,
  ref,
  computed,
  onMounted,
  onBeforeMount,
  onBeforeUnmount,
} from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';

import dayjs from 'dayjs';
import { USER } from '@/store/mutation_types';
// import WindowPopup from '@/components/popup/WindowPopup.vue';
import { Place } from '@/types';

import WebSocketUtil from '@/utils/websocket-util';
import WebSocketSyncUtil from '@/utils/websocket-sync-util';
import { placeBiz } from '@/biz/placeBiz';
import { roomBiz } from '@/biz/roomBiz';
import { roomStateBiz } from '@/biz/roomStateBiz';
import Menu from './Menu.vue';
import { menuBiz } from '@/biz/menuBiz';
import { roomViewBiz } from '@/biz/roomViewBiz';

import MainHeader from './main/MainHeader.vue';
import MainSaleStatistics from './main/MainSaleStatistics.vue';
import MainRoomSale from './main/MainRoomSale.vue';
import MainSaleGraph from './main/MainSaleGraph.vue';
import MainRoomEvents from './main/MainRoomEvents.vue';
import MainStayNews from './main/MainStayNews.vue';
import MainKiosk from './main/MainKiosk.vue';
import MainReservation from './main/MainReservation.vue';
import MainReservStatistics from './main/MainReservStatistics.vue';
import MainNotice from './main/MainNotice.vue';
import MainSubscribe from './main/MainSubscribe.vue';

import Room from './Room.vue';

interface State {
  main: {
    beginDate: string;
    endDate: string;
  };
  sales: {
    beginDate: string;
    endDate: string;
  };
}

// =========================================================
// 선언
// =========================================================
const componentName = 'Main.vue';
const store = useStore();
const router = useRouter();

const user = store.getters[USER];

console.log(componentName, `*** Main - user.id:`, user.id);

const today = dayjs();
// const today = dayjs('2023-08-12'); // TEST
const todayStr = today.format('YYYY-MM-DD');

const state: State = reactive({
  main: {
    beginDate: todayStr,
    endDate: todayStr,
  },
  sales: {
    beginDate: today.subtract(10, 'day').format('YYYY-MM-DD'),
    endDate: todayStr,
  },
  Preference: computed(() => store.getters['preferences/item']),
});

const stayState = reactive({
  nowName: '',
  nowCount: null,
  previousName: '',
  previousCount: null,
});

// =========================================================
// COMPUTED
// =========================================================
const isTabPopup = computed<boolean>({
  get(): boolean {
    return store.getters['mainState/isTabPopup'];
  },
  set(newValue: boolean) {
    store.commit('mainState/isTabPopup', newValue);
  },
});

const tabNo = computed<number>({
  get(): number {
    return store.getters['mainState/tabNo'];
  },
  set(newValue: number) {
    store.commit('mainState/tabNo', newValue);
  },
});

const showMenu = computed<boolean>(() => menuBiz.getterShowMenu(store));
const place = computed<Place>(() => placeBiz.getterPlace(store));

// =========================================================
// WATCH
// =========================================================

// =========================================================
// 초기 조회
// =========================================================
// 환경 조회.
store.dispatch('preferences/getItem', user.place_id);

// 업소정보
placeBiz.place(store, user.place_id);

// 업소 층별 객실정보
roomBiz.roomFloors(store, user.place_id);

// 업소의 모든 객실정보
roomBiz.roomsByPlaceId(store, user.place_id);

// 객실현황
roomStateBiz.roomStateSaleAll(store, user.place_id);

// 업소 객실 뷰
roomViewBiz.roomViews(store, user.place_id);

// =========================================================
// 기능 처리
// =========================================================

// =========================================================
// 기능
// =========================================================
const eventClosePopup = (val: any) => {
  console.log(componentName, `*** eventClosePopup::`, val);
};

const onRecvWinPop = (receiveObject: any) => {
  console.log(
    componentName,
    `*** onRecvWinPop - receiveObject ::`,
    receiveObject
  );
};

// =========================================================
// 마운트 / 언마운트
// =========================================================
const webSocket = new WebSocketUtil(store, computed);
const webSocketSyncUtil = new WebSocketSyncUtil(store, computed);

onBeforeMount(() => {
  console.log(componentName, '==> onBeforeMount', { user });
  if (!user.id) router.push({ path: 'Login' });
});
onMounted(() => {
  console.log(componentName, '==> onMounted');
  webSocket.connect();
  webSocketSyncUtil.connect();
});

onBeforeUnmount(() => {
  console.log(componentName, '==> onBeforeUnmount');
  webSocket.disconnect();
  webSocketSyncUtil.disconnect();
});
</script>
