<template>
  <div class="setting">
    <!-- <div class="tit">
        <h2>객실설정</h2>
        <span class="close"><a @click="menuBiz.setShowMenu(store, false)">닫기</a></span>
    </div> -->
    <div class="welcome-area">
        <span class="welcome">반갑습니다 <em>{{ user.name }}</em>님</span>
        <!-- <span class="change"><a >변경</a></span> -->
        <span class="change"><a @click="menuBiz.setShowMenu(store, false)">닫기</a></span>
    </div>
    <div class="setting-list">
        <div class="div">
            <h3 class="txt-search">조회</h3>
            <ul>
                <li><a @click="popupBiz.doOpenSales(store)">매출 조회</a></li>
                <li><a @click="popupBiz.doOpenRoomHistory(store)">객실 이력조회 </a></li>
                <li><a @click="popupBiz.doOpenPoint(store)">포인트 이력조회</a></li>
                <!-- ('room/point_list', 1110, 830) -->
                <!-- <li><a @click="popupBiz.doOpenKeyStatus(store)">카드데크 키 현황</a></li> -->
            </ul>
            <h3 class="txt-management">관리</h3>
            <ul>
                <li><a @click="popupBiz.doOpenRoomViewSetting(store)">객실목록 뷰 관리</a></li>
                <li><a @click="popupBiz.doOpenRoomManage(store)">객실정보 관리</a></li>
                <li><a @click="popupBiz.doOpenRoomTypeSetting(store)">객실타입 관리</a></li>
                <li><a @click="popupBiz.doOpenRoomBatch(store)">일괄처리</a></li>
                <li><a @click="popupBiz.doOpenManagePoint(store)">포인트 관리</a></li>
            </ul>
            <h3 class="txt-reservation">예약 관리</h3>
            <ul>
                <li><a @click="popupBiz.doOpenReservationList(store)">예약 목록</a></li>
                <li><a @click="popupBiz.doOpenReservation(store)">예약 등록</a></li>
            </ul>
            <h3 class="txt-bbs">게시판</h3>
            <ul>
                <li><a @click="popupBiz.doOpenNotice(store)">공지 게시판</a></li>
                <li><a @click="popupBiz.doOpenBoardAalarm(store)">업주 게시판 </a></li>
                <li><a @click="popupBiz.doOpenBoardAS(store)">A/S 건의 게시판</a></li>
            </ul>
        </div>
        <div class="div">
            <h3 class="txt-search">설정</h3>
            <ul>
                <li><a @click="popupBiz.doOpenSettingCharge(store)">요금설정</a></li>
                <li><a @click="popupBiz.doOpenSettingOperation(store)">운영규칙 설정</a></li>
                <li><a @click="popupBiz.doOpenSettingTimeOption(store)">입실시간 옵션</a></li>
                <li><a @click="popupBiz.doOpenSettingUnmanned(store)">무인판매 설정</a></li>
                <li><a @click="popupBiz.doOpenSettingReservation(store)">예약설정</a></li>
                <li><a @click="popupBiz.doOpenSettingPoint(store)">포인트 설정</a></li>
                <li><a @click="popupBiz.doOpenSettingLock(store)">잠금 설정</a></li>
                <li><a @click="popupBiz.doOpenSettingAir(store)">냉/난방 설정</a></li>
                <li><a @click="popupBiz.doOpenSettingScreen(store)">화면 설정</a></li>
                <li><a @click="popupBiz.doOpenSettingVoice(store)">음성 설정</a></li>
                <li><a @click="popupBiz.doOpenSettingPower(store)">전원 설정</a></li>
                <li><a @click="popupBiz.doOpenSettingAlarm(store)">알림 설정</a></li>
                <li><a @click="popupBiz.doOpenSettingPms(store)">PMS 설정</a></li>
                <li><a @click="popupBiz.doOpenSettingDoorLock(store)">도어락 설정</a></li>
                <li><a @click="popupBiz.doOpenSettingData(store)">데이터 관리</a></li>
                <li><a @click="popupBiz.doOpenSettingEmployee(store)">직원 관리</a></li>
                <li><a @click="popupBiz.doOpenSettingSubscribe(store)">구독관리</a></li>
                <li><a @click="popupBiz.doOpenSimulator(store)">시뮬레이터</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <div class="version">프로그램 버전 : 00.123.01</div>
        <div class="email">
            <p>
                담당자 이메일 :
                <a :href='`mailto:${user.email}`'>{{ user.email }}</a>
            </p>
            <p>서비스 제공 : CHECKQIN Cloud</p>
        </div>
        <div class="txt">
            Copyright ⓒ CHECKQIN Corp., All Rights Reserved.
        </div>
        <div class="limit">
            프로그램 사용기한 : {{ limitDate }}<br/>
            {{ remainderDay }}일 남음
        </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue';
import { useStore } from 'vuex';
import { menuBiz } from '@/biz/menuBiz';
import { popupBiz } from '@/biz/popupBiz';
import dayjs from 'dayjs';

// import dayOfYear from 'dayjs/plugin/dayOfYear'; // TODO main.ts 에서 글로벌 처리.
// dayjs.extend(dayOfYear);


// =========================================================
// 선언
// =========================================================
const props = defineProps({
    place: {
        type: Object,
        required: true,
    },
});

const store = useStore();
const user = store.getters['user'];

// 라이센스 종료일.
const expireDate = ref<dayjs.Dayjs>(dayjs(props.place.expire_date));


// =========================================================
// 초기 조회
// =========================================================

// =========================================================
// COMPUTED
// =========================================================
const limitDate = computed<string>(() => expireDate.value.format('YYYY-MM-DD'));
const remainderDay = computed<number>(() => expireDate.value.dayOfYear() - dayjs().dayOfYear());


// =========================================================
// 기능
// =========================================================

// =========================================================
// 사용자 액션
// =========================================================

// =========================================================
// 정보, onMounted, onBeforeUnmount
// =========================================================
</script>
