<template>
  <div id="wrapper-room">
    <div id="wrapper-header">
      <header>
        <div class="l">
          <div class="logo">BI</div>
          <h1>CHECKQIN</h1>
          <div class="tit"><em>*</em>{{ roomView.title }}</div>
          <div class="txt">최근 이벤트 : {{ lastEventDate }}</div>
        </div>
        <div class="r">
          <ul class="checkbox-area">
            <li>
              <label for="event1" class="checkbox checkbox1">
                <input
                  v-model="roomFilter.hasStay"
                  type="checkbox"
                  id="event1"
                />
                <span class="txt">숙박</span></label
              >
            </li>
            <li>
              <label for="event2" class="checkbox checkbox2">
                <input
                  v-model="roomFilter.hasRent"
                  type="checkbox"
                  id="event2"
                />
                <div class="txt">대실</div></label
              >
            </li>
            <li>
              <label for="event3" class="checkbox checkbox3">
                <input
                  v-model="roomFilter.hasLong"
                  type="checkbox"
                  id="event3"
                />
                <div class="txt">장기</div></label
              >
            </li>
            <li>
              <label for="event5" class="checkbox checkbox5">
                <input
                  v-model="roomFilter.hasReserved"
                  type="checkbox"
                  id="event5"
                />
                <div class="txt">예약</div></label
              >
            </li>
            <li>
              <label for="event4" class="checkbox checkbox4">
                <input
                  v-model="roomFilter.hasEmpty"
                  type="checkbox"
                  id="event4"
                />
                <div class="txt">공실</div></label
              >
            </li>
          </ul>
          <div class="voice">
            <span class="img"
              ><img src="../assets/images/voice.png" alt=""
            /></span>
            <span class="txt">Voice</span>
            <span class="toggle"
              ><img src="../assets/images/trash8.png" alt=""
            /></span>
          </div>
          <ul class="number">
            <li>
              <a><em>일번</em></a>
            </li>
            <li>
              <a @click="doClosePopup()"><em class="close">닫기</em></a>
            </li>
          </ul>
        </div>
      </header>
    </div>

    <Menu v-if="showMenu" :place="place"></Menu>

    <div id="content-room" @click="activeRooomId = null">
      <div class="status">
        <div class="tit" style="min-width: 90px">객실현황</div>
        <ul class="list">
          <li class="case1">{{ roomCounter?.stay }}</li>
          <li class="case2">{{ roomCounter?.rent }}</li>
          <li class="case3">{{ roomCounter?.long }}</li>
          <li class="case4">{{ roomCounter?.cleaning }}</li>
          <li class="case5">{{ roomCounter?.reservd }}</li>
          <li class="case6">{{ roomCounter?.empty }}</li>
        </ul>
        <ul class="event-list">
          <!-- <li class="event1">[스위트룸 203호] 00 이벤트가 발생했습니다.</li>
          <li class="event2">[스위트룸 203호] 00 이벤트가 발생했습니다.</li>
          <li>[스위트룸 203호] 00 이벤트가 발생했습니다.</li> -->
          <!-- <li class="event2">[스위트룸 203호] 00 이벤트가 발생했습니다.</li> -->
        </ul>
        <ul class="btn-list">
          <li>
            <v-btn
              @click="doRefresh()"
              color="#304153"
              density="comfortable"
              icon="mdi-refresh"
              size="small"
              style="top: -4px"
            ></v-btn>
          </li>
          <li>
            <v-btn
              @click="isEditMode = !isEditMode"
              color="#304153"
              density="comfortable"
              icon="mdi-table-edit"
              size="small"
              style="top: -4px"
            ></v-btn>
          </li>

          <!-- <li><v-icon size="large" color="white" @click="doRefresh()">mdi-refresh</v-icon></li>
          <li><v-icon size="large" color="white" @click="isEditMode = !isEditMode">mdi-table-edit</v-icon></li> -->

          <!-- <li class="btn1"><a @click="isEditMode = !isEditMode">버튼1</a></li> -->
          <!-- <li class="btn2 on"><a >버튼2</a></li> -->
          <!-- <li class="btn3"><a >버튼3</a></li> -->
        </ul>
      </div>

      <template v-if="!isEditMode">
        <!-- 정상 보기 -->
        <template v-for="row in rowList">
          <ul class="room-list">
            <RoomComponent
              v-for="item in row"
              :roomView="roomView"
              :roomState="item"
              :roomFilter="roomFilter"
              :clock="clock"
            ></RoomComponent>
          </ul>
          <v-divider
            class="mb-4"
            :style="{
              marginTop: roomView.row_gap / 2 + 'px',
              marginBottom: roomView.row_gap / 2 + 'px',
            }"
          ></v-divider>
        </template>

        <!--// 정상 모드 -->
      </template>
      <template v-else>
        <div style="display: flex; gap: 20px; align-items: center">
          <div style="display: flex; align-items: center; gap: 10px">
            <label style="width: 80px; text-align: right; font-size: 20px">
              가로크기:
            </label>
            <v-text-field
              single-line
              dense
              hide-details
              color="#3C4D60"
              bg-color="#F9F9F9"
              v-model="roomView.width"
              style="width: 100px"
            ></v-text-field>
          </div>

          <!-- 세로 크기 -->
          <div style="display: flex; align-items: center; gap: 10px">
            <label style="width: 80px; text-align: right; font-size: 20px">
              세로크기:
            </label>
            <v-text-field
              single-line
              dense
              hide-details
              color="#3C4D60"
              bg-color="#F9F9F9"
              v-model="roomView.height"
              style="width: 100px"
            ></v-text-field>
          </div>

          <!-- 가로 갭 -->
          <div style="display: flex; align-items: center; gap: 10px">
            <label style="width: 80px; text-align: right; font-size: 20px">
              가로갭:
            </label>
            <v-text-field
              single-line
              dense
              hide-details
              color="#3C4D60"
              bg-color="#F9F9F9"
              v-model="roomView.col_gap"
              style="width: 100px"
            ></v-text-field>
          </div>

          <!-- 세로 갭 -->
          <div style="display: flex; align-items: center; gap: 10px">
            <label style="width: 80px; text-align: right; font-size: 20px">
              세로갭:
            </label>
            <v-text-field
              single-line
              dense
              hide-details
              color="#3C4D60"
              bg-color="#F9F9F9"
              v-model="roomView.row_gap"
              style="width: 100px"
            ></v-text-field>
          </div>
        </div>
        <!-- 편집 모드 -->
        <div
          class="d-flex"
          style="max-width: 100%; justify-content: space-around"
        >
          <div class="d-flex">
            <v-btn
              class="ma-2"
              color="primary"
              style="min-width: 120px"
              @click="doEditApply()"
              >적용하기</v-btn
            >
            <v-btn
              class="ma-2"
              color="secondary"
              style="min-width: 120px"
              @click="doEditReset()"
              >초기화</v-btn
            >
            <v-btn
              class="ma-2"
              color="grey"
              style="min-width: 120px"
              @click="doEditCancel()"
              >닫기</v-btn
            >
          </div>
        </div>
        <v-divider class="mt-4 mb-4"></v-divider>
        <template v-for="(cols, index) in editList">
          <ul>
            <draggable
              :list="cols"
              class="room-list"
              itemKey="room_id"
              :componentData="{
                tag: 'ul',
                type: 'transition-group',
                name: !drag ? 'flip-list' : null,
              }"
              v-bind="dragOptions"
              @start="drag = true"
              @end="drag = false"
              @change="log"
            >
              <template #item="{ element }">
                <li
                  class="on list-group-item"
                  :data-room-id="element.room_id"
                  :data-row="element.row"
                  :data-col="element.col"
                  :style="{
                    width: roomView.width + 'px',
                    height: roomView.height + 'px',
                    marginTop: roomView.row_gap / 2 + 'px',
                    marginLeft: roomView.col_gap / 2 + 'px',
                    marginBottom: roomView.row_gap / 2 + 'px',
                    marginRight: roomView.col_gap / 2 + 'px',
                    display: 'block', // Flexbox 적용
                    justifyContent: 'center', // 수평 중앙 정렬
                    alignItems: 'center', // 수직 중앙 정렬
                    backgroundColor: '#304153', // 배경색 적용
                  }"
                >
                  <div class="tit-area">
                    <span class="key got">키</span>
                    <span class="tit">
                      {{ roomBiz.roomNameHo(element.room_name) }}
                    </span>
                    <span class="list">목록</span>
                  </div>
                  <div class="content-area" style="background: #304153">
                    <div class="stay-txt" style="background: #304153">
                      <!-- <span :style="{ color: element.fixed ? 'red' : 'black'}">{{ element.room_name }}</span> -->
                      {{ element.room_name }}
                    </div>
                  </div>
                  <div class="checkinout">
                    <div
                      class="pt-1"
                      style="font-size: 1rem; text-align: center"
                    >
                      {{ element.type_name }}
                    </div>
                  </div>
                  <!-- <i
                  :class="element.fixed ? 'fa fa-anchor' : 'glyphicon glyphicon-pushpin'"
                  @click="element.fixed = !element.fixed"
                  aria-hidden="true"
                  >이것은</i> -->
                </li>
              </template>
            </draggable>
          </ul>
          <v-divider class="mb-4"></v-divider>

          <!-- <rawDisplayer class="col-3" :value="editList[index]" :title="'List ' + (index + 1)" /> -->
        </template>
        <div class="d-flex" style="max-width: 100%; justify-content: end">
          <div class="d-flex">
            <v-btn
              class="ma-2"
              color="grey"
              style="min-width: 120px"
              @click="doAddEditRow()"
              >행 추가</v-btn
            >
          </div>
        </div>

        <!-- 편집 모드 -->
      </template>
    </div>
  </div>
  <!-- 스낵박 -->
  <v-snackbar v-model="snackbar.value" :timeout="snackbar.timeout">
    {{ snackbar.message }}
    <template v-slot:actions>
      <v-btn color="blue" variant="text" @click="snackbar.value = false">
        닫기
      </v-btn>
    </template>
  </v-snackbar>
  <!--// 스낵박 -->
</template>

<script setup lang="ts">
import RoomComponent from '@/views/room/room_component.vue';
import Menu from './Menu.vue';
import _ from 'lodash';
import draggable from 'vuedraggable';
import dayjs from 'dayjs';
import 'dayjs/locale/ko';
dayjs.locale('ko');

import {
  ref,
  reactive,
  computed,
  watch,
  onMounted,
  onBeforeUnmount,
} from 'vue';
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import { Consts } from '@/constants/Consts';
import { Place, RoomView, RoomViewItem, RoomState, Snackbar } from '@/types';
import { menuBiz } from '@/biz/menuBiz';
import { placeBiz } from '@/biz/placeBiz';
import { roomBiz } from '@/biz/roomBiz';
import {
  roomStateBiz,
  RoomCounter,
  RoomCounterClass,
  RoomFilter,
} from '@/biz/roomStateBiz';
import { roomSaleBiz } from '@/biz/roomSaleBiz';
import { roomViewBiz } from '@/biz/roomViewBiz';
import { roomViewItemBiz } from '@/biz/roomViewItemBiz';
import { roomReservBiz } from '@/biz/roomReservBiz';
import { controlStateBiz } from '@/biz/controlStateBiz';
import { interruptBiz } from '@/biz/interruptBiz';

import webSocketUtilInstance from '@/utils/websocket-util';
import webSocketSyncUtilInstance from '@/utils/websocket-sync-util';

// ====================================================================
// 선언
// ====================================================================
// props.
const props = defineProps(['room_view_id']);

const store = useStore();
const route = useRoute();

const user = store.getters['user'];
console.log(`***=========> Rooms - room_view_id ::`, { ...props });

// roomViewId 설정.
// const key = `${route.path}?v=${route.query.v}`;
// const roomViewId = parseInt(sessionStorage.getItem(key) || '0');

const popupLink = route.path.substring(1);
// console.log(`*** popupLink & route ::`, popupLink, route);

const roomViewId = parseInt(props.room_view_id || '0');
// console.log(`*** Rooms - roomViewId ::`, roomViewId);

// 시계.
const clock = ref<dayjs.Dayjs>(dayjs());

// 필터.
const roomFilter: RoomFilter = reactive({
  hasStay: true,
  hasRent: true,
  hasLong: true,
  hasReserved: true,
  hasEmpty: true,
});

// 객실 카운팅.
const roomCounter: RoomCounter = reactive(new RoomCounterClass());

// 편집 모드.
const isEditMode = ref<boolean>(false);
const drag = ref<boolean>(false);
const editList = ref<RoomViewItem[][]>([]);

// 스낵바.
const snackbar: Snackbar = reactive({
  value: false,
  message: null,
  timeout: 3000,
});

// =========================================================
// 초기 조회
// =========================================================
const initData = async () => {
  await interruptBiz.getAllInterrupt(store, user.place_id);
  await placeBiz.place(store, user.place_id);
  await roomViewBiz.roomView(store, roomViewId);
  await roomStateBiz.roomStateAll(store, user.place_id);
  await roomSaleBiz.roomSaleListByPlaceId(store, user.place_id);

  // 현재부터 1일 후까지 예약 조회.
  const now = dayjs();
  await roomReservBiz.roomReservs(
    store,
    user.place_id,
    now.format('YYYY-MM-DD HH:mm:ss'),
    now.add(1, 'day').format('YYYY-MM-DD HH:mm:ss')
  );

  // 객실목록 뷰 아이템 조회.
  await roomViewItemBiz.roomViewItems(
    store,
    roomViewId,
    (rvItems: RoomViewItem[]) => {
      rvItems = _.sortBy(rvItems, ['row', 'col']); // 정렬.
      resetEditList(rvItems);
    }
  );
};

// =========================================================
// COMPUTED
// =========================================================
const isTabPopup = computed<boolean>({
  get(): boolean {
    return store.getters['mainState/isTabPopup'];
  },
  set(newValue: boolean) {
    store.commit('mainState/isTabPopup', newValue);
  },
});

const tabNo = computed<number>({
  get(): number {
    return store.getters['mainState/tabNo'];
  },
  set(newValue: number) {
    store.commit('mainState/tabNo', newValue);
  },
});

// 활성화된 Room ID.
const activeRooomId = computed<number>({
  get() {
    return store.getters['roomComponent/roomId'] || 0;
  },
  set(value: number) {
    store.commit('roomComponent/roomId', value);
  },
});

const showMenu = computed<boolean>(() => menuBiz.getterShowMenu(store));
const roomStates = computed(() => roomStateBiz.getterRoomStateList(store));
const place = computed<Place>(() => placeBiz.getterPlace(store));
const roomView = computed<RoomView>(() => roomViewBiz.getterRoomView(store));
const roomViewItems = computed<RoomViewItem[]>(() => {
  const list = roomViewItemBiz.getterRoomViewItemList(store);
  return _.sortBy(list, ['row', 'col']);
});
const rowList = computed(() => {
  if (roomViewItems.value?.length === 0 || roomStates.value?.length === 0) {
    return [];
  }

  const rows = [];

  let cols = [];
  let thisRow = 0; //0-base

  rows.push(cols); // 첫번째 행 적용.

  // console.log(`*** roomViewItem: `, roomViewItems);

  for (const item of roomViewItems.value) {
    const roomState: RoomState = roomStates.value.find(
      (roomState: RoomState) => roomState.room_id === item.room_id
    );

    console.log(`*** roomViewItem: `, item, `, roomState: `, roomState);

    if (item.row === thisRow) {
      cols.push(roomState);
    } else {
      thisRow = item.row; // 새로운 행(1증가)
      cols = []; // 새로운 열
      rows.push(cols); // 새로운 열 적용.
      cols.push(roomState);
    }

    roomCounter?.total + 1;

    if (roomState.room_sale_id) {
      if (roomState.sale === 1) roomCounter?.stay + 1;
      else if (roomState.sale === 2) roomCounter?.rent + 1;
      else if (roomState.sale === 3) roomCounter?.long + 1;
      else if (roomState.sale === 5) roomCounter?.reservd + 1;
    } else {
      if (roomState.sale === 0 && roomState.key === 1)
        roomCounter?.cleaning + 1;
      else if (roomState.sale === 0 && roomState.key === 0)
        roomCounter?.empty + 1;
    }
  }
  // console.log(`*** roomViewItem rows: `, rows);

  return rows;
});

const lastEventDate = computed<string>(() => {
  const last = controlStateBiz.getterControlState(store);
  if (last) return dayjs(last.reg_date).format('YYYY-MM-DD (ddd) HH:mm:ss');
  else return '';
});

const dragOptions = computed(() => {
  return {
    animation: 200,
    group: 'description',
    disabled: false,
    ghostClass: 'ghost',
  };
});

// =========================================================
// WATCH
// =========================================================
watch(
  () => place.value,
  () => {
    console.log(`*** Room - [WATCH] place.value ::`, place.value);
  }
);

// =========================================================
// 기능
// =========================================================
/** 편집 목록 초기화. */
const resetEditList = (rvItems: RoomViewItem[] = roomViewItems.value) => {
  const rows = [];
  let cols = null;
  for (const rvItem of rvItems) {
    const editItem = roomViewItemBiz.copyOf(rvItem);
    if (editItem.col === 0) {
      cols = [];
      rows.push(cols);
    }
    cols.push(editItem);
  }
  editList.value = rows;
};

// =========================================================
// 사용자 액션
// =========================================================
const doClosePopup = () => {
  window.opener.closePopup(popupLink);
};

const doRefresh = async () => {
  console.log(`*** Rooms - doRefresh() ***`);
  await interruptBiz.delUserInterrupt(
    store,
    user.id,
    Consts.ChannelNumber.FRONT
  );
  await interruptBiz.getAllInterrupt(store, user.place_id);
  roomStateBiz.roomStateAll(store, user.place_id);
};

const log = (evt: any) => {
  window.console.log(evt);
};

const doAddEditRow = () => {
  editList.value.push([]);
};

const doEditCancel = () => {
  resetEditList();
  isEditMode.value = false;
};

const doEditReset = () => {
  resetEditList();
};

const doEditApply = () => {
  const results = [];
  let rowNo = 0;
  for (const cols of editList.value) {
    console.log(`*** ROW :: ---------------------------------------`);
    if (Array.isArray(cols)) {
      let colNo = 0;
      for (const editItem of cols) {
        console.log(
          `*** item BEFORE - row: ${editItem.row}, col: ${editItem.col} :: ${editItem.room_name} (${editItem.room_id})`
        );
        editItem.row = rowNo;
        editItem.col = colNo++;
        results.push(editItem); // 결과 수집.
        console.log(
          `*** item AFTER  - row: ${editItem.row}, col: ${editItem.col} :: ${editItem.room_name} (${editItem.room_id})`
        );
      }
      rowNo++;
    }
  }

  // 사이즈 직접입력 시
  roomViewBiz.updateRoomView(store, roomView.value);

  if (results.length > 0) {
    roomViewItemBiz.changeRoomViewAllItems(
      store,
      roomView.value,
      results,
      (ret: boolean) => {
        snackbar.message = ret
          ? '객실 구성이 변경되었습니다.'
          : '객실 구성 변경이 실패했습니다.';
        snackbar.value = true;
      }
    );
  }
};

// =========================================================
// 정보
// =========================================================
let clockID = null;
const webSocket = new webSocketUtilInstance(store, computed);
const WebSocketSyncUtil = new webSocketSyncUtilInstance(store, computed);

onMounted(() => {
  console.log(`*** Rooms - onMounted() ***`);

  (async () => {
    await initData();
  })();

  clockID = setInterval(() => {
    clock.value = dayjs();
  }, 1000);

  // 웹소켓 Store 설정.
  webSocket.connect();
  WebSocketSyncUtil.connect();

  doRefresh();
});

onBeforeUnmount(() => {
  console.log(`*** Rooms - onBeforeUnmount() ***`);
  clearInterval(clockID);
  // 페이지 종료시 인터럽트 삭제
  interruptBiz.delUserInterrupt(store, user.id, Consts.ChannelNumber.FRONT);
  webSocket.disconnect();
  WebSocketSyncUtil.disconnect();
});
</script>

<style scoped>
.room-list {
  list-style: none;
}
</style>

<style scoped>
.moving {
  border: 4px solid #00e676;
}

.flip-list-move {
  transition: transform 0.5s;
}

.no-move {
  transition: transform 0s;
}

.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}

.list-group {
  min-height: 20px;
}

.list-group-item {
  cursor: move;
  border: 4px solid #00e676;
}

.list-group-item i {
  cursor: pointer;
}
</style>
