<template>
  <div id="wrapper-room">
    <div id="wrapper-header">
      <header>
        <div class="l">
          <h1 class="logo">
            <img src="@/assets/images/logo.svg" alt="CQI 로고" />
          </h1>
          <v-divider vertical />
          <div class="tit"><em>*</em>객실화면 01</div>
          <v-divider vertical />
          <div class="txt">모텔/호텔명 표시</div>
          <v-text-field
            append-inner-icon="mdi-magnify"
            label="호실, 유형을 입력하세요."
            variant="solo"
            hide-details
            single-line
          ></v-text-field>
        </div>
        <div class="r">
          <ul class="number">
            <li>
              <v-btn flat icon><em>버튼1</em></v-btn>
            </li>
            <li>
              <v-btn flat icon><em>버튼2</em></v-btn>
            </li>
            <li>
              <v-btn flat icon><em>버튼3</em></v-btn>
            </li>
            <li>
              <v-btn flat icon><em>버튼4</em></v-btn>
            </li>
            <li>
              <v-btn flat icon @click="doClosePopup()"
                ><em class="close">닫기</em></v-btn
              >
            </li>
          </ul>
        </div>
      </header>
    </div>

    <div class="room-area">
      <!-- room 레이아웃 -->
      <div
        class="box-container"
        :style="{
          gridTemplateColumns: `repeat(auto-fill, minmax(${minmaxLevel}%, auto))`,
        }"
      >
        <div
          v-for="(room, index) in roomLists"
          :key="index"
          :style="{ zoom: zoomLevel }"
          class="zoom-box"
          :class="{ on: room?.roomOn }"
          @click="infoPopup(index, room)"
          @contextmenu.prevent="showGoMenu(index, $event)"
        >
          <v-card :class="room.roomType">
            <v-card-title>
              <span>{{ room.roomNumber }}호</span>
              <span>{{ room.roomName }}룸</span>
            </v-card-title>

            <!-- 예약 제외 -->
            <template v-if="room.roomType !== 'type4'">
              <v-slider
                v-if="room.roomOn"
                :model-value="room.roomTemp"
                max="50"
                readonly
                hide-details
                thumb-size="0"
                track-size="2"
                track-color="#ffffff"
                track-fill-color="#fc6060"
              />
              <v-card-text>
                <v-icon
                  class="status-power"
                  :class="{ off: room?.roomPowerOff }"
                ></v-icon>
                <v-icon
                  class="status-connect"
                  :class="{ off: room?.roomConnectOff }"
                ></v-icon>
                <v-spacer />
                <span class="status-temp">{{ room.roomTemp }}°C</span>
              </v-card-text>
            </template>

            <v-card-text v-else>
              <span
                class="info-left"
                :class="{
                  info1: room.roomTypeText === '숙박',
                  info2: room.roomTypeText === '대실',
                  info3: room.roomTypeText === '장기',
                }"
                >{{ room.roomTypeText }}</span
              >
              <v-spacer />
              <div class="info-right">
                <p>{{ room.date }}</p>
                <p><span>예약시간</span> {{ room.time }}</p>
              </div>
            </v-card-text>

            <!-- 알림바 -->
            <div
              v-if="room.roomNotice"
              class="room-status-box"
              :class="{
                clean1: room.roomNoticeText === '청소중',
                clean2: room.roomNoticeText === '청소완료',
                clean3: room.roomNoticeText === '청소요청',
              }"
            >
              <img
                v-if="room.roomNoiceIcon"
                :src="`/src/assets/images/icon-${room.roomNoiceIcon}.svg`"
              />
              {{ room.roomNoticeText }}
            </div>
          </v-card>
        </div>
      </div>
    </div>
  </div>

  <!-- 객실 정보 팝업 -->
  <v-dialog v-model="roomPopup" class="room-info-popup" max-width="463">
    <v-card>
      <v-card-title
        >{{ roomTypeData }} / {{ roomData?.roomNumber }}호 /
        {{ roomData?.roomName }}룸</v-card-title
      >
      <v-card-text>
        <div class="d-flex">
          <dl>
            <dt>입실</dt>
            <dd>15:00</dd>
          </dl>
          <dl>
            <dt>퇴실</dt>
            <dd>11:30</dd>
          </dl>
        </div>
        <div class="d-flex">
          <dl>
            <dt>이용시간</dt>
            <dd class="point1">10시간 30분</dd>
          </dl>
          <dl>
            <dt>초과시간</dt>
            <dd class="point2">00:00</dd>
          </dl>
        </div>
        <div class="d-flex">
          <dl>
            <dt>전원</dt>
            <dd class="point1">정상</dd>
          </dl>
          <dl>
            <dt>통신</dt>
            <dd class="point2">점검</dd>
          </dl>
        </div>
        <div class="d-flex">
          <dl>
            <dt>직원공지</dt>
            <dd>침대 커버 교체바랍니다. (텍스트 박스/직접입력)</dd>
          </dl>
        </div>
        <div class="d-flex">
          <dl>
            <dt>고객요청</dt>
            <dd>아침 8시 기상 알람 요청 (텍스트 박스/직접입력)</dd>
          </dl>
        </div>
      </v-card-text>
      <v-card-actions>
        <v-btn icon @click="roomPopup = false">
          <img
            src="@/assets/images/icon-header-r5.svg"
            alt="객실 정보 팝업 닫기"
          />
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <!-- 우클릭 메뉴 -->
  <v-menu
    v-model="menuVisible"
    class="right-click-menu"
    :close-on-content-click="false"
    :style="{
      top: `${menuPosition.top}px`,
      left: `${menuPosition.left}px`,
    }"
  >
    <div class="right-click-list">
      <div class="tit">바로가기</div>
      <v-btn icon class="right-click-close" @click="menuVisible = false"
        ><img src="@/assets/images/icon-header-r5.svg" alt="바로가기 닫기"
      /></v-btn>
      <ul>
        <li><router-link to="#">예약현황</router-link></li>
        <li><router-link to="#">매출이력</router-link></li>
        <li><router-link to="#">객실이력</router-link></li>
      </ul>
    </div>
  </v-menu>

  <!-- 퀵 메뉴바 -->
  <div class="quick-menu-area">
    <v-hover v-slot="{ isHovering, props }">
      <div v-if="!isHovering" class="quick-btn"></div>
      <div v-bind="props" class="quick-hovering">
        <v-expand-transition>
          <div v-if="isHovering" class="quick-menu" id="quick-menu-bar">
            <div class="quick-menu-list">
              <v-btn :class="{ on: voiceToggle }" @click="voiceControl">
                <img src="@/assets/images/icon-quick-menu1.svg" alt="" />
                음성
              </v-btn>
              <v-btn icon @click="increaseZoom"
                ><img src="@/assets/images/icon-quick-menu2.svg" alt="확대"
              /></v-btn>
              <v-btn icon @click="decreaseZoom"
                ><img src="@/assets/images/icon-quick-menu3.svg" alt="축소"
              /></v-btn>
              <v-btn icon
                ><img
                  src="@/assets/images/icon-quick-menu4.svg"
                  alt="퀵 설정"
                />
                <!-- 퀵 설정 레이어 팝업 -->
                <v-menu
                  class="ly-set"
                  activator="parent"
                  attach="#quick-menu-bar"
                  :close-on-content-click="false"
                  :offset="[20, 164]"
                >
                  <v-card class="set-quick">
                    <v-card-title>퀵 설정</v-card-title>
                    <v-card-text>
                      <div class="group-box">
                        <v-card-subtitle>숨김/보기 설정</v-card-subtitle>
                        <div class="group-checkbox">
                          <v-checkbox label="숙박" hide-details />
                          <v-checkbox label="대실" hide-details />
                          <v-checkbox label="장기" hide-details />
                          <v-checkbox label="예약" hide-details />
                          <v-checkbox label="청소" hide-details />
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="group-box">
                          <v-card-subtitle>이벤트 설정</v-card-subtitle>
                          <v-radio-group v-model="setEvent" hide-details>
                            <v-radio label="전체" value="radio-1"></v-radio>
                            <v-radio label="중요" value="radio-2"></v-radio>
                            <v-radio label="간단히" value="radio-3"></v-radio>
                          </v-radio-group>
                        </div>
                        <div class="group-box">
                          <v-card-subtitle>표시 설정</v-card-subtitle>
                          <v-radio-group v-model="setList" hide-details>
                            <v-radio
                              label="객실명 순"
                              value="radio-1"
                            ></v-radio>
                            <v-radio label="입실 순" value="radio-2"></v-radio>
                            <v-radio label="층별" value="radio-3"></v-radio>
                          </v-radio-group>
                        </div>
                      </div>
                    </v-card-text>
                  </v-card>
                </v-menu>
              </v-btn>
              <v-btn icon
                ><img
                  src="@/assets/images/icon-quick-menu5.svg"
                  alt="공통 온도 조절"
                />
                <!-- 공통 온도 조절 레이어 팝업 -->
                <v-menu
                  class="ly-set"
                  activator="parent"
                  attach="#quick-menu-bar"
                  :close-on-content-click="false"
                  :offset="[20, 65]"
                >
                  <v-card class="set-temp">
                    <v-card-title>공통 온도조절</v-card-title>
                    <v-card-text class="d-flex">
                      <v-switch label="전원" hide-details></v-switch>
                      <v-slider
                        label="냉방"
                        hide-details
                        direction="vertical"
                        track-size="26"
                        thumb-size="26"
                        track-color="#e7eced"
                        track-fill-color="#c3ff4e"
                      ></v-slider>
                      <v-slider
                        label="난방"
                        hide-details
                        direction="vertical"
                        track-size="26"
                        thumb-size="26"
                        track-color="#e7eced"
                        track-fill-color="#ff4e19"
                      ></v-slider>
                      <v-switch label="통신" hide-details></v-switch>
                    </v-card-text>
                  </v-card>
                </v-menu>
              </v-btn>
              <v-btn icon @click="true"
                ><img
                  src="@/assets/images/icon-quick-menu6.svg"
                  alt="공실 ON/OFF"
              /></v-btn>
            </div>
          </div>
        </v-expand-transition>
      </div>
    </v-hover>
  </div>

  <!-- 스낵박 -->
  <v-snackbar v-model="snackbar.value" :timeout="snackbar.timeout">
    {{ snackbar.message }}
    <template v-slot:actions>
      <v-btn color="blue" variant="text" @click="snackbar.value = false">
        닫기
      </v-btn>
    </template>
  </v-snackbar>
  <!--// 스낵박 -->
</template>

<style lang="scss" scoped></style>

<script setup lang="ts">
import RoomComponent from '@/views/room/room_component.vue';
import Menu from './Menu.vue';
import _ from 'lodash';
import draggable from 'vuedraggable';
import dayjs from 'dayjs';
import 'dayjs/locale/ko';
dayjs.locale('ko');

import {
  ref,
  reactive,
  computed,
  watch,
  onMounted,
  onBeforeUnmount,
} from 'vue';
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import { Consts } from '@/constants/Consts';
import { Place, RoomView, RoomViewItem, RoomState, Snackbar } from '@/types';
import { menuBiz } from '@/biz/menuBiz';
import { placeBiz } from '@/biz/placeBiz';
import { roomBiz } from '@/biz/roomBiz';
import {
  roomStateBiz,
  RoomCounter,
  RoomCounterClass,
  RoomFilter,
} from '@/biz/roomStateBiz';
import { roomSaleBiz } from '@/biz/roomSaleBiz';
import { roomViewBiz } from '@/biz/roomViewBiz';
import { roomViewItemBiz } from '@/biz/roomViewItemBiz';
import { roomReservBiz } from '@/biz/roomReservBiz';
import { controlStateBiz } from '@/biz/controlStateBiz';
import { interruptBiz } from '@/biz/interruptBiz';

//---  객실 리뉴얼 스크립트 부분

// RoomType 인터페이스 정의
interface RoomType {
  roomOn: boolean;
  roomType: string;
  roomNumber: string;
  roomName: string;
  roomPowerOff: boolean;
  roomConnectOff: boolean;
  roomTemp: number;
  roomNotice: boolean;
  roomNoticeText: string;
  roomNoiceIcon: string;
  roomTypeText: string;
  date: string;
  time: string;
}

// 여러 박스를 위한 데이터
// 객실 타입 임시 정의 - null :  공실, type1 : 숙박, type2 : 대실, type3 : 장기, type4 : 예약, type5 : 청소

const roomLists = ref<RoomType[]>([
  {
    roomOn: true,
    roomType: 'type1',
    roomNumber: '101',
    roomName: '일반',
    roomPowerOff: false,
    roomConnectOff: false,
    roomTemp: 20,
    roomNotice: true,
    roomNoticeText: '도난방지',
    roomNoiceIcon: 'room-notice1',
    roomTypeText: '',
    date: '',
    time: '',
  },
  {
    roomOn: true,
    roomType: 'type2',
    roomNumber: '102',
    roomName: 'VIP',
    roomPowerOff: false,
    roomConnectOff: false,
    roomTemp: 20,
    roomNotice: true,
    roomNoticeText: '102호 도어 닫힘',
    roomNoiceIcon: 'room-notice2',
    roomTypeText: '',
    date: '',
    time: '',
  },
  {
    roomOn: true,
    roomType: 'type3',
    roomNumber: '103',
    roomName: '스위트',
    roomPowerOff: false,
    roomConnectOff: false,
    roomTemp: 20,
    roomNotice: true,
    roomNoticeText: '외출중',
    roomNoiceIcon: 'room-notice3',
    roomTypeText: '',
    date: '',
    time: '',
  },
  {
    roomOn: true,
    roomType: 'type4',
    roomNumber: '104',
    roomName: '일반',
    roomPowerOff: false,
    roomConnectOff: false,
    roomTemp: 20,
    roomNotice: false,
    roomNoticeText: '',
    roomNoiceIcon: '',
    roomTypeText: '숙박',
    date: '2024-12-24',
    time: '15:00',
  },
  {
    roomOn: true,
    roomType: 'type5',
    roomNumber: '105',
    roomName: 'VIP',
    roomPowerOff: false,
    roomConnectOff: false,
    roomTemp: 20,
    roomNotice: true,
    roomNoticeText: '청소중',
    roomNoiceIcon: '',
    roomTypeText: '',
    date: '',
    time: '',
  },
  {
    roomOn: true,
    roomType: 'type1',
    roomNumber: '106',
    roomName: '스위트',
    roomPowerOff: false,
    roomConnectOff: false,
    roomTemp: 20,
    roomNotice: true,
    roomNoticeText: '알람요청',
    roomNoiceIcon: 'room-notice4',
    roomTypeText: '',
    date: '',
    time: '',
  },
  {
    roomOn: true,
    roomType: 'type4',
    roomNumber: '107',
    roomName: '일반',
    roomPowerOff: false,
    roomConnectOff: false,
    roomTemp: 20,
    roomNotice: false,
    roomNoticeText: '',
    roomNoiceIcon: '',
    roomTypeText: '대실',
    date: '2024-12-31',
    time: '00:00',
  },
  {
    roomOn: true,
    roomType: 'type4',
    roomNumber: '108',
    roomName: 'VIP',
    roomPowerOff: false,
    roomConnectOff: false,
    roomTemp: 20,
    roomNotice: false,
    roomNoticeText: '',
    roomNoiceIcon: '',
    roomTypeText: '장기',
    date: '2024-12-31',
    time: '00:00',
  },
  {
    roomOn: true,
    roomType: 'type5',
    roomNumber: '109',
    roomName: '스위트',
    roomPowerOff: false,
    roomConnectOff: false,
    roomTemp: 20,
    roomNotice: true,
    roomNoticeText: '청소완료',
    roomNoiceIcon: '',
    roomTypeText: '',
    date: '',
    time: '',
  },
  {
    roomOn: true,
    roomType: 'type5',
    roomNumber: '110',
    roomName: '일반',
    roomPowerOff: false,
    roomConnectOff: false,
    roomTemp: 20,
    roomNotice: true,
    roomNoticeText: '청소요청',
    roomNoiceIcon: '',
    roomTypeText: '',
    date: '',
    time: '',
  },
  {
    roomOn: false,
    roomType: '',
    roomNumber: '111',
    roomName: 'VIP',
    roomPowerOff: false,
    roomConnectOff: false,
    roomTemp: 20,
    roomNotice: false,
    roomNoticeText: '',
    roomNoiceIcon: '',
    roomTypeText: '',
    date: '',
    time: '',
  },
  {
    roomOn: true,
    roomType: 'type1',
    roomNumber: '201',
    roomName: '스위트',
    roomPowerOff: true,
    roomConnectOff: true,
    roomTemp: 20,
    roomNotice: false,
    roomNoticeText: '',
    roomNoiceIcon: '',
    roomTypeText: '',
    date: '',
    time: '',
  },
  {
    roomOn: false,
    roomType: '',
    roomNumber: '202',
    roomName: '일반',
    roomPowerOff: false,
    roomConnectOff: false,
    roomTemp: 20,
    roomNotice: false,
    roomNoticeText: '',
    roomNoiceIcon: '',
    roomTypeText: '',
    date: '',
    time: '',
  },
  {
    roomOn: false,
    roomType: '',
    roomNumber: '203',
    roomName: 'VIP',
    roomPowerOff: false,
    roomConnectOff: false,
    roomTemp: 20,
    roomNotice: false,
    roomNoticeText: '',
    roomNoiceIcon: '',
    roomTypeText: '',
    date: '',
    time: '',
  },
  {
    roomOn: false,
    roomType: '',
    roomNumber: '204',
    roomName: '스위트',
    roomPowerOff: false,
    roomConnectOff: false,
    roomTemp: 20,
    roomNotice: false,
    roomNoticeText: '',
    roomNoiceIcon: '',
    roomTypeText: '',
    date: '',
    time: '',
  },
  {
    roomOn: false,
    roomType: '',
    roomNumber: '205',
    roomName: '일반',
    roomPowerOff: false,
    roomConnectOff: false,
    roomTemp: 20,
    roomNotice: false,
    roomNoticeText: '',
    roomNoiceIcon: '',
    roomTypeText: '',
    date: '',
    time: '',
  },
]);

// 음성 설정
const voiceToggle = ref(false);

const voiceControl = () => {
  voiceToggle.value = !voiceToggle.value;
};

// 줌 레벨 (카드 크기 조절)
const zoomLevel = ref(1);
const minmaxLevel = ref(8);

// 브라우저 창 크기에 따라 minmaxLevel 설정
const setInitialMinmaxLevel = () => {
  const widthPercentage = (window.innerWidth / window.screen.width) * 100;

  // 100%에서 -10%씩 minmaxLevel 조정
  if (widthPercentage <= 100 && widthPercentage > 90) {
    minmaxLevel.value = 8;
  } else if (widthPercentage <= 90 && widthPercentage > 80) {
    minmaxLevel.value = 10;
  } else if (widthPercentage <= 80 && widthPercentage > 70) {
    minmaxLevel.value = 12;
  } else if (widthPercentage <= 70 && widthPercentage > 60) {
    minmaxLevel.value = 17;
  } else if (widthPercentage <= 60 && widthPercentage > 50) {
    minmaxLevel.value = 22;
  } else if (widthPercentage <= 50 && widthPercentage > 40) {
    minmaxLevel.value = 27;
  } else if (widthPercentage <= 40) {
    minmaxLevel.value = 32;
  }

  zoomLevel.value = 1;
};

// Zoom In/Out 함수
const increaseZoom = () => {
  if (zoomLevel.value < 2) {
    zoomLevel.value += 0.1; // 최대 2배로 확대
    minmaxLevel.value += 1; // 최대 20%
  }
};

const decreaseZoom = () => {
  if (zoomLevel.value > 0.5) {
    zoomLevel.value -= 0.1; // 최소 0.5배로 축소
    minmaxLevel.value -= 1; // 최소 5%
  }
};

// 창 크기가 변경될 때마다 zoomLevel 업데이트
onMounted(() => {
  setInitialMinmaxLevel();
  window.addEventListener('resize', setInitialMinmaxLevel);
});

const setEvent = ref(null);
const setList = ref(null);

// 우클릭 시 메뉴 표시
const menuVisible = ref(false);
const menuPosition = ref({ top: 0, left: 0 });
const activeBox = ref<number | null>(null);

const showGoMenu = (index: number, event: MouseEvent) => {
  activeBox.value = index;
  menuPosition.value = { top: event.clientY, left: event.clientX };
  menuVisible.value = true;
};

// 객실별 팝업
const roomPopup = ref(false);
const roomData = ref<RoomType | null>(null);

const infoPopup = (index: number, room: RoomType) => {
  console.log(room.roomNumber + '객실 정보 팝업 열림');
  roomData.value = room; // room 정보를 roomData에 할당
  roomPopup.value = true;
};

// roomType에 따른 문자열을 계산하는 computed 속성
const roomTypeData = computed<string>(() => {
  switch (roomData.value?.roomType) {
    case 'type1':
      return '숙박';
    case 'type2':
      return '대실';
    case 'type3':
      return '장기';
    case 'type4':
      return '예약';
    case 'type5':
      return '청소';
    default:
      return '공실';
  }
});

// 객실 리뉴얼 스크립트 부분 ---

// ====================================================================
// 선언
// ====================================================================
// props.
const props = defineProps(['room_view_id']);

const store = useStore();
const route = useRoute();

const user = store.getters['user'];
console.log(`*** Rooms - user ::`, user);

// roomViewId 설정.
// const key = `${route.path}?v=${route.query.v}`;
// const roomViewId = parseInt(sessionStorage.getItem(key) || '0');

const popupLink = route.path.substring(1);
// console.log(`*** popupLink & route ::`, popupLink, route);

const roomViewId = parseInt(props.room_view_id || '0');
// console.log(`*** Rooms - roomViewId ::`, roomViewId);

// 시계.
const clock = ref<dayjs.Dayjs>(dayjs());

// 필터.
const roomFilter: RoomFilter = reactive({
  hasStay: true,
  hasRent: true,
  hasLong: true,
  hasReserved: true,
  hasEmpty: true,
});

// 객실 카운팅.
const roomCounter: RoomCounter = reactive(new RoomCounterClass());

// 편집 모드.
const isEditMode = ref<boolean>(false);
const drag = ref<boolean>(false);
const editList = ref<RoomViewItem[][]>([]);

// 스낵바.
const snackbar: Snackbar = reactive({
  value: false,
  message: null,
  timeout: 3000,
});

// =========================================================
// 초기 조회
// =========================================================
const initData = async () => {
  await interruptBiz.getAllInterrupt(store, user.place_id);
  await placeBiz.place(store, user.place_id);
  await roomViewBiz.roomView(store, roomViewId);
  await roomStateBiz.roomStateAll(store, user.place_id);
  await roomSaleBiz.roomSaleListByPlaceId(store, user.place_id);

  // 현재부터 1일 후까지 예약 조회.
  const now = dayjs();
  await roomReservBiz.roomReservs(
    store,
    user.place_id,
    now.format('YYYY-MM-DD HH:mm:ss'),
    now.add(1, 'day').format('YYYY-MM-DD HH:mm:ss')
  );

  // 객실목록 뷰 아이템 조회.
  await roomViewItemBiz.roomViewItems(
    store,
    roomViewId,
    (rvItems: RoomViewItem[]) => {
      rvItems = _.sortBy(rvItems, ['row', 'col']); // 정렬.
      resetEditList(rvItems);
    }
  );
};

// =========================================================
// COMPUTED
// =========================================================
const isTabPopup = computed<boolean>({
  get(): boolean {
    return store.getters['mainState/isTabPopup'];
  },
  set(newValue: boolean) {
    store.commit('mainState/isTabPopup', newValue);
  },
});

const tabNo = computed<number>({
  get(): number {
    return store.getters['mainState/tabNo'];
  },
  set(newValue: number) {
    store.commit('mainState/tabNo', newValue);
  },
});

// 활성화된 Room ID.
const activeRooomId = computed<number>({
  get() {
    return store.getters['roomComponent/roomId'] || 0;
  },
  set(value: number) {
    store.commit('roomComponent/roomId', value);
  },
});

const showMenu = computed<boolean>(() => menuBiz.getterShowMenu(store));

const roomStates = computed(() => roomStateBiz.getterRoomStateList(store));

const place = computed<Place>(() => placeBiz.getterPlace(store));

const roomView = computed<RoomView>(() => roomViewBiz.getterRoomView(store));

const roomViewItems = computed<RoomViewItem[]>(() => {
  const list = roomViewItemBiz.getterRoomViewItemList(store);
  return _.sortBy(list, ['row', 'col']);
});

const rowList = computed(() => {
  if (roomViewItems.value?.length === 0 || roomStates.value?.length === 0) {
    return [];
  }

  const rows = [];
  let cols = [];
  let thisRow = 0; //0-base

  rows.push(cols); // 첫번째 행 적용.
  for (const item of roomViewItems.value) {
    const roomState = roomStates.value.find(
      (roomState: RoomState) => roomState.room_id === item.room_id
    );
    // console.log(`*** roomViewItem: `, item, `, roomState: `, roomState);
    if (item.row === thisRow) {
      cols.push(roomState);
    } else {
      thisRow = item.row; // 새로운 행(1증가)
      cols = []; // 새로운 열
      rows.push(cols); // 새로운 열 적용.
      cols.push(roomState);
    }

    roomCounter.total++;
    if (roomState.sale === 1) roomCounter.stay++;
    else if (roomState.sale === 2) roomCounter.rent++;
    else if (roomState.sale === 3) roomCounter.long++;
    else if (roomState.sale === 5) roomCounter.reservd++;
    else if (roomState.sale === 0 && roomState.key === 3)
      roomCounter.cleaning++;
    else if (roomState.sale === 0 && roomState.key === 0) roomCounter.empty++;
  }
  return rows;
});

const lastEventDate = computed<string>(() => {
  const last = controlStateBiz.getterControlState(store);
  if (last) return dayjs(last.reg_date).format('YYYY-MM-DD (ddd) HH:mm:ss');
  else return '';
});

const dragOptions = computed(() => {
  return {
    animation: 200,
    group: 'description',
    disabled: false,
    ghostClass: 'ghost',
  };
});

// =========================================================
// WATCH
// =========================================================
watch(
  () => place.value,
  () => {
    console.log(`*** Room - [WATCH] place.value ::`, place.value);
  }
);

// =========================================================
// 기능
// =========================================================
/** 편집 목록 초기화. */
const resetEditList = (rvItems: RoomViewItem[] = roomViewItems.value) => {
  const rows = [];
  let cols = null;
  for (const rvItem of rvItems) {
    const editItem = roomViewItemBiz.copyOf(rvItem);
    if (editItem.col === 0) {
      cols = [];
      rows.push(cols);
    }
    cols.push(editItem);
  }
  editList.value = rows;
};

// =========================================================
// 사용자 액션
// =========================================================
const doClosePopup = () => {
  window.opener.closePopup(popupLink);
};

const doRefresh = async () => {
  console.log(`*** Rooms - doRefresh() ***`);
  await interruptBiz.delUserInterrupt(
    store,
    user.id,
    Consts.ChannelNumber.FRONT
  );
  await interruptBiz.getAllInterrupt(store, user.place_id);
  roomStateBiz.roomStateAll(store, user.place_id);
};

const log = (evt: any) => {
  window.console.log(evt);
};

const doAddEditRow = () => {
  editList.value.push([]);
};

const doEditCancel = () => {
  resetEditList();
  isEditMode.value = false;
};

const doEditReset = () => {
  resetEditList();
};

const doEditApply = () => {
  const results = [];
  let rowNo = 0;
  for (const cols of editList.value) {
    console.log(`*** ROW :: ---------------------------------------`);
    if (Array.isArray(cols)) {
      let colNo = 0;
      for (const editItem of cols) {
        console.log(
          `*** item BEFORE - row: ${editItem.row}, col: ${editItem.col} :: ${editItem.room_name} (${editItem.room_id})`
        );
        editItem.row = rowNo;
        editItem.col = colNo++;
        results.push(editItem); // 결과 수집.
        console.log(
          `*** item AFTER  - row: ${editItem.row}, col: ${editItem.col} :: ${editItem.room_name} (${editItem.room_id})`
        );
      }
      rowNo++;
    }
  }

  if (results.length > 0) {
    roomViewItemBiz.changeRoomViewAllItems(
      store,
      roomView.value,
      results,
      (ret: boolean) => {
        snackbar.message = ret
          ? '객실 구성이 변경되었습니다.'
          : '객실 구성 변경이 실패했습니다.';
        snackbar.value = true;
      }
    );
  }
};

// =========================================================
// 정보
// =========================================================
let clockID = null;

onMounted(() => {
  console.log(`*** Rooms - onMounted() ***`);

  (async () => {
    await initData();
  })();

  clockID = setInterval(() => {
    clock.value = dayjs();
  }, 1000);
});

onBeforeUnmount(() => {
  console.log(`*** Rooms - onBeforeUnmount() ***`);
  clearInterval(clockID);
});
</script>
