<template>
  <v-select
    :items="['foo', 'bar']"
    label="select"
  ></v-select>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import { PopupParam } from '@/types';

// =========================================================
// 타입
// =========================================================

// =========================================================
// 선언
// =========================================================
const store = useStore();
const route = useRoute();

const user = store.getters['user'];
const popupLink = route.path.substring(1); // 앞에 '/'' 제거


// =========================================================
// 초기 조회
// =========================================================


// =========================================================
// COMPUTED
// =========================================================


// =========================================================
// WATCH
// =========================================================


// =========================================================
// 기능
// =========================================================


// =========================================================
// 사용자 액션
// =========================================================
const doClosePopup = () => {
  window.opener.closePopup(popupLink);
};


// =========================================================
// 정보 & onMounted
// =========================================================
</script>
