<template>
  <div class="home">
    <DashBorder />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import DashBorder from "./dashborder/index.vue";

export default defineComponent({
  name: "HomeView",
  components: {
    DashBorder,
  },
  setup() {
    document.querySelector('html').className += ' main_dashborder';
  },
});
</script>