<template>
  <fade-transition>
    <!-- loader -->
    <div v-if="show" class="container-loading">
      <square-spinner v-if="type === 'square'" :height="height" :width="width" :color="color"></square-spinner>
      <cube-spinner v-if="type === 'cube'" :height="height" :width="width" :color="color"></cube-spinner>
      <circle-spinner v-if="type === 'circle'" :height="height" :width="width" :color="color"></circle-spinner>
      <bounce-spinner v-if="type === 'bounce'" :height="height" :width="width" :color="color"></bounce-spinner>
      <fold-spinner v-if="type === 'fold'" :height="height" :width="width" :color="color"></fold-spinner>
      <pulse-spinner v-if="type === 'pulse'" :height="height" :width="width" :color="color"></pulse-spinner>
      <tile-spinner v-if="type === 'tile'" :height="height" :width="width" :color="color"></tile-spinner>
    </div>
  </fade-transition>
</template>
<script>
  import { FadeTransition } from 'vue2-transitions';

  import { SquareSpinner, CubeSpinner, CircleSpinner, BounceSpinner, FoldSpinner, PulseSpinner, TileSpinner } from 'vue-spinners';

  export default {
    name: 'BaseLoader',
    components: {
      FadeTransition,
      SquareSpinner,
      CubeSpinner,
      CircleSpinner,
      BounceSpinner,
      FoldSpinner,
      PulseSpinner,
      TileSpinner,
    },
    props: {
      show: {
        type: Boolean,
        default: false,
        description: 'When contents loading',
      },
      type: {
        type: String,
        default: 'circle',
        description: 'Vue spinners type',
      },
      height: {
        type: String,
        default: '40',
        description: 'Loader height',
      },
      width: {
        type: String,
        default: '40',
        description: 'Loader width',
      },
      color: {
        type: String,
        default: '#333',
        description: 'Loader color',
      },
    },
    data() {
      return {};
    },
    methods: {
      dismissAlert() {
        this.visible = false;
      },
    },
  };
</script>

<style lang="scss">
  .container-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);

    img {
      width: 2rem;
      height: 2rem;
    }
  }
</style>
