<template>
  <div>
    <div class="table-top">
      <div>
        <v-select
          outline
          class="row-size"
          v-model="size"
          :items="rows"
          placeholder="목록 갯수 선택"
          item-value="value"
          item-text="text"
          multi-line
          color="#e14eca"
          @change="(value) => changeRowSize(value)"
        />
      </div>
      <div v-if="option && option.items">
        <v-select
          outline
          class="option"
          :items="option.items"
          v-model="option.model"
          placeholder="예약상태 선택"
          :item-value="option.item_value"
          :item-text="option.item_text"
          multi-line
          color="#e14eca"
          append-icon="keyboard_arrow_down"
          @change="(value) => option.chenge(value)"
        />
      </div>
      <div v-if="option && option.places">
        <v-select
          outline
          class="option"
          :items="option.places"
          v-model="option.model"
          placeholder="업소 선택"
          :item-value="option.item_value"
          :item-text="option.item_text"
          multi-line
          color="#e14eca"
          append-icon="keyboard_arrow_down"
          @change="(value) => option.chenge(value)"
        />
      </div>
      <div>
        <v-autocomplete
          :loading="loading"
          :items="searchResult"
          :search-input.sync="search"
          placeholder="검색어를 입력해 주세요."
          flat
          dark
          hide-no-data
          clearable
          hide-details
          solo-inverted
          class="row-search"
        >
          <template slot="append">
            <v-icon>search</v-icon>
          </template>
        </v-autocomplete>
      </div>
    </div>
    <table class="table tablesorter" :class="tableClass">
      <thead :class="theadClasses">
        <tr>
          <slot name="columns">
            <th v-for="(column, index) in columns" :key="index" @click="clickColumn(column)">
              {{ column }}
              <v-icon class="list-icon pl-1" :color="orders[index].desc === 'desc' ? 'blue' : 'white'">{{ orders[index].desc === "desc" ? "fas fa-caret-up" : "fas fa-caret-down" }} </v-icon>
            </th>
          </slot>
        </tr>
      </thead>
      <tbody :class="tbodyClasses">
        <tr v-for="(item, index) in list" :key="index">
          <slot :row="item">
            <td v-for="(column, index) in columns" :key="index" v-show="hasValue(item, column)" :class="{ center: itemValue(item, column, 'click') }">
              <span v-if="itemValue(item, column, 'click') && item[column].type">
                <base-button :type="item[column].type" size="sm" @click="(evt) => itemValue(item, column, 'click')(itemValue(item, 'id', 'data'))">{{ itemValue(item, column, "data") }}</base-button>
              </span>
              <span v-else>
                <span v-if="itemValue(item, column, 'click')"
                  ><a href="javascript:void(0);" class="text-success" @click="(evt) => itemValue(item, column, 'click')(itemValue(item, 'id', 'data'))">{{ itemValue(item, column, "data") }}</a></span
                >
                <span v-else :class="{ money: itemValue(item, column, 'money') }">{{ itemValue(item, column, "data") }}</span>
              </span>
            </td>
          </slot>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { getSessionStroge, setSessionStroge } from "@/constants/constants";
import { mapActions, mapGetters, mapMutations } from "vuex";
import format from "@/utils/format-util";
import _ from "lodash";

export default {
  name: "base-table",
  props: {
    resize: {
      type: Function,
      default: () => null,
      description: "page row connt set",
    },
    columns: {
      type: Array,
      default: () => [],
      description: "Table columns",
    },
    data: {
      type: Array,
      default: () => [],
      description: "Table data",
    },
    buttons: {
      type: Array,
      default: () => [],
      description: "Table buttons",
    },
    order: {
      type: Function,
      default: () => null,
      description: "Table order callback fnc.",
    },
    type: {
      type: String, // striped | hover
      default: "",
      description: "Whether table is striped or hover type",
    },
    theadClasses: {
      type: String,
      default: "",
      description: "<thead> css classes",
    },
    tbodyClasses: {
      type: String,
      default: "",
      description: "<tbody> css classes",
    },
    option: {
      type: Object,
      default: () => null,
      description: "Table filter option",
    },
  },
  data() {
    return {
      size: getSessionStroge("rowSize"),
      orders: [],
      list: [],
      rows: [
        { value: 5, text: "Row 5" },
        { value: 10, text: "Row 10" },
        { value: 20, text: "Row 20" },
        { value: 30, text: "Row 30" },
        { value: 50, text: "Row 50" },
        { value: 100, text: "Row 100" },
        { value: 500, text: "Row 500" },
      ],
      loading: false,
      searchResult: [],
      searchText: null,
      select: null,
      search: null,
    };
  },
  created() {
    _.map(this.columns, (column) =>
      this.orders.push({
        order: column,
        desc: column === "reg_date" ? "desc" : "asc",
      })
    );

    // 초기화.
    if (!getSessionStroge("rowSize")) setSessionStroge("rowSize", 10);
  },
  // 간단한 계산 (캐싱)
  computed: {
    tableClass() {
      return this.type && `table-${this.type}`;
    },
    orderClass(index) {
      return this.orders[index] === "desc" ? "fas fa-caret-down" : "fas fa-caret-up";
    },
  },
  watch: {
    data: {
      immediate: true,
      deep: true,
      handler(newValue, oldValue) {
        this.list = _.cloneDeep(newValue);

        // console.log(this.$options.name, "- watch list", this.list);

        // if (this.selected()) {
        //   this.list = _.filter(this.list, (v) => {
        //     return v.place_id ? v.place_id.data === this.selected() : true;
        //   });
        // } else if (this.placeSearchText()) {
        //   this.list = _.filter(this.list, (v) => {
        //     return v.place_name ? v.place_name.data.indexOf(this.placeSearchText()) > -1 : true;
        //   });
        // }

        // console.log(this.$options.name, "- watch list", this.list, this.option);
      },
    },
    search(newValue, oldValue) {
      // console.log("- search", newValue);

      this.loading = true;

      // this.searchResult = [];

      // if (newValue) {
      //   _.map(this.data, item => {
      //     const { title, name } = item;
      //     console.log("- filter", { title, name });

      //     if (title && title.data.indexOf(newValue) > -1)
      //       this.searchResult.push({ value: title.data, text: title.data });

      //     if (name && name.data.indexOf(newValue) > -1)
      //       this.searchResult.push({ value: name.data, text: name.data });
      //   });
      // } else {
      //   this.searchResult = [];
      // }

      //  console.log("- searchResult", this.searchResult);

      this.list = format.textFilter(this.list, newValue, "data");

      this.loading = false;
    },
  },
  methods: {
    ...mapGetters("place", ["selected", "placeSearchText"]),

    hasValue(item, column) {
      // column = column.toLowerCase();
      return item[column] !== "undefined";
    },
    itemValue(item, column, name) {
      // column = column.toLowerCase();

      let value = item[column] ? (name ? item[column][name] : item[column]) : "";

      let fmt = item[column] && item[column].format;

      if (fmt === "momey") value = format.toMoney(value);

      return value;
    },
    clickColumn(column) {
      if (column.toLowerCase() !== "del") {
        // 정렬 초기화.
        this.orders = _.map(this.orders, (v) => {
          v.desc = v.order !== column ? "asc" : v.desc;
          return v;
        });

        // 선택 정렬값.
        let orderby = _.find(this.orders, {
          order: column,
        });

        let { order, desc } = orderby;

        // 정렬 반전.
        desc = desc !== "desc" ? "desc" : "asc";

        console.log("- order", order, desc);

        this.order(order.toLowerCase(), desc);

        orderby.desc = desc;

        this.list = _.sortBy(this.list, [order]);
        if (desc) this.list = this.list.reverse();
      }
    },
    changeRowSize(size) {
      console.log("- changeRowSize", size);
      setSessionStroge("rowSize", size);
      this.resize(size);
    },
  },
};
</script>
<style lang="scss">
.table-top {
  display: flex;
  position: relative;

  > div {
    &:first-child {
      .row-size {
        width: 120px;

        .v-input__control {
          height: 33px !important;
          margin-bottom: 10px !important;
          min-height: 33px !important;

          .v-input__slot {
            margin-top: 0 !important;
            background: #27293d !important;
            border: 1px solid #2b3553;
          }
        }
      }
    }

    &:nth-child(2) {
      margin-left: 45%;

      .option {
        width: 150px;

        .v-input__control {
          height: 33px !important;
          margin-bottom: 10px !important;
          min-height: 33px !important;

          .v-input__slot {
            margin-top: 0 !important;
            background: #27293d !important;
            border: 1px solid #2b3553;
          }
        }
      }
    }

    &:last-child {
      position: absolute;
      right: 0px;

      .row-search {
        width: 350px;

        .v-input__control {
          height: 33px !important;
          margin-bottom: 10px !important;
          min-height: 33px !important;

          .v-input__slot {
            margin-top: 0 !important;
            background: #27293d !important;
            border: 1px solid #2b3553;

            input {
              color: #e7e7e7 !important;
              font-size: 1rem;
            }
          }

          .v-text-field__details {
            margin-bottom: 0 !important;
          }

          .v-label {
            color: #ccc;
          }

          .theme--light.v-icon {
            color: #5f5f66;
          }
        }
      }
    }
  }
}

th {
  text-align: center !important;

  > .list-icon {
    font-size: 18px;
    opacity: 0.4;
    cursor: pointer;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

td {
  text-align: center !important;

  .money {
    text-align: right !important;
  }
}
</style>
