<template>
  <v-list class="border-list">
    <v-list-item
      v-for="(item, i) in items"
      :key="i"
      min-height="30"
      class="py-1 px-3"
    >
      <div class="txt text-body-2">
        <span class="ico-round">중요</span>
        <v-icon
          icon="fa fa-exclamation-triangle"
          color="yellow-darken-2"
          size="small"
        ></v-icon>
        <v-icon
          icon="fa fa-exclamation-circle"
          color="blue"
          size="small"
        ></v-icon>
        <span class="text-yellow-darken-2">[대실/201호]</span>
        <span class="text-pink">숙박앱</span>
        <span class="text-blue">[업데이트]</span>
        {{ item.text }}
      </div>
      <v-avatar color="#FC6060" tile size="17" class="ico-new">
        <span class="text-white text-caption">N</span>
      </v-avatar>
      <span class="ml-auto pl-1 text-body-2">{{ item.date }}</span>
    </v-list-item>
  </v-list>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
export default defineComponent({
  name: "BorderList",
  props: {},
  data() {
    return {
      items: [
        { text: "여기어때", date: "10:36" },
        {
          text: "여기어때 대한민국광고대상 수상, 대한민국광고대상 수상",
          date: "10:36",
        },
        { text: "여기어때, 대한민국광고대상 수상", date: "10:36" },
        { text: "여기어때, 대한민국광고대상 수상", date: "10:36" },
        { text: "여기어때", date: "10:36" },
        {
          text: "여기어때 대한민국광고대상 수상, 대한민국광고대상 수상",
          date: "10:36",
        },
        { text: "여기어때", date: "10:36" },
        {
          text: "여기어때 대한민국광고대상 수상, 대한민국광고대상 수상",
          date: "10:36",
        },
        { text: "여기어때", date: "10:36" },
        {
          text: "여기어때 대한민국광고대상 수상, 대한민국광고대상 수상",
          date: "10:36",
        },
      ],
    };
  },
});
</script>
