<template>
  <dl class="d-flex align-center" v-bind:class="align">
    <dt v-bind:class="fontsize">{{ label }}</dt>
    <dd class="ml-2">
      <v-switch color="#3C4D60" hide-details inset></v-switch>
    </dd>
  </dl>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
export default defineComponent({
  name: "BtnSwitch",
  props: {
    label: {
      type: String,
    },
    fontsize: {
      type: String,
    },
    align: {
      type: String,
    },
  },
  data() {
    return {};
  },
});
</script>
