<template>
  <v-btn-toggle group density="compact" class="btn-toggle-line align-center">
    <v-btn
      v-for="item in btnList"
      :key="item"
      :value="item"
      width="80"
      height="30"
    >
      {{ item }}
    </v-btn>
  </v-btn-toggle>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "BtnToggleLine",
  props: {
    btnList: Array,
    toggleHeight: {
      type: String,
    },
  },
  data() {
    return {};
  },
});
</script>
