<template>
  <v-btn-toggle v-model="text" tile color="#3C4D60" group class="btn-toggle">
    <v-btn value="일별" height="28">일별</v-btn>
    <v-btn value="주별" height="28">주별</v-btn>
    <v-btn value="월별" height="28">월별</v-btn>
    <v-btn value="년별" height="28">년별</v-btn>
  </v-btn-toggle>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
export default defineComponent({
  name: "BtnToggle",
  props: {},
  data() {
    return {
      text: "일별",
    };
  },
});
</script>

<style lang="scss" scoped>
.btn-toggle {
  height: auto;
  border-radius: 0;
  align-items: center;
  .v-btn {
    border: 1px solid #bcbfc3;
    border-width: 1px 1px 1px 0;
    &.v-btn--selected {
      color: #fff;
    }
    &:first-child {
      border-left: 1px solid #bcbfc3;
    }
  }
}
</style>
