<template>
  <v-toolbar
    elevation="0"
    dense
    color="transparent"
    height="36"
    tag="div"
    class="search-box pa-0 v-col-auto"
  >
    <v-row dense>
      <v-col cols="4" class="d-flex align-center">
        <v-select
          :items="items"
          density="compact"
          hide-details
          single-line
          :class="[borderColor, bgColor]"
          class="select-box"
        ></v-select>
      </v-col>
      <v-col cols="4" class="d-flex align-center">
        <v-select
          :items="items"
          density="compact"
          hide-details
          single-line
          :class="[borderColor, bgColor]"
          class="select-box"
        ></v-select>
      </v-col>
      <v-col cols="4" class="d-flex align-center">
        <div
          :class="[borderColor, bgColor]"
          class="search-input"
        >
          <v-text-field density="compact" hide-details></v-text-field>
          <v-btn density="compact" icon="mdi mdi-magnify" size="small" class="mx-1"></v-btn>
        </div>
      </v-col>
    </v-row>
  </v-toolbar>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
export default defineComponent({
  name: "SearchBox",
  props: {
    borderColor: {
      type: String,
    },
    bgColor: {
      type: String,
    },
  },
  data() {
    return {
      items: ["층 선택", "객실"],
    };
  },
});
</script>
