<template>
  <div
    class="search-input bg-grey-lighten-5"
    style="border: 1px solid #D6DBE2 !important
    "
  >
    <v-text-field
      hide-details
      density="compact"
      v-bind:placeholder="textPlaceholder"
    ></v-text-field>
    <v-btn
      density="compact"
      elevation="0"
      rounded="0"
      icon="mdi mdi-magnify"
      size="small"
      class="mx-1"
      style="background: transparent"
    ></v-btn>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
export default defineComponent({
  name: "SearchForm",
  props: {
    textPlaceholder: {
      type: String,
    },
  },
  data() {
    return {};
  },
});
</script>
