<template>
  <v-table fixed-header density="compact" height="250" class="table-list">
    <template v-slot:default>
      <colgroup>
        <col width="25%" />
        <col width="28%" />
        <col width="23%" />
        <col width="25%" />
      </colgroup>
      <thead>
        <tr>
          <th class="text-center">호실</th>
          <th class="text-center">객실명</th>
          <th class="text-center">결제</th>
          <th class="text-center">시간</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in listItems" :key="item.name">
          <td class="text-pink text-center">{{ item.room }}</td>
          <td class="text-center">{{ item.name }}</td>
          <td class="text-blue text-center">{{ item.payment }}</td>
          <td class="text-center text-gray">{{ item.time }}</td>
        </tr>
      </tbody>
    </template>
  </v-table>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
export default defineComponent({
  name: "TableList",
  props: {},
  data() {
    return {
      listItems: [
        {
          room: "101호",
          name: "스위트룸",
          payment: "카드",
          time: "10:30",
        },
        {
          room: "102호",
          name: "스위트룸",
          payment: "카드",
          time: "10:30",
        },
        {
          room: "103호",
          name: "스위트룸",
          payment: "카드",
          time: "10:30",
        },
        {
          room: "104호",
          name: "스위트룸",
          payment: "카드",
          time: "10:30",
        },
        {
          room: "105호",
          name: "스위트룸",
          payment: "카드",
          time: "10:30",
        },
        {
          room: "106호",
          name: "스위트룸",
          payment: "카드",
          time: "10:30",
        },
        {
          room: "107호",
          name: "스위트룸",
          payment: "카드",
          time: "10:30",
        },
        {
          room: "107호",
          name: "스위트룸",
          payment: "카드",
          time: "10:30",
        },
      ],
    };
  },
});
</script>

<style lang="scss" scoped>
.table-list {
  thead {
    th {
      position: relative;
      background-color: #d6dbe2;
      font-weight: normal;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 30%;
        display: block;
        width: 1px;
        height: 40%;
        background-color: #888d94;
      }
      &:first-child {
        &::before {
          display: none;
        }
      }
    }
  }
  th,
  td {
    border-bottom: none !important;
  }
  &.th-bg {
    th {
      background-color: #3c4d60;
      color: #fff;
    }
  }
}
</style>
