<template>
  <div style="position: absolute; left: 10px; top: 30%" class="tooltip-box">
    <v-card
      elevation="0"
      color="#3C4D60"
      class="pa-2 fc_white"
    >
      <p class="text-center">
        <span>863,000</span>원
        <span class="text-yellow ml-1">
          <strong>15</strong>%
          <v-icon icon="fa fa-caret-up" color="yellow"></v-icon>
        </span>
      </p>
      <p class="text-center text-caption">
        숙박(
        <span class="text-teal-accent-2">67</span>
        ) 대실(
        <span class="text-teal-accent-2">67</span>
        ) 장기(
        <span class="text-teal-accent-2">67</span>
        )
      </p>
    </v-card>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "TooltipGraph",
  components: {},
  props: {},
  data() {
    return {
      show: true,
    };
  },
});
</script>
