<template>
  <div style="position: absolute; width: calc(100% - 40px); left: 20px">
    <v-card
      elevation="0"
      color="#3C4D60"
      class="tooltip-box up py-2 px-3 text-caption fc_white"
    >
      <v-row dense>
        <v-col class="text-center">
          <span>호실:</span>
          <span class="text-red ml-1">405호</span>
        </v-col>
        <v-divider vertical color="#fff" class="my-2"></v-divider>
        <v-col class="text-center">
          <span>유형:</span>
          <span class="text-red ml-1">VIP룸</span>
        </v-col>
        <v-divider vertical color="#fff" class="my-2"></v-divider>
        <v-col class="text-center">
          <span>입실:</span>
          <span class="text-red ml-1">13:00</span>
        </v-col>
        <v-divider vertical color="#fff" class="my-2"></v-divider>
        <v-col class="text-center">
          <span>퇴실:</span>
          <strong class="text-red ml-1">11:00</strong>
        </v-col>
      </v-row>
      <v-row dense>
        <v-col class="d-flex">
          <span>
            카드(
            <span class="text-teal-accent-2">5건</span>
            )
          </span>
          <strong class="text-yellow ml-auto">785,000</strong>원
        </v-col>
        <v-divider vertical color="#fff" class="my-2"></v-divider>
        <v-col class="d-flex">
          <span>
            현금(
            <span class="text-teal-accent-2">5건</span>
            )
          </span>
          <strong class="text-yellow ml-auto">785,000</strong>원
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "TooltipRoom",
  components: {},
  props: {},
  data() {
    return {
      show: true,
    };
  },
});
</script>
