<template>
  <v-card elevation="0" color="#3C4D60" text-color="#fff">
    <dl
      class="d-flex align-center justify-space-between px-7 fc_white"
      style="height: 60px"
    >
      <dt>{{ title }}</dt>
      <dd class="d-flex align-center">
        <strong class="text-h5 mr-1 font-weight-bold text-yellow font-num">
          {{ amount }}
        </strong>
        {{ unit }}
      </dd>
    </dl>
  </v-card>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
export default defineComponent({
  name: "TotalAmount",
  props: {
    title: {
      type: String,
    },
    amount: {
      type: String,
    },
    unit: {
      type: String,
    },
  },
  data() {
    return {
      text: "일별",
    };
  },
});
</script>
