<template>
  <div class="m-calendar">
    <!-- <img src="../assets/images/trash2.png" alt="" /> -->
    <VueDatePicker
      inline
      locale="ko"
      week-start="0"
      disable-month-year-select
      :format="viewUtil.dpFormat"
      :clearable="false"
      :enable-time-picker="false"
    ></VueDatePicker>
  </div>
  <div class="m-banner">
    <img src="../../assets/images/trash3.png" alt="" />
  </div>
</template>

<script setup lang="ts">
import VueDatePicker, { DatePickerInstance } from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import { ref } from 'vue';
import { viewUtil } from '@/utils/view-util';
// =========================================================
// 선언
// =========================================================

// =========================================================
// 초기 조회
// =========================================================

// =========================================================
// COMPUTED
// =========================================================

// =========================================================
// 기능
// =========================================================

// =========================================================
// 사용자 액션
// =========================================================

// =========================================================
// 정보
// =========================================================
</script>
