<template>
  <div class="m-ispa">
    <div class="t">
      <h3>키오스크</h3>
      <div class="more">
        <a @click="openKiosk()" title="새창열림">팝업열기</a>
      </div>
    </div>
    <div class="b">
      <ul class="tab">
        <li
          v-for="item in kioskDevices"
          :class="{ active: holder.kioskSerialno === item.serialno }"
        >
          <a @click="doKioskSelect(item.serialno)">{{ item.name }}</a>
        </li>
      </ul>
      <div class="sales-status">
        <dl>
          <dt>판매상태</dt>
          <dd>
            <v-switch
              v-model="holder.kioskIscState"
              :true-value="0"
              :false-value="1"
              density="compact"
              color="secondary"
              hide-details
              inset
            ></v-switch>
          </dd>
        </dl>
        <dl>
          <dt>성인인증사용</dt>
          <dd>
            <v-switch
              v-model="holder.kioskMinor_mode"
              :true-value="1"
              :false-value="0"
              density="compact"
              color="secondary"
              inset
            ></v-switch>
          </dd>
        </dl>
      </div>
      <div class="sales-status2">
        <span class="tit">판매현황</span>
        <dl>
          <dt>숙박</dt>
          <dd>{{ kioskSaleStayCount.standard }}</dd>
        </dl>
        <dl class="type2">
          <dt>대실</dt>
          <dd>{{ kioskSaleStayCount.shortTime }}</dd>
        </dl>
      </div>
      <div class="sales-history">
        <span class="tit">판매이력</span>
        <div class="r">
          <ul class="checkbox-area">
            <li>
              <label for="event92" class="checkbox"
                ><input
                  type="checkbox"
                  name="event91"
                  id="event92"
                  :checked="
                    holder.kioskStay1s.get(holder.kioskSerialno) == 1
                  "
                  @click="doKioskStay1(1)"
                />
                <div class="txt">숙박</div></label
              >
            </li>
            <li>
              <label for="event91" class="checkbox"
                ><input
                  type="checkbox"
                  name="event91"
                  id="event91"
                  :checked="
                    holder.kioskStay2s.get(holder.kioskSerialno) == 2
                  "
                  @click="doKioskStay2(2)"
                />
                <span class="txt">대실</span></label
              >
            </li>
          </ul>
          <select
            name=""
            id=""
            class="select"
            :value="kioskSaleFloor"
            @change="doKioskFloor($event)"
          >
            <option value="0">층 선택</option>
            <option
              v-for="floor in floors"
              :key="floor.no"
              :value="floor.no"
            >
              {{ floor.no }}층
            </option>
          </select>
        </div>
      </div>
      <div
        class="sales-list"
        style="height: 230px; overflow-y: scroll; sc"
      >
        <table>
          <tr>
            <th style="width: 90px">호실</th>
            <th style="width: 110px">객실유형</th>
            <th style="width: auto">결제</th>
            <th style="width: 50px">판매시간</th>
          </tr>
          <template v-for="item in KioskSalePaySums">
            <tr
              v-show="item.sale_id === holder.kioskSaleId"
              class="active"
              style="cursor: pointer"
              @click="doKioskSale(item.sale_id)"
            >
              <td class="red">{{ item.room_name }}</td>
              <td>
                {{ item.type_name }}
                <div class="view">
                  <div class="room_enter">
                    <span style="margin-left: 5px"
                      >호실: <em>{{ item.room_name }}</em></span
                    >
                    <span
                      >입실:
                      <em>{{
                        dayjs(item.check_in).format('HH:mm')
                      }}</em></span
                    >
                    <span
                      >퇴실:
                      <em>{{
                        dayjs(item.check_out).format('HH:mm')
                      }}</em></span
                    >
                    <span
                      ><v-btn
                        icon="mdi-close"
                        size="x-small"
                        height="17px"
                        width="17px"
                        padding="0"
                        style="top: -2px"
                      ></v-btn
                    ></span>
                  </div>
                  <div class="card-cash">
                    <span>
                      <em
                        >OTA (<i>{{ item.prepay_ota_cnt }}건</i>)</em
                      ><br />
                      <em
                        ><i class="orange">{{
                          viewUtil.comma(item.prepay_ota_amt)
                        }}</i
                        >원</em
                      >
                    </span>
                    <span>
                      <em
                        >현금 (<i
                          >{{
                            item.prepay_cash_cnt + item.pay_cash_cnt
                          }}건</i
                        >)</em
                      ><br />
                      <em
                        ><i class="orange">{{
                          viewUtil.comma(
                            item.prepay_cash_amt + item.pay_cash_amt
                          )
                        }}</i
                        >원</em
                      >
                    </span>
                    <span>
                      <em
                        >카드 (<i
                          >{{
                            item.prepay_card_cnt + item.pay_card_cnt
                          }}건</i
                        >)</em
                      ><br />
                      <em
                        ><i class="orange">{{
                          viewUtil.comma(
                            item.prepay_card_amt + item.pay_card_amt
                          )
                        }}</i
                        >원</em
                      >
                    </span>
                    <span>
                      <em
                        >포인트 (<i
                          >{{
                            item.prepay_point_cnt + item.pay_point_cnt
                          }}건</i
                        >)</em
                      ><br />
                      <em
                        ><i class="orange">{{
                          viewUtil.comma(
                            item.prepay_point_amt + item.pay_point_amt
                          )
                        }}</i
                        >원</em
                      >
                    </span>
                  </div>
                </div>
              </td>
              <td class="blue">{{ kioskBiz.doTopPayUnit(item) }}</td>
              <td>{{ dayjs(item.check_in).format('HH:mm') }}</td>
            </tr>
            <tr
              v-show="item.sale_id !== holder.kioskSaleId"
              style="cursor: pointer"
              @click="doKioskSale(item.sale_id)"
            >
              <td class="red">{{ item.room_name }}</td>
              <td>{{ item.type_name }}</td>
              <td class="blue">{{ kioskBiz.doTopPayUnit(item) }}</td>
              <td>{{ dayjs(item.reg_date).format('HH:mm') }}</td>
            </tr>
          </template>
        </table>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, reactive, computed, watch } from 'vue';
import { useStore } from 'vuex';
import { Device, Floor, IscState, StayCount } from '@/types';
import { SalePaySum } from '@/types/sale';
import { kioskBiz, KioskHolder } from '@/biz/kioskBiz';
import { roomBiz } from '@/biz/roomBiz';
import { viewUtil } from '@/utils/view-util';
import dayjs from 'dayjs';

// =========================================================
// 선언
// =========================================================
const store = useStore();
const user = store.getters['user'];

const holder: KioskHolder = reactive({
  kioskSerialno: null,
  kioskSaleId: 0,                   //선택한 매출 ID
  kioskRoomId: 0,                   //선택한 객실 ID
  kioskRoomTypeId: 0,               //키오스크 선택 객실타입 ID
  kioskIscState: 1,                 //키오스크 판매상태 (0:판매대기중, 1:판매 가능한 객실없음 또는 판매중지 상태)
  kioskMinor_mode: 0,					      //키오스크 성인인증모드 (0:해제, 1:설정)
  kioskFloors: new Map<string, number>(),     //키오스크별 선택 층
  kioskStay1s: new Map<string, number>(),     //키오스크별 선택 숙박타입1
  kioskStay2s: new Map<string, number>(),     //키오스크별 선택 숙박타입2
  kiosksRoomType: new Map<string, number>(),  //키오스크별 선택 객실타입
});


// =========================================================
// 초기 조회
// =========================================================
// 키오스크 디바이스
kioskBiz.kioskDevicesHolder(store, user.place_id, holder);

// 키오스크 ISC 상태
kioskBiz.kioskIscStates(store, user.place_id, holder);

// 키오스크 매출 조회
kioskBiz.kioskSalePaySums(store, user.place_id, '2023-08-04', '2023-08-04'); // TEST todayStr


// =========================================================
// COMPUTED
// =========================================================
const floors = computed<Floor[]>(() => roomBiz.getterFloors(store));

// 키오스크 디바이스 목록
const kioskDevices = computed<Device[]>(() => kioskBiz.getterKioskDevices(store));

// 선택된 키오스크 디바이스
const kioskDevice = computed<Device>(() => kioskBiz.getterMyKioksDevice(store, holder.kioskSerialno));

// 선택된 키오스크 상태
const kioskIscState = computed<IscState>(() => kioskBiz.getterMyKioskIscState(store, holder.kioskSerialno));

// 선택된 키오스크 매출 목록
const KioskSalePaySums = computed<SalePaySum[]>(() => {
  const list = kioskBiz.getterMyKioskSalePaySums(store, holder.kioskSerialno);

  const stay1 = holder.kioskStay1s.get(holder.kioskSerialno) || 0;
  const stay2 = holder.kioskStay2s.get(holder.kioskSerialno) || 0;

  let rets = [];
  if (stay1 == 1 && stay2 == 2) {
    rets = list.filter(
      (item: SalePaySum) => item.stay_type === 1 || item.stay_type === 2
    );
  } else if (stay1 == 1 && stay2 == 0) {
    rets = list.filter((item: SalePaySum) => item.stay_type === 1);
  } else if (stay1 == 0 && stay2 == 2) {
    rets = list.filter((item: SalePaySum) => item.stay_type === 2);
  } else {
    rets = list;
  }

  const floor = holder.kioskFloors.get(holder.kioskSerialno) || 0;
  if (floor != 0) {
    rets = rets.filter((item: SalePaySum) => item.floor == floor);
  }
  return rets;
});

// 선택된 키오스크 매출의 숙박건수
const kioskSaleStayCount = computed<StayCount>(() => kioskBiz.getterMyKioskSaleStayCount(store, holder.kioskSerialno));

const kioskSaleFloor = computed<number>(() => holder.kioskFloors.get(holder.kioskSerialno) || 0);

// =========================================================
// WATCH
// =========================================================
// 키오스크 ISC state 변경 감지.
watch(
  () => holder.kioskIscState,
  async (cur, pre) => {
    const list = await store.dispatch(
      'iscState/getItem',
      holder.kioskSerialno
    );
    const iscState = list.length > 0 ? list[0] : null;
    if (iscState === null) {
      return;
    }

    // console.log(`*** WATCH holder.kioskIscState - kioskSerialno(${holder.kioskSerialno}), kioskIscState(${state.kioskIscState}), cur(${cur}), pre(${pre})`);
    // console.log(`*** WATCH holder.kioskIscState - iscState.serialno(${iscState.serialno}), iscState.state(${iscState.state})`);
    if (
      holder.kioskSerialno == iscState.serialno &&
      holder.kioskIscState != iscState.state
    ) {
      // ISC state 상태 변경 DB, Socket 전송
      console.log(
        `*** kiosk isc state 변경처리하기. - kioskSerialno(${holder.kioskSerialno}), kioskIscState(${holder.kioskIscState}), cur(${cur}), pre(${pre})`
      );

      iscState.state = holder.kioskIscState;
      await store.dispatch('iscState/setItem', iscState); // 변경
      // 변경처리호 다시 읽어 들리기.
      kioskBiz.kioskIscStates(store, user.place_id, holder);
    }
  }
);

// 키오스크 ISC minor_mode 변경 감지.
watch(
  () => holder.kioskMinor_mode,
  async (cur, pre) => {
    const list = await store.dispatch(
      'iscState/getItem',
      holder.kioskSerialno
    );
    const iscState = list.length > 0 ? list[0] : null;
    if (iscState === null) {
      return;
    }

    // console.log(`*** WATCH holder.kioskMinor_mode - kioskSerialno(${holder.kioskSerialno}), kioskMinor_mode(${holder.kioskMinor_mode}), cur(${cur}), pre(${pre})`);
    // console.log(`*** WATCH holder.kioskMinor_mode - iscState.serialno(${iscState.serialno}), iscState.minor_mode(${iscState.minor_mode})`);
    if (
      holder.kioskSerialno == iscState.serialno &&
      holder.kioskMinor_mode != iscState.minor_mode
    ) {
      // ISC minor_mode 상태 변경 DB, Socket 전송
      console.log(
        `*** kiosk isc minor_mode 변경처리하기. - kioskSerialno(${holder.kioskSerialno}), kioskMinor_mode(${holder.kioskMinor_mode}), cur(${cur}), pre(${pre})`
      );

      iscState.minor_mode = holder.kioskMinor_mode;
      await store.dispatch('iscState/setItem', iscState);
      // 변경처리호 다시 읽어 들리기.
      kioskBiz.kioskIscStates(store, user.place_id, holder);
    }
  }
);



// =========================================================
// 기능
// =========================================================

// =========================================================
// 사용자 액션
// =========================================================
const openKiosk = () => {
  // const winPop: any = context.refs.popupKiosk;
  const url = `dashboard/kiosk`;
  // winPop.openPopup(url, 950, 843, 'pop_kiosk');
  viewUtil.showHidePopup(store, url, 950, 843);
};

/**
 * 키오스크 선택
 */
 const doKioskSelect = (serialno: string) => {
  kioskBiz.doKioskSelect(holder, kioskIscState.value, serialno);
};

/**
 * 키오스크 매출 선택
 */
 const doKioskSale = (saleId: number) => {
  if (holder.kioskSaleId === saleId) {
    holder.kioskSaleId = 0;
  } else {
    holder.kioskSaleId = saleId;
  }
};

/**
 * 키오스크 매출 조회에서 [숙박형식] 필터 선택
 * @param stayType
 */
 const doKioskStay1 = (stayType: number) => {
  const val = holder.kioskStay1s.get(holder.kioskSerialno);
  console.log(
    `*** doKioskStay1 - kioskSerialno(${holder.kioskSerialno}) ::`,
    stayType,
    val
  );
  if (val === stayType) {
    holder.kioskStay1s.set(holder.kioskSerialno, 0);
  } else {
    holder.kioskStay1s.set(holder.kioskSerialno, stayType);
  }
  console.log(`*** doKioskStay1 - setted value ::`, holder.kioskStay1s.get(holder.kioskSerialno));
};

const doKioskStay2 = (stayType: number) => {
  const val = holder.kioskStay2s.get(holder.kioskSerialno);
  console.log(`*** doKioskStay2 - kioskSerialno(${holder.kioskSerialno}) ::`, stayType, val);
  if (val === stayType) {
    holder.kioskStay2s.set(holder.kioskSerialno, 0);
  } else {
    holder.kioskStay2s.set(holder.kioskSerialno, stayType);
  }
};

const doKioskFloor = (event: any) => {
  console.log(`*** doKioskFloor :: `, event.target.value);
  holder.kioskFloors.set(holder.kioskSerialno, event.target.value);
};


// =========================================================
// 정보
// =========================================================
</script>
