<template>
  <div class="m-news">
    <div class="t">
      <h3>숙박뉴스</h3>
      <div class="more">
        <a title="새창열림" @click="doOpenNews()">팝업열기</a>
      </div>
    </div>
    <ul class="b-list">
      <li v-for="item in topNews">
        <a @click="doOpenNews(item.id)"
          ><span>{{ item.title }}</span></a
        >
        <i><img src="../../assets/images/icon-new.png" alt="new" /></i>
        <em class="time">{{ dayjs(item.pubDate).format('MM/DD') }}</em>
      </li>
    </ul>
  </div>
  <WindowPopup
    ref="windowPopup"
    @onClose="(val: any) => eventClosePopup(val)"
    @onRecvEvtFromWinPop="(val: any) => onRecvWinPop(val)"
  ></WindowPopup>
</template>

<script setup lang="ts">
import { computed, getCurrentInstance } from 'vue';
import { useStore } from 'vuex';
import { StayNewsItem } from '@/types';
import { newsBiz } from '@/biz/newsBiz';
import { viewUtil } from '@/utils/view-util';
import dayjs from 'dayjs';
import WindowPopup from '@/components/popup/WindowPopup.vue';

// =========================================================
// 선언
// =========================================================
const store = useStore();
const context = getCurrentInstance();


// =========================================================
// 초기 조회
// =========================================================
// 숙박뉴스
newsBiz.topNews(store);


// =========================================================
// COMPUTED
// =========================================================
const topNews = computed<StayNewsItem[]>(() => {
  const array = store.getters['news/listTop']
  return array.slice(4);
});

// =========================================================
// 기능
// =========================================================

// =========================================================
// 사용자 액션
// =========================================================
const doOpenNews = (id?: number) => {
  const url = id
    ? `/dashboard/hotel_news?id=${id}`
    : '/dashboard/hotel_news';
  
  // viewUtil.showHidePopup(store, url, 800, 749);
  openPopup(url, 800, 749, 'pop_news');
};

const openPopup = (
  url: string,
  width: number,
  height: number,
  name: string
) => {
  const winPop: any = context.refs.windowPopup;
  winPop.openPopup(url, width, height, name);
};

const eventClosePopup = (val: any) => {
  console.log(`*** eventClosePopup::`, val);
};

const onRecvWinPop = (receiveObject: any) => {
  console.log(`*** onRecvWinPop - receiveObject ::`, receiveObject);
};



// =========================================================
// 정보
// =========================================================
</script>
