<template>
  <div class="m-subscription">
    <div class="t">
      <h3>구독현황</h3>
      <div class="more">
        <a title="새창열림" @click="openSubscribe()">팝업열기</a>
      </div>
    </div>
    <div class="b">
      <ul class="tab">
        <li :class="{ active: viewSubs }">
          <a @click="viewSubs = true">구독중</a>
        </li>
        <li :class="{ active: !viewSubs }">
          <a @click="viewSubs = false">결재</a>
        </li>
      </ul>
      <ul v-if="viewSubs" class="b-list">
        <li v-for="item in placeSubscribes">
          <a @click="openSubscribe(item.id)"
            ><span><em class="txt">중요</em>{{ item.name }}</span></a
          >
          <i> <img src="../../assets/images/icon-new.png" alt="new" /></i>
          <em class="time">{{ dayjs(item.reg_date).format('MM/DD') }}</em>
        </li>
      </ul>
      <ul v-else class="b-list">
        <li v-for="item in placeSubscribes">
          <!-- <a ><span><em class="txt">중요</em>{{ item.name }}</span></a>
          <i> <img src="../assets/images/icon-new.png" alt="new" /></i>
          <em class="time">{{ dayjs(item.reg_date).format('MM/DD') }}</em> -->
        </li>
      </ul>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue';
import { useStore } from 'vuex';
import { PlaceSubscribe } from '@/types';
import { viewUtil } from '@/utils/view-util';
import { placeBiz } from '@/biz/placeBiz';
import dayjs from 'dayjs';

// =========================================================
// 선언
// =========================================================
const store = useStore();
const user = store.getters['user'];

const viewSubs = ref<boolean>(true);

// =========================================================
// 초기 조회
// =========================================================
// 구독현황 조회
placeBiz.placeSubscribes(store, user.place_id, 5, 5);


// =========================================================
// COMPUTED
// =========================================================
const placeSubscribes = computed<PlaceSubscribe[]>(() => store.getters['placeSubscribe/list']);


// =========================================================
// 기능
// =========================================================


// =========================================================
// 사용자 액션
// =========================================================
const openSubscribe = (id?: number) => {
  const url = id
    ? `/dashboard/subscribe_status?id=${id}`
    : '/dashboard/subscribe_status';
  // openPopup(url, 640, 633, 'pop_subscribe');
  viewUtil.showHidePopup(store, url, 640, 633);
};

// =========================================================
// 정보
// =========================================================

</script>
