<template>
  <div class="m-total-pay">
    <div class="t">
      <div class="l">
        <ul class="dayby">
          <li :class="{ active: state.saleSumRangeUnit === 'j' }">
            <a
              v-if="state.saleSumRangeUnit !== null"
              class="v_text"
              @click="doViewStatistics('j')"
              >일별</a
            >
            <a
              v-else
              class="v_text"
              style="background-color: lightgray; color: gray; cursor: default"
              >일별</a
            >
          </li>
          <li :class="{ active: state.saleSumRangeUnit === 'v' }">
            <a
              v-if="state.saleSumRangeUnit !== null"
              class="v_text"
              @click="doViewStatistics('v')"
              >주별</a
            >
            <a
              v-else
              class="v_text"
              style="background-color: lightgray; color: gray; cursor: default"
              >주별</a
            >
          </li>
          <li :class="{ active: state.saleSumRangeUnit === 'Ym' }">
            <a
              v-if="state.saleSumRangeUnit !== null"
              class="v_text"
              @click="doViewStatistics('Ym')"
              >월별</a
            >
            <a
              v-else
              class="v_text"
              style="background-color: lightgray; color: gray; cursor: default"
              >월별</a
            >
          </li>
          <li :class="{ active: state.saleSumRangeUnit === 'Y' }">
            <a
              v-if="state.saleSumRangeUnit !== null"
              class="v_text"
              @click="doViewStatistics('Y')"
              >년별</a
            >
            <a
              v-else
              class="v_text"
              style="background-color: lightgray; color: gray; cursor: default"
              >년별</a
            >
          </li>
        </ul>
        <div class="dateby">
          <span class="label v_text">날짜별</span>
          <div>
            <VueDatePicker
              ref="salesBeginDp"
              locale="ko"
              week-start="0"
              v-model="state.sales.beginDate"
              :format="viewUtil.dpFormat"
              :clearable="false"
              :enable-time-picker="false"
              hide-input-icon
              input-class-name="cqi_dp_input"
              @update:model-value="doUpdateDateBegin"
            ></VueDatePicker>
            <!-- @update:model-value="doUpdateDateBegin" -->
          </div>
          <span class="wave">~</span>
          <div>
            <VueDatePicker
              ref="salesEndDp"
              locale="ko"
              week-start="0"
              v-model="state.sales.endDate"
              :format="viewUtil.dpFormat"
              :clearable="false"
              :enable-time-picker="false"
              hide-input-icon
              input-class-name="cqi_dp_input"
            ></VueDatePicker>
            <!-- @update:model-value="doUpdateDateEnd" -->
          </div>
        </div>
        <ul class="dayby">
          <li :class="{ active: state.saleSumMonth === 1 }">
            <a class="v_text" @click="doViewStatisticsMonth(1)">1개월</a>
          </li>
          <li :class="{ active: state.saleSumMonth === 2 }">
            <a class="v_text" @click="doViewStatisticsMonth(2)">3개월</a>
          </li>
          <li :class="{ active: state.saleSumMonth === 5 }">
            <a class="v_text" @click="doViewStatisticsMonth(5)">6개월</a>
          </li>
        </ul>
      </div>
      <div class="r">
        <div class="txt">최근 {{ state.statisticsTime }}</div>
        <div class="more">
          <!-- <a title="새창열림">팝업열기</a> -->
        </div>
      </div>
    </div>
    <div class="b">
      <div>
        <div class="sales_statistics">
          <div class="column_1">
            <span class="sales_title"
              >{{ dateBiz.rangeUnitName(state.saleSumRangeUnit)
              }}{{
                state.statisticsMode == 'room' ? '객실별' : ''
              }}
              매출현황</span
            >
            <span class="range"
              >({{ state.sales.beginDate }} ~ {{ state.sales.endDate }})</span
            >
          </div>
          <div class="column_2" style="">
            <div class="disk_red"></div>
            <span class="today">조회기간</span>
            <div class="disk_blue"></div>
            <span class="yesterday">이전년도</span>
          </div>
          <div class="column_3">
            <v-btn
              variant="outlined"
              :active="state.statisticsMode === StatisticsMode.SALE"
              size="small"
              class="btn_txt rounded-0 rounded-s normal_border"
              :class="{
                active: state.statisticsMode === StatisticsMode.SALE,
              }"
              width="100"
              @click="doViewStatisticsMode(StatisticsMode.SALE)"
              >매출</v-btn
            >
            <v-btn
              variant="outlined"
              :active="state.statisticsMode === StatisticsMode.ROOM"
              size="small"
              class="btn_txt rounded-0 rounded-e normal_border"
              :class="{
                active: state.statisticsMode === StatisticsMode.ROOM,
              }"
              width="100"
              style="margin-left: -1.5px"
              @click="doViewStatisticsMode(StatisticsMode.ROOM)"
              >객실</v-btn
            >
          </div>
          <div class="column_4">
            <span class="subtitle">총 매출:</span>
            <span class="subtitle unit_value" style="color: #fc6060">{{
              viewUtil.comma(saleTotalAmount)
            }}</span>
            <span class="subtitle unit">원</span>
          </div>
          <div class="column_5">
            <span class="subtitle">총 건수:</span>
            <span class="subtitle unit_value" style="color: #017acd">{{
              viewUtil.comma(saleTotalCount)
            }}</span>
            <span class="subtitle unit">개</span>
          </div>
        </div>
        <div class="graph" style="background-color: beige">
          <SalesChart
            :mode="state.statisticsMode"
            :unit="state.saleSumRangeUnit"
            :now-and-previous="saleNowAndPrevious"
            :room-sale-sums="roomSaleSums"
            style="height: 265px"
          ></SalesChart>
          <!-- <img src="../assets/images/trash1.png" alt="" /> -->
        </div>
      </div>
      <div class="real-time">
        <div class="pay">
          <div class="tit">실시간 정산금액</div>
          <span
            >{{ viewUtil.comma(placeSumTotal?.default_fee) }}<em>원</em></span
          >
        </div>
        <div class="room">
          <div class="tit">실시간 객실현황</div>
          <div class="cont">
            <dl>
              <dt>숙박</dt>
              <dd>{{ roomCounter.used }}</dd>
            </dl>
            <dl>
              <dt>대실</dt>
              <dd>{{ roomCounter.short }}</dd>
            </dl>
            <dl>
              <dt>장기</dt>
              <dd>{{ roomCounter.long }}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.cqi_dp_input {
  width: 134px;
  padding: 0 0 0 12px;
  font-size: 14px;
  background: url(@/assets/images/icon-datepicker.png) 103px center no-repeat;
}
</style>

<script setup lang="ts">
import { ref, reactive, computed, watch } from 'vue';
import { useStore } from 'vuex';
import { NowAndPrevious } from '@/types';
import { SaleRangeSum, RoomSaleSum, SaleSumRollup } from '@/types/sale';
import {
  roomSaleStatisticsBiz,
  StatisticsMode,
} from '@/biz/roomSaleStatisticsBiz';
import { RoomCounter } from '@/biz/roomStateBiz';
import { viewUtil } from '@/utils/view-util';
import { dateBiz, RangeUnit } from '@/biz/dateBiz';
import dayjs from 'dayjs';
import VueDatePicker, { DatePickerInstance } from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import SalesChart from '../dashboard/main_chart1.vue';

// =========================================================
// 선언
// =========================================================
const componentName = 'RoomSaleStatistics.vue';

const store = useStore();
const user = store.getters['user'];

const today = dayjs();
// const today = dayjs('2023-08-12'); // TEST
const todayStr = today.format('YYYY-MM-DD');

const state = reactive({
  sales: {
    beginDate: today.subtract(10, 'day').format('YYYY-MM-DD'),
    endDate: today.add(1, 'day').format('YYYY-MM-DD'),
  },
  saleSumRangeUnit: RangeUnit.DAY_OF_YEAR,
  saleSumRangeUnitBackup: null,
  saleSumMonth: 0,
  saleSumNowPrevious: {} as NowAndPrevious<SaleRangeSum[]>,
  statisticsMode: StatisticsMode.SALE, //통계 집계 모드
  statisticsTime: today.format('HH:mm'), //통계 집계된 시간
});
// =========================================================
// 초기 조회
// =========================================================
// 업소 매출통계
roomSaleStatisticsBiz.getPlaceSum(
  store,
  user.place_id,
  `${todayStr} 00:00`,
  `${todayStr} 23:59`
);

// 업소 현재/지난 매출통계
roomSaleStatisticsBiz.getSaleRangeSumNowAndPrevious(
  store,
  user.place_id,
  RangeUnit.DAY_OF_YEAR,
  state.sales.beginDate,
  state.sales.endDate,
  state
);

// 객실+숙박형태별
roomSaleStatisticsBiz.getRoomStaySums(
  store,
  user.place_id,
  `${todayStr} 00:00`,
  `${todayStr} 23:59`
);

// =========================================================
// COMPUTED
// =========================================================
// 총 매출
const saleTotalAmount = computed(() => {
  if (state.statisticsMode === StatisticsMode.ROOM) {
    const list = roomSaleStatisticsBiz.getterRoomSaleSums(store);
    return (
      list?.reduce((acc: number, cur: RoomSaleSum) => acc + cur.total_amt, 0) ||
      0
    );
  } else {
    return (
      state.saleSumNowPrevious.now?.reduce(
        (acc, cur) => acc + cur.total_amt,
        0
      ) || 0
    );
  }
});

// 총 건수
const saleTotalCount = computed(() => {
  if (state.statisticsMode === StatisticsMode.ROOM) {
    const list = roomSaleStatisticsBiz.getterRoomSaleSums(store);
    return (
      list?.reduce((acc: number, cur: RoomSaleSum) => acc + cur.count, 0) || 0
    );
  } else {
    return (
      state.saleSumNowPrevious.now?.reduce((acc, cur) => acc + cur.count, 0) ||
      0
    );
  }
});

// 기간별 매출
const saleNowAndPrevious = computed(() => {
  // console.log('=====> saleSumNowPrevious', state.saleSumNowPrevious);
  return state.saleSumNowPrevious;
});

// 객실 매출
const roomSaleSums = computed(() => {
  return roomSaleStatisticsBiz.getterRoomSaleSums(store);
});

const placeSumTotal = computed<SaleSumRollup>(
  () => store.getters['roomSale/placeSumTotal']
);

const roomCounter = computed<RoomCounter>(
  () => store.getters['roomState/roomCounter']
);

// =========================================================
// WATCH
// =========================================================
watch(
  () => state.statisticsMode,
  (cur, pre) => {
    console.log(
      componentName,
      `*** WATCH state.statisticsMode - cur(${cur}), pre(${pre})`
    );
  }
);

// =========================================================
// 기능
// =========================================================

// =========================================================
// 사용자 액션
// =========================================================
const doViewStatistics = (rangeUnit: string) => {
  state.saleSumRangeUnit = rangeUnit as RangeUnit;
  roomSaleStatisticsBiz.getSaleRangeSumNowAndPrevious(
    store,
    user.place_id,
    state.saleSumRangeUnit,
    state.sales.beginDate,
    state.sales.endDate,
    state
  );
  // console.log(componentName,componentName,`*** doViewStatistics::`, rangeUnit, state.sales.beginDate, state.sales.endDate);
};

const doViewStatisticsMonth = (month: number) => {
  state.saleSumMonth = month;
  state.sales.beginDate = today.subtract(month, 'month').format('YYYY-MM-DD');
  state.sales.endDate = todayStr;
  roomSaleStatisticsBiz.getSaleRangeSumNowAndPrevious(
    store,
    user.place_id,
    state.saleSumRangeUnit,
    state.sales.beginDate,
    state.sales.endDate,
    state
  );
  roomSaleStatisticsBiz.roomSaleSums(
    store,
    user.place_id,
    state.sales.beginDate,
    state.sales.endDate
  );
};

// 통계 모드 변경
const doViewStatisticsMode = (mode: StatisticsMode) => {
  state.statisticsMode = mode;
  if (mode === StatisticsMode.ROOM) {
    state.saleSumRangeUnitBackup = state.saleSumRangeUnit;
    state.saleSumRangeUnit = null;
    roomSaleStatisticsBiz.roomSaleSums(
      store,
      user.place_id,
      state.sales.beginDate,
      state.sales.endDate
    );
  } else if (mode === StatisticsMode.SALE) {
    if (state.saleSumRangeUnit === null)
      state.saleSumRangeUnit =
        state.saleSumRangeUnitBackup !== null
          ? state.saleSumRangeUnitBackup
          : RangeUnit.DAY_OF_YEAR;
    roomSaleStatisticsBiz.getSaleRangeSumNowAndPrevious(
      store,
      user.place_id,
      state.saleSumRangeUnit,
      state.sales.beginDate,
      state.sales.endDate,
      state
    );
  }
};

const doUpdateDateBegin = (data: any) => {
  // console.log(componentName,componentName,`*** doUpdateDateBegin::`, data);
  state.sales.beginDate = viewUtil.dpFormat(data);
  state.saleSumMonth = 0;
  roomSaleStatisticsBiz.getSaleRangeSumNowAndPrevious(
    store,
    user.place_id,
    state.saleSumRangeUnit,
    state.sales.beginDate,
    state.sales.endDate,
    state
  );
};

const doUpdateDateEnd = (data: any) => {
  // console.log(componentName,`*** doUpdateDateEnd::`, data);
  state.sales.endDate = viewUtil.dpFormat(data);
  state.saleSumMonth = 0;
  roomSaleStatisticsBiz.getSaleRangeSumNowAndPrevious(
    store,
    user.place_id,
    state.saleSumRangeUnit,
    state.sales.beginDate,
    state.sales.endDate,
    state
  );
};

// =========================================================
// 정보
// =========================================================
</script>
