<template>
  <div class="m-notice">
    <div class="t">
      <h3>공지사항</h3>
      <div class="more">
        <!-- <router-link to="/dashboard/notice_news" title="새창열림" target="_blank">팝업열기</router-link> -->
        <a title="새창열림" @click="openNotice()">팝업열기</a>
      </div>
    </div>
    <div class="b">
      <ul class="tab">
        <li :class="{ active: viewNotice }">
          <a @click="doViewNotice(true)">공지</a>
        </li>
        <li :class="{ active: !viewNotice }">
          <a @click="doViewNotice(false)">TODO-미션</a>
        </li>
      </ul>
      <ul v-if="viewNotice" class="b-list">
        <li v-for="item in myNotices">
          <a @click="openNotice(item.id)"
            ><span>
              <em v-if="item.type == 2" class="txt2">[업데이트]</em>
              <em v-else-if="item.important == 2" class="txt">중요</em>
              {{ item.title }}</span
            ></a
          >
          <i> <img src="../../assets/images/icon-new.png" alt="new" /></i>
          <em class="time">{{ item.display_time }}</em>
        </li>
      </ul>
      <ul v-else class="b-list">
        <li v-for="item in myNotices">
          <!-- <a href="link"><span>
            <em v-if="item.important == 2" class="txt">중요</em>
            <em v-if="item.type == 2" class="txt2">[업데이트]</em>
            {{ item.title }}</span></a>
          <i> <img src="../assets/images/icon-new.png" alt="new" /></i>
          <em class="time">{{ item.display_time }}</em> -->
        </li>
      </ul>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue';
import { useStore } from 'vuex';
import { Notice } from '@/types';
import { noticeBiz } from '@/biz/noticeBiz';
import { viewUtil } from '@/utils/view-util';


// =========================================================
// 선언
// =========================================================
const store = useStore();

const viewNotice = ref<boolean>(true);

// =========================================================
// 초기 조회
// =========================================================
// 공지사항 조회. 5개만 조회
noticeBiz.notices(store, 5, true);

// =========================================================
// COMPUTED
// =========================================================
const myNotices = computed<Notice[]>(() => store.getters['notice/list']);

// =========================================================
// 기능
// =========================================================


// =========================================================
// 사용자 액션
// =========================================================
const openNotice = (id?: number) => {
  const url = id
    ? `/dashboard/notice_news?id=${id}`
    : '/dashboard/notice_news';
  // openPopup(url, 640, 633, 'pop_notice');
  viewUtil.showHidePopup(store, url, 640, 633);
};

const doViewNotice = (val: boolean) => {
  viewNotice.value = val;
};

// =========================================================
// 정보
// =========================================================

</script>
