<template>
  <div class="m-pay-summary">
    <div class="tit">
      객실별 매출 요약보기
      <span class="range"
        >({{ props.beginDate }} ~ {{ props.endDate }})</span
      >
    </div>
    <div class="select-area">
      <select v-model="floorNo" class="select">
        <!-- <option value="0">층 선택</option> -->
        <option v-for="floor in floors" :key="floor.no" :value="floor.no">
          {{ floor.no }}층
        </option>
      </select>
      <select v-model="roomId" id="roomSelect" class="select">
        <option value="0">객실</option>
        <option
          v-for="room in floorRooms"
          :key="room.id"
          :value="room.id"
        >
          {{ room.name }}
        </option>
      </select>
      <input
        type="text"
        class="search"
        @change="doFloorRoomsFilter($event)"
      />
    </div>
    <div class="result">
      <dl>
        <dt>층별 :</dt>
        <dd>{{ floorNo }}층</dd>
      </dl>
      <dl>
        <dt>객실 :</dt>
        <dd>{{ floorRoom?.name }}</dd>
      </dl>
      <dl>
        <dt>유형 :</dt>
        <dd class="onhire">
          {{ roomState?.sale ? viewUtil.keyText('room_state', 'sale', roomState?.sale || 0) : '' }}
        </dd>
      </dl>
    </div>
    <dl class="total">
      <dt>총건수</dt>
      <dd>
        <em>{{ viewUtil.comma(roomSum.count) }}</em
        >건
      </dd>
    </dl>
    <ul class="result-list">
      <li>
        <span class="tit">현금</span
        ><span class="count"
          ><em>{{ viewUtil.comma(roomSum.pay_cash_cnt) }}</em
          >건</span
        ><span class="won"
          ><em>{{ viewUtil.comma(roomSum.pay_cash_amt) }}</em
          >원</span
        >
      </li>
      <li>
        <span class="tit">카드</span
        ><span class="count"
          ><em>{{
            viewUtil.comma(roomSum.prepay_ota_cnt + roomSum.pay_card_cnt)
          }}</em
          >건</span
        ><span class="won"
          ><em>{{
            viewUtil.comma(roomSum.prepay_ota_amt + roomSum.pay_card_amt)
          }}</em
          >원</span
        >
      </li>
      <li>
        <span class="tit">미수금</span
        ><span class="count"><em>-</em>건</span
        ><span class="won"
          ><em>{{ viewUtil.comma(roomSum.total_fee - roomSum.total_amt) }}</em
          >원</span
        >
      </li>
      <li class="total-result">
        <span class="tit">합계</span
        ><span class="count"
          ><em>{{ viewUtil.comma(roomSum.count) }}</em
          >건</span
        ><span class="won"
          ><em>{{ viewUtil.comma(roomSum.total_amt) }}</em
          >원</span
        >
      </li>
    </ul>
  </div>
</template>

<script setup lang="ts">
import { ref, reactive, computed, watch, onMounted, onBeforeUnmount } from 'vue';
import { useStore } from 'vuex';
import { Floor, FloorRoom, RoomState } from '@/types';
import { SaleRangeSum, RoomSaleSum, SaleSumRollup } from '@/types/sale';
import { roomBiz } from '@/biz/roomBiz';
import { roomSaleStatisticsBiz, StatisticsMode } from '@/biz/roomSaleStatisticsBiz';
import { roomStateBiz, RoomCounter } from '@/biz/roomStateBiz';
import { viewUtil } from '@/utils/view-util';
import { dateBiz, RangeUnit } from '@/biz/dateBiz';
import dayjs from 'dayjs';


// =========================================================
// 선언
// =========================================================
const props = defineProps(['beginDate', 'endDate']);

const store = useStore();
const user = store.getters['user'];

const today = dayjs();
// const today = dayjs('2023-08-12'); // TEST
const todayStr = today.format('YYYY-MM-DD');

const floorNo = ref<number>(0);
const roomsFilter = ref<string>(null);
const roomId = ref<number>(0);
const floorRoom = ref<FloorRoom>(null);


// =========================================================
// 초기 조회
// =========================================================


// =========================================================
// COMPUTED
// =========================================================
// 객실 매출
const roomSaleSums = computed(() => roomSaleStatisticsBiz.getterRoomSaleSums(store));

// 객실별 매출 요약보기
const roomSum = computed<RoomSaleSum>(() => {
  const list = roomSaleSums.value;
  return (
    list.find((sum: RoomSaleSum) => sum.room_id == floorRoom.value?.id) ||
    roomSaleStatisticsBiz.EmptyRoomSaleSum
  );
});

// 전체 객실 상태.
const roomStateList = computed<RoomState[]>(() => roomStateBiz.getterRoomStateList(store));

// 선택한 객실의 상태.
const roomState = computed<RoomState>(() => {
  const list = roomStateList.value;
  return (
    list.find((state: RoomState) => state.room_id == floorRoom.value?.id) || null 
  );
});

// 층 목록
const floors = computed<Floor[]>(() => roomBiz.getterFloors(store));

// 선택한 층의 객실 목록
const floorRooms = computed<FloorRoom[]>(() => roomBiz.getterFloorRooms(store, floorNo.value, roomsFilter.value));


// =========================================================
// WATCH
// =========================================================
watch(
  () => floorNo.value,
  (cur, pre) => {
    // console.log(componentName,`*** WATCH state.floorNo :: `, state.floorNo);
    store.getters['room/listFloors'].forEach((floor: Floor) => {
      if (floorNo.value === floor.no) {
        floorRoom.value = floor.rooms[0];
        roomId.value = floorRoom.value.id;
      }
    });
  }
);

watch(
  () => roomId.value,
  (cur, pre) => {
    // console.log(componentName,`*** WATCH state.roomId :: `, cur);
    floorRoom.value = floorRooms.value?.find(
      (room: FloorRoom) => room.id == cur
    );
    store.dispatch('roomState/getItem', cur);
  }
);

// =========================================================
// 기능
// =========================================================


// =========================================================
// 사용자 액션
// =========================================================
const doFloorRoomsFilter = (e: Event) => {
  const filterStr = (e.target as HTMLInputElement).value.trim();
  if (filterStr.length > 0) {
    roomsFilter.value = filterStr;
  } else {
    roomsFilter.value = null;
  }
};


// =========================================================
// 정보
// =========================================================
</script>
