<template>
  <div class="m-event">
    <div class="t">
      <h3>이벤트 현황</h3>
      <span class="txt"> ※ 00시에 초기화</span>
      <div class="more">
        <a title="새창열림" @click="doOpenNews()">팝업열기</a>
      </div>
    </div>
    <div class="b">
      <ul class="checkbox-area">
        <li>
          <label for="event1" class="checkbox">
            <input
              v-model="choseStates.stay2"
              type="checkbox"
              name=""
              id="event1"
            />
            <span class="txt">대실</span></label
          >
        </li>
        <li>
          <label for="event2" class="checkbox">
            <input
              v-model="choseStates.stay1"
              type="checkbox"
              name=""
              id="event2"
            />
            <div class="txt">숙박</div></label
          >
        </li>
        <li>
          <label for="event3" class="checkbox"
            ><input
              v-model="choseStates.key"
              type="checkbox"
              name=""
              id="event3"
            />
            <div class="txt">KEY</div></label
          >
        </li>
        <li>
          <label for="event4" class="checkbox">
            <input
              v-model="choseStates.door"
              type="checkbox"
              name=""
              id="event4"
            />
            <div class="txt">출입문</div></label
          >
        </li>
      </ul>
      <div class="select-area">
        <select v-model="floorNo" class="select">
          <!-- <option value="0">층 선택</option> -->
          <option :value="0">층 선택</option>
          <option v-for="floor in floors" :key="floor.no" :value="floor.no">
            {{ floor.no }}층
          </option>
        </select>
        <select v-model="roomId" id="roomSelect" class="select">
          <option :value="0">객실 선택</option>
          <option v-for="room in floorRooms" :key="room.id" :value="room.id">
            {{ room.name }}
          </option>
        </select>
        <input type="text" class="search" @keyup="doFloorRoomsFilter($event)" />
      </div>
      <ul class="list">
        <template v-for="item in controlStateEvents">
          <li :class="item.highlight ? 'orange' : 'blue'">
            <em
              >[{{ item.room_name }}]
              {{ dayjs(item.reg_date).format('HH:mm') }}</em
            >{{ item.msg }}
          </li>
        </template>
        <template v-for="item in controlStateLogs"
          ><!-- blue | orange -->
          <li :class="item.highlight ? 'orange' : 'blue'">
            <em
              >[{{ item.room_name }}]
              {{ dayjs(item.reg_date).format('HH:mm') }}</em
            >{{ item.msg }}
          </li>
        </template>
      </ul>
    </div>
  </div>
  <WindowPopup
    ref="windowPopup"
    @onClose="(val: any) => eventClosePopup(val)"
    @onRecvEvtFromWinPop="(val: any) => onRecvWinPop(val)"
  ></WindowPopup>
</template>

<script setup lang="ts">
import { ref, computed, watch, getCurrentInstance } from 'vue';
import { useStore } from 'vuex';
import { Floor, FloorRoom, Room, RoomStateLog } from '@/types';
import { roomBiz } from '@/biz/roomBiz';
import { viewUtil } from '@/utils/view-util';
import { roomStateLogBiz } from '@/biz/roomStateLogBiz';
import {
  controlStateBiz,
  ControlState,
  ChoseStates,
  ChoseStatesClass,
} from '@/biz/controlStateBiz';
import _ from 'lodash';
import dayjs from 'dayjs';
import WindowPopup from '@/components/popup/WindowPopup.vue';

// =========================================================
// 선언
// =========================================================
const store = useStore();
const context = getCurrentInstance();

const user = store.getters['user'];
// console.log(`*** MainRoomEvents - user ::`, user);

const choseStates = ref<ChoseStates>(new ChoseStatesClass());
const floorNo = ref<number>(0);
const roomId = ref<number>(0);
const roomsFilter = ref<string>(null);

// =========================================================
// 초기 조회
// =========================================================
roomBiz.roomsByPlaceId(store, user.place_id);
roomStateLogBiz.roomStateDayLogs(store, user.place_id, -1);

// =========================================================
// COMPUTED
// =========================================================
// 층 목록.
const floors = computed<Floor[]>(() => roomBiz.getterFloors(store));

// 층별 객실 목록.
const floorRooms = computed<FloorRoom[]>(() =>
  roomBiz.getterFloorRooms(store, floorNo.value)
);

// 전체 객실 목록.
const rooms = computed<Room[]>(() => roomBiz.getterRooms(store));

// 이벤트 내용.
const controlStateEvents = computed<ControlState[]>(() => {
  let csList = store.getters['controlState/list'];
  // console.log(`*** MainRoomEvents - controlStateEvents - csList ::`, csList);
  csList = _.cloneDeep(csList); // 메세지 설정을 위해 깊은 복사.
  return controlStateBiz.filtering(
    csList,
    choseStates,
    floorNo,
    roomId,
    roomsFilter
  );
});

// 객실 상태 로그 내용.
const controlStateLogs = computed<ControlState[]>(() => {
  let roomStateLogList = roomStateLogBiz.getterRoomStateLogs(store);
  // console.log(`*** MainRoomEvents - controlStateLogs - roomStateLogList ::`, roomStateLogList);

  // ControlState[]로 변환.
  let csList = roomStateLogList.map((roomStateLog: RoomStateLog) => {
    const room = rooms.value.find((room) => room.id === roomStateLog.room_id);
    return controlStateBiz.valueOfRoomStateLog(roomStateLog, room);
  });
  // return filtering(csList);
  return controlStateBiz.filtering(
    csList,
    choseStates,
    floorNo,
    roomId,
    roomsFilter
  );
});

// =========================================================
// WATCH
// =========================================================
watch(
  () => floorNo.value,
  () => {
    // console.log(`*** MainRoomEvents - floorNo ::`, floorNo.value);
    roomId.value = 0;
  }
);

// =========================================================
// 기능
// =========================================================

// =========================================================
// 사용자 액션
// =========================================================
const doFloorRoomsFilter = (e: Event) => {
  const filterStr = (e.target as HTMLInputElement).value.trim();
  if (filterStr.length > 0) {
    roomsFilter.value = filterStr;
  } else {
    roomsFilter.value = null;
  }
};

const doOpenNews = () => {
  const url = 'room/room_event';
  // store, 'room/room_event', 480, 490
  // viewUtil.showHidePopup(store, url, 480, 490);
  openPopup(url, 480, 490, 'room_event');
};

const openPopup = (
  url: string,
  width: number,
  height: number,
  name: string
) => {
  const winPop: any = context.refs.windowPopup;
  winPop.openPopup(url, width, height, name);
};

const eventClosePopup = (val: any) => {
  console.log(`*** eventClosePopup::`, val);
};

const onRecvWinPop = (receiveObject: any) => {
  console.log(`*** onRecvWinPop - receiveObject ::`, receiveObject);
};

// =========================================================
// 정보 & onMounted
// =========================================================
</script>
