<template>
  <div class="m-reservation-status">
    <div class="t">
      <h3>예약 현황</h3>
      <div class="r">
        <div class="txt">{{ lastTime.format('HH:mm') }}</div>
        <div class="more">
          <a title="새창열림" @click="openReserv()">팝업열기</a>
        </div>
      </div>
    </div>
    <div class="b">
      <div class="list">
        <dl>
          <dt>총건수</dt>
          <dd>{{ reservCounter.total }}</dd>
        </dl>
        <dl>
          <dt>신규</dt>
          <dd>{{ reservCounter.pending }}</dd>
        </dl>
        <dl>
          <dt>처리</dt>
          <dd>{{ reservCounter.entered }}</dd>
        </dl>
        <dl>
          <dt>취소</dt>
          <dd>{{ reservCounter.cancel }}</dd>
        </dl>
      </div>
      <ul class="b-list">
        <li v-for="item in roomReservsWaits">
          <a
            ><span
              ><em class="txt3"
                >[keyText('room_reserv', 'ota_code', item.ota_code)]</em
              >
              {{ viewUtil.keyText('', '', item.stay_type) }}/{{
                item.check_in_exp
              }}/{{ item.room_name }}</span
            ></a
          >
          <!-- <i> <img src="../assets/images/icon-new.png" alt="new" /></i> -->
          <em class="time">12:24</em>
        </li>
      </ul>
    </div>
  </div>
</template>

<script setup lang="ts">
import { reactive, ref, computed } from 'vue';
import { useStore } from 'vuex';
import { RoomReserv } from '@/types';
import { roomReservBiz, ReservCounter } from '@/biz/roomReservBiz';
import { viewUtil } from '@/utils/view-util';
import dayjs from 'dayjs';

// =========================================================
// 선언
// =========================================================
const store = useStore();

const lastTime = ref<dayjs.Dayjs>(dayjs());

// =========================================================
// 초기 조회
// =========================================================

// =========================================================
// COMPUTED
// =========================================================
// 예약 대기건
const roomReservsWaits = computed(() => {
  const list = store.getters['roomReserv/list'] || [];
  const unUses = list.filter((item: RoomReserv) => item.state == 'A') || [];
  if (unUses.length > 2) {
    return [unUses[0], unUses[1]]; // 2개만.
  } else {
    return unUses;
  }
});

const reservCounter = computed<ReservCounter>(() => {
  return roomReservBiz.getterReservCounter(store);
});

// =========================================================
// 기능
// =========================================================

// =========================================================
// 사용자 액션
// =========================================================
const openReserv = () => {
  // const winPop: any = context.refs.popupReserve;
  const url = `dashboard/registration_status`;
  // winPop.openPopup(url, 760, 630, 'pop_reserv');
  viewUtil.showHidePopup(store, url, 760, 630);
};

// =========================================================
// 정보
// =========================================================
</script>
