<template>
  <div class="m-reservation-statistics">
    <div class="t">
      <h3>예약 통계</h3>
      <ul class="radio-list">
        <li>
          <label for="total1" class="radio">
            <input
              v-model="state.stayRangeUnit"
              value="j"
              type="radio"
              name="total"
              id="total1"
            />
            <span class="txt">일간통계</span>
          </label>
        </li>
        <li>
          <label for="total2" class="radio">
            <input
              v-model="state.stayRangeUnit"
              value="v"
              type="radio"
              name="total"
              id="total2"
              checked
            />
            <span class="txt">주간통계</span>
          </label>
        </li>
        <li>
          <label for="total3" class="radio">
            <input
              v-model="state.stayRangeUnit"
              value="Ym"
              type="radio"
              name="total"
              id="total3"
            />
            <span class="txt">월간통계</span>
          </label>
        </li>
      </ul>
    </div>
    <div class="b">
      <div class="btns">
        <v-btn
          :disabled="!isPrevStayReservCount"
          @click="prevStayReservCount()"
          variant="text"
          style="min-width: 50px; height: 30px"
        >
          <v-icon color="darkgrey" size="large"
            >mdi-chevron-left</v-icon
          >
        </v-btn>
        <span class="title-sub">{{ stayReservTitle }}</span>
        <v-btn
          :disabled="!isNextStayReservCount"
          @click="nextStayReservCount()"
          variant="text"
          style="min-width: 50px; height: 30px"
        >
          <v-icon color="darkgrey" size="large"
            >mdi-chevron-right</v-icon
          >
        </v-btn>
      </div>
      <Chart3
        :nowName="stayState.nowName"
        :nowCount="stayState.nowCount"
        :previousName="stayState.previousName"
        :previousCount="stayState.previousCount"
        style="height: 170px"
        class="pa-2"
      ></Chart3>
      <!-- style="height: 230px;" -->
    </div>
  </div>
</template>

<script setup lang="ts">
import { reactive, computed, watch, onMounted } from 'vue';
import { useStore } from 'vuex';
import { dateBiz, RangeUnit } from '@/biz/dateBiz';
import { roomReservBiz } from '@/biz/roomReservBiz';
import { viewUtil } from '@/utils/view-util';
import Chart3 from '../dashboard/registration_chart3.vue';
import dayjs from 'dayjs';


// =========================================================
// 선언
// =========================================================
const store = useStore();
const user = store.getters['user'];

const today = dayjs();
// const today = dayjs('2023-08-12'); // TEST
const todayStr = today.format('YYYY-MM-DD');

const state = reactive({
  stayRangeUnit: RangeUnit.WEEK_OF_YEAR,
  stayReservDayNum: 0,
  stayReservWeekNum: 0,
  stayReservMonthNum: 0,
  stayReservCountDay: [],
  stayReservCountWeek: [],
  stayReservCountMonth: [],

  main: {
    beginDate: todayStr, // 메인에서 props 받기로 변경 예정.
    endDate: todayStr, //  메인에서 props 받기로 변경 예정.
  },
});

const stayState = reactive({
  nowName: '',
  nowCount: null,
  previousName: '',
  previousCount: null,
});

// =========================================================
// 초기 조회
// =========================================================
// 숙발형태 예약현황
roomReservBiz.getStayReservCount(
  store,
  user.place_id,
  today,
  RangeUnit.DAY_OF_YEAR,
  state
);

roomReservBiz.getStayReservCount(
  store,
  user.place_id,
  today,
  RangeUnit.WEEK_OF_YEAR,
  state
);

roomReservBiz.getStayReservCount(
  store,
  user.place_id,
  today,
  RangeUnit.MONTH_OF_YEAR,
  state
);

// 예약현황
roomReservBiz.roomReservs(
  store,
  user.place_id,
  state.main.beginDate,
  state.main.endDate
);

// =========================================================
// COMPUTED
// =========================================================
// 예약통계 기간 이전 가능 여부
const isPrevStayReservCount = computed(() => {
  if (state.stayRangeUnit === RangeUnit.DAY_OF_YEAR) {
    return state.stayReservDayNum < state.stayReservCountDay.length - 1;
  } else if (state.stayRangeUnit === RangeUnit.WEEK_OF_YEAR) {
    return state.stayReservWeekNum < state.stayReservCountWeek.length - 1;
  } else if (state.stayRangeUnit === RangeUnit.MONTH_OF_YEAR) {
    return state.stayReservMonthNum < state.stayReservCountMonth.length - 1;
  }
  return false;
});

// 예약통계 기간 다음 가능 여부
const isNextStayReservCount = computed(() => {
  if (state.stayRangeUnit === RangeUnit.DAY_OF_YEAR) {
    return state.stayReservDayNum > 0;
  } else if (state.stayRangeUnit === RangeUnit.WEEK_OF_YEAR) {
    return state.stayReservWeekNum > 0;
  } else if (state.stayRangeUnit === RangeUnit.MONTH_OF_YEAR) {
    return state.stayReservMonthNum > 0;
  }
  return false;
});

// 예약통계 기간별 제목
const stayReservTitle = computed(() => {
  if (state.stayRangeUnit === RangeUnit.DAY_OF_YEAR) {
    if (state.stayReservDayNum === 0) {
      return '오늘';
    } else {
      return `${state.stayReservDayNum}일 전`;
    }
  } else if (state.stayRangeUnit === RangeUnit.WEEK_OF_YEAR) {
    if (state.stayReservWeekNum === 0) {
      return '이번주';
    } else {
      return `${state.stayReservWeekNum}주 전`;
    }
  } else if (state.stayRangeUnit === RangeUnit.MONTH_OF_YEAR) {
    if (state.stayReservMonthNum === 0) {
      return '이번달';
    } else {
      return `${state.stayReservMonthNum}달 전`;
    }
  } else {
    return '';
  }
});


watch(
  () => [
    state.stayRangeUnit,
    state.stayReservDayNum,
    state.stayReservWeekNum,
    state.stayReservMonthNum,
  ],
  (cur, pre) => {
    let nv = null;
    if (state.stayRangeUnit === RangeUnit.DAY_OF_YEAR) {
      nv = roomReservBiz.stayReservNowAndPrevious(
        state.stayReservCountDay,
        state.stayReservDayNum
      );
      if (state.stayReservDayNum === 0) {
        stayState.nowName = '오늘';
        stayState.previousName = '어제';
      } else {
        stayState.nowName = `${state.stayReservDayNum}일 전`;
        stayState.previousName = `${state.stayReservDayNum + 1}일 전`;
      }
    } else if (state.stayRangeUnit === RangeUnit.WEEK_OF_YEAR) {
      nv = roomReservBiz.stayReservNowAndPrevious(
        state.stayReservCountWeek,
        state.stayReservWeekNum
      );
      if (state.stayReservWeekNum === 0) {
        stayState.nowName = '이번주';
        stayState.previousName = '지난주';
      } else {
        stayState.nowName = `${state.stayReservWeekNum}주 전`;
        stayState.previousName = `${state.stayReservWeekNum + 1}주 전`;
      }
    } else if (state.stayRangeUnit === RangeUnit.MONTH_OF_YEAR) {
      nv = roomReservBiz.stayReservNowAndPrevious(
        state.stayReservCountMonth,
        state.stayReservMonthNum
      );
      if (state.stayReservMonthNum === 0) {
        stayState.nowName = '이번달';
        stayState.previousName = '지난달';
      } else {
        stayState.nowName = `${state.stayReservMonthNum}달 전`;
        stayState.previousName = `${state.stayReservMonthNum + 1}달 전`;
      }
    }

    if (nv !== null) {
      stayState.nowCount = [
        nv.now.total_count,
        nv.now.stay_2_count,
        nv.now.stay_1_count,
        nv.now.stay_3_count,
      ];
      stayState.previousCount = [
        nv.previous.total_count,
        nv.previous.stay_2_count,
        nv.previous.stay_1_count,
        nv.previous.stay_3_count,
      ];
    }
    // console.log(`*** watch - otaState.nowCount :: `, otaState.nowName, otaState.nowCount);
    // console.log(`*** watch - otaState.previousCount :: `, otaState.previousName, otaState.previousCount);
  }
);

// =========================================================
// 기능
// =========================================================

// =========================================================
// 사용자 액션
// =========================================================
const prevStayReservCount = () => {
  if (state.stayRangeUnit === RangeUnit.DAY_OF_YEAR) {
    if (state.stayReservDayNum < state.stayReservCountDay.length - 1) {
      state.stayReservDayNum++;
    }
  } else if (state.stayRangeUnit === RangeUnit.WEEK_OF_YEAR) {
    if (state.stayReservWeekNum < state.stayReservCountWeek.length - 1) {
      state.stayReservWeekNum++;
    }
  } else if (state.stayRangeUnit === RangeUnit.MONTH_OF_YEAR) {
    if (state.stayReservMonthNum < state.stayReservCountMonth.length - 1) {
      state.stayReservMonthNum++;
    }
  }
};

const nextStayReservCount = () => {
  if (state.stayRangeUnit === RangeUnit.DAY_OF_YEAR) {
    if (state.stayReservDayNum > 0) {
      state.stayReservDayNum--;
    }
  } else if (state.stayRangeUnit === RangeUnit.WEEK_OF_YEAR) {
    if (state.stayReservWeekNum > 0) {
      state.stayReservWeekNum--;
    }
  } else if (state.stayRangeUnit === RangeUnit.MONTH_OF_YEAR) {
    if (state.stayReservMonthNum > 0) {
      state.stayReservMonthNum--;
    }
  }
};


// =========================================================
// 정보
// =========================================================
onMounted(() => {
  setTimeout(() => {
    state.stayRangeUnit = RangeUnit.DAY_OF_YEAR;
  }, 100);
});
</script>
