<template>
  <div id="wrapper-header">
    <header>
      <div class="l">
        <div class="logo">BI</div>
        <h1>CHECKQIN</h1>
        <div class="ml-10 ing">
          {{ CloudSyncToggle ? '동기화 중..' : '동기화 중지' }}
        </div>
        <!-- <div class="ml-4 bg-amber">
          <v-switch ref="smsButton" v-model="CloudSyncToggle" />
        </div> -->
        <!-- <div class="ing">동작중</div> -->
        <!-- <div class="ing stop">동작중단</div> -->
        <!-- <div class="connect">연결됨</div> -->
        <!-- <div class="connect dis">연결끊김</div> -->
      </div>
      <div class="r">
        <div>
          최근접속정보 :
          {{
            dayjs(user.last_login_date).format(
              'YYYY년 M월 D일 (ddd), A h시 m분'
            )
          }}
        </div>
        <div class="name">
          {{ place.name }} 담당자 :
          <span>{{ user.name }}<em>님</em></span>
        </div>
        <ul class="number">
          <li>
            <a><em>일번</em></a>
          </li>
          <!-- <li>
              <a><em class="two2">이번</em></a>
            </li> -->
          <li>
            <a @click="menuBiz.toggleMenu(store)"><em class="two3">이번</em></a>
          </li>
          <li>
            <a @click="popupBiz.doOpenUserChange(store)"
              ><em class="two">이번</em></a
            >
          </li>
          <li>
            <a @click="doLogout()"><em class="close">닫기</em></a>
          </li>
        </ul>
      </div>
    </header>
    <div class="header-bottom">
      <div class="l">
        <div class="date">
          <span class="m">{{ now.month() + 1 }}월</span>
          <span class="d">{{ now.date() }}일</span>
        </div>
        <div class="time">
          {{ now.format('HH') }}<em>:</em>{{ now.format('mm') }}<em>:</em
          >{{ now.format('ss') }}
        </div>
        <div class="tit">{{ place.name }}</div>
        <div class="select-area">
          <select name="" id="" class="select">
            <option value="">(+ 03)</option>
            <option value="">(+ 04)</option>
          </select>
        </div>
      </div>
      <div class="r">
        <div class="status-m">
          <dl class="total-01">
            <dt>총객실</dt>
            <dd>{{ roomCounter?.total }}</dd>
          </dl>
          <dl class="total-02">
            <dt>숙박현황</dt>
            <dd>{{ roomCounter?.stay }}</dd>
          </dl>
          <dl class="total-03">
            <dt>대실현황</dt>
            <dd>{{ roomCounter?.rent }}</dd>
          </dl>
          <dl class="total-04">
            <dt>장기현황</dt>
            <dd>{{ roomCounter?.long }}</dd>
          </dl>
          <dl class="total-05">
            <dt>공실</dt>
            <dd>{{ roomCounter?.empty }}</dd>
          </dl>
          <dl class="total-06">
            <dt>청소요청</dt>
            <dd>{{ roomCounter?.requestClean }}</dd>
          </dl>
          <dl class="total-07">
            <dt>청소중</dt>
            <dd>{{ roomCounter?.cleaning }}</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="header-tab">
      <div class="l">
        <ul>
          <li :class="{ active: tabNo === 0 }">
            <a @click="tabNo = 0">대시보드</a>
          </li>
          <li v-for="(item, index) in roomViews">
            <a @click="popupBiz.doOpenRoomView(store, item.id, index + 1)">{{
              item.title
            }}</a>
          </li>
        </ul>
        <div class="add" style="padding-top: 0.2rem">
          <a @click="popupBiz.doOpenRoomViewSetting(store)">(관리/추가) </a>
        </div>
      </div>
      <!-- <div class="r d-flex">
        <span class="tit mr-4" style="margin-top: 9px">탭분리</span>
        <div class="cont" style="margin-top: 5px">
          <v-switch
            v-model="isTabPopup"
            hide-details
            density="compact"
            color="orange"
          ></v-switch>
        </div>
      </div> -->
    </div>
  </div>
</template>

<script setup lang="ts">
import {
  ref,
  computed,
  watch,
  onMounted,
  onBeforeUnmount,
  reactive,
} from 'vue';
import { useStore } from 'vuex';
import { Place, RoomView } from '@/types';
import { menuBiz } from '@/biz/menuBiz';
import { placeBiz } from '@/biz/placeBiz';
import { RoomCounter } from '@/biz/roomStateBiz';
import { roomViewBiz } from '@/biz/roomViewBiz';
import { popupBiz } from '@/biz/popupBiz';
import dayjs from 'dayjs';
import 'dayjs/locale/ko';
dayjs.locale('ko');

// =========================================================
// 선언
// =========================================================
const store = useStore();
const user = store.getters['user'];

const now = ref<dayjs.Dayjs>(dayjs());

const state = reactive({});

const CloudSyncToggle = computed({
  get: () => store.getters['preference/item'].cloud_sync_yn === 1,
  set: (value) => {},
});

// =========================================================
// 초기 조회
// =========================================================

// =========================================================
// COMPUTED
// =========================================================
const isTabPopup = computed<boolean>({
  get(): boolean {
    return store.getters['mainState/isTabPopup'];
  },
  set(newValue: boolean) {
    store.commit('mainState/isTabPopup', newValue);
  },
});

const tabNo = computed<number>({
  get(): number {
    return store.getters['mainState/tabNo'];
  },
  set(newValue: number) {
    store.commit('mainState/tabNo', newValue);
  },
});

const place = computed<Place>(() => placeBiz.getterPlace(store));
const roomViews = computed<RoomView[]>(() => {
  return roomViewBiz.getterRoomViews(store);
});
const roomCounter = computed<RoomCounter>(
  () => store.getters['roomState/roomCounter']
);

console.log('*** place', place.value);
console.log('*** roomViews', roomViews.value);
console.log('*** roomCounter', roomCounter?.value);

// =========================================================
// WATCH
// =========================================================
watch(
  () => isTabPopup.value,
  () => {
    if (isTabPopup.value === false) {
      tabNo.value = 0;
    }
  }
);

// =========================================================
// 사용자 액션
// =========================================================

const doLogout = () => {
  store.dispatch('logout');
};

// =========================================================
// 정보
// =========================================================
let timerID = null;

onMounted(() => {
  timerID = setInterval(() => {
    now.value = dayjs();
    // console.log(`*** now ::`, now.value.format('YYYY-MM-DD HH:mm:ss'));
  }, 1000);
});

onBeforeUnmount(() => {
  clearInterval(timerID);
});
</script>
