<template>
  <v-card color="#F2F5F8" border="2" rounded="lg" class="pop-container">
    <popup-title :title="title"></popup-title>
    <v-card-text
      class="bg-white mt-4 pa-8"
      style="border: 1px solid rgb(214, 219, 226) !important"
    >
      <div class="text-body-2 d-flex align-center justify-center">
        <v-icon
          icon="mdi mdi-alert-circle"
          color="#FC6060"
          class="mr-1"
        ></v-icon>
        {{ text }}
      </div>
      <div class="input-box ht-40 mt-5">
        <v-text-field
          single-line
          hide-details=""
          bg-color="#F9F9F9"
          variant="outlined"
        ></v-text-field>
      </div>
    </v-card-text>
    <v-card-actions class="mt-4 px-4 pb-0 justify-space-between">
      <v-btn
        height="40"
        color="#2680EB"
        text-color="#fff"
        variant="outlined"
        @click="dialog = false"
        class="mx-1 flex-grow-1"
      >
        추가
      </v-btn>
      <v-btn
        height="40"
        color="#3C4D60"
        text-color="#fff"
        variant="outlined"
        @click="dialog = false"
        class="mx-1 flex-grow-1"
      >
        취소
      </v-btn>
    </v-card-actions>
  </v-card>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
import PopupTitle from '@/components/PopupTitle.vue';

export default defineComponent({
  name: 'PopAddRoom',
  props: {
    title: {
      type: String,
    },
    text: {
      type: String,
    },
  },
  components: {
    PopupTitle,
  },
  data: () => ({}),
});
</script>
