<template>
  <v-card-title class="room-title text-white mx-6 rounded">
    <v-row>
      <v-col class="v-col-auto d-flex align-center">
        <v-icon icon="mdi mdi-monitor" size="x-small"></v-icon>
        <span class="text-caption ml-1">1층 객식현황</span>
        <div class="room-count ml-2">
          <v-badge color="#5C86F1" content="06" inline></v-badge>
          <v-badge color="#7868E5" content="03" inline></v-badge>
          <v-badge color="#3770BB" content="01" inline></v-badge>
          <v-badge color="#4FC466" content="02" inline></v-badge>
          <v-badge color="#D626BE" content="03" inline></v-badge>
          <v-badge color="#5E7892" content="00" inline></v-badge><!-- 비어있을 때 -->
        </div>
        <v-divider vertical color="#64788D" class="mx-2 my-1"></v-divider>
        <div class="text-caption text-white">
          <v-icon icon="mdi mdi-alert-circle" color="#52ACE0" size="small" class="mr-1"></v-icon>
          <span class="text-grey-lighten-1">[스위트룸 203호] 00 이벤트가 발생했습니다.</span>
        </div>
        <v-divider vertical color="#64788D" class="mx-2 my-1"></v-divider>
        <div class="text-caption text-white">
          <v-icon icon="mdi mdi-alert" color="#FFAA00" size="small" class="mr-1"></v-icon>
          <span class="text-grey-lighten-1">[스위트룸 203호] 00 이벤트가 발생했습니다.</span>
        </div>
        <v-divider vertical color="#64788D" class="mx-2 my-1"></v-divider>
        <div class="text-caption text-white">
          <v-icon icon="mdi mdi-alert-circle" color="#52ACE0" size="small" class="mr-1"></v-icon>
          <span class="text-grey-lighten-1">[스위트룸 203호] 00 이벤트가 발생했습니다.</span>
        </div>
        <v-divider vertical color="#64788D" class="mx-2 my-1"></v-divider>
        <div class="text-caption text-white">
          <v-icon icon="mdi mdi-alert" color="#FFAA00" size="small" class="mr-1"></v-icon>
          <span class="text-grey-lighten-1">[스위트룸 203호] 00 이벤트가 발생했습니다.</span>
        </div>
      </v-col>
      <v-col class="v-col-auto d-flex align-center ml-auto">
        <v-btn elevation="0" icon="mdi mdi-cursor-move" size="x-small" width="24" height="20" color="#43586E" class="rounded"></v-btn>
        <v-divider vertical color="#64788D" class="mx-2 my-1"></v-divider>
        <v-icon icon="mdi mdi-circle" size="x-small" color="#00FFFF" class="ico-circle text-body-2 on"></v-icon>
        <v-divider vertical color="#64788D" class="mx-2 my-1"></v-divider>
        <v-btn
          elevation="0"
          icon="mdi mdi-menu"
          size="small"
          width="20"
          height="20"
          text-color="#52ACE0"
          style="background: transparent;"
        ></v-btn>
      </v-col>
    </v-row>
  </v-card-title>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "RoomTop",
  components: {},
});
</script>

<style lang="scss" scoped>
.ico-circle {
  position: relative;
  color: #43586E;
  &.on {
    color: #00FFFF;
    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #00FFFF;
      filter: blur(2px);
    }
  }
}
</style>