<template>
  <div 
    class="tooltip-box type-list up"
    style="position: absolute; left: -24px; bottom: -65px"
  >
    <v-card
      elevation="0"
      border="1"
      rounded="lg"
      color="#25313DF2"
      text-color="#fff"
      class="px-3 py-2"
    >
      <dl class="d-flex justify-space-between">
        <dt class="text-caption text-white font-weight-light">입실</dt>
        <dd class="text-caption text-yellow-darken-2">22-12-245 / 20:08</dd>
      </dl>
      <dl class="d-flex justify-space-between">
        <dt class="text-caption text-white font-weight-light">퇴실예정</dt>
        <dd class="text-caption text-cyan-accent-3">22-12-25 / 11:35</dd>
      </dl>
      <dl class="d-flex justify-space-between">
        <dt class="text-caption text-white font-weight-light">이용시간</dt>
        <dd class="text-caption text-white">00:25</dd>
      </dl>
      <dl class="d-flex justify-space-between">
        <dt class="text-caption text-white font-weight-light">초과시간</dt>
        <dd class="text-caption text-blue">00:25</dd>
      </dl>
    </v-card>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "TooltipList",
  components: {},
  props: {},
  data() {
    return {
      show: true,
    };
  },
});
</script>
