<template>
  <v-app :theme="theme">
    <v-main class="banselect">
      <router-view />
    </v-main>

    <!-- 기본 테마 : dark -->
    <!-- <v-btn
      v-if="routeName !== 'idleView' && routeName !== 'login'"
      @click="toggleTheme()"
      style="position: fixed; let: 0; bottom: 0; z-index: 9999"
    >
      <span class="text-red">toggle theme - {{ theme }}</span>
    </v-btn> -->
  </v-app>
</template>

<style lang="scss">
@use '@/assets/scss/style.scss';
</style>

<script lang="ts">
import {
  defineComponent,
  ref,
  computed,
  watch,
  reactive,
  provide,
  onMounted,
  onErrorCaptured,
  getCurrentInstance,
} from 'vue';

import { useStore } from 'vuex';
import { useRouter, useRoute } from 'vue-router';

import { DotLoader } from 'vue3-spinner';
import { LAST_ERR, LOADER } from '@/store/mutation_types';
import { IS_LOGINED } from '@/store/mutation_types';
import { debug } from '@/api/config';

import Swal from 'sweetalert2';
import _ from 'lodash';

import { ObjectEquals } from '@/utils/data-util';

export default defineComponent({
  name: 'App',
  components: {
    DotLoader,
  },

  setup(props, context) {
    const componentName = getCurrentInstance()?.type?.name;
    const store = useStore();
    const router = useRouter();
    const route = useRoute();

    const isLocal = import.meta.env.VITE_MODE;

    const isLogined = computed(() => {
      return store.getters[IS_LOGINED];
    });

    // 로그인 검증
    router.beforeEach((to, from) => {
      if (to.path === '/' || to.path === '/guide' || to.path === '/roomrenew') {
        return true;
      } else if (to.path === '/login') {
        return isLogined.value ? false : true;
      } else if (isLogined.value) {
        return true;
      } else {
        return { path: '/login' };
      }
    });

    const routeName = computed(() => route.name);

    const theme = ref('light'); // 'dark' : 'light'

    const toggleTheme = () => {
      theme.value = theme.value === 'light' ? 'dark' : 'light';
      store.dispatch('setTheme', theme.value);
    };

    // onMounted
    onMounted(function () {
      console.log('mounted Called! ');

      // provide reactive value
      // const testRef = reactive({});
      // provide('testRef', testRef);
    });

    watch(
      () => store.state,
      (nVal: object, oVal: object): void => {
        // console.log(componentName, '-> store.state', { ...nVal });

        // let showState = ['auth', 'roomSale', 'roomState', 'com', 'preference'];

        let changeState = {};

        _.map(nVal, (v, k) => {
          const val = v;
          const key = k;
          const ov = oVal[key];

          // 변경 스테이츠만 추가.(현재는 사용 안함)
          // let isChange = ObjectEquals(val, ov);
          // if (isChange) {
          changeState[key] = val;
          // }
        });

        let changeStateKeys = Object.keys(changeState);

        // 로컬에서만 로깅.
        if (isLocal && changeStateKeys.length > 0) {
          console.log(componentName, '========= STORE STATE ========');
          console.log(componentName, { ...changeState });
          console.log(componentName, '==============================');
        }
      },
      { deep: true }
    );

    // 전역 에러 처리
    watch(
      () => store.getters[LAST_ERR],
      (nVal, oVal) => {
        let { timestamp, type, code, message, detail, logout } = nVal;

        console.log(componentName, '========> 전역 에러 처리 <========');
        console.log({ ...nVal });
        console.log(componentName, '===============================');
        console.log(componentName, '');

        if (debug) {
          Swal.fire({
            backdrop: false,
            icon: 'error',
            title: `[${code}] ${type}`,
            html: `${message} <br/> ${detail}`,
            showCloseButton: false,
            confirmButtonText: '확인',
          }).then((result) => {
            if (logout) {
              store.dispatch('logout');
            }
          });
        }
      }
    );

    return {
      routeName,
      theme,
      toggleTheme,
    };
  },
});
</script>
