<template>
  <div id="loginWrapper">
    <div id="wrapper-header">
      <header>
        <div class="l">
          <div class="logo">BI</div>
          <h1>CHECKQIN</h1>
        </div>
        <div v-if="isLogined" class="r">
          <ul class="number">
            <li>
              <v-btn
                size="x-small"
                density="compact"
                icon="mdi-close-thick"
                style="height: 27px; width: 27px"
                @click="doLogout()"
              ></v-btn>
            </li>
          </ul>
        </div>
      </header>
    </div>
    <div class="login-area">
      <div class="login">
        <div class="login-tit">CHECKQIN</div>
        <div class="login-txt">
          {{ isLogined ? '업소 선택' : '사용자 로그인' }}
        </div>
        <select
          v-if="isLogined"
          id="selectPlace"
          class="login-place"
          v-model="state.placeId"
          @keydown.enter="doPlaceKeydown($event)"
        >
          <option v-for="item in placeList" :value="item.id">
            {{ item.name }}
          </option>
        </select>
        <v-form ref="form" lazy-validation>
          <v-text-field
            v-if="!isLogined"
            v-model="state.id"
            :rules="valid.userid"
            class="login-pw"
            prepend-inner-icon="mdi: mdi-account"
            variant="plain"
            prefix="아이디"
          ></v-text-field>
          <v-text-field
            v-if="!isLogined"
            v-model="state.pwd"
            :rules="valid.password"
            :append-inner-icon="
              state.visible ? 'mdi:mdi-eye-off' : 'mdi:mdi-eye'
            "
            :type="state.visible ? 'text' : 'password'"
            class="login-pw"
            prepend-inner-icon="mdi:mdi-lock"
            variant="plain"
            prefix="비밀번호"
            @click:append-inner="state.visible = !state.visible"
            @keydown.enter="doLogin()"
          ></v-text-field>
          <div
            v-if="!isLogined"
            class="login-btn"
            @click="doLogin()"
            style="cursor: pointer"
          >
            로그인
          </div>
          <div
            v-else
            class="login-btn"
            @click="doPlace()"
            style="cursor: pointer"
          >
            선택
          </div>
          <div v-if="!isLogined" class="login-info">
            ※ 비밀번호를 분실한 경우 관리자에게 문의하십시요.
          </div>
        </v-form>
        <!-- <div v-if="!isLogined" class="login-new"><a >새 비밀번호 생성</a></div> -->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  reactive,
  ref,
  computed,
  watch,
  onMounted,
  defineComponent,
  getCurrentInstance,
} from 'vue';
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';
import { encHash } from '@/utils/crypto-util';
import { validRules } from '@/utils/valid-util';
import { IS_LOGINED } from '@/store/mutation_types';
import Swal from 'sweetalert2';
import { Place } from '@/types';

export default defineComponent({
  name: 'login',
  setup(props, context) {
    const router = useRouter();
    const store = useStore();

    const form = ref(null);
    const selectPlace = ref(null);

    const state = reactive({
      id: localStorage.getItem('loginId') || '',
      pwd: '123456', // TODO: 테스트용, 나중에 삭제.
      visible: false,
      placeId: null,
    });

    const isLogined = computed(() => {
      return store.getters[IS_LOGINED];
    });

    const placeList = computed(() => {
      return store.getters['place/list'];
    });

    onMounted(() => {
      console.log('- onMounted ', { isLogined: isLogined.value });
      // 로그인 여부 확인
      if (isLogined.value) {
        // router.push({ path: '/main' });
        doLogin();
      } else {
        let timeout = 1000 * 60; // 1분
        setTimeout(() => {
          // router.push({ path: '/idle' }); // idle 페이지로 이동
        }, timeout);
      }
    });

    //@@ 로그인 처리
    const doLogin = async () => {
      const validate = await form.value.validate();

      if (validate.valid) {
        const encTxt = encHash(state.pwd);
        const result = await store.dispatch('login', {
          id: state.id,
          pwd: encTxt,
        });

        const { success, user, error } = result;
        console.log('*** doLogin 결과 - user ::', user);

        if (success) {
          state.placeId = user.place_id;

          if (user.type != 0 && user.type != 1) {
            //권한 (0:슈퍼관리자, 1:업주(책임자), 2:매니저(관리자), 3:카운터(사용자), 4:메이드, 9:뷰어)
            router.push({ path: '/main' }); // 일반 계정은 메인으로 이동
            return;
          }

          await store.dispatch('place/getList', {}).then((places: Place[]) => {
            if (places.length === 0) {
              Swal.fire({
                icon: 'warning',
                title: '업소정보가 없습니다.',
                html: '관리자에게 문의하세요.',
                showCloseButton: false,
                confirmButtonText: '확인',
              });
            }
          });

          state.placeId = user.place_id;
          document.getElementById('selectPlace').focus();
        } else {
          Swal.fire({
            icon: 'warning',
            title: error.message || '사용자 정보가 없습니다.',
            html: error.detail || '관리자에게 문의하세요.',
            showCloseButton: false,
            confirmButtonText: '확인',
          });

          state.placeId = 0;
        }
      }
    };

    const doLogout = () => {
      store.dispatch('logout');
    };

    const doPlace = () => {
      console.log('*** doPlace', state.placeId);

      if (state.placeId === null) {
        Swal.fire({
          icon: 'info', // error, warning, success, info
          title: '업소를 선택하세요.',
          html: '관리할 업소를 선택해야 합니다.',
          showCloseButton: false,
          confirmButtonText: '확인',
        });
        return;
      }

      const user = store.getters['user'];
      console.log(`*** doPlace: place_id 변경 전 ::`, user);

      const prevPlaceId = user.place_id;
      store.dispatch('updateUser', { place_id: state.placeId });
      console.log(
        `*** doPlace: place_id 변경 :: ${prevPlaceId} -> ${state.placeId}`
      );
      router.push({ path: '/main' });
    };

    const doPlaceKeydown = (e: Event) => {
      // console.log(`*** doPlaceKeydown - event ::`, e);
      doPlace();
    };

    return {
      form,
      state,
      isLogined,
      valid: validRules(),
      placeList,
      doLogin,
      doPlace,
      doLogout,
      doPlaceKeydown,
    };
  },
});
</script>
