<template>
  <div id="loginWrapper">
    <div id="wrapper-header">
      <header>
        <div class="l">
          <div class="logo">BI</div>
          <h1>TEST API</h1>
          <div class="ing">동작중</div>
          <!-- <div class="ing stop">동작중단</div> -->
          <div class="connect">연결됨</div>
          <!-- <div class="connect dis">연결끊김</div> -->
        </div>
        <!-- <div class="r">
        </div> -->
      </header>
    </div>
    <div class="login-area">
      <div class="login">
        <v-select 
          v-model="state.selectedApi" 
          :items="apiList" 
          item-title="name" 
          item-value="name" 
          :theme="$theme"
        ></v-select>

        <div style="display:flex; justify-content:end; width:100%; ">
          <v-btn variant="outlined" @click="doSelectApi()">실행</v-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  reactive,
  ref,
  computed,
  watch,
  onMounted,
  defineComponent,
  getCurrentInstance,
} from 'vue';
import { useRouter } from 'vue-router';
import { useStore } from "vuex";
import { IS_LOGINED } from '@/store/mutation_types';
import Swal from 'sweetalert2';

export default defineComponent({
  name: "testAPI",
  setup(props, context) {
    const router = useRouter();
    const store = useStore();
    
    const state = reactive({
      selectedApi: '',
    });

    interface Api {
      name: string;
      params: string[];
    }

    const apiList: Api[] = [];
    apiList.push({ name: 'place/getList', params: ['place_id'] });
    apiList.push({ name: 'roomState/getAllRoomStatesSale', params: ['place_id'] });
    apiList.push({ name: 'news/getListTop', params: [] });


    const isLogined = computed(() => {
      return store.getters[IS_LOGINED];
    });

    const doSelectApi = () => {
      console.log('- doSelectApi ', state.selectedApi);
      const user = JSON.parse(sessionStorage.getItem('user') || '{}');
      const data = {};

      const api = apiList.find((api) => api.name === state.selectedApi);
      api.params.forEach((param) => {
        if (param === 'place_id') {
          data[param] = user[param];
        }
      });

      store.dispatch(api.name, data)
      .then((res) => {
        console.log(`*** API 호출 성공 - ${api.name} ::`, res);
      })
      .catch((error) => {
        console.error(`API 호출 오류 - ${api.name} ::`, error);
      });
    };

    onMounted(function () {
      console.log('- onMounted ', { isLogined });
    });

    return {
      state,
      apiList,
      isLogined,
      doSelectApi,
    };
  },
});
</script>
