<template>
  <!-- popup -->
  <Popup :popup="popup">
    <!-- slot -->
    <template v-slot:body>
      <!-- popup-contents -->
      <div class="popup-contents">
        <v-form ref="form">
        <div class="msgbox" style="padding-bottom: 5px;">
          <div class="input-area">
            <label for="id" style="width: 5rem; font-size: 0.8rem;">아이디</label>
            <select v-model="userId" 
              style="font-size: 0.8rem;"
              @change="doPwdFocus()"
            >
              <option :value="null">선택</option>
              <option v-for="item in users" :value="item.id">{{ item.id }}</option>
            </select>
          </div>
          <div >
            <div class="box_pwd">
                <v-text-field
                  v-model="userPwd"
                  :rules="valid.password"
                  type="password"
                  id="userPwd"
                  clearable
                  density="compact"
                  label="비밀번호"
                  @keydown.enter="doChangeUser()"
                  style="font-size: 0.8rem;"
                ></v-text-field>
            </div>
          </div>
        </div>
        </v-form>
      </div>
      <!-- //popup-contents -->
    </template>
    <!-- //slot -->
    <template v-slot:footer>
      <div class="btns">
        <v-btn color="darkgrey" size="large" style="min-width: 100px" @click="doClosePopup();">취소</v-btn>
        <v-btn color="darkgrey" size="large" style="min-width: 100px" @click="doChangeUser();">변경</v-btn>
      </div>
    </template>
  </Popup>
  <!-- //popup -->
</template>

<style scoped>
.box_pwd {
  font-size: 0.8rem;
  width: 100%;
  margin-top: 10px;
}
</style>

<script setup lang="ts">
import { ref, computed } from "vue";
import { useStore } from "vuex";
import { useRoute } from "vue-router";
import Popup from "@/components/popup/popup.vue";
import "@vuepic/vue-datepicker/dist/main.css";
import Swal from 'sweetalert2';
import { User, Place, PopupParam } from '@/types';
import { userBiz } from '@/biz/userBiz';
import { encHash } from '@/utils/crypto-util';
import { validRules } from '@/utils/valid-util';
import { popupBiz } from "@/biz/popupBiz";


// =========================================================
// 선언
// =========================================================
const store = useStore();
const route = useRoute();

const user = store.getters['user'];
const popupLink = route.path.substring(1); // 앞에 '/'' 제거

const valid = validRules();

const form = ref(null);
const userId = ref<string>(user.id);
const userPwd = ref<string>(null);


// =========================================================
// 초기 조회
// =========================================================
userBiz.usersByPlaceId(store, user.place_id);


// =========================================================
// COMPUTED
// =========================================================
const users = computed<User[]>(() => {
  return store.getters['user/list'];
});


// =========================================================
// 기능
// =========================================================


// =========================================================
// 사용자 액션
// =========================================================
const doClosePopup = () => {
  window.opener.closePopup(popupLink);
};

const doPwdFocus = () => {
  document.getElementById('userPwd').focus();
};

const doChangeUser = async () => {
  // if (user.type != 0 && user.type != 1) { //권한 (0:슈퍼관리자, 1:업주(책임자), 2:매니저(관리자), 3:카운터(사용자), 4:메이드, 9:뷰어)
  //   Swal.fire({
  //     icon: 'warning',
  //     title: '권한이 없습니다.',
  //     html: '관리자에게 문의하세요.',
  //     showCloseButton: false,
  //     confirmButtonText: '확인',
  //   })
  //   return;
  // }

  const validate = await form.value.validate();

  if (validate.valid) {
    const encTxt = encHash(userPwd.value);
    const result = await store.dispatch('login', {
      id: userId.value,
      pwd: encTxt,
    });

    const { success, user } = result;

    console.log(`*** doChangeUser - store.getters['user'] ::`, store.getters['user']);

    if (success) {
      await store.dispatch('place/getList', {})
      .then((places: Place[]) => {
        if (places.length === 0) {
          Swal.fire({
            icon: 'warning',
            title: '업소정보가 없습니다.',
            html: '관리자에게 문의하세요.',
            showCloseButton: false,
            confirmButtonText: '확인',
          });
        }
      });
      Swal.fire({
        icon: 'success',
        title: '사용자 전환 완료',
        html: '사용자 전환 완료',
        showCloseButton: false,
        confirmButtonText: '확인',
      });
      doClosePopup();
    }
  }
};

// =========================================================
// 정보, onMounted, onBeforeUnmount
// =========================================================
const popup: PopupParam = {
  title: "사용자 전환",
  theme: "theme-popup-light",
  size: "size-sm",
  align: "mx-auto",  
  pin: false,
  link: popupLink,
};
</script>
