<template>
  <v-card elevation="0" rounded="0" color="#F2F5F8">
    <popup-title :title="'객실설정'"></popup-title>
    <v-layout class="pt-1 py-5 flex-column">
      <v-card-text class="pt-3 pb-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="90px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>객체선택</th>
              <td>
                <div class="d-flex align-center">
                  <v-radio-group
                    inline
                    hide-details
                    class="radio-box-group d-flex align-center flex-grow-0"
                  >
                    <v-radio
                      density="compact"
                      label="전체선택"
                      value="전체선택"
                      color="#FC6060"
                      class="radio-box"
                    ></v-radio>
                    <v-radio
                      density="compact"
                      label="개별선택"
                      value="개별선택"
                      color="#FC6060"
                      class="radio-box"
                    ></v-radio>
                  </v-radio-group>
                  <v-select
                    :items="items"
                    density="compact"
                    hide-details
                    single-line
                    class="select-box type02 ml-2"
                  ></v-select>
                  <v-btn
                    elevation="0"
                    width="70"
                    height="28"
                    color="#304153"
                    text-color="#fff"
                    class="text-caption pa-0 ml-2"
                  >
                    초기화 <v-icon icon="mdi mdi-restore" size="small"></v-icon>
                  </v-btn>
                  <v-btn
                    elevation="0"
                    min-width="56"
                    width="56"
                    height="28"
                    color="#304153"
                    text-color="#fff"
                    class="text-caption pa-0 ml-2"
                  >
                    삭제 <v-icon icon="mdi mdi-trash-can-outline" size="small"></v-icon>
                  </v-btn>
                  <v-divider vertical class="mx-3 my-1"></v-divider>
                  <v-btn
                    elevation="0"
                    min-width="90"
                    height="28"            
                    text-color="#2C2F35"
                    border="1"
                    class="text-caption pa-0 brd-red-accent-2"
                  >
                    객실 추가 <v-icon icon="mdi mdi-plus" size="small"></v-icon>
                  </v-btn>
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-body-2 pb-0 pt-5">
        <strong class="font-weight-bold">테마선택</strong>
        <div class="d-flex align-center ml-auto">
          <v-checkbox
            hide-details
            density="default"
            color="#fc6060"
            label="전체적용"
            class="check-box"
          ></v-checkbox>
        </div>
      </v-card-title>
      <v-card-text class="pt-1 pb-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="90px" />
            <col width="auto" />
            <col width="95px" />
            <col width="auto" />
            <col width="90px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>객체선택</th>
              <td>
                <v-select
                  :items="items2"
                  density="compact"
                  hide-details
                  single-line
                  class="select-box type02"
                ></v-select>
              </td>
              <th>객실추가</th>
              <td>
                <v-select
                  :items="items3"
                  density="compact"
                  hide-details
                  single-line
                  class="select-box type02"
                ></v-select>
              </td>
              <th>표시설정</th>
              <td>
                <v-select
                  :items="items4"
                  density="compact"
                  hide-details
                  single-line
                  class="select-box type02"
                ></v-select>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-body-2 pb-0 pt-5">
        <strong class="font-weight-bold">그리드 선택</strong>
        <div class="d-flex align-center ml-auto">
          <v-checkbox
            hide-details
            density="default"
            color="#fc6060"
            label="전체적용"
            class="check-box"
          ></v-checkbox>
        </div>
      </v-card-title>
      <v-card-text class="pt-1 pb-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="90px" />
            <col width="auto" />
            <col width="95px" />
            <col width="auto" />
            <col width="90px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>층수</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'3'"
                  style="max-width: 100%;"
                ></num-ctrl>
              </td>
              <th>층별 객실수</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'3'"
                  style="max-width: 100%;"
                ></num-ctrl>
              </td>
              <th>층별 간격</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'3'"
                  style="max-width: 100%;"
                ></num-ctrl>
              </td>
            </tr>
            <tr>
              <th>객실 간격</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'3'"
                  style="max-width: 100%;"
                ></num-ctrl>
              </td>
              <th>객실 넓이</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'3'"
                  style="max-width: 100%;"
                ></num-ctrl>
              </td>
              <th>객실 높이</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'3'"
                  style="max-width: 100%;"
                ></num-ctrl>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <div class="d-flex justify-center mt-6 mb-3">
        <v-btn
          width="150"
          height="40"
          elevation="0"
          color="#FC6060"
          text-color="#fff"
        >
          저장
        </v-btn>
        <v-btn
          width="150"
          height="40"
          elevation="0"
          color="#3C4D60"
          text-color="#fff"
          class="ml-5"
        >
          닫기
        </v-btn>
      </div>
    </v-layout>
  </v-card>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import PopupTitle from "@/components/PopViewTitle.vue";
import NumCtrl from "@/components/NumCtrl.vue";

export default defineComponent({
  name: "PopRoomSetting",
  components: {
    PopupTitle,
    NumCtrl,
  },
  data: () => ({
    items: ['층별 선택'],
    items2: ['기본테마'],
    items3: ['남은객실'],
    items4: ['객실명순'],
  }),
});
</script>
