<template>
  <v-card elevation="0" rounded="0" color="#F2F5F8">
    <popup-title
      :title="'203호 VIP룸 객실내역'"
      :mlAuto="'ml-auto'"
      :textShow="true"
      :text="'(12-24 17:00 ~ 12-25 17:42)'"
    ></popup-title>
    <v-card-text>
      <search-box></search-box>
      <v-card elevation="0" color="#3C4D60" text-color="#fff" class="mt-2">
        <dl
          class="d-flex align-center justify-space-between px-9"
          style="height: 80px"
        >
          <dt class="text-body-1">
            <v-icon
              icon="mdi mdi-cash-multiple"
              color="#fff"
              class="mr-2"
            ></v-icon>
            실시간 정산금액(합계)
          </dt>
          <dd class="d-flex mr-1 text-yellow">
            <strong class="text-h5 font-weight-bold font-num">560,000</strong
            ><span class="text-h6">원</span>
          </dd>
        </dl>
      </v-card>
      <v-card
        elevation="0"
        color="#FC6060"
        class="d-flex align-center pl-4 pr-0 py-2 mt-2 text-caption"
      >
        <strong
          class="d-flex align-center bg-white rounded-pill px-2 flex-grow-1 flex-shrink-0"
          style="height: 22px"
        >
          예약 2건
        </strong>
        <v-carousel hide-delimiters height="24" class="notice-carousel">
          <v-carousel-item>
            <v-card
              elevation="0"
              rounded
              color="#7868E5"
              text-color="#fff"
              width="46"
              height="22"
              class="d-flex justify-center align-center"
            >
              대실
            </v-card>
            <dl class="d-flex ml-4">
              <dt class="text-white">입실</dt>
              <dd class="text-yellow ml-2">12-24 / 15:00</dd>
              <dt class="text-white ml-3">퇴실</dt>
              <dd class="text-cyan-accent-2">12-24 / 18:00</dd>
            </dl>
            <v-btn
              min-width="36"
              width="36"
              height="22"
              variant="outlined"
              elevation="0"
              color="#fff"
              text-color="#FC6060"
              class="text-caption pa-0 ml-4"
            >
              취소
            </v-btn>
          </v-carousel-item>
          <v-carousel-item>
            <v-card
              elevation="0"
              rounded
              color="#7868E5"
              text-color="#fff"
              width="46"
              height="22"
              class="d-flex justify-center align-center"
            >
              대실
            </v-card>
            <dl class="d-flex ml-4">
              <dt class="text-white">입실</dt>
              <dd class="text-yellow ml-2">12-24 / 15:00</dd>
              <dt class="text-white ml-3">퇴실</dt>
              <dd class="text-cyan-accent-2">12-24 / 18:00</dd>
            </dl>
            <v-btn
              min-width="36"
              width="36"
              height="22"
              variant="outlined"
              elevation="0"
              color="#fff"
              text-color="#FC6060"
              class="text-caption pa-0 ml-4"
            >
              취소
            </v-btn>
          </v-carousel-item>
        </v-carousel>
      </v-card>
      <v-card
        elevation="0"
        color="#304153"
        class="d-flex align-center px-4 py-2 mt-2 text-caption"
      >
        <strong
          class="d-flex align-center bg-white rounded-pill px-2"
          style="height: 22px"
        >
          점검 0건
        </strong>
        <span class="text-white ml-auto">없음</span>
      </v-card>
      <v-table density="comfortable" class="table-view mt-2">
        <colgroup>
          <col width="80px" />
          <col width="auto" />
        </colgroup>
        <tbody>
          <tr>
            <th>직원공지</th>
            <td>
              <div class="d-flex align-center">
                <span class="text-blue">침대 커버 교체 바랍니다.</span>
                <btn-switch class="ml-auto"></btn-switch>
              </div>
            </td>
          </tr>
        </tbody>
      </v-table>
      <v-table density="comfortable" class="table-view mt-2">
        <colgroup>
          <col width="80px" />
          <col width="auto" />
        </colgroup>
        <tbody>
          <tr>
            <th>고객메모</th>
            <td>
              <span class="text-blue"
                >샴푸가 너무 오래된듯 합니다. 교체 좀 하세요.</span
              >
            </td>
          </tr>
        </tbody>
      </v-table>
      <v-table density="comfortable" class="table-view mt-2">
        <colgroup>
          <col width="80px" />
          <col width="auto" />
          <col width="85px" />
          <col width="auto" />
        </colgroup>
        <tbody>
          <tr>
            <th>객실상태</th>
            <td class="text-right">숙박</td>
            <th>총 건수</th>
            <td class="text-right">4건</td>
          </tr>
          <tr>
            <th>기본요금</th>
            <td class="text-right">50,000원</td>
            <th>현금 결제</th>
            <td class="text-right">160,000원</td>
          </tr>
          <tr>
            <th>추가요금</th>
            <td class="text-right">0원</td>
            <th>카드 결제</th>
            <td class="text-right">400,000원</td>
          </tr>
          <tr>
            <th>할인요금</th>
            <td class="text-right">0원</td>
            <th>OTA 결제</th>
            <td class="text-right">0원</td>
          </tr>
          <tr>
            <th>미수금</th>
            <td class="text-right">0원</td>
            <th>포인트</th>
            <td class="text-right">0원</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <dl class="d-flex align-center">
                <dt>총 이용시간</dt>
                <dd class="text-red-accent-2 ml-4">13시간 25분</dd>
                <dd class="d-flex align-center ml-auto">
                  <div class="d-flex align-center mr-3">
                    숙박
                    <v-card
                      elevation="0"
                      width="36"
                      height="20"
                      color="#5C86F1"
                      text-color="#fff"
                      class="text-center ml-2"
                    >
                      1건
                    </v-card>
                  </div>
                  <div class="d-flex align-center mr-3">
                    대실
                    <v-card
                      elevation="0"
                      width="36"
                      height="20"
                      color="#7868E5"
                      text-color="#fff"
                      class="text-center ml-2"
                    >
                      1건
                    </v-card>
                  </div>
                  <div class="d-flex align-center">
                    장기
                    <v-card
                      elevation="0"
                      width="36"
                      height="20"
                      color="#3770BB"
                      text-color="#fff"
                      class="text-center ml-2"
                    >
                      0건
                    </v-card>
                  </div>
                </dd>
              </dl>
            </td>
          </tr>
        </tfoot>
      </v-table>
      <div
        class="mt-2 rounded"
        style="background-color: #fff; border: 1px solid #d6dbe2"
      >
        <v-card
          elevation="0"
          color="#304153"
          class="d-flex align-center px-4 py-2"
          style="margin: 0 -1px"
        >
          <strong
            class="d-flex align-center font-weight-regular text-white"
            style="height: 22px"
          >
            청소내역
          </strong>
          <span class="text-caption text-white ml-auto">없음</span>
        </v-card>
        <div class="overflow-y-auto" style="max-height: 108px">
          <border-list></border-list>
        </div>
      </div>
    </v-card-text>
  </v-card>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
import PopupTitle from '@/components/PopViewTitle02.vue';
import SearchBox from '@/components/SearchBox.vue';
import BtnSwitch from '@/components/BtnSwitch.vue';
import BorderList from '@/components/BorderList.vue';

export default defineComponent({
  name: 'PopRoomHistory',
  components: {
    PopupTitle,
    SearchBox,
    BtnSwitch,
    BorderList,
  },
  data: () => ({}),
});
</script>
