<template>
  <v-card elevation="0" rounded="0" color="#F2F5F8">
    <popup-title :title="'객실이력'" :mlAuto="'ml-auto'" :textShow="true" :text="'(최근 이벤트 : 12-24 17:00)'"></popup-title>
    <v-card-text>
      <v-toolbar
        elevation="0"
        dense
        height="30"
        color="#3C4D60"
        theme="dark"
        tag="div"
        class="text-body-2 v-col-auto py-0 rounded-t"
      >
        <v-checkbox
          hide-details
          density="default"
          color="#fc6060"
          false-icon="mdi-checkbox-blank"
          label="객실상태"
          class="check-box dark"
        ></v-checkbox>
        <v-checkbox
          hide-details
          density="default"
          color="#fc6060"
          theme="light"
          false-icon="mdi-checkbox-blank"
          label="출입문"
          class="check-box dark"
        ></v-checkbox>
        <v-checkbox
          hide-details
          density="default"
          color="#fc6060"
          false-icon="mdi-checkbox-blank"
          label="대실"
          class="check-box dark"
        ></v-checkbox>
        <v-checkbox
          hide-details
          density="default"
          color="#fc6060"
          false-icon="mdi-checkbox-blank"
          label="숙박"
          class="check-box dark"
        ></v-checkbox>
        <v-checkbox
          hide-details
          density="default"
          color="#fc6060"
          false-icon="mdi-checkbox-blank"
          label="장기"
          class="check-box dark"
        ></v-checkbox>
        <v-checkbox
          hide-details
          density="default"
          color="#fc6060"
          false-icon="mdi-checkbox-blank"
          label="키"
          class="check-box dark"
        ></v-checkbox>
      </v-toolbar>
      <div
        class="rounded-b overflow-hidden"
        style="border: 1px solid #D6DBE2;border-width: 0 1px 1px 1px;"
      >
        <search-box color="#fff" class="px-3" :borderColor="'brd-gray'" :bgColor="'bg-gray'"></search-box>
        <v-card
          elevation="0"
          dense
          height="30"
          rounded="0"
          color="#D6DBE2"
          tag="div"
          class="d-flex align-center text-body-2 pa-0"
        >
          <div style="width: 46px">
            <v-checkbox
              hide-details
              density="default"
              color="#fc6060"
              class="check-box pa-0 justify-center text-black flex-grow-0"
            ></v-checkbox>
          </div>
          <v-divider vertical inset color="#888D94"></v-divider>
          <div class="flex-grow-1 text-caption text-center">내용</div>
          <v-divider vertical inset color="#888D94"></v-divider>
          <div
            class="ml-auto pl-1 text-caption text-center"
            style="width: 110px; padding-right: 18px;"
          >
            일시
          </div>
        </v-card>
        <div class="overflow-y-auto" style="height:300px">
          <v-list class="border-list">
            <v-list-item
              min-height="30"
              class="py-1 px-3"
            >
              <div class="d-flex justify-center" style="width: 46px">
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  class="check-box pa-0 justify-center text-black flex-grow-0"
                ></v-checkbox>
              </div>
              <div class="txt text-body-2 pl-3">
                <v-icon
                  icon="fa fa-exclamation-circle"
                  color="blue"
                  size="small"
                  class="mr-1"
                ></v-icon>
                [201호] <span class="text-red">전원차단</span> | <span>공실상태</span> | <span class="text-teal-accent-3">청소완료</span>
              </div>
              <span
                class="ml-auto pl-1 text-body-2 text-grey text-center"
                style="width: 95px"
              >
                14:07:41
              </span>
            </v-list-item>
            <v-list-item
              min-height="30"
              class="py-1 px-3"
            >
              <div class="d-flex justify-center" style="width: 46px">
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  class="check-box pa-0 justify-center text-black flex-grow-0"
                ></v-checkbox>
              </div>
              <div class="txt text-body-2 pl-3">
                <v-icon
                  icon="fa fa-exclamation-triangle"
                  color="yellow-darken-2"
                  size="small"
                  class="mr-1"
                ></v-icon>
                [202호] <span class="text-red">전원차단</span> | <span>공실상태</span> | <span class="text-teal-accent-3">청소완료</span>
              </div>
              <span
                class="ml-auto pl-1 text-body-2 text-grey text-center"
                style="width: 95px"
              >
                14:07:41
              </span>
            </v-list-item>
            <v-list-item
              min-height="30"
              class="py-1 px-3"
            >
              <div class="d-flex justify-center" style="width: 46px">
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  class="check-box pa-0 justify-center text-black flex-grow-0"
                ></v-checkbox>
              </div>
              <div class="txt text-body-2 pl-3">
                <v-icon
                  icon="fa fa-exclamation-circle"
                  color="blue"
                  size="small"
                  class="mr-1"
                ></v-icon>
                [203호] <span class="text-red-accent-1">숙박퇴실</span>
              </div>
              <span
                class="ml-auto pl-1 text-body-2 text-grey text-center"
                style="width: 95px"
              >
                14:07:41
              </span>
            </v-list-item>
            <v-list-item
              min-height="30"
              class="py-1 px-3"
            >
              <div class="d-flex justify-center" style="width: 46px">
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  class="check-box pa-0 justify-center text-black flex-grow-0"
                ></v-checkbox>
              </div>
              <div class="txt text-body-2 pl-3">
                <v-icon
                  icon="fa fa-exclamation-circle"
                  color="blue"
                  size="small"
                  class="mr-1"
                ></v-icon>
                [204호] <span class="text-blue">숙박상태</span>
              </div>
              <span
                class="ml-auto pl-1 text-body-2 text-grey text-center"
                style="width: 95px"
              >
                14:07:41
              </span>
            </v-list-item>
            <v-list-item
              min-height="30"
              class="py-1 px-3"
            >
              <div class="d-flex justify-center" style="width: 46px">
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  class="check-box pa-0 justify-center text-black flex-grow-0"
                ></v-checkbox>
              </div>
              <div class="txt text-body-2 pl-3">
                <v-icon
                  icon="fa fa-exclamation-triangle"
                  color="yellow-darken-2"
                  size="small"
                  class="mr-1"
                ></v-icon>
                [205호] <span>프런트 판매</span> | <span class="text-green-darken-2">숙박입실</span>
              </div>
              <span
                class="ml-auto pl-1 text-body-2 text-grey text-center"
                style="width: 95px"
              >
                14:07:41
              </span>
            </v-list-item>
            <v-list-item
              min-height="30"
              class="py-1 px-3"
            >
              <div class="d-flex justify-center" style="width: 46px">
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  class="check-box pa-0 justify-center text-black flex-grow-0"
                ></v-checkbox>
              </div>
              <div class="txt text-body-2 pl-3">
                <v-icon
                  icon="fa fa-exclamation-circle"
                  color="blue"
                  size="small"
                  class="mr-1"
                ></v-icon>
                [206호] <span>문닫힘</span>
              </div>
              <span
                class="ml-auto pl-1 text-body-2 text-grey text-center"
                style="width: 95px"
              >
                14:07:41
              </span>
            </v-list-item>
            <v-list-item
              min-height="30"
              class="py-1 px-3"
            >
              <div class="d-flex justify-center" style="width: 46px">
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  class="check-box pa-0 justify-center text-black flex-grow-0"
                ></v-checkbox>
              </div>
              <div class="txt text-body-2 pl-3">
                <v-icon
                  icon="fa fa-exclamation-triangle"
                  color="yellow-darken-2"
                  size="small"
                  class="mr-1"
                ></v-icon>
                [207호] <span class="text-red">전원차단</span> | <span>공실상태</span> | <span class="text-teal-accent-3">청소완료</span>
              </div>
              <span
                class="ml-auto pl-1 text-body-2 text-grey text-center"
                style="width: 95px"
              >
                14:07:41
              </span>
            </v-list-item>
            <v-list-item
              min-height="30"
              class="py-1 px-3"
            >
              <div class="d-flex justify-center" style="width: 46px">
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  class="check-box pa-0 justify-center text-black flex-grow-0"
                ></v-checkbox>
              </div>
              <div class="txt text-body-2 pl-3">
                <v-icon
                  icon="fa fa-exclamation-circle"
                  color="blue"
                  size="small"
                  class="mr-1"
                ></v-icon>
                [208호] <span class="text-orange-lighten-1">청소요정</span> | <span>외출복귀</span>
              </div>
              <span
                class="ml-auto pl-1 text-body-2 text-grey text-center"
                style="width: 95px"
              >
                14:07:41
              </span>
            </v-list-item>
            <v-list-item
              min-height="30"
              class="py-1 px-3"
            >
              <div class="d-flex justify-center" style="width: 46px">
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  class="check-box pa-0 justify-center text-black flex-grow-0"
                ></v-checkbox>
              </div>
              <div class="txt text-body-2 pl-3">
                <v-icon
                  icon="fa fa-exclamation-circle"
                  color="blue"
                  size="small"
                  class="mr-1"
                ></v-icon>
                [209호] <span class="text-red-accent-1">숙박퇴실</span>
              </div>
              <span
                class="ml-auto pl-1 text-body-2 text-grey text-center"
                style="width: 95px"
              >
                14:07:41
              </span>
            </v-list-item>
            <v-list-item
              min-height="30"
              class="py-1 px-3"
            >
              <div class="d-flex justify-center" style="width: 46px">
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  class="check-box pa-0 justify-center text-black flex-grow-0"
                ></v-checkbox>
              </div>
              <div class="txt text-body-2 pl-3">
                <v-icon
                  icon="fa fa-exclamation-circle"
                  color="blue"
                  size="small"
                  class="mr-1"
                ></v-icon>
                [210호] <span class="text-blue">숙박퇴실</span>
              </div>
              <span
                class="ml-auto pl-1 text-body-2 text-grey text-center"
                style="width: 95px"
              >
                14:07:41
              </span>
            </v-list-item>
          </v-list>
        </div>
      </div>
    </v-card-text>
  </v-card>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import PopupTitle from "@/components/PopViewTitle02.vue";
import SearchBox from "@/components/SearchBox.vue";
import BtnSwitch from "@/components/BtnSwitch.vue";

export default defineComponent({
  name: "PopRoomRecord",
  components: {
    PopupTitle,
    SearchBox,
    BtnSwitch,
  },
  data: () => ({
  }),
});
</script>

<style lang="scss" scoped>
.border-list {
  .v-list-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
    &:hover {
       background-color: #EFF2F4;
    }
  }
}
</style>
