<template>
  <v-card elevation="0" rounded="0" color="#F2F5F8">
    <popup-title :title="'객실판매 현황'"></popup-title>
    <v-layout class="pt-1 py-5 px-4 flex-column">
      <v-row dense>
        <v-col cols="4">
          <v-card-title class="d-flex align-center justify-center bg-red-accent-2  px-6 rounded" style="height: 60px">
            <span class="text-white">OTA 예약현황</span>
            <v-btn
              elevation="0"
              rounded="0"
              width="20px"
              height="20px"
              variant="text"
              color="#fff"
              icon="mdi mdi-arrow-top-right-bold-box-outline"
              size="small"
              class="ml-auto"
            ></v-btn>
          </v-card-title>
          <v-card
            elevation="0"
            border="1"
            height="506"
            class="overflow-y-auto mt-2 pa-3"
          >
            <v-list density="compact" class="pa-0">
              <v-list-item
                height="95"
                class="flex-column justify-center align-stretch rounded"
                style="background-color: #EFF2F4"
              >
                <v-list-item-title
                  class="d-flex align-center justify-space-between"
                >
                  <div class="font-weight-bold">여기어때</div>
                  <div class="d-flex align-center justify-space-between">
                    <span class="text-grey-darken-2 text-body-2">건수</span>
                    <span class="text-h5 text-right text-blue-darken-1 font-weight-bold font-num" style="width: 40px">6</span>
                  </div>
                </v-list-item-title>
                <v-divider class="my-2" style="width: 100%"></v-divider>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <span class="text-red-accent-2 mr-2">[숙박]</span>
                  <span class="text-grey-darken-3">20:30 / 203호 / 특실</span>
                  <span class="text-caption text-grey-darken-1 ml-auto">22-12-24</span>
                </div>
              </v-list-item>
            </v-list>
            <v-list density="compact" class="pa-0 mt-2">
              <v-list-item
                height="95"
                class="flex-column justify-center align-stretch rounded"
                style="background-color: #EFF2F4"
              >
                <v-list-item-title
                  class="d-flex align-center justify-space-between"
                >
                  <div class="font-weight-bold">야놀자</div>
                  <div class="d-flex align-center justify-space-between">
                    <span class="text-grey-darken-2 text-body-2">건수</span>
                    <span class="text-h5 text-right text-blue-darken-1 font-weight-bold font-num" style="width: 40px">6</span>
                  </div>
                </v-list-item-title>
                <v-divider class="my-2" style="width: 100%"></v-divider>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <span class="text-blue-darken-1 mr-2">[대실]</span>
                  <span class="text-grey-darken-3">20:30 / 203호 / 스위트룸</span>
                  <span class="text-caption text-grey-darken-1 ml-auto">22-12-24</span>
                </div>
              </v-list-item>
            </v-list>
            <v-list density="compact" class="pa-0 mt-2">
              <v-list-item
                height="95"
                class="flex-column justify-center align-stretch rounded"
                style="background-color: #EFF2F4"
              >
                <v-list-item-title
                  class="d-flex align-center justify-space-between"
                >
                  <div class="font-weight-bold">여기어때</div>
                  <div class="d-flex align-center justify-space-between">
                    <span class="text-grey-darken-2 text-body-2">건수</span>
                    <span class="text-h5 text-right text-blue-darken-1 font-weight-bold font-num" style="width: 40px">6</span>
                  </div>
                </v-list-item-title>
                <v-divider class="my-2" style="width: 100%"></v-divider>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <span class="text-red-accent-2 mr-2">[숙박]</span>
                  <span class="text-grey-darken-3">20:30 / 203호 / 특실</span>
                  <span class="text-caption text-grey-darken-1 ml-auto">22-12-24</span>
                </div>
              </v-list-item>
            </v-list>
            <v-list density="compact" class="pa-0 mt-2">
              <v-list-item
                height="95"
                class="flex-column justify-center align-stretch rounded"
                style="background-color: #EFF2F4"
              >
                <v-list-item-title
                  class="d-flex align-center justify-space-between"
                >
                  <div class="font-weight-bold">야놀자</div>
                  <div class="d-flex align-center justify-space-between">
                    <span class="text-grey-darken-2 text-body-2">건수</span>
                    <span class="text-h5 text-right text-blue-darken-1 font-weight-bold font-num" style="width: 40px">6</span>
                  </div>
                </v-list-item-title>
                <v-divider class="my-2" style="width: 100%"></v-divider>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <span class="text-blue-darken-1 mr-2">[대실]</span>
                  <span class="text-grey-darken-3">20:30 / 203호 / 스위트룸</span>
                  <span class="text-caption text-grey-darken-1 ml-auto">22-12-24</span>
                </div>
              </v-list-item>
            </v-list>
            <v-list density="compact" class="pa-0 mt-2">
              <v-list-item
                height="95"
                class="flex-column justify-center align-stretch rounded"
                style="background-color: #EFF2F4"
              >
                <v-list-item-title
                  class="d-flex align-center justify-space-between"
                >
                  <div class="font-weight-bold">여기어때</div>
                  <div class="d-flex align-center justify-space-between">
                    <span class="text-grey-darken-2 text-body-2">건수</span>
                    <span class="text-h5 text-right text-blue-darken-1 font-weight-bold font-num" style="width: 40px">6</span>
                  </div>
                </v-list-item-title>
                <v-divider class="my-2" style="width: 100%"></v-divider>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <span class="text-red-accent-2 mr-2">[숙박]</span>
                  <span class="text-grey-darken-3">20:30 / 203호 / 특실</span>
                  <span class="text-caption text-grey-darken-1 ml-auto">22-12-24</span>
                </div>
              </v-list-item>
            </v-list>
            <v-list density="compact" class="pa-0 mt-2">
              <v-list-item
                height="95"
                class="flex-column justify-center align-stretch rounded"
                style="background-color: #EFF2F4"
              >
                <v-list-item-title
                  class="d-flex align-center justify-space-between"
                >
                  <div class="font-weight-bold">야놀자</div>
                  <div class="d-flex align-center justify-space-between">
                    <span class="text-grey-darken-2 text-body-2">건수</span>
                    <span class="text-h5 text-right text-blue-darken-1 font-weight-bold font-num" style="width: 40px">6</span>
                  </div>
                </v-list-item-title>
                <v-divider class="my-2" style="width: 100%"></v-divider>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <span class="text-blue-darken-1 mr-2">[대실]</span>
                  <span class="text-grey-darken-3">20:30 / 203호 / 스위트룸</span>
                  <span class="text-caption text-grey-darken-1 ml-auto">22-12-24</span>
                </div>
              </v-list-item>
            </v-list>            
          </v-card>
        </v-col>
        <v-col cols="4">
          <v-card-title class="d-flex align-center justify-center bg-blue-darken-1 px-6 rounded" style="height: 60px">
            <span class="text-white">무인판매기 현황</span>
            <v-btn
              elevation="0"
              rounded="0"
              width="20px"
              height="20px"
              variant="text"
              color="#fff"
              icon="mdi mdi-arrow-top-right-bold-box-outline"
              size="small"
              class="ml-auto"
            ></v-btn>
          </v-card-title>
          <v-card
            elevation="0"
            border="1"
            height="506"
            class="overflow-y-auto mt-2 pa-3"
          >
            <v-list density="compact" class="pa-0">
              <v-list-item
                height="95"
                class="flex-column justify-center align-stretch rounded"
                style="background-color: #EFF2F4"
              >
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">유형 :</span>                    
                    <span class="text-red-accent-2 ml-1">[숙박]</span>
                  </div>
                  <div class="text-grey-darken-1 ml-auto">
                    <span class="text-grey-darken-2">입실 :</span>                    
                    <span class="text-black ml-1">13:00</span>
                  </div>
                </div>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">호실 :</span>                    
                    <span class="text-black ml-1">203호</span>
                  </div>
                  <div class="ml-auto">
                    <span class="text-grey-darken-2">객실 :</span>                    
                    <span class="text-black ml-1">스위트룸</span>
                  </div>
                </div>
                <v-divider class="my-2" style="width: 100%"></v-divider>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">결제 :</span>                    
                    <span class="text-black ml-1">카드</span>
                  </div>
                  <div class="ml-auto d-flex align-center text-black">              
                    <span class="text-body-1 font-weight-bold font-num">50,000</span>원
                  </div>
                </div>
              </v-list-item>
              <v-list-item
                height="95"
                class="flex-column justify-center align-stretch rounded mt-2"
                style="background-color: #EFF2F4"
              >
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">유형 :</span>                    
                    <span class="text-blue-darken-1 ml-1">[대실]</span>
                  </div>
                  <div class="text-grey-darken-1 ml-auto">
                    <span class="text-grey-darken-2">입실 :</span>                    
                    <span class="text-black ml-1">13:00</span>
                  </div>
                </div>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">호실 :</span>                    
                    <span class="text-black ml-1">203호</span>
                  </div>
                  <div class="ml-auto">
                    <span class="text-grey-darken-2">객실 :</span>                    
                    <span class="text-black ml-1">VIP룸</span>
                  </div>
                </div>
                <v-divider class="my-2" style="width: 100%"></v-divider>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">결제 :</span>                    
                    <span class="text-black ml-1">현금</span>
                  </div>
                  <div class="ml-auto d-flex align-center text-black">              
                    <span class="text-body-1 font-weight-bold font-num">45,000</span>원
                  </div>
                </div>
              </v-list-item>
              <v-list-item
                height="95"
                class="flex-column justify-center align-stretch rounded mt-2"
                style="background-color: #EFF2F4"
              >
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">유형 :</span>                    
                    <span class="text-red-accent-2 ml-1">[숙박]</span>
                  </div>
                  <div class="text-grey-darken-1 ml-auto">
                    <span class="text-grey-darken-2">입실 :</span>                    
                    <span class="text-black ml-1">13:00</span>
                  </div>
                </div>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">호실 :</span>                    
                    <span class="text-black ml-1">203호</span>
                  </div>
                  <div class="ml-auto">
                    <span class="text-grey-darken-2">객실 :</span>                    
                    <span class="text-black ml-1">스위트룸</span>
                  </div>
                </div>
                <v-divider class="my-2" style="width: 100%"></v-divider>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">결제 :</span>                    
                    <span class="text-black ml-1">카드</span>
                  </div>
                  <div class="ml-auto d-flex align-center text-black">              
                    <span class="text-body-1 font-weight-bold font-num">50,000</span>원
                  </div>
                </div>
              </v-list-item>
              <v-list-item
                height="95"
                class="flex-column justify-center align-stretch rounded mt-2"
                style="background-color: #EFF2F4"
              >
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">유형 :</span>                    
                    <span class="text-blue-darken-1 ml-1">[대실]</span>
                  </div>
                  <div class="text-grey-darken-1 ml-auto">
                    <span class="text-grey-darken-2">입실 :</span>                    
                    <span class="text-black ml-1">13:00</span>
                  </div>
                </div>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">호실 :</span>                    
                    <span class="text-black ml-1">203호</span>
                  </div>
                  <div class="ml-auto">
                    <span class="text-grey-darken-2">객실 :</span>                    
                    <span class="text-black ml-1">VIP룸</span>
                  </div>
                </div>
                <v-divider class="my-2" style="width: 100%"></v-divider>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">결제 :</span>                    
                    <span class="text-black ml-1">현금</span>
                  </div>
                  <div class="ml-auto d-flex align-center text-black">              
                    <span class="text-body-1 font-weight-bold font-num">45,000</span>원
                  </div>
                </div>
              </v-list-item>
              <v-list-item
                height="95"
                class="flex-column justify-center align-stretch rounded mt-2"
                style="background-color: #EFF2F4"
              >
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">유형 :</span>                    
                    <span class="text-red-accent-2 ml-1">[숙박]</span>
                  </div>
                  <div class="text-grey-darken-1 ml-auto">
                    <span class="text-grey-darken-2">입실 :</span>                    
                    <span class="text-black ml-1">13:00</span>
                  </div>
                </div>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">호실 :</span>                    
                    <span class="text-black ml-1">203호</span>
                  </div>
                  <div class="ml-auto">
                    <span class="text-grey-darken-2">객실 :</span>                    
                    <span class="text-black ml-1">스위트룸</span>
                  </div>
                </div>
                <v-divider class="my-2" style="width: 100%"></v-divider>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">결제 :</span>                    
                    <span class="text-black ml-1">카드</span>
                  </div>
                  <div class="ml-auto d-flex align-center text-black">              
                    <span class="text-body-1 font-weight-bold font-num">50,000</span>원
                  </div>
                </div>
              </v-list-item>
              <v-list-item
                height="95"
                class="flex-column justify-center align-stretch rounded mt-2"
                style="background-color: #EFF2F4"
              >
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">유형 :</span>                    
                    <span class="text-blue-darken-1 ml-1">[대실]</span>
                  </div>
                  <div class="text-grey-darken-1 ml-auto">
                    <span class="text-grey-darken-2">입실 :</span>                    
                    <span class="text-black ml-1">13:00</span>
                  </div>
                </div>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">호실 :</span>                    
                    <span class="text-black ml-1">203호</span>
                  </div>
                  <div class="ml-auto">
                    <span class="text-grey-darken-2">객실 :</span>                    
                    <span class="text-black ml-1">VIP룸</span>
                  </div>
                </div>
                <v-divider class="my-2" style="width: 100%"></v-divider>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">결제 :</span>                    
                    <span class="text-black ml-1">현금</span>
                  </div>
                  <div class="ml-auto d-flex align-center text-black">              
                    <span class="text-body-1 font-weight-bold font-num">45,000</span>원
                  </div>
                </div>
              </v-list-item>
            </v-list>
          </v-card>
        </v-col>
        <v-col cols="4">
          <v-card-title class="d-flex align-center justify-center bg-deep-purple-lighten-1 px-6 rounded" style="height: 60px">
            <span class="text-white">프론트 판매현황</span>
          </v-card-title>
          <v-card
            elevation="0"
            border="1"
            height="506"
            class="overflow-y-auto mt-2 pa-3"
          >
            <v-list density="compact" class="pa-0">
              <v-list-item
                height="95"
                class="flex-column justify-center align-stretch rounded"
                style="background-color: #EFF2F4"
              >
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">유형 :</span>                    
                    <span class="text-red-accent-2 ml-1">[숙박]</span>
                  </div>
                  <div class="text-grey-darken-1 ml-auto">
                    <span class="text-grey-darken-2">입실 :</span>                    
                    <span class="text-black ml-1">13:00</span>
                  </div>
                </div>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">호실 :</span>                    
                    <span class="text-black ml-1">203호</span>
                  </div>
                  <div class="ml-auto">
                    <span class="text-grey-darken-2">객실 :</span>                    
                    <span class="text-black ml-1">스위트룸</span>
                  </div>
                </div>
                <v-divider class="my-2" style="width: 100%"></v-divider>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">결제 :</span>                    
                    <span class="text-black ml-1">카드</span>
                  </div>
                  <div class="ml-auto d-flex align-center text-black">              
                    <span class="text-body-1 font-weight-bold font-num">50,000</span>원
                  </div>
                </div>
              </v-list-item>
              <v-list-item
                height="95"
                class="flex-column justify-center align-stretch rounded mt-2"
                style="background-color: #EFF2F4"
              >
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">유형 :</span>                    
                    <span class="text-black ml-1">[공실]</span>
                  </div>
                  <div class="text-grey-darken-1 ml-auto">
                    <span class="text-grey-darken-2">입실 :</span>                    
                    <span class="text-black ml-1">13:00</span>
                  </div>
                </div>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">호실 :</span>                    
                    <span class="text-black ml-1">203호</span>
                  </div>
                  <div class="ml-auto">
                    <span class="text-grey-darken-2">객실 :</span>                    
                    <span class="text-black ml-1">VIP룸</span>
                  </div>
                </div>
                <v-divider class="my-2" style="width: 100%"></v-divider>
                <div
                  class="d-flex align-center text-body-2"
                >
                  <span class="text-red mr-1">전원차단</span>
                  /                  
                  <span class="text-cyan-lighten-1 ml-1">청소완료</span>
                </div>
              </v-list-item>
              <v-list-item
                height="95"
                class="flex-column justify-center align-stretch rounded mt-2"
                style="background-color: #EFF2F4"
              >
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">유형 :</span>                    
                    <span class="text-black ml-1">[공실]</span>
                  </div>
                  <div class="text-grey-darken-1 ml-auto">
                    <span class="text-grey-darken-2">입실 :</span>                    
                    <span class="text-black ml-1">13:00</span>
                  </div>
                </div>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">호실 :</span>                    
                    <span class="text-black ml-1">203호</span>
                  </div>
                  <div class="ml-auto">
                    <span class="text-grey-darken-2">객실 :</span>                    
                    <span class="text-black ml-1">스위트룸</span>
                  </div>
                </div>
                <v-divider class="my-2" style="width: 100%"></v-divider>
                <div
                  class="d-flex align-center text-body-2"
                >
                  <span class="text-yellow-darken-3 mr-1">청소요청</span>
                  /                  
                  <span class="ml-1">문닫힘</span>
                </div>
              </v-list-item>
              <v-list-item
                height="95"
                class="flex-column justify-center align-stretch rounded mt-2"
                style="background-color: #EFF2F4"
              >
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">유형 :</span>                    
                    <span class="text-blue-darken-1-darken-1 ml-1">[대실]</span>
                  </div>
                  <div class="text-grey-darken-1 ml-auto">
                    <span class="text-grey-darken-2">입실 :</span>                    
                    <span class="text-black ml-1">13:00</span>
                  </div>
                </div>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">호실 :</span>                    
                    <span class="text-black ml-1">203호</span>
                  </div>
                  <div class="ml-auto">
                    <span class="text-grey-darken-2">객실 :</span>                    
                    <span class="text-black ml-1">VIP룸</span>
                  </div>
                </div>
                <v-divider class="my-2" style="width: 100%"></v-divider>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">결제 :</span>                    
                    <span class="text-black ml-1">현금</span>
                  </div>
                  <div class="ml-auto d-flex align-center text-black">              
                    <span class="text-body-1 font-weight-bold font-num">45,000</span>원
                  </div>
                </div>
              </v-list-item>
              <v-list-item
                height="95"
                class="flex-column justify-center align-stretch rounded mt-2"
                style="background-color: #EFF2F4"
              >
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">유형 :</span>                    
                    <span class="text-red-accent-2 ml-1">[숙박]</span>
                  </div>
                  <div class="text-grey-darken-1 ml-auto">
                    <span class="text-grey-darken-2">입실 :</span>                    
                    <span class="text-black ml-1">13:00</span>
                  </div>
                </div>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">호실 :</span>                    
                    <span class="text-black ml-1">203호</span>
                  </div>
                  <div class="ml-auto">
                    <span class="text-grey-darken-2">객실 :</span>                    
                    <span class="text-black ml-1">스위트룸</span>
                  </div>
                </div>
                <v-divider class="my-2" style="width: 100%"></v-divider>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">결제 :</span>                    
                    <span class="text-black ml-1">카드</span>
                  </div>
                  <div class="ml-auto d-flex align-center text-black">              
                    <span class="text-body-1 font-weight-bold font-num">50,000</span>원
                  </div>
                </div>
              </v-list-item>
              <v-list-item
                height="95"
                class="flex-column justify-center align-stretch rounded mt-2"
                style="background-color: #EFF2F4"
              >
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">유형 :</span>                    
                    <span class="text-blue-darken-1 ml-1">[대실]</span>
                  </div>
                  <div class="text-grey-darken-1 ml-auto">
                    <span class="text-grey-darken-2">입실 :</span>                    
                    <span class="text-black ml-1">13:00</span>
                  </div>
                </div>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">호실 :</span>                    
                    <span class="text-black ml-1">203호</span>
                  </div>
                  <div class="ml-auto">
                    <span class="text-grey-darken-2">객실 :</span>                    
                    <span class="text-black ml-1">VIP룸</span>
                  </div>
                </div>
                <v-divider class="my-2" style="width: 100%"></v-divider>
                <div
                  class="d-flex align-center justify-space-between text-body-2"
                >
                  <div>
                    <span class="text-grey-darken-2">결제 :</span>                    
                    <span class="text-black ml-1">현금</span>
                  </div>
                  <div class="ml-auto d-flex align-center text-black">              
                    <span class="text-body-1 font-weight-bold font-num">45,000</span>원
                  </div>
                </div>
              </v-list-item>
            </v-list>
          </v-card>
        </v-col>
      </v-row>
    </v-layout>
  </v-card>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import PopupTitle from "@/components/PopViewTitle02.vue";

export default defineComponent({
  name: "PopStatus",
  components: {
    PopupTitle,
  },
  data: () => ({
    items: ['층별 선택'],
   }),
});
</script>
