<template>
  <v-card elevation="0" rounded="0" color="#F2F5F8">
    <popup-title :title="'객실설정'"></popup-title>
    <v-layout class="pt-1 py-5 flex-column">
      <v-card-text class="pt-3 pb-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="90px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>객체선택</th>
              <td>
                <v-select
                  :items="items"
                  density="compact"
                  hide-details
                  single-line
                  class="select-box type02"
                ></v-select>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-body-2 pb-0 pt-5">
        <strong class="font-weight-bold">CCU 선택</strong>
      </v-card-title>
      <v-card-text class="pt-1 pb-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="90px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>KEY</th>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center flex-grow-0"
                >
                  <v-radio
                    density="compact"
                    label="전송"
                    value="전송"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="OUT"
                    value="OUT"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="고객키 IN"
                    value="고객키 IN"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="청소키 IN"
                    value="청소키 IN"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="마스터키 IN"
                    value="마스터키 IN"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
            </tr>
            <tr>
              <th>DOOR</th>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center flex-grow-0"
                >
                  <v-radio
                    density="compact"
                    label="닫힘"
                    value="닫힘"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="열림"
                    value="열림"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
            </tr>
            <tr>
              <th>EMLOCK</th>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center flex-grow-0"
                >
                  <v-radio
                    density="compact"
                    label="닫힘"
                    value="닫힘"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="열림"
                    value="열림"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
            </tr>
            <tr>
              <th>차량호출</th>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center flex-grow-0"
                >
                  <v-radio
                    density="compact"
                    label="닫힘"
                    value="닫힘"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="호출"
                    value="호출"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
            </tr>
            <tr>
              <th>비상호출</th>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center flex-grow-0"
                >
                  <v-radio
                    density="compact"
                    label="닫힘"
                    value="닫힘"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="호출"
                    value="호출"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <div class="d-flex justify-center mt-6 mb-3">
        <v-btn
          width="150"
          height="40"
          elevation="0"
          color="#FC6060"
          text-color="#fff"
        >
          실행
        </v-btn>
        <v-btn
          width="150"
          height="40"
          elevation="0"
          color="#3C4D60"
          text-color="#fff"
          class="ml-5"
        >
          닫기
        </v-btn>
      </div>
    </v-layout>
  </v-card>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import PopupTitle from "@/components/PopViewTitle.vue";

export default defineComponent({
  name: "PopCcu",
  components: {
    PopupTitle,
  },
  data: () => ({
    items: ['층별 선택'],
   }),
});
</script>
