<template>
  <v-card elevation="0" rounded="0" color="#F2F5F8">
    <popup-title :title="'305호 [스위트룸] 입실처리'"></popup-title>
    <v-layout class="pt-1 py-5 flex-column">
      <v-card-title class="text-body-2 pb-0">
        <strong class="font-weight-bold">입실정보</strong>
        <div class="d-flex align-center ml-auto">
          <v-checkbox
            hide-details
            density="default"
            color="#fc6060"
            label="무인 숙박판매"
            class="check-box mr-2"
          ></v-checkbox>
          <v-checkbox
            hide-details
            density="default"
            color="#fc6060"
            label="무인 대실판매"
            class="check-box mr-2"
          ></v-checkbox>
          <v-checkbox
            hide-details
            density="default"
            color="#fc6060"
            label="무인 예약판매"
            class="check-box"
          ></v-checkbox>
        </div>
      </v-card-title>
      <v-card-text class="py-0">
        <v-row dense>
          <v-col cols="6">
            <v-table density="comfortable" class="table-view">
              <colgroup>
                <col width="90px" />
                <col width="auto" />
                <col width="90px" />
                <col width="auto" />
              </colgroup>
              <tbody>
                <tr>
                  <th>객실명</th>
                  <td>305호(스위트룸)</td>
                  <th>객실상태</th>
                  <td>
                    <v-card
                      elevation="0"
                      color="#5E7892"
                      text-color="#fff"
                      height="28"
                      class="d-flex justify-center align-center"
                    >
                      공실
                    </v-card>
                  </td>
                </tr>
                <tr>
                  <th>입실시간</th>
                  <td colspan="3">
                    <v-text-field
                      single-line
                      hide-details
                      readonly
                      model-value="2022년 / 12월 25일 / 15:30"
                      density="compact"
                      color="#3C4D60"
                      bg-color="#F9F9F9"
                      variant="outlined"
                      class="input-box"
                    ></v-text-field>
                  </td>
                </tr>
                <tr>
                  <th>퇴실예정</th>
                  <td colspan="3">
                    <v-row dense>
                      <v-col cols="6">
                        <v-text-field
                          single-line
                          hide-details
                          readonly                          
                          model-value="2022년 / 12월 25일 / 15:30"
                          density="compact"
                          color="#3C4D60"
                          bg-color="#F9F9F9"
                          variant="outlined"
                          class="input-box"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="3">
                        <num-ctrl
                          :preBtn="'mdi-chevron-down'"
                          :nextBtn="'mdi-chevron-up'"
                          :modelValue="'12시'"
                        ></num-ctrl>
                      </v-col>
                      <v-col cols="3">
                        <num-ctrl
                          :preBtn="'mdi-chevron-down'"
                          :nextBtn="'mdi-chevron-up'"
                          :modelValue="'0분'"
                        ></num-ctrl>
                      </v-col>
                    </v-row>
                  </td>
                </tr>
                 <tr>
                  <th>인원</th>
                  <td>
                    <num-ctrl
                      :preBtn="'mdi-minus'"
                      :nextBtn="'mdi-plus'"
                      :modelValue="'2명'"
                      style="max-width: 100%;"
                    ></num-ctrl>
                  </td>
                  <th>차량번호</th>
                  <td>
                    <div class="d-flex align-center">
                      <v-text-field
                        single-line
                        hide-details
                        model-value="차량번호"
                        density="compact"
                        color="#3C4D60"
                        bg-color="#F9F9F9"
                        variant="outlined"
                        class="input-box"
                      ></v-text-field>
                      <v-checkbox
                        hide-details
                        density="compact"
                        color="#fc6060"
                        class="v-col-auto pa-0"
                      ></v-checkbox>
                    </div>
                  </td>
                 </tr>
                 <tr>
                   <th style="height: 81px;">도어락</th>
                   <td colspan="3">
                     도어락 ID 없음 (<span class="text-red-lighten-1">도어락 ID를 등록해 주세요!</span>)
                   </td>
                 </tr>
              </tbody>
            </v-table>
          </v-col>
          <v-col cols="6">
            <v-table density="comfortable" class="table-view">
              <colgroup>
                <col width="90px" />
                <col width="auto" />
              </colgroup>
              <tbody>
                <tr>
                  <th>예약</th>
                  <td>
                    <div class="d-flex">
                      <v-select
                        :items="items"
                        density="compact"
                        hide-details
                        single-line
                        class="select-box type02"
                      ></v-select>
                      <v-btn
                        elevation="0"
                        color="#3C4D60"
                        min-width="28"
                        height="28"
                        class="ml-2 pa-0 m-hover"
                      >
                        <v-icon
                          color="#3C4D60"
                          icon="mdi mdi-format-list-bulleted-square"
                          size="small"
                          class="bg-white rounded-sm"
                        ></v-icon>
                      </v-btn>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>투숙형태</th>
                  <td>
                    <v-row dense>
                      <v-col cols="8">
                        <v-radio-group v-model="radioGroup" hide-details>
                          <v-row dense>
                            <v-col cols="4">
                              <v-card
                                elevation="0"
                                color="#7868E5"
                                text-color="#fff"
                                height="28"
                                class="radio-card d-flex justify-center align-center"
                              >
                                <v-radio label="대실" density="compact" value="radio01" color="#FC6060"></v-radio>
                              </v-card>
                            </v-col>
                            <v-col cols="4">
                              <v-card
                                elevation="0"
                                color="#5C86F1"
                                text-color="#fff"
                                height="28"
                                class="radio-card d-flex justify-center align-center"
                              >
                                <v-radio label="숙박" density="compact" value="radio02" color="#FC6060"></v-radio>
                              </v-card>
                            </v-col>
                            <v-col cols="4">
                              <v-card
                                elevation="0"
                                color="#3770BB"
                                text-color="#fff"
                                height="28"
                                class="radio-card d-flex justify-center align-center"
                              >
                                <v-radio label="장기" density="compact" value="radio03" color="#FC6060"></v-radio>
                              </v-card>
                            </v-col>
                          </v-row>
                        </v-radio-group>
                      </v-col>
                      <v-col cols="4">
                        <num-ctrl
                          :preBtn="'mdi-minus'"
                          :nextBtn="'mdi-plus'"
                          :modelValue="'1박2일'"
                        ></num-ctrl>
                      </v-col>
                    </v-row>
                  </td>
                </tr>
                <tr>
                  <th>일실옵션</th>
                  <td>
                    <div class="d-flex">
                      <v-select
                        :items="items2"
                        density="compact"
                        hide-details
                        single-line
                        class="select-box type02"
                      ></v-select>
                      <v-btn
                        elevation="0"
                        color="#3C4D60"
                        text-color="#fff"
                        min-width="56"
                        height="28"
                        class="text-caption ml-2 m-hover"
                      >
                        취소
                      </v-btn>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>고객메모</th>
                  <td>
                    <div class="d-flex align-center">
                      <v-textarea
                        single-line
                        hide-details
                        variant
                        bg-color="#F9F9F9"
                        rows="4"
                        placeholder="메모는 매출별 적용됩니다."
                        class="textarea-box my-2"
                      ></v-textarea>
                      <v-btn
                        elevation="0"
                        color="#3C4D60"
                        text-color="#fff"
                        min-width="56"
                        height="28"
                        class="text-caption ml-2 m-hover pa-0"
                      >
                        지우기
                      </v-btn>
                    </div>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col class="v-col-auto" style="width: 170px">
            <v-table density="comfortable" class="table-view">
              <colgroup>
                <col width="90px" />
                <col width="auto" />
              </colgroup>
              <tbody>
                 <tr>
                  <th>알람</th>
                  <td>
                    <v-checkbox
                      hide-details
                      density="compact"
                      color="#fc6060"
                      class="v-col-auto pa-0"
                    ></v-checkbox>
                  </td>
                 </tr>
              </tbody>
            </v-table>
          </v-col>
          <v-col>
            <v-table density="comfortable" class="table-view">
              <colgroup>
                <col width="110px" />
                <col width="auto" />
              </colgroup>
              <tbody>
                 <tr>
                  <th>
                    <div class="d-flex align-center">
                      객실표시
                      <v-checkbox
                        hide-details
                        density="compact"
                        color="#fc6060"
                        class="v-col-auto pa-0"
                      ></v-checkbox>
                    </div>
                  </th>
                  <td>
                    <div class="d-flex aling-center">
                      <v-text-field
                        single-line
                        hide-details
                        density="compact"
                        color="#3C4D60"
                        bg-color="#F9F9F9"
                        variant="outlined"
                        placeholder="객실화면에 표시 할 메모를 입력하세요."
                        class="input-box"
                      ></v-text-field>
                      <v-btn
                        elevation="0"
                        color="#3C4D60"
                        text-color="#fff"
                        min-width="56"
                        height="28"
                        class="text-caption ml-2 m-hover pa-0"
                      >
                        지우기
                      </v-btn>
                      <dl class="d-flex align-center ml-4">
                        <dt class="d-flex align-center">표시 투명도</dt>
                        <dd class="d-flex align-center ml-2">
                          <num-ctrl
                            :preBtn="'mdi-minus'"
                            :nextBtn="'mdi-plus'"
                            :modelValue="'7'"
                            style="width: 80px"
                          ></num-ctrl>
                          <span class="d-flex align-center font-weight-thin text-grey-darken-2 ml-1">투명(0) ~ 불투명(10)</span>
                        </dd>
                      </dl>
                    </div>
                  </td>
                 </tr>
              </tbody>
            </v-table>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-title class="text-body-2 pb-0 pt-5">
        <strong class="font-weight-bold">요금설정</strong>
        <div class="d-flex align-center ml-auto">
          <strong class="text-caption mr-2"><span class="text-red-accent-2">*</span> 포인트 조회</strong>
          <v-text-field
            single-line
            hide-details                 
            model-value="010"
            density="compact"
            bg-color="#fff"
            variant="outlined"
            class="input-box"
            style="width: 150px"
          ></v-text-field>
          <v-btn
            elevation="0"
            min-width="56"
            height="28"            
            text-color="#2C2F35"
            border="1"
            class="text-caption ml-2 pa-0 brd-red-accent-2"
          >
            조회
          </v-btn>
        </div>
      </v-card-title>
      <v-card-text class="pt-1 pb-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="90px" />
            <col width="60%" />
            <col width="90px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>기본요금</th>
              <td>
                <div class="d-flex aling-center">
                  <v-text-field
                    single-line
                    hide-details
                    model-value="50,000원"                 
                    density="compact"
                    color="#3C4D60"
                    bg-color="#F9F9F9"
                    variant="outlined"
                    class="input-box text-right"
                  ></v-text-field>
                  <v-checkbox
                    hide-details
                    density="default"
                    color="#fc6060"
                    label="현금"
                    class="check-box v-col-auto pa-0 mr-1"
                    style="width: 70px"
                  ></v-checkbox>                  
                  <num-ctrl
                    :preBtn="'mdi-minus'"
                    :nextBtn="'mdi-plus'"
                    :modelValue="'0원'"
                    :textAlign="'text-right'"
                    style="width: 130px;"
                  ></num-ctrl>
                  <v-btn
                    elevation="0"
                    color="#3C4D60"
                    text-color="#fff"
                    min-width="56"
                    height="28"
                    class="text-caption ml-2 m-hover pa-0"
                  >
                    잔액<v-icon icon="mdi mdi-plus" size="small"></v-icon>
                  </v-btn>
                  <v-btn
                    elevation="0"
                    color="#5E7892"
                    text-color="#fff"
                    min-width="40"
                    height="28"
                    class="text-caption ml-1 pa-0"
                  >
                    +1.0
                  </v-btn>
                  <v-btn
                    elevation="0"
                    color="#5E7892"
                    text-color="#fff"
                    min-width="40"
                    height="28"
                    class="text-caption ml-1 pa-0"
                  >
                    +5.0
                  </v-btn>
                  <v-btn
                    elevation="0"
                    color="#5E7892"
                    text-color="#fff"
                    min-width="40"
                    height="28"
                    class="text-caption ml-1 pa-0"
                  >
                    +10
                  </v-btn>
                </div>
              </td>
              <th>판매가</th>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  model-value="50,000원"                 
                  density="compact"
                  color="#3C4D60"
                  bg-color="#F9F9F9"
                  variant="outlined"
                  class="input-box text-right mr-1"
                ></v-text-field>
              </td>
            </tr>
            <tr>
              <th>추가/할인</th>
              <td>
                <div class="d-flex aling-center">
                   <num-ctrl
                    :preBtn="'mdi-minus'"
                    :nextBtn="'mdi-plus'"
                    :modelValue="'0원'"
                    :textAlign="'text-right'"
                    class="flex-grow-1 mr-1"
                    style="max-width: none;"
                  ></num-ctrl>
                  <v-checkbox
                    hide-details
                    density="default"
                    color="#fc6060"
                    label="카드"
                    class="check-box v-col-auto pa-0 mr-1"
                    style="width: 70px"
                  ></v-checkbox>
                  <num-ctrl
                    :preBtn="'mdi-minus'"
                    :nextBtn="'mdi-plus'"
                    :modelValue="'0원'"
                    :textAlign="'text-right'"
                    style="width: 130px;"
                  ></num-ctrl>
                  <v-btn
                    elevation="0"
                    color="#3C4D60"
                    text-color="#fff"
                    min-width="56"
                    height="28"
                    class="text-caption ml-2 m-hover pa-0"
                  >
                    잔액<v-icon icon="mdi mdi-plus" size="small"></v-icon>
                  </v-btn>
                  <v-btn
                    elevation="0"
                    color="#5E7892"
                    text-color="#fff"
                    min-width="40"
                    height="28"
                    class="text-caption ml-1 pa-0"
                  >
                    +1.0
                  </v-btn>
                  <v-btn
                    elevation="0"
                    color="#5E7892"
                    text-color="#fff"
                    min-width="40"
                    height="28"
                    class="text-caption ml-1 pa-0"
                  >
                    +5.0
                  </v-btn>
                  <v-btn
                    elevation="0"
                    color="#5E7892"
                    text-color="#fff"
                    min-width="40"
                    height="28"
                    class="text-caption ml-1 pa-0"
                  >
                    +10
                  </v-btn>
                </div>
              </td>
              <th>미수금</th>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  model-value="0원"                 
                  density="compact"
                  color="#3C4D60"
                  bg-color="#F9F9F9"
                  variant="outlined"
                  class="input-box text-right mr-1"
                ></v-text-field>
              </td>
            </tr>
            <tr>
              <th>보유포인트</th>
              <td>
                <div class="d-flex aling-center">
                  <v-text-field
                    single-line
                    hide-details
                    model-value="50,000원"                 
                    density="compact"
                    color="#3C4D60"
                    bg-color="#F9F9F9"
                    variant="outlined"
                    class="input-box text-right mr-1"
                  ></v-text-field>
                  <v-checkbox
                    hide-details
                    density="default"
                    color="#fc6060"
                    label="포인트"
                    class="check-box v-col-auto pa-0 mr-1"
                    style="width: 70px"
                  ></v-checkbox>
                  <num-ctrl
                    :preBtn="'mdi-minus'"
                    :nextBtn="'mdi-plus'"
                    :modelValue="'0원'"
                    :textAlign="'text-right'"
                    style="width: 130px;"
                  ></num-ctrl>
                  <v-btn
                    elevation="0"
                    color="#3C4D60"
                    text-color="#fff"
                    min-width="56"
                    height="28"
                    class="text-caption ml-2 m-hover pa-0"
                  >
                    잔액<v-icon icon="mdi mdi-plus" size="small"></v-icon>
                  </v-btn>
                  <v-btn
                    elevation="0"
                    color="#5E7892"
                    text-color="#fff"
                    min-width="40"
                    height="28"
                    class="text-caption ml-1 pa-0"
                  >
                    +1.0
                  </v-btn>
                  <v-btn
                    elevation="0"
                    color="#5E7892"
                    text-color="#fff"
                    min-width="40"
                    height="28"
                    class="text-caption ml-1 pa-0"
                  >
                    +5.0
                  </v-btn>
                  <v-btn
                    elevation="0"
                    color="#5E7892"
                    text-color="#fff"
                    min-width="40"
                    height="28"
                    class="text-caption ml-1 pa-0"
                  >
                    +10
                  </v-btn>
                </div>
              </td>
              <th>적립포인트</th>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  model-value="0원"                 
                  density="compact"
                  color="#3C4D60"
                  bg-color="#F9F9F9"
                  variant="outlined"
                  class="input-box text-right mr-1"
                ></v-text-field>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-body-2 pb-0 pt-5">
        <strong class="font-weight-bold">난방설정</strong>
        <div class="d-flex align-center ml-auto">
          <v-btn
            elevation="0"
            min-width="56"
            height="28"            
            text-color="#2C2F35"
            border="1"
            class="text-caption ml-2 pa-0 brd-red-accent-2"
          >
            기본값
          </v-btn>
        </div>
      </v-card-title>
      <v-card-text class="pt-1 pb-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="90px" />
            <col width="auto" />
            <col width="80px" />
            <col width="auto" />
            <col width="110px" />
            <col width="auto" />
            <col width="110px" />
            <col width="auto" />
            <col width="60px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>기본요금</th>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  model-value="0ºC"                 
                  density="compact"
                  color="#3C4D60"
                  bg-color="#F9F9F9"
                  variant="outlined"
                  class="input-box text-right"
                ></v-text-field>
              </td>
              <th>적응온도</th>
              <td colspan="7">
                <num-ctrl
                  :preBtn="'mdi-minus'"
                  :nextBtn="'mdi-plus'"
                  :modelValue="'20'"
                  style="width: 12.5%;"
                ></num-ctrl>
              </td>
            </tr>
            <tr>
              <th>사용중</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-minus'"
                  :nextBtn="'mdi-plus'"
                  :modelValue="'28'"
                ></num-ctrl>
              </td>
              <th>외출</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-minus'"
                  :nextBtn="'mdi-plus'"
                  :modelValue="'28'"
                ></num-ctrl>
              </td>
              <th>청소/점검대기</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-minus'"
                  :nextBtn="'mdi-plus'"
                  :modelValue="'28'"
                ></num-ctrl>
              </td>
              <th>청소/점검중</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-minus'"
                  :nextBtn="'mdi-plus'"
                  :modelValue="'28'"
                ></num-ctrl>
              </td>
              <th>공실</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-minus'"
                  :nextBtn="'mdi-plus'"
                  :modelValue="'28'"
                ></num-ctrl>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-body-2 pb-0 pt-5">
        <strong class="font-weight-bold">상태변경</strong>
      </v-card-title>
      <v-card-text class="pt-1 pb-0">
        <v-row dense>
          <v-col style="flex:0 0 40%; width: 40%">
            <v-btn-toggle
              v-model="toggle_one"              
              mandatory
              class="state-change pa-2"
            >
              <v-row dense>
                <v-col style="flex: 0 0 30%; max-width: 30%">
                  <v-btn
                    height="60"
                    elevation="0"
                    color="#2680EB"
                    text-color="#fff"
                    border="1"
                    class="rounded"
                  >
                    입실
                  </v-btn>
                </v-col>
                <v-col style="flex: 0 0 30%; max-width: 30%">
                  <v-btn
                    height="60"
                    elevation="0"
                    color="#2680EB"
                    text-color="#fff"
                    border="1"
                    class="rounded"
                  >
                    퇴실
                  </v-btn>
                </v-col>
                <v-col style="flex: 0 0 20%; max-width: 20%">
                  <v-btn
                    height="60"
                    elevation="0"
                    color="#2680EB"
                    text-color="#fff"
                    border="1"
                    class="rounded"
                  >
                    외출
                  </v-btn>
                </v-col>
                <v-col style="flex: 0 0 20%; max-width: 20%">
                  <v-btn
                    height="60"
                    elevation="0"
                    color="#2680EB"
                    text-color="#fff"
                    border="1"
                    class="rounded brd-black"
                  >
                    청소지시
                  </v-btn>
                </v-col>
              </v-row>
            </v-btn-toggle>
          </v-col>
          <v-col style="flex:0 0 40%; width: 40%">
            <v-btn-toggle
              v-model="toggle_one2"              
              mandatory
              class="state-change pa-2"
            >
              <v-row dense>
                <v-col cols="3">
                  <v-btn
                    height="60"
                    elevation="0"
                    color="#2680EB"
                    text-color="#fff"
                    border="1"
                    class="rounded brd-black"
                  >
                    공실처리
                  </v-btn>
                </v-col>
                <v-col cols="3">
                  <v-btn
                    height="60"
                    elevation="0"
                    color="#2680EB"
                    text-color="#fff"
                    border="1"
                    class="rounded"
                  >
                    대실변경
                  </v-btn>
                </v-col>
                <v-col cols="3">
                  <v-btn
                    height="60"
                    elevation="0"
                    color="#2680EB"
                    text-color="#fff"
                    border="1"
                    class="rounded"
                  >
                    사용연장
                  </v-btn>
                </v-col>
                <v-col cols="3">
                  <v-btn
                    height="60"
                    elevation="0"
                    color="#2680EB"
                    text-color="#fff"
                    border="1"
                    class="rounded"
                  >
                    객실이동
                  </v-btn>
                </v-col>
              </v-row>
            </v-btn-toggle>
          </v-col>
          <v-col style="flex:0 0 20%; width: 20%">
            <v-row no-gutters class="pa-2 bg-white rounded" style="border: 1px solid #D6DBE2 !important">
              <v-col cols="6" class="pr-1">
                <v-btn
                  width="100%"
                  height="60"
                  elevation="0"
                  color="#FC6060"
                  text-color="#fff"
                >
                  저장
                </v-btn>
              </v-col>
              <v-col cols="6" class="pl-1">
                <v-btn
                  width="100%"
                  height="60"
                  elevation="0"
                  color="#3C4D60"
                  text-color="#fff"
                >
                  취소
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
    </v-layout>
  </v-card>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import PopupTitle from "@/components/PopViewTitle.vue";
import NumCtrl from "@/components/NumCtrl.vue";

export default defineComponent({
  name: "PopEntrance",
  components: {
    PopupTitle,
    NumCtrl,
  },
  data: () => ({
    items: ["현재 입실가능 예약 없음"],
    items2: ["없음"],
    radioGroup: 1,
    toggle_one :0,
    toggle_one2 :0,
  }),
});
</script>

<style lang="scss" scoped>
.state-change {
  width: 100%;
  height :76px;
  background: #fff;
  border:1px solid #D6DBE2;
  .v-btn {
    width: 100%;
    padding: 0;
    color: #2C2F35;
    background-color: #EFF2F4;
    font-weight: 400;
  }
}
</style>
