<template>
  <v-card elevation="0" rounded="0" color="#F2F5F8">
    <popup-title :title="'305호 [스위트룸] 객실예약'"></popup-title>
    <v-layout class="pt-1 py-5 flex-column">
      <v-card-text class="pt-3 pb-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="90px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>예약정보</th>
              <td>
                <v-select
                  :items="items"
                  density="compact"
                  hide-details
                  single-line
                  class="select-box type02"
                ></v-select>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-body-2 pb-0 pt-5" style="width: 100%">
        <strong class="font-weight-bold">예약 정보입력</strong>
      </v-card-title>
      <v-card-text class="pt-1 pb-0">
        <v-row dense>
          <v-col cols="6">
            <v-table density="comfortable" class="table-view">
              <colgroup>
                <col width="90px" />
                <col width="auto" />
              </colgroup>
              <tbody>
                <tr>
                  <th>숙박형태</th>
                  <td>
                    <v-btn-toggle
                      v-model="toggle_none"
                      rounded="0"
                      density="compact"
                      selected-class="info-active"
                      class="stay-form"
                    >
                      <v-btn
                        class="rounded pa-0 text-caption"
                        style="background: #7868E5 !important"
                      >
                        <v-icon icon="mdi mdi-check" size="small" class="mb-1 mr-1"></v-icon>대실
                      </v-btn>
                      <v-btn
                        class="rounded pa-0 text-caption"
                        style="background: #5C86F1 !important"
                      >
                        <v-icon icon="mdi mdi-check" size="small" class="mb-1 mr-1"></v-icon>숙박
                      </v-btn>
                      <v-btn
                        class="rounded pa-0 text-caption"
                        style="background: #3770BB !important"
                      >
                        <v-icon icon="mdi mdi-check" size="small" class="mb-1 mr-1"></v-icon>장기
                      </v-btn>
                    </v-btn-toggle>
                  </td>
                </tr>
                <tr>
                  <th>예약방법</th>
                  <td>
                    <v-radio-group inline hide-details class="radio-box-group d-flex align-center">
                      <v-radio
                        density="compact"
                        label="야놀자"
                        value="야놀자"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="여기어때"
                        value="여기어때"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="네이버"
                        value="네이버"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="기타"
                        value="기타"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="직접입력"
                        value="직접입력"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                    </v-radio-group>
                    <v-text-field
                      single-line
                      hide-details
                      density="compact"
                      color="#3C4D60"
                      bg-color="#F9F9F9"
                      variant="outlined"
                      placeholder="예약방법"
                      class="input-box mb-1"
                      style="display: none"
                    ></v-text-field>
                  </td>
                </tr>
                <tr>
                  <th>객실타입</th>
                  <td>
                    <v-radio-group inline hide-details class="radio-box-group d-flex align-center">
                      <v-radio
                        density="compact"
                        label="VIP룸"
                        value="VIP룸"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="스위트룸"
                        value="스위트룸"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="일반룸"
                        value="일반룸"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="특실"
                        value="특실"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="기타"
                        value="기타"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                    </v-radio-group>
                    <v-text-field
                      single-line
                      hide-details
                      density="compact"
                      color="#3C4D60"
                      bg-color="#F9F9F9"
                      variant="outlined"
                      placeholder="객실타입"
                      class="input-box mb-1"
                      style="display: none"
                    ></v-text-field>
                  </td>
                </tr>
                <tr>
                  <th>입실예정일</th>
                  <td>
                    <v-row dense>
                      <v-col cols="6">
                        <date-picker class="brd-grey"></date-picker>
                      </v-col>
                      <v-col cols="3">
                        <num-ctrl
                          :preBtn="'mdi-chevron-down'"
                          :nextBtn="'mdi-chevron-up'"
                          :modelValue="'18시'"
                          style="max-width: 100%;"
                        ></num-ctrl>
                      </v-col>
                      <v-col cols="3">
                        <num-ctrl
                          :preBtn="'mdi-chevron-down'"
                          :nextBtn="'mdi-chevron-up'"
                          :modelValue="'0분'"
                          style="max-width: 100%;"
                        ></num-ctrl>
                      </v-col>
                    </v-row>
                  </td>
                </tr>
                <tr>
                  <th>휴대폰번호</th>
                  <td>
                    <v-text-field
                      single-line
                      hide-details
                      density="compact"
                      color="#3C4D60"
                      bg-color="#F9F9F9"
                      variant="outlined"
                      class="input-box"
                    ></v-text-field>
                  </td>
                </tr>
                <tr>
                  <th>고객명</th>
                  <td>
                    <v-text-field
                      single-line
                      hide-details
                      density="compact"
                      color="#3C4D60"
                      bg-color="#F9F9F9"
                      variant="outlined"
                      class="input-box"
                    ></v-text-field>
                  </td>
                </tr>
                <tr>
                  <th>판매가</th>
                  <td>
                    <v-text-field
                      single-line
                      hide-details
                      density="compact"
                      color="#3C4D60"
                      bg-color="#F9F9F9"
                      variant="outlined"
                      class="input-box text-right"
                    ></v-text-field>
                  </td>
                </tr>
                <tr>
                  <th>OTA 결재</th>
                  <td>
                    <div class="d-flex aling-center">
                      <num-ctrl
                        :preBtn="'mdi-minus'"
                        :nextBtn="'mdi-plus'"
                        :modelValue="'70,000원'"
                        class="flex-grow-1"
                      ></num-ctrl>
                      <v-btn
                        elevation="0"
                        color="#3C4D60"
                        text-color="#fff"
                        min-width="56"
                        height="28"
                        class="text-caption ml-2 m-hover pa-0"
                      >
                        잔액<v-icon icon="mdi mdi-plus" size="small"></v-icon>
                      </v-btn>
                      <v-btn
                        elevation="0"
                        color="#5E7892"
                        text-color="#fff"
                        min-width="40"
                        height="28"
                        class="text-caption ml-1 pa-0"
                      >
                        +1.0
                      </v-btn>
                      <v-btn
                        elevation="0"
                        color="#5E7892"
                        text-color="#fff"
                        min-width="40"
                        height="28"
                        class="text-caption ml-1 pa-0"
                      >
                        +5.0
                      </v-btn>
                      <v-btn
                        elevation="0"
                        color="#5E7892"
                        text-color="#fff"
                        min-width="40"
                        height="28"
                        class="text-caption ml-1 pa-0"
                      >
                        +10
                      </v-btn>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>결제잔금</th>
                  <td>
                    <v-text-field
                      single-line
                      hide-details
                      density="compact"
                      color="#3C4D60"
                      bg-color="#F9F9F9"
                      variant="outlined"
                      class="input-box text-right"
                    ></v-text-field>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-col>
          <v-col cols="6">
            <v-table density="comfortable" class="table-view">
              <colgroup>
                <col width="90px" />
                <col width="auto" />
              </colgroup>
              <tbody>
                <tr>
                  <th>예약상태</th>
                  <td>
                    <v-radio-group inline hide-details class="radio-box-group d-flex align-center">
                      <v-radio
                        density="compact"
                        label="정상"
                        value="정상"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="취소"
                        value="취소"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                    </v-radio-group>
                  </td>
                </tr>
                <tr>
                  <th>예약일</th>
                  <td>
                    <v-text-field
                      single-line
                      hide-details
                      model-value="2022년 / 12월 24일 / 17:04"
                      density="compact"
                      color="#3C4D60"
                      bg-color="#F9F9F9"
                      variant="outlined"
                      class="input-box"
                    ></v-text-field>
                  </td>
                </tr>
                <tr>
                  <th>객실배정</th>
                  <td>
                    <div class="d-flex align-center">
                      <v-select
                        :items="items2"
                        density="compact"
                        hide-details
                        single-line
                        class="select-box type02"
                      ></v-select>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="자동 배정 생성"
                        class="check-box v-col-auto pa-0 ml-1"
                      ></v-checkbox>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>퇴실예정일</th>
                  <td>
                    <v-row dense>
                      <v-col cols="6">
                        <date-picker class="brd-grey"></date-picker>
                      </v-col>
                      <v-col cols="3">
                        <num-ctrl
                          :preBtn="'mdi-chevron-down'"
                          :nextBtn="'mdi-chevron-up'"
                          :modelValue="'18시'"
                          style="max-width: 100%;"
                        ></num-ctrl>
                      </v-col>
                      <v-col cols="3">
                        <num-ctrl
                          :preBtn="'mdi-chevron-down'"
                          :nextBtn="'mdi-chevron-up'"
                          :modelValue="'0분'"
                          style="max-width: 100%;"
                        ></num-ctrl>
                      </v-col>
                    </v-row>
                  </td>
                </tr>
                <tr>
                  <th>예약번호</th>
                  <td>
                    <div class="d-flex align-center">
                      <v-text-field
                        single-line
                        hide-details
                        density="compact"
                        color="#3C4D60"
                        bg-color="#F9F9F9"
                        variant="outlined"
                        placeholder="예약번호 입력"
                        class="input-box"
                      ></v-text-field>
                      <v-btn
                        elevation="0"
                        min-width="100"
                        height="28"            
                        text-color="#2C2F35"
                        border="1"
                        class="text-caption ml-2 pa-0 brd-red-accent-2"
                      >
                        번호 자동 생성
                      </v-btn>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>예약형태</th>
                  <td>
                    <v-radio-group inline hide-details class="radio-box-group d-flex align-center">
                      <v-radio
                        density="compact"
                        label="도보방문"
                        value="도보방문"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="차량방문"
                        value="차량방문"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="대중교통 이용"
                        value="대중교통 이용"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="기타"
                        value="기타"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                    </v-radio-group>
                  </td>
                </tr>
                <tr>
                  <th>예약가</th>
                  <td>
                    <div class="d-flex aling-center">
                      <num-ctrl
                        :preBtn="'mdi-minus'"
                        :nextBtn="'mdi-plus'"
                        :modelValue="'70,000원'"
                        class="flex-grow-1"
                      ></num-ctrl>
                      <v-btn
                        elevation="0"
                        color="#3C4D60"
                        text-color="#fff"
                        min-width="56"
                        height="28"
                        class="text-caption ml-2 m-hover pa-0"
                      >
                        잔액<v-icon icon="mdi mdi-plus" size="small"></v-icon>
                      </v-btn>
                      <v-btn
                        elevation="0"
                        color="#5E7892"
                        text-color="#fff"
                        min-width="40"
                        height="28"
                        class="text-caption ml-1 pa-0"
                      >
                        +1.0
                      </v-btn>
                      <v-btn
                        elevation="0"
                        color="#5E7892"
                        text-color="#fff"
                        min-width="40"
                        height="28"
                        class="text-caption ml-1 pa-0"
                      >
                        +5.0
                      </v-btn>
                      <v-btn
                        elevation="0"
                        color="#5E7892"
                        text-color="#fff"
                        min-width="40"
                        height="28"
                        class="text-caption ml-1 pa-0"
                      >
                        +10
                      </v-btn>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>고객메모</th>
                  <td>
                    <v-textarea
                      single-line
                      hide-details
                      variant
                      bg-color="#F9F9F9"
                      rows="2"
                      class="textarea-box my-2"
                    ></v-textarea>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-col>
        </v-row>
      </v-card-text>
      <div class="d-flex justify-center mt-6 mb-3">
        <v-btn
          width="150"
          height="60"
          elevation="0"
          color="#FC6060"
          text-color="#fff"
        >
          예약 등록
        </v-btn>
        <v-btn
          width="150"
          height="60"
          elevation="0"
          color="#3C4D60"
          text-color="#fff"
          class="ml-5"
        >
          닫기
        </v-btn>
      </div>
    </v-layout>
  </v-card>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import PopupTitle from "@/components/PopViewTitle.vue";
import DatePicker from "@/components//DatePicker.vue";
import NumCtrl from "@/components/NumCtrl.vue";

export default defineComponent({
  name: "PopReservation",
  components: {
    PopupTitle,
    DatePicker,
    NumCtrl,
  },
  props: {},
  data: () => ({
    items: ["[스위트룸] 예약없음"],
    items2: ["객실 미배정"],
    toggle_none: 0,
  }),
});
</script>

<style lang="scss" scoped>
.stay-form{
  height: 28px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15%, auto));
  grid-gap: 0.5rem;
  .v-btn {
    color: #fff;
    font-weight: 300;
    .v-icon {
      display: none;
    }
    &.info-active {
      border: 2px solid #304153;
      box-sizing: border-box;
      .v-icon {
        display: block;
      }
    }
  }
}
</style>
