<template>
  <v-card elevation="0" rounded="0" color="#F2F5F8">
    <popup-title :title="'객실 이력 조회'"></popup-title>
    <v-layout class="pt-1 py-5 flex-column">
      <v-card-title class="text-body-2 pb-0">
        <strong class="font-weight-bold">조회일자</strong>
        <span class="ml-auto text-caption text-red-accent-2"
          >*객실이력 보관 일수는 12일 입니다.</span
        >
      </v-card-title>
      <v-card-text class="py-0">
        <v-card elevation="0" rounded="0" border="1" class="pa-2">
          <v-row dense>
            <v-col class="v-col-auto" style="width: 195px">
              <v-radio-group
                inline
                hide-details
                class="radio-box-group d-flex align-center"
              >
                <v-radio
                  density="compact"
                  label="어제"
                  value="어제"
                  color="#FC6060"
                  class="radio-box"
                ></v-radio>
                <v-radio
                  density="compact"
                  label="오늘"
                  value="오늘"
                  color="#FC6060"
                  class="radio-box"
                ></v-radio>
                <v-radio
                  density="compact"
                  label="이번주"
                  value="이번주"
                  color="#FC6060"
                  class="radio-box"
                ></v-radio>
              </v-radio-group>
            </v-col>
            <v-col>
              <v-row dense>
                <v-col>
                  <v-row dense>
                    <v-col cols="6">
                      <date-picker class="brd-grey"></date-picker>
                    </v-col>
                    <v-col cols="3">
                      <num-ctrl
                        :preBtn="'mdi-chevron-down'"
                        :nextBtn="'mdi-chevron-up'"
                        :modelValue="'18시'"
                        style="max-width: 100%"
                      ></num-ctrl>
                    </v-col>
                    <v-col cols="3">
                      <num-ctrl
                        :preBtn="'mdi-chevron-down'"
                        :nextBtn="'mdi-chevron-up'"
                        :modelValue="'0분'"
                        style="max-width: 100%"
                      ></num-ctrl>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col
                  class="v-col-auto px-0 d-flex align-center justify-center"
                  style="width: 20px"
                >
                  ~
                </v-col>
                <v-col>
                  <v-row dense>
                    <v-col cols="6">
                      <date-picker class="brd-grey"></date-picker>
                    </v-col>
                    <v-col cols="3">
                      <num-ctrl
                        :preBtn="'mdi-chevron-down'"
                        :nextBtn="'mdi-chevron-up'"
                        :modelValue="'18시'"
                        style="max-width: 100%"
                      ></num-ctrl>
                    </v-col>
                    <v-col cols="3">
                      <num-ctrl
                        :preBtn="'mdi-chevron-down'"
                        :nextBtn="'mdi-chevron-up'"
                        :modelValue="'0분'"
                        style="max-width: 100%"
                      ></num-ctrl>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-col>
            <v-col class="v-col-auto" style="width: 85px">
              <v-btn
                elevation="0"
                min-width="76"
                height="28"
                text-color="#2C2F35"
                border="1"
                class="text-caption pa-0 brd-red-accent-2"
              >
                검색조회
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-card-text>
      <v-card-title class="text-body-2 pb-0 pt-5">
        <strong class="font-weight-bold">필터옵션</strong>
        <div class="d-flex align-center ml-auto">
          <v-checkbox
            hide-details
            density="default"
            color="#fc6060"
            label="전체선택"
            class="check-box v-col-auto pa-0"
          ></v-checkbox>
          <v-divider vertical class="my-2 mx-2"></v-divider>
          <div class="d-flex align-center">
            <span class="text-caption mr-2">객실명</span>
            <v-select
              :items="items"
              density="compact"
              hide-details
              single-line
              class="select-box type02 brd-gray bg-gray"
              style="width: 190px"
            ></v-select>
          </div>
        </div>
      </v-card-title>
      <v-card-text class="pt-1 pb-0">
        <v-card elevation="0" rounded="0" border="1" class="pa-2">
          <div class="d-flex flex-wrap">
            <v-checkbox
              hide-details
              density="default"
              color="#fc6060"
              label="손님키"
              class="check-box flex-grow-0 mr-3"
            ></v-checkbox>
            <v-checkbox
              hide-details
              density="default"
              color="#fc6060"
              label="청소키"
              class="check-box flex-grow-0 mr-3"
            ></v-checkbox>
            <v-checkbox
              hide-details
              density="default"
              color="#fc6060"
              label="출입문"
              class="check-box flex-grow-0 mr-3"
            ></v-checkbox>
            <v-checkbox
              hide-details
              density="default"
              color="#fc6060"
              label="대실"
              class="check-box flex-grow-0 mr-3"
            ></v-checkbox>
            <v-checkbox
              hide-details
              density="default"
              color="#fc6060"
              label="숙박"
              class="check-box flex-grow-0 mr-3"
            ></v-checkbox>
            <v-checkbox
              hide-details
              density="default"
              color="#fc6060"
              label="장기"
              class="check-box flex-grow-0 mr-3"
            ></v-checkbox>
            <v-checkbox
              hide-details
              density="default"
              color="#fc6060"
              label="퇴실"
              class="check-box flex-grow-0 mr-3"
            ></v-checkbox>
            <v-checkbox
              hide-details
              density="default"
              color="#fc6060"
              label="외출"
              class="check-box flex-grow-0"
            ></v-checkbox>
          </div>
          <div class="d-flex flex-wrap mt-1">
            <v-checkbox
              hide-details
              density="default"
              color="#fc6060"
              label="객실이동"
              class="check-box flex-grow-0 mr-3"
            ></v-checkbox>
            <v-checkbox
              hide-details
              density="default"
              color="#fc6060"
              label="청소요청"
              class="check-box flex-grow-0 mr-3"
            ></v-checkbox>
            <v-checkbox
              hide-details
              density="default"
              color="#fc6060"
              label="청소완료"
              class="check-box flex-grow-0 mr-3"
            ></v-checkbox>
            <v-checkbox
              hide-details
              density="default"
              color="#fc6060"
              label="외출복귀"
              class="check-box flex-grow-0 mr-3"
            ></v-checkbox>
            <v-checkbox
              hide-details
              density="default"
              color="#fc6060"
              label="입실취소"
              class="check-box flex-grow-0 mr-3"
            ></v-checkbox>
            <v-checkbox
              hide-details
              density="default"
              color="#fc6060"
              label="퇴실취소"
              class="check-box flex-grow-0 mr-3"
            ></v-checkbox>
            <v-checkbox
              hide-details
              density="default"
              color="#fc6060"
              label="전원차단"
              class="check-box flex-grow-0 mr-3"
            ></v-checkbox>
            <v-checkbox
              hide-details
              density="default"
              color="#fc6060"
              label="전원공급"
              class="check-box flex-grow-0 mr-3"
            ></v-checkbox>
            <v-checkbox
              hide-details
              density="default"
              color="#fc6060"
              label="배차요청"
              class="check-box flex-grow-0 mr-3"
            ></v-checkbox>
            <v-checkbox
              hide-details
              density="default"
              color="#fc6060"
              label="배차완료"
              class="check-box flex-grow-0 mr-3"
            ></v-checkbox>
            <v-checkbox
              hide-details
              density="default"
              color="#fc6060"
              label="배차취소"
              class="check-box flex-grow-0"
            ></v-checkbox>
          </div>
        </v-card>
      </v-card-text>
      <div class="table-list02 pa-4 pb-0">
        <div class="d-flex align-center mb-2">
          <span class="text-caption align-self-end"
            >Total: <strong>46</strong>개</span
          >
          <div class="d-flex align-center ml-auto">
            <v-select
              :items="items2"
              density="compact"
              hide-details
              single-line
              class="select-box"
              style="width: 100px"
            ></v-select>
            <v-btn
              elevation="0"
              rounded="0"
              border="1"
              width="85"
              height="26"
              class="text-caption pa-0 ml-2"
            >
              <v-icon
                color="green-darken-1"
                icon="mdi mdi-microsoft-excel"
              ></v-icon>
              <strong>엑셀저장</strong>
            </v-btn>
          </div>
        </div>
        <v-table
          fixed-header
          density="compact"
          height="300"
          class="overflow-y-auto text-center"
        >
          <colgroup>
            <col width="22%" />
            <col width="12%" span="4" />
            <col width="30%" />
          </colgroup>
          <thead>
            <tr>
              <th>
                일실
                <v-btn
                  elevation="0"
                  rounded="0"
                  density="compact"
                  color="transparent"
                  min-width="24"
                  selected-class="active"
                  class="pa-0"
                >
                  <v-icon color="#fff" icon="fa fa-caret-up"></v-icon>
                  <!-- <v-icon color="#fff" icon="fa fa-caret-down"></v-icon> -->
                </v-btn>
              </th>
              <th>객실명</th>
              <th>구분</th>
              <th>숙박형태</th>
              <th>근무지</th>
              <th>상태</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2022-12-24 17:23:02</td>
              <td>203호</td>
              <td>자동</td>
              <td>대실</td>
              <td>auto</td>
              <td class="text-green-darken-1">숙박형태</td>
            </tr>
            <tr>
              <td>2022-12-24 17:23:02</td>
              <td>203호</td>
              <td>자동</td>
              <td>대실</td>
              <td>auto</td>
              <td>문 [열림]</td>
            </tr>
            <tr>
              <td>2022-12-24 17:23:02</td>
              <td>203호</td>
              <td>자동</td>
              <td>숙박</td>
              <td>admin</td>
              <td class="text-red-accent-2">퇴실</td>
            </tr>
            <tr>
              <td>2022-12-24 17:23:02</td>
              <td>203호</td>
              <td>프론트</td>
              <td></td>
              <td>auto</td>
              <td class="text-cyan-lighten-2">청소완료</td>
            </tr>
            <tr>
              <td>2022-12-24 17:23:02</td>
              <td>203호</td>
              <td>프론트</td>
              <td>숙박</td>
              <td>admin</td>
              <td class="text-blue">입실</td>
            </tr>
            <tr>
              <td>2022-12-24 17:23:02</td>
              <td>203호</td>
              <td>자동</td>
              <td></td>
              <td>auto</td>
              <td class="text-red">전원차단</td>
            </tr>
            <tr>
              <td>2022-12-24 17:23:02</td>
              <td>203호</td>
              <td>IDM</td>
              <td></td>
              <td>admin</td>
              <td>프론트 판매</td>
            </tr>
            <tr>
              <td>2022-12-24 17:23:02</td>
              <td>203호</td>
              <td>자동</td>
              <td></td>
              <td>auto</td>
              <td class="text-orange-lighten-1">청소요정</td>
            </tr>
            <tr>
              <td>2022-12-24 17:23:02</td>
              <td>203호</td>
              <td>IDM</td>
              <td></td>
              <td>admin</td>
              <td>외출복귀</td>
            </tr>
            <tr>
              <td>2022-12-24 17:23:02</td>
              <td>203호</td>
              <td>자동</td>
              <td></td>
              <td>auto</td>
              <td class="text-red">전원차단</td>
            </tr>
            <tr>
              <td>2022-12-24 17:23:02</td>
              <td>203호</td>
              <td>IDM</td>
              <td></td>
              <td>admin</td>
              <td>프론트 판매</td>
            </tr>
            <tr>
              <td>2022-12-24 17:23:02</td>
              <td>203호</td>
              <td>자동</td>
              <td></td>
              <td>auto</td>
              <td class="text-orange-lighten-1">청소요정</td>
            </tr>
            <tr>
              <td>2022-12-24 17:23:02</td>
              <td>203호</td>
              <td>IDM</td>
              <td></td>
              <td>admin</td>
              <td>외출복귀</td>
            </tr>
          </tbody>
        </v-table>
        <div class="pagenation">
          <v-row no-gutters justify="center">
            <v-col cols="8">
              <v-pagination
                v-model="page"
                density="compact"
                color="#304153"
                class="my-4 mb-0"
                :length="15"
              ></v-pagination>
            </v-col>
          </v-row>
        </div>
      </div>
      <div class="d-flex justify-center mt-6 mb-3">
        <v-btn
          width="150"
          height="40"
          elevation="0"
          color="#3C4D60"
          text-color="#fff"
        >
          닫기
        </v-btn>
      </div>
    </v-layout>
  </v-card>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
import PopupTitle from '@/components/PopViewTitle.vue';
import DatePicker from '@/components/DatePicker.vue';
import NumCtrl from '@/components/NumCtrl.vue';

export default defineComponent({
  name: 'PopRoomRecordList',
  components: {
    PopupTitle,
    DatePicker,
    NumCtrl,
  },
  props: {},
  data: () => ({
    items: ['전체객실'],
    items2: ['10개씩보기'],
    pageActive: '1',
  }),
});
</script>

<style lang="scss" scoped></style>
