<template>
  <v-card elevation="0" rounded="0" color="#F2F5F8">
    <popup-title :title="'기간별 매출 집계'"></popup-title>
    <v-layout class="pt-1 py-5 flex-column">
      <v-row dense>
        <v-col cols="7">
          <v-card-title class="text-body-2 pb-0 pr-1">
            <strong class="font-weight-bold">검색기간</strong>
            <span class="text-caption text-red-accent-2 pl-2"
              >*매출 데이터 보관 일수는 8일 입니다.</span
            >
            <div class="ml-auto">
              <v-radio-group
                inline
                hide-details
                class="radio-box-group d-flex align-center"
              >
                <v-radio
                  density="compact"
                  label="어제"
                  value="어제"
                  color="#FC6060"
                  class="radio-box"
                ></v-radio>
                <v-radio
                  density="compact"
                  label="오늘"
                  value="오늘"
                  color="#FC6060"
                  class="radio-box"
                ></v-radio>
                <v-radio
                  density="compact"
                  label="이번주"
                  value="이번주"
                  color="#FC6060"
                  class="radio-box"
                ></v-radio>
                <v-radio
                  density="compact"
                  label="이번달"
                  value="이번달"
                  color="#FC6060"
                  class="radio-box"
                ></v-radio>
              </v-radio-group>
            </div>
          </v-card-title>
          <v-card-text class="py-0 pr-1">
            <v-card elevation="0" rounded="0" border="1" class="pa-2">
              <v-row dense>
                <v-col class="v-col-auto" style="width: 110px">
                  <v-radio-group
                    inline
                    hide-details
                    class="radio-box-group d-flex align-center"
                  >
                    <v-radio
                      density="compact"
                      label="정산시간 기준"
                      value="정산시간 기준"
                      color="#FC6060"
                      class="radio-box"
                    ></v-radio>
                  </v-radio-group>
                </v-col>
                <v-col>
                  <v-row dense>
                    <v-col>
                      <v-row dense>
                        <v-col cols="6">
                          <date-picker class="brd-grey"></date-picker>
                        </v-col>
                        <v-col cols="3">
                          <num-ctrl
                            :preBtn="'mdi-chevron-down'"
                            :nextBtn="'mdi-chevron-up'"
                            :modelValue="'18시'"
                            style="max-width: 100%"
                          ></num-ctrl>
                        </v-col>
                        <v-col cols="3">
                          <num-ctrl
                            :preBtn="'mdi-chevron-down'"
                            :nextBtn="'mdi-chevron-up'"
                            :modelValue="'0분'"
                            style="max-width: 100%"
                          ></num-ctrl>
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-col
                      class="v-col-auto px-0 d-flex align-center justify-center"
                      style="width: 20px"
                    >
                      ~
                    </v-col>
                    <v-col>
                      <v-row dense>
                        <v-col cols="6">
                          <date-picker class="brd-grey"></date-picker>
                        </v-col>
                        <v-col cols="3">
                          <num-ctrl
                            :preBtn="'mdi-chevron-down'"
                            :nextBtn="'mdi-chevron-up'"
                            :modelValue="'18시'"
                            style="max-width: 100%"
                          ></num-ctrl>
                        </v-col>
                        <v-col cols="3">
                          <num-ctrl
                            :preBtn="'mdi-chevron-down'"
                            :nextBtn="'mdi-chevron-up'"
                            :modelValue="'0분'"
                            style="max-width: 100%"
                          ></num-ctrl>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </v-card>
            <v-table density="comfortable" class="table-view mt-1">
              <colgroup>
                <col width="90px" />
                <col width="auto" />
              </colgroup>
              <tbody>
                <tr>
                  <th>보기옵션</th>
                  <td>
                    <v-radio-group
                      inline
                      hide-details
                      class="radio-box-group d-flex align-center"
                    >
                      <v-radio
                        density="compact"
                        label="결제 기준 (결제별 정산)"
                        value="결제 기준 (결제별 정산)"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="숙박 기준 (입실별 정산)"
                        value="숙박 기준 (입실별 정산)"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                    </v-radio-group>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
          <v-card-title class="text-body-2 pb-0 pr-1">
            <strong class="font-weight-bold">필터옵션</strong>
            <v-btn
              elevation="0"
              width="90"
              height="28"
              color="#FC6060"
              text-color="#fff"
              class="text-caption pa-0 ml-auto"
            >
              <v-icon icon="mdi mdi-magnify"></v-icon>
              검색조회
            </v-btn>
          </v-card-title>
          <v-card-text class="py-0 pr-1">
            <v-table density="comfortable" class="table-view mt-1">
              <colgroup>
                <col width="90px" />
                <col width="auto" />
                <col width="90px" />
                <col width="auto" />
                <col width="90px" />
                <col width="auto" />
              </colgroup>
              <tbody>
                <tr>
                  <th>객실타입</th>
                  <td>
                    <v-select
                      :items="items2"
                      density="compact"
                      hide-details
                      single-line
                      class="select-box bg-gray"
                    ></v-select>
                  </td>
                  <th>객실명</th>
                  <td>
                    <v-select
                      :items="items3"
                      density="compact"
                      hide-details
                      single-line
                      class="select-box bg-gray"
                    ></v-select>
                  </td>
                  <th>무인판매기</th>
                  <td>
                    <v-select
                      :items="items4"
                      density="compact"
                      hide-details
                      single-line
                      class="select-box bg-gray"
                    ></v-select>
                  </td>
                </tr>
                <tr>
                  <th class="px-0">
                    <v-checkbox
                      hide-details
                      density="default"
                      color="#fc6060"
                      label="전체선택"
                      class="check-box v-col-auto pa-0 justify-center text-black"
                    ></v-checkbox>
                  </th>
                  <td colspan="5">
                    <div class="d-flex align-center flex-wrap">
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="대실"
                        class="check-box v-col-auto pa-0 mr-2"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="숙박"
                        class="check-box v-col-auto pa-0 mr-2"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="장기"
                        class="check-box v-col-auto pa-0 mr-2"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="현금결제"
                        class="check-box v-col-auto pa-0 mr-2"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="카드결제"
                        class="check-box v-col-auto pa-0 mr-2"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="OTA결제"
                        class="check-box v-col-auto pa-0 mr-2"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="포인트결제"
                        class="check-box v-col-auto pa-0 mr-2"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="예약"
                        class="check-box v-col-auto pa-0 mr-2"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="유인판매"
                        class="check-box v-col-auto pa-0 mr-2"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="무인판매"
                        class="check-box v-col-auto pa-0 mr-2"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="자동입실"
                        class="check-box v-col-auto pa-0 mr-2"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="객실이동"
                        class="check-box v-col-auto pa-0"
                      ></v-checkbox>
                    </div>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
        </v-col>
        <v-col cols="5" class="d-flex flex-column">
          <v-card-title class="text-body-2 pb-0 pl-1">
            <strong class="font-weight-bold">숙박현황</strong>
            <span class="ml-auto text-caption text-red-accent-2">
              *대실/숙박 변경 시 결제 금액은 변경된 투숙형태에 합삽됩니다.
            </span>
          </v-card-title>
          <v-card-text class="py-0 pl-1 d-flex flex-column flex-grow-1">
            <div class="table-list02 th-grey d-flex flex-column flex-grow-1">
              <v-table
                fixed-header
                density="compact"
                max-height="224"
                class="overflow-y-auto text-center"
              >
                <colgroup>
                  <col width="8%" span="2" />
                  <col width="12%" span="7" />
                </colgroup>
                <thead>
                  <tr>
                    <th>유형</th>
                    <th>건수</th>
                    <th>현금</th>
                    <th>카드</th>
                    <th>OTA</th>
                    <th>포인트</th>
                    <th>미수금</th>
                    <th>반환금</th>
                    <th>합계</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-purple-darken-1 px-1">대실</td>
                    <td class="text-right px-1">0</td>
                    <td class="text-right px-1">1,000,000</td>
                    <td class="text-right px-1">1,000,000</td>
                    <td class="text-right px-1">0</td>
                    <td class="text-right px-1">1,000,000</td>
                    <td class="text-right px-1">0</td>
                    <td class="text-right px-1">0</td>
                    <td class="text-right px-1">19,000,000</td>
                  </tr>
                  <tr>
                    <td class="text-blue px-1">숙박</td>
                    <td class="text-right px-1">0</td>
                    <td class="text-right px-1">1,000,000</td>
                    <td class="text-right px-1">1,000,000</td>
                    <td class="text-right px-1">0</td>
                    <td class="text-right px-1">1,000,000</td>
                    <td class="text-right px-1">0</td>
                    <td class="text-right px-1">0</td>
                    <td class="text-right px-1">19,000,000</td>
                  </tr>
                  <tr>
                    <td class="text-indigo-darken-2 px-1">장기</td>
                    <td class="text-right px-1">0</td>
                    <td class="text-right px-1">1,000,000</td>
                    <td class="text-right px-1">1,000,000</td>
                    <td class="text-right px-1">0</td>
                    <td class="text-right px-1">1,000,000</td>
                    <td class="text-right px-1">0</td>
                    <td class="text-right px-1">0</td>
                    <td class="text-right px-1">19,000,000</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td class="px-1">합계</td>
                    <td class="text-right px-1">0</td>
                    <td class="text-right px-1">1,000,000</td>
                    <td class="text-right px-1">1,000,000</td>
                    <td class="text-right px-1">0</td>
                    <td class="text-right px-1">1,000,000</td>
                    <td class="text-right px-1">0</td>
                    <td class="text-right px-1">0</td>
                    <td class="text-right px-1">19,000,000</td>
                  </tr>
                </tfoot>
              </v-table>
              <div
                class="d-flex align-center justify-space-around flex-grow-1 text-caption text-black"
                style="
                  background: #eff2f4;
                  border: 1px solid #d6dbe2;
                  border-width: 0 1px 1px 1px;
                "
              >
                <span>미수금 : 0</span>
                <span>반환금 : 0</span>
                <span class="text-red-accent-2">총매출 : 5,000,000</span>
              </div>
            </div>
          </v-card-text>
        </v-col>
      </v-row>
      <div class="table-list02 pa-4 pb-0">
        <div class="d-flex align-center mb-2">
          <span class="text-caption align-self-end"
            >Total: <strong>46</strong>개</span
          >
          <div class="d-flex align-center ml-auto">
            <v-select
              :items="items"
              density="compact"
              hide-details
              single-line
              class="select-box"
              style="width: 100px"
            ></v-select>
            <v-btn
              elevation="0"
              rounded="0"
              border="1"
              width="85"
              height="26"
              class="text-caption pa-0 ml-2"
            >
              <v-icon
                color="green-darken-1"
                icon="mdi mdi-microsoft-excel"
              ></v-icon>
              <strong>엑셀저장</strong>
            </v-btn>
          </div>
        </div>
        <v-table
          fixed-header
          density="compact"
          height="300"
          class="overflow-y-auto text-center"
        >
          <colgroup>
            <col width="5%" span="3" />
            <col width="10%" />
            <col width="5%" span="15" />
          </colgroup>
          <thead>
            <tr>
              <th>객실명</th>
              <th>투숙형태</th>
              <th>상태</th>
              <th>입실/퇴실(예정)일시</th>
              <th>사용시간</th>
              <th>예약</th>
              <th>판매구분</th>
              <th>기본요금</th>
              <th>추가할인</th>
              <th>판매요금</th>
              <th>현금결제<br />예약결제</th>
              <th>카드결제<br />예약결제</th>
              <th>포인트결제<br />예약결제</th>
              <th>OTA결제</th>
              <th>전화번호<br />카드승인번호</th>
              <th>미수금<br />반환금</th>
              <th>메모<br />차량번호</th>
              <th>근무자</th>
              <th>비고/사유</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>302호</td>
              <td>숙박</td>
              <td></td>
              <td>2022-12-24 17:23:02</td>
              <td>17:23:02</td>
              <td></td>
              <td>프런트</td>
              <td class="text-right">50,000</td>
              <td class="text-right">0</td>
              <td class="text-right">50,000</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1234567890</td>
              <td class="text-right">0</td>
              <td>12가2816</td>
              <td>홍길동</td>
              <td></td>
            </tr>
            <tr>
              <td>302호</td>
              <td>숙박</td>
              <td></td>
              <td>2022-12-24 17:23:02</td>
              <td>17:23:02</td>
              <td></td>
              <td>프런트</td>
              <td class="text-right">50,000</td>
              <td class="text-right">0</td>
              <td class="text-right">50,000</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1234567890</td>
              <td class="text-right">0</td>
              <td>12가2816</td>
              <td>홍길동</td>
              <td></td>
            </tr>
            <tr>
              <td>302호</td>
              <td>숙박</td>
              <td></td>
              <td>2022-12-24 17:23:02</td>
              <td>17:23:02</td>
              <td></td>
              <td>프런트</td>
              <td class="text-right">50,000</td>
              <td class="text-right">0</td>
              <td class="text-right">50,000</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1234567890</td>
              <td class="text-right">0</td>
              <td>12가2816</td>
              <td>홍길동</td>
              <td></td>
            </tr>
            <tr>
              <td>302호</td>
              <td>숙박</td>
              <td></td>
              <td>2022-12-24 17:23:02</td>
              <td>17:23:02</td>
              <td></td>
              <td>프런트</td>
              <td class="text-right">50,000</td>
              <td class="text-right">0</td>
              <td class="text-right">50,000</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1234567890</td>
              <td class="text-right">0</td>
              <td>12가2816</td>
              <td>홍길동</td>
              <td></td>
            </tr>
            <tr>
              <td>302호</td>
              <td>숙박</td>
              <td></td>
              <td>2022-12-24 17:23:02</td>
              <td>17:23:02</td>
              <td></td>
              <td>프런트</td>
              <td class="text-right">50,000</td>
              <td class="text-right">0</td>
              <td class="text-right">50,000</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1234567890</td>
              <td class="text-right">0</td>
              <td>12가2816</td>
              <td>홍길동</td>
              <td></td>
            </tr>
            <tr>
              <td>302호</td>
              <td>숙박</td>
              <td></td>
              <td>2022-12-24 17:23:02</td>
              <td>17:23:02</td>
              <td></td>
              <td>프런트</td>
              <td class="text-right">50,000</td>
              <td class="text-right">0</td>
              <td class="text-right">50,000</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1234567890</td>
              <td class="text-right">0</td>
              <td>12가2816</td>
              <td>홍길동</td>
              <td></td>
            </tr>
            <tr>
              <td>302호</td>
              <td>숙박</td>
              <td></td>
              <td>2022-12-24 17:23:02</td>
              <td>17:23:02</td>
              <td></td>
              <td>프런트</td>
              <td class="text-right">50,000</td>
              <td class="text-right">0</td>
              <td class="text-right">50,000</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1234567890</td>
              <td class="text-right">0</td>
              <td>12가2816</td>
              <td>홍길동</td>
              <td></td>
            </tr>
            <tr>
              <td>302호</td>
              <td>숙박</td>
              <td></td>
              <td>2022-12-24 17:23:02</td>
              <td>17:23:02</td>
              <td></td>
              <td>프런트</td>
              <td class="text-right">50,000</td>
              <td class="text-right">0</td>
              <td class="text-right">50,000</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1234567890</td>
              <td class="text-right">0</td>
              <td>12가2816</td>
              <td>홍길동</td>
              <td></td>
            </tr>
          </tbody>
        </v-table>
        <div class="pagenation">
          <v-row no-gutters justify="center">
            <v-col cols="8">
              <v-pagination
                v-model="page"
                density="compact"
                color="#304153"
                class="my-4 mb-0"
                :length="15"
              ></v-pagination>
            </v-col>
          </v-row>
        </div>
      </div>
      <div class="d-flex justify-center mt-6 mb-3">
        <v-btn
          width="150"
          height="40"
          elevation="0"
          color="#3C4D60"
          text-color="#fff"
        >
          닫기
        </v-btn>
      </div>
    </v-layout>
  </v-card>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
import PopupTitle from '@/components/PopViewTitle.vue';
import DatePicker from '@/components/DatePicker.vue';
import NumCtrl from '@/components/NumCtrl.vue';

export default defineComponent({
  name: 'PopRoomSales',
  components: {
    PopupTitle,
    DatePicker,
    NumCtrl,
  },
  props: {},
  data: () => ({
    items: ['10개씩보기'],
    items2: ['전체타입'],
    items3: ['503호'],
    items4: ['전체 무인판매기'],
    pageActive: '1',
  }),
});
</script>

<style lang="scss" scoped></style>
