<template>
  <v-card elevation="0" color="#F2F5F8">
    <popup-title
      :title="'업소 게시판'"
      :text="'- 알림등록'"
      :textShow="true"
      class="px-4 pt-4"
    ></popup-title>
    <v-card-text>
      <v-table density="comfortable" class="table-view">
        <colgroup>
          <col width="100px" />
          <col width="auto" />
          <col width="100px" />
          <col width="auto" />
        </colgroup>
        <tbody>
          <tr>
            <th>알림타입</th>
            <td>
              <v-select
                :items="items"
                density="compact"
                hide-details
                single-line
                class="select-box type02 bg-gray"
              ></v-select>
            </td>
            <th>예약방법</th>
            <td>
              <v-select
                :items="items02"
                density="compact"
                hide-details
                single-line
                class="select-box type02 bg-gray"
              ></v-select>
            </td>
          </tr>
          <tr>
            <th>제목</th>
            <td colspan="3">
              <v-text-field
                single-line
                hide-details
                readonly
                density="compact"
                color="#3C4D60"
                bg-color="#F9F9F9"
                variant="outlined"
                class="input-box"
              ></v-text-field>
            </td>
          </tr>
        </tbody>
      </v-table>
      <v-card
        elevation="0"
        rounded="0"
        border="1"
        color="#EFF2F4"
        class="d-flex px-3 py-1 mt-2"
      >
        <v-btn
          elevation="0"
          min-width="26"
          min-height="26"
          width="26"
          height="26"
          border="1"
          icon="mdi-format-header-1"
          size="x-small"
          class="pa-0 rounded"
        ></v-btn>
        <v-btn
          elevation="0"
          min-width="26"
          min-height="26"
          width="26"
          height="26"
          border="1"
          icon="mdi-format-header-2"
          size="x-small"
          class="pa-0 rounded ml-2"
        ></v-btn>
        <v-select
          :items="items03"
          density="compact"
          hide-details
          single-line
          class="select-box ml-2"
        ></v-select>
        <v-select
          :items="items04"
          density="compact"
          hide-details
          single-line
          class="select-box ml-2"
        ></v-select>
        <v-btn
          elevation="0"
          min-width="26"
          min-height="26"
          width="26"
          height="26"
          border="1"
          icon="mdi-format-bold"
          size="x-small"
          class="pa-0 rounded ml-2"
        ></v-btn>
        <v-btn
          elevation="0"
          min-width="26"
          min-height="26"
          width="26"
          height="26"
          border="1"
          icon="mdi-format-italic"
          size="x-small"
          class="pa-0 rounded ml-2"
        ></v-btn>
        <v-btn
          elevation="0"
          min-width="26"
          min-height="26"
          width="26"
          height="26"
          border="1"
          icon="mdi-format-underline"
          size="x-small"
          class="pa-0 rounded ml-2"
        ></v-btn>
        <v-btn
          elevation="0"
          min-width="26"
          min-height="26"
          width="26"
          height="26"
          border="1"
          icon="mdi-format-strikethrough-variant"
          size="x-small"
          class="pa-0 rounded ml-2"
        ></v-btn>
        <v-btn
          elevation="0"
          min-width="26"
          min-height="26"
          width="26"
          height="26"
          border="1"
          icon="mdi-format-quote-close"
          size="x-small"
          class="pa-0 rounded ml-2"
        ></v-btn>
        <v-btn
          elevation="0"
          min-width="26"
          min-height="26"
          width="26"
          height="26"
          border="1"
          icon="mdi-format-list-numbered"
          size="x-small"
          class="pa-0 rounded ml-2"
        ></v-btn>
        <v-btn
          elevation="0"
          min-width="26"
          min-height="26"
          width="26"
          height="26"
          border="1"
          icon="mdi-format-list-bulleted-square"
          size="x-small"
          class="pa-0 rounded ml-2"
        ></v-btn>
        <v-btn
          elevation="0"
          min-width="26"
          min-height="26"
          width="26"
          height="26"
          border="1"
          icon="mdi-format-indent-decrease"
          size="x-small"
          class="pa-0 rounded ml-2"
        ></v-btn>
        <v-btn
          elevation="0"
          min-width="26"
          min-height="26"
          width="26"
          height="26"
          border="1"
          icon="mdi-format-indent-increase"
          size="x-small"
          class="pa-0 rounded ml-2"
        ></v-btn>
        <v-btn
          elevation="0"
          min-width="26"
          min-height="26"
          width="26"
          height="26"
          border="1"
          icon="mdi-paperclip"
          size="x-small"
          class="pa-0 rounded ml-2"
        ></v-btn>
        <v-btn
          elevation="0"
          min-width="26"
          min-height="26"
          width="26"
          height="26"
          border="1"
          icon="mdi-panorama-variant"
          size="x-small"
          class="pa-0 rounded ml-2"
        ></v-btn>
        <v-btn
          elevation="0"
          min-width="26"
          min-height="26"
          width="26"
          height="26"
          border="1"
          icon="mdi-format-clear"
          size="x-small"
          class="pa-0 rounded ml-2"
        ></v-btn>
      </v-card>
      <v-textarea
        single-line
        hide-details
        variant
        bg-color="#fff"
        rows="13"
        class="textarea-box mt-2"
      ></v-textarea>
      <v-table density="comfortable" class="table-view mt-2">
        <colgroup>
          <col width="100px" />
          <col width="auto" />
        </colgroup>
        <tbody>
          <tr>
            <th>첨부파일</th>
            <td>
              <v-file-input
                show-size
                single-line
                hide-details
                rounded="0"
                density="compact"
                variant="none"
                bg-color="white"
                append-inner-icon="$file"
                class="file-box"
              ></v-file-input>
            </td>
          </tr>
        </tbody>
      </v-table>
      <div class="ripple-write mt-2">
        <span class="title text-black">댓글</span>
        <v-textarea
          hide-details
          single-line
          no-resize
          rows="2"
          outline="0"
          bg-color="#fff"
        ></v-textarea>
        <v-btn flat color="#5E7892" text-color="#fff" width="80">등록</v-btn>
      </div>
      <div class="d-flex justify-center mt-6 mb-3">
        <v-btn
          width="150"
          height="40"
          elevation="0"
          color="#3C4D60"
          text-color="#fff"
          variant="outlined"
        >
          닫기
        </v-btn>
        <v-btn
          width="150"
          height="40"
          elevation="0"
          color="#2680EB"
          text-color="#fff"
          variant="outlined"
          class="ml-3"
        >
          등록
        </v-btn>
      </div>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import PopupTitle from '@/components/PopupTitle.vue';

export default defineComponent({
  name: 'BusinessWrite',
  components: {
    PopupTitle,
  },
  props: {},
  data() {
    return {
      items: ['알림', '메모'],
      items02: ['등록', '확인', '처리중', '취소', '처리완료'],
      items03: ['Sans Serif'],
      items04: ['Normal'],
    };
  },
});
</script>

<style lang="scss" scoped>
.ico-state {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 20px;
  font-size: 12px;
  line-height: 22px;
  color: #fff;
  letter-spacing: -0.033333em !important;
}
</style>
