<template>
  <v-card elevation="0" color="#F2F5F8">
    <popup-title
      :title="'업소 게시판'"
      :text="'- 알림목록'"
      :textShow="true"
      class="px-4 pt-4"
    ></popup-title>
    <v-card-text>
      <search-box2></search-box2>
      <div class="mt-3">
        <v-table density="comfortable" height="480" class="table-list type02">
          <colgroup>
            <col width="80px" />
            <col width="80px" />
            <col width="auto" />
            <col width="120px" />
            <col width="120px" />
            <col width="120px" />
          </colgroup>
          <thead>
            <tr>
              <th>타입</th>
              <th>상태</th>
              <th>제목</th>
              <th>등록일</th>
              <th>수정일</th>
              <th>작성자</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">[알림]</td>
              <td class="text-center">
                <span
                  class="ico-state rounded-pill"
                  style="background-color: #5e7892"
                >
                  확인
                </span>
              </td>
              <td>
                <div class="txt-ellipsis">
                  <a class="txt btn-link">여기어때, 대한민국 광고대상 수상</a>
                  <v-avatar color="#FC6060" tile size="17" class="ico-new">
                    <span class="text-white text-caption">N</span>
                  </v-avatar>
                </div>
              </td>
              <td class="text-center font-weight-light">12/24/10:36</td>
              <td class="text-center font-weight-light">12/24/10:36</td>
              <td class="text-center font-weight-light">12/24/10:36</td>
            </tr>
            <tr>
              <td class="text-center text-blue">[메모]</td>
              <td class="text-center">
                <span
                  class="ico-state rounded-pill"
                  style="background-color: #ffaa00"
                >
                  확인
                </span>
              </td>
              <td>
                <div class="txt-ellipsis">
                  <a class="txt btn-link"
                    >체크인 매니저 2.01 업데이트 안내입니다.</a
                  >
                  <v-avatar color="#FC6060" tile size="17" class="ico-new">
                    <span class="text-white text-caption">N</span>
                  </v-avatar>
                </div>
              </td>
              <td class="text-center font-weight-light">12/24/10:36</td>
              <td class="text-center font-weight-light">12/24/10:36</td>
              <td class="text-center font-weight-light">12/24/10:36</td>
            </tr>
            <tr>
              <td class="text-center">[알림]</td>
              <td class="text-center">
                <span
                  class="ico-state rounded-pill"
                  style="background-color: #fc6060"
                >
                  취소
                </span>
              </td>
              <td>
                <div class="txt-ellipsis">
                  <a class="txt btn-link"
                    >공지사항입니다. 공지 제목이 표시 됩니다.</a
                  >
                  <v-avatar color="#FC6060" tile size="17" class="ico-new">
                    <span class="text-white text-caption">N</span>
                  </v-avatar>
                </div>
              </td>
              <td class="text-center font-weight-light">12/24/10:36</td>
              <td class="text-center font-weight-light">12/24/10:36</td>
              <td class="text-center font-weight-light">12/24/10:36</td>
            </tr>
            <tr>
              <td class="text-center">[알림]</td>
              <td class="text-center">
                <span
                  class="ico-state rounded-pill"
                  style="background-color: #2680eb"
                >
                  처리중
                </span>
              </td>
              <td>
                <div class="txt-ellipsis">
                  <a class="txt btn-link"
                    >공지사항입니다. 공지 제목이 표시 됩니다. 공지사항입니다.
                    공지 제목이 표시 됩니다.</a
                  >
                  <v-avatar color="#FC6060" tile size="17" class="ico-new">
                    <span class="text-white text-caption">N</span>
                  </v-avatar>
                </div>
              </td>
              <td class="text-center font-weight-light">12/24/10:36</td>
              <td class="text-center font-weight-light">12/24/10:36</td>
              <td class="text-center font-weight-light">12/24/10:36</td>
            </tr>
            <tr>
              <td class="text-center">[알림]</td>
              <td class="text-center">
                <span
                  class="ico-state rounded-pill"
                  style="background-color: #52ace0"
                >
                  완료
                </span>
              </td>
              <td>
                <div class="txt-ellipsis">
                  <a class="txt btn-link text-pink-accent-2">
                    <v-icon
                      icon="fa fa-angle-down"
                      size="x-small"
                      class="text-grey-darken-3"
                      style="transform: rotate(45deg)"
                    ></v-icon>
                    <span class="font-weight-light"
                      >댓글: 처리하였습니다. 점검부탁드립니다.</span
                    >
                  </a>
                </div>
              </td>
              <td class="text-center font-weight-light">12/24/10:36</td>
              <td class="text-center font-weight-light">12/24/10:36</td>
              <td class="text-center font-weight-light">12/24/10:36</td>
            </tr>
            <tr>
              <td class="text-center">[알림]</td>
              <td class="text-center"></td>
              <td>
                <div class="txt-ellipsis">
                  <a class="txt btn-link"
                    >공지사항입니다. 공지 제목이 표시 됩니다. 공지사항입니다.
                    공지 제목이 표시 됩니다.</a
                  >
                  <v-avatar color="#FC6060" tile size="17" class="ico-new">
                    <span class="text-white text-caption">N</span>
                  </v-avatar>
                </div>
              </td>
              <td class="text-center font-weight-light">12/24/10:36</td>
              <td class="text-center font-weight-light">12/24/10:36</td>
              <td class="text-center font-weight-light">12/24/10:36</td>
            </tr>
            <tr>
              <td class="text-center">[알림]</td>
              <td class="text-center"></td>
              <td>
                <div class="txt-ellipsis">
                  <a class="txt btn-link"
                    >공지사항입니다. 공지 제목이 표시 됩니다. 공지사항입니다.
                    공지 제목이 표시 됩니다.</a
                  >
                  <v-avatar color="#FC6060" tile size="17" class="ico-new">
                    <span class="text-white text-caption">N</span>
                  </v-avatar>
                </div>
              </td>
              <td class="text-center font-weight-light">12/24/10:36</td>
              <td class="text-center font-weight-light">12/24/10:36</td>
              <td class="text-center font-weight-light">12/24/10:36</td>
            </tr>
            <tr>
              <td class="text-center">[알림]</td>
              <td class="text-center"></td>
              <td>
                <div class="txt-ellipsis">
                  <a class="txt btn-link"
                    >공지사항입니다. 공지 제목이 표시 됩니다. 공지사항입니다.
                    공지 제목이 표시 됩니다.</a
                  >
                  <v-avatar color="#FC6060" tile size="17" class="ico-new">
                    <span class="text-white text-caption">N</span>
                  </v-avatar>
                </div>
              </td>
              <td class="text-center font-weight-light">12/24/10:36</td>
              <td class="text-center font-weight-light">12/24/10:36</td>
              <td class="text-center font-weight-light">12/24/10:36</td>
            </tr>
            <tr>
              <td class="text-center">[알림]</td>
              <td class="text-center"></td>
              <td>
                <div class="txt-ellipsis">
                  <a class="txt btn-link"
                    >공지사항입니다. 공지 제목이 표시 됩니다. 공지사항입니다.
                    공지 제목이 표시 됩니다.</a
                  >
                  <v-avatar color="#FC6060" tile size="17" class="ico-new">
                    <span class="text-white text-caption">N</span>
                  </v-avatar>
                </div>
              </td>
              <td class="text-center font-weight-light">12/24/10:36</td>
              <td class="text-center font-weight-light">12/24/10:36</td>
              <td class="text-center font-weight-light">12/24/10:36</td>
            </tr>
            <tr>
              <td class="text-center">[알림]</td>
              <td class="text-center"></td>
              <td>
                <div class="txt-ellipsis">
                  <a class="txt btn-link"
                    >공지사항입니다. 공지 제목이 표시 됩니다. 공지사항입니다.
                    공지 제목이 표시 됩니다.</a
                  >
                  <v-avatar color="#FC6060" tile size="17" class="ico-new">
                    <span class="text-white text-caption">N</span>
                  </v-avatar>
                </div>
              </td>
              <td class="text-center font-weight-light">12/24/10:36</td>
              <td class="text-center font-weight-light">12/24/10:36</td>
              <td class="text-center font-weight-light">12/24/10:36</td>
            </tr>
            <tr>
              <td class="text-center">[알림]</td>
              <td class="text-center"></td>
              <td>
                <div class="txt-ellipsis">
                  <a class="txt btn-link"
                    >공지사항입니다. 공지 제목이 표시 됩니다. 공지사항입니다.
                    공지 제목이 표시 됩니다.</a
                  >
                  <v-avatar color="#FC6060" tile size="17" class="ico-new">
                    <span class="text-white text-caption">N</span>
                  </v-avatar>
                </div>
              </td>
              <td class="text-center font-weight-light">12/24/10:36</td>
              <td class="text-center font-weight-light">12/24/10:36</td>
              <td class="text-center font-weight-light">12/24/10:36</td>
            </tr>
          </tbody>
        </v-table>
        <div class="pagenation">
          <v-row no-gutters justify="center">
            <v-col cols="8">
              <v-pagination
                v-model="page"
                density="compact"
                color="#304153"
                class="my-4 mb-0"
                :length="15"
              ></v-pagination>
            </v-col>
          </v-row>
        </div>
      </div>
      <div class="d-flex justify-center mt-6 mb-3">
        <v-btn
          width="150"
          height="40"
          elevation="0"
          color="#3C4D60"
          text-color="#fff"
          variant="outlined"
        >
          닫기
        </v-btn>
        <v-btn
          width="150"
          height="40"
          elevation="0"
          color="#2680EB"
          text-color="#fff"
          variant="outlined"
          class="ml-3"
        >
          알림등록
        </v-btn>
      </div>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import PopupTitle from '@/components/PopupTitle.vue';
import SearchBox2 from '@/components/SearchBox2.vue';

export default defineComponent({
  name: 'BusinessList',
  components: {
    PopupTitle,
    SearchBox2,
  },
  props: {},
  data() {
    return {};
  },
});
</script>

<style lang="scss" scoped>
.ico-state {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 20px;
  font-size: 12px;
  line-height: 22px;
  color: #fff;
  letter-spacing: -0.033333em !important;
}
</style>
