<template>
  <v-card elevation="0" rounded="0" color="#F2F5F8">
    <popup-title :title="'카드데크 키 현황 보기'" :pinHide="true"></popup-title>
    <v-layout class="pt-1 py-5 flex-column">
      <v-card
        elevation="0"
        rounded="0"
        color="transparent"
        height="700"
        class="pt-2 overflow-y-auto"
      >
        <v-row dense>
          <v-col class="pb-0">
            <div class="pl-4">
              <v-card-title
                class="justify-center text-body-1 font-weight-bold text-white rounded py-1"
                style="background-color:#2680EB"
              >
                좌측 카드데크
              </v-card-title>
              <v-card-text class="pa-0 pt-1">
                <div class="table-list02 d-flex">
                  <v-table
                    fixed-header
                    density="compact"
                    class="text-center flex-grow-1"
                  >
                    <colgroup>
                      <col width="16%" span="2"/>
                      <col width="auto" />
                      <col width="30%" />
                      <col width="14%" />
                    </colgroup>
                    <thead>
                      <tr>
                        <th>카드</th>
                        <th>통신</th>
                        <th>호실</th>
                        <th>바코드</th>
                        <th>NO</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="large"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong>201호</strong></td>
                        <td>등록</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="large"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong>203호</strong></td>
                        <td>등록</td>
                        <td>3</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="large"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong>201호</strong></td>
                        <td>미등록</td>
                        <td>5</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong>301호</strong></td>
                        <td>등록</td>
                        <td>7</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#999999"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>9</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>11</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#999999"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>13</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>15</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>17</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>19</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>21</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>23</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>25</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>27</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>29</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>31</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>33</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>35</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>37</td>
                      </tr>
                    </tbody>
                  </v-table>
                  <v-table
                    fixed-header
                    density="compact"
                    class="text-center flex-grow-1"
                  >
                    <colgroup>
                      <col width="16%" span="2"/>
                      <col width="auto" />
                      <col width="30%" />
                      <col width="14%" />
                    </colgroup>
                    <thead>
                      <tr>
                        <th>카드</th>
                        <th>통신</th>
                        <th>호실</th>
                        <th>바코드</th>
                        <th>NO</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="large"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong>202호</strong></td>
                        <td>등록</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="large"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong>205호</strong></td>
                        <td>등록</td>
                        <td>4</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="large"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong>207호</strong></td>
                        <td>미등록</td>
                        <td>6</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong>302호</strong></td>
                        <td>등록</td>
                        <td>8</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>10</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>12</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>14</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>16</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>18</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>20</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>22</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>24</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>26</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>28</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>30</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>32</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>34</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>36</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>38</td>
                      </tr>
                    </tbody>
                  </v-table>
                </div>
              </v-card-text>
            </div>
          </v-col>
          <v-col class="pb-0">
            <div class="pr-4">
            <v-card-title
                class="justify-center text-body-1 font-weight-bold text-white rounded py-1"
                style="background-color:#7868E5"
              >
                우측 카드데크
              </v-card-title>
              <v-card-text class="pa-0 pt-1">
                <div class="table-list02 d-flex">
                  <v-table
                    fixed-header
                    density="compact"
                    class="text-center flex-grow-1"
                  >
                    <colgroup>
                      <col width="16%" span="2"/>
                      <col width="auto" />
                      <col width="30%" />
                      <col width="14%" />
                    </colgroup>
                    <thead>
                      <tr>
                        <th>카드</th>
                        <th>통신</th>
                        <th>호실</th>
                        <th>바코드</th>
                        <th>NO</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="large"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong>201호</strong></td>
                        <td>등록</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="large"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong>203호</strong></td>
                        <td>등록</td>
                        <td>3</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="large"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong>201호</strong></td>
                        <td>미등록</td>
                        <td>5</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong>301호</strong></td>
                        <td>등록</td>
                        <td>7</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#999999"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>9</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>11</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#999999"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>13</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>15</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>17</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>19</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>21</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>23</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>25</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>27</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>29</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>31</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>33</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>35</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>37</td>
                      </tr>
                    </tbody>
                  </v-table>
                  <v-table
                    fixed-header
                    density="compact"
                    class="text-center flex-grow-1"
                  >
                    <colgroup>
                      <col width="16%" span="2"/>
                      <col width="auto" />
                      <col width="30%" />
                      <col width="14%" />
                    </colgroup>
                    <thead>
                      <tr>
                        <th>카드</th>
                        <th>통신</th>
                        <th>호실</th>
                        <th>바코드</th>
                        <th>NO</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="large"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong>202호</strong></td>
                        <td>등록</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="large"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong>205호</strong></td>
                        <td>등록</td>
                        <td>4</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="large"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong>207호</strong></td>
                        <td>미등록</td>
                        <td>6</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong>302호</strong></td>
                        <td>등록</td>
                        <td>8</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>10</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>12</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>14</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>16</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>18</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>20</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>22</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>24</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>26</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>28</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>30</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>32</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-circle-outline"
                            size="default"
                            color="#52ACE0"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>34</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>36</td>
                      </tr>
                      <tr>
                        <td>
                          <v-icon
                            icon="mdi mdi-badge-account"
                            size="large"
                            color="#5E7892"
                          ></v-icon>
                        </td>
                        <td>
                          <v-icon
                            icon="mdi mdi-close"
                            size="default"
                            color="#FC6060"
                          ></v-icon>
                        </td>
                        <td><strong></strong></td>
                        <td>미등록</td>
                        <td>38</td>
                      </tr>
                    </tbody>
                  </v-table>
                </div>
              </v-card-text>
            </div>
          </v-col>
        </v-row>
      </v-card>
    </v-layout>
  </v-card>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import PopupTitle from "@/components/PopViewTitle.vue";

export default defineComponent({
  name: "CardDeck",
  components: {
    PopupTitle,
  },
  data: () => ({}),
});
</script>

<style lang="scss" scoped>
.table-list02 {
  .v-table {
    &:first-child {
      border-right: none;
      th:last-child{
        border-right: 1px solid #fff;
      }
      td:last-child{
        border-right: 1px solid #304153;
      }
    }
    &:last-child {
      border-left: none;
    }
  }
}
</style>