<template>
  <v-card elevation="0" rounded="0" color="#F2F5F8">
    <popup-title :title="'환경설정'" :pinHide="true"></popup-title>
    <v-tabs
      v-model="tab"
      background-color="#3C4D60"
      class="tab-setting px-4 py-2"
    >
      <v-row>
        <v-col>
          <v-tab
            hide-slider
            rounded="default"
            max-width="100%"
            height="36"
            value="set-charge"
            class="text-body-2"
          >
            요금설정
          </v-tab>
          <v-tab
            hide-slider
            rounded="default"
            max-width="100%"
            height="36"
            value="set-view"
            class="text-body-2 mt-1"
          >
            화면설정
          </v-tab>
        </v-col>
        <v-col>
          <v-tab
            hide-slider
            rounded="default"
            max-width="100%"
            height="36"
            value="set-operation"
            class="text-body-2"
          >
            운영규칙 설정
          </v-tab>
          <v-tab
            hide-slider
            rounded="default"
            max-width="100%"
            height="36"
            value="set-voice"
            class="text-body-2 mt-1"
          >
            음성설정
          </v-tab>
        </v-col>        
        <v-col>
          <v-tab
            hide-slider
            rounded="default"
            max-width="100%"
            height="36"
            value="option-entrance"
            class="text-body-2"
          >
            입실시간 옵션
          </v-tab>
          <v-tab
            hide-slider
            rounded="default"
            max-width="100%"
            height="36"
            value="set-power"
            class="text-body-2 mt-1"
          >
            전원설정
          </v-tab>
        </v-col>
        <v-col>
          <v-tab
            hide-slider
            rounded="default"
            max-width="100%"
            height="36"
            value="set-unattended-sales"
            class="text-body-2"
          >
            무인판매 설정
          </v-tab>
          <v-tab
            hide-slider
            rounded="default"
            max-width="100%"
            height="36"
            value="set-alarm"
            class="text-body-2 mt-1"
          >
            알림설정
          </v-tab>
        </v-col>
        <v-col>
          <v-tab
            hide-slider
            rounded="default"
            max-width="100%"
            height="36"
            value="set-reservation"
            class="text-body-2"
          >
            예약설정
          </v-tab>
          <v-tab
            hide-slider
            rounded="default"
            max-width="100%"
            height="36"
            value="set-pms"
            class="text-body-2 mt-1"
          >
            PMS 설정
          </v-tab>
        </v-col>
        <v-col>
          <v-tab
            hide-slider
            rounded="default"
            max-width="100%"
            height="36"
            value="set-point"
            class="text-body-2"
          >
            포인트 설정
          </v-tab>
          <v-tab
            hide-slider
            rounded="default"
            max-width="100%"
            height="36"
            value="set-door"
            class="text-body-2 mt-1"
          >
            도어락 설정
          </v-tab>
        </v-col>
        <v-col>
          <v-tab
            hide-slider
            rounded="default"
            max-width="100%"
            height="36"
            value="set-lock"
            class="text-body-2"
          >
            잠금설정
          </v-tab>
          <v-tab
            hide-slider
            rounded="default"
            max-width="100%"
            height="36"
            value="set-data"
            class="text-body-2 mt-1"
          >
            데이터 관리
          </v-tab>
        </v-col>
        <v-col>
          <v-tab
            hide-slider
            rounded="default"
            max-width="100%"
            height="36"
            value="set-air"
            class="text-body-2"
          >
            냉/난방 설정
          </v-tab>
          <v-tab
            hide-slider
            rounded="default"
            max-width="100%"
            height="36"
            value="set-employee"
            class="text-body-2 mt-1"
          >
            직원관리
          </v-tab>
        </v-col>
        <v-col>
          <v-tab
            hide-slider
            rounded="default"
            max-width="100%"
            height="36"
            value="set-subscribe"
            class="text-body-2"
          >
            구독관리
          </v-tab>
        </v-col>
      </v-row>
    </v-tabs>
    <v-card-text class="px-0 overflow-y-auto" style="height:688px;">
      <v-window v-model="tab">
        <v-window-item
          reverse-transition="none"
          transition="none"
          value="set-charge"
        >
          <set-charge :height="'580'"></set-charge>
        </v-window-item>
        <v-window-item
          reverse-transition="none"
          transition="none"
          value="set-operation"
        >
          <set-operation :height="'580'"></set-operation>
        </v-window-item>
        <v-window-item
          reverse-transition="none"
          transition="none"
          value="option-entrance"
        >
          <option-entrance :height="'580'"></option-entrance>
        </v-window-item>
        <v-window-item
          reverse-transition="none"
          transition="none"
          value="set-unattended-sales"
        >
          <set-unattended-sales :height="'580'"></set-unattended-sales>
        </v-window-item>
        <v-window-item
          reverse-transition="none"
          transition="none"
          value="set-reservation"
        >
          <set-reservation :height="'580'"></set-reservation>
        </v-window-item>
        <v-window-item
          reverse-transition="none"
          transition="none"
          value="set-point"
        >
          <set-point :height="'580'"></set-point>
        </v-window-item>
        <v-window-item
          reverse-transition="none"
          transition="none"
          value="set-lock"
        >
          <set-lock :height="'580'"></set-lock>
        </v-window-item>
        <v-window-item
          reverse-transition="none"
          transition="none"
          value="set-air"
        >
          <set-air :height="'580'"></set-air>
        </v-window-item>
        <v-window-item
          reverse-transition="none"
          transition="none"
          value="set-subscribe"
        >
          <set-subscribe :height="'580'"></set-subscribe>
        </v-window-item>
        <v-window-item
          reverse-transition="none"
          transition="none"
          value="set-view"
        >
          <set-view :height="'580'"></set-view>
        </v-window-item>
        <v-window-item
          reverse-transition="none"
          transition="none"
          value="set-voice"
        >
          <set-voice :height="'580'"></set-voice>
        </v-window-item>
        <v-window-item
          reverse-transition="none"
          transition="none"
          value="set-power"
        >
          <set-power :height="'580'"></set-power>
        </v-window-item>
        <v-window-item
          reverse-transition="none"
          transition="none"
          value="set-alarm"
        >
          <set-alarm :height="'580'"></set-alarm>
        </v-window-item>
        <v-window-item
          reverse-transition="none"
          transition="none"
          value="set-pms"
        >
          <set-pms :height="'580'"></set-pms>
        </v-window-item>
        <v-window-item
          reverse-transition="none"
          transition="none"
          value="set-door"
        >
          <set-door :height="'580'"></set-door>
        </v-window-item>
        <v-window-item
          reverse-transition="none"
          transition="none"
          value="set-data"
        >
          <set-data :height="'580'"></set-data>
        </v-window-item>
        <v-window-item
          reverse-transition="none"
          transition="none"
          value="set-employee"
        >
          <set-employee :height="'580'"></set-employee>
        </v-window-item>
      </v-window>
    </v-card-text>
  </v-card>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import PopupTitle from "@/components/PopViewTitle.vue";
import SetCharge from "./SetCharge.vue";
import SetOperation from "./SetOperation.vue";
import OptionEntrance from "./OptionEntrance.vue";
import SetUnattendedSales from "./SetUnattendedSales.vue";
import SetReservation from "./SetReservation.vue";
import SetPoint from "./SetPoint.vue";
import SetLock from "./SetLock.vue";
import SetAir from "./SetAir.vue";
import SetPower from "./SetPower.vue";
import SetAlarm from "./SetAlarm.vue";
import SetPms from "./SetPms.vue";
import SetDoor from "./SetDoor.vue";
import SetData from "./SetData.vue";
import SetVoice from "./SetVoice.vue";
import SetEmployee from "./SetEmployee.vue";
import SetSubscribe from "./SetSubscribe.vue";
import SetView from "./SetView.vue";

export default defineComponent({
  name: "SettingIndex",
  components: {
    PopupTitle,
    SetCharge,
    SetOperation,
    OptionEntrance,
    SetUnattendedSales,
    SetReservation,
    SetPoint,
    SetLock,
    SetAir,
    SetPower,
    SetAlarm,
    SetPms,
    SetDoor,
    SetData,
    SetVoice,
    SetEmployee,
    SetSubscribe,
    SetView,
  },
  data: () => ({
    tab: null,
  }),
});
</script>

<style lang="scss" scoped>
.tab-setting {
  height: 96px;
  .v-row {
    margin: -2px;
    .v-col {
      padding: 2px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .v-tab {
        padding: 0;
        flex: 1;
        font-weight: bold;
        background-color: #fff;
        &.v-tab--selected{
          background-color: #FC6060;
          color: #fff;
        }
      }
    }
  }
}
</style>
