<template>
  <div>
    <v-card
      elevation="0"
      rounded="0"
      color="#F2F5F8"
      v-bind:min-height="height"
    >
      <v-card-title class="text-caption py-0">
        <strong class="font-weight-bold">입실 시간 옵션</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <div class="table-list02">
          <v-radio-group inline hide-details class="radio-box-group">
            <v-table
              fixed-header
              density="compact"
              height="262"
              class="overflow-y-auto text-center"
              style="width: 100%"
            >
              <colgroup>
                <col width="50px" />
                <col width="auto" span="8" />
                <col width="70px" />
              </colgroup>
              <thead>
                <tr>
                  <th>선택</th>
                  <th>옵션명</th>
                  <th>타입</th>
                  <th>시작</th>
                  <th>종료</th>
                  <th>적용시간</th>
                  <th>추가/할인</th>
                  <th>객실타입</th>
                  <th>무인</th>
                  <th>삭제</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <v-radio
                      density="compact"
                      value="radio04"
                      color="#FC6060"
                      class="radio-box"
                    ></v-radio>
                  </td>
                  <td>무한대실</td>
                  <td>대실</td>
                  <td>0</td>
                  <td>23</td>
                  <td class="text-blue">21시에 퇴실</td>
                  <td class="text-red-accent-2">20,000원</td>
                  <td>VIP룸 / 스위트룸</td>
                  <td class="text-blue">판매</td>
                  <td>
                    <v-btn
                      elevation="0"
                      min-width="50"
                      height="20"
                      color="#5E7892"
                      text-color="#fff"
                      variant="outlined"
                      class="text-caption pa-0"
                    >
                      삭제
                    </v-btn>
                  </td>
                </tr>
                <tr>
                  <td>
                    <v-radio
                      density="compact"
                      value="radio02"
                      color="#FC6060"
                      class="radio-box"
                    ></v-radio>
                  </td>
                  <td>영화관람형</td>
                  <td>대실</td>
                  <td>0</td>
                  <td>23</td>
                  <td class="text-pink">5시간 이용</td>
                  <td class="text-red-accent-2">10,000원</td>
                  <td>VIP룸 / 스위트룸</td>
                  <td>중지</td>
                  <td>
                    <v-btn
                      elevation="0"
                      min-width="50"
                      height="20"
                      color="#5E7892"
                      text-color="#fff"
                      variant="outlined"
                      class="text-caption pa-0"
                    >
                      삭제
                    </v-btn>
                  </td>
                </tr>
                <tr class="bg-grey-lighten-2">
                  <td>
                    <v-radio
                      density="compact"
                      value="radio03"
                      color="#FC6060"
                      class="radio-box"
                    ></v-radio>
                  </td>
                  <td>이른퇴실</td>
                  <td>대실</td>
                  <td>0</td>
                  <td>23</td>
                  <td class="text-blue">6시에 퇴실</td>
                  <td class="text-red-accent-2">-5,000원</td>
                  <td>VIP룸 / 스위트룸</td>
                  <td class="text-blue">판매</td>
                  <td>
                    <v-btn
                      elevation="0"
                      min-width="50"
                      height="20"
                      color="#FC6060"
                      text-color="#fff"
                      variant="outlined"
                      class="text-caption pa-0"
                    >
                      삭제
                    </v-btn>
                  </td>
                </tr>
                <tr>
                  <td>
                    <v-radio
                      density="compact"
                      value="radio01"
                      color="#FC6060"
                      class="radio-box"
                    ></v-radio>
                  </td>
                  <td>무한대실</td>
                  <td>대실</td>
                  <td>0</td>
                  <td>23</td>
                  <td class="text-blue">21시에 퇴실</td>
                  <td class="text-red-accent-2">20,000원</td>
                  <td>VIP룸 / 스위트룸</td>
                  <td class="text-blue">판매</td>
                  <td>
                    <v-btn
                      elevation="0"
                      min-width="50"
                      height="20"
                      color="#5E7892"
                      text-color="#fff"
                      variant="outlined"
                      class="text-caption pa-0"
                    >
                      삭제
                    </v-btn>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </v-table>
          </v-radio-group>
        </div>
      </v-card-text>
      <v-card-title class="text-caption py-0 pt-3 mb-1">
        <strong class="font-weight-bold">옵션 시간 추가/변경</strong>
        <span class="text-red-accent-2 ml-2"
          >* [옵션시작] ~ [옵션종료] 시간내에만 옵션 적용이 가능합니다.</span
        >
        <v-btn
          elevation="0"
          width="80"
          height="28"
          color="#fff"
          text-color="#2C2F35"
          border="1"
          variant="outlined"
          class="text-caption pa-0 brd-red-accent-2 ml-auto"
        >
          <v-icon icon="mdi mdi-plus font-weight-bold" size="small"></v-icon>
          옵션 추가
        </v-btn>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="105px" />
            <col width="auto" />
            <col width="105px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>옵션명</th>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  model-value="무한대실"
                  density="compact"
                  color="#2C2F35"
                  bg-color="#F9F9F9"
                  variant="outlined"
                  class="input-box"
                ></v-text-field>
              </td>
              <th>투숙형태</th>
              <td>
                <v-select
                  :items="items"
                  density="compact"
                  hide-details
                  single-line
                  class="select-box type02 bg-gray"
                ></v-select>
              </td>
            </tr>
            <tr>
              <th>옵션시작</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'0시'"
                ></num-ctrl>
              </td>
              <th>옵션종료</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'23시'"
                ></num-ctrl>
              </td>
            </tr>
            <tr>
              <th>적용기준</th>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center flex-grow-0"
                >
                  <v-radio
                    density="compact"
                    label="이용시간 기준"
                    value="이용시간 기준"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="퇴실시간 기준"
                    value="퇴실시간 기준"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
              <th>퇴실시간</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'21시'"
                ></num-ctrl>
              </td>
            </tr>
            <tr>
              <th>추가/할인</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'21시'"
                ></num-ctrl>
              </td>
              <th>적용 객실타입</th>
              <td>
                <div class="d-flex">
                  <v-checkbox
                    hide-details
                    density="default"
                    color="#fc6060"
                    label="VIP룸"
                    class="check-box flex-grow-0"
                  ></v-checkbox>
                  <v-checkbox
                    hide-details
                    density="default"
                    color="#fc6060"
                    label="스위트룸"
                    class="check-box flex-grow-0 ml-3"
                  ></v-checkbox>
                  <v-checkbox
                    hide-details
                    density="default"
                    color="#fc6060"
                    label="일반실"
                    class="check-box flex-grow-0 ml-3"
                  ></v-checkbox>
                  <v-checkbox
                    hide-details
                    density="default"
                    color="#fc6060"
                    label="커플룸"
                    class="check-box flex-grow-0 ml-3"
                  ></v-checkbox>
                </div>
              </td>
            </tr>
            <tr>
              <th>무인판매</th>
              <td colspan="3">
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center flex-grow-0"
                >
                  <v-radio
                    density="compact"
                    label="사용"
                    value="사용"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="사용안한"
                    value="사용안함"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
    </v-card>
    <div class="d-flex justify-center mt-6 mb-3">
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#3C4D60"
        text-color="#fff"
        variant="outlined"
      >
        닫기
      </v-btn>
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#2680EB"
        text-color="#fff"
        variant="outlined"
        class="ml-3"
      >
        저장
      </v-btn>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
import NumCtrl from '@/components/NumCtrl.vue';

export default defineComponent({
  name: 'OptionEntrance',
  props: {
    height: {
      type: String,
    },
  },
  components: {
    NumCtrl,
  },
  data: () => ({
    items: ['[CHECKQIN] ISSXA 01'],
  }),
});
</script>
