<template>
  <div>
    <v-card
      elevation="0"
      rounded="0"
      color="#F2F5F8"
      v-bind:min-height="height"
    >
      <v-card-title class="text-caption py-0">
        <strong class="font-weight-bold">난방 온도 설정</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="105px" />
            <col width="auto" />
            <col width="105px" />
            <col width="auto" />
            <col width="105px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>사용 중</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'30도'"
                  style="min-width: 100%"
                ></num-ctrl>
              </td>
              <th>외출 중</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'37도'"
                  style="min-width: 100%"
                ></num-ctrl>
              </td>
              <th>공실</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'18도'"
                  style="min-width: 100%"
                ></num-ctrl>
              </td>
            </tr>
            <tr>
              <th>청소/점검대기</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'24도'"
                  style="min-width: 100%"
                ></num-ctrl>
              </td>
              <th>청소/점검 중</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'29도'"
                  style="min-width: 100%"
                ></num-ctrl>
              </td>
              <td colspan="2" style="border-left: none"></td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-caption pb-0 pt-3">
        <strong class="font-weight-bold">고객 설정 최소/최대 온도</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="105px" />
            <col width="auto" />
            <col width="105px" />
            <col width="auto" />
            <col width="105px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>최소</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'20도'"
                  style="min-width: 100%"
                ></num-ctrl>
              </td>
              <th>최대</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'35도'"
                  style="min-width: 100%"
                ></num-ctrl>
              </td>
              <td colspan="2" style="border-left: none"></td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-caption pb-0 pt-3">
        <strong class="font-weight-bold">고객 설정 최소/최대 온도</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <tbody>
            <tr>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center"
                >
                  <v-radio
                    density="compact"
                    label="키에 연동"
                    value="키에 연동"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="전원 ON"
                    value="전원 ON"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="전원 OFF"
                    value="전원 OFF"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
    </v-card>
    <div class="d-flex justify-center mt-6 mb-3">
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#3C4D60"
        text-color="#fff"
        variant="outlined"
      >
        닫기
      </v-btn>
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#2680EB"
        text-color="#fff"
        variant="outlined"
        class="ml-3"
      >
        저장
      </v-btn>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
import NumCtrl from '@/components/NumCtrl.vue';

export default defineComponent({
  name: 'SetAir',
  props: {
    height: {
      type: String,
    },
  },
  components: {
    NumCtrl,
  },
  data: () => ({}),
});
</script>
