<template>
  <div>
    <v-card
      elevation="0"
      rounded="0"
      color="#F2F5F8"
      v-bind:min-height="height"
    >
      <v-card-title class="text-caption py-0">
        <strong class="font-weight-bold">처리 확인 알림 팝업</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <tbody>
            <tr>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center"
                >
                  <v-radio
                    density="compact"
                    label="사용"
                    value="사용"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="사용 안함"
                    value="사용 안함"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <span class="text-blue">(스피드 체크인)</span>
                </v-radio-group>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-caption pb-0 pt-3">
        <strong class="font-weight-bold">화면 툴팁 도움말</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <tbody>
            <tr>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center"
                >
                  <v-radio
                    density="compact"
                    label="보기"
                    value="보기"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="주요정보만 보기"
                    value="주요정보만 보기"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="숨기기"
                    value="숨기기"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-row dense>
        <v-col>
          <v-card-title class="text-caption pb-0 pt-3 pr-0">
            <strong class="font-weight-bold">차량호출 기능</strong>
          </v-card-title>
          <v-card-text class="py-0 pr-0">
            <v-table density="comfortable" class="table-view">
              <tbody>
                <tr>
                  <td>
                    <v-radio-group
                      inline
                      hide-details
                      class="radio-box-group d-flex align-center"
                    >
                      <v-radio
                        density="compact"
                        label="사용"
                        value="사용"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="사용안함"
                        value="사용안함"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                    </v-radio-group>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
        </v-col>
        <v-col>
          <v-card-title class="text-caption pb-0 pt-3 px-0">
            <strong class="font-weight-bold">비상호출 기능</strong>
          </v-card-title>
          <v-card-text class="pa-0">
            <v-table density="comfortable" class="table-view">
              <tbody>
                <tr>
                  <td>
                    <v-radio-group
                      inline
                      hide-details
                      class="radio-box-group d-flex align-center"
                    >
                      <v-radio
                        density="compact"
                        label="사용"
                        value="사용"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="사용안함"
                        value="사용안함"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                    </v-radio-group>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
        </v-col>
        <v-col>
          <v-card-title class="text-caption pb-0 pt-3 pl-0">
            <strong class="font-weight-bold">입실 취소 사유 입력 팝업</strong>
          </v-card-title>
          <v-card-text class="py-0 pl-0">
            <v-table density="comfortable" class="table-view">
              <tbody>
                <tr>
                  <td>
                    <v-radio-group
                      inline
                      hide-details
                      class="radio-box-group d-flex align-center"
                    >
                      <v-radio
                        density="compact"
                        label="사용"
                        value="사용"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="사용안함"
                        value="사용안함"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                    </v-radio-group>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
        </v-col>
      </v-row>
      <v-card-title class="text-caption pb-0 pt-3">
        <strong class="font-weight-bold">재 호출 지연 시간</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <tbody>
            <tr>
              <td>
                <div class="d-flex align-center">
                  <num-ctrl
                    :preBtn="'mdi-chevron-down'"
                    :nextBtn="'mdi-chevron-up'"
                    :modelValue="'0분'"
                    style="width: 120px"
                    class="mr-2"
                  ></num-ctrl>
                  <span class="text-red-accent-2 ml-3"
                    >※ 차량/비상호출 후 재 호출 시에 설정한 시간내에는 알림이
                    보이지 않습니다.</span
                  >
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
    </v-card>
    <div class="d-flex justify-center mt-6 mb-3">
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#3C4D60"
        text-color="#fff"
        variant="outlined"
      >
        닫기
      </v-btn>
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#2680EB"
        text-color="#fff"
        variant="outlined"
        class="ml-3"
      >
        저장
      </v-btn>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
import NumCtrl from '@/components/NumCtrl.vue';

export default defineComponent({
  name: 'SetAlarm',
  props: {
    height: {
      type: String,
    },
  },
  components: {
    NumCtrl,
  },
  data: () => ({}),
});
</script>
