<template>
  <div>
    <v-card
      elevation="0"
      rounded="0"
      color="#F2F5F8"
      v-bind:min-height="height"
    >
      <v-card-title class="text-caption py-0">
        <strong class="font-weight-bold">객실정보 변경</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="80px" />
            <col width="auto" />
            <col width="80px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th class="text-center">대실</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-minus'"
                  :nextBtn="'mdi-plus'"
                  :modelValue="'10,000원'"
                  style="max-width: 100%"
                ></num-ctrl>
              </td>
              <th class="text-center">숙박</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-minus'"
                  :nextBtn="'mdi-plus'"
                  :modelValue="'5,000원'"
                  style="max-width: 100%"
                ></num-ctrl>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-caption pb-0 pt-3">
        <strong class="font-weight-bold">객실 추가/할인 요금 설정</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="360px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th class="text-blue">
                * 타입별 / 요일별 / 시간별 추가 요금을 설정합니다.
              </th>
              <td>
                <v-btn
                  elevation="0"
                  height="28"
                  color="#3C4D60"
                  text-color="#fff"
                  variant="outlined"
                  class="text-caption"
                  style="width: 100%"
                >
                  설정하기
                </v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-caption pb-0 pt-3">
        <strong class="font-weight-bold"
          >무인 판매가능 시간 및 요금 설정</strong
        >
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="360px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th class="text-blue">
                * 타입별 / 요일별 / 시간별 판매 가능 시간 및 요금을 설정합니다.
              </th>
              <td>
                <v-btn
                  elevation="0"
                  height="28"
                  color="#3C4D60"
                  text-color="#fff"
                  variant="outlined"
                  class="text-caption"
                  style="width: 100%"
                >
                  설정하기
                </v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-caption pb-0 pt-3">
        <strong class="font-weight-bold">체크인 기본 요금 타입 설정</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <tbody>
            <tr>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center flex-grow-0"
                >
                  <v-radio
                    density="compact"
                    label="현금"
                    value="현금"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="카드"
                    value="카드"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-caption pb-0 pt-3">
        <strong class="font-weight-bold">기타 설정</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <tbody>
            <tr>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="언박 시 해당 일/시간의 요금 적용함"
                  class="check-box"
                ></v-checkbox>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
    </v-card>
    <div class="d-flex justify-center mt-6 mb-3">
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#3C4D60"
        text-color="#fff"
        variant="outlined"
      >
        닫기
      </v-btn>
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#2680EB"
        text-color="#fff"
        variant="outlined"
        class="ml-3"
      >
        저장
      </v-btn>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
import NumCtrl from '@/components/NumCtrl.vue';

export default defineComponent({
  name: 'SetCharge',
  props: {
    height: {
      type: String,
    },
  },
  components: {
    NumCtrl,
  },
  data: () => ({}),
});
</script>
