<template>
  <div>
    <v-card
      elevation="0"
      rounded="0"
      color="#F2F5F8"
      v-bind:min-height="height"
    >
      <v-card-title class="text-caption py-0">
        <strong class="font-weight-bold">직원목록</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <div class="table-list02">
          <v-radio-group inline hide-details class="radio-box-group">
            <v-table
              fixed-header
              density="compact"
              height="262"
              class="overflow-y-auto text-center"
              style="width: 100%"
            >
              <colgroup>
                <col width="50px" />
                <col width="auto" span="6" />
                <col width="70px" />
              </colgroup>
              <thead>
                <tr>
                  <th>선택</th>
                  <th>아이디</th>
                  <th>이름</th>
                  <th>권한</th>
                  <th>부서</th>
                  <th>라이선스</th>
                  <th>전화번호</th>
                  <th>삭제</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <v-radio
                      density="compact"
                      value="radio01"
                      color="#FC6060"
                      class="radio-box"
                    ></v-radio>
                  </td>
                  <td>test1234</td>
                  <td>테스터</td>
                  <td class="text-red-accent-2">책임자(업주)</td>
                  <td>경영</td>
                  <td class="text-blue">Y</td>
                  <td>010-1234-5678</td>
                  <td>
                    <v-btn
                      elevation="0"
                      min-width="50"
                      height="20"
                      color="#5E7892"
                      text-color="#fff"
                      variant="outlined"
                      class="text-caption pa-0"
                    >
                      삭제
                    </v-btn>
                  </td>
                </tr>
                <tr>
                  <td>
                    <v-radio
                      density="compact"
                      value="radio02"
                      color="#FC6060"
                      class="radio-box"
                    ></v-radio>
                  </td>
                  <td>ict25</td>
                  <td>아이씨티</td>
                  <td>관리자(매니저)</td>
                  <td>테스터</td>
                  <td class="text-blue">Y</td>
                  <td>02-123-5678</td>
                  <td>
                    <v-btn
                      elevation="0"
                      min-width="50"
                      height="20"
                      color="#5E7892"
                      text-color="#fff"
                      variant="outlined"
                      class="text-caption pa-0"
                    >
                      삭제
                    </v-btn>
                  </td>
                </tr>
                <tr class="bg-grey-lighten-2">
                  <td>
                    <v-radio
                      density="compact"
                      value="radio03"
                      color="#FC6060"
                      class="radio-box"
                    ></v-radio>
                  </td>
                  <td>sanha</td>
                  <td>산하정보기술</td>
                  <td>PMS</td>
                  <td>개발부</td>
                  <td>N</td>
                  <td>010-1234-5678</td>
                  <td>
                    <v-btn
                      elevation="0"
                      min-width="50"
                      height="20"
                      color="#FC6060"
                      text-color="#fff"
                      variant="outlined"
                      class="text-caption pa-0"
                    >
                      삭제
                    </v-btn>
                  </td>
                </tr>
                <tr>
                  <td>
                    <v-radio
                      density="compact"
                      value="radio04"
                      color="#FC6060"
                      class="radio-box"
                    ></v-radio>
                  </td>
                  <td>hongkidong</td>
                  <td>홍길동</td>
                  <td>사원</td>
                  <td>관리부</td>
                  <td class="text-blue">Y</td>
                  <td>010-1234-5678</td>
                  <td>
                    <v-btn
                      elevation="0"
                      min-width="50"
                      height="20"
                      color="#5E7892"
                      text-color="#fff"
                      variant="outlined"
                      class="text-caption pa-0"
                    >
                      삭제
                    </v-btn>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </v-table>
          </v-radio-group>
        </div>
      </v-card-text>
      <v-card-title class="text-caption py-0 pt-3 mb-1">
        <strong class="font-weight-bold">직원정보</strong>
        <v-btn
          elevation="0"
          width="90"
          height="28"
          color="#fff"
          text-color="#2C2F35"
          border="1"
          variant="outlined"
          class="text-caption pa-0 brd-red-accent-2 ml-auto"
        >
          <v-icon icon="mdi mdi-plus font-weight-bold" size="small"></v-icon>
          추가/수정
        </v-btn>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="80px" />
            <col width="auto" />
            <col width="80px" />
            <col width="auto" />
            <col width="80px" />
            <col width="auto" />
            <col width="80px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>아이디</th>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  model-value="ict25"
                  density="compact"
                  color="#2C2F35"
                  bg-color="#F9F9F9"
                  variant="outlined"
                  class="input-box"
                ></v-text-field>
              </td>
              <th>이름</th>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  model-value="아이씨티"
                  density="compact"
                  color="#2C2F35"
                  bg-color="#F9F9F9"
                  variant="outlined"
                  class="input-box"
                ></v-text-field>
              </td>
              <th>권한설정</th>
              <td>
                <v-select
                  :items="items"
                  density="compact"
                  hide-details
                  single-line
                  class="select-box type02 bg-gray"
                ></v-select>
              </td>
              <th>이메일</th>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  model-value="aaaaaa@bbb.com"
                  density="compact"
                  color="#2C2F35"
                  bg-color="#F9F9F9"
                  variant="outlined"
                  class="input-box"
                ></v-text-field>
              </td>
            </tr>
            <tr>
              <th>휴대폰</th>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  model-value="010-1234-5678"
                  density="compact"
                  color="#2C2F35"
                  bg-color="#F9F9F9"
                  variant="outlined"
                  class="input-box"
                ></v-text-field>
              </td>
              <th>연락처</th>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  model-value="010-1234-5678"
                  density="compact"
                  color="#2C2F35"
                  bg-color="#F9F9F9"
                  variant="outlined"
                  class="input-box"
                ></v-text-field>
              </td>
              <th>부서</th>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  model-value="관리부"
                  density="compact"
                  color="#2C2F35"
                  bg-color="#F9F9F9"
                  variant="outlined"
                  class="input-box"
                ></v-text-field>
              </td>
              <th>직위</th>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  model-value="대리"
                  density="compact"
                  color="#2C2F35"
                  bg-color="#F9F9F9"
                  variant="outlined"
                  class="input-box"
                ></v-text-field>
              </td>
            </tr>
          </tbody>
        </v-table>
        <v-table density="comfortable" class="table-view mt-3">
          <colgroup>
            <col width="185px" />
            <col width="auto" />
            <col width="185px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>로그인 라이선스 사용여부</th>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center flex-grow-0"
                >
                  <v-radio
                    density="compact"
                    label="없음"
                    value="없음"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="있음"
                    value="있음"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
              <th>로그인 라이선스 구분</th>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center flex-grow-0"
                >
                  <v-radio
                    density="compact"
                    label="고정 접속"
                    value="고정 접속"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="유동 접속"
                    value="유동 접속"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
            </tr>
            <tr>
              <th>일일 매출 정보 메일 수신 여부</th>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center flex-grow-0"
                >
                  <v-radio
                    density="compact"
                    label="수신"
                    value="수신"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="안함"
                    value="안함"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
              <th>무인판매 메일 수신 여부</th>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center flex-grow-0"
                >
                  <v-radio
                    density="compact"
                    label="수신"
                    value="수신"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="안함"
                    value="안함"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
            </tr>
            <tr>
              <th>OTA 예약 연동 메일 수신 여부</th>
              <td colspan="3">
                <div class="d-flex align-center">
                  <v-radio-group
                    inline
                    hide-details
                    class="radio-box-group d-flex align-center flex-grow-0"
                  >
                    <v-radio
                      density="compact"
                      label="수신"
                      value="수신"
                      color="#FC6060"
                      class="radio-box"
                    ></v-radio>
                    <v-radio
                      density="compact"
                      label="실패만 수신"
                      value="실패만 수신"
                      color="#FC6060"
                      class="radio-box"
                    ></v-radio>
                    <v-radio
                      density="compact"
                      label="안함"
                      value="안함"
                      color="#FC6060"
                      class="radio-box"
                    ></v-radio>
                  </v-radio-group>
                  <dl class="d-flex align-center ml-10">
                    <dt>비밀번호</dt>
                    <dd class="ml-2">
                      <v-text-field
                        single-line
                        hide-details
                        placeholder="비밀번호 입력"
                        density="compact"
                        color="#2C2F35"
                        bg-color="#F9F9F9"
                        variant="outlined"
                        class="input-box"
                        style="width: 130px"
                      ></v-text-field>
                    </dd>
                    <dt class="ml-3">비밀번호 확인</dt>
                    <dd class="ml-2">
                      <v-text-field
                        single-line
                        hide-details
                        placeholder="비밀번호 확인"
                        density="compact"
                        color="#2C2F35"
                        bg-color="#F9F9F9"
                        variant="outlined"
                        class="input-box"
                        style="width: 130px"
                      ></v-text-field>
                    </dd>
                  </dl>
                  <v-btn
                    elevation="0"
                    min-width="50"
                    height="28"
                    color="#5E7892"
                    text-color="#fff"
                    variant="outlined"
                    class="text-caption pa-0 ml-2"
                  >
                    변경
                  </v-btn>
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
    </v-card>
    <div class="d-flex justify-center mt-6 mb-3">
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#3C4D60"
        text-color="#fff"
        variant="outlined"
      >
        닫기
      </v-btn>
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#2680EB"
        text-color="#fff"
        variant="outlined"
        class="ml-3"
      >
        저장
      </v-btn>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
import NumCtrl from '@/components/NumCtrl.vue';

export default defineComponent({
  name: 'SetEmployee',
  props: {
    height: {
      type: String,
    },
  },
  components: {
    NumCtrl,
  },
  data: () => ({
    items: ['책임자(업주)', '관리자(매니저)', 'PMS', '매니저', '사원'],
  }),
});
</script>
