<template>
  <div>
    <v-card
      elevation="0"
      rounded="0"
      color="#F2F5F8"
      v-bind:min-height="height"
    >
      <v-card-title class="text-caption py-0">
        <strong class="font-weight-bold">적립 포인트 비율 설정</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="270px" />
            <col width="auto" />
            <col width="205px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>다른 사용자가 객실 조작 시 체크인 화면 잠금을</th>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center"
                >
                  <v-radio
                    density="compact"
                    label="사용"
                    value="사용"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="사용안함"
                    value="사용안함"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
              <th>동시 잠금 상태에서 자동해제 시간</th>
              <td>
                <div class="d-flex align-center">
                  <num-ctrl
                    :preBtn="'mdi-chevron-down'"
                    :nextBtn="'mdi-chevron-up'"
                    :modelValue="'10'"
                    style="width: 120px"
                  ></num-ctrl>
                  <span class="ml-2">분으로 설정</span>
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-caption pb-0 pt-3">
        <strong class="font-weight-bold">자리비움 자동 잠금 설정</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="270px" />
            <col width="auto" />
            <col width="205px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>일정시간 자리비움 시 전체 화면 잠금을</th>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center"
                >
                  <v-radio
                    density="compact"
                    label="사용"
                    value="사용"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="사용안함"
                    value="사용안함"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
              <th>자리비움 시 자동 잠김 시간</th>
              <td>
                <div class="d-flex align-center">
                  <num-ctrl
                    :preBtn="'mdi-chevron-down'"
                    :nextBtn="'mdi-chevron-up'"
                    :modelValue="'30'"
                    style="width: 120px"
                  ></num-ctrl>
                  <span class="ml-2">분으로 설정</span>
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
    </v-card>
    <div class="d-flex justify-center mt-6 mb-3">
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#3C4D60"
        text-color="#fff"
        variant="outlined"
      >
        닫기
      </v-btn>
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#2680EB"
        text-color="#fff"
        variant="outlined"
        class="ml-3"
      >
        저장
      </v-btn>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
import NumCtrl from '@/components/NumCtrl.vue';

export default defineComponent({
  name: 'SetLock',
  props: {
    height: {
      type: String,
    },
  },
  components: {
    NumCtrl,
  },
  data: () => ({}),
});
</script>
