<template>
  <div>
    <v-card
      elevation="0"
      rounded="0"
      color="#F2F5F8"
      v-bind:min-height="height"
    >
      <v-card-title class="text-caption py-0">
        <strong class="font-weight-bold">대실 시간 설정</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="90px" />
            <col width="auto" />
            <col width="90px" />
            <col width="auto" />
            <col width="90px" />
            <col width="auto" />
            <col width="90px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th class="text-center">평일 오전</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'4시'"
                  style="max-width: 100%"
                ></num-ctrl>
              </td>
              <th class="text-center">평일 오후</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'4시'"
                  style="max-width: 100%"
                ></num-ctrl>
              </td>
              <th class="text-center">주말 오전</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'1시'"
                  style="max-width: 100%"
                ></num-ctrl>
              </td>
              <th class="text-center">주말 오전</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'1시'"
                  style="max-width: 100%"
                ></num-ctrl>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-row dense>
        <v-col>
          <v-card-title class="text-caption pb-0 pt-3 pr-0">
            <strong class="font-weight-bold">숙박 시간 설정</strong>
          </v-card-title>
          <v-card-text class="py-0 pr-0">
            <v-table density="comfortable" class="table-view">
              <colgroup>
                <col width="240px" />
                <col width="60px" />
                <col width="auto" />
                <col width="60px" />
                <col width="auto" />
              </colgroup>
              <tbody>
                <tr>
                  <td>
                    <v-radio-group
                      inline
                      hide-details
                      class="radio-box-group d-flex align-center flex-grow-0"
                    >
                      <v-radio
                        density="compact"
                        label="입실시간 기준"
                        value="입실시간 기준"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="퇴실시간 기준"
                        value="퇴실시간 기준"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                    </v-radio-group>
                  </td>
                  <th class="text-center">평일</th>
                  <td>
                    <num-ctrl
                      :preBtn="'mdi-chevron-down'"
                      :nextBtn="'mdi-chevron-up'"
                      :modelValue="'12시 퇴실'"
                      style="max-width: 100%"
                    ></num-ctrl>
                  </td>
                  <th class="text-center">주말</th>
                  <td>
                    <num-ctrl
                      :preBtn="'mdi-chevron-down'"
                      :nextBtn="'mdi-chevron-up'"
                      :modelValue="'12시 퇴실'"
                      style="max-width: 100%"
                    ></num-ctrl>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
          <v-card-title class="text-caption pb-0 pt-3 pr-0">
            <strong class="font-weight-bold"
              >손님키 삽입 시 자동입실 처리</strong
            >
          </v-card-title>
          <v-card-text class="py-0 pr-0">
            <v-table density="comfortable" class="table-view">
              <tbody>
                <tr>
                  <td>
                    <v-radio-group
                      inline
                      hide-details
                      class="radio-box-group d-flex align-center flex-grow-0"
                    >
                      <v-radio
                        density="compact"
                        label="대실시간만 사용"
                        value="대실시간만 사용"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="숙박시간만 사용"
                        value="숙박시간만 사용"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="대실/숙박 사용"
                        value="대실/숙박 사용"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="사용안함"
                        value="사용안함"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                    </v-radio-group>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
          <v-card-title class="text-caption pb-0 pt-3 pr-0">
            <strong class="font-weight-bold">손님키 제거 시 기본설정</strong>
          </v-card-title>
          <v-card-text class="py-0 pr-0">
            <v-table density="comfortable" class="table-view">
              <colgroup>
                <col width="90px" />
                <col width="auto" />
                <col width="90px" />
                <col width="auto" />
              </colgroup>
              <tbody>
                <tr>
                  <th class="text-center">대실</th>
                  <td>
                    <v-radio-group
                      inline
                      hide-details
                      class="radio-box-group d-flex align-center flex-grow-0"
                    >
                      <v-radio
                        density="compact"
                        label="외출"
                        value="외출"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="퇴실"
                        value="퇴실"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                    </v-radio-group>
                  </td>
                  <th class="text-center">숙박</th>
                  <td>
                    <v-radio-group
                      inline
                      hide-details
                      class="radio-box-group d-flex align-center flex-grow-0"
                    >
                      <v-radio
                        density="compact"
                        label="외출"
                        value="외출"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="퇴실"
                        value="퇴실"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                    </v-radio-group>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
          <v-card-title class="text-caption pb-0 pt-3 pr-0">
            <strong class="font-weight-bold"
              >사용시간 경과 후 자동퇴실 처리</strong
            >
          </v-card-title>
          <v-card-text class="py-0 pr-0">
            <v-table density="comfortable" class="table-view">
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex">
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="손님키 제거 시 자동 퇴실처리"
                        class="check-box flex-grow-0"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="출입문이 열리면 자동 퇴실처리"
                        class="check-box flex-grow-0 ml-3"
                      ></v-checkbox>
                    </div>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
          <v-card-title class="text-caption pb-0 pt-3 pr-0">
            <strong class="font-weight-bold"
              >인스펙트(객실점검) 사용 설정</strong
            >
          </v-card-title>
          <v-card-text class="py-0 pr-0">
            <v-table density="comfortable" class="table-view">
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-center">
                      <v-radio-group
                        inline
                        hide-details
                        class="radio-box-group d-flex align-center flex-grow-0"
                      >
                        <v-radio
                          density="compact"
                          label="퇴실 상태만 사용"
                          value="퇴실 상태만 사용"
                          color="#FC6060"
                          class="radio-box"
                        ></v-radio>
                        <v-radio
                          density="compact"
                          label="항상 사용"
                          value="항상 사용"
                          color="#FC6060"
                          class="radio-box"
                        ></v-radio>
                        <v-radio
                          density="compact"
                          label="사용안함"
                          value="사용안함"
                          color="#FC6060"
                          class="radio-box"
                        ></v-radio>
                        <v-radio
                          density="compact"
                          label="사용안함"
                          value="사용안함"
                          color="#FC6060"
                          class="radio-box"
                        ></v-radio>
                      </v-radio-group>
                      <span class="text-red-accent-2 ml-2"
                        >(* 인스펙트는 마스터키가 있어야 사용 가능합니다.)</span
                      >
                    </div>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
          <v-card-title class="text-caption pb-0 pt-3 pr-0">
            <strong class="font-weight-bold">마스터키 제거 시 공실처리</strong>
            <span class="text-red-accent-2 ml-1">(*퇴실 상태일때)</span>
          </v-card-title>
          <v-card-text class="py-0 pr-0">
            <v-table density="comfortable" class="table-view">
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-center">
                      <v-radio-group
                        inline
                        hide-details
                        class="radio-box-group d-flex align-center flex-grow-0"
                      >
                        <v-radio
                          density="compact"
                          label="대실만 사용"
                          value="대실만 사용"
                          color="#FC6060"
                          class="radio-box"
                        ></v-radio>
                        <v-radio
                          density="compact"
                          label="숙박만 사용"
                          value="숙박만 사용"
                          color="#FC6060"
                          class="radio-box"
                        ></v-radio>
                        <v-radio
                          density="compact"
                          label="대실/숙박 사용"
                          value="대실/숙박 사용"
                          color="#FC6060"
                          class="radio-box"
                        ></v-radio>
                        <v-radio
                          density="compact"
                          label="사용안함"
                          value="사용안함"
                          color="#FC6060"
                          class="radio-box"
                        ></v-radio>
                      </v-radio-group>
                    </div>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
        </v-col>
        <v-col class="v-col-auto d-flex flex-column" style="flex-basis: 320px">
          <v-card
            elevation="0"
            rounded="0"
            border="1"
            class="mt-10 mr-4 flex-grow-1"
          >
            <div>
              <v-card-title class="text-caption py-0 pr-0">
                <strong class="font-weight-bold">숙박 시간 설정</strong>
              </v-card-title>
              <v-card-text class="py-0">
                <div class="d-flex align-center">
                  <num-ctrl
                    :preBtn="'mdi-chevron-down'"
                    :nextBtn="'mdi-chevron-up'"
                    :modelValue="'22시'"
                    class="flex-grow-1"
                  ></num-ctrl>
                  <span class="mx-1">~</span>
                  <num-ctrl
                    :preBtn="'mdi-chevron-down'"
                    :nextBtn="'mdi-chevron-up'"
                    :modelValue="'22시'"
                    class="flex-grow-1"
                  ></num-ctrl>
                </div>
              </v-card-text>
            </div>
            <v-divider class="mt-2"></v-divider>
            <div>
              <v-card-title class="text-caption py-0 pr-0">
                <strong class="font-weight-bold"
                  >일일 매출 정산 시간설정</strong
                >
              </v-card-title>
              <v-card-text class="py-0">
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'17시'"
                  style="max-width: 100%"
                ></num-ctrl>
              </v-card-text>
            </div>
            <v-divider class="mt-2"></v-divider>
            <div>
              <v-card-title class="text-caption py-0 pr-0">
                <strong class="font-weight-bold">입실취소 가능 시간설정</strong>
              </v-card-title>
              <v-card-text class="py-0">
                <div class="d-flex time-set-box">
                  <span class="text">체크인 후</span>
                  <num-ctrl
                    :preBtn="'mdi-chevron-down'"
                    :nextBtn="'mdi-chevron-up'"
                    :modelValue="'17시'"
                  ></num-ctrl>
                  <span class="text">이내</span>
                </div>
              </v-card-text>
            </div>
            <v-divider class="mt-2"></v-divider>
            <div>
              <v-card-title class="text-caption py-0 pr-0">
                <strong class="font-weight-bold">퇴실취소 가능 시간설정</strong>
              </v-card-title>
              <v-card-text class="py-0">
                <div class="d-flex time-set-box">
                  <span class="text">퇴실 후</span>
                  <num-ctrl
                    :preBtn="'mdi-chevron-down'"
                    :nextBtn="'mdi-chevron-up'"
                    :modelValue="'17시'"
                  ></num-ctrl>
                  <span class="text">이내</span>
                </div>
              </v-card-text>
            </div>
            <v-divider class="mt-2"></v-divider>
            <div>
              <v-card-title class="text-caption py-0 pr-0">
                <strong class="font-weight-bold"
                  >손님키 제거 시 퇴실처리 지연 시간설정</strong
                >
              </v-card-title>
              <v-card-text class="py-0">
                <div class="d-flex time-set-box">
                  <span class="text">제거 시</span>
                  <num-ctrl
                    :preBtn="'mdi-chevron-down'"
                    :nextBtn="'mdi-chevron-up'"
                    :modelValue="'0분'"
                  ></num-ctrl>
                  <span class="text">후 처리</span>
                </div>
              </v-card-text>
            </div>
            <v-divider class="mt-2"></v-divider>
            <div class="my-1">
              <v-card-title class="text-caption py-0 pr-0">
                <strong class="font-weight-bold"
                  >객실이동 시 손님키 있는 객실</strong
                >
              </v-card-title>
              <v-card-text class="py-0" style="margin-top: -4px">
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center"
                >
                  <v-radio
                    density="compact"
                    label="외출"
                    value="외출"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="퇴실"
                    value="퇴실"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </v-card-text>
            </div>
            <v-divider></v-divider>
            <div>
              <v-card-title class="text-caption py-0 pr-0">
                <strong class="font-weight-bold">객실 타입명 보기 설정</strong>
              </v-card-title>
              <v-card-text class="py-0" style="margin-top: -4px">
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center"
                >
                  <v-radio
                    density="compact"
                    label="숨기기"
                    value="숨기기"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="객실명 앞"
                    value="객실명 앞"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="객실명 뒤"
                    value="객실명 뒤"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </v-card-text>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-card>
    <div class="d-flex justify-center mt-6 mb-3">
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#3C4D60"
        text-color="#fff"
        variant="outlined"
      >
        닫기
      </v-btn>
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#2680EB"
        text-color="#fff"
        variant="outlined"
        class="ml-3"
      >
        저장
      </v-btn>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
import NumCtrl from '@/components/NumCtrl.vue';

export default defineComponent({
  name: 'SetOperation',
  props: {
    height: {
      type: String,
    },
  },
  components: {
    NumCtrl,
  },
  data: () => ({}),
});
</script>

<style lang="scss" scoped>
.time-set-box {
  .num-ctrl {
    flex-grow: 1;
    border-color: #3c4d60;
  }
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    background-color: #eff2f4;
    border: 1px solid #d6dbe2;
    border-width: 1px 0 1px 1px;
    font-size: 0.75rem;
    &:last-child {
      border-width: 1px 1px 1px 0;
    }
  }
}
</style>
