<template>
  <div>
    <v-card
      elevation="0"
      rounded="0"
      color="#F2F5F8"
      v-bind:min-height="height"
    >
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="150px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>포인트 적립/사용 설정</th>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center"
                >
                  <v-radio
                    density="compact"
                    label="사용"
                    value="사용"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="사용안함"
                    value="사용안함"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-text class="pb-0 pt-2">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="150px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>포인트 사용 옵션 설정</th>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center"
                >
                  <v-radio
                    density="compact"
                    label="포인트 단독 사용"
                    value="포인트 단독 사용"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <span class="text-blue mr-2">(포인트로만 결제 가능)</span>
                  <v-radio
                    density="compact"
                    label="현금/카드 혼합 사용"
                    value="현금/카드 혼합 사용"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <span class="text-blue">(잔여 포인트 사용 가능)</span>
                </v-radio-group>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-caption pb-0 pt-3">
        <strong class="font-weight-bold">적립 포인트 비율 설정</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="150px" />
            <col width="auto" />
            <col width="150px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>현금 결제 금액의</th>
              <td>
                <div class="d-flex align-center">
                  <num-ctrl
                    :preBtn="'mdi-minus'"
                    :nextBtn="'mdi-plus'"
                    :modelValue="'14%'"
                    style="width: 120px"
                  ></num-ctrl>
                  <span class="ml-2">적립</span>
                </div>
              </td>
              <th>카드 결제 금액의</th>
              <td>
                <div class="d-flex align-center">
                  <num-ctrl
                    :preBtn="'mdi-minus'"
                    :nextBtn="'mdi-plus'"
                    :modelValue="'5%'"
                    style="width: 120px"
                  ></num-ctrl>
                  <span class="ml-2">적립</span>
                </div>
              </td>
            </tr>
            <tr>
              <th>무인 결제 시</th>
              <td>
                <div class="d-flex align-center">
                  <num-ctrl
                    :preBtn="'mdi-minus'"
                    :nextBtn="'mdi-plus'"
                    :modelValue="'0%'"
                    style="width: 120px"
                  ></num-ctrl>
                  <span class="ml-2">추가 적립</span>
                </div>
              </td>
              <th>예약 결제 시</th>
              <td>
                <div class="d-flex align-center">
                  <num-ctrl
                    :preBtn="'mdi-minus'"
                    :nextBtn="'mdi-plus'"
                    :modelValue="'2%'"
                    style="width: 120px"
                  ></num-ctrl>
                  <span class="ml-2"
                    >추가 적립
                    <span class="text-red-accent-2">(OTA 예약 제외)</span></span
                  >
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-caption pb-0 pt-3">
        <strong class="font-weight-bold"
          >포인트 적립 시 휴대번호 미입력 알림</strong
        >
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <tbody>
            <tr>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center"
                >
                  <v-radio
                    density="compact"
                    label="사용"
                    value="사용"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="사용안함"
                    value="사용안함"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
    </v-card>
    <div class="d-flex justify-center mt-6 mb-3">
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#3C4D60"
        text-color="#fff"
        variant="outlined"
      >
        닫기
      </v-btn>
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#2680EB"
        text-color="#fff"
        variant="outlined"
        class="ml-3"
      >
        저장
      </v-btn>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
import NumCtrl from '@/components/NumCtrl.vue';

export default defineComponent({
  name: 'SetPoint',
  props: {
    height: {
      type: String,
    },
  },
  components: {
    NumCtrl,
  },
  data: () => ({}),
});
</script>
