<template>
  <div>
    <v-card
      elevation="0"
      rounded="0"
      color="#F2F5F8"
      v-bind:min-height="height"
    >
      <v-card-title class="text-caption py-0">
        <strong class="font-weight-bold">객실 전원 설정</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <tbody>
            <tr>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center"
                >
                  <v-radio
                    density="compact"
                    label="사용"
                    value="사용"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="사용 안함"
                    value="사용 안함"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-caption pb-0 pt-3">
        <strong class="font-weight-bold"
          >공실 시 고객키 삽입 전원차단 타이머</strong
        >
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="120px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>고객카드 삽입 후</th>
              <td>
                <div class="d-flex align-center">
                  <num-ctrl
                    :preBtn="'mdi-chevron-down'"
                    :nextBtn="'mdi-chevron-up'"
                    :modelValue="'1'"
                    style="width: 100px"
                    class="mr-2"
                  ></num-ctrl>
                  분 후 전원 차단
                  <span class="text-red-accent-2 ml-3"
                    >※ '0'분 이면 전원 차단 안함</span
                  >
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
    </v-card>
    <div class="d-flex justify-center mt-6 mb-3">
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#3C4D60"
        text-color="#fff"
        variant="outlined"
      >
        닫기
      </v-btn>
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#2680EB"
        text-color="#fff"
        variant="outlined"
        class="ml-3"
      >
        저장
      </v-btn>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
import NumCtrl from '@/components/NumCtrl.vue';

export default defineComponent({
  name: 'SetPower',
  props: {
    height: {
      type: String,
    },
  },
  components: {
    NumCtrl,
  },
  data: () => ({}),
});
</script>
