<template>
  <div>
    <v-card
      elevation="0"
      rounded="0"
      color="#F2F5F8"
      v-bind:min-height="height"
    >
      <v-card-title class="text-caption py-0">
        <strong class="font-weight-bold">처리 확인 알림 팝업</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <tbody>
            <tr>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  density="compact"
                  color="#2C2F35"
                  bg-color="#F9F9F9"
                  variant="outlined"
                  model-value="Micronic"
                  class="input-box"
                ></v-text-field>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-caption pb-0 pt-3">
        <strong class="font-weight-bold">처리 확인 알림 팝업</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <tbody>
            <tr>
              <td>
                <div class="d-flex align-center">
                  <v-text-field
                    single-line
                    hide-details
                    density="compact"
                    color="#2C2F35"
                    bg-color="#F9F9F9"
                    variant="outlined"
                    model-value="SANHA"
                    class="input-box"
                  ></v-text-field>
                  <span class="ml-2"
                    >PMS 업체에서 발급한 연동 ID (없으면 업체명을
                    입력하세요)</span
                  >
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-caption pb-0 pt-3">
        <strong class="font-weight-bold"
          >PMS 소켓 연동 인증 KEY (Micronic)</strong
        >
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <tbody>
            <tr>
              <td>
                <v-textarea
                  single-line
                  hide-details
                  variant
                  bg-color="#F9F9F9"
                  model-value="019-0729-Mic-Hxt"
                  class="textarea-box my-2"
                ></v-textarea>
              </td>
            </tr>
          </tbody>
        </v-table>
        <p class="text-caption pl-4 pt-1">
          ※ PMS 업체에서 발급한 없소 인증키 (체큐인 -> PMS 전송용)
        </p>
      </v-card-text>
    </v-card>
    <div class="d-flex justify-center mt-6 mb-3">
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#3C4D60"
        text-color="#fff"
        variant="outlined"
      >
        닫기
      </v-btn>
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#2680EB"
        text-color="#fff"
        variant="outlined"
        class="ml-3"
      >
        저장
      </v-btn>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
  name: 'SetPms',
  props: {
    height: {
      type: String,
    },
  },
  components: {},
  data: () => ({}),
});
</script>
