<template>
  <v-card rounded="0" color="#F2F5F8">
    <popup-title
      :title="'객실 추가/할인 요금설정'"
      :pinHide="true"
      class="px-4 pt-4"
    ></popup-title>
    <v-card-text class="pt-4">
      <v-row dense>
        <v-col class="v-col-auto pb-0" style="width: 140px">
          <v-card
            elevation="0"
            rounded="0"
            border="1"
            class="flex-column"
            style="height: 100%"
          >
            <v-card-title
              class="justify-center text-caption pa-1"
              style="
                background-color: #eff2f4;
                border-bottom: 1px solid #d6dbe2;
              "
            >
              <strong>객실선택</strong>
            </v-card-title>
            <v-card-text>
              <v-btn-toggle v-model="toggle" divided class="sel-room">
                <v-btn>VIP룸</v-btn>
                <v-btn>스위트룸</v-btn>
                <v-btn>일반실</v-btn>
                <v-btn>커플룸</v-btn>
              </v-btn-toggle>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col class="pb-0">
          <v-card
            elevation="0"
            rounded="0"
            color="transparent"
            class="flex-column"
          >
            <v-card-title
              class="justify-center text-caption pa-1"
              style="background-color: #eff2f4; border: 1px solid #d6dbe2"
            >
              <strong class="text-h6 text-black font-weight-bold mr-4"
                >VIP룸</strong
              >
              <div class="d-flex text-black align-baseline text-subtitle-2">
                숙박
                <strong
                  class="font-num text-subtitle-1 font-weight-bold text-blue ml-3"
                  >15,000</strong
                >
                원
                <span class="mx-2">/</span>
                대실
                <strong
                  class="font-num text-subtitle-1 font-weight-bold text-blue ml-3"
                  >5,000</strong
                >
                원
              </div>
            </v-card-title>
            <v-card-text class="px-0 pt-3 pb-0">
              <div>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="전체선택"
                  class="check-box"
                ></v-checkbox>
              </div>
              <div class="table-list02 table-price">
                <v-table fixed-header density="compact" class="text-center">
                  <colgroup>
                    <col width="50px" />
                    <col width="50px" />
                    <col width="auto" />
                    <col width="480px" />
                    <col width="500px" />
                  </colgroup>
                  <thead>
                    <tr>
                      <th rowspan="2">선택</th>
                      <th rowspan="2">요일</th>
                      <th rowspan="2">추가요금</th>
                      <th style="background-color: #52ace0">오전(AM)</th>
                      <th style="background-color: #fc6060">오후(PM)</th>
                    </tr>
                    <tr>
                      <th class="line" colspan="2">
                        <div class="wrap-timeline">
                          <div class="timeline">
                            <span>00</span>
                            <span>30</span>
                            <span>01</span>
                            <span>30</span>
                            <span>02</span>
                            <span>30</span>
                            <span>03</span>
                            <span>30</span>
                            <span>04</span>
                            <span>30</span>
                            <span>05</span>
                            <span>30</span>
                            <span>06</span>
                            <span>30</span>
                            <span>07</span>
                            <span>30</span>
                            <span>08</span>
                            <span>30</span>
                            <span>09</span>
                            <span>30</span>
                            <span>10</span>
                            <span>30</span>
                            <span>11</span>
                            <span>30</span>
                            <span>12</span>
                            <span>30</span>
                            <span>13</span>
                            <span>30</span>
                            <span>14</span>
                            <span>30</span>
                            <span>15</span>
                            <span>30</span>
                            <span>16</span>
                            <span>30</span>
                            <span>17</span>
                            <span>30</span>
                            <span>18</span>
                            <span>30</span>
                            <span>19</span>
                            <span>30</span>
                            <span>20</span>
                            <span>30</span>
                            <span>21</span>
                            <span>30</span>
                            <span>22</span>
                            <span>30</span>
                            <span>23</span>
                            <span>30</span>
                            <span>24</span>
                          </div>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td rowspan="2">
                        <v-checkbox
                          hide-details
                          density="default"
                          color="#fc6060"
                          label=""
                          class="check-box justify-center"
                        ></v-checkbox>
                      </td>
                      <td rowspan="2">
                        <v-btn
                          elevation="0"
                          border="1"
                          width="26"
                          min-width="26"
                          max-height="26"
                          class="pa-0"
                        >
                          월
                        </v-btn>
                      </td>
                      <td rowspan="2">
                        <div class="add-price">
                          <span class="title">숙박</span>
                          <num-ctrl
                            :preBtn="'mdi-minus'"
                            :nextBtn="'mdi-plus'"
                            :modelValue="'0원'"
                            :textAlign="'text-right'"
                            class="type03 flex-grow-1"
                            style="max-width: 100%; height: 28px"
                          ></num-ctrl>
                          <div class="btn-box">
                            <v-btn-toggle dense multiple>
                              <v-btn>
                                <v-icon icon="mdi-eraser"></v-icon>
                              </v-btn>
                              <v-btn>
                                <v-icon icon="mdi-plus"></v-icon>
                              </v-btn>
                            </v-btn-toggle>
                          </div>
                        </div>
                        <div class="add-price">
                          <span class="title">대실</span>
                          <num-ctrl
                            :preBtn="'mdi-minus'"
                            :nextBtn="'mdi-plus'"
                            :modelValue="'0원'"
                            :textAlign="'text-right'"
                            class="type03 flex-grow-1"
                            style="max-width: 100%; height: 28px"
                          ></num-ctrl>
                          <div class="btn-box">
                            <v-btn-toggle dense multiple>
                              <v-btn>
                                <v-icon icon="mdi-eraser"></v-icon>
                              </v-btn>
                              <v-btn>
                                <v-icon icon="mdi-plus"></v-icon>
                              </v-btn>
                            </v-btn-toggle>
                          </div>
                        </div>
                      </td>
                      <td colspan="2" class="pa-0 brd-dashed">
                        <div class="wrap-timeline">
                          <div class="timeline">
                            <span class="active first">
                              <em></em>
                              <div class="price">5,000</div>
                            </span>
                            <span class="active"><em></em></span>
                            <span class="active"><em></em></span>
                            <span class="active"><em></em></span>
                            <span class="active"><em></em></span>
                            <span class="active"><em></em></span>
                            <span class="active"><em></em></span>
                            <span class="active"><em></em></span>
                            <span class="active"><em></em></span>
                            <span class="active"><em></em></span>
                            <span class="active"><em></em></span>
                            <span class="active"><em></em></span>
                            <span class="active"><em></em></span>
                            <span class="active"><em></em></span>
                            <span class="active"><em></em></span>
                            <span class="active"><em></em></span>
                            <span class="active"><em></em></span>
                            <span class="active"><em></em></span>
                            <span class="active last"><em></em></span>
                            <span class="active first">
                              <em style="background: #ffaa00"></em>
                              <div class="price">5,000</div>
                            </span>
                            <span class="active"
                              ><em style="background: #ffaa00"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ffaa00"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ffaa00"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ffaa00"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ffaa00"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ffaa00"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ffaa00"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ffaa00"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ffaa00"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ffaa00"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ffaa00"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ffaa00"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ffaa00"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ffaa00"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ffaa00"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ffaa00"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ffaa00"></em
                            ></span>
                            <span class="active last"
                              ><em style="background: #ffaa00"></em
                            ></span>
                            <span class="active first">
                              <em style="background: #ff0000"></em>
                              <div class="price">5,000</div>
                            </span>
                            <span class="active"
                              ><em style="background: #ff0000"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ff0000"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ff0000"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ff0000"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ff0000"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ff0000"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ff0000"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ff0000"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #ff0000"></em
                            ></span>
                            <span class="active last"
                              ><em style="background: #ff0000"></em
                            ></span>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" class="pa-0 line">
                        <div class="wrap-timeline">
                          <div class="timeline">
                            <span class="active first">
                              <em style="background: #9a47e2"></em>
                              <div class="price">5,000</div>
                            </span>
                            <span class="active"
                              ><em style="background: #9a47e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #9a47e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #9a47e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #9a47e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #9a47e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #9a47e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #9a47e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #9a47e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #9a47e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #9a47e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #9a47e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #9a47e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #9a47e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #9a47e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #9a47e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #9a47e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #9a47e2"></em
                            ></span>
                            <span class="active last"
                              ><em style="background: #9a47e2"></em
                            ></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td rowspan="2">
                        <v-checkbox
                          hide-details
                          density="default"
                          color="#fc6060"
                          label=""
                          class="check-box justify-center"
                        ></v-checkbox>
                      </td>
                      <td rowspan="2">
                        <v-btn
                          elevation="0"
                          border="1"
                          width="26"
                          min-width="26"
                          max-height="26"
                          color="#FC6060"
                          text-color="#fff"
                          class="pa-0"
                        >
                          화
                        </v-btn>
                      </td>
                      <td rowspan="2">
                        <div class="add-price">
                          <span class="title">숙박</span>
                          <num-ctrl
                            :preBtn="'mdi-minus'"
                            :nextBtn="'mdi-plus'"
                            :modelValue="'0원'"
                            :textAlign="'text-right'"
                            class="type03 flex-grow-1"
                            style="max-width: 100%; height: 28px"
                          ></num-ctrl>
                          <div class="btn-box">
                            <v-btn-toggle dense multiple>
                              <v-btn>
                                <v-icon icon="mdi-eraser"></v-icon>
                              </v-btn>
                              <v-btn>
                                <v-icon icon="mdi-plus"></v-icon>
                              </v-btn>
                            </v-btn-toggle>
                          </div>
                        </div>
                        <div class="add-price">
                          <span class="title">대실</span>
                          <num-ctrl
                            :preBtn="'mdi-minus'"
                            :nextBtn="'mdi-plus'"
                            :modelValue="'0원'"
                            :textAlign="'text-right'"
                            class="type03 flex-grow-1"
                            style="max-width: 100%; height: 28px"
                          ></num-ctrl>
                          <div class="btn-box">
                            <v-btn-toggle dense multiple>
                              <v-btn>
                                <v-icon icon="mdi-eraser"></v-icon>
                              </v-btn>
                              <v-btn>
                                <v-icon icon="mdi-plus"></v-icon>
                              </v-btn>
                            </v-btn-toggle>
                          </div>
                        </div>
                      </td>
                      <td colspan="2" class="pa-0 brd-dashed">
                        <div class="wrap-timeline">
                          <div class="timeline">
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span class="active first">
                              <em style="background: #4761e2"></em>
                              <div class="price">5,000</div>
                            </span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active last"
                              ><em style="background: #4761e2"></em
                            ></span>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" class="pa-0 line">
                        <div class="wrap-timeline">
                          <div class="timeline">
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span class="active first">
                              <em style="background: #27b9df"></em>
                              <div class="price">5,000</div>
                            </span>
                            <span class="active"
                              ><em style="background: #27b9df"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #27b9df"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #27b9df"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #27b9df"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #27b9df"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #27b9df"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #27b9df"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #27b9df"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #27b9df"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #27b9df"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #27b9df"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #27b9df"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #27b9df"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #27b9df"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #27b9df"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #27b9df"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #27b9df"></em
                            ></span>
                            <span class="active last"
                              ><em style="background: #27b9df"></em
                            ></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td rowspan="2">
                        <v-checkbox
                          hide-details
                          density="default"
                          color="#fc6060"
                          label=""
                          class="check-box justify-center"
                        ></v-checkbox>
                      </td>
                      <td rowspan="2">
                        <v-btn
                          elevation="0"
                          border="1"
                          width="26"
                          min-width="26"
                          max-height="26"
                          class="pa-0"
                        >
                          수
                        </v-btn>
                      </td>
                      <td rowspan="2">
                        <div class="add-price">
                          <span class="title">숙박</span>
                          <num-ctrl
                            :preBtn="'mdi-minus'"
                            :nextBtn="'mdi-plus'"
                            :modelValue="'0원'"
                            :textAlign="'text-right'"
                            class="type03 flex-grow-1"
                            style="max-width: 100%; height: 28px"
                          ></num-ctrl>
                          <div class="btn-box">
                            <v-btn-toggle dense multiple>
                              <v-btn>
                                <v-icon icon="mdi-eraser"></v-icon>
                              </v-btn>
                              <v-btn>
                                <v-icon icon="mdi-plus"></v-icon>
                              </v-btn>
                            </v-btn-toggle>
                          </div>
                        </div>
                        <div class="add-price">
                          <span class="title">대실</span>
                          <num-ctrl
                            :preBtn="'mdi-minus'"
                            :nextBtn="'mdi-plus'"
                            :modelValue="'0원'"
                            :textAlign="'text-right'"
                            class="type03 flex-grow-1"
                            style="max-width: 100%; height: 28px"
                          ></num-ctrl>
                          <div class="btn-box">
                            <v-btn-toggle dense multiple>
                              <v-btn>
                                <v-icon icon="mdi-eraser"></v-icon>
                              </v-btn>
                              <v-btn>
                                <v-icon icon="mdi-plus"></v-icon>
                              </v-btn>
                            </v-btn-toggle>
                          </div>
                        </div>
                      </td>
                      <td colspan="2" class="pa-0 brd-dashed">
                        <div class="wrap-timeline">
                          <div class="timeline">
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span class="active first">
                              <em style="background: #4761e2"></em>
                              <div class="price">5,000</div>
                            </span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #4761e2"></em
                            ></span>
                            <span class="active last"
                              ><em style="background: #4761e2"></em
                            ></span>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" class="pa-0 line">
                        <div class="wrap-timeline">
                          <div class="timeline">
                            <span class="active first focus">
                              <em style="background: #00b1ff"></em>
                              <div class="price">5,000</div>
                            </span>
                            <span class="active focus"
                              ><em style="background: #00b1ff"></em
                            ></span>
                            <span class="active focus"
                              ><em style="background: #00b1ff"></em
                            ></span>
                            <span class="active focus"
                              ><em style="background: #00b1ff"></em
                            ></span>
                            <span class="active focus"
                              ><em style="background: #00b1ff"></em
                            ></span>
                            <span class="active focus"
                              ><em style="background: #00b1ff"></em
                            ></span>
                            <span class="active focus"
                              ><em style="background: #00b1ff"></em
                            ></span>
                            <span class="active focus"
                              ><em style="background: #00b1ff"></em
                            ></span>
                            <span class="active focus"
                              ><em style="background: #00b1ff"></em
                            ></span>
                            <span class="active focus"
                              ><em style="background: #00b1ff"></em
                            ></span>
                            <span class="active focus"
                              ><em style="background: #00b1ff"></em
                            ></span>
                            <span class="active focus"
                              ><em style="background: #00b1ff"></em
                            ></span>
                            <span class="active focus"
                              ><em style="background: #00b1ff"></em
                            ></span>
                            <span class="active focus"
                              ><em style="background: #00b1ff"></em
                            ></span>
                            <span class="active focus"
                              ><em style="background: #00b1ff"></em
                            ></span>
                            <span class="active focus"
                              ><em style="background: #00b1ff"></em
                            ></span>
                            <span class="active focus"
                              ><em style="background: #00b1ff"></em
                            ></span>
                            <span class="active focus"
                              ><em style="background: #00b1ff"></em
                            ></span>
                            <span class="active last focus"
                              ><em style="background: #00b1ff"></em
                            ></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span
                            ><span class="active first">
                              <em style="background: #2bbc25"></em>
                              <div class="price">5,000</div>
                            </span>
                            <span class="active"
                              ><em style="background: #2bbc25"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #2bbc25"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #2bbc25"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #2bbc25"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #2bbc25"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #2bbc25"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #2bbc25"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #2bbc25"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #2bbc25"></em
                            ></span>
                            <span class="active"
                              ><em style="background: #2bbc25"></em
                            ></span>
                            <span class="active last"
                              ><em style="background: #2bbc25"></em
                            ></span>
                          </div>
                          <span class="icon-focus" style="left: 360px"
                            ><em></em
                          ></span>
                          <tooltip-count
                            :text="'9시00분'"
                            style="left: 338px; top: -30px"
                          ></tooltip-count>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td rowspan="2">
                        <v-checkbox
                          hide-details
                          density="default"
                          color="#fc6060"
                          label=""
                          class="check-box justify-center"
                        ></v-checkbox>
                      </td>
                      <td rowspan="2">
                        <v-btn
                          elevation="0"
                          border="1"
                          width="26"
                          min-width="26"
                          max-height="26"
                          class="pa-0"
                        >
                          금
                        </v-btn>
                      </td>
                      <td rowspan="2">
                        <div class="add-price">
                          <span class="title">숙박</span>
                          <num-ctrl
                            :preBtn="'mdi-minus'"
                            :nextBtn="'mdi-plus'"
                            :modelValue="'0원'"
                            :textAlign="'text-right'"
                            class="type03 flex-grow-1"
                            style="max-width: 100%; height: 28px"
                          ></num-ctrl>
                          <div class="btn-box">
                            <v-btn-toggle dense multiple>
                              <v-btn>
                                <v-icon icon="mdi-eraser"></v-icon>
                              </v-btn>
                              <v-btn>
                                <v-icon icon="mdi-plus"></v-icon>
                              </v-btn>
                            </v-btn-toggle>
                          </div>
                        </div>
                        <div class="add-price">
                          <span class="title">대실</span>
                          <num-ctrl
                            :preBtn="'mdi-minus'"
                            :nextBtn="'mdi-plus'"
                            :modelValue="'0원'"
                            :textAlign="'text-right'"
                            class="type03 flex-grow-1"
                            style="max-width: 100%; height: 28px"
                          ></num-ctrl>
                          <div class="btn-box">
                            <v-btn-toggle dense multiple>
                              <v-btn>
                                <v-icon icon="mdi-eraser"></v-icon>
                              </v-btn>
                              <v-btn>
                                <v-icon icon="mdi-plus"></v-icon>
                              </v-btn>
                            </v-btn-toggle>
                          </div>
                        </div>
                      </td>
                      <td colspan="2" class="pa-0 brd-dashed">
                        <div class="wrap-timeline">
                          <div class="timeline">
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" class="pa-0 line">
                        <div class="wrap-timeline">
                          <div class="timeline">
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td rowspan="2">
                        <v-checkbox
                          hide-details
                          density="default"
                          color="#fc6060"
                          label=""
                          class="check-box justify-center"
                        ></v-checkbox>
                      </td>
                      <td rowspan="2">
                        <v-btn
                          elevation="0"
                          border="1"
                          width="26"
                          min-width="26"
                          max-height="26"
                          class="pa-0"
                        >
                          토
                        </v-btn>
                      </td>
                      <td rowspan="2">
                        <div class="add-price">
                          <span class="title">숙박</span>
                          <num-ctrl
                            :preBtn="'mdi-minus'"
                            :nextBtn="'mdi-plus'"
                            :modelValue="'0원'"
                            :textAlign="'text-right'"
                            class="type03 flex-grow-1"
                            style="max-width: 100%; height: 28px"
                          ></num-ctrl>
                          <div class="btn-box">
                            <v-btn-toggle dense multiple>
                              <v-btn>
                                <v-icon icon="mdi-eraser"></v-icon>
                              </v-btn>
                              <v-btn>
                                <v-icon icon="mdi-plus"></v-icon>
                              </v-btn>
                            </v-btn-toggle>
                          </div>
                        </div>
                        <div class="add-price">
                          <span class="title">대실</span>
                          <num-ctrl
                            :preBtn="'mdi-minus'"
                            :nextBtn="'mdi-plus'"
                            :modelValue="'0원'"
                            :textAlign="'text-right'"
                            class="type03 flex-grow-1"
                            style="max-width: 100%; height: 28px"
                          ></num-ctrl>
                          <div class="btn-box">
                            <v-btn-toggle dense multiple>
                              <v-btn>
                                <v-icon icon="mdi-eraser"></v-icon>
                              </v-btn>
                              <v-btn>
                                <v-icon icon="mdi-plus"></v-icon>
                              </v-btn>
                            </v-btn-toggle>
                          </div>
                        </div>
                      </td>
                      <td colspan="2" class="pa-0 brd-dashed">
                        <div class="wrap-timeline">
                          <div class="timeline">
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" class="pa-0 line">
                        <div class="wrap-timeline">
                          <div class="timeline">
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td rowspan="2">
                        <v-checkbox
                          hide-details
                          density="default"
                          color="#fc6060"
                          label=""
                          class="check-box justify-center"
                        ></v-checkbox>
                      </td>
                      <td rowspan="2">
                        <v-btn
                          elevation="0"
                          border="1"
                          width="26"
                          min-width="26"
                          max-height="26"
                          class="pa-0"
                        >
                          일
                        </v-btn>
                      </td>
                      <td rowspan="2">
                        <div class="add-price">
                          <span class="title">숙박</span>
                          <num-ctrl
                            :preBtn="'mdi-minus'"
                            :nextBtn="'mdi-plus'"
                            :modelValue="'0원'"
                            :textAlign="'text-right'"
                            class="type03 flex-grow-1"
                            style="max-width: 100%; height: 28px"
                          ></num-ctrl>
                          <div class="btn-box">
                            <v-btn-toggle dense multiple>
                              <v-btn>
                                <v-icon icon="mdi-eraser"></v-icon>
                              </v-btn>
                              <v-btn>
                                <v-icon icon="mdi-plus"></v-icon>
                              </v-btn>
                            </v-btn-toggle>
                          </div>
                        </div>
                        <div class="add-price">
                          <span class="title">대실</span>
                          <num-ctrl
                            :preBtn="'mdi-minus'"
                            :nextBtn="'mdi-plus'"
                            :modelValue="'0원'"
                            :textAlign="'text-right'"
                            class="type03 flex-grow-1"
                            style="max-width: 100%; height: 28px"
                          ></num-ctrl>
                          <div class="btn-box">
                            <v-btn-toggle dense multiple>
                              <v-btn>
                                <v-icon icon="mdi-eraser"></v-icon>
                              </v-btn>
                              <v-btn>
                                <v-icon icon="mdi-plus"></v-icon>
                              </v-btn>
                            </v-btn-toggle>
                          </div>
                        </div>
                      </td>
                      <td colspan="2" class="pa-0 brd-dashed">
                        <div class="wrap-timeline">
                          <div class="timeline">
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" class="pa-0 line">
                        <div class="wrap-timeline">
                          <div class="timeline">
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                            <span><em></em></span>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </v-table>
              </div>
              <v-table density="comfortable" class="table-view mt-2">
                <colgroup>
                  <col width="110px" />
                  <col width="auto" />
                  <col width="110px" />
                  <col width="auto" />
                </colgroup>
                <tbody>
                  <tr>
                    <th class="text-center">객실타입선택</th>
                    <td>
                      <div class="d-flex align-center">
                        <v-select
                          :items="items"
                          density="compact"
                          hide-details
                          single-line
                          class="select-box type02 bg-gray flex-grow-0"
                          style="width: 250px"
                        ></v-select>
                        <v-btn
                          elevation="0"
                          color="#3C4D60"
                          text-color="#fff"
                          width="100"
                          height="28"
                          class="text-caption pa-0 ml-3"
                        >
                          요금 가져오기
                        </v-btn>
                      </div>
                    </td>
                    <th class="text-center">요금변경</th>
                    <td>
                      <div class="d-flex align-center">
                        선택한
                        <v-card
                          elevation="0"
                          color="#5E7892"
                          text-color="#fff"
                          width="26"
                          height="26"
                          class="d-flex align-center justify-center px-0 ml-2"
                        >
                          수
                        </v-card>
                        <v-card
                          elevation="0"
                          color="#5E7892"
                          text-color="#fff"
                          width="26"
                          height="26"
                          class="d-flex align-center justify-center px-0 ml-1"
                        >
                          목
                        </v-card>
                        <v-card
                          elevation="0"
                          color="#5E7892"
                          text-color="#fff"
                          width="26"
                          height="26"
                          class="d-flex align-center justify-center px-0 ml-1"
                        >
                          금
                        </v-card>
                        <span class="mx-2">요일의 요금을</span>
                        <v-select
                          :items="items02"
                          density="compact"
                          hide-details
                          single-line
                          class="select-box type02 bg-gray flex-grow-0"
                          style="width: 125px"
                        ></v-select>
                        <v-btn
                          elevation="0"
                          color="#999"
                          text-color="#fff"
                          width="100"
                          height="28"
                          class="text-caption pa-0 ml-3"
                        >
                          요금으로 복제
                        </v-btn>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </v-table>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <div class="d-flex justify-center mt-6 mb-3">
        <v-btn
          width="150"
          height="40"
          elevation="0"
          color="#FC6060"
          text-color="#fff"
          variant="outlined"
        >
          초기화
        </v-btn>
        <v-btn
          width="150"
          height="40"
          elevation="0"
          color="#2680EB"
          text-color="#fff"
          variant="outlined"
          class="ml-3"
        >
          저장
        </v-btn>
        <v-btn
          width="150"
          height="40"
          elevation="0"
          color="#3C4D60"
          text-color="#fff"
          variant="outlined"
          class="ml-3"
        >
          닫기
        </v-btn>
      </div>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import PopupTitle from '@/components/PopViewTitle.vue';
import NumCtrl from '@/components/NumCtrl.vue';
import TooltipCount from '@/components/TooltipCount.vue';

export default defineComponent({
  name: 'SetRoomPrice',
  components: {
    PopupTitle,
    NumCtrl,
    TooltipCount,
  },
  props: {},
  data() {
    return {
      toggle: null,
      items: ['선택'],
      items02: ['요일선택'],
    };
  },
});
</script>

<style lang="scss" scoped>
.sel-room {
  width: 100%;
  flex-direction: column;
  height: auto;
  .v-btn {
    background-color: #3c4d60;
    border-radius: 3px;
    color: #fff;
    font-size: 0.75rem;
    padding: 4px 0 7px;
    margin-top: 6px;
    border: none;
    &.v-btn--selected {
      background-color: #2680eb;
    }
    &:first-child {
      margin-top: 0;
    }
  }
}

.table-price {
  .v-table {
    .v-table__wrapper {
      thead {
        th {
          padding: 0 !important;
          height: 24px !important;
        }
      }
      tbody {
        td {
          padding: 0 !important;
          .wrap-timeline {
            .timeline {
              > span:first-child {
                width: 19px;
              }
            }
          }
          &.brd-dashed {
            border-bottom-style: dashed !important;
          }
        }
      }
    }
  }
  .wrap-timeline {
    position: relative;
    display: flex;
    height: 100%;
    .timeline {
      display: flex;
      > span {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        font-weight: 300;
        border-left: 1px solid #d6dbe2;
        &:nth-child(2n) {
          color: #98a0a9;
        }
        &:first-child {
          border-left: none;
        }
        &.active {
          em {
            display: block;
            position: absolute;
            left: -1px;
            top: 50%;
            width: calc(100% + 2px);
            height: 60%;
            transform: translateY(-50%);
            box-sizing: border-box;
            background: #747474;
            z-index: 1;
          }
          .price {
            position: absolute;
            left: 5px;
            top: 50%;
            margin-top: -1px;
            z-index: 10;
            color: #fff;
            transform: translateY(-50%);
          }
          &.first {
            em {
              width: calc(100% + 1px);
              left: 0;
            }
          }
          &.last {
            em {
              width: calc(100% + 1px);
            }
          }
          &.focus {
            em {
              border: 1px solid #3c4d60;
            }
          }
        }
      }
    }
    .icon-focus {
      position: absolute;
      left: 0;
      top: 0;
      width: 19px;
      height: 100%;
      z-index: 10;
      &::before {
        content: '';
        display: block;
        width: 1px;
        height: 80%;
        background: #3c4d60;
        position: absolute;
        left: calc(50% - 1px);
        top: 50%;
        transform: translateY(-50%);
      }
      em {
        display: block;
        width: 11px;
        height: 11px;
        background: #3c4d60;
        border: 1px solid #fff;
        position: absolute;
        left: calc(50% - 6px);
        top: calc(50% - 6px);
        transform: rotate(45deg);
      }
    }
  }
}

.add-price {
  display: flex;
  margin: 5px;
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    border: 1px solid #d6dbe2;
    background-color: #eff2f4;
    color: #000;
    margin-right: 4px;
  }
  .btn-box {
    display: inline-flex;
    align-items: center;
    .v-btn-group {
      height: 28px;
      .v-btn {
        padding: 0;
        min-width: 28px;
        height: 28px;
        color: #3c4d60;
        border-radius: 3px;
        border: 1px solid #d6dbe2;
        margin-left: 4px;
        &.v-btn--selected {
          background-color: #fc6060;
          border-color: #fc6060;
          color: #fff;
        }
        .v-btn__overlay {
          display: none;
        }
      }
    }
  }
}
</style>
