<template>
  <div>
    <v-card
      elevation="0"
      rounded="0"
      color="#F2F5F8"
      v-bind:min-height="height"
    >
      <v-card-title class="text-caption py-0">
        <strong class="font-weight-bold">예약 숙박 입실가능 시간</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="100px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th class="text-center">체크인 시간</th>
              <td>
                <div class="d-flex align-center">
                  <num-ctrl
                    :preBtn="'mdi-chevron-down'"
                    :nextBtn="'mdi-chevron-up'"
                    :modelValue="'01시간'"
                    class="mr-2"
                    style="width: 120px"
                  ></num-ctrl>
                  <num-ctrl
                    :preBtn="'mdi-chevron-down'"
                    :nextBtn="'mdi-chevron-up'"
                    :modelValue="'50분'"
                    class="mr-2"
                    style="width: 120px"
                  ></num-ctrl>
                  전부터 입실 가능
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-caption pb-0 pt-3">
        <strong class="font-weight-bold">예약 대실 입실가능 시간</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="100px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th class="text-center">체크인 시간</th>
              <td>
                <div class="d-flex align-center">
                  <num-ctrl
                    :preBtn="'mdi-chevron-down'"
                    :nextBtn="'mdi-chevron-up'"
                    :modelValue="'01시간'"
                    class="mr-2"
                    style="width: 120px"
                  ></num-ctrl>
                  <num-ctrl
                    :preBtn="'mdi-chevron-down'"
                    :nextBtn="'mdi-chevron-up'"
                    :modelValue="'50분'"
                    class="mr-2"
                    style="width: 120px"
                  ></num-ctrl>
                  전부터 입실 가능
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-caption pb-0 pt-3">
        <strong class="font-weight-bold">예약 화면표시 일자 설정</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="100px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th class="text-center">체크인 시간</th>
              <td>
                <div class="d-flex align-center">
                  <num-ctrl
                    :preBtn="'mdi-chevron-down'"
                    :nextBtn="'mdi-chevron-up'"
                    :modelValue="'1일'"
                    class="mr-2"
                    style="width: 120px"
                  ></num-ctrl>
                  전
                  <span class="text-red-accent-2 ml-3"
                    >(2022년 04월 05일 14시 25분 이내 표시됩니다.)</span
                  >
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-caption pb-0 pt-3">
        <strong class="font-weight-bold">기타설정</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="170px" />
            <col width="130px" />
            <col width="150px" />
            <col width="auto" />
            <col width="175px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th class="text-center">예약 객실 정리시간(청소)</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'5분'"
                  style="max-width: 100%"
                ></num-ctrl>
              </td>
              <th class="text-center">예약 시 객실 자동배정</th>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center"
                >
                  <v-radio
                    density="compact"
                    label="사용"
                    value="사용"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="사용안함"
                    value="사용안함"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
              <th class="text-center">예약번호 QR코드 발송 여부</th>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center"
                >
                  <v-radio
                    density="compact"
                    label="사용"
                    value="사용"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="사용안함"
                    value="사용안함"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
    </v-card>
    <div class="d-flex justify-center mt-6 mb-3">
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#3C4D60"
        text-color="#fff"
        variant="outlined"
      >
        닫기
      </v-btn>
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#2680EB"
        text-color="#fff"
        variant="outlined"
        class="ml-3"
      >
        저장
      </v-btn>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
import NumCtrl from '@/components/NumCtrl.vue';

export default defineComponent({
  name: 'SetReservation',
  props: {
    height: {
      type: String,
    },
  },
  components: {
    NumCtrl,
  },
  data: () => ({}),
});
</script>
