<template>
  <div>
    <v-card
      elevation="0"
      rounded="0"
      color="#F2F5F8"
      v-bind:min-height="height"
    >
      <v-card-title class="text-caption py-0">
        <strong class="font-weight-bold">구독목록</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <div class="table-list02">
          <v-radio-group inline hide-details class="radio-box-group">
            <v-table
              fixed-header
              density="compact"
              height="262"
              class="overflow-y-auto text-center"
              style="width: 100%"
            >
              <colgroup>
                <col width="50px" />
                <col width="20%" />
                <col width="auto" span="6" />
                <col width="70px" />
              </colgroup>
              <thead>
                <tr>
                  <th>선택</th>
                  <th>서비스명</th>
                  <th>유료여부</th>
                  <th>결제유형</th>
                  <th>구독 시작일</th>
                  <th>구독 만료일</th>
                  <th>평가판 만료일</th>
                  <th>신청상태</th>
                  <th>삭제</th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-yellow-lighten-4">
                  <td>
                    <v-radio
                      density="compact"
                      value="radio01"
                      color="#FC6060"
                      class="radio-box"
                    ></v-radio>
                  </td>
                  <td>메이드 동시 접속 라이선스</td>
                  <td>유료</td>
                  <td>월간결제</td>
                  <td>2021-12-30</td>
                  <td class="text-blue">2021-12-30</td>
                  <td>2022-12-30</td>
                  <td>
                    <v-btn
                      elevation="0"
                      height="20"
                      color="#FC6060"
                      variant="text"
                      class="text-caption pa-0"
                    >
                      신규신청
                    </v-btn>
                  </td>
                  <td>
                    <v-btn
                      elevation="0"
                      min-width="50"
                      height="20"
                      color="#5E7892"
                      text-color="#fff"
                      variant="outlined"
                      class="text-caption pa-0"
                    >
                      삭제
                    </v-btn>
                  </td>
                </tr>
                <tr>
                  <td>
                    <v-radio
                      density="compact"
                      value="radio02"
                      color="#FC6060"
                      class="radio-box"
                    ></v-radio>
                  </td>
                  <td>SMS 문자 발송 서비스</td>
                  <td>유료</td>
                  <td>월간결제</td>
                  <td>2021-12-30</td>
                  <td class="text-blue">2021-12-30</td>
                  <td>2022-12-30</td>
                  <td>구독완료</td>
                  <td>
                    <v-btn
                      elevation="0"
                      min-width="50"
                      height="20"
                      color="#5E7892"
                      text-color="#fff"
                      variant="outlined"
                      class="text-caption pa-0"
                    >
                      삭제
                    </v-btn>
                  </td>
                </tr>
                <tr class="bg-grey-lighten-2">
                  <td>
                    <v-radio
                      density="compact"
                      value="radio03"
                      color="#FC6060"
                      class="radio-box"
                    ></v-radio>
                  </td>
                  <td>SMS 문자 발송 서비스</td>
                  <td>유료</td>
                  <td>월간결제</td>
                  <td>2021-12-30</td>
                  <td class="text-blue">2021-12-30</td>
                  <td>2022-12-30</td>
                  <td>구독완료</td>
                  <td>
                    <v-btn
                      elevation="0"
                      min-width="50"
                      height="20"
                      color="#FC6060"
                      text-color="#fff"
                      variant="outlined"
                      class="text-caption pa-0"
                    >
                      삭제
                    </v-btn>
                  </td>
                </tr>
                <tr class="bg-yellow-lighten-4">
                  <td>
                    <v-radio
                      density="compact"
                      value="radio04"
                      color="#FC6060"
                      class="radio-box"
                    ></v-radio>
                  </td>
                  <td>SMS 문자 발송 서비스</td>
                  <td>유료</td>
                  <td>월간결제</td>
                  <td>2021-12-30</td>
                  <td class="text-blue">2021-12-30</td>
                  <td>2022-12-30</td>
                  <td>
                    <v-btn
                      elevation="0"
                      height="20"
                      color="#FC6060"
                      variant="text"
                      class="text-caption pa-0"
                    >
                      신규신청
                    </v-btn>
                  </td>
                  <td>
                    <v-btn
                      elevation="0"
                      min-width="50"
                      height="20"
                      color="#5E7892"
                      text-color="#fff"
                      variant="outlined"
                      class="text-caption pa-0"
                    >
                      삭제
                    </v-btn>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </v-table>
          </v-radio-group>
        </div>
      </v-card-text>
      <v-card-title class="text-caption py-0 pt-3 mb-1">
        <strong class="font-weight-bold">신규신청</strong>
        <v-btn
          elevation="0"
          width="90"
          height="28"
          color="#fff"
          text-color="#2C2F35"
          border="1"
          variant="outlined"
          class="text-caption pa-0 brd-red-accent-2 ml-auto"
        >
          <v-icon icon="mdi mdi-plus font-weight-bold" size="small"></v-icon>
          구독추가
        </v-btn>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="130px" />
            <col width="auto" />
            <col width="100px" />
            <col width="auto" />
            <col width="110px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>구독 서비스명</th>
              <td class="text-blue">
                <strong>메이드 동시 접속 라이선스</strong>
              </td>
              <th>유료여부</th>
              <td class="text-red-accent-2"><strong>유료</strong></td>
              <th>구독 신청 상태</th>
              <td>
                <div
                  class="d-flex align-center justify-center bg-yellow-lighten-4 rounded"
                  style="height: 28px"
                >
                  <strong>신규신청</strong>
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>
        <v-table density="comfortable" class="table-view mt-3">
          <colgroup>
            <col width="130px" />
            <col width="auto" />
            <col width="130px" />
            <col width="auto" />
            <col width="165px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>구독 서비스명</th>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  model-value="2022-04-30"
                  density="compact"
                  color="#2C2F35"
                  bg-color="#F9F9F9"
                  variant="outlined"
                  class="input-box"
                ></v-text-field>
              </td>
              <th>구독 신청 종료일</th>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  model-value="2022-04-30"
                  density="compact"
                  color="#2C2F35"
                  bg-color="#F9F9F9"
                  variant="outlined"
                  class="input-box"
                ></v-text-field>
              </td>
              <th>추가 신청 라이선스 Copy</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'0 Copy'"
                  style="max-width: 100%"
                ></num-ctrl>
              </td>
            </tr>
          </tbody>
        </v-table>
        <v-table density="comfortable" class="table-view mt-3">
          <colgroup>
            <col width="130px" />
            <col width="auto" />
            <col width="130px" />
            <col width="auto" />
            <col width="130px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>구독 서비스 시작일</th>
              <td>2020-04-30</td>
              <th>구독 서비스 만료일</th>
              <td>2020-04-30</td>
              <th>평가판 종료일</th>
              <td>2020-04-30</td>
            </tr>
          </tbody>
        </v-table>
        <v-table density="comfortable" class="table-view mt-3">
          <colgroup>
            <col width="100px" />
            <col width="auto" />
            <col width="140px" />
            <col width="auto" />
            <col width="110px" />
            <col width="auto" />
            <col width="140px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>결제유형</th>
              <td>월간결제</td>
              <th>라이선스별 구독요금</th>
              <td>10,000원</td>
              <th>구독 할인 요금</th>
              <td>0원</td>
              <th>추가 라이선스 Copy</th>
              <td>Copy</td>
            </tr>
          </tbody>
        </v-table>
        <div class="d-flex mt-2">
          <v-btn
            elevation="0"
            width="80"
            height="26"
            color="#3C4D60"
            text-color="#fff"
            border="1"
            variant="outlined"
            class="text-caption pa-0 ml-auto"
          >
            구독변경
          </v-btn>
          <v-btn
            elevation="0"
            width="80"
            height="26"
            color="#5E7892"
            text-color="#fff"
            border="1"
            variant="outlined"
            class="text-caption pa-0 ml-2"
          >
            취소
          </v-btn>
        </div>
      </v-card-text>
      <v-card-title class="text-caption py-0 pt-3 mb-1">
        <strong class="font-weight-bold">구독등록</strong>
        <v-btn
          elevation="0"
          width="90"
          height="28"
          color="#fff"
          text-color="#2C2F35"
          border="1"
          variant="outlined"
          class="text-caption pa-0 brd-red-accent-2 ml-auto"
        >
          <v-icon icon="mdi mdi-plus font-weight-bold" size="small"></v-icon>
          구독추가
        </v-btn>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="130px" />
            <col width="auto" />
            <col width="100px" />
            <col width="auto" />
            <col width="110px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>구독 서비스명</th>
              <td>
                <v-select
                  :items="items"
                  density="compact"
                  hide-details
                  single-line
                  class="select-box type02 bg-gray"
                ></v-select>
              </td>
              <th>유료여부</th>
              <td>
                <v-btn-toggle
                  style="height: 28px"
                  color="#FC6060"
                  class="text-grey-lighten-1"
                >
                  <v-btn
                    variant="text"
                    min-width="50"
                    height="28"
                    class="text-caption px-1"
                  >
                    유료
                  </v-btn>
                </v-btn-toggle>
              </td>
              <th>구독 신청 상태</th>
              <td>
                <div
                  class="d-flex align-center justify-center bg-yellow-lighten-4 rounded"
                  style="height: 28px"
                >
                  <strong>신규신청</strong>
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>
        <v-table density="comfortable" class="table-view mt-3">
          <colgroup>
            <col width="130px" />
            <col width="auto" />
            <col width="130px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>구독 신청 시작일</th>
              <td>
                <v-select
                  :items="items2"
                  density="compact"
                  hide-details
                  single-line
                  class="select-box type02 bg-gray"
                ></v-select>
              </td>
              <th>구독 신청 종료일</th>
              <td>
                <v-select
                  :items="items3"
                  density="compact"
                  hide-details
                  single-line
                  class="select-box type02 bg-gray"
                ></v-select>
              </td>
            </tr>
          </tbody>
        </v-table>
        <v-table density="comfortable" class="table-view mt-3">
          <colgroup>
            <col width="130px" />
            <col width="auto" />
            <col width="100px" />
            <col width="auto" />
            <col width="110px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>결제유형</th>
              <td>
                <v-select
                  :items="items4"
                  density="compact"
                  hide-details
                  single-line
                  class="select-box type02 bg-gray"
                ></v-select>
              </td>
              <th>구독요금</th>
              <td>0원</td>
              <th>구독 할인 요금</th>
              <td>0원</td>
            </tr>
          </tbody>
        </v-table>
        <div class="d-flex mt-2">
          <v-btn
            elevation="0"
            width="80"
            height="26"
            color="#3C4D60"
            text-color="#fff"
            border="1"
            variant="outlined"
            class="text-caption pa-0 ml-auto"
          >
            신청
          </v-btn>
          <v-btn
            elevation="0"
            width="80"
            height="26"
            color="#5E7892"
            text-color="#fff"
            border="1"
            variant="outlined"
            class="text-caption pa-0 ml-2"
          >
            취소
          </v-btn>
        </div>
      </v-card-text>
      <v-card-title class="text-caption py-0 pt-3 mb-1">
        <strong class="font-weight-bold">구독정보</strong>
        <v-btn
          elevation="0"
          width="90"
          height="28"
          color="#fff"
          text-color="#2C2F35"
          border="1"
          variant="outlined"
          class="text-caption pa-0 brd-red-accent-2 ml-auto"
        >
          <v-icon icon="mdi mdi-plus font-weight-bold" size="small"></v-icon>
          구독추가
        </v-btn>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="130px" />
            <col width="auto" />
            <col width="100px" />
            <col width="auto" />
            <col width="110px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>구독 서비스명</th>
              <td class="text-blue">
                <strong>메이드 동시 접속 라이선스</strong>
              </td>
              <th>유료여부</th>
              <td class="text-red-accent-2"><strong>유료</strong></td>
              <th>구독 신청 상태</th>
              <td><strong>구독 완료</strong></td>
            </tr>
          </tbody>
        </v-table>
        <v-table density="comfortable" class="table-view mt-3">
          <colgroup>
            <col width="130px" />
            <col width="auto" />
            <col width="130px" />
            <col width="auto" />
            <col width="130px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>구독 서비스 시작일</th>
              <td>2020-04-30</td>
              <th>구독 서비스 만료일</th>
              <td>2020-04-30</td>
              <th>평가판 종료일</th>
              <td>2020-04-30</td>
            </tr>
          </tbody>
        </v-table>
        <v-table density="comfortable" class="table-view mt-3">
          <colgroup>
            <col width="130px" />
            <col width="auto" />
            <col width="100px" />
            <col width="auto" />
            <col width="110px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>결제유형</th>
              <td>월간결제</td>
              <th>구독요금</th>
              <td>10,000원</td>
              <th>구독 할인 요금</th>
              <td>0원</td>
            </tr>
          </tbody>
        </v-table>
        <div class="d-flex mt-2">
          <v-btn
            elevation="0"
            width="80"
            height="26"
            color="#3C4D60"
            text-color="#fff"
            border="1"
            variant="outlined"
            class="text-caption pa-0 ml-auto"
          >
            구독변경
          </v-btn>
          <v-btn
            elevation="0"
            width="80"
            height="26"
            color="#5E7892"
            text-color="#fff"
            border="1"
            variant="outlined"
            class="text-caption pa-0 ml-2"
          >
            취소
          </v-btn>
        </div>
      </v-card-text>
    </v-card>
    <div class="d-flex justify-center mt-6">
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#3C4D60"
        text-color="#fff"
        variant="outlined"
      >
        닫기
      </v-btn>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
import NumCtrl from '@/components/NumCtrl.vue';

export default defineComponent({
  name: 'SetSubscribe',
  props: {
    height: {
      type: String,
    },
  },
  components: {
    NumCtrl,
  },
  data: () => ({
    items: ['구독을 선택 해주세요.'],
    items2: ['2022-04-30'],
    items3: ['2022-04-30'],
    items4: ['결제유형'],
  }),
});
</script>
