<template>
  <div>
    <v-card
      elevation="0"
      rounded="0"
      color="#F2F5F8"
      v-bind:min-height="height"
    >
      <v-card-title class="text-caption py-0">
        <strong class="font-weight-bold">무인자판기 사용 설정</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="180px" />
            <col width="auto" />
            <col width="170px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>전체 무인 자판기 사용 여부</th>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center flex-grow-0"
                >
                  <v-radio
                    density="compact"
                    label="사용"
                    value="사용"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="사용안한"
                    value="사용안한"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
              <th>전체 무인 판매 허용 타입</th>
              <td>
                <div class="d-flex">
                  <v-checkbox
                    hide-details
                    density="default"
                    color="#fc6060"
                    label="숙박판매"
                    class="check-box flex-grow-0"
                  ></v-checkbox>
                  <v-checkbox
                    hide-details
                    density="default"
                    color="#fc6060"
                    label="대실판매"
                    class="check-box flex-grow-0 ml-3"
                  ></v-checkbox>
                  <v-checkbox
                    hide-details
                    density="default"
                    color="#fc6060"
                    label="예약판매"
                    class="check-box flex-grow-0 ml-3"
                  ></v-checkbox>
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-caption pb-0 pt-3">
        <strong class="font-weight-bold">무인판매기 옵션 설정</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="180px" />
            <col width="160px" />
            <col width="120px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>무인판매기 선택</th>
              <td colspan="3">
                <v-select
                  :items="items"
                  density="compact"
                  hide-details
                  single-line
                  class="select-box type02 bg-gray"
                ></v-select>
              </td>
            </tr>
            <tr>
              <th>ISSXA 01 무인판매 사용</th>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center flex-grow-0"
                >
                  <v-radio
                    density="compact"
                    label="사용"
                    value="사용"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="중지"
                    value="중지"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
              <th>카드데크 키 현황</th>
              <td>
                <v-btn
                  elevation="0"
                  height="28"
                  color="#3C4D60"
                  text-color="#fff"
                  variant="outlined"
                  class="text-caption"
                  style="width: 100%"
                >
                  카드데크 키 현황 보기
                </v-btn>
              </td>
            </tr>
            <tr>
              <th>성인 인증모드 설정</th>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center flex-grow-0"
                >
                  <v-radio
                    density="compact"
                    label="사용"
                    value="사용"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="헤제"
                    value="헤제"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
              <th>1회 성인인증</th>
              <td>
                <div class="d-flex align-center">
                  <v-radio-group
                    inline
                    hide-details
                    class="radio-box-group d-flex align-center flex-grow-0"
                  >
                    <v-radio
                      density="compact"
                      label="사용"
                      value="사용"
                      color="#FC6060"
                      class="radio-box"
                    ></v-radio>
                    <v-radio
                      density="compact"
                      label="사용안함"
                      value="사용안함"
                      color="#FC6060"
                      class="radio-box"
                    ></v-radio>
                  </v-radio-group>
                  <span class="text-red-accent-2 ml-3"
                    >(* 성인인증 완료시 자동으로 성인 인증모드가
                    해제됩니다.)</span
                  >
                </div>
              </td>
            </tr>
            <tr>
              <th>차량번호 입력 사용</th>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center flex-grow-0"
                >
                  <v-radio
                    density="compact"
                    label="사용"
                    value="사용"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="사용안함"
                    value="사용안함"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
              <th>1회 성인인증</th>
              <td>
                <div class="d-flex align-center">
                  <dl class="d-flex align-center flex-grow-1">
                    <dt>좌측 잔여지폐 수</dt>
                    <dd class="flex-grow-1 ml-2">
                      <num-ctrl
                        :preBtn="'mdi-chevron-down'"
                        :nextBtn="'mdi-chevron-up'"
                        :modelValue="'0장'"
                        style="max-width: 100%"
                      ></num-ctrl>
                    </dd>
                    <dt class="ml-6">좌측 잔여지폐 수</dt>
                    <dd class="flex-grow-1 ml-2">
                      <num-ctrl
                        :preBtn="'mdi-chevron-down'"
                        :nextBtn="'mdi-chevron-up'"
                        :modelValue="'0장'"
                        style="max-width: 100%"
                      ></num-ctrl>
                    </dd>
                  </dl>
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-caption pb-0 pt-3">
        <strong class="font-weight-bold">영수증 프린터 설정</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="180px" />
            <col width="220px" />
            <col width="160px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>결제후 영수증 출력 여부</th>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center flex-grow-0"
                >
                  <v-radio
                    density="compact"
                    label="결제후 묻기"
                    value="결제후 묻기"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="무조건 출력"
                    value="무조건 출력"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
              <th>영수증 하단 추가 메시지</th>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  model-value="이용해 주셔서 감사합니다."
                  density="compact"
                  color="#2C2F35"
                  bg-color="#F9F9F9"
                  variant="outlined"
                  class="input-box"
                ></v-text-field>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-caption pb-0 pt-3">
        <strong class="font-weight-bold">무인 관리자 비밀번호 변경</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="180px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>새로운 비밀번호 숫자만 입력</th>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  placeholder="비밀번호를 입력하세요."
                  density="compact"
                  color="#2C2F35"
                  bg-color="#F9F9F9"
                  variant="outlined"
                  class="input-box text-blue"
                ></v-text-field>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
    </v-card>
    <div class="d-flex justify-center mt-6 mb-3">
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#3C4D60"
        text-color="#fff"
        variant="outlined"
      >
        닫기
      </v-btn>
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#2680EB"
        text-color="#fff"
        variant="outlined"
        class="ml-3"
      >
        저장
      </v-btn>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
import NumCtrl from '@/components/NumCtrl.vue';

export default defineComponent({
  name: 'SetUnattendedSales',
  props: {
    height: {
      type: String,
    },
  },
  components: {
    NumCtrl,
  },
  data: () => ({
    items: ['[CHECKQIN] ISSXA 01'],
  }),
});
</script>
