<template>
  <div>
    <v-card
      elevation="0"
      rounded="0"
      color="#F2F5F8"
      v-bind:min-height="height"
    >
      <v-card-title class="text-caption py-0">
        <strong class="font-weight-bold">음성 기능 사용 설정</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <tbody>
            <tr>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center flex-grow-0"
                >
                  <v-radio
                    density="compact"
                    label="사용"
                    value="사용"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="사용 안함"
                    value="사용 안함"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <span class="text-blue ml-4"
                    >※ 크롬 재시작 후 음성이 재생되지 않을때는 화면을 마우스로
                    한번 클릭해 주세요.</span
                  >
                </v-radio-group>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-card-title class="text-caption py-0 pt-3">
        <strong class="font-weight-bold">키 음성 설정</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <tbody>
            <tr>
              <td>
                <div class="d-flex align-center">
                  <v-checkbox
                    hide-details
                    density="default"
                    color="#fc6060"
                    label="손님키 삽입"
                    class="check-box flex-grow-0"
                  ></v-checkbox>
                  <v-checkbox
                    hide-details
                    density="default"
                    color="#fc6060"
                    label="손님키 제거"
                    class="check-box flex-grow-0 ml-2"
                  ></v-checkbox>
                  <v-checkbox
                    hide-details
                    density="default"
                    color="#fc6060"
                    label="청소기 삽입"
                    class="check-box flex-grow-0 ml-2"
                  ></v-checkbox>
                  <v-checkbox
                    hide-details
                    density="default"
                    color="#fc6060"
                    label="청소키 제거"
                    class="check-box flex-grow-0 ml-2"
                  ></v-checkbox>
                  <v-checkbox
                    hide-details
                    density="default"
                    color="#fc6060"
                    label="마스터키 삽입"
                    class="check-box flex-grow-0 ml-2"
                  ></v-checkbox>
                  <v-checkbox
                    hide-details
                    density="default"
                    color="#fc6060"
                    label="마스터키 제거"
                    class="check-box flex-grow-0 ml-2"
                  ></v-checkbox>
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-row dense>
        <v-col class="v-col-auto" style="width: 25%">
          <v-card-title class="text-caption py-0 pt-3 pr-0">
            <strong class="font-weight-bold">도어 음성 설정</strong>
          </v-card-title>
          <v-card-text class="py-0 pr-0">
            <v-table density="comfortable" class="table-view">
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-center">
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="객실문 닫힘"
                        class="check-box flex-grow-0"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="객실문 열림"
                        class="check-box flex-grow-0 ml-2"
                      ></v-checkbox>
                    </div>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
        </v-col>
        <v-col class="v-col-auto" style="width: 23%">
          <v-card-title class="text-caption py-0 pt-3 pa-0">
            <strong class="font-weight-bold">청소 음성 설정</strong>
          </v-card-title>
          <v-card-text class="pa-0">
            <v-table density="comfortable" class="table-view">
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-center">
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="청소요청"
                        class="check-box flex-grow-0"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="청소완료"
                        class="check-box flex-grow-0 ml-2"
                      ></v-checkbox>
                    </div>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
        </v-col>
        <v-col class="v-col-auto" style="width: 23%">
          <v-card-title class="text-caption py-0 pt-3 pa-0">
            <strong class="font-weight-bold">전원 음성 설정</strong>
          </v-card-title>
          <v-card-text class="pa-0">
            <v-table density="comfortable" class="table-view">
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-center">
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="전원차단"
                        class="check-box flex-grow-0"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="전원공급"
                        class="check-box flex-grow-0 ml-2"
                      ></v-checkbox>
                    </div>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
        </v-col>
        <v-col>
          <v-card-title class="text-caption py-0 pt-3 pl-0">
            <strong class="font-weight-bold">차량호출 음성 설정</strong>
          </v-card-title>
          <v-card-text class="py-0 pl-0">
            <v-table density="comfortable" class="table-view">
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-center">
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="배차요청"
                        class="check-box flex-grow-0"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="배차완료"
                        class="check-box flex-grow-0 ml-2"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="배차취소"
                        class="check-box flex-grow-0 ml-2"
                      ></v-checkbox>
                    </div>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
        </v-col>
      </v-row>
      <v-row dense>
        <v-col cols="5">
          <v-card-title class="text-caption py-0 pt-3 pr-0">
            <strong class="font-weight-bold">인스펙트(점검) 음성 설정</strong>
          </v-card-title>
          <v-card-text class="py-0 pr-0">
            <v-table density="comfortable" class="table-view">
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-center">
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="점검대기"
                        class="check-box flex-grow-0"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="점검 중"
                        class="check-box flex-grow-0 ml-2"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="점검완료"
                        class="check-box flex-grow-0 ml-2"
                      ></v-checkbox>
                    </div>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
        </v-col>
        <v-col cols="7">
          <v-card-title class="text-caption py-0 pt-3 pl-0">
            <strong class="font-weight-bold">기타 효과음 설정 여부</strong>
          </v-card-title>
          <v-card-text class="py-0 pl-0">
            <v-table density="comfortable" class="table-view">
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-center">
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="숙박/대실 상태"
                        class="check-box flex-grow-0"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="알람 효과음"
                        class="check-box flex-grow-0 ml-2"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="자동입실"
                        class="check-box flex-grow-0 ml-2"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="자동퇴실"
                        class="check-box flex-grow-0 ml-2"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="외출"
                        class="check-box flex-grow-0 ml-2"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="외출복귀"
                        class="check-box flex-grow-0 ml-2"
                      ></v-checkbox>
                    </div>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
        </v-col>
      </v-row>
      <v-divider class="mt-5 mb-3 mx-4"></v-divider>
      <v-card-title class="text-caption py-0">
        <strong class="font-weight-bold">기타설정</strong>
        <v-checkbox
          hide-details
          density="default"
          color="#fc6060"
          label="객실타입명 음성 출력"
          class="check-box flex-grow-0 ml-3"
        ></v-checkbox>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="80px" />
            <col width="auto" />
            <col width="80px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th class="text-center">음성속도</th>
              <td>
                <div class="d-flex align-center">
                  <num-ctrl
                    :preBtn="'mdi-chevron-down'"
                    :nextBtn="'mdi-chevron-up'"
                    :modelValue="'1.4'"
                    style="width: 80px"
                    class="mr-3"
                  ></num-ctrl>
                  숫자가 클 수록 말하기 속도가 빨라집니다.
                </div>
              </td>
              <th class="text-center">음성버퍼</th>
              <td>
                <div class="d-flex align-center">
                  <num-ctrl
                    :preBtn="'mdi-chevron-down'"
                    :nextBtn="'mdi-chevron-up'"
                    :modelValue="'7'"
                    style="width: 80px"
                    class="mr-3"
                  ></num-ctrl>
                  순차적으로 재생 할 음성의 최대 갯수 입니다.
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>
        <p class="text-caption mt-3">
          - 재생대기 음성이 버퍼 갯수를 넣으면 다음 재생 할 음성이 제거 되고
          신규 음성이 버퍼에 추가됩니다.<br />
          - '0' 이면 실시간으로 음성이 재생됩니다.
        </p>
      </v-card-text>
    </v-card>
    <div class="d-flex justify-center mt-6 mb-3">
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#3C4D60"
        text-color="#fff"
        variant="outlined"
      >
        닫기
      </v-btn>
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#2680EB"
        text-color="#fff"
        variant="outlined"
        class="ml-3"
      >
        저장
      </v-btn>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
import NumCtrl from '@/components/NumCtrl.vue';

export default defineComponent({
  name: 'SetVoice',
  props: {
    height: {
      type: String,
    },
  },
  components: {
    NumCtrl,
  },
  data: () => ({}),
});
</script>
