<template>
  <div>
    <v-card
      elevation="0"
      rounded="0"
      color="#F2F5F8"
      v-bind:min-height="height"
    >
      <v-card-title class="text-caption py-0">
        <strong class="font-weight-bold">투숙 형태별 배경색 지정</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <tbody>
            <tr>
              <td>
                <div class="d-flex">
                  <v-btn
                    elevation="0"
                    width="64"
                    height="26"
                    border="1"
                    color="#5C86F1"
                    variant="outlined"
                    class="text-caption text-white brd-black pa-0"
                  >
                    숙박
                  </v-btn>
                  <v-btn
                    elevation="0"
                    width="64"
                    height="26"
                    border="1"
                    color="#7868E5"
                    variant="outlined"
                    class="text-caption text-white brd-black ml-1 pa-0"
                  >
                    대실
                  </v-btn>
                  <v-btn
                    elevation="0"
                    width="64"
                    height="26"
                    border="1"
                    color="#3770BB"
                    variant="outlined"
                    class="text-caption text-white brd-black ml-1 pa-0"
                  >
                    장기
                  </v-btn>
                  <v-btn
                    elevation="0"
                    width="64"
                    height="26"
                    border="1"
                    color="#5E7892"
                    variant="outlined"
                    class="text-caption text-white brd-black ml-1 pa-0"
                  >
                    공실
                  </v-btn>
                  <v-btn
                    elevation="0"
                    width="64"
                    height="26"
                    border="1"
                    color="#FF9100"
                    variant="outlined"
                    class="text-caption text-white brd-black ml-1 pa-0"
                  >
                    외출
                  </v-btn>
                  <v-btn
                    elevation="0"
                    width="100"
                    height="26"
                    border="1"
                    color="#3C4D60"
                    variant="outlined"
                    class="text-caption text-white brd-black ml-1 pa-0"
                  >
                    기본값 복원
                  </v-btn>
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-row dense>
        <v-col class="v-col-auto" style="width: 38%">
          <v-card-title class="text-caption pb-0 pt-3 pr-0">
            <strong class="font-weight-bold">레이아웃 설정</strong>
          </v-card-title>
          <v-card-text class="py-0 pr-0">
            <v-table density="comfortable" class="table-view">
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex">
                      <v-btn
                        elevation="0"
                        width="64"
                        height="26"
                        border="1"
                        color="#D45CF1"
                        variant="outlined"
                        class="text-caption text-white brd-black pa-0 flex-grow-1"
                      >
                        고객키
                      </v-btn>
                      <v-btn
                        elevation="0"
                        width="64"
                        height="26"
                        border="1"
                        color="#31B8C8"
                        variant="outlined"
                        class="text-caption text-white brd-black ml-1 pa-0 flex-grow-1"
                      >
                        청소키
                      </v-btn>
                      <v-btn
                        elevation="0"
                        width="64"
                        height="26"
                        border="1"
                        color="#EC3838"
                        variant="outlined"
                        class="text-caption text-white brd-black ml-1 pa-0 flex-grow-1"
                      >
                        마스터키
                      </v-btn>
                      <v-btn
                        elevation="0"
                        width="100"
                        height="26"
                        border="1"
                        color="#3C4D60"
                        variant="outlined"
                        class="text-caption text-white brd-black ml-1 pa-0 flex-grow-1"
                      >
                        기본값 복원
                      </v-btn>
                    </div>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
        </v-col>
        <v-col class="v-col-auto" style="width: 30%">
          <v-card-title class="text-caption pb-0 pt-3 pa-0">
            <strong class="font-weight-bold">퇴실예정 시간 알림 설정</strong>
          </v-card-title>
          <v-card-text class="pa-0">
            <v-table density="comfortable" class="table-view">
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex">
                      <v-btn
                        elevation="0"
                        width="64"
                        height="26"
                        border="1"
                        color="#000000"
                        variant="outlined"
                        class="text-caption text-white brd-black pa-0 flex-grow-1"
                      >
                        기본키
                      </v-btn>
                      <v-btn
                        elevation="0"
                        width="64"
                        height="26"
                        border="1"
                        color="#5EC73F"
                        variant="outlined"
                        class="text-caption text-white brd-black ml-1 pa-0 flex-grow-1"
                      >
                        오버타임
                      </v-btn>
                      <v-btn
                        elevation="0"
                        width="100"
                        height="26"
                        border="1"
                        color="#3C4D60"
                        variant="outlined"
                        class="text-caption text-white brd-black ml-1 pa-0 flex-grow-1"
                      >
                        기본값 복원
                      </v-btn>
                    </div>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
        </v-col>
        <v-col class="v-col-auto" style="width: 32%">
          <v-card-title class="text-caption pb-0 pt-3 pl-0">
            <strong class="font-weight-bold">퇴실예정 시간 알림 설정</strong>
          </v-card-title>
          <v-card-text class="py-0 pl-0">
            <v-table density="comfortable" class="table-view">
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex">
                      <v-btn
                        elevation="0"
                        width="64"
                        height="26"
                        border="1"
                        color="#9FA9C2"
                        variant="outlined"
                        class="text-caption text-white brd-black pa-0 flex-grow-1"
                      >
                        사용시간
                      </v-btn>
                      <v-btn
                        elevation="0"
                        width="64"
                        height="26"
                        border="1"
                        color="#33B0DF"
                        variant="outlined"
                        class="text-caption text-white brd-black ml-1 pa-0 flex-grow-1"
                      >
                        청소시간
                      </v-btn>
                      <v-btn
                        elevation="0"
                        width="100"
                        height="26"
                        border="1"
                        color="#3C4D60"
                        variant="outlined"
                        class="text-caption text-white brd-black ml-1 pa-0 flex-grow-1"
                      >
                        기본값 복원
                      </v-btn>
                    </div>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
        </v-col>
      </v-row>
      <v-card-title class="text-caption pb-0 pt-3">
        <strong class="font-weight-bold">글자크기 설정</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="95px" />
            <col width="auto" />
            <col width="95px" />
            <col width="auto" />
            <col width="95px" />
            <col width="auto" />
            <col width="95px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>기본설정</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'12'"
                  style="min-width: 100%"
                ></num-ctrl>
              </td>
              <th>좌측 메뉴</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'14'"
                  style="min-width: 100%"
                ></num-ctrl>
              </td>
              <th>체크인 팝업</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'11'"
                  style="min-width: 100%"
                ></num-ctrl>
              </td>
              <th>객실명</th>
              <td>
                <num-ctrl
                  :preBtn="'mdi-chevron-down'"
                  :nextBtn="'mdi-chevron-up'"
                  :modelValue="'12'"
                  style="min-width: 100%"
                ></num-ctrl>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <v-row dense>
        <v-col>
          <v-card-title class="text-caption pb-0 pt-3 pr-0">
            <strong class="font-weight-bold">레이아웃 설정</strong>
          </v-card-title>
          <v-card-text class="py-0 pr-0">
            <v-table density="comfortable" class="table-view">
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-center">
                      <span class="mr-3">좌측메뉴 넓이</span>
                      <num-ctrl
                        :preBtn="'mdi-chevron-down'"
                        :nextBtn="'mdi-chevron-up'"
                        :modelValue="'12'"
                        style="width: 120px"
                      ></num-ctrl>
                    </div>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
        </v-col>
        <v-col>
          <v-card-title class="text-caption pb-0 pt-3 pl-0">
            <strong class="font-weight-bold">퇴실예정 시간 알림 설정</strong>
          </v-card-title>
          <v-card-text class="py-0 pl-0">
            <v-table density="comfortable" class="table-view">
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-center">
                      <span class="mr-3">좌측메뉴 넓이</span>
                      <num-ctrl
                        :preBtn="'mdi-chevron-down'"
                        :nextBtn="'mdi-chevron-up'"
                        :modelValue="'30분'"
                        style="width: 120px"
                      ></num-ctrl>
                      <span class="text-blue ml-2">전 부터 알림 표시</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
        </v-col>
      </v-row>
      <v-row dense>
        <v-col>
          <v-card-title class="text-caption pb-0 pt-3 pr-0">
            <strong class="font-weight-bold">객실 온도 표시 설정</strong>
          </v-card-title>
          <v-card-text class="py-0 pr-0">
            <v-table density="comfortable" class="table-view">
              <tbody>
                <tr>
                  <td>
                    <v-radio-group
                      inline
                      hide-details
                      class="radio-box-group d-flex align-center flex-grow-0"
                    >
                      <v-radio
                        density="compact"
                        label="표시"
                        value="표시"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="숨김"
                        value="숨김"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                    </v-radio-group>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
        </v-col>
        <v-col>
          <v-card-title class="text-caption pb-0 pt-3 pl-0">
            <strong class="font-weight-bold">공실 경과 시간 표시 설정</strong>
          </v-card-title>
          <v-card-text class="py-0 pl-0">
            <v-table density="comfortable" class="table-view">
              <tbody>
                <tr>
                  <td>
                    <v-radio-group
                      inline
                      hide-details
                      class="radio-box-group d-flex align-center flex-grow-0"
                    >
                      <v-radio
                        density="compact"
                        label="표시"
                        value="표시"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                      <v-radio
                        density="compact"
                        label="숨김"
                        value="숨김"
                        color="#FC6060"
                        class="radio-box"
                      ></v-radio>
                    </v-radio-group>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
        </v-col>
      </v-row>
      <v-row dense>
        <v-col>
          <v-card-title class="text-caption pb-0 pt-3 pr-0">
            <strong class="font-weight-bold">레이아웃 설정</strong>
          </v-card-title>
          <v-card-text class="py-0 pr-0">
            <v-table density="comfortable" class="table-view">
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-center">
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="전원상태"
                        class="check-box flex-grow-0"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="통신상태"
                        class="check-box flex-grow-0 ml-2"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="온도상태"
                        class="check-box flex-grow-0 ml-2"
                      ></v-checkbox>
                      <v-checkbox
                        hide-details
                        density="default"
                        color="#fc6060"
                        label="차량호출"
                        class="check-box flex-grow-0 ml-2"
                      ></v-checkbox>
                    </div>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
        </v-col>
        <v-col>
          <v-card-title class="text-caption pb-0 pt-3 pl-0">
            <strong class="font-weight-bold"
              >인스펙트 사용 시
              <span class="text-red-accent-2">[점검완료]</span> 문구 숨김
              타이머</strong
            >
          </v-card-title>
          <v-card-text class="py-0 pl-0">
            <v-table density="comfortable" class="table-view">
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-center">
                      <span class="mr-3">점검완료 후</span>
                      <num-ctrl
                        :preBtn="'mdi-chevron-down'"
                        :nextBtn="'mdi-chevron-up'"
                        :modelValue="'1'"
                        style="width: 120px"
                      ></num-ctrl>
                      <span class="ml-2">분 후 문구 숨김</span>
                      <span class="text-blue ml-1">(※0분 이면 계속 표시)</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
        </v-col>
      </v-row>
    </v-card>
    <div class="d-flex justify-center mt-6 mb-3">
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#3C4D60"
        text-color="#fff"
        variant="outlined"
      >
        닫기
      </v-btn>
      <v-btn
        width="150"
        height="40"
        elevation="0"
        color="#2680EB"
        text-color="#fff"
        variant="outlined"
        class="ml-3"
      >
        저장
      </v-btn>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from 'vue';
import NumCtrl from '@/components/NumCtrl.vue';

export default defineComponent({
  name: 'SetView',
  props: {
    height: {
      type: String,
    },
  },
  components: {
    NumCtrl,
  },
  data: () => ({}),
});
</script>
