<template>
  <v-card elevation="0" rounded="0" color="#F2F5F8">
    <popup-title :title="'포인트 관리'" :pinHide="true"></popup-title>
    <v-layout class="pt-1 py-5 flex-column">
      <div class="table-list02 pa-4 pb-0">
        <div class="d-flex align-center mb-2">
          <v-checkbox
            hide-details
            density="default"
            color="#fc6060"
            label="전체선택"
            class="check-box flex-grow-0"
          ></v-checkbox>
          <v-divider vertical color="#BCBDBE" class="mx-3 my-1"></v-divider>
          <search-form :textPlaceholder="'휴대폰 번호 입력'" style="width:226px"></search-form>
          <v-btn
            elevation="0"
            width="100"
            height="28"            
            text-color="#2C2F35"
            border="1"
            @click.stop="dialog = true"
            class="text-caption pa-0 brd-red-accent-2 ml-auto"
          >
            <v-icon icon="mdi mdi-plus font-weight-bold" size="small"></v-icon>
            포인트 추가
          </v-btn>
        </div>
        <v-table
          fixed-header
          density="compact"
          height="447"
          class="overflow-y-auto text-center"
        >
          <thead>
            <tr>
              <th>선택</th>
              <th>휴대폰 번호</th>
              <th>포인트</th>
              <th>등록일시</th>
              <th>수령일자</th>
              <th>삭제</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label=""
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>010-1234-5678</td>
              <td>1,500원</td>
              <td>2022-12-24 14:28:23</td>
              <td></td>
              <td>
                <v-btn
                  elevation="0"
                  rounded="0"
                  min-width="40"
                  height="28"
                  class="pa-0"
                  style="background: transparent;"
                >
                  <v-icon icon="mdi mdi-trash-can-outline" color="#969FA8"></v-icon>
                </v-btn>
              </td>
            </tr>
            <tr>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label=""
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  density="compact"
                  color="#3C4D60"
                  bg-color="#fff"
                  variant="outlined"
                  class="input-box text-center"
                ></v-text-field>
              </td>
              <td>
                <num-ctrl
                  :preBtn="'mdi-minus'"
                  :nextBtn="'mdi-plus'"
                  :modelValue="'0원'"
                  style="max-width: 100%;"
                ></num-ctrl>
              </td>
              <td>2022-12-24 14:28:23</td>
              <td>2022-12-24 14:28:23</td>
              <td>
                <v-btn
                  elevation="0"
                  rounded="0"
                  min-width="40"
                  height="28"
                  class="pa-0"
                  style="background: transparent;"
                >
                  <v-icon icon="mdi mdi-trash-can-outline" color="#969FA8"></v-icon>
                </v-btn>
              </td>
            </tr>
            <tr>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label=""
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>010-1234-5678</td>
              <td>1,500원</td>
              <td>2022-12-24 14:28:23</td>
              <td>2022-12-24 14:28:23</td>
              <td>
                <v-btn
                  elevation="0"
                  rounded="0"
                  min-width="40"
                  height="28"
                  class="pa-0"
                  style="background: transparent;"
                >
                  <v-icon icon="mdi mdi-trash-can-outline" color="#969FA8"></v-icon>
                </v-btn>
              </td>
            </tr>
            <tr>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label=""
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>010-1234-5678</td>
              <td>1,500원</td>
              <td>2022-12-24 14:28:23</td>
              <td></td>
              <td>
                <v-btn
                  elevation="0"
                  rounded="0"
                  min-width="40"
                  height="28"
                  class="pa-0"
                  style="background: transparent;"
                >
                  <v-icon icon="mdi mdi-trash-can-outline" color="#969FA8"></v-icon>
                </v-btn>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </v-table>
      </div>
      <v-card-text class="pt-4 pb-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="155px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>선택한 고객의 포인트를</th>
              <td>
                <div class="d-flex align-center">
                  <v-text-field
                    single-line
                    hide-details
                    density="compact"
                    color="#3C4D60"
                    bg-color="#F9F9F9"
                    variant="outlined"
                    class="input-box text-right text-red"
                  ></v-text-field>
                  <v-btn
                    elevation="0"
                    width="60"
                    height="28"
                    color="#5E7892"
                    text-color="#fff"
                    class="text-caption ml-2"
                  >
                    추가
                  </v-btn>
                   <v-btn
                    elevation="0"
                    width="60"
                    height="28"
                    color="#5E7892"
                    text-color="#fff"
                    class="text-caption ml-2"
                  >
                    빼기
                  </v-btn>
                   <v-btn
                    elevation="0"
                    width="100"
                    height="28"
                    color="#FC6060"
                    text-color="#fff"
                    class="text-caption ml-2"
                  >
                    포인트 변경
                  </v-btn>
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <div class="d-flex justify-center mt-6 mb-3">
        <v-btn
          width="150"
          height="40"
          elevation="0"
          color="#3C4D60"
          text-color="#fff"
        >
          닫기
        </v-btn>
        <v-btn
          width="150"
          height="40"
          elevation="0"
          color="#2680EB"
          text-color="#fff"
          class="ml-3"
        >
          저장
        </v-btn>
      </div>
    </v-layout>
  </v-card>
  <v-dialog
    v-model="dialog"
  >
    <pop-add
      width="400"
      :title="'포인트 추가'"
      :text="'추가할 고객의 전화번호를 입력해 주세요'"
    ></pop-add>
  </v-dialog>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import PopupTitle from "@/components/PopViewTitle.vue";
import SearchForm from "@/components/SearchForm.vue";
import NumCtrl from "@/components/NumCtrl.vue";
import PopAdd from "./popup/PopAdd.vue";

export default defineComponent({
  name: "PointManagement",
  components: {
    PopupTitle,
    SearchForm,
    PopAdd,
    NumCtrl,
  },
  data: () => ({
    dialog: false,
    items: ["스위트룸","VIP룸","일반룸"],
    items02: ["선택","스위트룸","VIP룸","일반룸"],
  }),
});
</script>
