<template>
  <v-card elevation="0" rounded="0" color="#F2F5F8">
    <popup-title :title="'객실정보 관리'" :pinHide="true"></popup-title>
    <v-layout class="pt-1 py-5 flex-column">
      <v-card-title class="text-body-2 pb-0">
        <strong class="font-weight-bold">객실정보 변경</strong>
      </v-card-title>
      <v-card-text class="py-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="110px" />
            <col width="300px" />
            <col width="90px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>객실타입 선택</th>
              <td>
                <v-radio-group
                  inline
                  hide-details
                  class="radio-box-group d-flex align-center flex-grow-0"
                >
                  <v-radio
                    density="compact"
                    label="VIP룸"
                    value="VIP룸"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="스위트룸"
                    value="스위트룸"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="일반실"
                    value="일반실"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                  <v-radio
                    density="compact"
                    label="없음"
                    value="없음"
                    color="#FC6060"
                    class="radio-box"
                  ></v-radio>
                </v-radio-group>
              </td>
              <th>검색</th>
              <td>
                <search-form></search-form>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <div class="table-list02 pa-4 pb-0">
        <div class="d-flex align-center mb-2">
          <v-checkbox
            hide-details
            density="default"
            color="#fc6060"
            label="전체선택"
            class="check-box"
          ></v-checkbox>
          <v-btn
            elevation="0"
            width="80"
            height="28"            
            text-color="#2C2F35"
            border="1"
            @click.stop="dialog = true"
            class="text-caption pa-0 brd-red-accent-2 ml-auto"
          >
            <v-icon icon="mdi mdi-plus font-weight-bold" size="small"></v-icon>객실추가
          </v-btn>
        </div>
        <v-table
          fixed-header
          density="compact"
          height="447"
          class="overflow-y-auto text-center"
        >
          <colgroup>
            <col width="5%" />
            <col width="8%" />
            <col width="6%" span="2" />
            <col width="10%" />
            <col width="6%" span="2" />
            <col width="8%" span="6" contenteditable=""/>
            <col width="5%" />
          </colgroup>
          <thead>
            <tr>
              <th>선택</th>
              <th>객실이름</th>
              <th>GID</th>
              <th>LID</th>
              <th>객실타입</th>
              <th>층수</th>
              <th>방수</th>
              <th>바코드</th>
              <th>도어락 ID</th>
              <th>예약가능</th>
              <th>무인 숙박판매</th>
              <th>무인 대실판매</th>
              <th>무인 예약판매</th>
              <th>삭제</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label=""
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>201호</td>
              <td>1</td>
              <td>1</td>
              <td>스위트룸</td>
              <td>2층</td>
              <td>1</td>
              <td>1</td>
              <td>D0EFF01</td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="가능"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-btn
                  elevation="0"
                  min-width="40"
                  class="pa-0"
                  style="background: transparent;"
                >
                  <v-icon icon="mdi mdi-trash-can-outline" color="#969FA8"></v-icon>
                </v-btn>
              </td>
            </tr>
            <tr>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label=""
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  density="compact"
                  color="#3C4D60"
                  bg-color="#fff"
                  variant="outlined"
                  class="input-box text-center"
                ></v-text-field>
              </td>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  density="compact"
                  color="#3C4D60"
                  bg-color="#fff"
                  variant="outlined"
                  class="input-box text-center"
                ></v-text-field>
              </td>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  density="compact"
                  color="#3C4D60"
                  bg-color="#fff"
                  variant="outlined"
                  class="input-box text-center"
                ></v-text-field>
              </td>
              <td>
                <v-select
                  :items="items"
                  density="compact"
                  hide-details
                  single-line
                  class="select-box"
                ></v-select>
              </td>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  density="compact"
                  color="#3C4D60"
                  bg-color="#fff"
                  variant="outlined"
                  class="input-box text-center"
                ></v-text-field>
              </td>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  density="compact"
                  color="#3C4D60"
                  bg-color="#fff"
                  variant="outlined"
                  class="input-box text-center"
                ></v-text-field>
              </td>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  density="compact"
                  color="#3C4D60"
                  bg-color="#fff"
                  variant="outlined"
                  class="input-box text-center"
                ></v-text-field>
              </td>
              <td>
                <v-text-field
                  single-line
                  hide-details
                  density="compact"
                  color="#3C4D60"
                  bg-color="#fff"
                  placeholder="도어락 ID 입력"
                  variant="outlined"
                  class="input-box text-center"
                ></v-text-field>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="불가"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="중지"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="중지"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="중지"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-btn
                  elevation="0"
                  min-width="40"
                  class="pa-0"
                  style="background: transparent;"
                >
                  <v-icon icon="mdi mdi-trash-can-outline" color="#304153"></v-icon>
                </v-btn>
              </td>
            </tr>
            <tr>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label=""
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>201호</td>
              <td>1</td>
              <td>1</td>
              <td>스위트룸</td>
              <td>2층</td>
              <td>1</td>
              <td>1</td>
              <td>D0EFF01</td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="가능"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-btn
                  elevation="0"
                  min-width="40"
                  class="pa-0"
                  style="background: transparent;"
                >
                  <v-icon icon="mdi mdi-trash-can-outline" color="#969FA8"></v-icon>
                </v-btn>
              </td>
            </tr>
            <tr>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label=""
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>201호</td>
              <td>1</td>
              <td>1</td>
              <td>스위트룸</td>
              <td>2층</td>
              <td>1</td>
              <td>1</td>
              <td>D0EFF01</td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="가능"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-btn
                  elevation="0"
                  min-width="40"
                  class="pa-0"
                  style="background: transparent;"
                >
                  <v-icon icon="mdi mdi-trash-can-outline" color="#969FA8"></v-icon>
                </v-btn>
              </td>
            </tr>
            <tr>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label=""
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>201호</td>
              <td>1</td>
              <td>1</td>
              <td>스위트룸</td>
              <td>2층</td>
              <td>1</td>
              <td>1</td>
              <td>D0EFF01</td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="가능"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-btn
                  elevation="0"
                  min-width="40"
                  class="pa-0"
                  style="background: transparent;"
                >
                  <v-icon icon="mdi mdi-trash-can-outline" color="#969FA8"></v-icon>
                </v-btn>
              </td>
            </tr>
            <tr>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label=""
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>201호</td>
              <td>1</td>
              <td>1</td>
              <td>스위트룸</td>
              <td>2층</td>
              <td>1</td>
              <td>1</td>
              <td>D0EFF01</td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="가능"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-btn
                  elevation="0"
                  min-width="40"
                  class="pa-0"
                  style="background: transparent;"
                >
                  <v-icon icon="mdi mdi-trash-can-outline" color="#969FA8"></v-icon>
                </v-btn>
              </td>
            </tr>
            <tr>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label=""
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>201호</td>
              <td>1</td>
              <td>1</td>
              <td>스위트룸</td>
              <td>2층</td>
              <td>1</td>
              <td>1</td>
              <td>D0EFF01</td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="가능"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-btn
                  elevation="0"
                  min-width="40"
                  class="pa-0"
                  style="background: transparent;"
                >
                  <v-icon icon="mdi mdi-trash-can-outline" color="#969FA8"></v-icon>
                </v-btn>
              </td>
            </tr>
            <tr>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label=""
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>201호</td>
              <td>1</td>
              <td>1</td>
              <td>스위트룸</td>
              <td>2층</td>
              <td>1</td>
              <td>1</td>
              <td>D0EFF01</td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="가능"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-btn
                  elevation="0"
                  min-width="40"
                  class="pa-0"
                  style="background: transparent;"
                >
                  <v-icon icon="mdi mdi-trash-can-outline" color="#969FA8"></v-icon>
                </v-btn>
              </td>
            </tr>
            <tr>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label=""
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>201호</td>
              <td>1</td>
              <td>1</td>
              <td>스위트룸</td>
              <td>2층</td>
              <td>1</td>
              <td>1</td>
              <td>D0EFF01</td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="가능"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-btn
                  elevation="0"
                  min-width="40"
                  class="pa-0"
                  style="background: transparent;"
                >
                  <v-icon icon="mdi mdi-trash-can-outline" color="#969FA8"></v-icon>
                </v-btn>
              </td>
            </tr>
            <tr>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label=""
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>201호</td>
              <td>1</td>
              <td>1</td>
              <td>스위트룸</td>
              <td>2층</td>
              <td>1</td>
              <td>1</td>
              <td>D0EFF01</td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="가능"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-btn
                  elevation="0"
                  min-width="40"
                  class="pa-0"
                  style="background: transparent;"
                >
                  <v-icon icon="mdi mdi-trash-can-outline" color="#969FA8"></v-icon>
                </v-btn>
              </td>
            </tr>
            <tr>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label=""
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>201호</td>
              <td>1</td>
              <td>1</td>
              <td>스위트룸</td>
              <td>2층</td>
              <td>1</td>
              <td>1</td>
              <td>D0EFF01</td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="가능"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-btn
                  elevation="0"
                  min-width="40"
                  class="pa-0"
                  style="background: transparent;"
                >
                  <v-icon icon="mdi mdi-trash-can-outline" color="#969FA8"></v-icon>
                </v-btn>
              </td>
            </tr>
            <tr>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label=""
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>201호</td>
              <td>1</td>
              <td>1</td>
              <td>스위트룸</td>
              <td>2층</td>
              <td>1</td>
              <td>1</td>
              <td>D0EFF01</td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="가능"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-btn
                  elevation="0"
                  min-width="40"
                  class="pa-0"
                  style="background: transparent;"
                >
                  <v-icon icon="mdi mdi-trash-can-outline" color="#969FA8"></v-icon>
                </v-btn>
              </td>
            </tr>
            <tr>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label=""
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>201호</td>
              <td>1</td>
              <td>1</td>
              <td>스위트룸</td>
              <td>2층</td>
              <td>1</td>
              <td>1</td>
              <td>D0EFF01</td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="가능"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-checkbox
                  hide-details
                  density="default"
                  color="#fc6060"
                  label="허용"
                  class="check-box justify-center"
                ></v-checkbox>
              </td>
              <td>
                <v-btn
                  elevation="0"
                  min-width="40"
                  class="pa-0"
                  style="background: transparent;"
                >
                  <v-icon icon="mdi mdi-trash-can-outline" color="#969FA8"></v-icon>
                </v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </div>
      <v-card-text class="pt-4 pb-0">
        <v-table density="comfortable" class="table-view">
          <colgroup>
            <col width="110px" />
            <col width="auto" />
            <col width="130px" />
            <col width="auto" />
            <col width="110px" />
            <col width="auto" />
          </colgroup>
          <tbody>
            <tr>
              <th>선택한 객실을</th>
              <td>
                <div class="d-flex align-center">
                  <v-select
                    :items="items02"
                    density="compact"
                    hide-details
                    single-line
                    class="select-box bg-gray"
                  ></v-select>
                  <span class="ml-1">타입으로 변경</span>
                </div>
              </td>
              <th>선택한 객실 GDI를</th>
              <td>
                <div class="d-flex align-center">
                  <v-text-field
                    single-line
                    hide-details
                    density="compact"
                    color="#3C4D60"
                    bg-color="#F9F9F9"
                    variant="outlined"
                    class="input-box"
                  ></v-text-field>
                  <span class="ml-1">으로</span>
                  <v-btn
                    elevation="0"
                    width="60"
                    height="28"
                    color="#3C4D60"
                    text-color="#fff"
                    class="text-caption ml-2"
                  >
                    변경
                  </v-btn>
                </div>
              </td>
              <th>선택한 객실을</th>
              <td>
                <div class="d-flex align-center">
                  <v-select
                    :items="items02"
                    density="compact"
                    hide-details
                    single-line
                    class="select-box bg-gray"
                  ></v-select>
                  <v-btn
                    elevation="0"
                    width="60"
                    height="28"
                    color="#3C4D60"
                    text-color="#fff"
                    class="text-caption ml-2"
                  >
                    적용
                  </v-btn>
                </div>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-card-text>
      <div class="d-flex justify-center mt-6 mb-3">
        <v-btn
          width="150"
          height="40"
          elevation="0"
          color="#3C4D60"
          text-color="#fff"
        >
          닫기
        </v-btn>
        <v-btn
          width="150"
          height="40"
          elevation="0"
          color="#2680EB"
          text-color="#fff"
          class="ml-3"
        >
          저장
        </v-btn>
      </div>
    </v-layout>
  </v-card>
  <v-dialog
    v-model="dialog"
  >
    <pop-add
      width="400"
      :title="'객실추가'"
      :text="'추가할 객실명을 입력하세요'"
    ></pop-add>
  </v-dialog>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import PopupTitle from "@/components/PopViewTitle.vue";
import SearchForm from "@/components/SearchForm.vue";
import PopAdd from "./popup/PopAdd.vue";

export default defineComponent({
  name: "RoomInfo",
  components: {
    PopupTitle,
    SearchForm,
    PopAdd,
  },
  data: () => ({
    dialog: false,
    items: ["스위트룸","VIP룸","일반룸"],
    items02: ["선택","스위트룸","VIP룸","일반룸"],
  }),
});
</script>
