<template>
  <!-- popup -->
  <Popup :popup="popup">
    <!-- slot -->
    <template v-slot:body>
      <!-- popup-contents -->
      <div class="popup-contents">
        <!-- field-set -->
        <fieldset class="field-set">
          <h3 class="title-sub mb-4">객실정보 변경</h3>
          <v-table>
            <colgroup>
              <col style="width: 110px" />
              <col style="width: 250px" />
              <col style="width: 110px" />
              <col style="width: 250px" />
              <col style="width: 110px" />
              <col />
            </colgroup>
            <tbody>
              <tr>
                <th class="text-center">객실타입 선택</th>
                <td>
                  <v-select color="success" density="compact" hide-details
                    v-model="filter.roomTypeId" 
                    :items="typeList"
                    item-value="value"
                    item-title="name"
                  ></v-select>
                </td>
                <th class="text-center">층 선택</th>
                <td>
                  <v-select color="success" density="compact" hide-details
                    v-model="filter.floor"
                    :items="floorList"
                    item-value="value"
                    item-title="name"
                  ></v-select>
                </td>
                <th class="text-center">객실명 검색</th>
                <td>
                  <div class="d-flex justify-space-between">
                    <div class="input-search" style="width: 200px;">
                      <input v-model="filter.roomName" ref="refText" type="text" placeholder="객실명" maxlength="10" style="width: 200px;" />
                      <v-btn density="compact" size="small" icon="mdi-close-circle-outline" @click="filter.roomName = null; refText.focus();"></v-btn>
                    </div>
                    <v-btn size="small" color="grey" @click="clear()">초기화</v-btn>
                  </div>
                </td>
              </tr>
            </tbody>
          </v-table>
        </fieldset>
        <!-- //field-set -->
        <div class="d-flex align-center mt-3">
          <v-checkbox hide-details density="compact" color="secondary" label="전체선택" class="flex-grow-0 mr-4" style="font-size: 13px;"
            v-model="view.isCheckAll"
            @update:model-value="doCheckAll()"
          ></v-checkbox>
          <div class="d-flex" style="width: 130px;">
            <span class="mr-2" style="font-size: 12px;">표시/전체:</span>
            <span class="fs13 color-primary">{{ filterRooms.length }}</span>
            <span class="fs13 mx-1">/</span>
            <span class="fs13" >{{ rooms.length }}</span>
          </div>
          <v-btn color="white" class="custom-btn-icon-white ml-auto" prepend-icon="mdi-plus-thick" size="small" style="min-width: 80px" @click="doOpenAddNew()">
            <template v-slot:prepend>
              <v-icon size="small" color="pa-0 ma-0"></v-icon>
            </template>
            객실추가
          </v-btn>
        </div>
        <!-- table -->
        <v-table fixed-header height="455" class="overflow-y-auto text-center dense-dark">
          <colgroup>
            <col />
            <col />
          </colgroup>
          <thead>
            <tr>
              <th class="td-px" style="width: 30px;">선택</th>
              <th class="td-px" style="width: 45px;">No</th>
              <th class="td-px" style="width: 130px;">객실이름</th>
              <th class="td-px" style="width: 85px;">GID</th>
              <th class="td-px" style="width: 85px;">LID</th>
              <th class="td-px" style="width: 100px;">객실타입</th>
              <th class="td-px" style="width: 70px;">층수</th>
              <th class="td-px" style="width: 60px;">방수</th>
              <th class="td-px" style="width: 80px;">바코드</th>
              <th class="td-px" style="width: 90px;">도어락 ID</th>
              <th class="td-px" style="width: 80px;">예약가능</th>
              <th class="td-px" style="width: 80px;">무인 숙박판매</th>
              <th class="td-px" style="width: 80px;">무인 대실판매</th>
              <th class="td-px" style="width: 80px;">무인 예약판매</th>
              <th class="td-px" style="width: 40px;">삭제</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item, index in rowDatas"
              :class="{ active: item.isChecked === false && view.rowId === item.id }"
              @click="doClickRow(item)"
            >
              <td style="padding: 0 2px !important;">
                <div class="d-flex align-center justify-space-around" style="width: 30px;">
                  <v-btn size="small" density="compact" class="custom-btn-icon" min-width="20px" style="padding: 2px;"
                    @click="item.isChecked = !item.isChecked"
                  >
                    <v-icon :color="item.isChecked ? 'secondary' : 'grey'"
                      :icon="item.isChecked ? 'mdi-checkbox-marked-outline' : 'mdi-checkbox-blank-outline'"
                    ></v-icon>
                  </v-btn>
                </div>
              </td>

              <template v-if="item.isChecked">
                <td style="padding: 0px !important;">{{ index + 1 }}</td>
                <td class="td-px"><input type="text" class="input tc" maxlength="20" style="width: 120px;" v-model="item.room.name" @keydown="viewUtil.kbNoSpace($event)" /></td>
                <td class="td-px"><input type="text" class="input tc" maxlength="5" style="width: 75px;" v-model="item.room.gid" @keydown="viewUtil.kbDigit($event)" /></td>
                <td class="td-px"><input type="text" class="input tc" maxlength="5" style="width: 75px;" v-model="item.room.lid" @keydown="viewUtil.kbDigit($event)" /></td>
                <td class="td-px">{{ item.room.type_name }}</td>
                <td class="td-px">{{ item.room.floor }}층</td>
                <td class="td-px"><input type="text" class="input tc" maxlength="2" style="width: 50px;" v-model="item.room.count" @keydown="viewUtil.kbDigit($event)" /></td>
                <td class="td-px"><input type="text" class="input tc" maxlength="10" style="width: 70px;" v-model="item.room.card_barcode" @keydown="viewUtil.kbDigit($event)" /></td>
                <td class="td-px"><input type="text" class="input tc" maxlength="45" style="width: 80px;" v-model="item.room.doorlock_id" @keydown="viewUtil.kbNoSpace($event)" /></td>
                <td class="td-px"><OnOff v-model="item.room.reserv_yn"  :editable="true" :true-value="1" :false-value="0"></OnOff></td>
                <td class="td-px"><OnOff v-model="item.room.isc_sale_1" :editable="true" :true-value="0" :false-value="1" true-title="허용" false-title="중지"></OnOff></td>
                <td class="td-px"><OnOff v-model="item.room.isc_sale_2" :editable="true" :true-value="0" :false-value="1" true-title="허용" false-title="중지"></OnOff></td>
                <td class="td-px"><OnOff v-model="item.room.isc_sale_3" :editable="true" :true-value="0" :false-value="1" true-title="허용" false-title="중지"></OnOff></td>
                <td><v-btn density="compact" size="small" icon="mdi-trash-can-outline" :disabled="true"></v-btn></td>
              </template>
              <template v-else>
                <td style="padding: 0px !important;">{{ index + 1 }}</td>
                <td class="td-px">{{ item.room.name }}</td>
                <td class="td-px">{{ item.room.gid }}</td>
                <td class="td-px">{{ item.room.lid }}</td>
                <td class="td-px">{{ item.room.type_name }}</td>
                <td class="td-px">{{ item.room.floor }}층</td>
                <td class="td-px">{{ item.room.count }}</td>
                <td class="td-px">{{ item.room.card_barcode }}</td>
                <td class="td-px">{{ item.room.doorlock_id }}</td>
                <td class="td-px"><OnOff v-model="item.room.reserv_yn"  :true-value="1" :false-value="0"></OnOff></td>
                <td class="td-px"><OnOff v-model="item.room.isc_sale_1" :true-value="0" :false-value="1" true-title="허용" false-title="중지"></OnOff></td>
                <td class="td-px"><OnOff v-model="item.room.isc_sale_2" :true-value="0" :false-value="1" true-title="허용" false-title="중지"></OnOff></td>
                <td class="td-px"><OnOff v-model="item.room.isc_sale_3" :true-value="0" :false-value="1" true-title="허용" false-title="중지"></OnOff></td>
                <td><v-btn density="compact" size="small" icon="mdi-trash-can-outline" :disabled="view.rowId !== item.id" @click="doDelItem(item, $event)"></v-btn></td>
              </template>
            </tr>
          </tbody>
        </v-table>
        <!-- //table -->

        <!-- field-set -->
        <fieldset class="field-set mt-3">
          <v-table>
            <!-- <colgroup>
              <col style="width: 110px" />
              <col style="width: *"/>
              <col style="width: 130px" />
              <col style="width: 220px" />
              <col style="width: 130px" />
              <col style="width: 220px" />
              <col style="width: 110px" />
              <col style="width: 220px" />
            </colgroup> -->
            <tbody>
              <tr>
                <th class="text-center">선택한 객실을</th>
                <td>
                  <div class="d-flex align-center" style="gap: 10px;">
                    <v-select hide-details density="compact" variant="outlined" color="success" style="width: 120px;"
                      v-model="view.toTypeId"
                      :items="roomTypes"
                      item-value="id"
                      item-title="name"
                      value="객실타입 변경"
                    ></v-select>
                    <v-select hide-details density="compact" variant="outlined" color="success" style="width: 100px;"
                      v-model="view.toFloor"
                      :items="floors"
                      item-value="no"
                      item-title="name"
                      value="층 변경"
                    ></v-select>
                    <v-btn color="grey" size="small" style="min-width: 60px" @click="doChangeChecks(RoomChangeType.TYPE_FLOOR)">변경</v-btn>
                  </div>
                </td>

                <th class="text-center">선택한 객실 GID를</th>
                <td>
                  <input type="text" class="input" style="width: 100px;" maxlength="5"
                    v-model="view.toGID"
                    @keydown="viewUtil.kbDigit($event)"
                  />
                  <span class="ml-2">으로</span>
                  <v-btn color="grey" class="ml-2" size="small" style="min-width: 60px" @click="doChangeChecks(RoomChangeType.GID)">변경</v-btn>
                </td>

                <th class="text-center">선택한 객실을</th>
                <td>
                  <div class="d-flex align-center">
                    <v-select hide-details density="compact" variant="outlined" color="success"
                      v-model="view.ectAct"
                      :items="etcActList"
                      item-value="value"
                      item-title="name"
                    ></v-select>
                    <v-btn color="grey" class="ml-2" size="small" style="min-width: 60px" @click="doEtc()">적용</v-btn>
                  </div>
                </td>
              </tr>
            </tbody>
          </v-table>
        </fieldset>
        <!-- //field-set -->
      </div>
      <!-- //popup-contents -->
    </template>
    <!-- //slot -->

    <template v-slot:footer>
      <div class="btns">
        <v-btn color="darkgrey" size="large" style="min-width: 150px" @click="doClosePopup()">닫기</v-btn>
        <v-btn color="primary" size="large" style="min-width: 150px" @click="doSetItem()">저장</v-btn>
      </div>
    </template>
  </Popup>
  <!-- //popup -->

  <!-- popup -->
  <v-dialog v-model="dialog" width="auto">
    <!-- popup -->
    <Popup :popup="popupAlert">
      <!-- slot -->
      <template v-slot:body>
        <!-- popup-contents -->
        <div class="popup-contents">
          <div class="box-border d-flex flex-column align-center justify-center px-8" style="height: 140px;">
            <div class="mb-5">
              <v-icon color="secondary" class="mr-2">mdi-alert-circle</v-icon>
              <span>추가할 객실이름을 입력하세요</span>
            </div>

            <div class="d-flex input-search" style="height: 40px; border-radius: 5px;">
              <input type="text" maxlength="10" placeholder="객실이름" style="width: 200px;"
                v-model="view.addRoomName" 
                ref="refAddRoomName"
                @keydown="view.addRoomMsg = null"
                @keyup.enter="doAddItem()"
              />
              <v-btn density="compact" size="small" icon="mdi-close-circle-outline"
                @click="view.addRoomMsg = null; view.addRoomName = null; refAddRoomName.focus();"
              ></v-btn>
            </div>

            <div class="mt-2 fs13 color-secondary" style="height: 1em;">
              {{ view.addRoomMsg }}
            </div>
          </div>
        </div>
        <!-- //popup-contents -->
      </template>
      <!-- //slot -->
      <!-- slot -->
      <template v-slot:footer>
        <div class="btns">
          <v-btn color="primary" size="large" style="min-width: 150px">추가</v-btn>
          <v-btn color="darkgrey" size="large" style="min-width: 150px" @click="dialog = !dialog">취소</v-btn>
        </div>
      </template>
      <!-- //slot -->
    </Popup>
    <!-- //popup -->
    
  </v-dialog>
  <!-- //popup -->
</template>

<style lang="scss" scoped>
.td-px {
  padding-left: 1px !important;
  padding-right: 1px !important;
}
</style>

<script setup lang="ts">
import Popup from '@/components/popup/popup.vue';
import OnOff from '@/components/compo/OnOff.vue';
import dayjs from 'dayjs';

import { ref, reactive, computed, watch, onMounted } from 'vue'
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
import { Room, PopupParam, RoomType, Floor, NumberValue } from '@/types';
import { roomBiz, RoomOpt, RoomChangeType } from '@/biz/roomBiz';
import { roomTypeBiz } from '@/biz/roomTypeBiz';
import { viewUtil } from '@/utils/view-util';
import { RoomViewItemClass } from '@/biz/roomViewItemBiz';


// =========================================================
// 타입
// =========================================================
interface ViewState {
  isCheckAll: boolean;
  rowId: number;
  addRoomName: string;
  addRoomMsg: string;
  toTypeId: number;
  toFloor: number;
  toGID: string;
  ectAct: number;
}

interface FilterState {
  roomTypeId: number;
  floor: number;
  roomName: string;
}

interface RowData {
  id: number;
  isChecked: boolean;
  room: Room;
}


// =========================================================
// 선언
// =========================================================
const store = useStore();
const route = useRoute();

const user = store.getters['user'];
const popupLink = route.path.substring(1); // 앞에 '/'' 제거

const view: ViewState = reactive({
  isCheckAll: false,
  rowId: null,
  addRoomName: null,
  addRoomMsg: null,
  toTypeId: null,
  toFloor: null,
  toGID: null,
  ectAct: null,
});

const filter: FilterState = reactive({
  roomTypeId: null,
  floor: null,
  roomName: null,
});

const dialog = ref(false);

const refText = ref(null);

const refAddRoomName = ref(null);

const typeList = ref<NumberValue[]>([
  { name: '전체', value: null },
]);

const floorList = ref<NumberValue[]>([
  { name: '전체', value: null },
]);

const etcActList = ref<NumberValue[]>([
  { name: '선택', value: null },
  { name: '복제', value: 1 },
  { name: '삭제', value: 2 },
]);


// =========================================================
// 초기 조회
// =========================================================
const init = async () => {
  await roomTypeBiz.roomTypes(store, user.place_id, (_list: RoomType[]) => {
    if (_list) {
      _list.forEach((item: RoomType) => {
        typeList.value.push({ name: item.name, value: item.id });
      });
    }
  });

  await roomBiz.roomFloors(store, user.place_id, (_list: Floor[]) => {
    if (_list) {
      _list.forEach((item: Floor) => {
        floorList.value.push({ name: item.name, value: item.no });
      });
    }
  });

  await roomBiz.roomsByPlaceId(store, user.place_id);
};


// =========================================================
// COMPUTED
// =========================================================
const roomTypes = computed<RoomType[]>(() => roomTypeBiz.getterRoomTypes(store));

const floors = computed<Floor[]>(() => roomBiz.getterFloors(store));

const rooms = computed<Room[]>(() => roomBiz.getterRooms(store));

const filterRooms = computed<Room[]>(() => {
  if (filter.roomTypeId === null && filter.floor === null && filter.roomName === null) return rooms.value;

  return rooms.value?.filter((item: Room) => {
    if (filter.roomTypeId !== null && item.room_type_id !== filter.roomTypeId) return false;
    if (filter.floor !== null && item.floor !== filter.floor) return false;
    if (filter.roomName !== null && item.name.indexOf(filter.roomName) === -1) return false;
    return true;
  });
});

const rowDatas = computed<RowData[]>(() => {
  return filterRooms.value?.map((item: Room) => {
    return reactive({
      id: item.id,
      isChecked: false,
      room: roomBiz.copyFrom(item),
    }) as RowData;
  });
});

const hasMasterLevel = computed<boolean>(() => user.level <= 2);


// =========================================================
// WATCH
// =========================================================
// 필터 변경되면 전체선택은 해제.
watch(() => [filter.roomTypeId, filter.floor, filter.roomName], () => {
  view.isCheckAll = false;
});


// =========================================================
// 기능
// =========================================================
const setData = (item: Room) => {
  view.isCheckAll = false;

  // dataState.id = item.id;
  // dataState.place_id = item.place_id,
};

const emptyData = () => {
  // dataState.id = null;
  // dataState.place_id = user.place_id;
};

// 상태 값 초기화.
const clearState = () => {
  view.isCheckAll = false;
  view.rowId = null;
  view.addRoomName = null;
  view.addRoomMsg = null;
  view.toTypeId = null;
  view.toFloor = null;
  view.toGID = null;
  view.ectAct = null;
  doCheckAll();
}

// 필터 포함 전체 초기화.
const clear = () => {
  clearState();
  filter.roomTypeId = null;
  filter.floor = null;
  filter.roomName = null;
};


// =========================================================
// 사용자 액션
// =========================================================
// 팝업 닫기.
const doClosePopup = () => {
  if (window.opener) window.opener.closePopup(popup.link);
  else window.close();
};

// 휴대전화 번호 추가 다이얼로그 오픈.
const doOpenAddNew = () => {
  clearState();
  dialog.value = true;
  setTimeout(() => {
    refAddRoomName.value.focus();
  }, 100);
};

// 전체 선택/해제.
const doCheckAll = () => {
  rowDatas.value?.forEach((item: RowData) => {
    item.isChecked = view.isCheckAll;
  });
};

// 행 선택.
const doClickRow = (item: RowData) => {
  if (item.isChecked) {
    view.rowId = null;
    return;
  }

  if (view.rowId === item.id) {
    view.rowId = null;
  } else {
    view.rowId = item.id;
  }
};

// 선택된 항목 변경.
const doChangeChecks = (changeType: RoomChangeType) => {
  const title = '객실타입, 층 변경';

  const items = rowDatas.value?.filter((item: RowData) => item.isChecked).map((item: RowData) => item.room);
  if (items.length === 0) {
    viewUtil.swalAlert('info', title, '객실을 선택하지 않았습니다.');
    view.ectAct = null; // reset.
    return;
  }

  const sendDatas: RoomOpt[] = [];

  let toValue: string = null;

  // 객실타입, 층 변경 -------------------------------------------
  if (changeType === RoomChangeType.TYPE_FLOOR) {
    if (view.toTypeId === null && view.toFloor === null) {
      viewUtil.swalAlert('info', title, '변경할 객실타입 또는 층수를 선택해 주세요.');
      return;
    }

    // changeType 세부 설정.
    if (view.toTypeId !== null && view.toFloor !== null) changeType = RoomChangeType.TYPE_FLOOR;
    else if (view.toTypeId !== null) changeType = RoomChangeType.TYPE;
    else if (view.toFloor !== null) changeType = RoomChangeType.FLOOR;

    if (view.toTypeId !== null) { // 객실타입 이름.
      toValue = roomTypes.value.find((item: RoomType) => item.id === view.toTypeId).name;
    }

    items.forEach((item: Room) => {
      if (view.toTypeId !== null) item.room_type_id = view.toTypeId;
      if (view.toFloor !== null) item.floor = view.toFloor;

      sendDatas.push({
        id: item.id,
        place_id: item.place_id,
        name: item.name,
        room_type_id: item.room_type_id,
        floor: item.floor,
      });
    });
  }
  // GID 변경 -------------------------------------------
  else if (changeType === RoomChangeType.GID) {
    if (view.toGID === null) {
      viewUtil.swalAlert('info', title, '변경할 GID를 입력해 주세요.');
      return;
    }

    toValue = view.toGID;
    const gid = Number(view.toGID);
    items.forEach((item: Room) => {
      item.gid = gid;

      sendDatas.push({
        id: item.id,
        place_id: item.place_id,
        name: item.name,
        gid: item.gid,
      });
    });
  }

  roomBiz.setRooms(store, sendDatas, changeType, toValue, (_success: boolean) => {
    if (_success) {
      view.toTypeId = null;
      view.toFloor = null;
      view.toGID = null;
    }
  });
};

// 기타 액션.
const doEtc = () => {
  // 복제 -------------------------------------------------
  if (view.ectAct === 1) {
    const title = '객실 복제';
    const items = rowDatas.value?.filter((item: RowData) => item.isChecked).map((item: RowData) => item.room);
    if (items.length === 0) {
      viewUtil.swalAlert('info', title, '복제할 객실이 선택되지 않았습니다.');
      view.ectAct = null; // reset.
      return;
    }

    const newItems: Room[] = [];
    items.forEach((item: Room) => {
      const newItem = roomBiz.copyFrom(item);
      newItem.id = 0;
      newItem.name = `${item.name}_복제`;
      newItems.push(newItem);
    });

    roomBiz.newRooms(store, newItems, true, (_success: boolean) => {
      if (_success) {
        // clear(); // 뒷정리.
      }
    });
  }
  // 삭제 -------------------------------------------------
  else if (view.ectAct === 2) {
    
    const title = '객실 삭제';
    const items = rowDatas.value?.filter((item: RowData) => item.isChecked).map((item: RowData) => item.room);
    if (items.length === 0) {
      viewUtil.swalAlert('info', title, '삭제할 객실이 선택되지 않았습니다.');
      view.ectAct = null; // reset.
      return;
    }

    roomBiz.delRooms(store, items, (_success: boolean) => {
      if (_success) { // 뒷정리.
        clearState();
      }
    });
  }

  view.ectAct = null; // reset.
}

// 휴대전화 번호 추가.
const doAddItem = () => {
  // console.log(`*** doAddItem - view.addRoomName: ${view.addRoomName}`);
  if (view.addRoomName === null) {
    view.addRoomMsg = '객실이름을 입력해 주세요.';
    return;
  }

  view.addRoomName = view.addRoomName.trim();
  if (view.addRoomName.length < 3) {
    view.addRoomMsg = '객실이름을 3글자 이상 입력해 주세요.';
    return;
  }

  if (rooms.value?.find((item: Room) => item.name === view.addRoomName)) {
    view.addRoomMsg = '이미 등록된 객실이름 입니다.';
    return;
  }

  dialog.value = false;

  const item: Room = {
    id: 0,
    place_id: user.place_id,
    room_type_id: roomTypes.value ? roomTypes.value[0].id : 0,
    name: view.addRoomName,
    count: 1,
    floor: 1,
    gid: null,
    lid: null,
    card_barcode: null,
    reserv_yn: 1,
    doorlock_id: null,
    reg_date: dayjs().format('YYYY-MM-DD HH:mm:ss'),
  };

  roomBiz.newRooms(store, [item], false, (_success: boolean) => {
    if (_success) { // 뒷정리.
      view.addRoomName = null;
      view.addRoomMsg = null;
    }
  });
};

// 객실정보 변경.
const doSetItem = () => {
  const title = '객실정보 변경';

  const items = rowDatas.value?.filter((item: RowData) => item.isChecked).map((item: RowData) => item.room);
  if (items.length === 0) {
    viewUtil.swalAlert('info', title, '객실을 선택하지 않았습니다.');
    view.ectAct = null; // reset.
    return;
  }

  const sendDatas: RoomOpt[] = [];
  let isChanged = false;

  items.forEach((item: Room) => {
    const orgData = rooms.value.find((orgItem: Room) => orgItem.id === item.id);

    // 변경된 데이터만 담기.
    const changeData: RoomOpt = {
      id: item.id,
      place_id: item.place_id,
      name: item.name,
    };
    if (item.gid !== orgData.gid) { changeData.gid = item.gid; isChanged = true; }
    if (item.lid !== orgData.lid) { changeData.lid = item.lid; isChanged = true; }
    if (item.count !== orgData.count) { changeData.count = item.count; isChanged = true; }

    const cardBarcode = viewUtil.numberNull(item.card_barcode);
    if (cardBarcode !== orgData.card_barcode) { changeData.card_barcode = cardBarcode; isChanged = true; }

    const doorlockId = viewUtil.stringNull(item.doorlock_id);
    if (doorlockId !== orgData.doorlock_id) { changeData.doorlock_id = doorlockId; isChanged = true; }

    if (item.reserv_yn !== orgData.reserv_yn) { changeData.reserv_yn = item.reserv_yn; isChanged = true; }
    if (item.isc_sale_1 !== orgData.isc_sale_1) { changeData.isc_sale_1 = item.isc_sale_1; isChanged = true; }
    if (item.isc_sale_2 !== orgData.isc_sale_2) { changeData.isc_sale_2 = item.isc_sale_2; isChanged = true; }
    if (item.isc_sale_3 !== orgData.isc_sale_3) { changeData.isc_sale_3 = item.isc_sale_3; isChanged = true; }

    sendDatas.push(changeData);
  });

  if (!isChanged) {
    viewUtil.swalAlert('info', title, '변경된 정보가 없습니다. 확인 후 다시 시도해 주세요.');
    return;
  }

  roomBiz.setRooms(store, sendDatas, RoomChangeType.DATA, null, (_success: boolean) => {
    if (_success) { // 뒷정리.
      clearState();
    }
  });
};

// 삭제.
const doDelItem = (rowData: RowData, e: Event) => {
  e.stopPropagation();

  const items = [ rowData.room ];
  roomBiz.delRooms(store, items, (_success: boolean) => {
    if (_success) { // 뒷정리.
      clearState();
    }
  });
};


// =========================================================
// 정보 & onMounted
// =========================================================
onMounted(async () => {
  init();
});

const popup: PopupParam = {
  title: "객실정보 관리",
  theme: "theme-popup-dark",
  size: "size-lg",
  align: "mx-auto",
  pin: false,
  link: popupLink,
};

const popupAlert: PopupParam = {
  title: "객실추가",
  theme: "theme-popup-light",
  size: "size-sm",
  align: "ml-3 mr-auto",
  pin: false,
  showClose: false,
};
</script>
