<template>
  <v-card elevation="0" rounded="0" color="#F2F5F8">
    <popup-title :title="'객실타입 관리'" :pinHide="true"></popup-title>
    <v-layout class="pt-1 py-5 flex-column">
      <v-row dense>
        <v-col class="v-col-auto d-flex flex-column" style="width:190px">
          <v-card-title class="text-body-2 pb-0 pr-0">
            <strong class="font-weight-bold">객실선택</strong>
          </v-card-title>
          <v-card-text class="py-0 pr-0 d-flex flex-grow-1">
            <v-card
              elevation="0"
              width="100%"
              rounded="0"
              border="1"
              class="pa-2"

            >
              <div class="d-flex align-center bg-blue-darken-3 rounded">
                <span class="flex-grow-1 text-center text-caption">VIP룸</span>
                <v-btn
                  min-width="30"
                  height="28"
                  elevation="0"
                  rounded="0"
                  color="transparent"
                  class="pa-0"
                  style="border-left:1px solid rgba(255,255,255,.2) !important;"
                >
                  <v-icon icon="mdi mdi-trash-can-outline" size="small"></v-icon>
                </v-btn>
              </div> 
              <div class="d-flex align-center bg-blue-grey-darken-2 rounded mt-2">
                <span class="flex-grow-1 text-center text-caption">스위트룸</span>
                <v-btn
                  min-width="30"
                  height="28"
                  elevation="0"
                  rounded="0"
                  color="transparent"
                  class="pa-0"
                  style="border-left:1px solid rgba(255,255,255,.2) !important;"
                >
                  <v-icon icon="mdi mdi-trash-can-outline" size="small"></v-icon>
                </v-btn>
              </div>
              <div class="d-flex align-center bg-blue-grey-darken-2 rounded mt-2">
                <span class="flex-grow-1 text-center text-caption">일반</span>
                <v-btn
                  min-width="30"
                  height="28"
                  elevation="0"
                  rounded="0"
                  color="transparent"
                  class="pa-0"
                  style="border-left:1px solid rgba(255,255,255,.2) !important;"
                >
                  <v-icon icon="mdi mdi-trash-can-outline" size="small"></v-icon>
                </v-btn>
              </div>
              <div class="d-flex align-center bg-red-accent-2 rounded mt-2">
                <span class="flex-grow-1 text-center text-caption text-white ">객실추가</span>
                <v-btn
                  min-width="30"
                  height="28"
                  elevation="0"
                  rounded="0"
                  color="transparent"
                  class="pa-0 "
                  style="border-left:1px solid rgba(255,255,255,.2) !important;"
                >
                  <v-icon color="#fff" icon="mdi mdi-plus" size="small"></v-icon>
                </v-btn>
              </div>
            </v-card>
          </v-card-text>
        </v-col>
        <v-col>
          <v-card-title class="text-body-2 pb-0 pl-0">
            <strong class="font-weight-bold">객실정보 변경</strong>
          </v-card-title>
          <v-card-text class="py-0 pl-0">
            <v-table density="comfortable" class="table-view">
              <colgroup>
                <col width="110px" />
                <col width="auto" />
                <col width="110px" />
                <col width="auto" />
              </colgroup>
              <tbody>
                <tr>
                  <th>타입명</th>
                  <td>
                    <v-text-field
                      single-line
                      hide-details
                      density="compact"
                      color="#2C2F35"
                      bg-color="#F9F9F9"
                      variant="outlined"
                      class="input-box"
                    ></v-text-field>
                  </td>
                  <th>투숙인원</th>
                  <td>
                    <num-ctrl
                      :preBtn="'mdi-chevron-down'"
                      :nextBtn="'mdi-chevron-up'"
                      :modelValue="'2명'"
                      style="max-width: 100%;"
                    ></num-ctrl>
                  </td>
                </tr>
                <tr>
                  <th>설명</th>
                  <td colspan="3">
                    <v-text-field
                      single-line
                      hide-details
                      density="compact"
                      color="#2C2F35"
                      bg-color="#F9F9F9"
                      variant="outlined"
                      placeholder="객실에 관련된 설명을 입력하세요."
                      class="input-box"
                    ></v-text-field>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
          <v-card-title class="text-body-2 pb-0 pt-4 pl-0">
            <strong class="font-weight-bold">기본정보</strong>
            <span class="ml-auto text-caption text-red-accent-2">* 변경 단위 수정은 환경설정에서 가능합니다.</span>
          </v-card-title>
          <v-card-text class="py-0 pl-0">
            <v-table density="comfortable" class="table-view">
              <colgroup>
                <col width="110px" />
                <col width="auto" />
                <col width="110px" />
                <col width="auto" />
              </colgroup>
              <tbody>
                <tr>
                  <th>숙박</th>
                  <td>
                    <num-ctrl
                      :preBtn="'mdi-minus'"
                      :nextBtn="'mdi-plus'"
                      :modelValue="'15,000원'"
                      style="max-width: 100%;"
                    ></num-ctrl>
                  </td>
                  <th>대실</th>
                  <td>
                    <num-ctrl
                      :preBtn="'mdi-minus'"
                      :nextBtn="'mdi-plus'"
                      :modelValue="'5,000원'"
                      style="max-width: 100%;"
                    ></num-ctrl>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
          <v-card-title class="text-body-2 pb-0 pt-4 pl-0">
            <strong class="font-weight-bold">추가요금</strong>
          </v-card-title>
          <v-card-text class="py-0 pl-0">
            <v-table density="comfortable" class="table-view">
              <colgroup>
                <col width="110px" />
                <col width="auto" />
                <col width="110px" />
                <col width="auto" />
              </colgroup>
              <tbody>
                <tr>
                  <th>카드결제 추가</th>
                  <td>
                    <num-ctrl
                      :preBtn="'mdi-minus'"
                      :nextBtn="'mdi-plus'"
                      :modelValue="'0원'"
                      style="max-width: 100%;"
                    ></num-ctrl>
                  </td>
                  <th>인원추가(인당)</th>
                  <td>
                    <num-ctrl
                      :preBtn="'mdi-minus'"
                      :nextBtn="'mdi-plus'"
                      :modelValue="'0원'"
                      style="max-width: 100%;"
                    ></num-ctrl>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
          <v-card-title class="text-body-2 pb-0 pt-4 pl-0">
            <strong class="font-weight-bold">예약할인</strong>
          </v-card-title>
          <v-card-text class="py-0 pl-0">
            <v-table density="comfortable" class="table-view">
              <colgroup>
                <col width="110px" />
                <col width="auto" />
                <col width="110px" />
                <col width="auto" />
              </colgroup>
              <tbody>
                <tr>
                  <th>숙박</th>
                  <td>
                    <num-ctrl
                      :preBtn="'mdi-minus'"
                      :nextBtn="'mdi-plus'"
                      :modelValue="'0원'"
                      style="max-width: 100%;"
                    ></num-ctrl>
                  </td>
                  <th>대실</th>
                  <td>
                    <num-ctrl
                      :preBtn="'mdi-minus'"
                      :nextBtn="'mdi-plus'"
                      :modelValue="'0원'"
                      style="max-width: 100%;"
                    ></num-ctrl>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
          <v-card-title class="text-body-2 pb-0 pt-4 pl-0">
            <strong class="font-weight-bold">기본정보</strong>
          </v-card-title>
          <v-card-text class="py-0 pl-0">
            <v-table density="comfortable" class="table-view">
              <colgroup>
                <col width="110px" />
                <col width="auto" />
              </colgroup>
              <tbody>
                <tr>
                  <th>OTA 1</th>
                  <td>
                    <v-text-field
                      single-line
                      hide-details
                      density="compact"
                      color="#2C2F35"
                      bg-color="#F9F9F9"
                      variant="outlined"
                      placeholder="타입명 입력"
                      class="input-box"
                    ></v-text-field>
                  </td>
                </tr>
                <tr>
                  <th>OTA 2</th>
                  <td>
                    <v-text-field
                      single-line
                      hide-details
                      density="compact"
                      color="#2C2F35"
                      bg-color="#F9F9F9"
                      variant="outlined"
                      placeholder="타입명 입력"
                      class="input-box"
                    ></v-text-field>
                  </td>
                </tr>
                <tr>
                  <th>OTA 3</th>
                  <td>
                    <v-text-field
                      single-line
                      hide-details
                      density="compact"
                      color="#2C2F35"
                      bg-color="#F9F9F9"
                      variant="outlined"
                      placeholder="타입명 입력"
                      class="input-box"
                    ></v-text-field>
                  </td>
                </tr>
                <tr>
                  <th>OTA 4</th>
                  <td>
                    <v-text-field
                      single-line
                      hide-details
                      density="compact"
                      color="#2C2F35"
                      bg-color="#F9F9F9"
                      variant="outlined"
                      placeholder="타입명 입력"
                      class="input-box"
                    ></v-text-field>
                  </td>
                </tr>
                <tr>
                  <th>OTA 5</th>
                  <td>
                    <v-text-field
                      single-line
                      hide-details
                      density="compact"
                      color="#2C2F35"
                      bg-color="#F9F9F9"
                      variant="outlined"
                      placeholder="타입명 입력"
                      class="input-box"
                    ></v-text-field>
                  </td>
                </tr>
              </tbody>
            </v-table>
          </v-card-text>
        </v-col>
      </v-row>
      <div class="d-flex justify-center mt-6 mb-3">
        <v-btn
          width="150"
          height="40"
          elevation="0"
          color="#3C4D60"
          text-color="#fff"
        >
          닫기
        </v-btn>
        <v-btn
          width="150"
          height="40"
          elevation="0"
          color="#2680EB"
          text-color="#fff"
          class="ml-3"
        >
          저장
        </v-btn>
      </div>
    </v-layout>
  </v-card>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";
import PopupTitle from "@/components/PopViewTitle.vue";
import NumCtrl from "@/components/NumCtrl.vue";

export default defineComponent({
  name: "RoomType",
  components: {
    PopupTitle,
    NumCtrl,
  },
  data: () => ({}),
});
</script>
